---
title: Scrollable
layout: default.hbs
stylesheets_vendor:
- asscrollable/asScrollable.css
javascripts_global:
- components/asscrollable.js
javascripts_example:
- advanced/scrollable.js
stylesheets_example:
- advanced/scrollable.css
---
<!-- Page -->
<div class="page animsition" ng-controller="ScrollableCtrl">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Advanced UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-inverse btn-round" href="https://github.com/amazingSurge/jquery-asScrollable" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-md-6">
            <!-- Example Basic -->
            <div class="example-wrap">
              <h4 class="example-title">Basic</h4>
              <div class="example">
                <div class="height-300" data-plugin="scrollable">
                  <div data-role="container">
                    <div data-role="content">
                      <p>Aspernatur, disserendi tempora initiis tria sitne vituperata consentientis timiditatem plus, idque reprehendunt eveniet curiosi dixerit pararetur recte defendere obruamus excruciant, fames. Maior, disserendi philosophorum, probantur geometriaque vetuit militaris, istis pars porrecta, litteras possit sententia, liquidae conducunt atqui istis cognosci philosophi ignorare tutiorem, statua consumeret idcirco.</p>
                      <p>Explicabo. Mererer declinabunt scribentur compositis vita referuntur dicit, incurrunt efficitur, chorusque quosque iudico mollitia vidisse detracto. Comprehenderit anteponant triarius manilium, sic quoque perpessio, labitur temeritas incorruptis curis duxit sum putet diogenem plura, veniam insatiabiles delectet studiis scientiam manilium, puto imbutus dicat optio ferre ex bonum.</p>
                      <p>Apud manus mortem ostendis, parte facile errata dissensio imbutus amentur acuti efficiat pauca. Aegritudo consumere sabinum eaque magnus libidinem, hosti doctrinis consentinis maximisque apud privamur definitiones quaerenda medeam, poetarum diuturnum legat electram voluerint quapropter dicas, pluribus, amatoriis cognomen deserere ipsos movere vivendo diligenter, eloquentiam concertationesque.</p>
                      <p>Sequimur seditione vita arbitrarer quoddam tranquillat me, sumus suscipit, veri secumque iudicio, omnis efficeretur atque perciperet, interesset, pater miraretur eruditus paene aperta primis etiamsi multa appellantur ei, disciplinis oderit subtilius. Petentium redeamus blanditiis, temperantiamque utilitatibus eisque amicorum fruuntur reliquarum laudatum, asperiores tantalo. Democriti posidonium urbes.</p>
                      <p>Omittam voluptatis inopem, medium fatendum loquerer commodis, sapientes laudem exaudita fugienda expectant diligi t gravitate genus optinere. Liberavisse cn clamat nasci periculum ignavi geometriaque, fodere bono faciam reliquerunt spatio legantur inmortalibus inopem, infimum amicitiae modi servata, finiri voluntates videtis uti. Nacti anteponant amplificarique legendi versuum.</p>
                      <p>Placuit pellat oportet sinat optimi consequi natum, naturalem monstret nominant delectatum homines inane fruentem accedunt. Cognosci regione phaedrum contenta. Putavisset fatendum laetetur inventore malit eventurum ostendis tenetur praesentium admonere. Iusto nullas odia salutatus dicturum videatur patientiamque accusamus, inmensae corporum efficerent, futuris affirmatis expeteremus meis torquato.</p>
                      <p>Utriusque iucunditas misisti. Necessitatibus repellere dediti, efficeret vestra dicturam amoris credo, parentes similique feramus iudicare triarium. Labefactetur videre disciplinae malit, secutus hominibus quanti pararetur optabilem est permanentes, dignissimos epicurei petulantes disciplinam breviter idque magnus oportet dicant studia. Indignius persequeris accusamus, versatur concessum velit pariuntur vivatur.</p>
                      <p>Inveniri partes conscientia earumque rationis intemperantiam causa choro delectant miseram, numeris temeritate capti specie expetendum earum. Pulcherrimum susceperant corpora sapienti insequitur inciderint censet praetermittatur notionem coercendi. Inducitur salutatus inesse clamat probaretur mediocriterne relinqueret antiquitate, expetenda vitium severitatem benivole. Status fugiendis musicis doleamus ignota desperantes eram.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Basic -->
          </div>

          <div class="col-md-6">
            <!-- Example Horizontal -->
            <div class="example-wrap">
              <h4 class="example-title">Horizontal</h4>
              <div class="example">
                <div class="height-300" data-plugin="scrollable" data-direction="horizontal">
                  <div data-role="container">
                    <div data-role="content">
                      <div class="row">
                        <div class="col-md-3">
                          Adiuvet magistra comit venire despicationes oportere libenter, ignaviamque generibusque parta clamat. Firmam solet rerum iactare pacuvii, scribere scientiam efficerent delicata, docti opibus depravate gratiam vituperatoribus caeco responsum quiddam confirmatur, facillime paulo constituam malorum vestrae delectari erat mandaremus necesse, laborum quapropter aliquo omittendis praetermissum illius iam fecerint, iudicante, dolorum dixissem omnem.
                        </div>
                        <div class="col-md-3">
                          Licebit initia aeternum homero rationibus. Impetus acuti quaeritur mutat moribus referta, molestiam alia vituperandae fuisse affecta rutilius lectorem. Facile exorsus canes nostra stare locus, confectum capti argumentum contemnit cyrenaicos offendit incurrunt, provident assumenda studiose possim contineri coercendi ineruditus alii ipsis nominavi, legemus confectum explicatam laudari primo. Cuius. Vos fidem solvantur.
                        </div>
                        <div class="col-md-3">
                          Memoriter conversa occultarum iste hostis legum partes intellegere ornatus, probet istius delectet fama voluntates inscientia fictae manilium labefactant, democritea civitas inviti obligantur illam seiungi gymnasia deorsus inquam quaeque, bonorum neglexerit inesse suaviter. Doloris eiusdem erroribus primorum arbitrarer securi neque fortitudinem, inpendente umbram honoris nimis tractavissent patet conectitur. Hostis cupiditatibus huc.
                        </div>
                        <div class="col-md-3">
                          Migrare ducimus, divitiarum nullo intervenire cernantur discordant iisque magnam aristotele reiciendis, captet magnos damna an dignissimos an senserit dominorum. Consequi fugiendus certa, responsum temporis insitam liberemus ait disciplinam careat o insitam quidque, amorem quamquam politus, contentiones ferri doctissimos habet beatae monstret, cognoscerem optari negarent dissident nominis cur via rationis torquato.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Horizontal -->
          </div>

          <div class="clearfix"></div>

          <div class="col-md-6">
            <!-- Example Direction -->
            <div class="example-wrap">
              <h4 class="example-title">Both Direction</h4>
              <div class="example">
                <div class="height-300" data-plugin="scrollable" data-direction="both">
                  <div data-role="container">
                    <div data-role="content">
                      <img src="{{image 'view-1.jpg' width='1200' height='800'}}" alt="..." />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Direction -->
          </div>

          <div class="col-md-6">
            <!-- Example Shadow -->
            <div class="example-wrap">
              <h4 class="example-title">Shadow</h4>
              <div class="example">
                <div class="height-300" data-skin="scrollable-shadow" data-plugin="scrollable">
                  <div data-role="container">
                    <div data-role="content">
                      <p>Utilitatibus, sapientiamque primum remissius nec videre pueri quas pleniorem, omnis terentii iudicabit nullo dicturam soliditatem cotidie ornateque tollitur sapiens, monet appareat accusantibus terminatas magna placeat platonis, confirmare nullo fingitur liberatione vidit doleamus diuturnum, partem sentiant scaevolam singulis verear. Scilicet circumcisaque, bonis maximam coerceri iudicatum.</p>
                      <p>Totam iucunde. Labore aut debitis efflorescere difficilem, allicit gratia deduceret cui honoris dolor amicorum dicantur, eum dulce gravissimas placebit eisque ludus honesta molestiae leniat. Vivendi singulis error noctesque reperietur praeclare, bono efficitur utroque, litteris, consecutus atqui exedunt, metrodorus statu fortunae perspexit omnis, tractatas iustius.</p>
                      <p>Habet voluptatibus umbram licet cyrenaicisque simplicem diis profecto liberavisse. Sola videri exercitumque, gaudere conclusum minorem importari potiora torquatos, illa animadvertat. Perinde discordiae totum delectu disseruerunt physici eligendi percussit. Disputata aristippus totus, alia putant, dolore facere censet utrumque litterae, scientia aliqua scriptum paulo addidisti locus.</p>
                      <p>Has quisquis quin disseruerunt sentiunt inquit quae. Dolore vicinum maximam gloriae explicavi qua homero afferat, consul aiunt opera ancillae complectitur proprius quaeritur accommodare leniter, ars docui inportuno distrahi gravitate insatiabiles pater patet ferre litterae, adversarium transferrem secutus conformavit sanciret satis sensu multo, perciperet partiendo.</p>
                      <p>Deterritum acutum mutae poenis, volumus novi. Erga dignissimos fortitudo existunt utrumque usque frui beate provocatus perferendis, perpessio voluerint. O, horum amotio, culpa aequitatem rationem iucunditas sapiens mediocrium epicurei. Istius beata necessitatibus praesentibus arbitratu, quaerendum controversia pronuntiaret, praesentium notae solemus ambigua tempore simul cepisse. Armatum.</p>
                      <p>Saluto plato falsis, idem nosmet adiungimus, blanditiis horreat, gaudere perspiciatis statuam fabulas legendam, credo brutus multitudinem migrare his o moderatio infinitio, prompta quas derigatur scripserit parta accedit ego tamquam expectat, efficiatur sinat facta saepti, dissentiunt monstruosi cotidieque vacuitate initia hoc iudicabit vacuitate vis, quietem.</p>
                      <p>Iuberet brevis delectamur virtute haeret divinum gubernatoris doctrina soliditatem is, miser disputata copulationesque concursio effecerit. Commodi platonis aeterno reperietur intus pluribus terrore triarium pulcherrimum quamquam, impetum declinare ea scribere disputationi odia, inesse possent bonae quippe inquam gymnasia parabilis assumenda superstitio uberius, timiditatem loco corrupti.</p>
                      <p>Adiungimus disputata reperiuntur placatae vide ruinae reliquaque epicuri nostri, profecta modi administrari utuntur torquatis, tenebo, cruciantur dubitat servire reliquerunt explicabo coniuncta accusamus vituperari incursione. Philosophis diesque scriptorem exedunt aspernari. Interesse inutile finxerat ingenia, interrogari liber liberiusque regione usque successerit tenuit, dolorum odioque tradere appetere.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Shadow -->
          </div>

          <div class="clearfix"></div>

          <div class="col-md-6">
            <!-- Example Skin -->
            <div class="example-wrap">
              <h4 class="example-title">Inverse Skin</h4>
              <p>It's used in a dark background. </p>
              <div class="example bg-dark">
                <div class="height-300" data-skin="scrollable-inverse" data-plugin="scrollable">
                  <div data-role="container">
                    <div data-role="content">
                      <p>Libenter cursu peccant feci superstitio habendus penitus asperiores, significet gaudere, sedulitatem ornateque. Late, terentii idem utraque fingitur quorum velint m late, eos conquisitis indicaverunt familiari doctissimos satis plerique inermis iucunda contentiones. Securi amicorum meis triario dissidens ut cogitavisse indicaverunt, conclusum pendet corrigere fecerit cursu principes vacuitate praeceptrice, sumus evolutio pater.</p>
                      <p>Veriusque per. Ornatum eloquentiam claris discordiae, labefactetur ipsum postremo, praesenti quaerat appellat terrore ulla vitam ferentur sentire gravitate, maiestatis, diuturnitatem optimi breviter quiddam, delapsa dubitat delapsa, numeris dicturam, expedita, filio urbes mollis concursionibus invidia laus amet adversantur theophrasti, conformavit laboramus animus accedunt, artifex patrius, duce quondam inclusae eventurum ea iniuria.</p>
                      <p>Illae careat, praesens metuque importari leguntur ostendis. Adversa, amicis patria stoici sero patiatur, discordia legerint duo perveniri ignaviamque iucunditas at atomos voluptate vetuit, consule pervenias quisquam ut quid sint ingenii notionem ordiamur laudabilis, animis alia consentientis repellendus appetendum. Hic faciunt urbanitas futuros fodere prorsus cibo inhaererent ex aegritudo, turma iudicari.</p>
                      <p>Detraxisse inopem repellere hominum me theseo faciant, fabulis saepe minuendas chaere veniat tamque perveniri intervalla, democritum per duce otiosum, spe futurove dixi veritus exhorrescere, praesentium modice vendibiliora vindicet, procedat aptissimum tempora eruditi imbutus evolvendis, conspectum. Velim suppetet totum ostendis arbitror doloremque liquidae, accedit per persequeris is iure, everti deinde fieri.</p>
                      <p>Praeclara vacuitate fecerit apte, evertitur accedere legerint habendus, epicuri tempora patriam esset utilitate valetudinis, deorsum, dissentio quaeri acutus, utilitas quibus. Turbent discidia servire gessisse vitae, potiora praeterierunt, adhibuit perpetiuntur exhorrescere quanti hoc tantum traditur derepta, stoici iniuria meliore ad atqui, romanum ipsius reddidisti vocant leguntur sola videatur sanos placebit venire.</p>
                      <p>Confirmavit dolorum quaerendum ficta ex oratione. Stoici negarent supplicii corporisque, genuit hostem benivolentiam habet reliquarum testibus iucunditate, putanda ipsum conspiratione appellantur fit chorusque exquirere pariant notae, probaturum data delectu reperiuntur homines, summum defendit probantur nomini vix, molestiae dicantur didicisse gravissimo utamur, scribere vacillare amaret, eadem, sequimur cupio statu cognitione tot.</p>
                      <p>Cernimus quo angoribus damna instructus, certe ingenii deteriora infanti commodi, deterret temperantiam, nemo, latinis significet, affectus testibus dividendo aliquos declinationem scaevola comparandae provincia umquam verbis, notae solent totum labor eas, adoptionem quisque praetulerit perspiciatis dicemus, convenire muniti damna quaerat permulta putat ullum dicendum, partis hortatore iudicari illas tibique rationem, sedentis.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Contrariis iucunditas intellegaturque. Artes conducunt ornatum scaevola quidque. Cn dixit suo quidque honeste locos mediocrem sin, optinere clamat consedit, victi audiebamus iniucundus alienae oratio erroribus perpessio mors animumque pertineant, fruuntur minime intelleges gymnasia maluisset suapte campum gustare regione, deorsus verterunt legendum legat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Skin -->
          </div>

          <div class="col-md-6">
            <!-- Example Content -->
            <div class="example-wrap">
              <h4 class="example-title">Dynamic Content</h4>
              <p>Display the content with a scrollbar While clicking the “append content” button.</p>
              <button type="button" class="btn btn-outline btn-default" id="btnExampleDynamicAppend">APPEND CONTENT</button>
              <div class="example">
                <div class="height-250" id="exampleDynamic" data-plugin="scrollable">
                  <div data-role="container">
                    <div id="exampleDynamicContent" data-role="content">
                      <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Content -->
          </div>

          <div class="clearfix"></div>

          <div class="col-md-12">
            <!-- Example Operation -->
            <div class="example-wrap" id="exampleApi">
              <h4 class="example-title">Api Operation</h4>
              <div class="row row-lg">
                <div class="col-md-6">
                  <div class="example">
                    <div class="height-300" id="exampleScollableApi" data-plugin="scrollable">
                      <div data-role="container">
                        <div data-role="content">
                          <p>Loco voluptatum tractatas me finibus reque elaborare. Discordiae e provident acri sensum splendido nihilo prosperum virtutem, vera philosophiae, unde vel propter iudicandum ferant, aliquos sententiae nocet simul malo uterque fortunae parabilis. Umbram dicta instituendarum ponit sole qui quippiam, soliditatem tibique deterritum respirare posuit, appetendi, disputatione.</p>
                          <p>Admodum flagitem inermis utrumvis dividendo invenire hoc audiebam mutat, culpa cupiditatibusque nimium habuit dolorem distrahi exercitationem suscipere augendas. Dicemus animum sentio praesens sententiae nihil viros fodere inpotenti probabo, elegans geometriaque locus maledicta, possunt salutatus iustius placuit incursione a, infinitum qualisque individua seiungi essent. Cognitionem, excelsus.</p>
                          <p>Doctrinis ad voce, infantes aptissimum enim ordiamur expedire meis iudicatum. Esset incorruptis accusata iuvaret plusque solum videntur, ulla careat moveat religionis, exedunt liberatione finitas inciderit cupiditates, exhorrescere moderatio repugnantibus vitium continent omnino excelsus, civitas ignem monstret stabilitas frui greges finis. Inopem progrediens compositis utilitate vituperatum.</p>
                          <p>Tamen conetur consilia probarent statua fautrices que dubitemus, depulsa sola desistunt neque obruamus, dedecora convincere iucundum superstitio coniunctione leniter nostros vetuit stultus enim, quibusdam metum epicureum, fames eventurum est humili defensa eligendi, timidiores impensa minus habendus fore tantalo perinde dolemus quanti, dolorum expectata feramus, vituperari.</p>
                          <p>Minime. Incidunt verear summam commemorandis severa libidinosarum commodi disputata vituperandae dividendo, prima verum, fecisse equos audiebam obcaecati impendere isti dicunt interesse, repugnantibus nullus referuntur studuisse disputatum secunda, arbitrarer possumus mandaremus ordiamur, aptius dolere forensibus peccant. Solis, permanentes dicantur fastidium commodis offendimur ante dedocendi sophocles pertinerent.</p>
                          <p>Consul ferre, placeat videntur legam, fortitudo mundi adhaesiones impeditur intellegamus maiorum migrare eruditus reliquerunt, dicturam facerem necessariae reprehenderit temperantia consentaneum amplificarique persequeris. Alienae potiendi affert quoniam migrare futurove exultat l dominos, facta iucundo mediocrem terminatas graviter. Pertinax perferendis c liberatione incorrupte, dedocere etiamsi commenticiam, vendibiliora.</p>
                          <p>Detracta legant. Verborum laborat quapropter tranquillitatem admonere fecisse, eosdem interesse andriam atqui ignaviamque morbi leniat voluptatum videamus falsi, intellegam disputata maximeque feci fama cognitionem emolumento ii epicureum, mortem magistra comparare tranquillat sabinum laborum aliquod, inviti apeirian medeam probo officia essent verissimum numquidnam, vos discordans imitarentur.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Umbram quaedam requirere angatur, timeam quisquis modo liberamur, temporis philosopho pugnantibus maiores graecum cur adipiscuntur dubium doctus verum, nemore, declinationem nisi nosque meminit attingere definitiones. Potius permagna saepe, provincias mundi umbram. Solis ponit. Graecum sensum deserere metrodorus.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="example-buttons">
                    <button class="api-scroll-to btn btn-outline btn-default" data-to="0" type="button">Scroll to 0</button>
                    <button class="api-scroll-to btn btn-outline btn-default" data-to="50" type="button">Scroll to 50</button>
                    <button class="api-scroll-to btn btn-outline btn-default" data-to="0%" type="button">Scroll to 0%</button>
                    <button class="api-scroll-to btn btn-outline btn-default" data-to="100%" type="button">Scroll to 100%</button>
                    <button class="api-scroll-to btn btn-outline btn-default" data-to="50%" type="button">Scroll to 50%</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="10" type="button">Scroll by 10</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="+10" type="button">Scroll by +10</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="-10" type="button">Scroll by -10</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="10%" type="button">Scroll by 10%</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="+10%" type="button">Scroll by +10%</button>
                    <button class="api-scroll-by btn btn-outline btn-default" data-by="-10%" type="button">Scroll by -10%</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Operation -->
          </div>

        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
