/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.bootstrap-select {
  width: 100% !important; }

.datepair-wrap {
  position: relative;
  overflow: hidden; }

.input-daterange-wrap {
  float: left; }

.input-daterange-to {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center; }

@media (max-width: 1360px) {
  .input-daterange-wrap,
  .input-daterange-to {
    display: block;
    float: none; } }
