/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

@media (min-width: 768px) and (max-width: 991px) {
  .form-inline .form-control-label {
    display: block; }
  .form-inline .form-group {
    margin-bottom: 20px;
    vertical-align: baseline; } }
