/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.has-feedback .form-control-feedback {
  right: 15px; }

.summary-errors p {
  color: inherit; }

.summary-errors ul li a {
  color: inherit; }
  .summary-errors ul li a:hover {
    text-decoration: none; }

@media (min-width: 768px) {
  #exampleFullForm .form-horizontal .form-control-label {
    text-align: inherit; } }
