.company-report-page {
	background-color: #fff;
}

.report-header {
    width: 100%;
    position: fixed;
    padding: 5px 0 4px 70px;
    top: 7px;
    z-index: 9999;
}

.report-header h4 {
	float: left;
	display: inline-block;
	padding-right: 2.5%;
	font-weight: lighter;
}
.report-header i {
	padding-right: 10px;
	float: left;
}

input[disabled] {
    background-color: #b7b7b7;
}

.date-filter {
  margin-left: -7% !important;	
}
.report-date-filter input {
	display: inline-block;
	float: left;
	border-radius: 10px;
	width:130px;
	margin:0 15px;
	outline: none;
}

.freelancer.report-table
	.table-photo.co-table-photo {
				float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.report-date-filter,
.report-date-filter h6 {
	display: inline-block;
}
.report-date-filter h6 {
	font-size: 14px;
	padding-left: 10px;
	margin-top: -3px;
}
.report-filter {
	padding-top: 7px;
}
.report-filter i {
	padding-top: 1px;
}
.export-report {
    padding-top: 12px;
    white-space: nowrap;
    padding-left: 31.5%;
	margin-left: 3.3% !important;
}

.main-report-heading {
	font-size: 1.6rem;
}
.report-period {
	font-weight: 200;
	opacity: 0.9;
}
div.report-left {
  padding-left: 4.3%;	
}
.report-info i,
.report-info h6 {
	display: inline-block;
	font-size: 14px;
}
.report-info {
	margin-top: -15px	;
}
.report-info i {
  margin-top: 8px;
  margin-right: 5px;
}
.report-info h6 {
	font-weight: 300;
	opacity: 0.7;
}
.report-range {
	margin-top: -5px;
	font-size: 12px;
	font-weight: 300;
	opacity: 0.7;
}
.updated-at {
	font-weight: 300;
	opacity: 0.7;
	font-size: 15px;
}
.absolute-total {
	font-size: 15px;
	opacity: 0.9;
}
.report-right {
	text-align: right;
}
.total-value {
	font-size: 24px;
	color: #5DA4E9;
}
.chart-container {
	margin-top: 50px !important;
	margin-left: 3% !important;
}
.report-table > thead > tr > th {
	padding: 0 10px 10px 0px;
}
.report-table > thead > tr > th > input {
  border-radius: 10px;	
} 
.report-table {
  margin-left: 4.5%;
}


.report-table > tbody:second-child {
 width: 100px;
}

.table-photo {
	width: 45px;
}

.pagination li {
	-webkit-transition: none !important;
	transition: none !important;
}


.finished-tasks {
	width: 20%;
	font-weight: 300;
	font-size: 16px;
}
.table-photo {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;	
}
.co-table-photo {
	x-margin-right: 5px;
	border:1px solid rgba(183,183,183, 0.5);
	border-radius: 50px !important;
}
.input-filter {
	border-radius: 20px !important;
}
.dropdown-download {
  width: 180px;
  padding-top: 8px;
  height: 30px;
  margin-top: -10px;	
}
.dropdown-date {
  border-radius: 50px !important;
  margin-top: -18px;
}
.moment-picker {
	bottom: -90px !important;
	width:110px;
}

@media screen and (min-width: 1300px) {
	.report-left {
		width: 80.5%;
	}
	.report-right {
		width: 15%;
		margin-left:-1.8%;
	}
}

@media screen and (max-width: 768px) {
	.report-header {
		display: none;
	}

}