<div class="container-fluid company-report-page" ng-controller="FreelancerReportsController as vm">
  <div class="report-header row" style="z-index: 10">
    <div class="report-date-filter  report-date date-filter report-filter col-md-4 col-xs-12">
      <div class="report-date-filter report-date export-report col-md-5 col-xs-12">
        <!-- <i class="fa fa-calendar" style="padding-bottom: 8px; color: rgb(93, 164, 233)"></i>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-download dropdown-date dropdown-toggle calendar-dropdown" style="padding: 0 5px !important; width: 170px;height: 25px;text-align: left;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h6>Filtrar por data</h6>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" ng-click="vm.filterByDate(2)">Últimos 2 meses</a>
            <a class="dropdown-item" ng-click="vm.filterByDate(3)">Últimos 3 meses</a>
            <span class="dropdown-item">
               Customizar:
             </span>
            <input
                    type="text"
                    placeholder="Data início"
                    ng-model="vm.selectedDateInit"
                    ng-model-options="{ debounce: 10 }"
                    change="vm.filterByDate()"
                    moment-picker="vm.selectedDate2"
                    locale="pt-br"
                    format="MMMM"
                    min-view="decade"
                    max-view="year"
                    start-view="year"
                    set-on-select="true"
                    max-date="vm.selectedDate3"
                    style="margin-bottom: 3px"
            >
            </input>
            <input
                    type="text"
                    placeholder="Data final"
                    ng-model="vm.selectedDateEnd"
                    ng-model-options="{ debounce: 10 }"
                    ng-disabled="!vm.selectedDateInit"
                    change="vm.filterByDate()"
                    moment-picker="vm.selectedDate3"
                    locale="pt-br"
                    format="MMMM"
                    min-view="decade"
                    max-view="year"
                    start-view="year"
                    set-on-select="true"
                    min-date="vm.rangeMinPick"
                    max-date="vm.rangeMaxPick">
            </input>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="report-date-filter exp-rep export-report col-md-5 col-xs-12">
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-download dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="border: 0px;">
          <i style="color: rgb(93, 164, 233)" class="fa fa-download"></i>
          <h6>Exportar relatório</h6>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" download="crowdReport.xml" ng-href="{{ vm.fileUrl }}" >.csv</a>
<a class="dropdown-item" download="crowdReport.pdf" ng-href="{{ vm.pdfUrl }}">.pdf</a>
        </div>
      </div>
    </div> -->
  </div>

  <div class="row report-description">
    <h4 class="report-page" style="position: fixed;z-index: 80;top: -5px;font-weight: lighter;padding-left: 3.6%;padding-top: 0.7%;">RELATÓRIO:</h4>
    <div class="col-md-9 col-xs-12 report-left">
      <h4 class="main-report-heading report-period"> {{ vm.reportPeriod }} a {{ vm.reportPeriodEnd }} </h4>
      <h6 class="report-range">Tarefas finalizadas entre {{ vm.reportInitDate }} e {{ vm.reportEndDate }}</h6>
    </div>
    <div class="col-md-3 col-xs-12 report-right">
      <h6 class="absolute-total">Total a receber :</h6>
      <h4 class="total-value"> {{ vm.reportTotalValue | currency:"R$ ":2 }} </h4>
    </div>
  </div>
  <div class="row chart-report">
    <div class="col-xs-11 col-xs-offset-2 chart-container" style="min-width: 310px; height: 300px; margin: 0 auto">
      <div id="report-chart" style="min-width: 310px; height: 400px; margin: 0 auto"> ></div>
    </div>
  </div>
  <div class="row table-header">
    <div class="col-xs-4 center-block text-center">
      <h2 class="table-title" style="margin-top: 109px !important">Tarefas Finalizadas</h2>
    </div>
    <div class="col-xs-11 center-block text-center data-table"> 
      <table class="freelancer report-table  center-block table-responsive" ng-table="vm.tableParams" show-filter="true">
        <tr ng-repeat="user in $data | orderBy:'Date':true" ng-class="{ 'table-head': $index > 1 }">
          <td title="'Contratante'" filter="{ ResponsibleName: 'text'}" sortable="'ResponsibleName'">
            <img class="table-photo co-table-photo" ng-src="{{ vm.ApiUrl}}{{ user.ResponsiblePhoto }}" style="margin-right: 7px;position: relative;"> {{user.ResponsibleName }}
          </td>
          <td class="spacer"></td>
          <td title="'Empresa'" filter="{ CustomerName: 'text'}" sortable="'CustomerName'">
            <div class="table-photo co-table-photo" style="background-image:url({{ vm.ApiUrl}}{{ user.CustomerLogo }});margin-right: 7px;position: relative;"></div> {{user.CustomerName }}
          </td>
          <td class="spacer"></td>
          <td style="width: 270px;" title="'Tarefa'" filter="{ TaskName: 'text'}" sortable="'TaskName'">
            {{user.TaskName}}
          </td>
          <td class="spacer"></td>
          <td title="'Projeto'" filter="{ ProjectName: 'text'}" sortable="'ProjectName'">
            <i class="fa fa-circle" style="padding-right: 5px; color: {{ user.Color }}; "></i> {{user.ProjectName}}
          </td>
          <td class="spacer"></td>
          <td title="'Data'" sortable="'Date'">
            <i class="fa fa-clock-o" aria-hidden="true" style="padding-right: 5px;"></i> {{user.Date | amDateFormat:'DD/MM/YYYY' }}
          </td>
          <td class="spacer"></td>
          <td title="'Valor (já com desconto)'"  sortable="'Valor'">
            {{user.Price | currency:"R$ ":2 }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row report-description" style="background-color: rgba(0, 0, 0, .02); padding-top: 10px">
    <div class="col-md-9 col-xs-12 report-left">

    </div>
    <div class="col-md-3 col-xs-12 report-right">
      <h6 class="absolute-total" style="font-size: 18px">Total de jobs fechados na Crowd:</h6>
      <h4 class="total-value" style="font-size: 30px; color: #71d1cb;"> {{ vm.grandTotal | currency:"R$ ":2 }}</h4>
    </div>
  </div>
