﻿
@{
    Layout = null;
}



<div class="col-md-12">
    <h4>Envie sua participação:</h4>
    <form id="form-campaign-participation" name="form-campaign-participation" action="@Url.Action("ParticipationSend","Campaign")" method="post">
        <input type="hidden" id="idCampaign" name="idCampaign" value="@ViewBag.Campaign.Id" />
        <input type="hidden" id="idFreelancer" name="idFreelancer" value="@ViewBag.User.IdFreelancer" />
        <div class="row">
            <div class="col-md-12">
                <textarea id="message-campaign" class="form-control tiny tinymce" style="height: 80px; width: 440px;max-width: 100%;max-height: 80px;margin-bottom: 10px;"></textarea>
            </div>
            <div class="col-md-12" style="margin-bottom: 20px;margin-top:10px;">
                <button type="button" id="form-campaign-send" class="btn btn-primary pull-right">
                    Enviar
                </button>
            </div>
        </div>
    </form>
</div>

