﻿@using Freelancers.Crowd.Domain.Entities;
@{
    Layout = null;
    var name = ViewBag.User.Name as String;

    var freelancer = ViewBag.Freelancer as Freelancer;
    var freelancerUser = freelancer.Users.FirstOrDefault();
}
<div class="scroll special-message">
    <header class="slidePanel-header overlay" style="background-image: url('@Url.Content("~/Content/photos/2.jpg")'); width: 500px;height: 250px;text-align: center;">
        <div class="overlay-panel overlay-background vertical-align" style="padding: 0;">
            <div class="slidePanel-actions">
                <div class="btn-group">
                    <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true"></button>
                </div>
            </div>
            <div class="vertical-align-middle">
                <img src="@Url.Content("~/Content/images/crowd.jpg")" class="img-circle" style="width: 80px;">
                <h5 class="name">Agência Crowd</h5>
                <h4>@ViewBag.Campaign.Title</h4>
            </div>
        </div>
    </header>
    <div class="slidePanel-inner">
        <div class="row">
            <div class="" style="margin:10px 0;">
                <a class="avatar" href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/portraits/1.jpg")">
                </a>
                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">Gabriel Matias<br><a href="#">Agência Crowd</a></h5>
                <span style="float: right;"><small></small></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <p>Olá @name,<br />tudo bem?</p>


                @Html.Raw(ViewBag.Campaign.Text)
                <br />
                <a href="@Url.Action("List", "Campaign", new { id= 1 })" title="Ver Resultado + Participações" class="btn btn-primary">
                    Ver Resultado + Participações
                </a>
                <br />

                <div id="msg">
                    


                    @if (ViewBag.Participations != null)
                    {
                        foreach (var m in ViewBag.Participations)
                        {
                            //String name = String.Empty;
                            String photo = String.Empty;

                            name = m.Freelancer.Name;
                            photo = freelancerUser.Photo;


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="" style="margin:10px 0;" data-url="@Url.Action("Detail", "Profissional", new { id = m.Id })">
                                        <a class="avatar open-slide" href="#">
                                            <img src="@(!String.IsNullOrEmpty(photo) ? Url.Content("~" + photo) : Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;">
                                        </a>
                                        <h5 style="display:inline-block;margin: 10px 10px 0px 10px;vertical-align: top;">
                                            @name
                                        </h5>
                                        <span style="float: right;"><small>@m.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
                                    </div>
                                </div><div class="col-md-12" style="font-weight:400;padding: 10px 25px;">
                                    @Html.Raw(m.Text)

                                    
                                </div>
                            </div>
                            <hr />
                        }
                    }


                    

                    


                </div>

            </div>

            
            @*if (ViewBag.ExceedLimitParticipation)
            {
                <div class="col-md-12">
                    <h4>Você já enviou a quantidade permitida de participações, aguarde o resultado.</h4>
                </div>
            }
            else
            {
                { Html.RenderPartial("_Form", "Campaign"); }
            }*@


        </div>
    </div>
</div>


<script src="~/Content/js/sections/campaign.js"></script>