﻿@model List<Freelancers.Crowd.Domain.Entities.CampaignParticipation>
@using Freelancers.Crowd.Domain.Entities;
@using Freelancers.Crowd.Domain.Entities.Enum;
@{
    ViewBag.Title = "Index";
    var user = ViewBag.User as User;
}

@section Css{
    <link rel="stylesheet" href="~/Content/examples/css/apps/mailbox.min.css" />
    <style>
        button:focus {
            outline: 0;
        }

        .open.active {
            color: #62a8ea !important;
            background-color: #f3f7f9 !important;
            border: none !important;
        }

        .star {
            padding: 6px 0px;
            display: inline-block;
        }

        .fa-star {
            color: #62a8ea;
        }

        p {
            margin: 0;
        }
    </style>
}

<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <div class="list-group-bordered">
                    <h4>Resultado - @Model[0].Campaign.Title</h4>

                    <div class="col-md-12 campaign-result">
                        <div class="row">
                            <div style="margin:10px;" class="">
                                <a href="javascript:void(0)" class="avatar">
                                    <img style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;" src="/Content/images/user/GabrielMatias_1.jpg">
                                </a>
                                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">Gabriel Matias<br><a href="#">Agência Crowd</a></h5>
                                <span style="float: right;"><small>31/05/2016 15:20</small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Anúncio do vencedor(a)</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Primeiramente a Crowd gostaria de agradecer a todos os participantes de nosso primeiro concurso de crowdsourcing, ficamos muito contentes pelos resultados adquiridos e pelo esforço e qualidade do trabalho de cada participante.<br /><br />

                                    O Sergio Ferreira diretor comercial e de marketing da Total Express fez questão de anunciar o grande vencedor(a). 
                                </p>
                            </div>
                        </div>
                    </div>


                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/OX6zHOj7fbI" frameborder="0" allowfullscreen></iframe>

                                        

                    <div class="col-md-12 campaign-result">
                        <div class="row">
                            <div style="margin:10px;" class="">
                                <a href="javascript:void(0)" class="avatar">
                                    <img style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;" src="/Content/images/user/GabrielMatias_1.jpg">
                                </a>
                                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">Gabriel Matias<br><a href="#">Agência Crowd</a></h5>
                                <span style="float: right;"><small>17/05/2016 13:00</small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Comunicado</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Caros participantes,<br /><br />

                                    Devido a alguns processos de aprovação interna dentro da Abril e Total Express, afirmamos que o resultado final irá atrasar ainda alguns dias.<br /><br />

                                    A Crowd pede desculpas pelo atraso e a assim que tivermos o resultado final iremos divulgar na mesma hora para todos vocês.<br /><br />

                                    Pedimos mais um pouco de paciência,<br />
                                    Até breve.
                                </p>
                            </div>
                        </div>
                    </div>


           
                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/EBAyu95HUak" frameborder="0" allowfullscreen></iframe>

                    <div class="col-md-12 campaign-result">
                        <div class="row">
                            <div style="margin:10px;" class="">
                                <a href="javascript:void(0)" class="avatar">
                                    <img style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;" src="/Content/images/user/GabrielMatias_1.jpg">
                                </a>
                                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">Gabriel Matias<br><a href="#">Agência Crowd</a></h5>
                                <span style="float: right;"><small>01/05/2016 10:00</small></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Resultado + Participações</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Olá pessoal,<br />
                                    tudo bom?<br /><br />

                                    Primeiramente venho aqui agradecer a participação de todos. Realmente foi um trabalho muito difícil escolher quais slogans defenderíamos na apresentação.
                                    Porém escolhemos 4 que acreditamos apresentar uma maior sinergia e uma defesa mais consistente com esse novo momento da Total Express.<br /><br />

                                    Estava previsto no dia 02/05 já anunciar o vencedor, mas infelizmente por processos internos da Total Express (aprovação de todos diretores da Total Express + Abril)
                                    o resultado foi adiado.<br /><br />

                                    Informaremos vocês por email assim que tivermos o resultado.<br />
                                    Caso você queira conferir todo o material que apresentamos e os slogans finalistas acesse o link abaixo:<br /><br />

                                    <a href="~/Content/pdf/apresentacao_total_express.pdf" title="Download da apresentação" class="btn btn-primary" target="_blank">
                                        Download da apresentação
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <h4>Participações - @Model[0].Campaign.Title</h4>

                    <table class="table table-striped table-hover table-striped width-full table-responsive">
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td data-id="@Model[i].Id" style="width:20px;">

                                            <img src="@(!String.IsNullOrEmpty(Model[i].Freelancer.Users.FirstOrDefault().Photo) && !String.IsNullOrEmpty(Model[i].Freelancer.Users.FirstOrDefault().Photo) ? Url.Content("~" + Model[i].Freelancer.Users.FirstOrDefault().Photo) : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;margin: 10px;display:inline-block;">
                                        </td>
                                        <td class="col-md-10" data-id="@Model[i].Id">
                                            <h4>@Model[i].Freelancer.Name</h4>
                                            @Html.Raw(Model[i].Text)
                                        </td>
                                        <td class="col-md-2" data-id="@Model[i].Id">
                                            @Model[i].CreatedAt.ToString("dd/MM/yyyy HH:mm")
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                                                                    
