<div id="gestao-briefing">
    <div class="page-main">
        <div class="page-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row header-projetos">
                        <div class="col-sm-8 col-xs-12">
                            <!-- TODO: RECEBER O NOME DO PROJETO -->
                            <h1 class="menor" ng-if="!$ctrl.projectId" style="margin-top: 60px; border: unset; background-color: transparent;     margin-left: -1% !important;">Todas as Tarefas</h1>
                            
                            <h1 ng-if="$ctrl.projectId" class="title-editable" contenteditable="true" ng-keyup="$ctrl.saveProjectName($event)" id="project-name-edit" style="margin-top: 60px; border: unset; background-color: transparent">
                            {{$ctrl.Projeto.Name}}</h1>
                        </div>
                        <div ng-if="!$ctrl.isProfessional && $ctrl.projectId && !$ctrl.Arquivado" class="col-sm-3 col-xs-12 acoes-header-projetos" style="margin-top: 60px; border: unset; background-color:transparent">
                            <!-- FIXME: RETOMAR O LINK QUANDO PRONTO
              <a href="#" class="btn-ver-relatorio"><i class="icon fa-bar-chart" aria-hidden="true"></i> Ver Relatório</a>
              -->
                            <button ng-click="$ctrl.arquivaProjeto($ctrl.Projeto.Id)" type="button" class="btn btn-sm btn-outline btn-primary">Arquivar Projeto</button>
                        </div>
                        <hr> </div>
                    <div class="row">
                        <div ng-if="!$ctrl.isProfessional && !$ctrl.projectId && !$ctrl.Arquivado" class="col-sm-8 col-xs-12">Criar Tarefa
                            <input autofocus ng-model="$ctrl.taskName" type="text" class="form-control nova-tarefa" />
                            <!-- NOTE: SELECT DE PROJETOS -->
                            <div ng-if="!$ctrl.projectId" class="btn-group selecionar-projetos">
                                <select ng-model="$ctrl.taskProjeto" ng-options="projeto.Name for projeto in $ctrl.getProjetos track by projeto.Id" ng-required="true" class="form-control" id="select-projetos" data-plugin="select2">
                                    <option value="" disabled>Selecione um Projeto</option>
                                    {{$ctrl.getProjetos}}
                                </select>
                            </div>
                        </div>
                        <div ng-if="!$ctrl.isProfessional && $ctrl.projectId && !$ctrl.Arquivado" class="col-sm-8 col-xs-12">Criar Tarefa
                            <input style="max-width: 85%" ng-model="$ctrl.taskName" type="text" class="form-control nova-tarefa" />
                        </div>
                        <!-- TEMPLATE DO AUTO COMPLETE-->
                        <!-- NOTE: AUTOCOMPLETE DE PROFISSIONAIS -->
                        <div ng-if="!$ctrl.isProfessional && !$ctrl.Arquivado" class="col-sm-4 col-xs-12 text-align-right" >
                           <div ng-if="$ctrl.taskUser.Name" style="float: left;     margin-top: -8px; visibility: hidden">
                             <img style="width: 50px; height: 50px; border-radius: 50px;"  ng-src="{{$ctrl.baseUrl}}{{$ctrl.taskUser.Photo}}" alt="">
                             <span>{{$ctrl.taskUser.Name }}</span>
                           </div> 
                          <ul class="result-list selecionar-profissional-tarefa" ng-show="$ctrl.openInput">
                              <input id="inputProfissional" type="text" style="margin: 10px 0; border-top: 0px;border-right: 0px;border-left: 0px;border-image: initial;
                              border-bottom: 1px solid lightgrey !important;" ng-model="$ctrl.taskUserSearch" ng-model-options="{ debounce: 150 }" placeholder="Nome do Profissional" ng-change="$ctrl.initSearch()" class="form-control">
                              <li ng-if="$ctrl.loadingPros == true" style="position: relative;text-align: center;font-style: italic; ">
                                    <i class="fa fa-search"></i> Buscando...
                              </li>
                                <li ng-if="$ctrl.noResults" style="position: relative;text-align: center;font-style: italic;">
                                    <i class="fa fa-user-times"></i> Ninguém Encontrado
                                </li>
                              <li style="list-style-type: none; float: left; clear: both" ng-repeat="profissional in $ctrl.profissionais | limitTo: 5" ng-click="$ctrl.selectProfissional(profissional)">
                                <a>
                                    <img style="width: 50px; height: 50px; border-radius: 50px; clear: both"  ng-src="{{$ctrl.baseUrl}}{{profissional.Photo}}" alt="">
                                  {{profissional.Name}}
                                </a>      
                              </li>     
                          </ul>
                          <div class="btn-group responsavel-projeto"> Responsável:
                            <a ng-if="!taskUser.Name" ng-hide="$ctrl.taskUser.Photo" href="javascript:void(0);" class="add-responsavel" data-toggle="dropdown" ng-click="$ctrl.setInputOpen()">
                                <i class="icon wb-plus" aria-hidden="true"></i>
                            </a>
                            <a id="adicionarProfissional" ng-if="$ctrl.taskUser.Photo" href="javascript:void(0);" style="background: url({{$ctrl.baseUrl}}{{$ctrl.taskUser.Photo}}) center; background-size: contain;" class="add-responsavel" data-toggle="dropdown" ng-click="$ctrl.setInputOpen()">
                                <i class="icon wb-plus" aria-hidden="true"></i>
                            </a>

                          <button type="button" ng-click="$ctrl.criarTarefa($ctrl.taskName, $ctrl.taskProjeto.Id, $ctrl.taskUser.Id)" class="btn btn-sm btn-outline btn-primary" style="float: right;
                          border-radius: 50px;">Criar Tarefa</button>
                           <!-- <div class="btn-group responsavel-projeto"> Responsável:
                                <a id="adicionarProfissional" ng-if="taskUser.Photo" href="javascript:void(0);" style="background: url({{$ctrl.baseUrl + taskUser.Photo}}) center; background-size: contain;" class="add-responsavel" data-toggle="dropdown">
                                    <i class="icon wb-plus" aria-hidden="true"></i>
                                </a>
                                <a ng-if="taskUser.Name&&!taskUser.Photo" href="javascript:void(0);" style="background: url(../images/user.png) center; background-size: contain;" class="add-responsavel" data-toggle="dropdown">
                                    <i class="icon wb-plus" aria-hidden="true"></i>
                                </a>
                                <a ng-if="!taskUser.Name" href="javascript:void(0);" class="add-responsavel" data-toggle="dropdown">
                                    <i class="icon wb-plus" aria-hidden="true"></i>
                                </a>
                                <ul class="selecionar-profissional-tarefa dropdown-menu">
                                    <li>

                                        <input type="">
                                        <input id="inputProfissional" style="border: 0" type="text" ng-model="$ctrl.taskUser" placeholder="Nome do Profissional" 
                                            uib-typeahead="item as item.Name for item in $ctrl.profissionais" 
                                            ng-change="$ctrl.initSearch()"
                                            typeahead-template-url="/customTemplate.html"
                                            typeahead-loading="loadingLocations" 
                                            typeahead-no-results="noResults"  
                                            typeahead-wait-ms="400" 
                                            class="form-control">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="loadingLocations" style="position: relative;text-align: center;font-style: italic;">
                                            <i class="fa fa-search"></i> Buscando...
                                        </div>
                                        <div ng-show="noResults" style="position: relative;text-align: center;font-style: italic;">
                                            <i class="fa fa-user-times"></i> Ninguém Encontrado
                                        </div>
                                    </li>


                                </ul>
                            </div> -->
                            
                        </div>
                        <!-- NOTE: LISTAGEM POR DATA, PRECISA SER CORRIGIDA -->
                    </div>
                    <div ng-show="$ctrl.hasTask" ng-if="!$ctrl.isProfessional" class="col-sm-12 col-xs-12 ordernar-tarefa"> Ordenar por:
                        <a ng-click="$ctrl.shortBy('DeliveryAt')" href="#">Prazo</a>
                        <span class="sortorder" ng-show="$ctrl.propertyName === 'DeliveryAt'" ng-class="{reverse: $ctrl.reverse}"></span>
                        <a ng-click="$ctrl.shortBy('Price')" href="#">Valor</a>
                        <span class="sortorder" ng-show="$ctrl.propertyName === 'Price'" ng-class="{reverse: $ctrl.reverse}"></span>
                        <a ng-click="$ctrl.shortBy('Freelancer.Name')" href="#">Profissionais</a>
                        <span class="sortorder" ng-show="$ctrl.propertyName === 'Freelancer.Name'" ng-class="{reverse: $ctrl.reverse}"></span>
                        <a ng-click="$ctrl.shortBy('Id')" href="#">Data</a>
                        <span class="sortorder" ng-show="$ctrl.propertyName === 'Id'" ng-class="{reverse: $ctrl.reverse}"></span>
                    </div>
                    <div ng-show="!$ctrl.hasTask" class="row">
                        <div class="col-sm-12 msg-sem-briefing" ng-show="!$ctrl.selectedBriefing">
                            <i class="icon fa-check-square-o" aria-hidden="true" style="font-size: 64px;"></i>
                            <strong>
        Você ainda não possui nenhuma tarefa
       </strong>
                            <p>
                                Suas tarefas aparecerão aqui.
                            </p>
                            <button ng-if="!$ctrl.isProfessional" ng-click="$ctrl.goToPageSaveBriefing()" type="button" class="btn btn-primary">Crie seu primeiro orçamento</button>
                        </div>
                    </div>
                    <div ng-show="$ctrl.hasTask" id="planilha-tasks" class="row">
                        <div class="col-sm-12 col-xs-12">
                            <!-- INICIO COLUNA DE TAREFAS -->
                            <div class="content-colunas-tarefas">
                                <div class="content-colunas">
                                    <div class="header-coluna-tarefa">
                                        <div>
                                            <span class="header-col-name hcn-color1">em orçamento</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color2">tarefas em execução</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color3">em aprovação</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color4">tarefas entregues</span>
                                        </div>
                                    </div>
                                    <div class="coluna-tarefa">
                                        
                                        <!-- NOTE: CARDS DE ORÇAMENTOS -->
                                        <div class="tarefa-item" ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="!$ctrl.isProfessional" ng-repeat="orcamento in $ctrl.getOrcamentos | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(orcamento,orcamento.Freelancer.Id, $event)">
                                          <div class="flip-container vertical"> <!-- ADD CLASS active-del FOR ACTIVE CARD DEL -->
                                              <div class="flipper">
                                                <div class="front">
                                                    <div ng-if="orcamento.UnreadMessages" id="{{'unread-task-'+orcamento.Id}}" class="notificacao-tarefa">{{orcamento.UnreadMessages}}</div>
                                                    <div class="foto-responsavel">
                                                        <profile-image ng-if="!$ctrl.isProfessional" src="orcamento.Freelancer.Photo" class="img-profile-default"></profile-image>
                                                        <profile-image ng-if="$ctrl.isProfessional" src="orcamento.Customer.Photo" class="img-profile-default"></profile-image>
                                                    </div>
                                                    <div class="nome-tarefa" id="{{'task-orcamento-'+orcamento.Id}}">{{orcamento.Title}}</div>
                                                    <div class="nome-projeto-cronograma">
                                                        <div ng-if="!$ctrl.Projeto" class="nome-do-projeto color-project-{{orcamento.Project.Color}}">{{orcamento.Project.Name}}</div>
                                                        <span class="bt-excluir-projeto" ng-click="$ctrl.deleteTaks($event)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                                <div class="back">
                                                <div class="text-center">
                                                     <br>
                                                    <strong>Deseja cancelar este card?</strong>
                                                    <br><br>
                                                    <a href="javascript:void(0);" ng-click="$ctrl.confirmDeleteTask(orcamento.Id, $event);" class="btn btn-xs btn-round btn-primary bt-cart-del ">DELETAR CARD</a>
                                                    <a href="javascript:void(0);" ng-click="$ctrl.cancelDeleteTask($event);" class="btn btn-xs btn-outline btn-round btn-default bt-cart-del">CANCELAR</a>
                                                </div>
                                                </div>
                                            </div>
                                          </div>
                                            
                                        </div>


                                        <!-- FIM CARD DE ORÇAMENTOS CLIENTE -->
                                        <!-- CARD DE ORÇAMENTOS PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="$ctrl.isProfessional" ng-repeat="orcamento in $ctrl.getOrcamentos | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(orcamento,orcamento.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="orcamento.UnreadMessages" id="{{'unread-task-'+orcamento.Id}}" class="notificacao-tarefa">{{orcamento.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <profile-image src="orcamento.User.Customer.Logo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{orcamento.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div class="nome-do-projeto color-project-{{orcamento.Project.Color}}">{{orcamento.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ORÇAMENTOS PROFISSIONAL -->
                                    </div>
                                    <div class="coluna-tarefa">
                                        <!-- NOTE: CARDS DE EXECUÇÃO -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="!$ctrl.isProfessional" ng-repeat="execucao in $ctrl.getExecucao | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(execucao,execucao.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="execucao.UnreadMessages" id="{{'unread-task-'+execucao.Id}}" class="notificacao-tarefa">{{execucao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <profile-image src="execucao.Freelancer.Photo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{execucao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="execucao.DeliveryAt | amDateFormat:'DD/MM'" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{execucao.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div ng-if="!$ctrl.Projeto" class="nome-do-projeto color-project-{{execucao.Project.Color}}">{{execucao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE EXECUÇÃO CLIENTE -->
                                        <!-- CARD DE EXECUÇÃO PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="$ctrl.isProfessional" ng-repeat="execucao in $ctrl.getExecucao | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(execucao,execucao.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="execucao.UnreadMessages" id="{{'unread-task-'+execucao.Id}}" class="notificacao-tarefa">{{execucao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                       <profile-image ng-if="!$ctrl.isProfessional" src="execucao.User.Photo" class="img-profile-default"></profile-image>
                                                        <profile-image ng-if="$ctrl.isProfessional" src="execucao.User.Customer.Logo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{execucao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="execucao.DeliveryAt | amDateFormat:'DD/MM'" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{execucao.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div class="nome-do-projeto color-project-{{execucao.Project.Color}}">{{execucao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE EXECUÇÃO -->
                                    </div>
                                    <div class="coluna-tarefa">
                                        <!-- NOTE: CARDS DE APROVAÇÃO -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="!$ctrl.isProfessional" ng-repeat="aprovacao in $ctrl.getAprovacao | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(aprovacao,aprovacao.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="aprovacao.UnreadMessages" id="{{'unread-task-'+aprovacao.Id}}" class="notificacao-tarefa">{{aprovacao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <profile-image src="aprovacao.Freelancer.Photo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{aprovacao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="aprovacao.DeliveryAt | amDateFormat:'DD/MM'" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{aprovacao.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div ng-if="!$ctrl.Projeto" class="nome-do-projeto color-project-{{aprovacao.Project.Color}}">{{aprovacao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE APROVAÇÃO CLIENTE -->
                                        <!-- CARD DE APROVAÇÃO PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="$ctrl.isProfessional" ng-repeat="aprovacao in $ctrl.getAprovacao | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(aprovacao,aprovacao.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="aprovacao.UnreadMessages" id="{{'unread-task-'+aprovacao.Id}}" class="notificacao-tarefa">{{aprovacao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                               <profile-image ng-if="!$ctrl.isProfessional" src="aprovacao.Freelancer.Photo" class="img-profile-default"></profile-image>
                                               <profile-image ng-if="$ctrl.isProfessional" src="aprovacao.User.Customer.Logo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{aprovacao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="aprovacao.DeliveryAt | amDateFormat:'DD/MM'" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{aprovacao.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div class="nome-do-projeto color-project-{{aprovacao.Project.Color}}">{{aprovacao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE APROVAÇÃO -->
                                    </div>
                                    <div class="coluna-tarefa">
                                        <!-- NOTE: CARDS DE ENTREGUES -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="!$ctrl.isProfessional" ng-repeat="entregues in $ctrl.getEntregues | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(entregues,entregues.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="entregues.UnreadMessages" id="{{'unread-task-'+entregues.Id}}" class="notificacao-tarefa">{{entregues.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                     <profile-image ng-if="!$ctrl.isProfessional" src="entregues.Freelancer.Photo" class="img-profile-default"></profile-image>
                                                        <profile-image ng-if="$ctrl.isProfessional" src="entregues.User.Customer.Logo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{entregues.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="entregues.DeliveryAt" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{entregues.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div ng-if="!$ctrl.Projeto" class="nome-do-projeto color-project-{{entregues.Project.Color}}">{{entregues.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ENTREGUES CLIENTE -->
                                        <!-- CARD DE ENTREGUES PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}" ng-if="$ctrl.isProfessional" ng-repeat="entregues in $ctrl.getEntregues | orderBy:$ctrl.propertyName" ng-click="$ctrl.slideOpen(entregues,entregues.Freelancer.Id)" class="tarefa-item">
                                            <div ng-if="entregues.UnreadMessages" id="{{'unread-task-'+entregues.Id}}" class="notificacao-tarefa">{{entregues.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                        <profile-image ng-if="!$ctrl.isProfessional" src="entregues.Freelancer.Photo" class="img-profile-default"></profile-image>
                                                        <profile-image ng-if="$ctrl.isProfessional" src="entregues.User.Customer.Logo" class="img-profile-default"></profile-image>
                                            </div>
                                            <div class="nome-tarefa">{{entregues.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="entregues.DeliveryAt" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{entregues.DeliveryAt | amDateFormat:'DD/MM'}}</div>
                                                <div class="nome-do-projeto color-project-{{entregues.Project.Color}}">{{entregues.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ENTREGUES -->
                                    </div>
                                </div>
                            </div>
                            <!-- FIM HTML TAREFAS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
jQuery(document.body)
    .on('click', '.dropdown-menu li', function(event) {
        event.preventDefault;
        event.stopPropagation;
        var $target = jQuery(event.currentTarget);
        $target.closest('.btn-group')
            .find('[data-bind="label"]')
            .text($target.text())
            .end()
            .children('.dropdown-toggle')
            .dropdown('toggle');
        return true;
    })
    .on('click', '.add-responsavel, .icon.wb-plus', function focusResponsavel(event) {
        setTimeout(function() {
            jQuery(event.currentTarget)
                .parent()
                .find('#inputProfissional')
                .focus()
        }, 150);
        console.log(jQuery(event.currentTarget)
            .parent()
            .parent()
            .find('#inputProfissional'));
    });
// function formatState (state) {
//     if (!state.id) { return state.text; }
//     var $state = $(
//         '<span><img src="vendor/images/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
//     );
//     return $state;
// };
</script>
<div class="mask-content-pageslide"></div>
<pageslide ps-open="$ctrl.isOpen" ps-key-listener="true" ps-click-outside="true" onopen="$ctrl.pageslideOnOpen" onclose="$ctrl.pageslideOnClose" ui-view="briefing-details" class="pageslide-900"></pageslide>
<pageslide ps-open="$ctrl.isOpenProfile" ps-key-listener="true" ps-click-outside="true" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>
<toaster-container toaster-options="{'limit':5}"></toaster-container>