---
title: Basic Tables
layout: default.hbs

javascripts_vendor:
- peity/jquery.peity.min.js
javascripts_global:
- components/peity.js
- plugins/selectable.js
- components/selectable.js
- components/table.js
- components/asscrollable.js
javascripts_example:
- charts/peity.js
stylesheets_example:
- tables/basic.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
        <li class="breadcrumb-item active">Basic</li>
      </ol>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Basic -->
            <div class="example-wrap">
              <h4 class="example-title">Basic</h4>
              <p>Add class <code>.table</code>.</p>
              <div class="example table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                      <th>Role</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesBasic}}
                    {{#each tablesBasic}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.first}}</td>
                      <td>{{this.last}}</td>
                      <td>{{this.username}}</td>
                      <td><span class="tag {{this.role_skin}}">{{this.role}}</span></td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Basic -->
          </div>

          <div class="col-lg-6">
            <!-- Example Hover Table -->
            <div class="example-wrap">
              <h4 class="example-title">Hover Table</h4>
              <p>Add<code>.table-hover</code>to enable a hover state on table rows within a<code>&lt;tbody&gt;</code></p>
              <div class="example table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Products</th>
                      <th>Popularity</th>
                      <th>Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesProductSales}}
                    {{#each tablesProductSales}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.products}}</td>
                      <td>
                        <span data-plugin="peityLine">{{this.progress}}</span>
                      </td>
                      <td><span class="{{sales_skin}} text-semibold"><i class="icon {{sales_icon}}" aria-hidden="true"></i> {{sales}}</span></td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Hover Table -->
          </div>

          <div class="col-lg-6">
            <!-- Example Bordered Table -->
            <div class="example-wrap">
              <h4 class="example-title">Bordered Table</h4>
              <p>Add<code>.table-bordered</code>for borders on all sides of the table and cells.</p>
              <div class="example table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Task</th>
                      <th>Progress</th>
                      <th>Deadline</th>
                      <th class="text-nowrap">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesTasks}}
                    {{#each tablesTasks}}
                    <tr>
                      <td>{{this.task}}</td>
                      <td>
                        <div class="progress progress-xs margin-vertical-10 {{#if active}}progress-striped active{{/if}}">
                          <div class="progress-bar progress-bar-{{progress-skin}}" style="width: {{number}}"></div>
                        </div>
                      </td>
                      <td>{{this.deadline}}</td>
                      <td class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Edit">
                          <i class="icon wb-wrench" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="Delete">
                          <i class="icon wb-close" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Bordered Table -->
          </div>

          <div class="col-lg-6">
            <!-- Example Striped Rows -->
            <div class="example-wrap">
              <h4 class="example-title">Striped Rows</h4>
              <p>Use<code>.table-striped</code>to add zebra-striping to any table row within the<code>&lt;tbody&gt;</code>.Striped tables are styled via the<code>:nth-child</code>CSS selector, which is not available in Internet Explorer 8.</p>
              <div class="example table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Username</th>
                      <th>Payment</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesOrderList}}
                    {{#each tablesOrderList}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.username}}</td>
                      <td><span class="tag tag-pill tag-{{payment_skin}}">{{payment}}</span></td>
                      <td>{{this.amount}}</td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Striped Rows -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Condensed -->
            <div class="example-wrap">
              <h4 class="example-title">Condensed Table</h4>
              <p>Add<code>.table-sm</code>to make tables more compact by cutting cell padding in half.</p>
              <div class="example table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Invoice</th>
                      <th>Username</th>
                      <th>Amount</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesCondensed}}
                    {{#each tablesCondensed}}
                    <tr>
                      <td><a href="javascript:void(0)">{{this.invoice}}</a></td>
                      <td>{{this.username}}</td>
                      <td>{{this.amount}}</td>
                      <td>{{this.date}}</td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Condensed -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->

    <!-- Panel -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-6">
            <!-- Example Table section -->
            <div class="example-wrap">
              <h4 class="example-title">Table Section</h4>
              <div class="example">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="width-50">
                      </th>
                      <th>
                        Project
                      </th>
                      <th>
                        Progress
                      </th>
                      <th class="hidden-sm-down width-200">
                        Date
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-section active" data-plugin="tableSection">
                    <tr>
                      <td class="text-xs-center"><i class="table-section-arrow"></i></td>
                      <td class="font-weight-medium">
                        Project #25369
                      </td>
                      <td>
                        <span class="tag tag-danger">Canceled</span>
                      </td>
                      <td class="hidden-sm-down">
                        <span class="text-muted">July 10, 2015</span>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-1111
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 27, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-723
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 7, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-4200c
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 12, 2015
                      </td>
                    </tr>
                  </tbody>
                  <tbody class="table-section" data-plugin="tableSection">
                    <tr>
                      <td class="text-xs-center"><i class="table-section-arrow"></i></td>
                      <td class="font-weight-medium">
                        Project #28686
                      </td>
                      <td>
                        <span class="tag tag-info">Testing</span>
                      </td>
                      <td class="hidden-sm-down">
                        <span class="text-muted">July 12, 2015</span>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-3100c
                      </td>
                      <td>
                        Doing
                      </td>
                      <td class="hidden-sm-down">
                        July 25, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-6400
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 24, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-2210
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 22, 2015
                      </td>
                    </tr>
                  </tbody>
                  <tbody class="table-section" data-plugin="tableSection">
                    <tr>
                      <td class="text-xs-center"><i class="table-section-arrow"></i></td>
                      <td class="font-weight-medium">
                        Project #29587
                      </td>
                      <td>
                        <span class="tag tag-primary">Developing</span>
                      </td>
                      <td class="hidden-sm-down">
                        <span class="text-muted">July 15, 2015</span>
                      </td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-7400
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 2, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-510c
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 3, 2015
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td class="font-weight-medium text-success">
                        ##MODULE-3a00
                      </td>
                      <td>
                        Done
                      </td>
                      <td class="hidden-sm-down">
                        July 17, 2015
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Table-section -->
          </div>

          <div class="col-xl-6">
            <!-- Example Table Selectable -->
            <div class="example-wrap">
              <h4 class="example-title">Table Selectable</h4>
              <div class="example">
                <table class="table table-hover" data-plugin="selectable" data-row-selectable="true">
                  <thead>
                    <tr>
                      <th class="width-50">
                        <span class="checkbox-custom checkbox-primary">
                          <input class="selectable-all" type="checkbox">
                          <label></label>
                        </span>
                      </th>
                      <th>
                        Id
                      </th>
                      <th>
                        Project
                      </th>
                      <th class="hidden-sm-down">
                        Status
                      </th>
                      <th class="hidden-sm-down">
                        Progress
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  {{#if tablesSelectable}}
                    {{#each tablesSelectable}}
                    <tr>
                      <td>
                        <span class="checkbox-custom checkbox-primary">
                          <input class="selectable-item" type="checkbox" id="row-{{id}}" value="{{id}}">
                          <label for="row-{{id}}"></label>
                        </span>
                      </td>
                      <td>{{id}}</td>
                      <td>{{project}}</td>
                      <td class="hidden-sm-down"><span class="tag {{status_skin}}">{{status}}</span></td>
                      <td class="hidden-sm-down">
                          <span data-plugin="peityLine">{{progress}}</span>
                      </td>
                    </tr>
                    {{/each}}
                  {{/if}}
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End Example Table Selectable -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->

    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <!-- Example Responsive -->
        <div class="example-wrap">
          <h4 class="example-title">Responsive</h4>
          <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
          <div class="example">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Invoice</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Country</th>
                  </tr>
                </thead>
                <tbody>
                {{#if tablesResponsive}}
                  {{#each tablesResponsive}}
                  <tr>
                    <td><a href="javascript:void(0)">{{invoice}}</a></td>
                    <td>{{user}}</td>
                    <td><span class="text-muted"><i class="wb wb-time"></i> {{date}}</span></td>
                    <td>{{amount}}</td>
                    <td><div class="tag tag-table tag-{{status_skin}}">{{status}}</div></td>
                    <td>{{country}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Example Responsive -->

        <!-- Example Contextual Classes -->
        <div class="example-wrap">
          <h4 class="example-title">Contextual Classes</h4>
          <p>Use classes( <code>.table-active</code>, <code>.table-success</code>, <code>.table-info</code>, <code>.table-warning</code>, <code>.table-danger</code> ) to color table rows or individual cells.</p>
          <div class="example table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Order note</th>
                  <th>Product</th>
                  <th>Buyer</th>
                  <th>payment</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
              {{#if tablesContextual}}
                {{#each tablesContextual}}
                <tr class="{{state}}">
                  <td>{{order}}</td>
                  <td>{{note}}</td>
                  <td>{{product}}</td>
                  <td>{{buyer}}</td>
                  <td>{{payment}}</td>
                  <td>{{date}}</td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Example Contextual Classes -->
      </div>
    </div>
    <!-- End Panel -->

    <!-- Panel Table Example1 -->
    <div class="panel" id="exampleTable1">
      <div class="panel-heading">
        <h4 class="panel-title">Bootstrap Table Examples</h4>
      </div>
      <div class="panel-body">
        <div class="example-wrap">
          <h4 class="example-title">Bootstrap Table Example</h4>
          <div class="example">
            <div class="height-250" data-plugin="scrollable" data-direction="both">
              <div data-role="container">
                <div data-role="content">
                  <table class="table table-hover">
                    <tbody>
                    {{#if tableExampleOne}}
                      {{#each tableExampleOne}}
                      <tr>
                        <td>
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox">
                            <label></label>
                          </span>
                        </td>
                        <td><a href="javascript:void(0)">{{invoice}}</a></td>
                        <td>{{title}}</td>
                        <td class="width-200">
                          <div class="progress progress-xs margin-bottom-0">
                            <div class="progress-bar progress-bar-{{pro_color}}" style="width: {{percentage}}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar">
                            </div>
                          </div>
                          <span class="pull-xs-right progress-percent">{{percentage}}</span>
                        </td>
                        <td>{{amount}}<span class="dropdown-toggle {{text_color}}-600"></span></td>
                        <td>
                          <span data-plugin="peityBar" data-height="40" data-width="180" data-skin="{{peity_color}}">{{number}}</span>
                        </td>
                        <td>{{country}}</td>
                      </tr>
                      {{/each}}
                    {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Table Example1 -->

    <!-- Panel Table Example1 Report -->
    <div class="panel" id="exampleReport">
      <div class="panel-body">
        <div class="panel-heading">
          <h4 class="panel-title">23 Reports</h4>
          <div class="panel-actions">
            <a class="panel-action icon wb-edit" data-toggle="tooltip" data-original-title="edit" data-container="body" title=""></a>
            <a class="panel-action icon wb-reply" data-toggle="tooltip" data-original-title="send" data-container="body" title=""></a>
            <a class="panel-action icon wb-trash" data-toggle="tooltip" data-original-title="move to trash" data-container="body" title=""></a>
            <a class="panel-action icon wb-user" data-toggle="tooltip" data-original-title="uesrs" data-container="body" title=""></a>
          </div>
        </div>
        <div class="example-wrap">
          <div class="example">
            <div class="table-responsive">
              <table class="table table-hover" data-role="content">
                <thead class="bg-blue-grey-100">
                  <tr>
                    <th>
                      <span class="checkbox-custom checkbox-primary">
                        <input class="selectable-item" type="checkbox">
                        <label></label>
                      </span>
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      <i class="icon wb-heart" aria-hidden="true"></i>
                    </th>
                    <th>
                      <i class="icon wb-chat" aria-hidden="true"></i>
                    </th>
                    <th>
                      Date Created
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {{#if tableReports}}
                  {{#each tableReports}}
                  <tr>
                    <td>
                      <span class="checkbox-custom checkbox-primary">
                        <input class="selectable-item" type="checkbox">
                        <label></label>
                      </span>
                    </td>
                    <td><a href="javascript:void(0)">{{name}}</a><i class="icon wb-help-circle margin-left-10 {{icon_color}}-600" aria-hidden="true" data-toggle="tooltip" data-original-title="help" data-container="body" title=""></i></td>
                    <td>{{title}}</td>
                    <td>
                      <i class="icon wb-heart" aria-hidden="true"><span class="margin-left-5">{{heart_num}}</span></i>
                    </td>
                    <td>
                      <i class="icon wb-chat" aria-hidden="true"><span class="margin-left-5">{{chat_num}}</span></i>
                    </td>
                    <td>
                      <span>{{time}}</span>
                      <i class="icon wb-time margin-left-10" aria-hidden="true"></i>
                    </td>
                    <td>
                      <img class="avatar avatar-sm" src="{{portrait avatar}}" data-toggle="tooltip" data-original-title="{{persion}}" data-container="body" title="">
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Table Example1 Report-->
  </div>
</div>
<!-- End Page -->
