---
title: Bootstrap Tables
layout: default.hbs
stylesheets_vendor:
- bootstrap-table/bootstrap-table.css
javascripts_vendor:
- bootstrap-table/bootstrap-table.min.js
- bootstrap-table/extensions/mobile/bootstrap-table-mobile.js
javascripts_example:
- tables/bootstrap.js
---
<!-- Page -->
<div class="page animsition" ng-controller="TableBootStrapCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">Bootstrap</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/wenzhixin/bootstrap-table" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content container-fluid">
    <!-- Panel Basic -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Basic</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-6">
            <!-- Example Table For Url -->
            <div class="example-wrap margin-sm-0">
              <h4 class="example-title">Table For Url</h4>
              <p>Activate bootstrap table without writing JavaScript.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/table_base.json'}}" data-height="250" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid">LID</th>
                      <th data-field="First">First Name</th>
                      <th data-field="Last">Last Name</th>
                      <th data-field="Score">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Table For Url -->
          </div>

          <div class="col-md-6">
            <!-- Example Table From Data -->
            <div class="example-wrap">
              <h4 class="example-title">Table From Data</h4>
              <p>Transform table from an existing data.</p>
              <div class="example">
                <table id="exampleTableFromData" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid">ID</th>
                      <th data-field="First">First Name</th>
                      <th data-field="Last">Last Name</th>
                      <th data-field="Score">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Table From Data -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Basic -->

    <!-- Panel Style -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Style</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-6">
            <!-- Example Classes -->
            <div class="example-wrap">
              <h4 class="example-title">Classes</h4>
              <p>Use<code>height, classes, striped</code>options and<code>class, width</code>column options to set the styles of bootstrap table. </p>
              <div class="example">
                <table data-toggle="table" data-classes="table table-hover table-sm" data-url="{{assets_url '/data/table_base.json'}}" data-striped="true" data-height="250" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid">LID</th>
                      <th data-field="First">First Name</th>
                      <th data-field="Last">Last Name</th>
                      <th data-field="Score">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Classes -->
          </div>

          <div class="col-md-6">
            <!-- Example Align -->
            <div class="example-wrap">
              <h4 class="example-title">Align</h4>
              <p>Use<code>align</code>,<code>halign</code>and<code>valign</code>options to set the alignment of the columns and their header.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test2.json'}}" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="name" data-halign="right" data-align="center">Name</th>
                      <th data-field="star" data-halign="center" data-align="left">Star</th>
                      <th data-field="description" data-halign="left" data-align="right">Description</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Align -->
          </div>

          <div class="clearfix hidden-sm-down"></div>

          <div class="col-md-6">
            <!-- Example Rowstyle -->
            <div class="example-wrap margin-sm-0">
              <h4 class="example-title">Rowstyle</h4>
              <p>Use<code>rowStyle</code>option to set the row style of bootstrap table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/table_base.json'}}" data-mobile-responsive="true" data-row-style="rowStyle" data-height="250">
                  <thead>
                    <tr>
                      <th data-field="Tid">LID</th>
                      <th data-field="First">First Name</th>
                      <th data-field="Last">Last Name</th>
                      <th data-field="Score">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Rowstyle -->
          </div>

          <div class="col-md-6">
            <!-- Example Cellstyle -->
            <div class="example-wrap">
              <h4 class="example-title">Cellstyle</h4>
              <p>Use<code>cellStyle</code>column option to set the cell style of bootstrap table. </p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test2.json'}}" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="name" data-cell-style="cellStyle">Name</th>
                      <th data-field="star">Star</th>
                      <th data-field="description">Description</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Cellstyle -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Style -->

    <!-- Panel Sort & Hideheader -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Sort & Hideheader</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-6">
            <!-- Example Basic Sort -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Sort</h4>
              <p>se <code>sortName</code>, <code>sortOrder</code>, <code>sortable</code> options, and <code>sortable</code>, <code>order</code> column options to set the basic sort of bootstrap table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/table_base.json'}}" data-height="250" data-sort-name="First" data-sort-order="desc" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid" data-sortable="true">LID</th>
                      <th data-field="First" data-sortable="true">First Name</th>
                      <th data-field="Last" data-sortable="true">Last Name</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Basic Sort -->
          </div>

          <div class="col-md-6">
            <!-- Example Format Sort -->
            <div class="example-wrap margin-sm-0">
              <h4 class="example-title">Format Sort</h4>
              <p>Use <code>formatter</code> column option to format the display of bootstrap table column.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test2.json'}}" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="name" data-formatter="nameFormatter">Name</th>
                      <th data-field="star" data-formatter="starsFormatter">Star</th>
                      <th data-field="license">License</th>
                      <th data-field="url">Url</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Format Sort -->
          </div>

          <div class="clearfix hidden-sm-down"></div>

          <div class="col-md-6">
            <!-- Example Custom Sort -->
            <div class="example-wrap">
              <h4 class="example-title">Custom Sort</h4>
              <p>Use <code>sorter</code> column option to define the custom sort of bootstrap table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/table_base.json'}}" data-height="250" data-sort-name="Score" data-sort-order="desc" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid" data-align="center" data-sortable="true">LID</th>
                      <th data-field="First" data-align="left" data-sortable="true">First Name</th>
                      <th data-field="Score" data-sortable="true" data-sorter="scoreSorter">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Custom Sort -->
          </div>

          <div class="col-md-6">
            <!-- Example Hide Header -->
            <div class="example-wrap">
              <h4 class="example-title">Hide Header</h4>
              <p>Use <code>showHeader: false</code> to hide the header of bootstrap table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/table_base.json'}}" data-height="250" data-show-header="false" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="Tid">LID</th>
                      <th data-field="First">First Name</th>
                      <th data-field="Last">Last Name</th>
                      <th data-field="Score">Score</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Hide Header -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Sort & Hideheader -->

    <!-- Panel Columns & Select -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Columns & Select</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <!-- Basic Columns -->
          <div class="col-md-6">
            <!-- Example Basic Columns -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Columns</h4>
              <p>Use <code>showColumns</code>, <code>minimumCountColumns</code> options, and <code>visible</code>, <code>switchable</code> column options to show the columns menu list use to switch.</p>
              <div class="example">
                <table id="exampleTableColumns" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="state" data-radio="true"></th>
                      <th data-field="name" data-switchable="false">Name</th>
                      <th data-field="price">Price</th>
                      <th data-field="column1">Columns1</th>
                      <th data-field="column2" data-visible="false">Columns2</th>
                      <th data-field="column3" data-switchable="false">Columns3</th>
                      <th data-field="column4" data-visible="false">Columns4</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Basic Columns -->
          </div>

          <div class="col-md-6">
            <!-- Example Large Columns -->
            <div class="example-wrap">
              <h4 class="example-title">Large Columns</h4>
              <p>Bootstrap table support large columns, it will auto to show the horizontal scroll bar.</p>
              <div class="example">
                <table id="exampleTableLargeColumns" data-show-columns="true" data-height="400" data-mobile-responsive="true"></table>
              </div>
            </div>
            <!-- End Example Large Columns -->
          </div>

          <div class="clearfix hidden-sm-down"></div>

          <div class="col-md-6">
            <!-- Example Radio Select -->
            <div class="example-wrap margin-sm-0">
              <h4 class="example-title">Radio Select</h4>
              <p>Use <code>clickToSelect</code>, <code>selectItemName</code> options and <code>radio</code> column option to show a radio select table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test.json'}}" data-height="299" data-click-to-select="true" data-select-item-name="myRadioName" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="state" data-radio="true"></th>
                      <th data-field="name">Name</th>
                      <th data-field="price">Price</th>
                      <th data-field="column1">Columns1</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Radio Select -->
          </div>

          <div class="col-md-6">
            <!-- Example Checkbox Select -->
            <div class="example-wrap">
              <h4 class="example-title">Checkbox Select</h4>
              <p>Use <code>clickToSelect</code> option and <code>checkbox</code> column option to show a checkbox select table.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test.json'}}" data-height="299" data-click-to-select="true" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="state" data-checkbox="true"></th>
                      <th data-field="name">Name</th>
                      <th data-field="price">Price</th>
                      <th data-field="column1">Columns1</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
             <!-- End Example Checkbox Select -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Columns & Select -->

    <!-- Panel Other -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Other</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-md-12">
            <!-- Example Card View -->
            <div class="example-wrap">
              <h4 class="example-title">Card View</h4>
              <p>Use <code>cardView: true</code> option to show Card View.</p>
              <div class="example">
                <table data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test2.json'}}" data-card-view="true" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="name">Name</th>
                      <th data-field="star">Star</th>
                      <th data-field="license">License</th>
                      <th data-field="description">Description</th>
                      <th data-field="url">Url</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Card View -->
          </div>

          <div class="col-md-12">
            <!-- Example Toolbar -->
            <div class="example-wrap">
              <h4 class="example-title">Toolbar</h4>
              <p>Use <code>toolbar</code> option to define the custom toolbars.</p>
              <div class="example">
                <div class="btn-group hidden-sm-down" id="exampleToolbar" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-plus" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-heart" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-trash" aria-hidden="true"></i>
                  </button>
                </div>
                <table id="exampleTableToolbar" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="name">Name</th>
                      <th data-field="star">Star</th>
                      <th data-field="license">License</th>
                      <th data-field="description">Description</th>
                      <th data-field="url">Url</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Toolbar -->
          </div>

          <div class="col-md-12">
            <!-- Example Pagination -->
            <div class="example-wrap">
              <h4 class="example-title">Pagination: Client Side</h4>
              <p>The default side pagination of table is <code>client</code>.</p>
              <div class="example">
                <table id="exampleTablePagination" data-toggle="table" data-url="{{assets_url '/data/bootstrap_table_test.json'}}" data-query-params="queryParams" data-mobile-responsive="true" data-height="400" data-pagination="true" data-icon-size="outline" data-search="true">
                  <thead>
                    <tr>
                      <th data-field="state" data-checkbox="true"></th>
                      <th data-field="id">Item ID</th>
                      <th data-field="name">Item Name</th>
                      <th data-field="price">Item Price</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Pagination -->
          </div>

          <div class="col-md-12">
            <!-- Example Events -->
            <div class="example-wrap">
              <h4 class="example-title">Events</h4>
              <div class="example">
                <div class="alert alert-success" id="examplebtTableEventsResult" role="alert">
                  Here is the result of event.
                </div>
                <div class="btn-group hidden-sm-down" id="exampleTableEventsToolbar" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-plus" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-heart" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-trash" aria-hidden="true"></i>
                  </button>
                </div>
                <table id="exampleTableEvents" data-height="400" data-mobile-responsive="true">
                  <thead>
                    <tr>
                      <th data-field="state" data-checkbox="true"></th>
                      <th data-field="id">Item ID</th>
                      <th data-field="name">Item Name</th>
                      <th data-field="price">Item Price</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End Example Events -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Other -->
  </div>
</div>
<!-- End Page -->
