---
title: DataTables
layout: default.hbs
stylesheets_vendor:
- datatables-bootstrap/dataTables.bootstrap.css
- datatables-fixedheader/dataTables.fixedHeader.css
- datatables-responsive/dataTables.responsive.css
stylesheets_font:
- font-awesome/font-awesome.css
javascripts_vendor:
- datatables/jquery.dataTables.js
- datatables-fixedheader/dataTables.fixedHeader.js
- datatables-bootstrap/dataTables.bootstrap.js
- datatables-responsive/dataTables.responsive.js
- datatables-tabletools/dataTables.tableTools.js
- asrange/jquery-asRange.min.js
- bootbox/bootbox.js
javascripts_global:
- components/datatables.js
javascripts_example:
- tables/datatable.js
stylesheets_example:
- tables/datatable.css
---
<!-- Page -->
<div class="page animsition" ng-controller="TableDataTableCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">{{title}}</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://datatables.net" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Basic -->
    <div class="panel">
      <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Basic</h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
          <tbody>
            {{#if tablesDateBasic}}
              {{#each tablesDateBasic}}
              <tr>
                <td>{{name}}</td>
                <td>{{position}}</td>
                <td>{{office}}</td>
                <td>{{age}}</td>
                <td>{{formatDate date "%Y/%m/%d"}}</td>
                <td>{{addCommas salary}}</td>
              </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel Basic -->

    <!-- Panel Table Individual column searching -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">Individual Column Searching</h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full" id="exampleTableSearch">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
          <tbody>
            {{#if tablesDataSearch}}
              {{#each tablesDataSearch}}
              <tr>
                <td>{{name}}</td>
                <td>{{position}}</td>
                <td>{{office}}</td>
                <td>{{age}}</td>
                <td>{{formatDate date "%Y/%m/%d"}}</td>
                <td>{{addCommas salary}}</td>
              </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel Table Individual column searching -->

    <!-- Panel Table Tools -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">Table Tools</h3>
      </header>
      <div class="panel-body">
        <table class="table table-hover dataTable table-striped width-full" id="exampleTableTools">
          <thead>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot>
          <tbody>
            {{#if tablesDataTools}}
              {{#each tablesDataTools}}
              <tr>
                <td>{{name}}</td>
                <td>{{position}}</td>
                <td>{{office}}</td>
                <td>{{age}}</td>
                <td>{{formatDate date "%Y/%m/%d"}}</td>
                <td>{{addCommas salary}}</td>
              </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel Table Tools -->

    <!-- Panel Table Add Row -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">Add Row</h3>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="margin-bottom-15">
              <button id="addToTable" class="btn btn-outline btn-primary" type="button">
                <i class="icon wb-plus" aria-hidden="true"></i>
                Add row
              </button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
          <thead>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#if tablesDataAdd}}
            {{#each tablesDataAdd}}
            <tr class="gradeA">
              <td>{{engine}}</td>
              <td>{{browser}}</td>
              <td>{{platform}}</td>
              <td class="actions">
                <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing save-row" data-toggle="tooltip" data-original-title="Save" hidden><i class="icon wb-wrench" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-editing cancel-row" data-toggle="tooltip" data-original-title="Delete" hidden><i class="icon wb-close" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                <a href="#" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel Table Add Row -->

    <!-- Panel FixedHeader -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
         Fixed Header
        </h3>
      </header>
      <div class="panel-body">
        <p>
          The FixedHeader extension for DataTables will ensure that your column titles will scroll with the page, showing at the top of the table at all times.FixedHeader is initialised using the constructor <code>new $.fn.dataTable.FixedHeader();</code>
        </p>
        <div class="table-responsive">
          <table class="table table-hover dataTable table-striped" id="exampleFixedHeader">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Date</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Date</th>
                <th>Salary</th>
              </tr>
            </tfoot>
            <tbody>
              {{#if tablesFixedHeader}}
                {{#each tablesFixedHeader}}
                <tr>
                  <td>{{name}}</td>
                  <td>{{position}}</td>
                  <td>{{office}}</td>
                  <td>{{age}}</td>
                  <td>{{date}}</td>
                  <td>{{salary}}</td>
                </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Panel FixedHeader -->

  </div>
</div>
<!-- End Page -->
