---
title: Editable Table
layout: default.hbs
stylesheets_vendor:
- editable-table/editable-table.css
javascripts_vendor:
- editable-table/mindmup-editabletable.js
- editable-table/numeric-input-example.js
javascripts_global:
- components/editable-table.js
javascripts_example:
- tables/editable.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">Editable</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://mindmup.github.io/editable-table/" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <table class="editable-table table table-striped" id="editableTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Profit</th>
              <th>Fun</th>
            </tr>
          </thead>
          <tbody>
            {{#if tablesEditable}}
              {{#each tablesEditable}}
              <tr>
                <td>{{name}}</td>
                <td>{{cost}}</td>
                <td>{{profit}}</td>
                <td>{{fun}}</td>
              </tr>
              {{/each}}
            {{/if}}
          </tbody>
          <tfoot>
            <tr>
              <th><strong>Total</strong></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
