---
title: Tables With floatThead
layout: default.hbs
stylesheets_vendor:
- jquery-floatthead/jquery.floatThead.css
javascripts_vendor:
- jquery-floatthead/jquery.floatThead.js
javascripts_global:
- components/jquery-floatthead.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">Fixed Header</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://mkoryak.github.io/floatThead/" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">

    <!-- Panel Example 1 -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          Example 1
        </h3>
      </header>
      <div class="panel-body">
        <div class="example table-responsive">
          <table class="table table-striped table-bordered" data-plugin="floatThead">
           <thead>
           <tr>
             <th></th>
             <th>Task </th>
             <th>Due</th>
             <th>Status</th>
             <th>Origin Appt</th>
             <th>Dest Appt</th>
             <th>Driver</th>
             <th>Carrier | Account</th>
           </tr>
           </thead>
           <tbody aria-relevant="all" aria-live="polite">
           <tr class="odd">
             <td></td>
             <td>
               <h5>Sleep</h5>
               <small>load ID: 12345678 | Some Dude</small>
             </td>
             <td>
               <div class="text-warning time-from-now">34 minutes ago</div>
             </td>
             <td>Checked In</td>
             <td>
               <h5>Brigton, VA</h5>
               <small>3/19/13 | 16:42 - 18:26 ET</small>
             </td>
             <td>
               <h5>Pooville, CA</h5>
               <small>5/25/13 | 20:20 - 20:32 ET</small>
             </td>
             <td>
               <h5>Mike Mikelson</h5>
               <small>(123) 456-7890</small>
             </td>
             <td>
               <h5>Ryder</h5>
               <small>Pepsi Co</small>
             </td>
           </tr>
           <tr class="even">
             <td><i class="icon wb-lock" aria-hidden="true"></i></td>
             <td>
               <h5>Past PU Appt TimePay your cable bill</h5>
               <small>load ID: 12345678 | Mike Mikelson</small>
             </td>
             <td>
               <div class="text-warning time-from-now">2 minutes ago</div>
             </td>
             <td>Unloading</td>
             <td>
               <h5>Brigton, VA</h5>
               <small>11/22/13 | 14:44 - 16:50 ET</small>
             </td>
             <td>
               <h5>Brigton, VA</h5>
               <small>5/9/13 | 15:45 - 18:40 ET</small>
             </td>
             <td>
               <h5>Fat Frank</h5>
               <small>(123) 456-7890</small>
             </td>
             <td>
               <h5>Reliable Trucking</h5>
               <small>Apple Computer</small>
             </td>
           </tr>
           <tr class="odd">
             <td><i class="icon wb-lock" aria-hidden="true"></i></td>
             <td>
               <h5>Past NCD</h5>
               <small>load ID: 12345678 | Mike Mikelson</small>
             </td>
             <td>
               <div class="text-warning time-from-now">36 minutes ago</div>
             </td>
             <td>Booked</td>
             <td>
               <h5>Plum Island, NH</h5>
               <small>6/22/13 | 15:22 - 20:29 ET</small>
             </td>
             <td>
               <h5>Plum Island, NH</h5>
               <small>5/17/13 | 18:31 - 16:49 ET</small>
             </td>
             <td>
               <h5>Some Dude</h5>
               <small>(123) 456-7890</small>
             </td>
             <td>
               <h5>RR Donnely</h5>
               <small>Pepsi Co</small>
             </td>
           </tr>
           <tr class="even">
             <td></td>
             <td>
               <h5>Past NCD</h5>
               <small>load ID: 12345678 | Mike Mikelson</small>
             </td>
             <td>
               <div class="text-warning time-from-now">an hour ago</div>
             </td>
             <td>Booked</td>
             <td>
               <h5>Pooville, CA</h5>
               <small>7/18/13 | 18:48 - 22:22 ET</small>
             </td>
             <td>
               <h5>Brigton, VA</h5>
               <small>6/23/13 | 18:29 - 15:35 ET</small>
             </td>
             <td>
               <h5>Mike Mikelson</h5>
               <small>(123) 456-7890</small>
             </td>
             <td>
               <h5>AAA Trucking</h5>
               <small>Apple Computer</small>
             </td>
           </tr>
           </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Panel Example 1 -->

    <!-- Panel Example 2 -->
    <div class="panel">
      <header class="panel-heading">
        <h3 class="panel-title">
          Example 2
        </h3>
      </header>

      <div class="panel-body">
        <div class="example table-responsive">
          <table class="table table-striped" data-plugin="floatThead">
            <thead>
            <tr>
              <th></th>
              <th>Task </th>
              <th>Due</th>
              <th>Status</th>
              <th>Origin Appt</th>
              <th>Dest Appt</th>
              <th>Driver</th>
              <th>Carrier | Account</th>
            </tr>
            </thead>
            <tbody aria-relevant="all" aria-live="polite">
            <tr class="odd">
              <td></td>
              <td>
                <h5>Confirm Driver Loaded</h5>
                <small>load ID: 12345678 | Catman</small>
              </td>
              <td>
                <div class="time-from-now">in 32 minutes</div>
              </td>
              <td>Booked</td>
              <td>
                <h5>Pooville, CA</h5>
                <small>2/15/13 | 13:51 - 12:45 ET</small>
              </td>
              <td>
                <h5>Brigton, VA</h5>
                <small>9/8/13 | 16:38 - 15:50 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Reliable Trucking</h5>
                <small>Pepsi Co</small>
              </td>
            </tr>
            <tr class="even">
              <td><i class="icon wb-lock" aria-hidden="true"></i></td>
              <td>
                <h5>Past PU Appt TimePay your cable bill</h5>
                <small>load ID: 12345678 | Fat Frank</small>
              </td>
              <td>
                <div class="time-from-now">in an hour</div>
              </td>
              <td>In-Transit</td>
              <td>
                <h5>Washington DC</h5>
                <small>8/13/13 | 20:52 - 16:36 ET</small>
              </td>
              <td>
                <h5>Brigton, VA</h5>
                <small>5/21/13 | 20:42 - 19:47 ET</small>
              </td>
              <td>
                <h5>Catman</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>RR Donnely</h5>
                <small>NSA</small>
              </td>
            </tr>
            <tr class="odd">
              <td></td>
              <td>
                <h5>Confirm Driver Loaded</h5>
                <small>load ID: 12345678 | Catman</small>
              </td>
              <td>
                <div class="time-from-now">in 38 minutes</div>
              </td>
              <td>Bounced</td>
              <td>
                <h5>Brigton, VA</h5>
                <small>8/23/13 | 14:28 - 14:38 ET</small>
              </td>
              <td>
                <h5>Brigton, VA</h5>
                <small>5/20/13 | 18:15 - 18:51 ET</small>
              </td>
              <td>
                <h5>Catman</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Reliable Trucking</h5>
                <small>Pepsi Co</small>
              </td>
            </tr>
            <tr class="even">
              <td><i class="icon wb-lock" aria-hidden="true"></i></td>
              <td>
                <h5>Past PU Appt TimePay your cable bill</h5>
                <small>load ID: 12345678 | Mike Mikelson</small>
              </td>
              <td>
                <div class="time-from-now">in an hour</div>
              </td>
              <td>Booked</td>
              <td>
                <h5>Pooville, CA</h5>
                <small>10/19/13 | 16:56 - 16:40 ET</small>
              </td>
              <td>
                <h5>Pooville, CA</h5>
                <small>9/18/13 | 16:38 - 16:25 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Ryder</h5>
                <small>Elkay</small>
              </td>
            </tr>
            <tr class="odd">
              <td></td>
              <td>
                <h5>Past PU Appt TimePay your cable bill</h5>
                <small>load ID: 12345678 | Catman</small>
              </td>
              <td>
                <div class="time-from-now">in 41 minutes</div>
              </td>
              <td>Unloading</td>
              <td>
                <h5>Plum Island, NH</h5>
                <small>5/19/13 | 14:32 - 16:41 ET</small>
              </td>
              <td>
                <h5>Brian's House</h5>
                <small>4/16/13 | 17:13 - 15:40 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Ryder</h5>
                <small>Archway</small>
              </td>
            </tr>
            <tr class="even">
              <td><i class="icon wb-lock" aria-hidden="true"></i></td>
              <td>
                <h5>Past NCD</h5>
                <small>load ID: 12345678 | Fat Frank</small>
              </td>
              <td>
                <div class="time-from-now">in 17 minutes</div>
              </td>
              <td>Booked</td>
              <td>
                <h5>Pooville, CA</h5>
                <small>4/28/13 | 17:24 - 14:17 ET</small>
              </td>
              <td>
                <h5>Pooville, CA</h5>
                <small>11/13/13 | 12:51 - 18:37 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Ryder</h5>
                <small>Elkay</small>
              </td>
            </tr>
            <tr class="odd">
              <td></td>
              <td>
                <h5>Eat</h5>
                <small>load ID: 12345678 | Mike Mikelson</small>
              </td>
              <td>
                <div class="time-from-now">in an hour</div>
              </td>
              <td>Dispatched</td>
              <td>
                <h5>Brigton, VA</h5>
                <small>9/14/13 | 15:37 - 20:31 ET</small>
              </td>
              <td>
                <h5>Washington DC</h5>
                <small>5/19/13 | 13:33 - 17:14 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>Reliable Trucking</h5>
                <small>Elkay</small>
              </td>
            </tr>
            <tr class="even">
              <td></td>
              <td>
                <h5>Past PU Appt TimePay your cable bill</h5>
                <small>load ID: 12345678 | Mike Mikelson</small>
              </td>
              <td>
                <div class="time-from-now">in 8 minutes</div>
              </td>
              <td>Booked</td>
              <td>
                <h5>Brigton, VA</h5>
                <small>2/10/13 | 15:41 - 14:56 ET</small>
              </td>
              <td>
                <h5>Brian's House</h5>
                <small>4/25/13 | 17:29 - 17:27 ET</small>
              </td>
              <td>
                <h5>Mike Mikelson</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>AAA Trucking</h5>
                <small>NSA</small>
              </td>
            </tr>
            <tr class="odd">
              <td></td>
              <td>
                <h5>Eat</h5>
                <small>load ID: 12345678 | Catman</small>
              </td>
              <td>
                <div class="time-from-now">in an hour</div>
              </td>
              <td>Loaded</td>
              <td>
                <h5>Brian's House</h5>
                <small>7/13/13 | 15:34 - 13:31 ET</small>
              </td>
              <td>
                <h5>Boston, MA</h5>
                <small>4/10/13 | 14:40 - 21:36 ET</small>
              </td>
              <td>
                <h5>Fat Frank</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>AAA Trucking</h5>
                <small>NSA</small>
              </td>
            </tr>
            <tr class="even">
              <td><i class="icon wb-lock" aria-hidden="true"></i></td>
              <td>
                <h5>Eat</h5>
                <small>load ID: 12345678 | Catman</small>
              </td>
              <td>
                <div class="time-from-now">in 13 minutes</div>
              </td>
              <td>Dispatched</td>
              <td>
                <h5>Brigton, VA</h5>
                <small>7/17/13 | 15:25 - 16:43 ET</small>
              </td>
              <td>
                <h5>Plum Island, NH</h5>
                <small>7/15/13 | 17:45 - 18:51 ET</small>
              </td>
              <td>
                <h5>Some Dude</h5>
                <small>(123) 456-7890</small>
              </td>
              <td>
                <h5>RR Donnely</h5>
                <small>Anthony Intl</small>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End Panel Example 2 -->
  </div>
</div>
<!-- End Page -->
