---
title: FooTable
layout: default.hbs
stylesheets_vendor:
- footable/footable.core.css
javascripts_vendor:
- footable/footable.all.min.js
javascripts_example:
- tables/footable.js
---
<!-- Page -->
<div class="page animsition" ng-controller="TableFootableCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">FooTable</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/fooplugins/FooTable" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>

  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <!-- Panel Row Toggler -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Row Toggler</h3>
          </header>
          <div class="panel-body">
            <table class="table toggle-circle" id="exampleRowToggler">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th data-hide="all">Job Title</th>
                  <th data-hide="all">DOB</th>
                  <th data-hide="all">Status</th>
                </tr>
              </thead>
              <tbody>
              {{#if tablesFootableToggler}}
                {{#each tablesFootableToggler}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Row Toggler -->
      </div>

      <div class="col-xl-6">
        <!-- Panel Accordion -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Accordion</h3>
          </header>
          <div class="panel-body">
            <table class="table toggle-arrow-tiny" id="exampleFooAccordion">
              <thead>
                <tr>
                  <th data-toggle="true">First Name</th>
                  <th>Last Name</th>
                  <th data-hide="all">Job Title</th>
                  <th data-hide="all">DOB</th>
                  <th data-hide="all">Status</th>
                </tr>
              </thead>
              <tbody>
              {{#if tablesFootableAccordion}}
                {{#each tablesFootableAccordion}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Accordion -->
      </div>

    </div>

    <div class="row">
      <div class="col-xl-6">
        <!-- Panel Collapse All Rows -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Expand / Collapse All Rows</h3>
          </header>
          <div class="panel-body">
            <div class="padding-bottom-15">
              <button id="exampleCollapseBtn" class="btn btn-round btn-primary btn-outline btn-sm btn-pill-left">Collapse All</button>
              <button id="exampleExpandBtn" class="btn btn-round btn-primary btn-outline btn-sm btn-pill-right">Expand All</button>
            </div>
            <table class="table toggle-circle" id="exampleAccordion">
              <thead>
                <tr>
                  <th data-toggle="true">First Name</th>
                  <th>Last Name</th>
                  <th data-hide="all">Job Title</th>
                  <th data-hide="all">DOB</th>
                  <th data-hide="all">Status</th>
                </tr>
              </thead>
              <tbody>
              {{#if tablesFootableAllRow}}
                {{#each tablesFootableAllRow}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Collapse All Rows -->
      </div>

      <div class="col-xl-6">
        <!-- Panel Pagination -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Pagination</h3>
          </header>
          <div class="panel-body">
            <label class="form-inline">Show
              <select id="exampleShow" class="form-control">
                <option value="5">5</option>
                <option value="10" selected="selected">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
              entries
            </label>
            <table class="table toggle-arrow-tiny" id="examplePagination" data-page-size="10">
              <thead>
                <tr>
                  <th data-toggle="true">First Name</th>
                  <th>Last Name</th>
                  <th data-hide="all">Job Title</th>
                  <th data-hide="all">DOB</th>
                  <th data-hide="all">Status</th>
                </tr>
              </thead>
              <tbody>
              {{#if tablesFootablePagination}}
                {{#each tablesFootablePagination}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <div class="text-xs-right">
                      <ul class="pagination"></ul>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- End Panel Pagination -->
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <!-- Panel Filtering -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Filtering</h3>
          </header>
          <div class="panel-body">
            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering">
              <thead>
                <tr>
                  <th data-toggle="true">First Name</th>
                  <th>Last Name</th>
                  <th data-hide="phone, tablet">Job Title</th>
                  <th data-hide="phone, tablet">DOB</th>
                  <th data-hide="phone, tablet">Status</th>
                </tr>
              </thead>
              <div class="form-inline padding-bottom-15">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="form-control-label">Status</label>
                      <select id="filteringStatus" class="form-control">
                        <option value="">Show all</option>
                        <option value="active">Active</option>
                        <option value="disabled">Disabled</option>
                        <option value="suspended">Suspended</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 text-xs-right">
                    <div class="form-group">
                      <input id="filteringSearch" type="text" placeholder="Search" class="form-control" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <tbody>
              {{#if tablesFootableFiltering}}
                {{#each tablesFootableFiltering}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <div class="text-xs-right">
                      <ul class="pagination"></ul>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- End Panel Filtering -->
      </div>

      <div class="col-xl-12">
        <!-- Panel Add &amp; Remove Rows -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Add &amp; Remove Rows</h3>
          </header>
          <div class="panel-body">
            <table id="exampleFooAddRemove" class="table table-bordered table-hover toggle-circle" data-page-size="7">
              <thead>
                <tr>
                  <th data-sort-initial="true" data-toggle="true">First Name</th>
                  <th>Last Name</th>
                  <th data-hide="phone, tablet">Job Title</th>
                  <th data-hide="phone, tablet">DOB</th>
                  <th data-hide="phone, tablet">Status</th>
                  <th data-sort-ignore="true" class="min-width">Delete</th>
                </tr>
              </thead>
              <div class="form-inline padding-bottom-15">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <button id="addRowBtn" class="btn btn-outline btn-primary btn-sm"><i class="icon wb-plus" aria-hidden="true"></i>Add New Row</button>
                    </div>
                  </div>
                  <div class="col-md-6 text-xs-right">
                    <div class="form-group">
                      <input id="addRemoveSearch" type="text" placeholder="Search" class="form-control" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <tbody>
              {{#if tablesFootableAddRemove}}
                {{#each tablesFootableAddRemove}}
                <tr>
                  <td>{{firstname}}</td>
                  <td>{{lastname}}</td>
                  <td>{{title}}</td>
                  <td>{{dob}}</td>
                  <td><span class="tag tag-table tag-{{label_icon}}">{{status}}</span></td>
                  <td><button type="button" class="btn btn-sm btn-icon btn-pure btn-default delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="icon wb-close" aria-hidden="true"></i></button></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <div class="text-xs-right">
                      <ul class="pagination"></ul>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <!-- End Panel Add &amp; Remove Rows -->
      </div>

    </div>
  </div>
</div>
<!-- End Page -->
