---
title: Responsive Tables
layout: default.hbs
stylesheets_vendor:
- filament-tablesaw/tablesaw.css
javascripts_vendor:
- filament-tablesaw/tablesaw.js
- filament-tablesaw/tablesaw-init.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Tables</a></li>
      <li class="breadcrumb-item active">Responsive</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/filamentgroup/tablesaw" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <!-- Panel Kitchen Sink -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">
              Kitchen Sink
              <span class="panel-desc">
                Swipe Mode, ModeSwitch, Minimap, Sortable, SortableSwitch
              </span>
            </h3>
          </header>

          <div class="panel-body">
            <table class="tablesaw table-striped table-bordered table-hover" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
              <thead>
                <tr>
                  <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist">Movie Title</th>
                  <th data-tablesaw-sortable-col data-tablesaw-priority="3">Rank</th>
                  <th data-tablesaw-sortable-col data-tablesaw-priority="2">Year</th>
                  <th data-tablesaw-sortable-col data-tablesaw-priority="1">
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th data-tablesaw-sortable-col data-tablesaw-priority="4">Reviews</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveSink}}
                  {{#each tablesResponsiveSink}}
                  <tr>
                    <td><a href="javascript:void(0)">{{movie}}</a></td>
                    <td>{{rank}}</td>
                    <td>{{formatDate year "%Y"}}</td>
                    <td>{{rating}}</td>
                    <td>{{reviews}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Kitchen Sink -->

        <!-- Panel Exclude Columntoggle -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Exclude Columntoggle Mode</h3>
          </header>

          <div class="panel-body">
            <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="swipe" data-tablesaw-mode-switch data-tablesaw-minimap data-tablesaw-mode-exclude="columntoggle">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Movie Title</th>
                  <th>Year</th>
                  <th>
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th>Reviews</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveExclude}}
                  {{#each tablesResponsiveExclude}}
                  <tr>
                    <th>{{rank}}</th>
                    <td><a href="javascript:void(0)" data-rel="external">{{movie}}</a></td>
                    <td>{{year}}</td>
                    <td>{{rating}}</td>
                    <td>{{reviews}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Exclude Columntoggle -->

        <!-- Panel Column Toggle -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Column Toggle</h3>
          </header>
          <div class="panel-body">
            <table class="tablesaw table-striped table-bordered" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
              <thead>
                <tr>
                  <th data-tablesaw-priority="3">Rank</th>
                  <th data-tablesaw-priority="persist">Movie Title</th>
                  <th data-tablesaw-priority="2">Year</th>
                  <th data-tablesaw-priority="1">
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th data-tablesaw-priority="4">Reviews</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveColumn}}
                  {{#each tablesResponsiveColumn}}
                  <tr>
                    <th>{{rank}}</th>
                    <td><a href="javascript:void(0)" data-rel="external">{{movie}}</a></td>
                    <td>{{year}}</td>
                    <td>{{rating}}</td>
                    <td>{{reviews}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Column Toggle -->
      </div>

      <div class="col-xl-6">
        <!-- Panel Mode Switch -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Mode Switch Table</h3>
          </header>
          <div class="panel-body">
            <table class="tablesaw table-striped" data-tablesaw-mode="swipe" data-tablesaw-mode-switch data-tablesaw-minimap>
              <thead>
                <tr>
                  <th data-tablesaw-priority="3">Rank</th>
                  <th data-tablesaw-priority="persist">Movie Title</th>
                  <th data-tablesaw-priority="2">Year</th>
                  <th data-tablesaw-priority="1">
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th data-tablesaw-priority="4">Reviews</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveSwitch}}
                  {{#each tablesResponsiveSwitch}}
                  <tr>
                    <th>{{rank}}</th>
                    <td><a href="javascript:void(0)" data-rel="external">{{movie}}</a></td>
                    <td>{{year}}</td>
                    <td>{{rating}}</td>
                    <td>{{reviews}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Mode Switch -->

        <!-- Panel Sortable -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">
            Sortable
              <span class="panel-desc">
                Default appearance (with optional sortable-switch &lt;select&gt;)
              </span>
            </h3>
          </header>
          <div class="panel-body">
            <table class="tablesaw table-bordered table-hover" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch>
              <thead>
                <tr>
                  <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Rank</th>
                  <th data-tablesaw-sortable-col>Movie Title</th>
                  <th id="third" data-tablesaw-sortable-col>Year</th>
                  <th data-tablesaw-sortable-col>
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th>Reviews</th>
                  <th data-tablesaw-sortable-col data-sortable-numeric>Box Office</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveSortable}}
                  {{#each tablesResponsiveSortable}}
                  <tr>
                    <th>{{rank}}</th>
                    <td><a href="javascript:void(0)" data-rel="external">{{movie}}</a></td>
                    <td>{{year}}</td>
                    <td>{{rating}}</td>
                    <td>{{reviews}}</td>
                    <td>{{office}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Sortable -->

        <!-- Panel Swipe -->
        <div class="panel">
          <header class="panel-heading">
            <h3 class="panel-title">Swipe</h3>
          </header>
          <div class="panel-body">
            <table class="tablesaw table-hover table-bordered" data-tablesaw-mode="swipe" data-tablesaw-minimap>
              <thead>
                <tr>
                  <th data-tablesaw-priority="persist">Name</th>
                  <th>Rank</th>
                  <th>Money</th>
                  <th>Money</th>
                  <th>A (1&ndash;5)</th>
                  <th>B (1&ndash;5)</th>
                  <th>C (%)</th>
                  <th>D (1&ndash;5)</th>
                  <th>E (1&ndash;5)</th>
                  <th>F (1&ndash;5)</th>
                </tr>
              </thead>
              <tbody>
                {{#if tablesResponsiveSwipe}}
                  {{#each tablesResponsiveSwipe}}
                  <tr>
                    <th><a href="javascript:void(0)">{{name}}</a></th>
                    <td>{{rank}}</td>
                    <td>{{money}}</td>
                    <td>{{money}}</td>
                    <td>{{a}}</td>
                    <td>{{b}}</td>
                    <td>{{c}}</td>
                    <td>{{d}}</td>
                    <td>{{e}}</td>
                    <td>{{f}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Swipe -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
