﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title>Tarefas concluídas entre {{ data_inicial_do_relatório }} e {{ data_final_do_relatório }}</title>-->
    <style>
        .container {
            padding: 70px;
        }

        table {
            margin-left: -10px;
        }

        .report-data > tbody > tr > td {
            padding: 0 20px;
        }

        .report-data > thead > tr > td {
            font-weight: 900;
            color: #5DA4E9;
        }

        .report-data > thead > tr > td,
        .report-data > tbody > tr > td {
            width: 180px;
            padding: 10px 10px;
            border-left: 2px solid #b7b7b7;
            border-right: 2px solid #b7b7b7;
            border-bottom: 2px solid #b7b7b7;
            white-space: nowrap;
            font-size: 20px;
            font-family: 'Helvetica', sans-serif;
            font-weight: 200;
        }

        .container > h3 {
            font-size: 25px;
            font-family: 'Helvetica', sans-serif;
            font-weight: 200;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div style="padding: 20px;" class="container">
        <div>
            <img src="https://www.crowd.br.com/wp-content/uploads/2017/03/logo-crowd-black-1.png" alt="">
        </div>
        <hr style="height: 3px; background-color: #4acfa4; border: 2px solid #4acfa4;">
  <!--      <h3>Tarefas concluídas entre {{ data_inicial_do_relatório }} e {{ data_final_do_relatório }}</h3>-->
        <table class="report-data">
            <thead>
                <tr>
                    <td>
                        Profissional
                    </td>
                    <td>
                        Tarefa
                    </td>
                    <td>
                        Responsável
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Preço
                    </td>
                    <td>
                        Projeto
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
         <!--               {{ nome }}-->
                    </td>
                    <td>
         <!--               {{ nome da tarefa }}-->
                    </td>
                    <td>
         <!--               {{ responsável por delegar a tarefa}}-->
                    </td>
                    <td>
         <!--               {{ data de conclusão da tarefa }}-->
                    </td>
                    <td>
          <!--              {{ preço }}-->
                    </td>
                    <td>
            <!--            {{ projeto onde a tarefa foi criada }}-->
                    </td>
                </tr>
                <tr>
                    <td>
          <!--              {{ nome }}-->
                    </td>
                    <td>
           <!--             {{ nome da tarefa }}-->
                    </td>
                    <td>
             <!--           {{ responsável por delegar a tarefa}}-->
                    </td>
                    <td>
                 <!--       {{ data de conclusão da tarefa }}-->
                    </td>
                    <td>
              <!--          {{ preço }}-->
                    </td>
                    <td>
            <!--            {{ projeto onde a tarefa foi criada }}-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>