<style>
  .autocomplete-suggestions {
    background-color: #fff !important;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d6d6d6;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    color: #aab7be;
  }
  .autocomplete-suggestion {
    cursor: pointer;
  }
</style>

<div class="page-header-busca" ng-init="$ctrl.initSearch()" style="z-index: 80 !important">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <label to="search-input" class="div-busca">
        <i class="icon wb-search" aria-hidden="true"></i>
        <input class="input-tags search-input-box" id="search-input" analytics-on="focus" analytics-event="Buscar_Profissionais" analytics-label="$ctrl.query" ng-model="$ctrl.query" ng-model-options="{debounce: 500}" ng-keyup="$ctrl.saveSearch()" ng-change="$ctrl.initSearch()">
      </label>
    </div>
    <div class="col-sm-3 col-xs-12">
    </div>
  </div>

</div>
<div class="row">
  <div ng-show="$ctrl.qtdProfissionaisSelecionados" class="col-sm-12 col-xs-12" style="margin:60px 0;">
    <div id="profissionais-selecionados" class="profissionais-selecionados profissionais-selecionados-horiz hidden-xs height-400" style="overflow: hidden !important;position: fixed; border-bottom: 1px solid #E4EAEC; z-index: 30; top: 130px; min-height: 1px;    width: 100%;padding-left: 1.2% !important;">
      <!-- <h3 style="width: 50px; font-size: 18px; margin-bottom: -90px; color:#526069; padding: 0 10px; font-size: 16px; font-weight: 500">Profissionais <br>Selecionados </h3> -->
      <button class="send-briefing-btn" ng-show="$ctrl.qtdProfissionaisSelecionados" id="btnEnviar" ng-click="$ctrl.enviarBriefing()" style="margin-top: 29px;">{{$ctrl.buttonSendType}} Orçamento</button>      
      <div style="overflow: visible !important; margin-top: 10px !important; height: 90px !important; width: 1920px !important">
        <div style=" overflow: visible !important;height: 90px !important; margin-left: 8%" class="wrapper-profissionais">
          <div class="profissional-selec" ng-repeat="profissionalSelecionado in $ctrl.profissionaisSelecionados track by $index" id='{{"profissional-selecionado-"+profissionalSelecionado.id}}' style="transform: scale(0.85); width: 5%;">
            <figure class="avatar-profissional">
              <span ng-hide="profissionalSelecionado.disableRemove" ng-click="$ctrl.removeProfissional(profissionalSelecionado, $index)" style="cursor:pointer; color: #fff!important">X</span>
              <div class="img-profile-default">
                <div style='background:url({{profissionalSelecionado.imagem_perfil}});background-size: 100% 100%;'></div>
              </div>
            </figure>
            <legend>&nbsp;</legend>
            <em>&nbsp;</em>
          </div>
          <div style="color:red;" ng-if="$ctrl.showDivSelecionado"></div>
        </div>
      </div>
    <small style="margin-left: 1.5%;color: #78909C;opacity: 0.7;position: absolute;left: 0;bottom: 5px;">* Você pode selecionar no máximo 10 profissionais</small>
    </div>
    <div class="col-sm-12">      
    </div>
  </div>
  <div class="page-content card-profissional">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2 col-xs-12 flex-cont">
        <div class="col-sm-12 ordenar-grade-lista">
          <span class="total-profissionais"><span ng-if="$ctrl.isSearch">Profissionais encontrados: <strong>{{$ctrl.totalRecords}}</strong> | </span>Profissionais ativos na plataforma: <strong>{{$ctrl.totalRegistered}}</strong>
          </span>
          <span>
            Ordenar por: <a href="javascript:void(0);" ng-class="{active : $ctrl.indexName === 'freelancers_hourly'}" ng-click="$ctrl.orderBy('freelancers_hourly')">Valor/h</a> | <a href="javascript:void(0);" ng-class="{active : $ctrl.indexName === 'freelancers_ranking'}" ng-click="$ctrl.orderBy('freelancers_ranking')">Rating</a>
          </span>
          <span class="bts-lista-grade full-right hidden-xs">
            <a href="javascript:void(0);" ng-click="$ctrl.changeViewType(true)" class="view-type-grid" style="cursor:default;"><i class="icon fa-th-large" aria-hidden="true"></i></a>
            <a href="javascript:void(0);" ng-click="$ctrl.changeViewType(false)" class="view-type-list" style="color: #ccc;"><i class="icon fa-th-list" aria-hidden="true"></i></a>
          </span>
        </div>

        <!-- NOTE: CARD DO PROFISSIONAL -->
        <div ng-mouseleave="$ctrl.showDescription(false)" ng-mouseenter="$ctrl.showDescription(profissional.Id)" class="view-type col-sm-6 col-xs-12  profissionais-content card-profissional_" ng-repeat="profissional in $ctrl.profissionais track by profissional.Id" ng-class="{unavailable: profissional.Active == false}">
          <div class="box-profissionais redator" id='{{"box-"+profissional.Code}}' ng-class="{'has-desc': $ctrl.viewType == 'card' }" ng-click="$ctrl.addProfissional(profissional, $event, true)">
            <div class="perfil-avaliacao">
              <figure class="avatar-profissional">
                <div class="img-profile-default">
                  <div id='{{"imagem-perfil-"+profissional.Code}}' style='background:url({{$ctrl.baseUrlAPI}}{{profissional.Photo}});background-size: 100% 100%;'></div>
                </div>
              </figure>
              
              <a href="javascript:void(0);" ng-click="$ctrl.slideOpenProfile($event, profissional.Code, 'search')" class="button-ver-perfil  hide-lista">Ver Perfil</a>
              <div class="avaliacao-star" ng-bind-html="$ctrl.searchStarRating(profissional.Rating)"></div>
              <div class="perfil ocupado">
                <a href="javascript:void(0);" ng-if="profissional.Active == false" class="texto">Ocupado</a>
              </div>
            </div>
            <div class="descricao-profissional">
              <span class="nome-profissional" ng-bind-html="profissional._highlightResult.Name.value | reduceSecondName">
                <label id='{{"label-profissional-"+profissional.Code}}' class="label-quantidade-selecionado none">
                  {{$ctrl.qtdProfissionaisSelecionados}} de {{$ctrl.qtdMaximaDeProfissionais}}
                </label>
              </span>
              <span class="profissao" ng-show="$ctrl.viewType == 'card'" ng-bind-html="profissional._highlightResult.Title.value | lowercase"></span>
              <span class="profissao" ng-show="$ctrl.viewType == 'list'" ng-bind-html="profissional._highlightResult.Title.value | lowercase"></span>
              <span class="localidade hide-lista" >{{profissional.State.UF}}, <span ng-bind-html="profissional._highlightResult.City.Name.value"></span></span>
              <span class="valor-hora hide-lista">Valor/h: {{profissional.Price}}</span>
              <a href="{{profissional.portfolio}}" target="_blank" class="link-portfolio hide-lista" ng-show="professional.Portfolio != '' && professional.Portfolio != null && professional.Portfolio != undefined">Portifólio</a>
              <div class="show-lista descricao-lista pre">
                {{profissional.resumoDescricao}}
              </div>
                <span ng-show=" $ctrl.viewType == 'card' && $ctrl.openDescription.Id == profissional.Id" style="margin-top:42px"> 
                  <br>
                  <span class="snippet-subtitulo" style="padding-top: 10px; height: unset; display: table;" ng-bind-html="$ctrl.getMatchingExp(profissional._snippetResult)[0]"></span>
                  <span class="snippet-descricao" style="padding-right: 15px;color: #78909C;font-size: 13px;" ng-bind-html="$ctrl.getMatchingExp(profissional._snippetResult)[1]"></span>
                </span>
                  <span style="margin-top:42px" ng-show="$ctrl.viewType == 'list'">
                  <br>
                  <span class="snippet-subtitulo" style="padding-top: 10px; height: unset; display: table;" ng-bind-html="$ctrl.getMatchingExp(profissional._snippetResult)[0]"></span>
                  <span class="snippet-descricao" style="padding-right: 15px;color: #78909C;font-size: 13px;" ng-bind-html="$ctrl.getMatchingExp(profissional._snippetResult)[1]"></span>
              </span>
              <span class="tags">
              <div>
                <span class="pill border" ng-repeat="tag in profissional._highlightResult.Skills track by $index">
                  <span class="pill text" ng-bind-html="tag.value"></span>
                </span>
            </div>
            </span>
          </div>
          <div class="show-lista preco-hora">
            <span class="valor-hora">Valor/h: {{profissional.Price}}</span>
            <a href="{{profissional.portfolio}}" target="_blank" class="link-portfolio" ng-show="profissional.portfolio">Portifólio</a>
          </div>
          <div class="cidade-linkperfil">
            <div class="show-lista link-perfil hideWidth">
              <a href="javascript:void(0);" ng-click="$ctrl.slideOpenProfile($event, profissional.Code, 'state')" class="button-ver-perfil">Ver Perfil</a>
            </div>
            <div class="show-lista cidade-pais hideWidth">
              {{profissional.State.UF}}, {{profissional.City.Name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" ng-class="{profissionaisSelecionados : $ctrl.qtdProfissionaisSelecionados}" style="padding:0; position:sticky !important;top: 180px;width: 23.5%;">
<div class="busca-avancada" ng-show="$ctrl.buscaAvancada" style="z-index: 60; border: unset; margin-top: -40px; padding: 18px 1%!important;">
  <div class="row">
    <form>
      <div class="col-sm-12 col-xs-12 vert-list text-center">
        <span style="font-size: 15px;margin-bottom: 5px;text-align: left;display: inherit;">
          <img style="margin-right:10px;" src="../images/slider-ico.jpg" title="Pesquisa Avançada">Pesquisa Avançada 
        </span>
          <h3 style="font-size: 14px; margin-bottom: -10px;font-weight: 300; color:#999;font-family: 'Open Sans';">Valor Hora</h3>
        <rzslider rz-slider-model="$ctrl.slideRange.minPrice" rz-slider-high="$ctrl.slideRange.maxPrice" rz-slider-options="$ctrl.slideRange.options"></rzslider>
      </div>
      <div class="col-md-12 col-xs-12 vert-list">
        <ui-select ng-model="$ctrl.filter.categoria" theme="select2" title="Selecione a categoria" on-select="$ctrl.initSearch()">
          <ui-select-match placeholder="Categoria">{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="categoria in $ctrl.categorias | filter: {Name: $select.search}">
            {{categoria.Name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-12 col-xs-12 vert-list">
        <ui-select ng-model="$ctrl.filter.segmento" theme="select2" title="Selecione o segmento" on-select="$ctrl.initSearch()">
          <ui-select-match placeholder="Segmento">{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="segmento in $ctrl.segmentos | filter: {Name: $select.search}">
            {{segmento.Name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 select-custom vert-list">
        <ui-select ng-model="$ctrl.filter.estado" theme="select2" title="Selecione o estado" on-select="$ctrl.loadCities($item)">
          <ui-select-match placeholder="UF">{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="estado in $ctrl.estados | filter: {Name: $select.search}">
            {{estado.Name}}
          </ui-select-choices>
        </ui-select>
      </div>
    
      <div class="col-md-12 col-xs-12 select-custom vert-list">
          <input ng-class="{$ctrl.filter.cidade: ng-not-empty}" ng-blur="$ctrl.hasData = false" class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.filter.cidade" ng-required="false" ng-change="$ctrl.cityQuery()" autocomplete="off">
          <ul class="list cidade">
            <li class="result cidade" ng-repeat="city in $ctrl.cityResults" ng-show="$ctrl.cityResults">
              <a ng-click="$ctrl.filter.cidade = city.value; $ctrl.initSearch()">{{ city.value }} <span class="user-count">{{ city.count }}</span></a>
            </li>
            <li class="result cidade" ng-show="!$ctrl.cityResults">
              <a><em>Nenhum profissional nesta cidade.</em></a>
            </li>
          </ul>
          
          <!-- <input class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.filter.cidade" ng-required="false" ng-change="$ctrl.setCity($event)"> -->
          <!-- <span style="padding: 1px 230px 1px 15px;border: 1px solid #e4eaec;color: #76838f;" ng-if="$ctrl.gettingCities"> Buscando...</span> -->
          
          
        <!-- <ui-select ng-model="$ctrl.filter.cidade" theme="select2" title="Selecione a cidade" on-select="$ctrl.initSearch()">
          <ui-select-match placeholder="Cidade">{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="cidade in $ctrl.cidades | filter: {Name: $select.search}">
            {{cidade.Name}}
          </ui-select-choices>
        </ui-select> -->
      </div>
      <div class="col-md-12 col-xs-12 vert-list">
        <ui-select ng-model="$ctrl.filter.disponibilidade" theme="select2" title="Selecione a disponibilidade" search-enabled="false" on-select="$ctrl.initSearch()">
          <ui-select-match placeholder="Disponibilidade">{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="disponibilidade in $ctrl.disponibilidades | filter: {Name: $select.search}">
            {{disponibilidade.Name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-11 col-xs-11">
        <div class="col-sm-11 col-xs-11">
          <button type="button" class="form-control btn btn-block btn-default btn-limpar" ng-click="$ctrl.cleanFilter()">Limpar</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>   
</div>
</div>
<div class="mask-content-pageslide"></div>
<pageslide ps-open="$ctrl.isOpen" ps-key-listener="true" ps-click-outside="false" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>

<toaster-container toaster-options="{'limit':5}"></toaster-container>