﻿@model List<Freelancers.Crowd.Domain.Entities.Tasks>

@{
    ViewBag.Title = "Tabela Financeira";
}


<div class="jumbotron">
    <h1>Tabela Financeira</h1>

    <form id="form-filter" name="form-filter" method="post" action="@Url.Action("Index","Home")">
        <div class="form-group">
            <label for="from_date">Data inicio</label>
            <input class="datepicker" data-date-format="mm/dd/yyyy" name="from_date" id="from_date" />
        </div>

        <div class="form-group">
            <label for="to_date">Data fim</label>
            <input class="datepicker" data-date-format="mm/dd/yyyy" name="to_date" id="to_date" />
        </div>


        <button type="submit" class="btn btn-default">Filtrar</button>
    </form>
</div>

<div class="row">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Job</th>
                <th>Projeto</th>
                <th>Nome do Freela</th>
                <th>Email do Freela</th>
                <th>Empresa</th>
                <th>Nome do Contato</th>
                <th>Email do Contato</th>
                <th>Valor Total</th>
                <th>Valor Freela</th>
                <th>Valor % Crowd</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].Project.Name</td>
                    <td>@Model[i].Freelancer.Name</td>
                    <td>@Model[i].Freelancer.Email</td>
                    <td>@Model[i].User.Customer.Trade</td>
                    <td>@Model[i].User.Customer.NameResponsible</td>
                    <td>@Model[i].User.Customer.EmailResponsible</td>
                    <td>@Model[i].Price.Value.ToString("C2")</td>
                    <td>@((Model[i].Price - (Model[i].Price *(decimal)0.08)).Value.ToString("C2"))</td>
                    <td>@((Model[i].Price * (decimal)0.08).Value.ToString("C2"))</td>
                    <td>@((Model[i].UpdatedAt.Value.ToString("d/M/yyyy")))</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    <script>
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            orientation: 'bottom'
        });
    </script>
    }