---
title: Chartist
layout: default.hbs
stylesheets_vendor:
- chartist-js/chartist.css
- chartist-plugin-tooltip/chartist-plugin-tooltip.css
javascripts_vendor:
- chartist-js/chartist.js
- chartist-plugin-tooltip/chartist-plugin-tooltip.min.js
javascripts_example:
- charts/chartist.js
stylesheets_example:
- charts/chartist.css
---
<!-- Page -->
<div class="page animsition" ng-controller="ChartistCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
      <li class="breadcrumb-item active">Chartist</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://gionkunz.github.io/chartist-js/" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content container-fluid">
    <!-- Panel line css animation Chart -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">CSS ANIMATION</h3>
      </div>
      <div class="panel-body">
        <!-- Example css animation Chart -->
          <div class="example-wrap">
            <div class="row row-lg">
              <div class="col-xl-9">
                <div class="example">
                  <div class="ct-chart ct-golden-section" id="exampleLineAnimation"></div>
                </div>
              </div>
              <div class="col-xl-3">
                <p class="margin-top-20">Specifying the style of your chart in CSS is not only cleaner but also enables you to use awesome CSS animations and transitions to be applied to your SVG elements!</p>
              </div>
            </div>
          </div>
          <!-- End Example css animation Chart -->
      </div>
    </div>
    <!-- End Panel Pie -->
    <!-- Panel Line -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Line</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Simple Line Chart -->
            <div class="example-wrap">
              <h4 class="example-title">Simple Line Chart</h4>
              <p>An example of a simple line chart with three series.</p>
              <div class="example">
                <div class="ct-chart" id="exampleSimpleLine"></div>
              </div>
            </div>
            <!-- End Example Simple Line Chart -->
          </div>

          <div class="col-lg-6">
            <!-- Example Line Scatter Diagram -->
            <div class="example-wrap">
              <h4 class="example-title">Line Scatter Diagram</h4>
              <p>This advanced example uses a line chart to draw a scatter diagram. The data object is created with a functional style random mechanism. There is a mobile first responsive configuration using the responsive options to show less labels on small screens.</p>
              <div class="example">
                <div class="ct-chart" id="exampleLineScatter"></div>
              </div>
            </div>
            <!-- End Example Line Scatter Diagram -->
          </div>

          <div class="col-lg-6">
            <!-- Example Line Chart With Tooltips -->
            <div class="example-wrap">
              <h4 class="example-title">Line Chart With Tooltips</h4>
              <p> This is just one of many benefits of using inline-SVG and provides you with the freedom you need in order to create exactly the experience you're looking for.</p>
              <div class="example">
                <div class="ct-chart" id="exampleTooltipsLine"></div>
              </div>
            </div>
            <!-- End Example Line Chart With Tooltips -->
          </div>

          <div class="col-lg-6">
            <!-- Example Line Chart With Area -->
            <div class="example-wrap">
              <h4 class="example-title">Line Chart With Area</h4>
              <p>This chart uses the showArea option to draw line, dots but also an area shape. Use the low option to specify a fixed lower bound that will make the area expand. You can also use the areaBase property to specify a data value that will be used to determine the area shape base position (this is 0 by default).</p>
              <div class="example">
                <div class="ct-chart" id="exampleAreaLine"></div>
              </div>
            </div>
            <!-- Example Line Chart With Area -->
          </div>

          <div class="col-lg-6">
            <!-- Example Bi-Polar Line -->
            <div class="example-wrap">
              <h4 class="example-title">Bi-Polar Line Chart With Area Only</h4>
              <p>You can also only draw the area shapes of the line chart. Area shapes will always be constructed around their areaBase (that can be configured in the options) which also allows you to draw nice bi-polar areas.</p>
              <div class="example">
                <div class="ct-chart" id="exampleOnlyArea"></div>
              </div>
            </div>
            <!-- End Example Bi Polar Line -->
          </div>

          <div class="col-lg-6">
            <!-- Example Advanced Smil Animations -->
            <div class="example-wrap">
              <h4 class="example-title">Advanced Smil Animations</h4>
              <p>Chartist provides a simple API to animate the elements on the Chart using SMIL. Usually you can achieve most animation with CSS3 animations but in some cases you'd like to animate SVG properties that are not available in CSS.</p>
              <div class="example">
                <div class="ct-chart" id="exampleLineAnimations"></div>
              </div>
            </div>
            <!-- End Example Advanced Smil Animations -->
          </div>

          <div class="col-lg-6">
            <!-- Example Svg Path Animation -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Svg Path Animation</h4>
              <p>Path animation is made easy with the SVG Path API. The API allows you to modify complex SVG paths and transform them for different animation morphing states.</p>
              <div class="example">
                <div class="ct-chart" id="examplePathAnimation"></div>
              </div>
            </div>
            <!-- Example Svg Path Animation -->
          </div>

          <div class="col-lg-6">
            <!-- Example Line Interpolation -->
            <div class="example-wrap">
              <h4 class="example-title">Line Interpolation / Smoothing</h4>
              <p>By default Chartist uses a cardinal spline algorithm to smooth the lines. However, like all other things in Chartist, this can be customized easily! </p>
              <div class="example">
                <div class="ct-chart" id="exampleSmoothingLine"></div>
              </div>
            </div>
            <!-- End Example Line Interpolation -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Line -->

    <!-- Panel Bar -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Bar</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Bi-Polar Bar -->
            <div class="example-wrap">
              <h4 class="example-title">Bi-Polar Bar Chart</h4>
              <p>A bi-plar bar chart with a range limit set with low and high. There is also an interpolation function used to skip every odd grid line / label.</p>
              <div class="example">
                <div class="ct-chart" id="exampleBiPolarBar"></div>
              </div>
            </div>
            <!-- End Example Bi Polar Bar -->
          </div>

          <div class="col-lg-6">
            <!-- Example Overlapping Bars -->
            <div class="example-wrap">
              <h4 class="example-title">Overlapping Bars On Mobile</h4>
              <p>This example makes use of label interpolation and the seriesBarDistance property that allows you to make bars overlap over each other. This then can be used to use the available space on mobile better. </p>
              <div class="example">
                <div class="ct-chart" id="exampleOverlappingBar"></div>
              </div>
            </div>
            <!-- End Example Overlapping Bars -->
          </div>

          <div class="col-lg-6">
            <!-- Example Add Peak Circles -->
            <div class="example-wrap">
              <h4 class="example-title">Add Peak Circles Using The Draw Events</h4>
              <p>With the help of draw events we are able to add a custom SVG shape to the peak of our bars.</p>
              <div class="example">
                <div class="ct-chart" id="examplePeakCirclesBar"></div>
              </div>
            </div>
            <!-- End Example Add Peak Circles -->
          </div>

          <div class="col-lg-6">
            <!-- Example Multi-Line Labels -->
            <div class="example-wrap">
              <h4 class="example-title">Multi-Line Labels</h4>
              <p>Chartist will figure out if your browser supports foreignObject and it will use them to create labels that re based on regular HTML text elements. Multi-line and regular CSS styles are just two of many benefits while using foreignObjects!</p>
              <div class="example">
                <div class="ct-chart" id="exampleMultiLabelsBar"></div>
              </div>
            </div>
            <!-- End Example Multi Line Labels -->
          </div>

          <div class="col-lg-6">
            <!-- Example Stacked Bar Chart -->
            <div class="example-wrap">
              <h4 class="example-title">Stacked Bar Chart</h4>
              <p>You can also set your bar chart to stack the series bars on top of each other easily by using the stackBars property in your configuration.</p>
              <div class="example">
                <div class="ct-chart" id="exampleStackedBar"></div>
              </div>
            </div>
            <!-- End Example Stacked Bar Chart -->
          </div>

          <div class="col-lg-6">
            <!-- Example Horizontal Bar -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Horizontal Bar Chart</h4>
              <p>Guess what! Creating horizontal bar charts is as simple as it can get. There's no new chart type you need to learn, just passing an additional option is enough.</p>
              <div class="example">
                <div class="ct-chart" id="exampleHorizontalBar"></div>
              </div>
            </div>
            <!-- End Example Horizontal Bar -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Extreme Responsive -->
            <div class="example-wrap">
              <h4 class="example-title">Extreme Responsive Configuration</h4>
              <p>As all settings of a chart can be customized with the responsive configuration override mechanism of Chartist, you can create a chart that adopts to every media condition!</p>
              <div class="example">
                <div class="ct-chart" id="exampleResponsiveBar"></div>
              </div>
            </div>
            <!-- End Example Extreme Responsive -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Bar -->

    <!-- Panel Pie -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Pie</h3>
      </div>
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Simple Pie Chart -->
            <div class="example-wrap">
              <h4 class="example-title">Simple Pie Chart</h4>
              <p>A very simple pie chart with label interpolation to show percentage instead of the actual data series value.</p>
              <div class="example">
                <div class="ct-chart" id="exampleSimplePie"></div>
              </div>
            </div>
            <!-- End Example Simple Pie Chart -->
          </div>

          <div class="col-lg-6">
            <!-- Example Simple Pie Chart Labels -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Pie Chart With Custom Labels</h4>
              <p>This pie chart is configured with custom labels specified in the data object. On desktop we use the labelOffset property to offset the labels from the center. Also labelDirection can be used to control the direction in which the labels are expanding.</p>
              <div class="example">
                <div class="ct-chart" id="exampleLabelsPie"></div>
              </div>
            </div>
            <!-- End Example Simple Pie Chart Labels -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Gauge Chart -->
            <div class="example-wrap">
              <h4 class="example-title">Gauge Chart</h4>
              <p>This pie chart uses donut, startAngle and total to draw a gauge chart.</p>
              <div class="example">
                <div class="ct-chart" id="exampleGaugePie"></div>
              </div>
            </div>
            <!-- End Example Gauge Chart -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Pie -->
  </div>
</div>
<!-- End Page -->
