---
title: Rickshaw
layout: default.hbs
stylesheets_vendor:
- rickshaw/rickshaw.css
javascripts_vendor:
- jquery-ui/jquery-ui.min.js
- d3/d3.min.js
- rickshaw/rickshaw.js
javascripts_example:
- charts/rickshaw.js
---
<!-- Page -->
<div class="page animsition" ng-controller="RickshawCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
      <li class="breadcrumb-item active">Rickshaw</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://code.shutterstock.com/rickshaw" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>

  <div class="page-content container-fluid">
    <!-- Panel Rickshaw -->
    <div class="panel">
      <div class="panel-body">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Lines -->
            <div class="example-wrap">
              <h4 class="example-title">Lines</h4>
              <div class="example rickshaw-wrap">
                <div id="exampleChart"></div>
                <div class="rickshaw-legend-wrap">
                  <div id="exampleChartLegend"></div>
                </div>
              </div>
            </div>
            <!-- End Example Lines -->
          </div>

          <div class="col-lg-6">
            <!-- Example Scatter Plot -->
            <div class="example-wrap">
              <h4 class="example-title">Scatter Plot</h4>
              <div class="example rickshaw-wrap">
                <div id="exampleScatterChart"></div>
                <div class="rickshaw-legend-wrap">
                  <div id="exampleScatterLegend"></div>
                </div>
              </div>
            </div>
            <!-- End Example Scatter Plot -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Stacked Bars -->
            <div class="example-wrap">
              <h4 class="example-title">Stacked Bars</h4>
              <div class="example rickshaw-wrap">
                <div id="exampleStackedChart"></div>
                <div class="rickshaw-legend-wrap">
                  <div id="exampleStackedLegend"></div>
                </div>
              </div>
            </div>
            <!-- End Example Stacked Bars -->
          </div>

          <div class="col-lg-6">
            <!-- Example Area -->
            <div class="example-wrap">
              <h4 class="example-title">Area</h4>
              <div class="example rickshaw-wrap">
                <div id="exampleAreaChart"></div>
                <div class="rickshaw-legend-wrap">
                  <div id="exampleAreaLegend"></div>
                </div>
              </div>
            </div>
            <!-- End Example Area -->
          </div>

          <div class="col-lg-12">
            <!-- Example Multiple Renderers -->
            <div class="example-wrap">
              <h4 class="example-title">Multiple Renderers</h4>
              <p>Bars, lines, area, and scatterplot graphs all in one setting.</p>
              <div class="example rickshaw-wrap">
                <div id="exampleMultipleChart"></div>
                <div id="exampleMultipleSlider" class="margin-top-10"></div>
                <div class="rickshaw-legend-wrap">
                  <div id="exampleMultipleLegend"></div>
                </div>
              </div>
            </div>
            <!-- End Example Multiple Renderers -->
          </div>

        </div>
      </div>
    </div>
    <!-- End Panel Rickshaw -->

  </div>
</div>
<!-- End Page -->


