.page-register-v2 {
  height: 100%;
}
.page-register-v2:before {
  background-image: url("../../images/login.jpg");
}
.page-register-v2.page-dark.layout-full:after {
  background-color: rgba(38, 50, 56, .6);
}
.page-register-v2 .page-brand-info {
  margin: 220px 100px 0 90px;
}
.page-register-v2 .page-brand-info .brand-img {
  vertical-align: middle;
}
.page-register-v2 .page-brand-info .brand-text {
  display: inline-block;
  margin: 11px 0 11px 20px;
  vertical-align: middle;
}
.page-register-v2 .page-brand-info p {
  max-width: 650px;
  opacity: .6;
}
.page-register-v2 .page-register-main {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  min-height: 100%;
  padding: 90px 60px 180px;
  color: #76838f;
  background: #fff;
}
.page-register-v2 .page-register-main .brand {
  margin-bottom: 60px;
}
.page-register-v2 .page-register-main .brand-img {
  vertical-align: middle;
}
.page-register-v2 .page-register-main .brand-text {
  display: inline-block;
  margin: 11px 0 11px 20px;
  color: #62a8ea;
  vertical-align: middle;
}
.page-register-v2 form {
  margin: 45px 0 20px;
}
.page-register-v2 form > button {
  margin-top: 38px;
}
.page-register-v2 footer {
  width:100%;  
  text-align: center;  
}
.page-register-v2 .social .icon,
.page-register-v2 .social .icon:hover,
.page-register-v2 .social .icon:active {
  color: #fff;
}
@media (min-width: 992px) {
  .page-register-v2 .page-content {
    padding-right: 500px;
  }
}
@media (max-width: 768px) {
  .page-register-v2 .page-register-main {
    padding-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-register-v2 .page-register-main {
    padding-top: 80px;
  }
  .page-register-v2 .page-brand-info {
    margin: 160px 0 0 35px;
  }
  .page-register-v2 .page-brand-info > p {
    color: transparent;
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .page-register-v2 .page-register-main {
    width: 100%;
    padding-top: 60px;
  }
  .page-register-v2 form {
    width: auto;
  }
}
@media (max-width: 480px) {
  .page-register-v2 .page-register-main {
    padding: 50px 30px 180px;
  }
  .page-register-v2 form {
    width: auto;
  }
}
