html > .overflow-ís-visible
html > body.overflow-ís-visible {
    overflow: visible !important;
}

.relative-visible {
    position: relative !important;
    overflow: visible !important; 
}

.modal-on-top {
    position: relative !important;
    top: -1100px !important;
}


.area-text-cinza-modal {
    background: #f3f3f3;
    margin: 20px -15px;
    padding: 10px 0;
}

.area-text-cinza-modal > div > div {
    padding: 15px 0;
}

.editar-perfil-foto-center {
    margin: auto;
}

.editar-perfil-foto-medium {
    width: 120px;
    height: 120px;
}

.btn-salvar-auto {
    background: #00D0A3;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.modal-text-center h3 {
    margin-top: 0px;
}

.modal-text-center .form-group {
    width: 100%;
    float: left;
    text-align: left;
}

.size-image {
    font-size: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

#profile-upload {
    background-image: url('/login/images/user.png');
    background-size: cover;
    background-position: center;
    height: 65px;
    width: 65px;
    border: 1px solid #bbb;
    margin: 10px auto;
    position: relative;
    border-radius: 250px;
    overflow: hidden;
}

#profile-upload:hover input.upload {
    display: block;
}

#profile-upload:hover .hvr-profile-img {
    display: inline-block;
}

#profile-upload * {
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

#profile-upload .fa {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    width: 100%;
    -webkit-transform: scale(.75);
}

#profile-upload:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}

#profile-upload input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

#profile-upload .hvr-profile-img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
    background: transparent;
}

#profile-upload .fa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    -webkit-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.cadastrar-foto-perfil i.fa {
    top: unset;
}
