<div id="clientes-usuarios">
  <div class="page-main">
    <div class="page-content">
      <div class="row" id="cadastro-edit-empresa" ng-show="$ctrl.isOpen">
        <form name="formCustomer" ng-submit="$ctrl.save()">
          <input ng-model="$ctrl.customer.Logo" type="hidden" id="hdLogotipo">
          <div class="col-sm-7 col-xs-12 form-dados-empresa">
            <div class="col-sm-12 col-xs-12">
              <h2 class="title-empresa">Empresa</h2>
              <input ng-model="$ctrl.customer.Name" ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Razão social">
            </div>
            <div class="col-sm-12 col-xs-12">
              <h2 class="title-empresa">Nome Fantasia</h2>
              <input ng-model="$ctrl.customer.Trade" ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Nome Fantasia">
            </div>
            <div class="col-sm-2 col-xs-12">
              <input ng-model="$ctrl.customer.QtyPersons" just-number ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Número de Funcionários">
            </div>
            <div class="col-sm-6 col-xs-12">
              <input ng-model="$ctrl.customer.CNPJ" ng-required="true" type="false" class="form-control" id="inputPlaceholder" placeholder="CNPJ" ui-br-cnpj-mask />
            </div>
            <div class="col-sm-4 col-xs-12">
              <input ng-model="$ctrl.customer.Phone" ng-required="true" type="false" class="form-control" id="inputPlaceholder" placeholder="Telefone" ui-br-phone-number />
            </div>
            <div class="col-sm-6 col-xs-12">
              <input ng-model="$ctrl.customer.InscricaoEstadual" type="text" class="form-control" id="inputPlaceholder" placeholder="Inscrição estadual">
            </div>
            <div class="col-sm-6 col-xs-12">
              <input ng-model="$ctrl.customer.InscricaoMunicipal" type="text" class="form-control" id="inputPlaceholder" placeholder="Inscrição Municipal">
            </div>
            <div class="col-sm-6 col-xs-4 border-cancel-all">
              <select id="selectEstados" class="form-control" ng-options="state as state.Name for state in $ctrl.states track by state.Id" ng-model="$ctrl.state" ng-model="$ctrl.customer.State" ng-required="true">
                <option value="">Estado</option>
              </select>
            </div>
            <!-- <div class="col-md-6 col-xs-12 select-custom vert-list">
              <input ng-class="{$ctrl.customer.City: ng-not-empty}" style="margin-top: -10px" ng-blur="$ctrl.hasData = false" class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.customer.City" ng-required="false" ng-change="$ctrl.cityQuery()" autocomplete="off">
              <ul class="list cidade">
                <li class="result cidade" ng-repeat="city in $ctrl.cityResults" ng-show="$ctrl.cityResults">
                  <a ng-click="$ctrl.customer.City = city.value; $ctrl.cityResults = false;">{{ city.value }} <span class="user-count">{{ city.count }}</span></a>
                </li>
              </ul>
            </div> -->
            <div class="col-md-6 col-xs-12" >
              <!-- <input class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.queryCidade" ng-required="false" ng-change="$ctrl.getCities($event)"> -->
              <div id="city-input"
                    ng-class="{error: !$ctrl.customer.City}"
                    angucomplete-alt 
                    placeholder="Selecione sua Cidade"
                    pause="400"
                    text-searching="Buscando.."
                    text-no-results="Nenhum resultado encontrado"
                    initial-value="$ctrl.customer.City"
                    selected-object="$ctrl.queryCidade"
                    selected-object-data="Id"
                    remote-url="https://api.crowd.br.com/Common/Cities?city="
                    title-field="Name"
                    input-class="form-control">
              </div>
             </div>
            <div class="col-sm-12 col-xs-12" style="margin-bottom:0px;">
              <div class="col-sm-5 col-xs-9  padding-none-left">
                <input ng-model="$ctrl.customer.Address" ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Rua">
              </div>
              <div class="col-sm-2 col-xs-3  padding-none-right">
                <input ng-model="$ctrl.customer.Number" ng-required="true" just-number type="text" class="form-control" id="inputPlaceholder" mask="999999" placeholder="Nº">
              </div>
              <div class="col-sm-5 col-xs-12" style="padding-right:0px;">
                <input ng-model="$ctrl.customer.CEP" ng-required="true" type="text" class="form-control" id="inputCEP" placeholder="CEP">
              </div>
            </div>
            <div class="col-sm-6 col-xs-12" style="clear: both;display: block;float: initial;">
              <input ng-model="$ctrl.customer.Complement" type="text" class="form-control" id="inputPlaceholder" placeholder="Complemento">
            </div>
            <div class="col-sm-6 col-xs-12">
              <input ng-model="$ctrl.customer.NameResponsible" ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Nome responsável">
            </div>
            <div class="col-sm-6 col-xs-12">
              <input ng-model="$ctrl.customer.EmailResponsible" ng-required="true" type="text" class="form-control" id="inputPlaceholder" placeholder="Email responsável">
            </div>
          </div>
          <div class="col-sm-5 col-xs-12 form-dados-empresa" title="Plano desta Empresa">
            <div class="col-sm-5 form-dados-empresa" title="Plano desta Empresa">
              <h2 class="title-empresa">Plano <sup style="opacity:.5">* precisa salvar</sup></h2>
              <select class="form-control" ng-model="$ctrl.customer.PlanType" id="inputPlaceholder" convert-to-number>
                <option value="1">Free</option>
                <option value="2">Smart</option>
                <option value="3">Pro</option>
                <option value="4">Enterprise</option>
              </select>
            </div>
            <div class="col-sm-7 form-dados-empresa" title="Plano desta Empresa">
              <h2 title="A senha será resetada somente para o responsável da conta" ng-if="!$ctrl.customer.PassReset" class="title-empresa">
                <input type="checkbox" style="margin-right: 10px" id="pass-reset" ng-model="$ctrl.customer.PassReset">Resetar a senha? <sup style="opacity:.5">* precisa salvar</sup>
              </h2>
              <h2 title="A senha será resetada somente para o responsável da conta" ng-if="$ctrl.customer.PassReset" class="title-empresa">
                <input type="checkbox" style="margin-right: 10px" id="pass-reset" ng-model="$ctrl.customer.PassReset">Senha resetada:<em> somoscrowd</em>
              </h2>
              <h2 title="Adiciona validade de 14 dias para este plano" ng-if="!$ctrl.customer.Trial" class="title-empresa" style="margin-top: 20px;font-style: italic;">
                <input type="checkbox" id="trial-check" ng-model="$ctrl.customer.Trial" class="ng-pristine ng-untouched ng-valid ng-empty" style="margin-right: 10px;">SEM TRIAL <sup style="opacity:.5">* precisa salvar</sup>
              </h2>
              <h2 title="Adiciona validade de 14 dias para este plano" ng-if="$ctrl.customer.Trial" class="title-empresa" style="margin-top: 20px;font-style: italic;">
                <input type="checkbox" id="trial-check" ng-model="$ctrl.customer.Trial" class="ng-pristine ng-untouched ng-valid ng-empty" style="margin-right: 10px;">TRIAL até: {{$ctrl.customer.TrialDate}}
              </h2>
            </div>
          </div>
          <div class="col-sm-5 col-xs-12 cursor" id="click-upload" title="Adicionar Imagem">
            <div class="add-image-empresa" id="my-dropzone">
              <div class="logotipo-empresa logotipo-dropzone"></div>
              <div class="placeholder-img">
                <i class="icon fa-file-image-o" aria-hidden="true"></i>
                <div class="icon-title">Logo da empresa
                  <br>(Arraste a imagem)
                  <br><em>Tamanho recomendado: 500x500</em></div>
              </div>
            </div>
            <div class="load-image-empresa">
              <span class="aviso-nova-foto" ng-show="$ctrl.hasImagem">
              <i class="icon fa-file-image-o" aria-hidden="true"></i> Clique ou arraste a imagem no bloco acima para trocar.
              </span>
              <div id="dropzone-previews" class="dropzone-previews"></div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12">
            <button type="submit" class="btn btn-sm btn-success bt-add-edit-empresa">Salvar</button>
            <button type="button" ng-click="$ctrl.cancel()" class="btn btn-sm btn-default bt-add-edit-empresa">Cancelar</button>
          </div>
        </form>
      </div>
      <span ng-show="$ctrl.error" class="alert alert-danger block">
        <strong>Ooops...&nbsp;&nbsp;&nbsp;</strong>{{$ctrl.errorMessage}}
      </span>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <button type="button" class="btn btn-outline btn-primary" ng-click="$ctrl.openForm()" ng-show="!$ctrl.isOpen">
                        <i class="icon wb-plus" aria-hidden="true"></i> Adicionar novo Cliente
                    </button>
          <span class="clientes-cadastrados">
              {{$ctrl.totalCustomers}} Clientes
            </span>
        </div>
        <div class="table-responsive">
          <div class="form-add-new-user">
            <table class="table table-hover" ng-table="$ctrl.tableParams" show-filter="true" id="customer-list">
              <tbody ng-repeat="customer in $data track by customer.Id" id='{{"row-"+customer.Id}}'>
                <tr>
                  <td>
                    <figure class="thumb-table">
                      <div class="img-profile-default">
                        <div ng-show="customer.Logo"  style='background:url({{$ctrl.baseURL + customer.Logo}}) #fff center no-repeat;background-size: 90%;'></div>
                      </div>
                    </figure>
                  </td>
                  <td class="trade" title="'Nome Fantasia'" filter="{ Trade: 'text'}" sortable="'Trade'">
                    {{customer.Trade}}
                  </td>
                  <td class="nome" title="'Responsável'" filter="{ NameResponsible: 'text'}" sortable="'NameResponsible'">{{customer.NameResponsible}}</td>
                  <td class="email" title="'E-Mail'" filter="{ EmailResponsible: 'text'}" sortable="'EmailResponsible'">{{customer.EmailResponsible}}</td>
                  <td title="'Ativa'" sortable="'Active'">
                    <switch ng-model="customer.Active" class="green" ng-change="$ctrl.statusUpdate(customer)"></switch>
                  </td>
                  <td><i class="icon fa-pencil cursor" ng-click="$ctrl.edit(customer)" aria-hidden="true" title="Editar cliente"></i></td>
                  <td><i class="icon fa-user cursor" ng-click="$ctrl.getUsers(customer)" aria-hidden="true" title="Visualizar usuários"></i></td>
                </tr>
                <tr id='{{"users-table-"+customer.Id}}' class="none">
                  <td colspan="6" class="sub-table-user">
                    <table class="table table-hover">
                      <tbody>
                        <tr id='{{"users-notfound-"+customer.Id}}' style="color:#f96868; font-size: 13px;"></tr>
                        <tr ng-repeat="user in customer.users track by user.Id">
                          <td width="45%">
                            <figure ng-click="$ctrl.enviarBriefing(user, customer, true)" class="thumb-table">
                              <div ng-mouseover="$ctrl.showIcon = true" class="radius100-a">
                                <div class="img-profile-default" ng-mouseover="$ctrl.showIcon = user.Id" ng-mouseleave="$ctrl.showIcon = undefined">
                                  <div ng-class="{ 'sp-hover' : $ctrl.showIcon == user.Id}" id='{{user.Id}}'  style='background:url({{user.Photo}});background-size: 100% 100%;' ></div>
                                  <i  class="fa fa-user" 
                                      style="font-size: 20px;
                                              color: #fff;
                                              margin-top: 4px;
                                              position: absolute;
                                              top: 7px;
                                              background: cornflowerblue;
                                              border-radius: 100%;
                                              height: 30px;
                                              width: 30px;
                                              vertical-align: middle;
                                              left: 10px;
                                              cursor: pointer;
                                              text-align: center;"
                                      aria-hidden="true">
                                  </i>                                
                                </div>
                              </div>
                            </figure>
                            {{user.Name}}</td>
                          <td width="30%">{{user.Email}}</td>
                          <td width="20%">{{user.RoleCompany}}</td>
                          <td width="5%">
                            <switch ng-if="$ctrl.showActions(user.Role)" ng-model="user.Active" ng-change="$ctrl.userStatusUpdate(user)" class="green"></switch>
                            <span ng-if="!$ctrl.showActions(user.Role)">Administrador</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="preview-template" class="none">
  <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <!--<div class="dz-filename"><span data-dz-name></span><i class="icon fa-remove remover-anexo" aria-hidden="true"></i></div>-->
      <div class="dz-size" data-dz-size></div>
      <span class="remo__ver-anexo"></span>
      <img data-dz-thumbnail />
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-success-mark"><span>✔</span></div>
    <div class="dz-error-mark"><span>✘</span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </div>
</div>
<toaster-container toaster-options="{'limit':5}"></toaster-container>
<style type="text/css">
  body {
    text-decoration: none;
  }

  .pagination.ng-table-pagination li {
    transition: none !important;
  }

</style>
