.company-report-page {
	background-color: #fff;
}

.report-header {
    width: 100%;
    position: fixed;
    padding: 5px 0 4px 70px;
    top: 7px;
    z-index: 9999;
}

.report-header h4 {
	float: left;
	display: inline-block;
	padding-right: 2.5%;
	font-weight: lighter;
}
.report-header i {
	padding-right: 10px;
	float: left;
}

input[disabled] {
    background-color: #d3d3d3;
}
.date-filter {
  margin-left: -7% !important;	
}
.report-date-filter input {
	display: inline-block;
	float: left;
	width:130px;
	margin: 0 15px;
	border-radius: 10px;
	outline: none;
}
.report-date-filter,
.report-date-filter h6 {
	display: inline-block;
}
.report-date-filter h6 {
	font-size: 14px;
	padding-left: 10px;
	margin-top: -3px;
}
.report-filter {
	padding-top: 7px;
}
rect.highcharts-point {
    fill: rgb(93, 164, 233) !important;
    stroke: unset !important;
}
.report-filter i {
	padding-top: 1px;
}
.export-report {
    padding-top: 12px;
    white-space: nowrap;
	margin-left: 5%;
}
.highcharts-legend-item {
	display: none;
}
.main-report-heading {
	font-size: 1.6rem;
}
.report-period {
	font-weight: 200;
	opacity: 0.9;
}
div.report-left {
  padding-left: 5.3%;
}
.report-page {
	padding-left:0.1%;
}
.report-info i,
.report-info h6 {
	display: inline-block;
	font-size: 14px;
}
.report-info {
	margin-top: -15px	;
}
.report-info i {
  margin-top: 8px;
  margin-right: 5px;
}
.report-info h6 {
	font-weight: 300;
	opacity: 0.7;
}
.report-range {
	margin-top: -5px;
	font-size: 12px;
	font-weight: 300;
	opacity: 0.7;
}
.updated-at {
	font-weight: 300;
	opacity: 0.7;
	font-size: 15px;
	white-space:nowrap;
}
.absolute-total {
	font-size: 15px;
	opacity: 0.9;
}
.report-right {
	text-align: right;
}
.total-value {
	font-size: 24px;
	color: #5DA4E9;
}
.chart-container {
	margin-top: 50px !important;
	margin-left: 3% !important;
}
.report-table > thead > tr > th {
	padding: 0 10px 10px 0px;
}
.report-table > thead > tr > th > input {
  border-radius: 10px;	
} 
.report-table {
  margin-left: 4.5%;
	overflow: visible;
}

.report-table > tbody:second-child {
 width: 100px;
}

.table-photo {
	width: 45px;
}
.navbar-mega {
	z-index: 60 !important;
}
.pagination li {
	-webkit-transition: none !important;
	transition: none !important;
}

.finished-tasks {
	width: 20%;
	font-weight: 300;
	font-size: 16px;
}
.table-photo {
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;	
}
.co-table-photo {
	x-margin-right: 5px;
}
.input-filter {
	border-radius: 20px !important;
}
.dropdown-download {
  width: 180px;
  padding-top: 8px;
  height: 30px;
  margin-top: -10px;	
}
.dropdown-menu {
	width: 110px;
	margin-left: 1.5vw;
	margin-top: -26px;
}

.report-date-filter > .dropdown > .dropdown-toggle:after {
	margin-left: 40px;
}
.calendar-dropdown {
	margin-top: -60px !important;
	margin-left: 25px !important;
}
.dropdown-download:hover,
.dropdown-download:focus,
.dropdown-download:active {
	background-color: transparent !important;
}
.dropdown-date {
  border-radius: 50px !important;
  margin-top: -18px;
}
.report-date-filter {
	margin-top: -3px !important;
}
text.highcharts-credits {
	display: none;
}
.ng-table-sort-header > th:active {
	background-color: transparent !important;
}
.ng-table-sort-header > th {
	text-align: left;
}
.ng-table-sort-header > th > div > span {
	padding-left:5px;
	color: #5DA4E9;
}
.ng-table th.sortable.sort-indicator::before,
.ng-table th.sortable.sort-indicator::after {
	margin-right: -40px !important;
}
.report-table > tbody > tr > td {
	text-align: left;
	font-family: "Open Sans", sans-serif;
	color:#76838f !important;
	font-size: 14px !important;
	position: relative;
	left: 10px;
	white-space: nowrap;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.highcharts-legend {
  display: none;
}
.filter-cell {
	float: left;
	position: relative;
	left:2px;
}
.spacer {
	width:50px;
	height:10px;
}
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
	background-color: transparent;
}
h2.table-title {
	color: #37474f !important;
	font-family: 'Roboto', sans-serif;
	margin-bottom: -15px !important;
	margin-right: 28% !important;
	margin-top: 30px !important;
	font-weight: 200 !important;
	opacity:0.85 !important;
	white-space:nowrap !important;
	font-size: 2.143rem !important;
}

span.sort-indicator {
	font-size: 1rem !important;
    font-family: 'Roboto', sans-serif !important;
	font-weight: 500 !important;
	white-space: nowrap !important;
}
.moment-picker {
	bottom: -120px !important;
	margin-top: 30px !important;
	width:110px;
}
.ng-table-counts {
	display: none;
}
.ng-table-pagination {
	margin-left:5%;
}
.export-report>.open>.dropdown-menu {
	margin-top: 5px;
	margin-left: -1px;
}

.report-date >.open>.dropdown-menu {
	margin-top: -26px !important;
	margin-left: 30px !important;
}
	
.dropdown-download {
	box-shadow: none !important;
}

@media screen and (min-width: 1300px) {
	.report-left {
		width: 80.5%;
	}
	.report-right {
		width: 15%;
	}
}


@media (min-width: 1200px) and (max-width:1400px) {
  div.exp-rep {
	  margin-left: -14% !important;
  }
}
@media (min-width: 1401px) and (max-width:1499px) {
	div.exp-rep {
		margin-left: -8% !important;
	}
}
@media (min-width: 1500px) and (max-width:1700px) {
	div.exp-rep {
		margin-left: -1% !important;
	}
}

@media screen and (max-width: 768px) {
	.report-header {
		display: none;
	}

}