<footer class="page-copyright">
  <p>WEBSITE BY amazingSurge</p>
  <p>© 2015. All RIGHT RESERVED.</p>
  <div class="social">
    <a href="javascript:void(0)">
      <i class="icon bd-twitter" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0)">
      <i class="icon bd-facebook" aria-hidden="true"></i>
    </a>
    <a href="javascript:void(0)">
      <i class="icon bd-dribbble" aria-hidden="true"></i>
    </a>
  </div>
</footer>
