<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="{{default description config.site.description}}">
<meta name="author" content="">

<title>{{default title page.basename}} | {{config.site.title}}</title>

<link rel="apple-touch-icon" href="{{ assets }}/images/apple-touch-icon.png">
<link rel="shortcut icon" href="{{ assets }}/images/favicon.ico">

<!-- Stylesheets -->
{{css_global "bootstrap.min.css"}}
{{css_global "bootstrap-extend.min.css"}}
{{css "site.min.css"}}
{{#isnt build true}}

<!-- Skin tools (demo site only) -->
  {{css_global "skintools.css"}}
  {{js "plugins/skintools.js"}}
{{/isnt}}

<!-- Plugins -->
<!-- {{css_vendor "animsition/animsition.css"}}-->
{{css_vendor "asscrollable/asScrollable.css"}}
{{css_vendor "switchery/switchery.css"}}
{{css_vendor "intro-js/introjs.css"}}
{{css_vendor "slidepanel/slidePanel.css"}}
{{css_vendor "flag-icon-css/flag-icon.css"}}
{{css_vendor "ngprogress/ngProgress.css"}}
{{#if stylesheets_vendor }}

<!-- Plugins For This Page -->
  {{css_vendor stylesheets_vendor}}
{{/if}}
{{#if stylesheets}}
  {{css stylesheets}}
{{/if}}
{{#if stylesheets_example}}

<!-- Page -->
  {{css_example stylesheets_example}}
{{/if}}

<!-- Fonts -->
{{> fonts }}
{{#if stylesheets_font}}
  {{css_font stylesheets_font}}
{{/if}}

<!--[if lt IE 9]>
{{js_vendor "html5shiv/html5shiv.min.js"}}
<![endif]-->

<!--[if lt IE 10]>
{{js_vendor "media-match/media.match.min.js"}}
{{js_vendor "respond/respond.min.js"}}
<![endif]-->

<!-- Scripts -->
{{js_vendor "modernizr/modernizr.js"}}
{{js_vendor "breakpoints/breakpoints.js"}}
{{js "../data/require-config.js"}}
<script>
  Breakpoints();
</script>
