<!-- Core  -->
{{js_vendor "jquery/jquery.js"}}
{{js_vendor "babel-external-helpers/babel-external-helpers.js"}}
{{js_vendor "tether/tether.min.js"}}
{{js_vendor "bootstrap/bootstrap.js"}}
{{js_vendor "angular/angular.js"}}
{{js_vendor "angular-ui-router/angular-ui-router.js"}}
{{js_vendor "ngprogress/ngprogress.js"}}
{{js_vendor "oclazyload/ocLazyLoad.js"}}
{{js_vendor "animsition/animsition.js"}}
{{js_vendor "asscroll/jquery-asScroll.js"}}
{{js_vendor "mousewheel/jquery.mousewheel.js"}}
{{js_vendor "asscrollable/jquery.asScrollable.all.js"}}
{{js_vendor "ashoverscroll/jquery-asHoverScroll.js"}}

<!-- Plugins -->
{{js_vendor "switchery/switchery.min.js"}}
{{js_vendor "intro-js/intro.js"}}
{{js_vendor "screenfull/screenfull.js"}}
{{js_vendor "slidepanel/jquery-slidePanel.js"}}
{{#if javascripts_vendor}}

<!-- Plugins For This Page -->
  {{js_vendor javascripts_vendor}}
{{/if}}

<!-- Scripts -->
{{js_global "State.js"}}
{{js_global "Component.js"}}
{{js_global "Plugin.js"}}
{{js_global "Base.js"}}
{{js_global "Config.js"}}



<!--  -->
{{js_global "configs/config-colors.js"}}
<!-- {{js "configs/config&#45;tour.js"}} -->
<!--  -->
{{js_global "components/asscrollable.js"}}
<!-- {{js_global "components/animsition.js"}} -->
{{js_global "components/slidepanel.js"}}
{{js_global "components/switchery.js"}}




{{js "sections/Menubar.js"}}
{{js "sections/GridMenu.js"}}
{{js "sections/Sidebar.js"}}
{{js "sections/PageAside.js"}}
{{js "plugins/menu.js"}}
{{js "Site.js"}}
{{js "main.js"}}



