<h3 class="titulo-upload-imagem">Imagem do perfil</h3><div class="container" style="min-height:210px"><div class="row"><div class="col-md-12"><div class="img-container" style="width:100%"><div id="image"></div></div></div></div><div class="row"><div class="col-md-12 docs-buttons align-center"><div class="btn-group"><label class="btn btn-primary btn btn-dark" for="inputImage" title="Upload image file"><input type="file" class="sr-only" id="inputImage" name="file" accept="image/*"> <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs"><span class="fa fa-upload" style="margin-right:5px"></span> Selecionar imagem</span></label></div></div><div class="col-md-12 align-center"><button type="button" id="up" class="btn btn-success" ng-click="closeDialog()">Salvar</button></div></div></div><style type="text/css">.docs-buttons{
  margin-top: 20px;
  margin-bottom: 5px;
}
.titulo-upload-imagem {
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
}
.align-center{
  text-align: center;

}</style><script type="text/javascript">$jQuery('#image').cropper({
    aspectRatio: 10 / 9,
    minContainerHeight: 300,
    minCanvasHeight: 100,
  });

  var blobURL;
  var inputImage = $jQuery('#inputImage');
  var URL        = window.URL || window.webkitURL;
  var image      = $jQuery("#image");

  if (URL){
    inputImage.change(function () {
      var files = this.files;
      var file;

      if (!image.data('cropper')) {
        return;
      }

      if (files && files.length) {
        file = files[0];

        if (/^image\/\w+$/.test(file.type)) {
          blobURL = URL.createObjectURL(file);
          image.one('built.cropper', function () {

            // Revoke when load complete
            URL.revokeObjectURL(blobURL);
          }).cropper('reset').cropper('replace', blobURL);
          inputImage.val('');
        } else {
          window.alert('Please choose an image file.');
        }
      }
    });
  } else {
    inputImage.prop('disabled', true).parent().addClass('disabled');
  }

  $jQuery('#up').on('click', function(){

    var base64      = $jQuery("#image").cropper('getCroppedCanvas').toDataURL();
    var targetImage = $jQuery('#imagem-perfil').attr('src', base64);
    $jQuery('#imagem-perfil').css('display', 'block');

  });

  document.getElementById("inputImage").click();

  $jQuery(document).ready(function(){     
    document.getElementById("inputImage").click();
  });</script>