#cadastro-profissional { background: #fff; color:#78909C;width: 100%; float: left; margin: 20px -15px; max-width: 1024px;}
#cadastro-profissional .cadastrar-foto-perfil{ width:100%;height:70px;float:left;}
#cadastro-profissional .cadastrar-foto-perfil .placeholder-foto{ overflow: hidden; background: #E1E3E4; width: 75px; height: 75px; float: left;position:absolute}
#cadastro-profissional .cadastrar-foto-perfil .placeholder-foto span {color:#53636B;line-height: 13px;display: inline-block;text-align: center;font-size: 11px;padding: 24px 11px;}
#cadastro-profissional .cadastrar-foto-perfil .placeholder-foto > img{ width: 75px;height: 75px; position: absolute;top: 0px; left: 0px;}
#cadastro-profissional .cadastrar-foto-perfil label { float: right; width:calc(100% - 90px);display:block;margin:0px;position: relative;}
#cadastro-profissional .cadastrar-foto-perfil label input{border:0px;width:auto !important;min-width:40px;padding:0px!important;float: left;display: block;}
#cadastro-profissional .cadastrar-foto-perfil label input.input-name-profissional{ color:#62A8EA;font-weight:300; font-size:18px;height: 21px;width: 150px !important;}
#cadastro-profissional .cadastrar-foto-perfil label input.input-cargo-profissional{ color:#62A8EA;font-weight:300;font-size:20px;margin-top:0px;height:15px;float: left;width: 100% !important;}
#cadastro-profissional .disponibilidade-profissional{width: 20%; float: left;}
#cadastro-profissional h3{ margin-bottom: 0;  font-weight: 300;color: #78909C; font-size: 16px; display: inline-block; position: relative;}
#cadastro-profissional .selects-cadastro-profissionais{margin-top: 45px;}
#cadastro-profissional .selects-cadastro-profissionais div:not([class^="tooltip"]) { padding: 0px; height: 35px; margin-bottom: 15px;}

#cadastro-profissional .input-group-addon {background: #EDEDED;}

#cadastro-profissional #Description {
    height: auto !important;
}

  #cadastro-profissional #Name { 
      width: auto !important;
  }

.form-experiencia-profissional textarea {
   height: auto !important; 
}



.ladda-button { width: 60px }

.disponibilidade-profissional .switch .on,
.disponibilidade-profissional .switch .off{
    color: #768392 !important;
    position: absolute;
    top: 20px;
    left: 0px;
}
.cadastrar-foto-perfil i.fa {
    position: absolute;
    top: 11px;
    left: 150px;
}
.angucomplete-row {
    margin-bottom: 0 !important;
    padding-left: 10px !important;
    background-color: #fff;
}
.input-name-profissional::focus {
    background-color: #ccc;
}
.editing {
    background-color: #ccc !important;
}
.ng-not-empty+i.fa{
    display:none_;
}
  div.page-header-busca {
    z-index: 55 !important;
  }
#cadastro-profissional .form-experiencia-profissional {margin-bottom: 10px;}
#cadastro-profissional .form-experiencia-profissional > div{border-radius: 5px; border:1px #eaeaea solid; float: left;overflow: hidden; width: 100%}
#cadastro-profissional .form-experiencia-profissional div .nome-cargo{width: 50%; float: left;}
#cadastro-profissional .form-experiencia-profissional div .nome-empresa{width: 50%; float: left;}
#cadastro-profissional .form-experiencia-profissional div .periodo{width: 50%;  float: left;}
#cadastro-profissional .form-experiencia-profissional div input,.form-experiencia-profissional div textarea{border:0px;border-radius: 0px;}
#cadastro-profissional .form-experiencia-profissional div input{border-bottom: 1px solid #eaeaea;}
#cadastro-profissional .form-experiencia-profissional div input:nth-child(2){border-left:1px solid #eaeaea; border-right: 0px}
.border-cancel-all .select2-selection{border-radius: 0px; border-left:0px !important; border-right: 0px !important;}
.border-cancel-left .select2-selection{ -webkit-border-top-left-radius: 0px;-webkit-border-bottom-left-radius: 0px;-moz-border-radius-topleft: 0px;-moz-border-radius-bottomleft: 0px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.border-cancel-right .select2-selection{-webkit-border-top-right-radius: 1px;-webkit-border-bottom-right-radius: 1px;-moz-border-radius-topright: 1px;-moz-border-radius-bottomright: 1px;border-top-right-radius: 1px;border-bottom-right-radius: 1px;}
.actions{text-align: center; float: left; width: 100%; margin:20px 0; }
.actions button{ min-width: 230px;margin: 0 5px; text-align: center; max-width: 1024px;}
.btn-linkedin{background: #1769FF}
.text-linkedin{font-size: 12px;}
.titulo-conectese{ margin-top: 0px;}
.redes-sociais-icones{left: 9px; display: inline; color: #A7B0B8;text-align: left; position: relative; width: 100%;}
.redes-sociais-icones a {color: #c3ced4;}
.redes-sociais-icones a.active {color: #62a8ea;}
.redes-sociais-icones i{margin-right: 10px;}

.input-group.input-redes input{width: 80%;float: left;}
.input-group.input-redes button{width: 20%;float: left;}

.remove-experiencia {position: absolute;top: 0px;right: -35px; opacity: 0; -webkit-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s;}
#cadastro-profissional .form-experiencia-profissional:hover .remove-experiencia {
  opacity: 1;
  display: block;
}

/* combo select */
#cadastro-profissional ul.combo-segmento { text-align: left; padding: 6px 0px;border: 1px solid #e4eaec;border-radius: 3px; position: relative; cursor: pointer;}
#cadastro-profissional ul.combo-segmento > i {    float: right;    margin-top: 0px;    color: #8f9ca2; margin-right: 15px;font-size: 12px;}
#cadastro-profissional ul.combo-segmento:after{display: none !important;}
#cadastro-profissional ul.combo-segmento > span {    color: #76838f;    padding: 17px;}
#cadastro-profissional ul.segments-list {z-index: 2000!important;padding:0px;border: 1px solid #e4eaec;border-radius: 0px; position: absolute;z-index: 9; width: 100%; top: 33px; max-height: 300px; overflow: auto; }
#cadastro-profissional ul.segments-list li {list-style: none;background: #fff; padding: 10px 20px;position: relative !important;top: 0px;padding-left: 30px;cursor:pointer}
#cadastro-profissional ul.segments-list li label{cursor: pointer; width: 100%;margin-bottom: 1px; }
#cadastro-profissional ul.segments-list li input[type=checkbox]{width:0px !important;display:none;cursor:pointer}
#cadastro-profissional ul.segments-list li input[type=checkbox]+i{width:100%;position:absolute;left: 0px;height: 100%;top: 0px;content:'';z-index:0;}
#cadastro-profissional ul.segments-list li:hover {background:#f8f8f8;}
#cadastro-profissional ul.segments-list li input[type=checkbox]:checked+i{content:"\f00c";font: normal normal normal 14px/1 FontAwesome;line-height: 41px;padding-left: 10px;    background: #f8f8f8;}
#cadastro-profissional ul.segments-list li input[type=checkbox]:checked+i:before{content:"\f00c";font: normal normal normal 14px/1 FontAwesome;}
#cadastro-profissional ul.segments-list li input[type=checkbox]:checked+i+span,
#cadastro-profissional ul.segments-list li input[type=checkbox]+i+span{z-index: 5;position: relative;}

@media (max-width:768px){
    #cadastro-profissional{
    margin:0px;
}
#cadastro-profissional > div {
    padding: 0px;
}
#cadastro-profissional > div > div,#cadastro-profissional .form-experiencia-profissional {
    padding: 0px;
}
#cadastro-profissional .form-experiencia-profissional {
    margin-top: 10px;
    }
#cadastro-profissional .cadastrar-foto-perfil {
    width: 100%;
    height: 96px;
    float: left;
    padding-top: 18px;
}
#cadastro-profissional .disponibilidade-profissional {
    width: 20%;
    float: right;
    height: 42px;
    position: absolute;
    top: -15px;
    right: 0px;
}
#cadastro-profissional .actions button {
    min-width: 150px;
    margin: 0 5px 10px 5px;
    text-align: center;
    max-width: 1024px;
}
.pull-left-xs{
    float: left !important;
}
.remove-experiencia {
    top: -42px;
    right: 0px;
    opacity: 1!important;
    padding: 4px 13px;
}
.idiomas{
    padding: 0px;
}
}
.portfolio-profissional{

}
.portfolio-profissional div{
    min-height: 300px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}
.portfolio-profissional h3{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}
.valor-hora {
    font-size: 12px;
}
.portfolio-profissional input[type=text]{
    max-width: 60%;
    float: none;
    margin-bottom: 20px;
    display: inline;
}   
.portfolio-profissional .portfolio-add-video{
    background: url('../images/bg-video-portfolio.png');
    background-size:  cover;
}
.portfolio-profissional .portfolio-add-gallery{
    background: url('../images/bg-gallery-portfolio.png');
    background-size:  cover;
}
.form-outline{
    border:1px solid #fff;
    background: none;
    color: #fff;
}
.mask-white-opacity{
    position: fixed;
        width: calc(100% - 260px);
    height: 100%;
    background:rgba(255,255,255,0.98);
    top: 100px;
    margin-left: -30px;
    z-index: 99;
    top: 66px;
    padding-top: 60px;
    overflow: auto;
    padding-bottom: 100px;
}
.last-ex-date.not-errored {
    border: 1px solid #eaeaea;
}
 
.div-upload-portfolio{
    width: 760px;
    margin: auto;
    float: none;
}
.header-popup-portfolio{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.header-popup-portfolio h3{
    padding-right:15px;
    display: inline-block;
    font-weight: 300;
    margin-top: 0px;
    border-right: 2px solid #59656C;
    color: #59656C
}
.header-popup-portfolio input{
    float: right;
    width: 50%;
    border:1px solid #59656C;
    background:none;
}
.content-upload-portfolio{
    float: left;
    width: 100%;
}
.box-upload-portfolio{
    background:#E1E3E4;
    width: 100%;
    font-weight: 300;
    height: 400px;
    padding: 20px;
}
.box-upload-portfolio > div{
    height: 100%;
}
.box-upload-portfolio h2{
    font-weight: 300;
    margin:0;
    font-size: 18px;
}
input:not([disabled])#end-date.periodo.#end-date.periodo.form-control.last-exp-date.error {
    border: 1px solid #F64A6A !important;
}
.align-vertical{
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
}
@media(max-width:1196px){
    .mask-white-opacity{
        width: 100%;
    }
}
.warning-border {
    border-bottom: 1px solid yellow;
}