/* CSS ÁREA PUBLICA CADASTRO DE PROFISSIONAIS */

body,
div,
a,
p,
strong,
section {
    font-family: 'Open Sans';
}
body {
    background: #f8f8f8;
}
.bxslider{
    width: 100%;
    float: left;

}
.header-cadastrar {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 300;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background: #242424;
}
.container-cadastro {
    font-family: 'Open Sans';
    width: 900px;
    padding-top: 60px;
    padding-bottom: 70px;
}
.input-group-addon {
    font-size: 12px;
    min-width: 84px;
    background: #ededed;
}
.container-cadastro .cadastrar-foto-perfil {
    float: left;
    width: 80%;
    height: 70px;
}
.container-cadastro .cadastrar-foto-perfil .placeholder-foto {
    position: absolute;
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #e1e3e4;
}
.container-cadastro-empresa {
    width: 580px;
}
.container-cadastro-empresa .row {
    margin-bottom: 10px;
}
.container-login{
    text-align: center;
    height: auto !important;
    min-height: 580px;
}
.btn-rosa {
    color: #fff;
    background: #f34a6a;
}
.text-center {
    text-align: center;
}
.col-right .row {
    margin-bottom: 11px;
    margin-left: 0;
}
.col-sm-6.col-xs-12.col-right {
    margin-top: 51px;
}
.inputTop {
    margin-top: 40px;
    margin-bottom: 16px;
}
.container-cadastro .cadastrar-foto-perfil .placeholder-foto span {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    padding: 24px 11px;
    text-align: center;
    color: #53636b;
}
.container-cadastro .cadastrar-foto-perfil label {
    display: block;
    position: relative;
    float: right;
    width: calc(100% - 90px);
    margin: 0;
}
.container-cadastro .cadastrar-foto-perfil label input {
    display: block;
    float: left;
    width: auto !important;
    min-width: 40px;
    padding: 0!important;
    border: 0;
}
/* combo select */
ul.combo-segmento { padding: 6px 0px;border: 1px solid #e4eaec;border-radius: 3px; position: relative; cursor: pointer;}
ul.combo-segmento:after{display: none !important;}
ul.combo-segmento > span {    color: #a3afb7;    padding: 17px;}
ul.segments-list {z-index: 2000!important;padding:0px;border: 1px solid #e4eaec;border-radius: 0px; position: absolute;z-index: 9; width: 100%; top: 33px;display: none; max-height: 300px; overflow: auto; }
ul.segments-list li {list-style: none;background: #fff;padding: 10px 20px;position: relative;top: 0px;padding-left: 30px;cursor:pointer}
ul.segments-list li label{cursor: pointer; width: 100%;margin-bottom: 1px;}
ul.segments-list li input[type=checkbox]{width:0px !important;display:none;cursor:pointer}
ul.segments-list li input[type=checkbox]+i{width:100%;position:absolute;left: 0px;height: 100%;top: 0px;content:'';z-index:0;}
ul.segments-list li:hover {    background: #f8f8f8;}
ul.segments-list li input[type=checkbox]:checked+i{content:"\f00c";font: normal normal normal 14px/1 FontAwesome;line-height: 41px;padding-left: 10px;    background: #f8f8f8;}
ul.segments-list li input[type=checkbox]:checked+i:before{content:"\f00c";font: normal normal normal 14px/1 FontAwesome;}
ul.segments-list li input[type=checkbox]:checked+i+span,ul.segments-list li input[type=checkbox]+i+span{z-index: 5;position: relative;}


.cadastrar-foto-perfil i.fa {
    position: absolute;
    top: 11px;
    left: 99px;
}
.ng-not-empty+i.fa{
    display:none;
}
.container-cadastro .cadastrar-foto-perfil label input.input-name-profissional {
    font-size: 18px;
    font-weight: 300;
    height: 21px;
    margin-top: 10px;
    color: #62a8ea;
}
.container-cadastro .cadastrar-foto-perfil label input.input-cargo-profissional {
    font-size: 12px;
    font-weight: 300;
    float: left;
    height: 15px;
    margin-top: 0;
    color: #62a8ea;
}
.container-cadastro input[type=text],
.container-cadastro input[type=email],
.container-cadastro input[type=password],
.container-cadastro textarea,
.container-cadastro select {
    background: none !important;
}
.container-cadastro select {
    cursor: pointer;
}

.container-cadastro textarea {
    margin-bottom: 17px;
}
.container-cadastro .padding-none {
    padding: 0;
}
.container-cadastro .padding-none-right {
    padding-right: 0;
}
.links a {
    font-size: 11px;
    font-weight: 600;
    margin: 5px 20px;
    text-transform: uppercase;
    color: #f7f7f7;
}
.page-faq form.login input {
    color: #7d7d7d;
}
footer .links a {
    color: #333
}
.links a.link-green {
    color: #26cf97;
}
.links a.link-blue {
    color: #3875B2;
}
.page-faq .links a {
    color: #9FA0A0;
}
.page-faq .links a.link-green {
    color: #26cf97;
}
.text-right {
    text-align: right;
}
.btn-logar {
    color: #fff;
    position: absolute !important;
    right: 43px;
    top: 10px;
    z-index: 9;
    font-size: 20px;
}
.container-cadastro h3 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    color: #78909c;
    position: relative;
    display: inline-block;
}
.bln {
    border-left: none;
}
.brn {
    border-right: none;
}
.brl-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.brr-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.fa-facebook-f {
    font-size: 18px;
    color: #3b5998;
}
.fa-linkedin-square {
    font-size: 18px;
    color: #1da1f2;
}
footer {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e3e3e3;
    background: #f6f6f6;
}
footer ul.links {
    margin-bottom: 0px;
    margin-top: 2px;
}
header {
    position: absolute;
    z-index: 10;
    top: 10px;
    opacity: 0;
    width: 100%;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
header .beta {
    position: absolute;
    top: -10px;
    right: 0;
    width: 81px;
    height: 81px;
    background: url(../images/beta.png) no-repeat;
}
.bt-cad-mobile {
    position: absolute;
    top: -9px;
    right: 10px;
}
header .links {
    margin-top: 25px;
}
header button.btn-white {
    margin-top: 28px;
    padding: 4px 32px;
}
.menu-mobile {
    font-size: 24px;
    float: left;
    color: #fff;
    margin-top: 5px;
}
.div-login {
    margin-left: -30px;
    padding: 0;
}
form.login input {
    float: left;
    width: 40%;
    padding: 2px 20px;
    border: 1px solid #c7c7c7;
    border-radius: 14px;
    background: none;
    color: #ccc;
    margin-left: 30%;
    margin-bottom: 10px;
    outline: none;
}
.page-manifesto form.login input {
    border-color: #ccc;
}
.page-manifesto form.login input::-webkit-input-placeholder {
    color: #ccc;
}
.page-manifesto form.login input:-moz-placeholder {
    color: #ccc;
}
.page-manifesto form.login input::-moz-placeholder {
    color: #ccc;
}
.page-manifesto form.login input:-ms-input-placeholder {
    color: #ccc;
}
.page-faq form.login input::-webkit-input-placeholder {
    color: #333;
}
.page-faq form.login input:-moz-placeholder {
    color: #333;
}
.page-faq form.login input::-moz-placeholder {
    color: #333;
}
.page-faq form.login input:-ms-input-placeholder {
    color: #333;
}
.page-manifesto .btn-esqueceu-senha,
.page-manifesto .btn-esqueceu-senha:hover {
    color: #3875b2;
}
form.login input:nth-child(1) {} form.login button {
    float: left;
    width: 40%;
    color: #fff;
    padding: 2px 20px;
    border: 0;
    border-radius: 10px;
    background: #202427;
    z-index: 9;
    position: relative;
    margin-left: 30%;
}

form.form-esqueceu-senha {
    display: none;
}
form.form-esqueceu-senha input::-webkit-input-placeholder {
    color: #fff;
}
form.form-esqueceu-senha input:-moz-placeholder {
    color: #fff;
}
form.form-esqueceu-senha input::-moz-placeholder {
    color: #fff;
}
form.form-esqueceu-senha input:-ms-input-placeholder {
    color: #fff;
}
.cadastrarheader {
    text-align: right;
}
.btn-white {
    color: #3875b2;
    background: #fff;
}
.fullscreen {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    min-height: 600px;
}
.facaparte {
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 45px;
    text-align: center;
    background: fixed;
}
.facaparte h3 {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
}
.facaparte p span {
    font-weight: 300;
    color: #2b3033;
}
.facaparte p {
    width: 100%;
    max-width: 678px;
    margin: auto;
    padding: 0 20px;
}
.btncadastrar {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 60px;
    padding: 5px 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    background: #f34a6a;
}
.btncadastrar:hover {
    color: #fff;
}
.btn-roxo {
    margin-right: 10px;
    background: #3875b2;
}
.clientes-crowd {
    padding-top: 113px;
    padding-bottom: 90px;
    text-align: center;
    background: #f8f8f8;
}
.clientes-crowd img {
    margin: 10px;
}
.visible-mobile {
    display: none;
}
.bg1 {
    background: url(../images/bg1.jpg);
    background-position: 50% 0;
    background-size: cover;
    min-height: 0px;
    padding-bottom: 50%;
}
.bg2 {
    background: url(../images/bg2.jpg);
    background-position: 50% 0;
    min-height: 700px;
}
.bg3 {
    background: url(../images/bg3.jpg) no-repeat;
    background-size: cover;
    min-height: 737px;
}
.bg4 {
    background: #e8ecee;
    min-height: 671px;
}
.bg5 {
    background: #e8ecee;
    min-height: 680px;
}
.bg6 {
    background: url(../images/bg6.jpg);
    background-position: 50% 0;
    background-size: cover;
    min-height: 672px;
}
.bg6 .text3 {
    font-weight: 300;
}
.bg7 {
    background: #f8f8f8;
    float: left;
    width: 100%;
}
.bg8 {
    min-height: 560px;
    background: url(../images/bg8.png) no-repeat;
    background-position: bottom center;
}
.c_bg1 {
    /* __background: url(../images/c_bg1.png);
    background-position: 50% 0;
    background-size: cover;*/
}
.c_bg2 {
    background: url(../images/c_bg2.png);
    background-position: 50% 0;
    background-size: cover;
    min-height: 758px;
}
.c_bg3 {
    background: url(../images/c_bg3.png) #F8F8F8 no-repeat;
    background-position: right;
    background-position: right center;
    min-height: 800px;
}
.c_bg4 {
    background: url(../images/c_bg4.png) #F8F8F8 no-repeat;
    background-position: left;
}
.c_bg5 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 720px;
    background: url(../images/c_bg5.png) #141919 no-repeat;
    background-position: top center;
}
.linha-bg-tempo {
    background: url(../images/bg-tempo-linha.png) no-repeat;
    background-position: center;
    width: 100%;
    height: 40px;
}
.c_bg5 h2 {
    font-family: 'Open Sans';
    font-weight: 300;
}
.c_bg6 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 780px;
    background: url(../images/c_bg6.png) #f8f8f8 no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}
.c_bg7 {
    background: url(../images/c_bg7.png);
    background-position: 50% 0;
    background-size: cover;
}
.e_bg1 {
    background: url(../images/e_bg1.png);
    background-position: 50% 0;
    background-size: cover;
}
.e_bg2 {
    padding-bottom: 22%;
    background: url(../images/e_bg2.png) #111c32 no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-top: 100px;
}
.e_bg3 {
    min-height: 650px;
    background: url(../images/e_bg3.png) #E8ECEE no-repeat;
    background-position: right 78px;
    __background-size: 49%;
}
.e_bg4 {
    position: relative;
    float: left;
    width: 100%;
    min-height: 720px;
    background: url(../images/e_bg4.png) #E8ECEE no-repeat;
    background-position: 172px bottom;
}
.e_bg5 {
    background: url(../images/e_bg5.png) #E8ECEE no-repeat;
    background-position: right;
    background-size: 41%;
    min-height: 400px;
}
.e_bg6 {
    height: 176px;
    min-height: 176px;
    background: url(../images/e_bg6.png) no-repeat;
    background-position: center;
    background-size: 100%;
}
.e_bg7 {
    background: url(../images/e_bg7.png);
    background-position: 50% 0;
    background-size: cover;
}
.m_bg1 {
    background: url(../images/manifesto-header.png);
    background-size: cover;
    min-height: 450px;
    float: left;
    position: relative;
}
.m_bg1 h1 {
    font-size: 66px;
}
.m_bg2 {
    background: url(../images/elementos-geometricos.png) #2c2c2c no-repeat;
    background-position: bottom;
    min-height: 450px;
    padding-bottom: 100px;
    float: left;
    position: relative;
}
.bg-portfolio {
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    height: 596px;
    background: url(../images/bg4.png) no-repeat;
    background-position: right top;
}
.bg-briefing {
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    height: 596px;
    background: url(../images/bg5.png) no-repeat;
    background-position: right top;
}
.bg8 .bg-briefing {
    background: url(../images/bg8_2.png) no-repeat;
    background-position: 95% bottom;
    height: 235px;
}
.bg-briefing h2,
.bg-portfolio h2 {
    margin-top: 0;
}
.title1 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    color: #fff;
}
.text-profissional1 {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
.text-profissional1 .btncad {
    padding: 2px 58px !important;
    color: #000;
    margin-top: 20px;
}
.down-page {
    width: 50px;
    text-align: center;
    color: #fff;
}
.title_somos {
    font-family: 'Open Sans';
    font-weight: 300;
    width: 100%;
    text-align: center;
    color: #fff;
}
.title_somos > span {
    display: inline-block;
    padding: 35px 108px;
    border: 10px solid #fff;
}
.title-transformando {
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 100px;
    height: 50px;
    margin-top: -25px;
    color: #fff;
}
.txt-empresa-2 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    text-align: center;
}
.txt-empresa-2 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    width: 850px;
    margin: auto;
    margin-top: 40px;
    color: #fff;
}
.txt-empresa-2 h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
}
.txt-empresa-1 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 150px;
    text-align: center;
}
.txt-empresa-1 .btn-white {
    width: 150px;
    margin-top: 23px;
    color: #000;
}
.txt-empresa-1 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    width: 850px;
    margin: auto;
    margin-top: 40px;
    color: #fff;
}
.txt-crowd-1 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.txt-empresa-1 h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
}
.txt-crowd-1 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    width: 650px;
    margin: auto;
    margin-top: 40px;
    color: #fff;
}
.text2,
.text2_lp {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    position: absolute;
    top: 50%;
    right: 150px;
    float: right;
    width: 480px;
    height: 280px;
    margin-top: -140px;
    color: #fff;
}
.text2_lp {
    top: 100px;
    width: 500px;
    margin-top: 0;
}
.texto-form-empresa {
    float: left;
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
    color: #2c3031;
}
.texto-form-empresa h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 63px;
    color: #2c3031;
}
.text3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 130px;
    float: right;
    width: 440px;
    height: 280px;
    margin-top: -140px;
}
.txt_tempo {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 150px;
    float: right;
    width: 520px;
    height: 280px;
    margin-top: -140px;
}
.txt_projeto_entregue {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    left: 150px;
    float: right;
    width: 600px;
    height: 280px;
    margin-top: 70px;
}
.txt_projeto_entregue h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    margin-bottom: 40px;
}
.txt_boleto {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    left: 50%;
    float: right;
    width: 520px;
    height: 280px;
    margin-top: 200px;
    margin-left: -245px;
}
.txt_boleto h2 {
    font-family: 'Open Sans';
    font-weight: 300;
}
.text3_lp {
    font-family: 'Open Sans';
    left: 80px;
    width: 500px;
    text-align: right;
}
.text3_lp h3 {
    font-family: 'Open Sans';
    font-weight: 300;
}
.text3 h2,
.text4 h2,
.text4_lp h2,
.text5 h2 {
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}
.text4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 0;
    left: 150px;
    float: right;
    width: 610px;
    height: 280px;
}
.text4_lp {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 100px;
    right: 172px;
    float: right;
    width: 517px;
    height: 280px;
}
.txt-empresa-4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 100px;
    left: 172px;
    float: left;
    width: 535px;
    height: 280px;

}
.txt-empresa-4 h2 {
    font-family: 'Open Sans';
    font-weight: 300;
}
.txt-empresa-5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 100px;
    left: 172px;
    float: left;
    width: 600px;
    height: 280px;
}
.txt-empresa-5 h2 {
    font-family: 'Open Sans';
    font-weight: 300;
}
.text5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 0;
    left: 150px;
    float: right;
    width: 620px;
    height: 280px;
}
.texto-manifesto {
    color: #fff;
    width: 672px;
    margin: auto;
    position: relative;
    font-weight: 300;
    line-height: 26px;
    font-size: 15px;
    margin-top: 50px;
}
.texto-manifesto span {
    color: #25CF97;
}
.texto-manifesto blockquote {
    font-style: italic;
    padding-left: 20px;
    font-size: 16px;
}
.texto-manifesto .padding40 {
    padding: 40px 0;
}
.texto-manifesto .padding20 {
    padding: 20px 0;
}
.txt-empatizamos {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
}
.txt-flexibilidade {
    font-weight: 300;
    font-size: 18px;
}
.msg-erro-landing {
    color: #f34a6a;
    display: block;
    position: absolute;
    top: 70px;
    border: 1px solid #f34a6a;
    border-radius: 18px;
    padding: 4px 14px;
    margin-left: 25%;
    z-index: 1000;
}
.msg-erro-landing .fa {
    position: absolute;
    top: -8px;
    left: 0px;
    line-height: 7px;
    font-size: 22px;
    width: 100%;
    text-align: center;
}
.line-green {
    height: 3px;
    background: #25CF97;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}
.line-green-small {
    height: 3px;
    background: #25CF97;
    width: 10%;
    margin-right: 90%;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    position: relative;
}
.text2 p {
    margin-bottom: 17px;
}
.down-page:hover {
    color: #fff;
}
.colorwhite,
.colorwhite h2 {
    color: #fff;
}
.videos {
    text-align: center;
    color: #2b2f32;
}
.videos h3 {
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 40px;
}
.videos .container {
    width: 824px;
}
.mais3000 {
    float: left;
    width: 20%;
    text-align: right;
}
.mais3000 p {
    margin-top: -10px;
    margin-right: 8px;
}
.mais3000 em {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
}
.txt-videos01 {
    margin-top: 45px;
    margin-bottom: 45px;
}
.txt-videos02 {
    font-weight: 300;
    line-height: 27px;
}
.skills-profissionais {
    float: left;
    width: 80%;
    margin-top: 16px;
    padding-left: 20px;
    text-align: left;
}
#thumbnails-videos .bxslider {
    margin-right: -1px;
    margin-left: -1px;
}
#thumbnails-videos .bxslider > .item {
    display: inline-block;
    float: left;
    cursor: pointer;
    width: 20%;
    margin-bottom: 5px;
    padding: 0 1px;
}
#thumbnails-videos .bxslider > .item img {
    width: 100%;
}
.align-left {
    text-align: left;
}
.menu-xs-mobile {
    position: absolute;
    background: #333;
    width: 100%;
    display: none;
    top: 69px;
    padding: 0px;
    margin-top: 0px !important;
}
.login-mobile {
    position: absolute;
    background: #333;
    width: 100%;
    top: 69px;
    display: none;
    padding: 10px 26px;
    margin-top: 0px !important;
}
.require {
    color: #fe365c!important;
    font-weight: 800!important;
/* font-size: 14px!important; */
/* position: absolute!important; */
    top: 10%!important;
    height: 10px!important;
/* line-height: 14px!important; */
    white-space: nowrap;
/* width: 5px; */
    display: inline-block;
    float: right;
}
.require.left {
    left: -10px;
}
.require.right {
    right: -10px;
}
.require.inline {
    display: inline-block !important;
    position: relative !important;
    width: auto;
}
.termos-uso-link {
    position: relative;
}
form.login.login-mobile {
    padding: 50px;
}
form.login.login-mobile input {
    min-width: 271px;
    margin-bottom: 10px;
}
select {
    color: #a3afb7 !important;
}
.menu-xs-mobile a {
    display: block;
    padding: 13px 10px;
    width: 100%;
}
.bg_video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(../images/c_bg1.png) no-repeat;
    background-size: cover;
}
.faixa-bg-empresa {
    background: url(../images/bg8.png) #E8ECEE center no-repeat;
    width: 100%;
    height: 151px;
    float: left;
}
.visible-xs{
    display: none;

}
.cadastrar-foto-perfil .placeholder-foto {
    width: 75px;
    height: 75px;
    float: left;
    position: absolute;
    overflow: hidden;
    background: rgb(225, 227, 228);
}
.cadastrar-foto-perfil .placeholder-foto > img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* tags input*/

ul.tag-list { padding:0px;}
ul.tag-list li {
    list-style:none;
    display:inline-block;
    background:#5A676D;
    padding:0px 40px 0px 25px;
    color:#fff;
    height:25px;
    line-height:22px;
    border-radius:30px;
    margin-right:5px;
    font-size:12px;
    position:relative;
    margin-bottom:5px;
   }
ul.tag-list li .remove-button {
    list-style:none;
    background:#3E484C;
    border-radius:14px;
    height:25px;
    position:absolute;
    right:0px;
    top:0px;
    line-height:24px;
    width:25px;
    float:right;
    text-align:center;
    cursor:pointer;
    display:inline-block;
    }

input.input.ng-valid.ng-dirty.ng-touched.ng-empty {}

.host > .tags .tag-list+input {
    border: 0px;
    height:50px;
    width:100% !important;
}
.host{
    border: 1px solid #e4eaec;
    padding:15px;
    border-radius: 3px;
}
.host > .tags.focused .tag-list+input {
    /*background:red !important; ATIVAR FUNCAO QUANDO FIZER PLACEHOLDER */
}
.host textarea:focus,.host input:focus,.host select:focus {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.placeholder-habilidades .host .tags:after {
    content: 'Marque suas principais atividades(ex: Email MKT, Logo, Site) e habilidades (ex: Photoshop, Illustrador, InDesign)';
    font-size: 15px;
    font-weight: 300;

    margin-top: -35px;
    display: block;
}
.placeholder-habilidades .host .tags.noafter:after{
    display: none;
}



 ul.suggestion-list{
    list-style: none;
    padding:0px
}
.autocomplete{ max-height: 300px; overflow: auto;}
ul.suggestion-list li {
    list-style: none;
    background: #ededed;
    padding: 5px 15px;
}

ul.suggestion-list li.selected {
    background: #d5d5d5;
}
/* tags */
.div-login .logar-sistema:focus,.div-login input {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.div-login input:focus{
    border: 1px solid #3875b2;
}
.voltar-senha{
    width: 100%;
    display: block;
    float: left;
    display: none;
}
.btn-esqueceu-senha{
    width: 100%;
    float: left;
}
.load-posts,.no-posts{
    height:70px;
    padding:0px;
    display: none;
    text-align: center;
    float:left;
    width:100%;
}
    @keyframes invalid
    {
    0%   {left:8px;}
    10%  {left:-8px;}
    30%  {left:8px;}
    60%  {left:-8px;}
    100% {left:0px;}
    }

    @-webkit-keyframes invalid /* Safari and Chrome */
    {
    0%   {left:8px;}
    10%  {left:-8px;}
    30%  {left:8px;}
    60%  {left:-8px;}
    100% {left:0px;}
    }
    .msg-erro-landing{
        animation:invalid .5s;
        -webkit-animation:invalid .5s;
    }
    .msg-error1{
        animation:invalid .5s;
        -webkit-animation:invalid .5s;
    }
    .msg-error2{
        animation:invalid .5s;
        -webkit-animation:invalid .5s;
    }
.recuperar-senha footer {    position: absolute;    bottom: 0px;}
@media (max-width: 500px) { .recuperar-senha footer {    position: relative;}}
@media (max-width: 1275px) {
    .links a {
        margin: 5px 15px;
    }
    .e_bg6 {
        background-size: 100%;
    }
}
@media (max-width: 1200px) {
    .links a {
        margin: 5px 15px;
    }
    .text2_lp {
        right: 50px;
    }
    .title-transformando {
        left: 50px;
    }
    .bg-portfolio {
        width: 1000px;
        background-size: 1000px;
    }
    .bg-briefing {
        width: 100%;
        background-size: 700px;
    }
    .bg-briefing .text5 {
        left: 20px;
    }
    .text4_lp {
        right: 115px;
    }
}
@media (max-width: 1141px) {
    .text4_lp {
        right: 50px;
    }
}
@media (max-width: 1099px) {
    .title-transformando {
        font-size: 20px;
    }
    .text4_lp {
        right: 20px;
    }
    .c_bg4 {
        background-size: 100%;
    }
    .c_bg3 {
        background-size: 43%;
    }
}
@media (max-width: 1035px) {
    .c_bg3 {
        background-size: 40%;
    }
}
@media (max-width: 1000px) {
    .c_bg3 {
        background-size: 35%;
    }
}
@media (max-width: 1020px) {
    .bg-portfolio {
        width: 900px;
        background-size: 900px;
    }
}
@media (max-width: 990px) {
    .div-logo {
        width: 100%;
        text-align: center;
    }
    header {
        padding-bottom: 10px;
        border-bottom: 1px solid #515151;
        border-bottom: 1px solid rgba(255, 255, 255, 0.27);
        background: #2c2c2c;
    top: 0;
    padding-top: 10px;
    }
    header .beta {
        background: url(../images/beta-mobile.png) no-repeat;
        background-position: right top;
        top: 0px;
    }
    .btn-logar{
        top: 30px;
    }
    .btn-esqueceu-senha {
        margin-top: 10px;
    }
    form.login{
        margin-left: 0px;
    }
    .bg-briefing {
        background-size: 624px;
    }
    .title-transformando {
        position: relative;
        top: 0;
        margin-top: 20px;
    }
    .text2_lp {
        position: relative;
        top: 0;
        right: none;
        left: 50px;
        float: left;
        margin-top: 30px;
    }
}
@media (max-width: 930px) {
    .e_bg3,
    .e_bg4,
    .e_bg5,
    .c_bg3,
    .c_bg4 {
        background: #F8F8F8
    }
    .text3_lp {
        position: relative;
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        margin-top: 50px;
        padding: 0 50px;
        text-align: left;
    }
    .text4_lp {
        position: relative;
        top: 20px;
        right: 0;
        float: left;
        width: 100%;
        height: auto;
        padding: 0 50px;
    }
    .bg-portfolio {
        width: 100%;
        background: none;
        height: auto;
        position: relative;
        float: left;
    }
    .bg-portfolio .text4 {
        width: 100%;
        padding: 0 50px;
        margin-top: 50px;
        left: 0px;
        height: auto;
        height: auto;
        float: left;
        position: relative;
    }
    .bg-briefing {
        width: 100%;
        background: none;
    }
    .bg-briefing .text5 {
        width: 100%;
        padding: 0 20px;
    }
    .visible-mobile {
        display: block;
    }
    .e_bg5 {
        min-height: 500px;
    }
    .faixa-bg-empresa {
        display: none
    }
    .faixa-bg-empresa-mobile {
        background: url(../images/bg8_mobile.png) #F8F8F8 no-repeat;
        background-size: 100%;
        width: 100%;
        height: 40px;
        float: left;
    }
    .e_bg7 {
        background-position: 33% 0%;
    }
    .e_bg2 {
        padding-top: 20px;
    }
    .e_bg1 {
        padding-bottom: 10%;
    }
    .bg1 {
        padding-bottom: 80%;
    }
    .text2 {
        position: relative;
        margin-top: 0px;
        width: 100%;
        right: 0;
        padding: 100px 50px;
        height: auto;
    }
    .text3 {
        width: 100%;
        position: relative;
        margin-top: 50px;
    }
    .bg3 {
        background: url(../images/bg3_mobile.png) #f2f3f0 no-repeat;
        background-size: 100%;
        min-height: 0;
        background-position: center bottom;
        padding-bottom: 79%;
    }
    .bg5,
    .bg4 {
        background: #f8f8f8;
    }
    .bg5 {
        padding-bottom: 50px;
    }
    .bg6 {
        background: #f8f8f8 !important;
        min-height: 0;
    }
    .facaparte {
        text-align: left;
        padding: 0 50px;
        padding-bottom: 70px;
    }
    .facaparte p {
        padding: 0px;
    }
    .text3.colorwhite,
    .text3.colorwhite h2 {
        color: #37474F !important;
    }
    .bg-briefing {
        position: relative;
        height: auto;
        float: left;
    }
    .bg-briefing .text5 {
        position: relative;
        width: 100%;
        padding: 50px;
        height: auto;
    }
    .bg8 .bg-briefing {
        height: auto;
        padding-bottom: 11%;
        background-position: center bottom;
    }
    .fullscreen.bg8 {
        background-size: 100% !important;
        background-position: center top;
        background: url(../images/bg8_mobile.png) no-repeat;
    }
    .bg-briefing .text5{
        left: 0px;
    }
}
@media (max-width: 830px) {
    .txt-mobile830 {
        position: relative;
        width: 100%;
        padding: 0 50px;
        height: auto;
        top: 10px;
    }
    .txt-mobile830 p {
        width: 100%;
    }
    .txt-mobile830 p br {
        display: none;
    }
    .txt-empresa-1 {
        margin-top: 90px;
    }
    .txt-empresa-4,
    .txt-empresa-5 {
        left: 0;
        float: left;
    }
    .txt_boleto {
        margin-top: 50px;
        height: auto;
    }
    .logo-mobile{position: absolute;
    margin: auto;
    width: 100%;
    left: 0px;
     }
}
@media (max-width: 724px) {
    .txt_projeto_entregue {
        position: relative;
        height: auto;
        right: 0;
        left: 0;
        width: 100%;
        padding: 0 50px;
    }
    .txt_boleto {
        position: relative;
        right: 0;
        left: 0;
        width: 100%;
        padding: 0 50px;
    }
    .c_bg5 {
        background: url(../images/c_bg5_mobile.png) #141919 no-repeat;
        background-position: center bottom;
        padding-bottom: 67%;
    }
    .txt_tempo {
        position: relative;
        width: 100%;
        height: auto;
        left: 0px;
        margin-top: 0px;
        padding: 0 50px;
    }
    .c_bg2 {
        background-position: left;
        padding-top: 50PX;
    }
    .title_somos > span {
        width: 95%;
        padding: 35px 0;
    }
    .fullscreen.videos {
        padding-bottom: 30px;
    }
    .texto-manifesto {
        color: #fff;
        width: 100%;
        padding: 0 20px;
    }
    .c_bg6 {
        background: url(../images/c_bg6_mobile.png) #f8f8f8 no-repeat 100%;
        padding-bottom: 46%;
        background-position: bottom;
    }
    .e_bg4 {
        min-height: 500px;
    }
    .txt-empresa-4 {
        height: auto;
    }
}
@media (max-width: 650px) {
    .txt-crowd-1 p {
        width: 100%;
        padding: 0 20px;
    }
    .txt-crowd-1 p br {
        display: none;
    }
    .txt_tempo.colorwhite {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin-top: 50px;
        padding: 0 50px;
    }
    .mais3000,
    .skills-profissionais {
        width: 100%;
        text-align: center;
    }
    .skills-profissionais br {
        display: none;
    }
    ul.links {
        margin: 0px;
        padding: 10px 0;
    }
    ul.links a {
        width: 100%;
        text-align: center;
    }
    .logo-footer {
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
    h1.title-blog {
        font-size: 26px !important;
    }
}
@media (max-width: 620px) {
    .txt-crowd-1 p {
        width: 100%;
    }
    .title_somos {
        font-size: 28px;
    }
    header .container-fluid div {
        text-align: center;
    }
    ._______________text2 {
        top: 40%;
        right: 0;
        width: 100%;
        height: auto;
        padding: 0 50px;
    }
    .title-transformando {
        left: 0;
        float: left;
        height: auto;
        margin-left: 0;
        padding: 0 50px;
    }
    .text2_lp {
        left: 0;
        margin-left: 0;
    }
    .bg6 {
        background: url(../images/bg6.jpg) #272727 no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
    .text3 {
        top: 40%;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0 50px;
    }
    .text3_lp {
        padding: 0 50px;
    }
    .e_bg2 {
        background: #111c32
    }
    .bg8 .bg-briefing {
        background-size: 95%;
    }
}
@media (max-width: 586px) {
    .txt-crowd-1 p {
        margin-bottom: 20px;
    }
    .txt-crowd-1 .btncadastrar {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .single-video iframe {
        height: 200px;
    }
}
@media (max-width: 550px) {
    .c_bg5 {
        background-size: 100%;
    }
    .linha-bg-tempo {
        background: url(../images/bg-tempo-linha_mobile.png) no-repeat;
        background-size: 100%;
    }
    .c_bg1 {
        background: url(../images/c_bg1.png) no-repeat;
        background-size: cover;
    }
}
@media (max-width: 480px) {
    .container-cadastro {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-cadastro div{
        padding:0px;

    }
     .container-cadastro div.row{
        margin:0px;
     }
      .container-cadastro div input,.container-cadastro div select,.container-cadastro div.input-group{
        margin-bottom: 10px;
      }
      .brl-none {
        border: 1px solid #e4eaec;
    }
    .inputTop {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .col-right {
        margin-top: 0px;
    }
    .container-cadastro h3 {
       margin-top: 0px;
    }
    .container-cadastro .cadastrar-foto-perfil .placeholder-foto {
        position: relative;
        margin: auto;
        display: inline-block;
        float: none;
    }
    .container-cadastro .cadastrar-foto-perfil label input {
        text-align: center;
        width: 100% !important;
    }
    .container-cadastro .cadastrar-foto-perfil label {
        width: 100%;
        float: left;
        display: block;
    }
    .container-cadastro .cadastrar-foto-perfil label {
        width: 100%;
        float: left;
        display: block;
    }
    .container-cadastro .cadastrar-foto-perfil{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .col-sm-6.col-xs-12.col-right {
    margin-top: 0px;
}
    .hidden-xs{
        display: none;
    }
    .visible-xs{
        display: block;

    }
}

@media (max-width: 450px) {
    .title_somos {
        font-size: 25px;
    }
    .title_somos > span {
        border: 5px solid #fff;
    }
    .txt_tempo br {
        display: none;
    }
    .btn-mobile-full {
        width: 94%;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 7px 0px;
        margin-left: 2%;
        margin-right: 0;
    }
    .padding-none-mobile {
        padding: 0px !important;
    }
}
@media (max-width: 400px) {
    .title-transformando {
        padding: 0 20px;
    }
    .text2 {
        ____________padding: 0 20px;
    }
    form.login.login-mobile input {
        min-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    form.login button {
        width: 50px;
        margin-left: 0px;
    }
}
/* FAQ */

.page-faq {
    background: #F8F8F8;
}
.faq {
    margin-top: 121px;
    margin-bottom: 80px;
}
.faq h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    /* width: 100%; */
    text-align: left;
    margin-top: 50px;
    margin-left: 0px;
    background: #fff;
    display: inline;
    padding: 13px 15px;
    border: 1px solid #ccc;
    border-right: 0px;
    z-index: 0;
    position: relative;
    border-bottom: 0px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.faq .panel-group {
    margin-bottom: 60px !important;
}
.faq h1 {
    font-weight: 300;
    color: #37474F;
    margin-bottom: 25px;
}
.container-faq {
    text-align: center;
    margin-bottom: 60px;
}
.panel-group .panel+.panel {
    margin-top: 0px !important;
    border-top: 0px;
}
.recuperar-senha .panel {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    border-radius: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
}
.faq .msg-erro-landing{
    color: #333 !important;
}
.panel-default>.panel-heading {
    background: #fff !important;
}
.panel-title {
    font-family: "Open Sans" !important;
    font-weight: 300 !important;
}
h4.panel-title a {
    width: 100%;
    padding-top: 20px;
    display: block;
}
h4.panel-title a[aria-expanded="true"] i {
    -ms-transform: rotate(180deg);
    /* IE 9 */

    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */

    transform: rotate(180deg);
}
h4.panel-title a:hover {
    color: #000;
    text-decoration: none;
}
h4.panel-title a:focus {
    color: #000;
    text-decoration: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fff !important;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #37474F;
    font-size: 13px;
}
.panel-group {
    margin-bottom: 20px;
    background: #fff;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top: 0px;
    border-bottom: 2px solid #ccc;
}
.border-top-none {
    border-top: 0px !important;
}
.border-bottom-none {
    border-bottom: 0px !important;
}
/* BLOG */

.thumbnail-blog img {
    max-width: 100%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.thumbnail-blog a {
    position: relative;
}
.thumbnail-blog a:hover:after {
    content: '+';
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: rgb(6, 6, 6);
    position: absolute;
    left: 0;
    font-weight: 300;
    top: 50%;
    margin-top: -32px;
}
.thumbnail-blog a:hover img {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.itens {
    float: left;
    width: 100%;
}
.item-blog,
.item-size {
    width: 25%;
    padding: 0 15px;
    float: left;
    height: auto;
}
.box-blog {
    background: #fff;
    float: left;
    border: 1px solid #efefef;
    box-shadow: 1px solid;
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    height: auto;
}
.box-blog h3 {
    line-height: 22px
}
.box-blog h3 a {
    color: #333;
    font-size: 18px;
    background: none;
}
.box-blog h3 a:hover {
    color: #26cf97;
    text-decoration: none;
}
.box-blog .text-blog {
    padding: 20px;
    float: left;
}
.blog-single {
    background: #fff;
    float: left;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
}
.blog-single .container {
    max-width: 800px;
    width: 100%;
}
.blog-listagem {
    padding-top: 50px;
}
.blog-single .container img {
    max-width: 100%;
    height: auto;
}
.black-mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.bg-blog {
    background: url(../images/c_bg1.png) no-repeat;
    background-size: cover;
}
.bg-blog h1 {
    font-weight: 800;
    font-size: 66px;
}
.blog-single .container {
    background: #fff;
    padding-bottom: 100px;
}
.black-mask h1 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 10%;
}
.item {
    width: 25%;
    padding: 10px;
}
@media (max-width: 1100px) {
    .item {
        width: 33%;
        padding: 10px;
    }
}
@media (max-width: 780px) {
    .item {
        width: 50%;
        padding: 10px;
    }
}
@media (max-width: 460px) {
    .item {
        width: 100%;
        padding: 10px;
    }
}
