@font-face {
  font-family: "Iconic";
  src: url("./open-iconic.eot");
  src: url("./open-iconic.eot?#iconic-sm") format("embedded-opentype"), url("./open-iconic.woff") format("woff"), url("./open-iconic.ttf") format("truetype"), url("./open-iconic.otf") format("opentype"), url("./open-iconic.svg#iconic-sm") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="io-"],
[class*=" io-"] {
  font-family: "Iconic";
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0); }

.io-account-login:before {
  content: "\e000"; }

.io-account-logout:before {
  content: "\e001"; }

.io-action-redo:before {
  content: "\e002"; }

.io-action-undo:before {
  content: "\e003"; }

.io-align-center:before {
  content: "\e004"; }

.io-align-left:before {
  content: "\e005"; }

.io-align-right:before {
  content: "\e006"; }

.io-aperture:before {
  content: "\e007"; }

.io-arrow-bottom:before {
  content: "\e008"; }

.io-arrow-circle-bottom:before {
  content: "\e009"; }

.io-arrow-circle-left:before {
  content: "\e00a"; }

.io-arrow-circle-right:before {
  content: "\e00b"; }

.io-arrow-circle-top:before {
  content: "\e00c"; }

.io-arrow-left:before {
  content: "\e00d"; }

.io-arrow-right:before {
  content: "\e00e"; }

.io-arrow-thick-bottom:before {
  content: "\e00f"; }

.io-arrow-thick-left:before {
  content: "\e010"; }

.io-arrow-thick-right:before {
  content: "\e011"; }

.io-arrow-thick-top:before {
  content: "\e012"; }

.io-arrow-top:before {
  content: "\e013"; }

.io-audio-spectrum:before {
  content: "\e014"; }

.io-audio:before {
  content: "\e015"; }

.io-badge:before {
  content: "\e016"; }

.io-ban:before {
  content: "\e017"; }

.io-bar-chart:before {
  content: "\e018"; }

.io-basket:before {
  content: "\e019"; }

.io-battery-empty:before {
  content: "\e01a"; }

.io-battery-full:before {
  content: "\e01b"; }

.io-beaker:before {
  content: "\e01c"; }

.io-bell:before {
  content: "\e01d"; }

.io-bluetooth:before {
  content: "\e01e"; }

.io-bold:before {
  content: "\e01f"; }

.io-bolt:before {
  content: "\e020"; }

.io-book:before {
  content: "\e021"; }

.io-bookmark:before {
  content: "\e022"; }

.io-box:before {
  content: "\e023"; }

.io-briefcase:before {
  content: "\e024"; }

.io-british-pound:before {
  content: "\e025"; }

.io-browser:before {
  content: "\e026"; }

.io-brush:before {
  content: "\e027"; }

.io-bug:before {
  content: "\e028"; }

.io-bullhorn:before {
  content: "\e029"; }

.io-calculator:before {
  content: "\e02a"; }

.io-calendar:before {
  content: "\e02b"; }

.io-camera-slr:before {
  content: "\e02c"; }

.io-caret-bottom:before {
  content: "\e02d"; }

.io-caret-left:before {
  content: "\e02e"; }

.io-caret-right:before {
  content: "\e02f"; }

.io-caret-top:before {
  content: "\e030"; }

.io-cart:before {
  content: "\e031"; }

.io-chat:before {
  content: "\e032"; }

.io-check:before {
  content: "\e033"; }

.io-chevron-bottom:before {
  content: "\e034"; }

.io-chevron-left:before {
  content: "\e035"; }

.io-chevron-right:before {
  content: "\e036"; }

.io-chevron-top:before {
  content: "\e037"; }

.io-circle-check:before {
  content: "\e038"; }

.io-circle-x:before {
  content: "\e039"; }

.io-clipboard:before {
  content: "\e03a"; }

.io-clock:before {
  content: "\e03b"; }

.io-cloud-download:before {
  content: "\e03c"; }

.io-cloud-upload:before {
  content: "\e03d"; }

.io-cloud:before {
  content: "\e03e"; }

.io-cloudy:before {
  content: "\e03f"; }

.io-code:before {
  content: "\e040"; }

.io-cog:before {
  content: "\e041"; }

.io-collapse-down:before {
  content: "\e042"; }

.io-collapse-left:before {
  content: "\e043"; }

.io-collapse-right:before {
  content: "\e044"; }

.io-collapse-up:before {
  content: "\e045"; }

.io-command:before {
  content: "\e046"; }

.io-comment-square:before {
  content: "\e047"; }

.io-compass:before {
  content: "\e048"; }

.io-contrast:before {
  content: "\e049"; }

.io-copywriting:before {
  content: "\e04a"; }

.io-credit-card:before {
  content: "\e04b"; }

.io-crop:before {
  content: "\e04c"; }

.io-dashboard:before {
  content: "\e04d"; }

.io-data-transfer-download:before {
  content: "\e04e"; }

.io-data-transfer-upload:before {
  content: "\e04f"; }

.io-delete:before {
  content: "\e050"; }

.io-dial:before {
  content: "\e051"; }

.io-document:before {
  content: "\e052"; }

.io-dollar:before {
  content: "\e053"; }

.io-double-quote-sans-left:before {
  content: "\e054"; }

.io-double-quote-sans-right:before {
  content: "\e055"; }

.io-double-quote-serif-left:before {
  content: "\e056"; }

.io-double-quote-serif-right:before {
  content: "\e057"; }

.io-droplet:before {
  content: "\e058"; }

.io-eject:before {
  content: "\e059"; }

.io-elevator:before {
  content: "\e05a"; }

.io-ellipses:before {
  content: "\e05b"; }

.io-envelope-closed:before {
  content: "\e05c"; }

.io-envelope-open:before {
  content: "\e05d"; }

.io-euro:before {
  content: "\e05e"; }

.io-excerpt:before {
  content: "\e05f"; }

.io-expand-down:before {
  content: "\e060"; }

.io-expand-left:before {
  content: "\e061"; }

.io-expand-right:before {
  content: "\e062"; }

.io-expand-up:before {
  content: "\e063"; }

.io-external-link:before {
  content: "\e064"; }

.io-eye:before {
  content: "\e065"; }

.io-eyedropper:before {
  content: "\e066"; }

.io-file:before {
  content: "\e067"; }

.io-fire:before {
  content: "\e068"; }

.io-flag:before {
  content: "\e069"; }

.io-flash:before {
  content: "\e06a"; }

.io-folder:before {
  content: "\e06b"; }

.io-fork:before {
  content: "\e06c"; }

.io-fullscreen-enter:before {
  content: "\e06d"; }

.io-fullscreen-exit:before {
  content: "\e06e"; }

.io-globe:before {
  content: "\e06f"; }

.io-graph:before {
  content: "\e070"; }

.io-grid-four-up:before {
  content: "\e071"; }

.io-grid-three-up:before {
  content: "\e072"; }

.io-grid-two-up:before {
  content: "\e073"; }

.io-hard-drive:before {
  content: "\e074"; }

.io-header:before {
  content: "\e075"; }

.io-headphones:before {
  content: "\e076"; }

.io-heart:before {
  content: "\e077"; }

.io-home:before {
  content: "\e078"; }

.io-image:before {
  content: "\e079"; }

.io-inbox:before {
  content: "\e07a"; }

.io-infinity:before {
  content: "\e07b"; }

.io-info:before {
  content: "\e07c"; }

.io-italic:before {
  content: "\e07d"; }

.io-justify-center:before {
  content: "\e07e"; }

.io-justify-left:before {
  content: "\e07f"; }

.io-justify-right:before {
  content: "\e080"; }

.io-key:before {
  content: "\e081"; }

.io-laptop:before {
  content: "\e082"; }

.io-layers:before {
  content: "\e083"; }

.io-lightbulb:before {
  content: "\e084"; }

.io-link-broken:before {
  content: "\e085"; }

.io-link-intact:before {
  content: "\e086"; }

.io-list-rich:before {
  content: "\e087"; }

.io-list:before {
  content: "\e088"; }

.io-location:before {
  content: "\e089"; }

.io-lock-locked:before {
  content: "\e08a"; }

.io-lock-unlocked:before {
  content: "\e08b"; }

.io-loop-circular:before {
  content: "\e08c"; }

.io-loop-square:before {
  content: "\e08d"; }

.io-loop:before {
  content: "\e08e"; }

.io-magnifying-glass:before {
  content: "\e08f"; }

.io-map-marker:before {
  content: "\e090"; }

.io-map:before {
  content: "\e091"; }

.io-media-pause:before {
  content: "\e092"; }

.io-media-play:before {
  content: "\e093"; }

.io-media-record:before {
  content: "\e094"; }

.io-media-skip-backward:before {
  content: "\e095"; }

.io-media-skip-forward:before {
  content: "\e096"; }

.io-media-step-backward:before {
  content: "\e097"; }

.io-media-step-forward:before {
  content: "\e098"; }

.io-media-stop:before {
  content: "\e099"; }

.io-medical-cross:before {
  content: "\e09a"; }

.io-menu:before {
  content: "\e09b"; }

.io-microphone:before {
  content: "\e09c"; }

.io-minus:before {
  content: "\e09d"; }

.io-monitor:before {
  content: "\e09e"; }

.io-moon:before {
  content: "\e09f"; }

.io-move:before {
  content: "\e0a0"; }

.io-musical-note:before {
  content: "\e0a1"; }

.io-paperclip:before {
  content: "\e0a2"; }

.io-pencil:before {
  content: "\e0a3"; }

.io-people:before {
  content: "\e0a4"; }

.io-person:before {
  content: "\e0a5"; }

.io-phone:before {
  content: "\e0a6"; }

.io-pie-chart:before {
  content: "\e0a7"; }

.io-pin:before {
  content: "\e0a8"; }

.io-play-circle:before {
  content: "\e0a9"; }

.io-plus:before {
  content: "\e0aa"; }

.io-power-standby:before {
  content: "\e0ab"; }

.io-print:before {
  content: "\e0ac"; }

.io-project:before {
  content: "\e0ad"; }

.io-pulse:before {
  content: "\e0ae"; }

.io-puzzle-piece:before {
  content: "\e0af"; }

.io-question-mark:before {
  content: "\e0b0"; }

.io-rain:before {
  content: "\e0b1"; }

.io-random:before {
  content: "\e0b2"; }

.io-reload:before {
  content: "\e0b3"; }

.io-resize-both:before {
  content: "\e0b4"; }

.io-resize-height:before {
  content: "\e0b5"; }

.io-resize-width:before {
  content: "\e0b6"; }

.io-rss-alt:before {
  content: "\e0b7"; }

.io-rss:before {
  content: "\e0b8"; }

.io-script:before {
  content: "\e0b9"; }

.io-share-boxed:before {
  content: "\e0ba"; }

.io-share:before {
  content: "\e0bb"; }

.io-shield:before {
  content: "\e0bc"; }

.io-signal:before {
  content: "\e0bd"; }

.io-signpost:before {
  content: "\e0be"; }

.io-sort-ascending:before {
  content: "\e0bf"; }

.io-sort-descending:before {
  content: "\e0c0"; }

.io-spreadsheet:before {
  content: "\e0c1"; }

.io-star:before {
  content: "\e0c2"; }

.io-sun:before {
  content: "\e0c3"; }

.io-tablet:before {
  content: "\e0c4"; }

.io-tag:before {
  content: "\e0c5"; }

.io-tags:before {
  content: "\e0c6"; }

.io-target:before {
  content: "\e0c7"; }

.io-task:before {
  content: "\e0c8"; }

.io-terminal:before {
  content: "\e0c9"; }

.io-text:before {
  content: "\e0ca"; }

.io-thumb-down:before {
  content: "\e0cb"; }

.io-thumb-up:before {
  content: "\e0cc"; }

.io-timer:before {
  content: "\e0cd"; }

.io-transfer:before {
  content: "\e0ce"; }

.io-trash:before {
  content: "\e0cf"; }

.io-underline:before {
  content: "\e0d0"; }

.io-vertical-align-bottom:before {
  content: "\e0d1"; }

.io-vertical-align-center:before {
  content: "\e0d2"; }

.io-vertical-align-top:before {
  content: "\e0d3"; }

.io-video:before {
  content: "\e0d4"; }

.io-volume-high:before {
  content: "\e0d5"; }

.io-volume-low:before {
  content: "\e0d6"; }

.io-volume-off:before {
  content: "\e0d7"; }

.io-warning:before {
  content: "\e0d8"; }

.io-wifi:before {
  content: "\e0d9"; }

.io-wrench:before {
  content: "\e0da"; }

.io-x:before {
  content: "\e0db"; }

.io-yen:before {
  content: "\e0dc"; }

.io-zoom-in:before {
  content: "\e0dd"; }

.io-zoom-out:before {
  content: "\e0de"; }
