
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'uikit/icons.html'}}">Icons</a></li>
      <li class="breadcrumb-item active">{{iconname}}</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="{{iconlist.homepage}}" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row padding-vertical-30">
      <div class="col-md-12 text-xs-center">
        <h2>Search from {{iconname}}.</h2>
        <form role="search">
          <div class="input-search">
            <input type="text" class="form-control round" placeholder="Search icon...">
            <button type="submit" class="input-search-btn">
              <i class="icon wb-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
        <div class="margin-bottom-25">
          <div class="asRange" id="icon_change"  data-namespace="rangeUi" data-step="1" data-min="16" data-max="64" data-value="24"></div>
          <span id="icon_size">24px</span>
        </div>
      </div>
    </div>
    {{#if iconlist.group}}
      {{#eachProperty iconlist.icons}}
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">{{key}}</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row">
          {{#each value}}
          <div class="col-xl-1 col-lg-2 col-md-3 col-xs-4 icondemo-wrap vertical-align" data-name="{{this}}">
            <div class="icondemo vertical-align-middle">
              <i class="icon {{../../iconlist.prefix}}-{{this}}" aria-hidden="true"></i>
              <div class="icon-title">{{this}}</div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
      {{/eachProperty}}
    {{else}}
    <div class="panel">
      <div class="panel-body container-fluid">
         <div class="row">
          {{#each iconlist.icons}}
          <div class="col-xl-1 col-lg-2 col-md-3 col-xs-4 icondemo-wrap vertical-align" data-name="{{this}}">
            <div class="icondemo vertical-align-middle">
              <i class="icon {{../iconlist.prefix}}-{{this}}" aria-hidden="true"></i>
              <div class="icon-title">{{this}}</div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
