.div-busca {
  background: #fbfcfc;
  border: 1px solid #ccc !important;
  width: 100%;
  border-radius: 20px;
  height: 34px;
}

.profissionaisSelecionados {
  top: 282px!important
}
.is-prospect {
  font-size: 30px !important;
}
.search-input-box {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  width: 90%;
}

#search-input {
  padding-left: 13px;
}

#search-input::-webkit-input-placeholder {
  padding-left: 0px;
}

#search-input:-ms-input-placeholder {
  padding-left: 0px;
}

#search-input::placeholder {
  padding-left: 0px;
}

.btn-limpar:hover {
  background-color: #5a676d !important;
}

span.pill.border {
  border: 1px solid #83cdc5 !important;
  background: transparent !important;
}

span.pill.text {
  background: transparent !important;
  color: #83cdc5 !important;
  border: none !important
}

.box-ativo span.pill.text {
  color: white !important
}

.box-ativo span.pill.border {
  border-color: white !important
}

.up-down-icon {
  float: right;
  width: 12px;
  margin-left: 12px;
}

.up-down-icon i {
  float: right;
  margin-top: 0px;
  margin-bottom: -8px;
}

.confirm-freelancer {
  background-color: #4dcda4 !important;
  border-radius: 40px !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 12px !important;
  letter-spacing: 1.1px;
}

.alert-freelancer {
  padding-top: 10px !important;
  padding-bottom: 50px !important;
  padding-left: 91px !important;
  padding-right: 91px !important;
}

.div-busca .wb-search {
  float: left;
  text-align: center;
  height: 100%;
  width: 45px;
  padding: 10px 0;
  background-color: #ccc;
  border-radius: 20px 0 0 20px;
}

.site-navbar {
  z-index: 10 !important;
}

.page-header-busca {
  z-index: 10 !important;
}

.send-briefing-btn {
  width: 130px;
  height: 30px;
  border-radius: 50px;
  border: none;
  margin-bottom: 50px;
  bottom: 0px;
  top: 129px;
  left: 6px;
  z-index: 9999999;
  color: #fff;
  background-color: #526069;
  float: left;
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .send-briefing-btn {
    left: 6px
  }
}

.profissionais-selecionados-horiz {
  height: 110px !important;
  background-color: #f6f6f6 !important;
  position: relative;
  padding: 10px 15px;
  margin-top: 20px;
  x-overflow-x: hidden !important;
}

.wrapper-profissionais {
  margin-left: 16.5%;
}

.unavailable {
  opacity: 0.8;
  -webkit-filter: saturate(.3);
  filter: saturate(.3);
  pointer-events: none;
}

@media (min-width: 771px) and (max-width: 905px) {
  .wrapper-profissionais {
    margin-left: 17%;
  }
}

@media (min-width: 906px) and (max-width: 1280px) {
  .wrapper-profissionais {
    margin-left: 8%;
    overflow: auto !important;
    height: 90px !important;
    margin-left: 8%;
    max-width: 59%;
  }

  .send-briefing-btn {
    left: 6px;
    top: 0;
    position: relative;
    margin-bottom: 42px;
    bottom: 0;
  }

  .search-input-box {
    width: 420px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .wrapper-profissionais {
    margin-left: 8%;
    overflow: auto !important;
    height: 90px !important;
    margin-left: 8%;
    max-width: 71%;
  }

  .send-briefing-btn {
    left: 6px;
    top: 0;
    position: relative;
    margin-bottom: 42px;
    bottom: 0;
  }

  .search-input-box {
    width: 430px;
  }
}

.profissionais-selecionados > .scrollable-content-vertical {
  overflow-y: visible !important;
}

.content-horiz {
  margin-left: 12%;
}

.search-input-box:active,
.search-input-box:focus {
  outline: none;
}

.modal-payment {
  width: 600px !important;
  white-space: nowrap !important;
  padding-top: 60px !important;
  padding-bottom: 80px !important;
  padding-left: 60px !important;
  padding-right: 80px !important;
  border-radius: 20px !important;
}

.fixed-pos {
  position: fixed !important;
}

.header-freela {
  color: #afafaf;
  opacity: 0.8;
}

a.bt-busca-avancada {
  margin-top: 5px;
  display: block;
}

.dropdown {
  height: 100%;
  float: left;
  cursor: pointer;
}

.dropdown ul.dropdown-menu {
  background: #fbfcfc;
  top: 58px;
  color: #77909b;
  padding: 15px 0px;
}

.dropdown ul.dropdown-menu li {
  background: #fbfcfc;
  top: 27px;
  padding: 10px 35px;
  cursor: pointer;
}

.dropdown ul.dropdown-menu li:hover {
  background: #f6f8f8;
}

span#selecione-categoria {
  background: #5a676d;
  float: left;
  height: 100%;
  display: block;
  color: #fff;
  padding: 0px 12px;
  border-radius: 10px;
  max-width: 180px;
  width: 165px;
  text-align: center;
  overflow: hidden;
}

span.nome-profissional.ng-binding {
    text-transform: uppercase;
}

.ui-select-container.select2.select2-container.ng-not-empty a {
  border-color: #4fb0a5;
}

.select-profissional {
  float: left;
  padding: 4px 12px 4px 24px;
  border-radius: 30px;
  color: #7a858f;
  background: #fdfefe;
  height: 100%;
  border: 1px solid #edf1f1;
  font-weight: 300;
}

.select-dropdown {
  float: left;
  padding: 4px 12px 4px 24px;
  border-radius: 5px;
  color: #7a858f;
  background: #fff;
  height: 100%;
  border: 1px solid #edf1f1;
  font-weight: 300;
}

.tags-input {
  float: left;
  width: 70%;
}

.dropdown ul.dropdown-menu li.cat-check:before {
  content: "\f00c";
  display: block;
  position: absolute;
  margin-left: -20px;
  font-family: FontAwesome;
}

.dropdown ul.dropdown-menu li.cat-check {
  background: #f6f8f8;
}

.tags.focused {
  background: none;
  border: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.page-header-busca .input-tags .tags {
  background: none;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}

.page-header-busca .input-tags .tags ul.tag-list {
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  margin-left: 10px;
  height: 48px;
  overflow-x: visible;
  float: left;
  /* max-width: 650px;*/
  max-width: calc(100% - 20px);
  margin-right: 15px;
}

.page-header-busca .input-tags .tags .tag-item {
  background: #5a676d;
  border: 0px;
  list-style: none;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  float: none;
  padding: 4px 20px;
  padding-right: 0px;
  margin: 0 5px;
  display: inline;
  white-space: nowrap;
}

.page-header-busca .input-tags a.remove-button {
  background: #3e484c;
  padding: 4px 9px;
  border-radius: 14px;
  margin-left: 4px;
  cursor: pointer;
}

.page-header-busca .input-tags .tags .tag-item.selected {
  background: #c73e3e;
}

.page-header-busca .input-tags .tag-item.selected a.remove-button {
  background: rgba(0, 0, 0, 0.31);
}

.page-header-busca .input-tags input {
  border: 0px;
  height: 32px;
  float: left;
  background: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 190px !important;
  text-align: left;
  border-radius: initial;
  position: absolute;
}

.div-busca ul.suggestion-list {
  float: left;
  position: absolute;
  background: #fbfcfc;
  z-index: 1;
  top: 34px;
  right: 0px;
  width: 100%;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
  max-height: 400px;
  min-width: 200px;
  overflow: auto;
}

.div-busca .suggestion-list {
  list-style: none;
  padding: 0px;
}

.div-busca .suggestion-list li {
  background: #fbfcfc;
  top: 27px;
  cursor: pointer;
  list-style: none;
  padding: 10px 35px;
  border-top: 1px solid #fbfcfc;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #fbfcfc;
}

.div-busca .suggestion-list li em {
  color: #263238;
  font-weight: bold;
  font-style: normal;
  border-radius: 1px;
  padding: 0px 0px;
}

.no-placeholder {
  max-width: 0px !important;
  float: right !important;
  position: absolute;
  text-align: right;
  margin-right: 10px;
  border-radius: 100%;
}

.input-tags.ng-not-empty {
  max-width: 200px !important;
}
/*input.ng-not-empty{
  max-width: 200px !important;
}*/

.div-busca .suggestion-list .selected {
  background: #f6f8f8;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.div-busca .suggestion-list li:hover {
  background: #f6f8f8;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

input.input.ng-pristine.ng-valid.ng-empty.ng-touched {
  background: none;
  border: 0px;
}

.page-header-busca .host {
  float: left;
  position: relative;
  height: 33px;
  margin-left: 5px;
  /* width: calc(100% - 280px);*/
}

.page-header-busca .host .tags {
  width: auto;
  float: left;
  height: 35px;
  /* overflow: hidden;*/
  width: 100%;
  max-width: 420px;
  position: relative;
}
/* BUSCA AVANCADA */

.page-header-busca {
  padding: 26px 30px;
  background: #f6f8f8;
  width: 100%;
  border-bottom: 1px solid #e4eaec;
  position: -webkit-sticky;
  position: sticky;
  top: 66px;
  left: 260px;
  right: 0px;
  width: auto;
  z-index: 1000;
}

.busca-avancada .row > div {
  margin: 0 10px;
  float: left;
}

.busca-avancada {
  border-bottom: 1px solid #e4eaec;
  border-top: 1px solid #e4eaec;
  padding: 18px 30px !important;
  width: 100%;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  left: 260px;
  width: auto;
  z-index: 200;
  right: 0px;
  top: 152px;
}

.busca-avancada .btn-limpar {
  margin-left: 28%;
  width: 60%;
  border-radius: 50px !important;
  background-color: white;
  color: grey;
  margin-top: 20px;
}

.busca-avancada .btn-limpar:hover {
  background-color: #4fb0a5!important;
  color: white !important;
  font-weight: unset !important
}

.busca-avancada .up-down-icon {
  margin-top: 4px;
}

.busca-avancada .select-dropdown {
  height: 37px;
  line-height: 28px;
}

.busca-avancada .dropdown ul.dropdown-menu {
  top: 35px;
}

.page-content {
  background: #fff;
  color: #e4eaec;
  /*   margin-top: 87px;*/
  -webkit-transition: all linear 0.6   s;
  -o-transition: all linear 0.6s;
  -webkit-transition: all linear 0.6s;
  transition: all linear 0.6s;
}

.busca-avancada + .page-content {
  margin-top: 10px;
}

.busca-avancada.ng-hide + .page-content {
  margin-top: 10px;
}

.box-profissionais {
  background: #fff;
  padding: 23px 0px 23px 25px;
  font-family: "Open Sans";
  border-radius: 5px;
  border-top: #DDD 1px solid;
  border-bottom: #EEE 1px solid;
  border-right: #DDD 1px solid;
  margin-bottom: 30px;
  /* -webkit-box-shadow: 2px 0px 6px 0px rgba(222, 222, 222, 1);
  box-shadow: 2px 0px 6px 0px rgba(222, 222, 222, 1); */
  float: left;
  width: 100%;
  max-height: 215px;
  cursor: pointer;
}
.lista-profissional .box-profissionais {
  max-height: unset;
}

.avatar-profissional {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.box-profissionais em, .search-highlight {
  background-color: yellow;
  padding: 2px;
  color: black;
  font-style: unset;
}
.has-desc {
  /* height: 195px; */
  padding-bottom: 23px;
  cursor: pointer;
  overflow: hidden !important;
}

.has-desc > .descricao-profissional > .tags {
  margin-top: 7px;
}

.has-desc:hover > .descricao-profissional > .tags {
  x-webkit-transition: 300ms;
  x-o-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  margin-top: -0px;
}


@-webkit-keyframes cardAnimation {
  0% {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }
  50% {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }  
  100% {
    transition: 500ms;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
  }
}


@keyframes cardAnimation {
  0% {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }
  50% {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }  
  100% {
    transition: 500ms;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
  }
}

.has-desc:hover {
  /*padding-bottom: 100px!important; */
  /* height: 290px; */
  z-index: 27!important;
  x-animation: cardAnimation 300ms;
  max-height: unset;
  /* box-sizing: content-box; */
  /* max-width: 100%; */
  /* position: relative; */
}

.flex-cont {
  position: relative;
  float: left;
  width: 75%;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.avatar-profissional img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avaliacao-star .star-complete:before {
  color: #f4a74c;
}

.avaliacao-star {
  margin-bottom: 10px;
}

.avaliacao-star i:not(.star-complete) {
  font-size: 11px;
  margin: auto 1px;
  opacity: .4;
}

.perfil-avaliacao {
  border-right: 1px solid #efeff0;
  width: 96px;
  padding-right: 15px;
  display: block;
  float: left;
  text-align: center;
  z-index: 9;
  position: relative;
}

.box-profissionais .descricao-profissional {
  float: left;
  display: block;
  margin-left: 22px;
  color: #78909c;
  width: 201px;
  font-weight: 300;
}
.city-dropdown {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index:  9999999;
}
.user-count {
  float: right;
}
.data-list {
  list-style-type: none;
  width: 79.5%;
  padding-left: 1px;
  background-color: #fff;
}
@media screen and (max-width: 1800px) {
  .data-list {
    width: 100%;
  }
}
.result-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 10px;
  color: #acacac!important;
  border: 1px solid #acacac!important;
  background-color: #fff;
}
.result-item:hover {
  background-color: #00D0A4;
  color: #fff !important;
}

.box-profissionais {
  position: relative;
}

.card-profissional .box-profissionais .descricao-profissional {
  float: left;
  display: block;
  color: #78909c;
  font-weight: 300;
  left: 0;
  position: relative;
  margin-left: 0;
  margin-left: 15px;
  width: 70%;
}

@media screen and (min-width: 1440px) {
  .card-profissional .box-profissionais .descricao-profissional {
    width: 67% !important;
  }
  .lista-profissional .descricao-profissional {
    width: 80% !important;
  }
}

@media screen and (min-width: 1280px) {
  .card-profissional .box-profissionais .descricao-profissional {
    width: 57% !important;
  }
}

.box-profissionais .descricao-profissional > span {
  display: block;
}

.box-profissionais .nome-profissional {
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
  float: left;
  position: relative;
  max-height: 47px;
}
.box-profissionais .snippet-subtitulo {
  color: #4fb0a5;
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
  float: left;
  position: relative;
  max-height: 47px;
}

.box-ativo.box-profissionais .snippet-subtitulo {
  color: white;
}

.lista-profissional .box-profissionais .snippet-subtitulo {
  font-weight: 600;
  font-size: 16px;
  margin-top: -5px;
  float: left;
  position: relative;
  max-height: 47px;
  padding-top: unset !important;
}

.box-profissionais .profissao {
  overflow: visible;
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  float: left;
  text-transform: capitalize;
  max-height: 40px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: pre-wrap;
}

.box-profissionais .snippet-descricao {
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  float: left;
  text-transform: unset;
}
.box-ativo.box-profissionais .snippet-descricao {
color: white !important
}

.box-profissionais .localidade {
  color: #78909c;
  font-size: 13px;
  width: 100%;
  float: left;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.box-profissionais .valor-hora {
  color: #78909c;
  margin-top: 9px;
  width: 100%;
  float: left;
}

.box-profissionais .link-portfolio {
  color: #78909c;
  text-decoration: underline;
  width: 100%;
  float: left;
}

.box-profissionais .descricao-lista {
  float: left;
  width: 100%;
}

.icon.wb-search {
  color: #fff;
}

.box-profissionais .tags {
  overflow: hidden;
  margin-top: 7px;
  float: left;
  max-width:100%;
}

.box-profissionais .perfil.ocupado .texto {
  color: darksalmon
}

.box-profissionais .tags div {
    overflow: hidden;
    height: 68px;
    margin-left: 0;
    display: block;
}

.box-profissionais .tags span {
  background: transparent;
  border: 1px solid #83cdc5;
  color: #83cdc5;
  padding: 0px 4px;
  float: left;
  font-size: 12px;
  display: block;
  border-radius: 5px;
  color: #fff;
  margin-right: 2px;
  margin-bottom: 2px;
  height: 21px;
  line-height: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.button-ver-perfil {
  font-family: 'Inter UI',
  'Open Sans',
  sans-serif !important;
  background: #4fb0a5;
  border-radius: 30px;
  color: white;
  padding: 2px 12px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 85px;
  pointer-events: all;
}

.lista-profissional .button-ver-perfil {
  background: #4fb0a5;
  color: white;
  border-radius: 30px;
  padding: 2px 12px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 85px;
  pointer-events: all;
  position: absolute;
  top: 70px;
  right: 10px;
}

.select2-choice {
  height: 40px !important;
  padding-top: 4px !important;
}

@media screen and (min-width: 900px) {
  .vert-list {
    margin: 10px 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1800px) {
  .vert-list {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 10px 0;
  }
}

.vert-list > input {
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-ver-perfil:hover {
  text-decoration: none;
  color: white;
  background: rgb(71, 158, 148) !important
}

.profissionais-selecionados {
  margin-top: 10px;
  height: 300px;
}

.barra-lateral-selecionados h3 {
  font-size: 18px;
  font-weight: 300;
}

.profissional-selec {
  width: 50%;
  float: left;
  margin-bottom: 33px;
}

.profissional-selec .avatar-profissional {
  width: 60px;
  height: 60px;
  margin: auto;
  position: relative;
}

.profissional-selec legend {
  font-size: 13px;
  text-align: center;
  color: #77909b;
  font-weight: 600;
  margin-top: 5px;
  line-height: 15px;
  max-height: 32px;
  overflow: hidden;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profissional-selec em {
  color: #77909b;
  text-align: center;
  width: 100%;
  display: block;
  padding: 5px;
  font-style: normal;
  margin-top: -5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  overflow: hidden;
}

figure.avatar-profissional > span {
  position: absolute;
  background: #333;
  top: 0px;
  right: 0px;
  font-size: 12px;
  padding: 5px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 12px;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.avatar-profissional > span:hover {
  background: #c73e3e;
}

.prof-max-size {
  max-width: 382px;
}

.div-busca ul.suggestion-list {
  z-index: 10;
}

.label-quantidade-selecionado {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  right: -75px;
  text-align: center;
  top: 0px;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  padding: 3px 9px;
  border-radius: 4px;
  margin-left: 10px;
  width: 70px;
  z-index: 9;
}

h3 .label-quantidade-selecionado {
  background-color: #515252;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 67px;
  clear: both;
  display: list-item;
  left: 0px;
  margin-left: 0px;
}

.button-label-selecionados {
  width: 100%;
  float: left;
}

button.botao-enviar-profissionais {
  border: 0px;
  clear: both;
  background: #3fbf89;
  width: 54px;
  font-size: 23px;
  border-radius: 100%;
  height: 54px;
  padding: 0px !important;
  color: #fff;
  display: block;
  margin: 50px auto;
}

button.botao-enviar-profissionais-inbox {
  margin: 0px auto;
}

.grupo-tags-relacionadas p {
  font-size: 14px;
  color: #77909b;
  font-weight: 300;
}

.grupo-tags-relacionadas .tag-relacionada {
  background: #dbdddf;
  display: inline-block;
  padding: 8px 11px;
  color: #676e72;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.ordenar-grade-lista {
  color: #77909b;
  font-weight: 300;
  margin-bottom: 9px;
  margin-top: -15px;
}

.ordenar-grade-lista .total-profissionais {
  padding-right: 16px;
  margin-right: 15px;
  border-right: 1px solid #eaeaea;
}

.ordenar-grade-lista .bts-lista-grade {
  text-align: left;
  float: right;
}

.ordenar-grade-lista .bts-lista-grade a {
  font-size: 20px;
  margin-left: 5px;
  color: #83b9ed;
}

.ordenar-grade-lista .bts-lista-grade a:hover,
.ordenar-grade-lista .bts-lista-grade a.ative {
  color: #5da6eb;
}
/* PROFISSIONAIS CORES */

.designer.box-profissionais .nome-profissional,
.designer.box-profissionais .profissao {
  color: #58c6d3;
}

.designer.box-profissionais {
  border-left: #b2e2e9 7px solid;
}

.designer.box-profissionais .tags span {
  background: #b2e2e9;
}

.designer.button-ver-perfil {
  border-color: #c7eaef;
}

.produtor-video.box-profissionais .nome-profissional,
.produtor-video.box-profissionais .profissao {
  color: #6d7892;
}

.produtor-video.box-profissionais {
  border-left: #6d7892 7px solid;
}

.produtor-video.button-ver-perfil {
  border-color: #98a0b2;
}

.marketing.box-profissionais .nome-profissional,
.marketing.box-profissionais .profissao {
  color: #815c91;
}

.marketing.box-profissionais {
  border-left: #815c91 7px solid;
}

.marketing.box-profissionais .tags span {
  background: #c295d5;
}

.marketing.button-ver-perfil {
  border-color: #d2b1e0;
}

.redator.box-profissionais .nome-profissional,
.redator.box-profissionais .profissao {
  color: #4fb0a5;
}

.redator.box-profissionais {
  border-left: #4fb0a5 7px solid;
}

.redator.box-profissionais .tags span {
  background: #83cdc5;
}

.redator.button-ver-perfil {
  border-color: #7ec5bd;
}

.jornalista.box-profissionais .nome-profissional,
.jornalista.box-profissionais .profissao {
  color: #90ce8e;
}

.jornalista.box-profissionais {
  border-left: #90ce8e 7px solid;
}

.jornalista.box-profissionais .tags span {
  background: #b2dbb1;
}

.jornalista.button-ver-perfil {
  border-color: #aedbac;
}

.tradutora.box-profissionais .nome-profissional,
.tradutora.box-profissionais .profissao {
  color: #434342;
}

.tradutora.box-profissionais {
  border-left: #434342 7px solid;
}

.tradutora.box-profissionais .tags span {
  background: #515252;
}

.tradutora.button-ver-perfil {
  border-color: #757574;
}

.fotografo.box-profissionais .nome-profissional,
.fotografo.box-profissionais .profissao {
  color: #e98f2e;
}

.fotografo.box-profissionais {
  border-left: #fdc283 7px solid;
}

.fotografo.box-profissionais .tags span {
  background: #fdc283;
}

.fotografo.button-ver-perfil {
  border-color: #fed2a4;
}

.planejamento.box-profissionais .nome-profissional,
.planejamento.box-profissionais .profissao {
  color: #ff6935;
}

.planejamento.box-profissionais {
  border-left: #ff6935 7px solid;
}

.planejamento.box-profissionais .tags span {
  background: #fda88a;
}

.planejamento.button-ver-perfil {
  border-color: #ff916b;
}

.midia.box-profissionais .nome-profissional,
.midia.box-profissionais .profissao {
  color: #ffb019;
}

.midia.box-profissionais {
  border-left: #ffb019 7px solid;
}

.midia.box-profissionais .tags span {
  background: #fcc967;
}

.midia.button-ver-perfil {
  border-color: #ffca66;
}

.desenvolvedora.box-profissionais .nome-profissional {
  color: #f96868;
}

.desenvolvedora.box-profissionais {
  border-left: #f96868 7px solid;
}

.desenvolvedora.box-profissionais .tags span {
  background: #f8b4be;
}

.desenvolvedora.button-ver-perfil {
  border-color: #fb9090;
}

.atendimento.box-profissionais .nome-profissional {
  color: #a3836f;
}

.atendimento.box-profissionais {
  border-left: #a3836f 7px solid;
}

.atendimento.box-profissionais .tags span {
  background: #e2b092;
}

.atendimento.button-ver-perfil {
  border-color: #bca495;
}
/* BOX PROFISSIONAIS ATIVO */

.box-ativo,
.box-ativo.box-profissionais .nome-profissional,
.box-ativo.box-profissionais .profissao,
.box-ativo.box-profissionais .localidade,
.box-ativo.box-profissionais .valor-hora,
.box-ativo.box-profissionais .link-portfolio,
.box-ativo.box-profissionais .button-ver-perfil,
.box-ativo .cidade-pais {
  color: #fff !important;
}

.box-ativo.box-profissionais .perfil-avaliacao {
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}

.box-ativo.box-profissionais .button-ver-perfil {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.box-ativo .avaliacao-star .star-complete:before,
.box-ativo .descricao-lista {
  color: #fff;
}
/** CATEGORIAS DOS BOXs */

.designer.box-profissionais.box-ativo {
  background: #0590a4;
}

.designer.box-profissionais.box-ativo .avaliacao-star {
  color: #013643;
}

.designer.box-profissionais.box-ativo .tags span {
  background: #b2e2e9;
  color: #00708c;
}

.designer.box-profissionais.box-ativo .button-ver-perfil {
  border: #84ccd7 1px solid;
  color: #b2e2e9;
}

.produtor-video.box-profissionais.box-ativo {
  background: #828fae;
}

.produtor-video.box-profissionais.box-ativo .avaliacao-star {
  color: #6d7892;
}

.produtor-video.box-profissionais.box-ativo .tags span {
  background: #a9b9df;
  color: #828fae;
}

.produtor-video.box-profissionais.box-ativo .button-ver-perfil {
  border: #dad0c8 1px solid;
  color: #fff;
}

.marketing.box-profissionais.box-ativo {
  background: #6a4978;
}

.marketing.box-profissionais.box-ativo .avaliacao-star {
  color: #452553;
}

.marketing.box-profissionais.box-ativo .tags span {
  background: #815c91;
  color: #fff;
}

.marketing.box-profissionais.box-ativo .button-ver-perfil {
  border: #d7cedb 1px solid;
}

.redator.box-profissionais.box-ativo {
  background: #4fb0a5;
}

.redator.box-profissionais.box-ativo .avaliacao-star {
  color: #126c62;
}

.redator.box-profissionais.box-ativo .tags span {
  background: #83cdc5;
}

.redator.box-profissionais.box-ativo .button-ver-perfil {
  border: #bbe1dd 1px solid;
}

.jornalista.box-profissionais.box-ativo {
  background: #90cf8f;
}

.jornalista.box-profissionais.box-ativo .avaliacao-star {
  color: #0a4e09;
}

.jornalista.box-profissionais.box-ativo .tags span {
  background: #cbf0ca;
  color: #0a4e09;
}

.jornalista.box-profissionais.box-ativo .button-ver-perfil {
  border: #bbe7ba 1px solid;
}

.jornalista.box-profissionais {
  border-left: #73cd71 7px solid;
}

.tradutora.box-profissionais.box-ativo {
  background: #434342;
}

.tradutora.box-profissionais.box-ativo .avaliacao-star {
  color: #232323;
}

.tradutora.box-profissionais.box-ativo .tags span {
  background: #d7d7d7;
  color: #434342;
}

.tradutora.box-profissionais.box-ativo .button-ver-perfil {
  border: #bbe7ba 1px solid;
}

.tradutora.box-profissionais {
  border-left: #232323 7px solid;
}

.fotografo.box-profissionais.box-ativo {
  background: #e98f2e;
}

.fotografo.box-profissionais.box-ativo .avaliacao-star {
  color: #b76a16;
}

.fotografo.box-profissionais.box-ativo .tags span {
  background: #fdc283;
  color: #e98f2e;
}

.fotografo.box-profissionais.box-ativo .button-ver-perfil {
  border: #f5d0a6 1px solid;
}

.planejamento.box-profissionais.box-ativo {
  background: #ff6935;
}

.planejamento.box-profissionais.box-ativo .avaliacao-star {
  color: #b93c10;
}

.planejamento.box-profissionais.box-ativo .tags span {
  background: #feaa8d;
  color: #ff6935;
}

.planejamento.box-profissionais.box-ativo .button-ver-perfil {
  border: #ffd7c9 1px solid;
}

.planejamento.box-profissionais {
  border-left: #fe5b22 7px solid;
}

.midia.box-profissionais.box-ativo {
  background: #ffba35;
}

.midia.box-profissionais.box-ativo .avaliacao-star {
  color: #dc9204;
}

.midia.box-profissionais.box-ativo .tags span {
  background: #fee1aa;
  color: #606060;
}

.midia.box-profissionais.box-ativo .button-ver-perfil {
  border: #ffedc9 1px solid;
}

.desenvolvedora.box-profissionais.box-ativo {
  background: #e85656;
}

.desenvolvedora.box-profissionais.box-ativo .avaliacao-star {
  color: #992222;
}

.desenvolvedora.box-profissionais.box-ativo .tags span {
  background: #f8b4be;
  color: #e85656;
}

.desenvolvedora.box-profissionais.box-ativo .button-ver-perfil {
  border: #f49ba2 1px solid;
}

.atendimento.box-profissionais.box-ativo {
  background: #e2b092;
}

.atendimento.box-profissionais.box-ativo .avaliacao-star {
  color: #96725d;
}

.atendimento.box-profissionais.box-ativo .tags span {
  background: #fce6d8;
  color: #e2b092;
}

.atendimento.box-profissionais.box-ativo .button-ver-perfil {
  border: #f7eae2 1px solid;
}

.show-lista {
  display: none;
}

.lista-profissional .profissionais-content {
  width: 100% !important;
}

.lista-profissional .show-lista {
  display: block;
}

.lista-profissional .hide-lista {
  display: none !important;
}

.lista-profissional .cidade-pais {
  float: left;
  /* padding: 0 15px; */
  color: #78909c;
  width: 64%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  right: 10px;
  text-align: right !important;
}

.lista-profissional .tags-view-list {
  float: left;
  margin-top: 76px;
  width: 18%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 30px;
}

.lista-profissional .box-profissionais .tags div {
  width: 100%;
}

.lista-profissional .preco-hora {
  margin-top: 50px;
  width: 18%;
  float: left;
  padding: 0 15px;
  background: 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  margin: 0;
  padding: 0;
  top: 20px;
  text-align: right !important;
}

.lista-profissional .preco-hora span {
  width: 100%;
  margin-top: 0px;
  display: block;
}

.lista-profissional .descricao-profissional {
  width: 500px;
  float: left;
  font-size: 12px;
}

.lista-profissional .link-perfil {
  float: right;
  margin-left: 0px;
}

.lista-profissional .cidade-linkperfil {
    float: left;
    width: 21%;
    margin-top: unset;
    position: absolute;
    right: 0px;
    top: 0;
}

.lista-profissional .tags {
  width: 100%;
}

.showWdth {
  display: none;
}

.hideWidth {
  display: none;
}

@media screen and (min-width: 1700px) {
  .card-profissional .profissionais-content {
    width: 40%;
  }
}

@media screen and (min-width: 1790px) {
  .card-profissional .profissionais-content {
    width: 33.33333%;
  }

  .card-profissional .box-profissionais {
    min-width: 355px;
  }
}
/* Screen menor que 1875 */

@media screen and (max-width: 1765px) {
  .lista-profissional .cidade-linkperfil {
    /* width: 11%; */
    float: right;
    /* margin-right: 20px; */
  }

  .lista-profissional .cidade-linkperfil .link-perfil {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .lista-profissional .cidade-linkperfil .cidade-pais {
    width: 100%;
    text-align: right;
    padding: 0px;
  }
  /*.page-header-busca .input-tags .tags ul.tag-list{max-width: 600px;} _-_ */
}

@media screen and (max-width: 1643px) {
  .lista-profissional .tags-view-list {
    margin-left: 0px;
  }

  .lista-profissional .descricao-profissional {
    width: 400px;
  }
  /*.page-header-busca .input-tags .tags ul.tag-list{max-width:450px;} _-_ */
}

@media screen and (max-width: 1455px) {
  .lista-profissional .descricao-profissional {
    width: 338px;
  }

  .lista-profissional .perfil-avaliacao {
    height: 139px;
  }
}

@media screen and (max-width: 1350px) {
  .lista-profissional .descricao-profissional {
    width: 80%;
  }

  .tags-view-list.tags.show-lista {
    margin-top: 15px;
    width: 27%;
  }

  .lista-profissional .preco-hora {
    width: 27%;
  }

  .lista-profissional .cidade-linkperfil {
    width: 35%;
    float: right;
  }

  .lista-profissional .cidade-linkperfil .link-perfil {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .page-header-busca,
  .busca-avancada {
    left: 0px !important;
  }
}

@media screen and (max-width: 1350px) {
  .card-profissional .box-profissionais .descricao-profissional {
    width: 58%;
  }
}

@media screen and (max-width: 1080px) {
  .card-profissional .box-profissionais {
    padding-left: 0px;
  }

  .card-profissional .box-ativo.box-profissionais .perfil-avaliacao {
    border: 0px;
  }

  .card-profissional .box-profissionais .perfil-avaliacao {
    width: 100%;
    padding: 0px;
    border: 0px;
    margin-bottom: 30px;
  }

  .card-profissional .box-profissionais .perfil-avaliacao figure {
    margin-left: auto;
    margin-right: auto;
  }

  .card-profissional .box-profissionais .descricao-profissional {
    text-align: center;
    width: 100%;
    margin: 0px;
  }

  .card-profissional .box-profissionais .descricao-profissional {
    text-align: center;
    width: 100%;
    margin: 0px;
    position: relative;
    padding-left: 0px;
  }

  .card-profissional .box-profissionais .nome-profissional,
  .card-profissional .box-profissionais .profissao {
    width: 100%;
    text-align: center;
  }

  .card-profissional .box-profissionais .tags {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  .card-profissional .box-profissionais .tags div {
    width: 100%;
    text-align: center;
  }

  .card-profissional .box-profissionais .tags div span {
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 770px) {
  .col-xs-12 {
    width: 100% !important;
  }

  .card-profissional .profissionais-content {
    width: 50% !important;
  }

  .hidden-xs {
    display: none !important;
  }

  .botao-enviar-profissionais {
    margin: auto;
    float: none;
    display: block;
  }

  .ordenar-grade-lista,
  .ordenar-grade-lista span {
    border: 0px;
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    padding-right: 0px !important;
  }

  .ordenar-grade-lista {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .card-profissional .profissionais-content {
    padding: 10px 0px;
    width: 100% !important;
  }
}
/*
@media screen and (max-width: 1850px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 600px}}
@media screen and (max-width: 1800px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 550px}}
@media screen and (max-width: 1750px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 500px}}
@media screen and (max-width: 1650px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 400px}}
@media screen and (max-width: 1520px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 350px}}
@media screen and (max-width: 1450px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 310px}}
@media screen and (max-width: 1400px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 270px}}
@media screen and (max-width: 1350px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 250px}}
@media screen and (max-width: 1320px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 230px}}
@media screen and (max-width: 1290px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 210px}}
@media screen and (max-width: 1267px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 200px}}
@media screen and (max-width: 1248px ){.page-header-busca .input-tags .tags ul.tag-list {max-width: 180px}}
@media screen and (max-width: 1221px ){.page-header-busca .input-tags input {max-width: 180px;width: 122px!important;}}
*/

@media screen and (max-width: 760px) {
  .div-busca {
    margin-top: 35px;
    float: none;
  }

  .page-header-busca .host {
    margin-top: 0;
    padding-top: 0px;
    width: 100%;
    margin-left: 0px;
    min-height: 10px;
    height: auto;
  }

  .page-header-busca .host .tags {
    /* overflow: auto;*/
    width: 100%;
    margin-top: 0px;
    height: auto;
  }

  .dropdown-profissional {
    margin-top: -40px;
    float: none;
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  a.bt-busca-avancada {
    text-align: center;
  }

  .select-dropdown,
  .select-profissional {
    float: none;
    position: relative;
    display: inline-block;
  }

  .page-header-busca .input-tags input {
    width: 100% !important;
    max-width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    top: -33px;
    left: 0px;
  }

  .page-header-busca .input-tags .tags ul.tag-list {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    min-height: 0px;
    overflow: auto;
    height: auto;
    margin-left: 0px;
  }

  .page-header-busca .input-tags .tags .tag-item {
    white-space: normal;
    display: inline-block;
    height: 28px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.not-experience {
  display: block;
  font-size: 14px;
  margin-top: 50px;
}

.sweet-overlay {
  z-index: 100000;
}

.sweet-container {
  width: unset !important;
  max-width: 600px !important;
}

div.div-busca {
  border: 1px #ccc;
}

.sweet-alert {
  z-index: 900000;
  -webkit-box-shadow: 1px 1px 100px 0.3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 100px 0.3px rgba(0, 0, 0, 0.2);
  padding: 57px !important;
}

.sweet-container .sweet-image {
  margin: 20px auto;
  max-width: 33%;
}

.sweet-container .sweet-content {
  letter-spacing: 1.1px;
}

.sweet-container .sweet-title {
  letter-spacing: 1.3px;
}

.profissionais-selecionados > .scrollable-content-vertical {
  overflow-y: visible !important;
}

.sweet-buttonswrapper {
  background-color: #4acfa4 !important;
  color: white;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  border-radius: 25px !important;
  padding: 15px 41px !important;
  margin: 16px 5px 19px !important;
  cursor: pointer !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  outline: unset;
}

.dropdown-menu {
  max-height: 80vh !important;
  overflow-y: scroll !important;
}

.profile-share {
  position: absolute;
  bottom: 8px;
  font-size: 20px;
  color: white;
  border: #fff;
  left: 12px;
  opacity: .6;
}
.hover-opacity:hover {
  opacity: 1;
}