<!DOCTYPE html>
<html ng-app="openProfile">
  <head>
    <meta charset="utf-8">
    <title>Perfil do Profissional </title>
    <meta name="description" content="">
    <base href="./"/>
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="canonical" href="./">
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script>
      var myApp = angular.module('openProfile', ['ui.router']);
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <meta property="fb:app_id" content="302184056577324" />  -->
    <meta name="twitter:card" content="summary" />
    <meta property="og:type"   content="profile" /> 
    <meta property="og:url"    content="{{profileUrl}}" /> 
    <meta property="og:title"  content="{{user.name}} - {{user.role}}" /> 
    <!-- <meta property="og:image"  content="{{user.profileImage}}" /> FIXME: parâmetro errado, ainda não tinha no html -->
    <meta property="og:description" content="{{user.description}}" />

  </head>
  <body ng-controller="OpenProfileController">
     <main class="main-container🔥">
       <div class="container-center">
         <div class="logo-box">
            <img src="https://crowd.br.com/wp-content/uploads/2018/04/logo_preto.png" alt="Logo Crowd">
         </div>
         <div class="left-col">
                 <div class="info-card">
                    <div class="img-profile-default">
                      <div style="background:url({{photos.user}}); background-size: 100% 100%"></div>
                    </div>
                    <div class="action-data">
                      <div class="star-rating" style="background: url('regua-rating.svg'); background-size: cover;width: 130px;height: 17px;padding-right: 4px; background-color: #F3A64B; border: 1px solid white;"></div>
                      <h1 class="user-name">{{user.Name}}</h1>
                      <h2 class="user-role">{{ user.Title }} </h2>
                    </div>
                    <a ga-on="click" ga-event-category="CTA" ga-event-action="Selecionar Profissional" class="primary-btn right-block" href="http://crowd.br.com/contratar-freelancers/">
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Selecionar {{user.FirstName}}
                     </a>
                 </div>
                 <div class="text-block left-force" style="white-space: pre;">{{ user.Description|json}}</div>
                 <br>
                 <h3 class="section-subheading">
                    Atividades e Habilidades
                  </h3>
                  <div class="left-text">
                    <span class="skill-tag" ng-repeat="tag in user.Skills"> {{ tag }} </span>
                  </div>
                  <div class="left-bar">
                      <h4 class="info-category">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                           {{user.State}}, {{user.City}}
                        </h4>
                        <h4 class="info-category">
                            Disp. {{user.Availability}}
                          </h4>
                          <h4 class="info-category">
                              R${{user.Price}}/h
                            </h4>
                  </div>
                  <div class="left-text section-block">
                      <h4 class="info-category no-bottom"><span class="category-title">Categoria: </span> {{user.Category}}</h4>
                      <h4 class="info-category no-bottom"><span class="category-title">Segmento: </span> Artes & Design</h4>
                      <h4 class="info-category no-bottom"><span class="category-title">Idiomas: </span><span ng-repeat="language in user.Languages"> {{language}},</span></h4>
                    </div>
                    <h3 class="section-subheading">
                      Experiência Profissional
                    </h3>
                    <div class="exp-block" ng-repeat="experience in user.Experiences">
                      <div class="row">
                        <div class="left-block bottom-pad">
                           <h3 class="exp-role">{{experience.Role}}</h3>
                           <h3 class="exp-company">{{experience.Company}}</h3>
                        </div>
                        <div ng-show="experience.StartDate" class="left-block right-text">
                         <h3 class="exp-date">{{experience.StartDate |  date:'MM/yyyy' }} - 
                          <span ng-if="experience.EndDate">{{ experience.EndDate |  date:'MM/yyyy' }}</span>
                          <span ng-hide="experience.EndDate">Atual</span>
                        </h3>
                        </div>
                      </div>
                      <div class="text-block">{{ experience.Description }}</div>
                    </div>

         </div>
         <div class="right-col">
          <div class="row">
            <div class="left-block">
              <h3 class="section-subheading-2">
                Redes Sociais
              </h3>
            </div>
            <div class="left-block right-text">
              <h3 ng-show="user.Portfolio" class="section-subheading-2">
                Portfolio completo:
                  <a ng-show="user.Portfolio" style="padding-left:3%" ng-href="{{user.Portfolio}}"> {{user.Portfolio}}</a>
              </h3>
            </div>
          </div>
          <div class="redes-sociais-icones" style="">
            <a ng-href="{{ user.twitterUrl }}" target="_blank"><i ng-class="{twitter: user.twitterUrl}"  class="fa fa-twitter"></i></a>
            <a ng-href="{{ user.facebookUrl }}" target="_blank"><i ng-class="{facebook: user.facebookUrl}" class="fa fa-facebook"></i></a>
            <a ng-href="{{ user.dribbbleUrl }}" target="_blank"><i ng-class="{dribbble: user.dribbbleUrl}" class="fa fa-dribbble"></i></a>
            <a ng-href="{{ user.instagramUrl }}" target="_blank"><i ng-class="{instagram: user.instagramUrl}" class="fa fa-instagram "></i></a>
            <a ng-href="{{ user.linkedinUrl }}" target="_blank"><i ng-class="{linkedin: user.linkedinUrl}" class="fa fa-linkedin"></i></a>
            <a ng-href="{{ user.githubUrl }}" target="_blank"><i ng-class="{github: user.githubUrl}" class="fa fa-github"></i></a>
            <a ng-href="{{ user.behanceUrl }}"><i ng-class="{behance: user.behanceUrl}" class="fa fa-behance"></i></a>
          </div>
          <h3 class="section-subheading last-eval">
              Últimas Avaliações
          </h3>
          <div class="row row-rating" ng-if="user.Ratings" ng-repeat="rating in user.Ratings">
           <div class="left-block-mini">
            <img src="http://www.vitoriaparkshopping.com.br/wp-content/uploads/2016/12/logo_site-13.png" class="rating-company" alt="">
            <img src="https://www.hackingheroes.org/wp-content/uploads/2016/11/Dominik-1.svg" class="rating-company rating-person" alt="">
           </div>
           <div class="left-block-mini-2">
             <h4 class="project-heading">Finalizou o projeto: <span class="project-name">"{{rating.taskTitle}}"</span></h4>
             <h5 class="person-name"> {{ rating.Name }}| {{ rating.Company }}</h5>
             <div class="text-block">{{rating.Description}}</div>
           </div>
           <div class="left-block-mini right-text">
              <h3 class="exp-date" ng-if="rating.TaskDate">
                <span class="date-border">{{ rating.TaskDate }}</span>
              </h3>
              <div class="star-rating rated-stars" style="background: url('regua-rating.svg'); background-size: cover;width: 130px;height: 17px;padding-right: 4px; background-color: #F3A64B; border: 1px solid white;"></div>
           </div>
          </div>
          <div ng-if="!user.Ratings" class="center-block">
            <h3 class="no-portfolio">O usuário ainda não foi avaliado.</h3>
          </div>
          <br>
         </div>   
       </div>
      </main>
      <footer class="footer">
        <div class="left-block left-pad">
          <ul>
            <li class="menu-item">
              <a href="http://crowd.br.com/manifesto.pdf">
                MANIFESTO
              </a>
            </li>
            <li class="menu-item">
              <a href="http://crowd.br.com/blog">
                 BLOG
              </a>
            </li>
            <li class="menu-item">
              <a href="http://crowd.br.com/faq">
                  FAQ
              </a>
            </li>
            <li class="menu-item">
              <a href="http://crowd.br.com/POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf">
                 TERMOS DE USO
              </a>
            </li>
            <li class="menu-item">
              <a href="http://crowd.br.com/contratar-a-crowd/#contato">
                 CONTATO
              </a>
            </li>
          </ul>
        </div>
        <div class="left-block right-text w-38 right-footer">
          <h5>© 2017 </h5>
          <img src="https://crowd.br.com/wp-content/uploads/2018/04/logo_preto.png" alt="">
        </div>
      </footer>
      <script src="portfolio-online/scripts.js" type="application/javascript"></script>
      
      <script data-cfasync="true" src="//www.google-analytics.com/analytics.js"></script>
      <script data-cfasync="true" src="/assets/js/autotrack.js"></script>
      <script>
        window.ga = window.ga || function () {
          (ga.q = ga.q || [])
            .push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-51170795-3', 'auto');

        // Replace the following lines with the plugins you want to use.
        ga('require', 'cleanUrlTracker', {
            stripQuery: true,
            trailingSlash: 'add',
            indexFilename: 'index.html'
        });
        ga('require', 'eventTracker', ['click', 'cadastra', 'busca', 'viu', 'abriu', 'respondeu']);
        ga('require', 'maxScrollTracker');
        ga('require', 'mediaQueryTracker');
        ga('require', 'outboundFormTracker');
        ga('require', 'outboundLinkTracker', {
          events: ['click', 'auxclick', 'contextmenu'],
            shouldTrackOutboundLink: function (link, parseUrl) {
              var href = link.getAttribute('href') || link.getAttribute('xlink:href');
              var url = parseUrl(href);
              return !/crowd?/.test(url.hostname);
            }
          });
        ga('require', 'pageVisibilityTracker', {
          sendInitialPageview: true,
          pageLoadsMetricIndex: 1,
          visibleMetricIndex: 2,
        });
        ga('require', 'urlChangeTracker');

        ga('send', 'pageview');

      </script>

  </body>
</html>
