<div class="page-content">
 <div class="row">
  <div class="form-add-new-user" id='cadastro-profissional'>
   <div class="col-sm-12">
    <form name="formUsuario" ng-submit="$ctrl.save()">
     <div class="row">
      <div class="col-sm-6 col-xs-12">
       <div class="col-sm-12 col-xs-12">
        <div class="cadastrar-foto-perfil">
         <!--
                  <div class="placeholder-foto radius100 cursor" ng-click="$ctrl.openDialog()">
                    <span>Adicionar Foto</span>
                    <img id="imagem-perfil" width="100%" height="100%" alt="Imagem Perfil" ng-show="$ctrl.profileImage">
                  </div>
-->

         <style>
          #profile-upload {
           float: left;
           background-image: url('/login/images/user.png');
           background-size: cover;
           background-position: center;
           height: 65px;
           width: 65px;
           border: 1px solid #bbb;
           position: relative;
           border-radius: 250px;
           overflow: hidden;
          }

          #profile-upload:hover input.upload {
           display: block;
          }

          #profile-upload:hover .hvr-profile-img {
           display: inline-block;
          }

          #profile-upload * {
           transition: opacity 1s linear;
          }

          #profile-upload .fa {
           margin: auto;
           position: absolute;
           bottom: -4px;
           left: 0;
           text-align: center;
           right: 0;
           padding: 6px;
           opacity: 1;
           width: 100%;
           -webkit-transform: scale(.75);
          }

          #profile-upload:hover .fa {
           opacity: 1;
           -webkit-transform: scale(1);
          }

          #profile-upload input.upload {
           z-index: 1;
           left: 0;
           margin: 0;
           bottom: 0;
           top: 0;
           padding: 0;
           opacity: 0;
           outline: none;
           cursor: pointer;
           position: absolute;
           background: #ccc;
           width: 100%;
           display: none;
          }

          #profile-upload .hvr-profile-img {
           width: 100%;
           height: 100%;
           display: none;
           position: absolute;
           vertical-align: middle;
           position: relative;
           background: transparent;
          }

          #profile-upload .fa:after {
           content: "";
           position: absolute;
           bottom: 0;
           left: 0;
           width: 150%;
           height: 0px;
           background: rgba(0, 0, 0, 0.3);
           z-index: -1;
           transition: height 0.3s;
          }

          #profile-upload:hover .fa:after {
           height: 100%;
          }

          .cadastrar-foto-perfil i.fa {
           top: unset;
          }
         </style>

          <div ng-if="$ctrl.user.Photo" id="profile-upload" style="background-image:url({{$ctrl.baseUrlAPI}}{{$ctrl.user.Photo}}); margin-top: -3px;"> 

          <div class="hvr-profile-img">
           <input type="file" ng-model="$ctrl.user.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" title="Faça upload da sua imagem" onchange="openFile()">
           <input type="hidden" id="imagem-perfil">

          </div>
          <i class="fa fa-camera"></i>
         </div>
         <div ng-if="!$ctrl.user.Photo" id="profile-upload" style="margin-top: -3px">
          <div class="hvr-profile-img">
           <input type="file" ng-model="$ctrl.user.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" title="Faça upload da sua imagem" onchange="openFile()" value="{{Public.imagemPerfil}}"title="Faça upload da sua imagem" accept='image/*'>
           <input type="hidden" id="imagem-perfil">
          </div>
          <i class="fa fa-camera"></i>
         </div>
         <script>
           function openFile(event) {
             document.getElementById('inputImage').addEventListener('change', readURL(), true);
             console.log('hey');

             function readURL() {
               var file = document.getElementById("inputImage").files[0];
               var reader = new FileReader();
               console.log('oi');
               reader.onloadend = function() {
                 console.log('oi');
                 document.getElementById('profile-upload').style.backgroundImage = "url(" + reader.result + ")";
                 document.getElementById('imagem-perfil').setAttribute("value", reader.result);
                 document.getElementById('imagem-perfil-logado').setAttribute("src", reader.result);
                 window.valp = document.getElementById('imagem-perfil').value;
               }
               if (file) {
                 reader.readAsDataURL(file);
                } else {}
             }
           }
         </script>
         <label>
                    <input type="text" class="input-name-profissional form-control" name="nome" placeholder="Seu nome" ng-required="true" ng-model="$ctrl.user.nome" style="margin-top: 10px; cursor: pointer; color: #577fa6 !important; width: 200px !important;font-weight: 500 !important;font-size: 22px !important;"/>
                    <i class="fa fa-pencil"  style="margin-left: 20px;font-size: 21px;margin-top: 10px; cursor: pointer;" aria-hidden="true"></i>
                  </label>
         <label>
                    <input type="text" class="input-cargo-profissional form-control" style="margin-top: 10px; cursor: pointer; color: #577fa6 !important;font-weight: lighter !important;font-size: 16px !important;"  placeholder="Cargo, ex: Designer" ng-model="$ctrl.user.cargo" />
                  </label>
        </div>
       </div>
      </div>
     </div>

     <div class="row" style="margin-top: 25px">
      <div class="col-sm-6 col-xs-12">
       <div class="col-sm-12">
        <p class="input-group">
         <span class="input-group-addon" style="background-color: #cfcfcf">Email</span>
         <input type="email" class="form-control" placeholder="seu-email@mail.com" ng-model="$ctrl.user.email" ng-required="true">
        </p>
        <p class="input-group">
         <span class="input-group-addon" style="background-color: #cfcfcf">Alterar Senha</span>
         <input type="password" class="form-control" ng-model="$ctrl.user.password">
        </p>
       </div>

       <div class="col-sm-12 col-xs-12" style="margin-top: 50px;">
         <button analytics-on="click" analytics-event="Editar_Perfil" analytics-label="Atualizou Perfil" type="submit" class="btn btn-sm btn-primary bt-add-edit-empresa"style="background-color: #83D5A3; width: 120px; border: 1px solid #83D5A3">Salvar</button>
       </div>

      </div>
      </div>
      </form>
     </div>
  </div>
  </div>

  <div class="row">
   <div class="col-sm-12 col-xs-12" ng-show="$ctrl.error">
    <div class="alert alert-danger">
     <strong>Ooops...</strong> {{$ctrl.errorMessage}}
    </div>
   </div>
  </div>

 </div>

<toaster-container toaster-options="{'limit':5}"></toaster-container>
