<div class="page-content" style="height:600px;">
	<h3 ng-click="$ctrl.login()">Logar no sistema</h3>
	<div class="col-sm-6">
		<form name="formLogin">
			<label>User:</label>
			<input class="form-control" type="text" placeholder="user" name="user" ng-model="$ctrl.user.user">
			<br>
			<label>Password:</label>
			<input class="form-control" type="password" placeholder="password" name="password" ng-model="$ctrl.user.password">
			<br>
			<button type="submit" class="form-control btn btn-block btn-primary" ng-click="$ctrl.login()">Logar</button>
		</form>

		<div ng-show="$ctrl.error">
			<p>Erro ao acessar!</p>
		</div>

	</div>
</div>