@import url('https://rsms.me/inter/inter-ui.css');

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: 'Inter UI',
  'Open Sans',
  sans-serif !important;
  letter-spacing: 0px;
  -moz-osx-font-smoothing: unset;
  text-rendering: auto;
  text-transform: none;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  -webkit-font-feature-settings: "tnum",
  "ss01";
          font-feature-settings: "tnum",
  "ss01";
}

ul.nav.navbar-toolbar h3 {
  font-weight: 300;
  margin-left: 7px;
}

a,
li,
input,
button,
.box-profissionais {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.radius100 {
  border-radius: 100%;
}

figure:not(.thumb-table)>div {
  width: 70px;
  height: 70px;

}

.radius100-a {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
  position: relative;

}

.radius100-a:hover div.img-profile-default>div,
.radius100-a:hover img {
  -webkit-filter: blur(2px)!important;
          filter: blur(2px)!important;
  background-color: #000!important;
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;

}

.radius100-a:hover .fa-user {
  display: block
}
.radius100-a .fa-user {
  display: none
}


.radius100-a .fa-user::before {
  vertical-align: sub
}



.blur {
  -webkit-filter: blur(1px) opacity(1) saturate(.5);
  filter: blur(1px) opacity(1) saturate(.5);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

body>.page {
  z-index: 1;
}

.none {
  display: none;
}

.row-briefing-completo * ,
.desc-briefing1 *,
.desc-briefing2 * {
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
}

.menu-hamburguer-medium {
  background: #fff;
  display: none;
  width: 90px;
  height: 100%;
  position: absolute;
  font-size: 30px;
  color: #263238;
  line-height: 61px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.menu-hamburguer-medium a {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.form-control::-webkit-input-placeholder {
  opacity: 1;
  color: #d4d4d4;
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  opacity: 1;
  color: #d4d4d4;
  font-style: italic;
}

.form-control::placeholder {
  opacity: 1;
  color: #d4d4d4;
  font-style: italic;
}

.css-menubar .site-menubar-unfold .site-menubar {
  display: block !important;
}

.site-menu-item .notificacao-tarefa {
  overflow: hidden;
  -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
  height: 18px;
  text-align: center;
  color: #fff;
  background: #f0403d;
  position: absolute;
  font-size: 11px;
  border-radius: 50px;
  left: 150px;
  top: 2px;
  line-height: 18px;
  font-style: initial;
  font-weight: lighter;
  text-shadow: 1px 1px 10px #000;
  display: block;
  padding: 0px 6px;
}

input#search-input::-webkit-input-placeholder {
  font-style: italic;
  color: #c4c4c4;
  padding-left: 10px;
}

input#search-input:-ms-input-placeholder {
  font-style: italic;
  color: #c4c4c4;
  padding-left: 10px;
}

input#search-input::placeholder {
  font-style: italic;
  color: #c4c4c4;
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

input:-ms-input-placeholder {
  font-style: italic;
}

input::placeholder {
  font-style: italic;
}

.tooltip * {
  color: white !important
}

#menuProjetos .site-menu-item .notificacao-tarefa {
  right: 10px;
}

.site-menu .site-menu-sub .site-menu-item.has-sub {
  text-transform: capitalize;
}  

.site-menu-item .tag.novo {
  max-width: 57px;
  position: absolute;
  top: 9px;
  right: 60px;
  display: block;
}

.projetos.sub {}

.site-menubar ul.site-menu {
  height: 100vh
}

.navbar-brand {
  padding: 1.6075rem 2.129rem !important;
}

.navbar-brand-logo {
  max-width: 90%;
}


@media screen and (min-width: 760px) {
  .navbar-brand-logo {
    height: auto;
  }
}

@media (max-width: 1199px) {
  
  .css-menubar .site-menubar {
    display: block;
  }
  
  .page-aside+.page-main {
    margin-left: 220px;
  }
}

@media (max-width: 1199px) {
  .navbar-brand-logo {
    display: none !important;
  }
  .menu-hamburguer-medium {
    display: block !important;
  }
  .site-menubar-unfold .site-navbar .navbar-container {
    margin-left: 90px !important;
  }
  .site-menubar-unfold .site-navbar .navbar-header {
    width: 100px;
  }
}

@media (min-width: 767px) {
  .abrir-menu,
  .fechar-menu {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .menu-hamburguer-medium {
    display: none !important;
  }
  .site-menubar-unfold .site-navbar .navbar-header {
    width: 100%;
  }
  .navbar-brand-logo {
    display: block !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .css-menubar .site-menubar {
    display: none;
  }
  .site-menubar-unfold .css-menubar .site-menubar {
    display: block;
  }
}

.cursor {
  cursor: pointer;
}

.height-100 {
  height: 100px;
}

.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-400 {
  height: 400px;
}

.height-500 {
  height: 500px;
}


/* tags input*/

.tag-comum ul.tag-list {
  padding: 0px;
  margin-bottom: 0px;
}

.tag-comum ul.tag-list li {
  list-style: none;
  display: inline-block;
  background: #5a676d;
  padding: 0px 40px 0px 25px;
  color: #fff;
  height: 25px;
  line-height: 22px;
  border-radius: 30px;
  margin-right: 5px;
  font-size: 12px;
  position: relative;
  margin-bottom: 5px;
}

.tag-comum ul.tag-list li .remove-button {
  list-style: none;
  background: #3e484c;
  border-radius: 14px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  line-height: 24px;
  width: 25px;
  float: right;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.tag-comum input.input.ng-valid.ng-dirty.ng-touched.ng-empty {}

.tag-comum .host>.tags .tag-list+input {
  border: 0px;
  height: 17px;
  width: 100% !important;
}

.tag-comum .host {
  border: 1px solid #e4eaec;
  padding: 15px;
  border-radius: 3px;
}

.tag-comum .host>.tags.focused .tag-list+input {
  /*background:red !important; ATIVAR FUNCAO QUANDO FIZER PLACEHOLDER */
}

.tag-comum .host textarea:focus,
.tag-comum .host input:focus,
.host select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.tag-comum ul.suggestion-list {
  list-style: none;
  padding: 0px;
}

.tag-comum .autocomplete {
  max-height: 300px;
  overflow: auto;
}

.tag-comum ul.suggestion-list li {
  list-style: none;
  background: #ededed;
  padding: 5px 15px;
}

.tag-comum ul.suggestion-list li.selected {
  background: #d5d5d5;
}

.placeholder-habilidades .host .tags:after {
  content: 'Selecione suas principais atividades (ex: Email Marketing, Logo, Site) e habilidades (ex: Photoshop, Illustrador, InDesign), tecle ENTER para selecionar';
  font-size: 15px;
  font-weight: 300;
  margin-top: -15px;
  display: block;
}

.placeholder-habilidades .host .tags.noafter:after {
  display: none;
}


/* tags */


/***********************************************
****** Needed for hiding crollbars when pushing
****** CSS do Page Slide **********************
***********************************************/

.require {
  color: #fe365c !important;
  font-weight: 800 !important;
  /* font-size: 14px!important; */
  /* position: absolute!important; */
  top: 10% !important;
  height: 10px !important;
  /* line-height: 14px!important; */
  white-space: nowrap;
  /* width: 5px; */
  display: inline-block;
  float: right;
}

.require.left {
  left: -10px;
}

.require.right {
  right: -10px;
}

.require.inline {
  display: inline-block !important;
  position: relative !important;
  width: auto;
}

html {
  overflow-x: hidden;
}

.ng-pageslide {
  overflow-y: scroll;
  overflow-x: hidden;
  top: unset !important;
  z-index: 10000 !important;
}

body.ng-pageslide-body-open::before {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '.';
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  pointer-events: all;
  opacity: .5;
  opacity: .5;
  background-color: rgb(0, 0, 0);
}

body.ng-pageslide-body-closed::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '.';
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  pointer-events: none;
  opacity: 0;
  background-color: rgb(0, 0, 0);
}


/***********************************************
******************** FIM ***********************
***********************************************/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.mask-content-pageslide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, .8);
}

.switch {
  height: 17px;
  -webkit-box-shadow: inset 2px 1px 3px;
 box-shadow: inset 2px 1px 3px;
  background: #df3e3e;
}

.switch small {
  width: 30px;
  height: 17px;
  border-radius: 9px;
  background: #dee2df;
  -webkit-box-shadow: none;
          box-shadow: none;
}

tr td .switch {
  margin-bottom: -8px;
}

.site-footer-social {
  float: left;
  margin-right: 20px;
}

.site-footer-social a i {
  margin: 0 5px;
  font-size: 17px;
}

.site-footer-social .fa-linkedin-square {
  color: #1da1f2;
}

.site-footer-social .fa-facebook {
  color: #3b5998;
}

.img-profile-default {
  width: 100% !important;
  height: 0px !important;
  padding-bottom: 100% !important;
  float: left !important;
  border-radius: 100% !important;
  background: url(../images/user.png) no-repeat !important;
  background-size: 100% 100% !important;
}

.table-responsive {
  padding-top: 50px;
}

.table .table {
  margin-bottom: 0px;
}

tbody tr td {
  line-height: 45px;
}


/*span.img-profile-default,span.img-profile-default > span{
    display: block !important;
    position: absolute;
    border-radius: 100%;
    display: block;
    width: 100%;
    height: 100%;
}
*/

figure.thumb-table {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
  margin-bottom: 0px;
  margin-right: 15px;
}

.img-profile-default div {
  width: 100% !important;
  height: 0px !important;
  padding-bottom: 100% !important;
  border-radius: 100% !important;
  /* background-size: 100% !important; */
  background-position: center !important;
  background-size: cover !important;
}

.img-profile-50 {
  width: 50px;
  height: 0px;
  padding-bottom: 50px;
  float: left;
  border-radius: 100%;
  background: url(../images/user.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
}

.img-profile-50-no-round {
  width: 50px;
  height: 0px;
  padding-bottom: 50px;
  float: left;
  background: url(../images/user.png) no-repeat;
  background-size: 100% 100%;
}

.img-profile-50 div {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  border-radius: 100%;
}

.page-aside {
  overflow-y: auto;
}

.pre {
  white-space: pre-wrap;
}

.quill-editor-small,
.quill-editor-medium,
.quill-editor-large {
  color: #76838f;
}

.quill-editor-small {
  height: 110px;
}

.quill-editor-medium {
  height: 250px;
}

.quill-editor-large {
  height: 500px;
}

.redes-sociais-inativo {
  color: #666666 !important;
}

.block {
  display: block;
}

.pagination {
  width: 100%;
  border-top: 1px solid #e4eaec;
  border-radius: 0px;
  padding-top: 10px;
}

.pagination li {
  float: left;
  list-style: none;
}

.pagination li a {
  float: left;
  margin: 2px;
  padding: 5px 12px;
  list-style: none;
  background: #fff;
  border: 1px solid #e4eaec;
  color: #607b89;
  text-decoration: none;
  border-radius: 5px;
}

.pagination li a:hover,
.pagination li.active a {
  background: #62a8ea;
  color: #fff;
}

.table thead:first-child th {
  border-top: none;
  text-align: left;
}

.avatar img {
  width: 32px !important;
  height: 30px !important;
}


/* SELECT DROPDOWN SEARCH */

.select2-container .select2-choice {
  background: transparent;
  height: 34px;
  border: 1px solid #e4eaec;
  cursor: pointer;
}

.select2-container .select2-choice .select2-arrow {
  background: transparent;
  border: 0;
  top: 4px;
}

.select2-container .select2-choice .select2-arrow b {
  background-position: 0px 3px;
}

.ui-select-container {
  width: 100%;
}

.ui-select-dropdown {
  width: 100% !important;
  padding-top: 10px;
  border: 1px solid #e4eaec;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: -1px !important;
}

.select2-results .select2-result-label {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #aab7be;
}

.select2-results .select2-highlighted {
  background: #f6f8f8;
}

.select2-search input {
  border: 1px solid #e4eaec;
  border-radius: 19px;
  margin-bottom: 10px;
  background: #fff !important;
  padding: 4px 20px 4px 13px;
  color: #5a676d;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container .select2-choice>.select2-chosen {
  height: 32px;
  line-height: 32px;
}

.content-enviar-profissionais {
  height: 100%;
  position: absolute;
  background: rgba(53, 52, 52, 0.47);
  width: 100%;
  top: 0px;
  z-index: 0;
  max-height: 400px;
  padding-top: 44px;
  text-align: center;
}

.search-container.select2-search:before {
  content: '\f002';
  position: absolute;
  right: 20px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 7px;
  color: #9aa0a1;
}


/* close SELECT DROPDOWN SEARCH */

#toast-container>div,
#toast-container> :hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.toast-success {
  background-color: #5cd29d;
  border: 1px solid rgba(0, 0, 0, .1);
}

.toast-top-left {
  top: 30px;
  left: 70px;
}

.toast-top-center {
  top: 30px;
}

.toast-top-right {
  top: 65px !important;
  right: 10px;
}


/* RZ SLIDE */

.rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 15px 0 15px 0;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rzslider.with-legend {
  margin-bottom: 40px;
}

.rzslider[disabled] {
  cursor: not-allowed;
}

.rzslider[disabled] .rz-pointer {
  cursor: not-allowed;
  background-color: #d8e0f3;
}

.rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

.rzslider .rz-base {
  width: 100%;
  height: 100%;
  padding: 0;
}

.rzslider .rz-bar-wrapper {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 32px;
  padding-top: 16px;
  margin-top: -16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rzslider .rz-bar-wrapper.rz-draggable {
  cursor: move;
}

.rzslider .rz-bar {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: #d8e0f3;
  border-radius: 2px;
}

.rzslider .rz-bar.rz-selection {
  z-index: 2;
  background: #5da6ea;
  border-radius: 2px;
}

.rzslider .rz-pointer {
  top: -6px;
  z-index: 3;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #5da6ea;
  border-radius: 16px;
}

.rzslider .rz-pointer:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.rzslider .rz-pointer:hover:after {
  background-color: #ffffff;
}

.rzslider .rz-pointer.rz-active {
  z-index: 4;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: #451aff;
}

.rzslider .rz-bubble {
  bottom: 12px;
  padding: 1px 3px;
  color: #55637d;
  cursor: default;
  font-size: 12px;
  background: #5a676d;
  color: #fff;
  border-radius: 4px;
}

.rzslider .rz-bubble.rz-selection {
  top: 16px;
}

.rzslider .rz-bubble.rz-limit {
  color: #55637d;
}

.rzslider .rz-ticks {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 0;
  padding: 0 11px;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.rzslider .rz-ticks .rz-tick {
  width: 10px;
  height: 10px;
  text-align: center;
  cursor: pointer;
  background: #d8e0f3;
  border-radius: 50%;
}

.rzslider .rz-ticks .rz-tick.rz-selected {
  background: #0db9f0;
}

.rzslider .rz-ticks .rz-tick .rz-tick-value {
  position: absolute;
  top: -30px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
}

.rzslider .rz-ticks .rz-tick .rz-tick-legend {
  position: absolute;
  top: 24px;
  max-width: 50px;
  white-space: normal;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
}

.rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value {
  top: initial;
  bottom: -40px;
}

.rzslider.rz-vertical {
  position: relative;
  width: 4px;
  height: 100%;
  padding: 0;
  margin: 0 20px;
  vertical-align: baseline;
}

.rzslider.rz-vertical .rz-base {
  width: 100%;
  height: 100%;
  padding: 0;
}

.rzslider.rz-vertical .rz-bar-wrapper {
  top: auto;
  left: 0;
  width: 32px;
  height: 100%;
  padding: 0 0 0 16px;
  margin: 0 0 0 -16px;
}

.rzslider.rz-vertical .rz-bar {
  bottom: 0;
  left: auto;
  width: 4px;
  height: 100%;
}

.rzslider.rz-vertical .rz-pointer {
  top: auto;
  bottom: 0;
  left: -14px !important;
}

.rzslider.rz-vertical .rz-bubble {
  bottom: 0;
  left: 16px !important;
  margin-left: 3px;
}

.rzslider.rz-vertical .rz-bubble.rz-selection {
  top: auto;
  left: 16px !important;
}

.rzslider.rz-vertical .rz-ticks {
  top: 0;
  left: -3px;
  z-index: 1;
  width: 0;
  height: 100%;
  padding: 11px 0;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.rzslider.rz-vertical .rz-ticks .rz-tick {
  vertical-align: middle;
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
  top: initial;
  left: 22px;
  -webkit-transform: translate(0, -28%);
  -ms-transform: translate(0, -28%);
      transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend {
  top: initial;
  right: 24px;
  max-width: none;
  white-space: nowrap;
  -webkit-transform: translate(0, -28%);
  -ms-transform: translate(0, -28%);
      transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value {
  right: 12px;
  bottom: initial;
  left: initial;
}


/* PAGESLIDE */

.pageslide-500 {
  width: 500px;
}

.pageslide-600 {
  width: 600px;
}

.pageslide-700 {
  width: 700px;
}

.pageslide-800 {
  width: 800px;
}

.pageslide-900 {
  width: 900px;
}

.pageslide-100-p {
  width: 100%;
}

@media (max-width: 760px) {
  .ng-pageslide,
  .pageslide-900,
  .pageslide-500,
  .pageslide-600,
  .pageslide-700,
  .pageslide-800 {
    width: 100% !important;
  }
  .page-aside {
    overflow-y: visible;
  }
  .page-aside .page-aside-inner {
    overflow: scroll;
  }
}

.btn-primary {
  border-radius: 15px;
}

.enviar-mensagem-briefing input[type='number'] {
  max-width: 36% !important;
}

.enviar-mensagem-briefing label.label-input-in {
  min-width: 246px !important;
}

.enviar-mensagem-briefing * {
  outline: none !important;
}

#menuOferta {
  position: fixed;
  bottom: 0px;
  width: 220px;
  background-color: #263238;
  padding: 20px;
  -webkit-box-shadow: -20px -15px 39px 1px rgba(38, 50, 60, 1), 0px 0px 0px 0px rgba(0, 0, 0, .1);
          box-shadow: -20px -15px 39px 1px rgba(38, 50, 60, 1), 0px 0px 0px 0px rgba(0, 0, 0, .1);
  list-style: none;
  z-index: 1000;
}

#menuOferta a {
  padding: 0;
}

#menuOferta button {
  /*background-color: white !important;*/
  font-weight: 600;
  border-radius: 6px;
}

.active-plan-company:hover {
  border: 2px solid transparent !important;
  color: white !important;
  background-color: #00d0a3 !important;
}

.site-menu .site-menu-sub .site-menu-item>a {
  padding: 10px 0 0 40px;
}

.site-menu .site-menu-sub .site-menu-item {
  line-height: 18px;
}

#briefing .open > .dropdown-menu {
  top: 27px !important;
  width: 91% !important;
}

.div-busca .dropdown-menu {
  width: 200px !important; 
  margin-left: 0.5vw !important;
  margin-top: -26px !important;
}

.swal2-container.swal2-shown {
  z-index: 10004;
}
.div-busca .dropdown-menu {
  width: 200px !important; 
  margin-left: 0.5vw !important;
  margin-top: -26px !important;
}

.swal2-container.swal2-shown {
  z-index: 10004;
}swal2-container.swal2-shown {
  z-index: 10004;
}
.div-busca .dropdown-menu {
  width: 200px !important; 
  margin-left: 0.5vw !important;
  margin-top: -26px !important;
}

.swal2-container.swal2-shown {
  z-index: 10004;
}

.angucomplete-dropdown {
 width: 100% 
}

div.angucomplete-selected-row {
 color: white ;
 border: 1px solid lightgrey;
}

.angucomplete-row {
  border: 1px solid #e3e3e3;
}

.angucomplete-title {
  display: table-cell;
  vertical-align: middle;
}

.select-custom.vert-list * {
 -webkit-transition: unset;
 -o-transition: unset;
 transition: unset 
}

.list.cidade {
  list-style: none;
  padding: 7px;
  margin: 0
}

.result.cidade a {
  font-size: 85%
}

.user-count {
  color: lightgray
}

.result.cidade a:hover {
  color: #4FB0A5;
  cursor: pointer;
}

/* .ng-not-empty {
  border-color: #4fb0a5;
} */

.webui-popover-title {
 font-weight: unset !important;
}

.tooltip {
  font-family: 'Inter UI',sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.9px;
  word-spacing: 0.5px;
}
