<!DOCTYPE html>
<html class="no-js css-menubar" lang="en" ng-app="site">
  <head>
    {{> head }}
  </head>
  <body{{#if body_class}} class="{{body_class}}"{{/if}} ng-controller="MainCtrl">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{> site_navbar }}
    {{> site_menubar }}
    {{> site_gridmenu }}
    <div ui-view></div>
    <!-- Footer -->
    {{> site_footer }}
    {{> javascripts }}

    {{#if production}}
      {{> analytics }}
    {{/if}}
  </body>
</html>