<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#if body_class}} class="{{body_class}}"{{/if}}>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{> site_navbar }}
    {{> site_menubar }}
    {{> site_gridmenu }}

    {{> body }}

    <!-- Footer -->
    {{> site_footer }}
    {{> javascripts }}

    {{#if production}}
      {{> analytics }}
    {{/if}}
  </body>
</html>
