<div class="page-header"><div class="col-sm-12"><div class="div-busca"><strong>Pesquisar</strong></div></div></div><style type="text/css">.div-busca{
  background: #FBFCFC;
  border:1px solid #EAEEEE;
  width: 100%;
  border-radius: 20px;
  height: 30px;
}
.page-content{
  background: #fff;
  color: #E4EAEC;
}
.box-profissionais{
    background: #fff;
    padding: 23px 0px 23px 25px;
    font-family: "Open Sans";
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-left: #ccc 7px solid;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 0px 6px 0px rgba(222,222,222,1);
    -moz-box-shadow: 2px 0px 6px 0px rgba(222,222,222,1);
    box-shadow: 2px 0px 6px 0px rgba(222,222,222,1);
    float: left;
    width: 100%;
}
.avatar-profissional{
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.avatar-profissional img{
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
  border-radius: 100%;
}
.avaliacao-star .star-complete:before{
  color: #F4A74C;
}
.avaliacao-star{
  margin-bottom: 10px;
}
.avaliacao-star i{
  font-size: 11px;
  margin: auto 1px;
}
.perfil-avaliacao{
  border-right: 1px solid #EFEFF0;
  width: 100px;
  padding-right: 15px;
  display: block;
  float: left;
}


.box-profissionais .descricao-profissional-grid{  float: left;  display: block;  margin-left: 22px;  color: #78909C;  width: 201px;  font-weight: 300;}
.box-profissionais .descricao-profissional-grid > span{  width: 100%;  display: block;}
.box-profissionais .nome-profissional{ font-weight: 600; font-size: 16px;}
.box-profissionais .profissao{ font-size: 15px; margin-bottom: 5px;}
.box-profissionais .localidade{color: #78909C; font-size: 13px;}
.box-profissionais .valor-hora{color: #78909C; margin-top: 9px;}
.box-profissionais .link-portfolio{color: #78909C;text-decoration: underline;}



.box-profissionais .tags {
  overflow: hidden;
  margin-top: 7px;
}
.box-profissionais .tags div{
  overflow: hidden;
  width: 120%;
  margin-left: 0px;
}

.box-profissionais .tags span{
    background: #ccc;
    padding: 0px 12px;
    float: left;
    font-size: 12px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 2px;
    margin-bottom: 2px;
    height: 21px;
    line-height: 20px;

}
.button-ver-perfil{
    padding: 2px 12px;
    font-size: 12px;
    border:solid 1px #B2E2E9;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #77909B;
    text-decoration: none;
    width: 100%;
    max-width: 85px;
}
.barra-lateral-selecionados h3{
  font-size: 18px;
  font-weight: 300;

}
.profissional-selec {
    width: 50%;
    float: left;
    margin-bottom: 33px;
}

.profissional-selec .avatar-profissional {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
}

.profissional-selec legend {
    font-size: 14px;
    text-align: center;
    color: #77909B;
    font-weight: 400;
    margin-top: 5px;
}

.profissional-selec em {
    color: #77909B;
    text-align: center;
    width: 100%;
    display: block;
    font-style: normal;
    margin-top: -14px;
    font-weight: 400;
    font-size: 13px;
}
figure.avatar-profissional > span {
    position: absolute;
    background: #333;
    top: 0px;
    right: 0px;
    font-size: 12px;
    padding: 5px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 12px;
    transition:all linear 0.2s;
}
figure.avatar-profissional > span:hover {
  background: red;
  }
.prof-max-size{
  max-width: 382px;
}




/* PROFISSIONAIS CORES */
.designer.box-profissionais .nome-profissional ,.designer.box-profissionais .profissao { color:#58C6D3 ; }
.designer.box-profissionais{border-left: #B2E2E9 7px solid; }
.designer.box-profissionais .tags span{background: #B2E2E9;}
.designer.button-ver-perfil{border-color:#C7EAEF;}

.produtor-video.box-profissionais .nome-profissional ,.produtor-video.box-profissionais .profissao { color:#6D7892 ; }
.produtor-video.box-profissionais{border-left:#6D7892  7px solid;}
.produtor-video.box-profissionais .tags span{background:}
.produtor-video.button-ver-perfil{border-color:#98A0B2;}

.marketing.box-profissionais .nome-profissional ,.marketing.box-profissionais .profissao { color:#815C91 ; }
.marketing.box-profissionais{border-left:#815C91  7px solid;}
.marketing.box-profissionais .tags span{background:#C295D5}
.marketing.button-ver-perfil{border-color:#D2B1E0;}


.redator.box-profissionais .nome-profissional ,.redator.box-profissionais .profissao { color:#4FB0A5 ; }
.redator.box-profissionais{border-left:#4FB0A5  7px solid;}
.redator.box-profissionais .tags span{background:#83CDC5}
.redator.button-ver-perfil{border-color:#7EC5BD;}

.jornalista.box-profissionais .nome-profissional ,.jornalista.box-profissionais .profissao { color:#90CE8E ; }
.jornalista.box-profissionais{border-left:#90CE8E  7px solid;}
.jornalista.box-profissionais .tags span{background:#B2DBB1}
.jornalista.button-ver-perfil{border-color:#AEDBAC;}

.tradutora.box-profissionais .nome-profissional ,.tradutora.box-profissionais .profissao { color:#434342 ; }
.tradutora.box-profissionais{border-left:#434342  7px solid;}
.tradutora.box-profissionais .tags span{background:#515252}
.tradutora.button-ver-perfil{border-color:#757574;;}

.fotografo.box-profissionais .nome-profissional ,.fotografo.box-profissionais .profissao { color:#E98F2E ; }
.fotografo.box-profissionais{border-left: #FDC283 7px solid;}
.fotografo.box-profissionais .tags span{background:#FDC283}
.fotografo.button-ver-perfil{border-color:#FED2A4}

.planejamento.box-profissionais .nome-profissional ,.planejamento.box-profissionais .profissao { color:#FF6935 ; }
.planejamento.box-profissionais{border-left:#FF6935  7px solid;}
.planejamento.box-profissionais .tags span{background:#FDA88A}
.planejamento.button-ver-perfil{border-color:#FF916B;}

.midia.box-profissionais .nome-profissional ,.midia.box-profissionais .profissao { color:#FFB019 ; }
.midia.box-profissionais{border-left:#FFB019  7px solid;}
.midia.box-profissionais .tags span{background:#FCC967}
.midia.button-ver-perfil{border-color:#FFCA66;}

.desenvolvedora.box-profissionais .nome-profissional { color:#F96868 ; }
.desenvolvedora.box-profissionais{border-left:#F96868  7px solid;}
.desenvolvedora.box-profissionais .tags span{background:#F8B4BE}
.desenvolvedora.button-ver-perfil{border-color:#FB9090;}

.atendimento.box-profissionais .nome-profissional { color:#A3836F ; }
.atendimento.box-profissionais{border-left:#A3836F  7px solid;}
.atendimento.box-profissionais .tags span{background:#E2B092}
.atendimento.button-ver-perfil{border-color:#BCA495;}

/* BOX PROFISSIONAIS ATIVO */
.box-ativo,
.box-ativo.box-profissionais .nome-profissional,
.box-ativo.box-profissionais .profissao,
.box-ativo.box-profissionais .localidade,
.box-ativo.box-profissionais .valor-hora,
.box-ativo.box-profissionais .link-portfolio,
.box-ativo.box-profissionais .button-ver-perfil{
  color: #fff !important;
}
.box-ativo.box-profissionais .perfil-avaliacao{    border-right:1px solid rgba(255, 255, 255, 0.35);}
.box-ativo.box-profissionais .button-ver-perfil {    border:1px solid rgba(255, 255, 255, 0.5);}
.box-ativo .avaliacao-star .star-complete:before{  color: #fff;}



/* CATEGORIAS DOS BOXs */



.designer.box-profissionais.box-ativo{ background: #0590A4; }
.designer.box-profissionais.box-ativo .avaliacao-star{color:#013643 ;}
.designer.box-profissionais.box-ativo .tags span{background:#B2E2E9;color: #00708C ;}
.designer.box-profissionais.box-ativo .button-ver-perfil{border:#84CCD7 1px solid;color:#B2E2E9;}

.produtor-video.box-profissionais.box-ativo{ background: #828FAE; }
.produtor-video.box-profissionais.box-ativo .avaliacao-star{color:#6D7892;}
.produtor-video.box-profissionais.box-ativo .tags span{background:#A9B9DF;color:#828FAE;}
.produtor-video.box-profissionais.box-ativo .button-ver-perfil{border:#DAD0C8 1px solid;color:#fff;}

.marketing.box-profissionais.box-ativo{ background: #6A4978; }
.marketing.box-profissionais.box-ativo .avaliacao-star{color:#452553;}
.marketing.box-profissionais.box-ativo .tags span{background:#815C91;color:#fff ;}
.marketing.box-profissionais.box-ativo .button-ver-perfil{border:#D7CEDB 1px solid;}

.redator.box-profissionais.box-ativo{ background: #34A598; }
.redator.box-profissionais.box-ativo .avaliacao-star{color:#126C62 ;}
.redator.box-profissionais.box-ativo .tags span{background:#83CDC5 ;}
.redator.box-profissionais.box-ativo .button-ver-perfil{border:#BBE1DD 1px solid;}

.jornalista.box-profissionais.box-ativo{ background: #90CF8F; }
.jornalista.box-profissionais.box-ativo .avaliacao-star{color:#0A4E09 ;}
.jornalista.box-profissionais.box-ativo .tags span{background:#CBF0CA ;color: #0A4E09;}
.jornalista.box-profissionais.box-ativo .button-ver-perfil{border:#BBE7BA 1px solid;}
.jornalista.box-profissionais{border-left:#73CD71  7px solid;}

.tradutora.box-profissionais.box-ativo{ background: #434342; }
.tradutora.box-profissionais.box-ativo .avaliacao-star{color:#232323 ;}
.tradutora.box-profissionais.box-ativo .tags span{background:#D7D7D7;color:#434342 ;}
.tradutora.box-profissionais.box-ativo .button-ver-perfil{border:#BBE7BA 1px solid;}
.tradutora.box-profissionais{border-left:#232323  7px solid;}

.fotografo.box-profissionais.box-ativo{ background: #E98F2E; }
.fotografo.box-profissionais.box-ativo .avaliacao-star{color:#B76A16 ;}
.fotografo.box-profissionais.box-ativo .tags span{background:#FDC283; color: #E98F2E}
.fotografo.box-profissionais.box-ativo .button-ver-perfil{border:#F5D0A6 1px solid;}

.planejamento.box-profissionais.box-ativo{ background: #FF6935; }
.planejamento.box-profissionais.box-ativo .avaliacao-star{color:#B93C10 ;}
.planejamento.box-profissionais.box-ativo .tags span{background:#FEAA8D;color: #FF6935}
.planejamento.box-profissionais.box-ativo .button-ver-perfil{border:#FFD7C9 1px solid;}
.planejamento.box-profissionais{border-left:#FE5B22  7px solid;}

.midia.box-profissionais.box-ativo{ background: #FFBA35; }
.midia.box-profissionais.box-ativo .avaliacao-star{color:#DC9204;}
.midia.box-profissionais.box-ativo .tags span{background:#FEE1AA; color: #606060}
.midia.box-profissionais.box-ativo .button-ver-perfil{border:#FFEDC9 1px solid;}

.desenvolvedora.box-profissionais.box-ativo {background: #E85656; }
.desenvolvedora.box-profissionais.box-ativo .avaliacao-star{color:#992222;}
.desenvolvedora.box-profissionais.box-ativo .tags span{background:#F8B4BE;color: #E85656;}
.desenvolvedora.box-profissionais.box-ativo .button-ver-perfil{border:#F49BA2 1px solid;}


.atendimento.box-profissionais.box-ativo{ background: #E2B092; }
.atendimento.box-profissionais.box-ativo .avaliacao-star{color:#96725D;}
.atendimento.box-profissionais.box-ativo .tags span{background:#FCE6D8;color: #E2B092}
.atendimento.box-profissionais.box-ativo .button-ver-perfil{border:#F7EAE2 1px solid;}



.show-lista{ display: none;}
.lista-profissional .show-lista{ display: block;}
.lista-profissional{width: 100%;}
.lista-profissional .hide-lista{display: none !important;}
.lista-profissional .tags{float: left;margin-top: 56px;margin-left: 20px;}
.lista-profissional .box-profissionais .tags div{width: 100%;}
.lista-profissional .preco-site{margin-top: 8px;float: left;margin-left: 20px;}
.lista-profissional .preco-site span{  width: 100%; display: block;  }
.lista-profissional .descricao-profissional-grid{  width: 330px;  float: left;}


@media screen and (max-width: 1655px ){
  .show-lista.link-perfil{
    display: none;
  }
}
@media screen and (min-width: 1527px) {
  .lista-profissional .preco-site{
    margin-top: 41px;
  }
}
@media screen and (min-width: 1655px) {
  .lista-profissional .preco-site{
    margin-top: 41px;
  }
  .link-perfil{
    display: block;
    margin-top: 54px;
    float: left;
    margin-left: 19px;
  }
  .perfil-avaliacao .button-ver-perfil{
    display: none
  }
}


/* SOBRESCREVENDO ESTILO TEMA */
.navbar{
  box-shadow: none;
}
.site-navbar{
    background-color: #263238;
}</style><div class="page-content"><div class="row"><div class="col-sm-9"><div class="lista-profissional col-sm-6"><div class="box-profissionais designer"><div class="perfil-avaliacao"><figure class="avatar-profissional"><img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><div class="avaliacao-star"><i class="icon wb-star star-complete" aria-hidden="true"></i> <i class="icon wb-star star-complete" aria-hidden="true"></i> <i class="icon wb-star" aria-hidden="true"></i> <i class="icon wb-star" aria-hidden="true"></i> <i class="icon wb-star" aria-hidden="true"></i></div><a href="#" class="button-ver-perfil">Ver Perfil</a></div><div class="descricao-profissional-grid"><span class="nome-profissional">Leandro Pitta</span> <span class="profissao">Design</span> <span class="localidade hide-lista">Toronto, Canada</span> <span class="valor-hora hide-lista">Valor/h: 100,00</span> <a href="#" class="link-portfolio hide-lista">www.site.com.br</a><div class="show-lista descricao-lista">Uma descrição profissional maior e um pouco mais detalhada, aqui o profissional pode escrever sobre sua experiência em até 140 caracteres.</div><span class="tags hide-lista"><div><span>Email MKT</span> <span>Site</span> <span>M. Sociais</span></div></span></div><span class="tags show-lista"><div><span>Email MKT</span> <span>Site</span> <span>M. Sociais</span></div></span><span class="show-lista preco-site"><span class="valor-hora">Valor/h: 100,00</span> <a href="#" class="link-portfolio">www.site.com.br</a> </span><span class="show-lista link-perfil"><a href="#" class="button-ver-perfil">Ver Perfil</a></span></div></div></div><div class="col-sm-3 barra-lateral-selecionados"><h3>Incremente sua busca</h3><p>Acrescente também:</p><h3>Profissionais Selecionados</h3><div class="profissionais-selecionados"><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span>X</span> <img src="http://scontent.cdninstagram.com/t51.2885-19/11015610_623902881077607_1470539377_a.jpg"></figure><legend>Leandro Pitta</legend><em>Designer</em></div></div></div></div></div>