<div class="modal-text-center">
    <h3>Olá, você esta na plataforma da Crowd.<br>
	Preencha seu cadastro para começar a usar.</h3>
    <div class="area-text-cinza-modal">
        <div class="tabs-planos">
            <div role="presentation" id="stepAba1" class="active">
                <a href="javascript:void(0)" id="step1" data-target="#etapa1" aria-controls="etapa1" role="tab" data-toggle="tab">1ª ETAPA</a>
            </div><i class="fa fa-angle-right" aria-hidden="true"></i>
            <div role="presentation" id="stepAba2">
                <a href="javascript:void(0)">2ª ETAPA</a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="etapa1">
            <h3>Insira sua foto pessoal</h3>
            <div id='profile-upload'>
                <div class="hvr-profile-img">
                    <input type="file" name="file" id='inputImage' class="upload w180" title="Faça upload da sua imagem">
                    <input type="hidden" id="imagem-perfil">
                </div>
                <i class="fa fa-camera"></i>
            </div>
            <em class="size-image">Imagens JPEG ou PNG de até 1  MB.</em>
            <br>
            <button class="btn btn-salvar-auto" id="step2" data-target="#etapa2" aria-controls="etapa2" role="tab" data-toggle="tab">PRÓXIMA ETAPA</button>
        </div>
        <div role="tabpanel" class="tab-pane" id="etapa2">
            <h3>Confirme seus dados abaixo</h3>
            <form ng-submit="$ctrl.save()">
                <div class="form-group">
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" name="" placeholder="Nome" class="form-control" ng-model="$ctrl.user.Name">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <input type="text" name="" placeholder="Telefone" class="form-control" ng-model="$ctrl.user.Phone" ui-br-phone-number>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-xs-12">
                        <input type="email" name="" placeholder="Email" class="form-control" ng-model="$ctrl.user.Email">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <input type="text" name="" placeholder="Cargo" class="form-control" ng-model="$ctrl.user.RoleCompany">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-xs-12">
                        <p>
                            <strong>Você precisa cadastrar uma nova senha para continuar</strong>
                        </p>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="password" name="" placeholder="Nova Senha" class="form-control" ng-model="$ctrl.user.Password">
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="password" name="" placeholder="Confirmar nova senha" class="form-control" ng-model="$ctrl.user.ConfirmPassword">
                    </div>
                    <div class="col-sm-12 col-xs-12 text-center">
                        <br>
                        <input type="checkbox" name="" ng-model="$ctrl.user.AcceptTerms"> Li e aceito os <a href="https://www.crowd.br.com/POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf" target="_blank">Termos de Uso</a>
                    </div>
                </div>
                <button class="btn btn-salvar-largue" id="btnFinish" type="submit">FINALIZAR</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    

	$jQuery(document).ready(function() {

        $jQuery('#ngdialog1').addClass('relative-visible');
        $jQuery('body').addClass('overflow-is-visible');  
        $jQuery('html').addClass('overflow-is-visible');  
        $jQuery('#ngdialog1 > div.ngdialog-content').addClass('modal-on-top');        

	    $jQuery('#step1').on('click', function() {
	        $jQuery('#stepAba1').addClass('active');
	        $jQuery('#stepAba2').removeClass('active');
	    });

	    $jQuery('#step2').on('click', function() {
	        $jQuery('#stepAba2').addClass('active');
	        $jQuery('#stepAba1').removeClass('active');
	    });
	});

	document.getElementById('inputImage').addEventListener('change', readURL, true);

	function readURL() {
	    var file = document.getElementById("inputImage").files[0];
	    var reader = new FileReader();
	    reader.onloadend = function() {
	        document.getElementById('profile-upload').style.backgroundImage = "url(" + reader.result + ")";
	        document.getElementById('imagem-perfil').setAttribute("value", reader.result);
	    }
	    if (file) {
	        reader.readAsDataURL(file);
	    } else {}
	}
</script>
