/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.site-skintools
{
    position: fixed;
    z-index: 1300; 
    top: 100px;
    right: -270px;

    width: 270px;

    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    color: #76838f;
}
.site-skintools.is-open
{
    right: 0;
}
.site-skintools .site-skintools-inner
{
    height: 100%;
}
.site-skintools .site-skintools-toggle
{
    font-size: 18px;

    position: absolute;
    top: 0;
    left: -34px;

    padding: 10px 8px;
    padding: 10px 8px;

    cursor: pointer; 

    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .09);
    border-radius: 3px 0 0 3px;
    background-color: #fff;
}
.site-skintools .site-skintools-content
{
    height: 100%;
    min-height: 100px;
    padding: 5px 20px 20px; 

    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 0 3px 3px;
    background-color: #fff;
}
.site-skintools .site-skintools-content input
{
    display: none;
}
.site-skintools .site-skintools-title
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.site-skintools .nav-tabs-line > li > a
{
    padding: 10px;
}
.site-skintools .nav-tabs-horizontal
{
    height: 100%;
}
.site-skintools .tab-content
{
    height: -webkit-calc(100% - 45px);
    height:         calc(100% - 45px);
}
.site-skintools .radio-custom.radio-dark label::before
{
    border-color: #263238;
}
.site-skintools .radio-custom.radio-dark label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-dark input[type='radio']:checked + label::before
{
    border-color: #263238;
}
.site-skintools .radio-custom.radio-primary label::before
{
    border-color: #3583ca;
}
.site-skintools .radio-custom.radio-primary label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-primary input[type='radio']:checked + label::before
{
    border-color: #3583ca;
}
.site-skintools .radio-custom.radio-brown label::before
{
    border-color: #715146;
}
.site-skintools .radio-custom.radio-brown label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-brown input[type='radio']:checked + label::before
{
    border-color: #715146;
}
.site-skintools .radio-custom.radio-cyan label::before
{
    border-color: #37a9b7;
}
.site-skintools .radio-custom.radio-cyan label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-cyan input[type='radio']:checked + label::before
{
    border-color: #37a9b7;
}
.site-skintools .radio-custom.radio-green label::before
{
    border-color: #279566;
}
.site-skintools .radio-custom.radio-green label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-green input[type='radio']:checked + label::before
{
    border-color: #279566;
}
.site-skintools .radio-custom.radio-grey label::before
{
    border-color: #424242;
}
.site-skintools .radio-custom.radio-grey label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-grey input[type='radio']:checked + label::before
{
    border-color: #424242;
}
.site-skintools .radio-custom.radio-indigo label::before
{
    border-color: #465bd4;
}
.site-skintools .radio-custom.radio-indigo label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-indigo input[type='radio']:checked + label::before
{
    border-color: #465bd4;
}
.site-skintools .radio-custom.radio-orange label::before
{
    border-color: #e98f2e;
}
.site-skintools .radio-custom.radio-orange label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-orange input[type='radio']:checked + label::before
{
    border-color: #e98f2e;
}
.site-skintools .radio-custom.radio-pink label::before
{
    border-color: #e53b75;
}
.site-skintools .radio-custom.radio-pink label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-pink input[type='radio']:checked + label::before
{
    border-color: #e53b75;
}
.site-skintools .radio-custom.radio-purple label::before
{
    border-color: #6d45bc;
}
.site-skintools .radio-custom.radio-purple label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-purple input[type='radio']:checked + label::before
{
    border-color: #6d45bc;
}
.site-skintools .radio-custom.radio-red label::before
{
    border-color: #d6494b;
}
.site-skintools .radio-custom.radio-red label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-red input[type='radio']:checked + label::before
{
    border-color: #d6494b;
}
.site-skintools .radio-custom.radio-teal label::before
{
    border-color: #178d81;
}
.site-skintools .radio-custom.radio-teal label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-teal input[type='radio']:checked + label::before
{
    border-color: #178d81;
}
.site-skintools .radio-custom.radio-yellow label::before
{
    border-color: #fbc02d;
}
.site-skintools .radio-custom.radio-yellow label::after
{
    border-color: #fff;
}
.site-skintools .radio-custom.radio-yellow input[type='radio']:checked + label::before
{
    border-color: #fbc02d;
}
