.janela-default-pageslide {
 background: #ddd;
 width: 100%;
 max-width: 820px;
 min-height: 600px;
 position: absolute;
 right: 0px;
 top: 80px;
 -webkit-box-shadow: -2px 1px 11px #d9d9d9;
         box-shadow: -2px 1px 11px #d9d9d9;
}


/* Header 1 */

.header-title-janela {
 background: #5EC2EC;
 float: left;
 width: 100%;
 height: 66px;
 color: #fff;
}

.header-title-janela .fechar-janela {
 font-size: 20px;
 cursor: pointer;
 font-weight: 300;
 position: absolute;
 left: 15px;
 height: 23px;
 line-height: 23px;
 width: 22px;
 text-align: center;
 color: #fff;
 top: 18px;
 text-decoration: none;
 -webkit-transition: all linear 0.2s;
 transition: all linear 0.2s;
}

.header-title-janela .fechar-janela:hover {
 opacity: 0.6;
}

.titulo-janela {
 text-transform: uppercase;
 float: left;
 display: block;
 height: 100%;
 line-height: 62px;
 font-size: 16px;
 font-weight: 300;
 padding-left: 70px;
 letter-spacing: 2px;
}

.txt-acao-header-janela {
 height: 100%;
 display: block;
 float: left;
 font-size: 12px;
 width: 115px;
 text-align: right;
 padding: 13px 0;
 margin-right: 14px;
}

.acoes-header-janela {
 float: right;
 height: 100%;
 padding-right: 25px;
}

.btn-icon-header {
 color: #fff;
 text-decoration: none;
 border: 1px solid #fff;
 border-radius: 100%;
 width: 36px;
 height: 36px;
 float: right;
 display: block;
 text-align: center;
 line-height: 31px;
 font-size: 17px;
 margin-top: 15px;
 -webkit-transition: all linear 0.2s;
 transition: all linear 0.2s;
}

.btn-icon-header:hover {
 color: #fff;
 opacity: 0.7;
}


/**
Cores dos headers para Clientes e Adimns
**/

.h-color-1 {
 background: rgb(94, 194, 236);
 background: -webkit-gradient(linear, left top, right top, color-stop(72%, rgba(94, 194, 236, 1)), color-stop(72%, rgba(94, 194, 236, 1)), color-stop(93%, rgba(74, 203, 208, 1)));
 background: linear-gradient(to right, rgba(94, 194, 236, 1) 72%, rgba(94, 194, 236, 1) 72%, rgba(74, 203, 208, 1) 93%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5ec2ec', endColorstr='#4acbd0', GradientType=1);
}

.h-color-2 {
 background: #4ACBD0;
}

.h-color-3 {
 background: rgb(74, 208, 159);
 background: -webkit-gradient(linear, left top, right top, color-stop(49%, rgba(74, 208, 159, 1)), color-stop(62%, rgba(58, 137, 113, 1)), color-stop(87%, rgba(38, 50, 56, 1)));
 background: linear-gradient(to right, rgba(74, 208, 159, 1) 49%, rgba(58, 137, 113, 1) 62%, rgba(38, 50, 56, 1) 87%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4ad09f', endColorstr='#263238', GradientType=1);
}

.h-color-4 {
 background: #263238;
}


/**
Cores dos headers para Profissionais/Freelancers
**/

.s-color-1 {
 background: #5EC2EC;
}

.s-color-2 {
 background: -webkit-gradient(linear, left top, right top, color-stop(65%, #4acbd0), to(#4ad09f));
 background: linear-gradient(to right, #4acbd0 65%, #4ad09f 100%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4acbd0', endColorstr='#4ad09f', GradientType=1);
}

.s-color-3 {
 background: #4ACBD0;
}

.s-color-4 {
 background: #263238;
}

.nome-do-projeto-janela {
 color: #77909B;
 font-size: 14px;
 font-weight: 400;
 margin-top: 20px;
}

.nome-do-projeto-janela:before {
 content: '';
 width: 8px;
 height: 8px;
 background: #263238;
 display: inline-block;
 border-radius: 100%;
 margin-right: 10px;
}

.title-labels>div {
 position: relative;
}

.labels-header2-janela+a {
 margin-top: 13px;
 position: absolute;
 right: -19px;
}

.janela-avaliacao .title-labels {
 margin-top: -20px;
}

.janela-avaliacao .labels-header2-janela {
 float: right;
}

.name-janela-avaliacao {
 margin-left: 17px;
 display: inline-block;
 font-size: 17px;
 font-weight: 300;
 float: left;
 width: 90%;
}

.categoria-janela-avaliacao {
 margin-left: 17px;
 display: inline-block;
 font-size: 14px;
 font-weight: 300;
 float: left;
 width: 90%;
}

.mascara-avaliacao {
 position: absolute;
 width: 100%;
 height: auto;
 background: rgba(255, 255, 255, 0.85);
 top: 145px;
 z-index: 2;
 bottom: 0px;
}

.content-avaliacao h3 {
 font-weight: 300;
 font-size: 18px;
}

.itens-avaliacao {
 margin-top: 30px;
 padding-left: 67px;
}

.titulo-item {
 font-weight: 300;
}

.content-janela.content-avaliacao p {
 font-size: 12px;
}

.content-profile-avaliado {
 margin-top: 30px;
}

.barra-avaliacao {
 margin-top: 10px;
 height: 5px;
 width: 90%;
 background: #4AD09F;
 border-radius: 10px;
}

.content-avaliacao+.btn {
 margin-top: 33px;
 padding: 13px;
 -webkit-border-bottom-right-radius: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -moz-border-radius-bottomright: 10px;
 -moz-border-radius-bottomleft: 10px;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 -webkit-box-shadow: 1px 0px 4px #737373;
         box-shadow: 1px 0px 4px #737373;
}

.color-projeto-1:before {
 background: #D6494B !important;
}

.color-projeto-2:before {
 background: #FD57D0 !important;
}

.color-projeto-3:before {
 background: #FAB4B4 !important;
}

.color-projeto-4:before {
 background: #6D45BC !important;
}

.color-projeto-5:before {
 background: #A58ADD !important;
}

.color-projeto-6:before {
 background: #D2C5EC !important;
}

.color-projeto-7:before {
 background: #37A9B7 !important;
}

.color-projeto-8:before {
 background: #77D6E1 !important;
}

.color-projeto-9:before {
 background: #BAEAEF !important;
}

.color-projeto-10:before {
 background: #E98F2E !important;
}

.color-projeto-11:before {
 background: #F9CD48 !important;
}

.color-projeto-12:before {
 background: #F8E59B !important;
}


/* header 2 */

.header2-janela {
 background: #FBFCFC;
 width: 100%;
 float: left;
 border-bottom: #DEDEDE 1px solid;
 padding: 25px 25px 25px 55px;
}

.form-header2-janela>input {
 margin-bottom: 5px;
}

.form-header2-janela>input::-webkit-input-placeholder {
 /* Chrome/Opera/Safari */
 font-weight: 700;
 font-size: 16px;
 color: #636464;
}

.form-header2-janela>input::-moz-placeholder {
 /* Firefox 19+ */
 font-weight: 700;
 font-size: 16px;
 color: #636464;
}

.form-header2-janela>input:-ms-input-placeholder {
 /* IE 10+ */
 font-weight: 700;
 font-size: 16px;
 color: #636464;
}

.form-header2-janela>input:-moz-placeholder {
 /* Firefox 18- */
 font-weight: 700;
 font-size: 16px;
 color: #636464;
}

.txt-header2 {
 color: #636464;
}

.txt-header2 strong {
 font-size: 16px;
 font-weight: 600;
}

.txt-header2 strong {
 font-size: 16px;
 font-weight: 600;
}

.txt-header2 .descricao-header2 {
 font-size: 12px;
 margin-top: 22px
}

.profissional-selecionado figure {
 margin: 0px;
 float: right;
 width: 38px !important;
}

.profissional-selecionado figure div {
 width: 38px !important;
}

.visao-profissional .profissional-selecionado {
 margin-top: 37px;
}

.title-labels {
 font-size: 12px;
 height: 100%;
 padding-top: 10px;
 float: right;
 text-align: right;
 padding-right: 10px;
 width: 75%;
}

.mask-thumb-refresh {
 display: block;
 position: absolute;
 top: 0px;
 height: 38px;
 width: 38px;
 background: rgba(0, 0, 0, 0.5);
 border-radius: 100%;
 color: #fff;
 text-align: center;
 line-height: 38px;
 font-size: 10px;
}

.no-padding {
 padding: 0px;
}

.labels-header2-janela {
 float: left;
 border-radius: 15px;
 margin-top: 10px;
 width: 128px;
 overflow: hidden;
}

.labels-header2-janela>div {
 width: 50%;
 text-align: center;
 float: left;
 padding: 5px;
}

.label-price {
 background: #E6F1F8;
}

.label-time {
 background: #263238;
 color: #fff;
}

.content-janela {
 background: #fff;
 min-height: 300px;
 position: relative;
 width: 100%;
 padding: 25px 70px 25px 70px;
 float: left;
 border-bottom: #ECECEC solid 1px;
}

.content-chat-janela {
 background: #fff;
 min-height: 100px;
 width: 100%;
 padding: 0px 0px 0px 70px;
 float: left;
}

.content-janela img {
 max-width: 100%;
}

.placeholder-arrastar-arquivo-janela {
 background: #FBFCFC;
 height: 470px;
 border: 4px dashed #DADBDB;
 position: relative;
 margin-top: 10px;
 margin-bottom: 20px;
}

.placeholder-arrastar-arquivo-janela.pos_absolute {
 position: absolute;
 top: 0;
 background: rgba(251, 252, 252, 0.9);
 z-index: 9;
 right: 15px;
 left: 15px;
 bottom: 0px;
 height: auto;
}

.placeholder-arrastar-arquivo-janela .arraste-aqui {
 position: absolute;
 text-align: center;
 height: 70px;
 top: 50%;
 width: 100%;
 margin-top: -35px;
}

.placeholder-arrastar-arquivo-janela .arraste-aqui i {
 font-size: 32px;
}

.content-anexos {
 width: 90%;
 float: right;
}

.content-anexos>a i {
 margin-right: 10px;
 display: inline-block;
 color: #ccc;
}

.content-anexos>a {
 margin-right: 15px;
 display: inline-block;
}

.aprovar-orcamento-janela {
 float: left;
 width: 100%;
 padding-top: 10px;
}

.orcamento-valor-prazo {
 float: left;
 display: inline-block;
 background: #E6F1F8;
 padding: 0px 10px;
 border-radius: 30px;
 height: 28px;
 font-weight: 300;
 font-size: 12px;
 line-height: 25px;
 margin-right: 50px;
}

.orcamento-valor-prazo span {
 height: 28px;
 display: inline-block;
 padding: 0 10px;
}

.orcamento-valor-prazo span:nth-child(1) {
 border-right: 1px solid #fff;
}

.orcamento-valor-prazo strong {
 font-weight: 300;
}

.btn-aprovar-orcamento {
 background: #5EC2EC;
 padding: 0px 20px;
 border-radius: 30px;
 height: 28px;
 color: #fff;
 border: 0px;
 font-size: 12px;
 -webkit-transition: all linear 0.2s;
 transition: all linear 0.2s;
}

.btn-aprovar-orcamento:hover {
 background: #52abd0;
}

.arquivos-para-aprovacao .file-item {
 float: left;
 position: relative;
 margin-right: 3px;
 width: 25%;
}

.arquivos-para-aprovacao .file-item img {
 width: 100%;
 height: 160px;
}

.arquivos-para-aprovacao {
 margin-top: 20px;
}

.arquivos-para-aprovacao .file-item .mask-link-hover {
 background: rgba(255, 255, 255, 0.8);
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 text-align: center;
 color: #a7a7a7;
 opacity: 0;
 -webkit-transition: all linear 0.2s;
 transition: all linear 0.2s;
}

.arquivos-para-aprovacao .file-item .mask-link-hover:hover {
 opacity: 1;
}

.arquivos-para-aprovacao .file-item .mask-link-hover i {
 margin-top: 42%;
}

.txt-msg .content-anexos {
 width: 100%;
 margin-top: 10px;
}

.txt-msg .content-anexos>a {
 font-size: 14px !important;
 text-decoration: none !important
}

.box-enviar-msg-janela {
 background: #FBFCFC;
 padding-bottom: 30px;
 position: relative;
 float: left;
 width: 100%;
 border-top: 1px solid #ECECEC;
 padding-left: 70px;
 padding-top: 30px;
}


/* RESPONSIVO */

@media (max-width: 768px) {
 .labels-header2-janela {
  display: inline-block;
  float: none;
  margin-top: 7px;
  margin-bottom: -8px;
 }
 .title-labels {
  padding-top: 0px;
 }
 .profissional-selecionado {
  margin-top: 17px;
  position: relative;
  padding: 0 15px;
 }
 .visao-profissional .profissional-selecionado {
  margin-top: 17px;
 }
}

@media (max-width: 500px) {
 .titulo-janela {
  font-size: 14px;
  padding-left: 50px;
 }
 .acoes-header-janela {
  padding-right: 15px;
 }
 .header2-janela,
 .content-janela,
 .content-chat-janela {
  padding-left: 50px
 }
}

@media (max-width: 430px) {
 .titulo-janela {
  width: 219px;
  line-height: 17px;
  padding-top: 17px;
 }
}


/* ############################################# */

.page-content {
 color: #76838f !important;
}

.text-align-right {
 text-align: right;
}

.ordernar-tarefa {
 margin: 30px 0 10px 0;
}

.ordernar-tarefa a {
 margin-right: 15px;
}

.responsavel-projeto {
 display: inline-block;
 position: relative;
 min-width: 213px;
}

.selecionar-profissional-tarefa,
.selecionar-projeto-tarefa {
 width: 100%;
 min-width: 215px;
 min-height: 50px;
 background: #fff;
 border-radius: 5px;
 position: absolute;
 right: 0px;
 top: 40px;
 -webkit-box-shadow: 0px 0px 10px #ededed;
         box-shadow: 0px 0px 10px #ededed;
 max-height: 300px;
 overflow-y: auto;
}

.selecionar-projetos {
 display: inline-block;
 position: relative;
 min-width: 215px;
 margin-right: 10px;
}

.select-projeto {
 text-align: left;
 max-width: 250px;
}

.select-projeto i {
 line-height: 22px;
}

.selecionar-projeto-tarefa {
 width: auto;
}

.selecionar-profissional-tarefa li,
.selecionar-projeto-tarefa li {
 line-height: 41px;
 font-size: 13px;
 color: #77909B;
 padding: 7px 0px 7px 15px;
 cursor: pointer;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width: 100%;
 white-space: nowrap;
}

.selecionar-projeto-tarefa li {
 line-height: 18px
}

.selecionar-profissional-tarefa li:hover,
.selecionar-projeto-tarefa li:hover {
 background: #F6F8F8
}

.selecionar-profissional-tarefa figure {
 width: 37px;
 height: 37px;
 display: inline-block;
 float: left;
 margin-bottom: 0px;
 margin-right: 10px;
}

.header-projetos {
 margin-bottom: 25px
}

.header-projetos hr {
 border: 0px;
 border-bottom: 1px solid #F5F5F6;
 width: 100%;
 margin-right: 15px;
 margin-left: 15px;
 float: left;
}

.header-projetos h1 {
 font-weight: 300;
 font-size: 18px;
 color: #434D53;
 display: inline-block;
 margin-top: 6px;
 margin-bottom: 23px;
}

.acoes-header-projetos {
 float: right;
 text-align: right;
}

.nova-tarefa {
 max-width: 330px;
 margin-bottom: 10px;
 display: inline-block;
}

.btn-ver-relatorio {
 margin-right: 25px;
 font-size: 12px;
}

.add-responsavel {
 color: #fff;
 background: #E7E5E5;
 width: 35px;
 height: 35px;
 display: inline-block;
 border-radius: 51px;
 text-align: center;
 line-height: 32px;
 font-weight: bold;
 font-size: 14px;
 margin-right: 25px;
}

.add-responsavel:hover,
.add-responsavel:focus {
 color: #fff;
}

.content-colunas-tarefas {
 width: 100%;
 overflow-x: auto;
 background: #FBFBFB;
 -webkit-box-shadow: 0px 1px 3px #afafaf;
         box-shadow: 0px 1px 3px #afafaf;
 border-radius: 10px;
 padding: 5px 0 0 0;
 height: auto;
 float: left;
}

.content-colunas {
 width: 100%;
 min-width: 800px;
 min-height: 760px;
 height: auto;
 float: left;
}

.header-coluna-tarefa {
 width: 100%;
 min-width: 800px;
 margin-bottom: 15px;
 float: left;
}

.header-coluna-tarefa>div {
 width: 24.95%;
 padding: 0 3px;
 float: left;
}

.header-coluna-tarefa .header-col-name {
 background: #000;
 text-transform: uppercase;
 color: #fff;
 text-align: center;
 border-radius: 25px;
 display: block;
 width: 100%;
 font-size: 12px;
 padding: 5px 0;
}

.header-coluna-tarefa .header-col-name.hcn-color1 {
 background: #5EC2EC;
}

.header-coluna-tarefa .header-col-name.hcn-color2 {
 background: #4ACBD0;
}

.header-coluna-tarefa .header-col-name.hcn-color3 {
 background: #4AD09F;
}

.header-coluna-tarefa .header-col-name.hcn-color4 {
 background: #263238;
}

.content-colunas-tarefas .coluna-tarefa {
 width: 24.95%;
 min-width: 200px;
 float: left;
 min-height: 760px;
 height: 100%;
 border-right: 1px solid #E1E1E1;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 padding: 15px 3px;
}

.content-colunas-tarefas .coluna-tarefa:nth-last-child(1) {
 border: 0px;
}

.tarefa-item {
 background: #fff;
 padding: 13px;
 position: relative;
 border-bottom: #E9E8E8 1px solid;
 border-top: #E9E8E8 1px solid;
 margin-bottom: 5px;
 -webkit-transition: all linear 0.2s;
 transition: all linear 0.2s
}

.tarefa-item:hover {
 cursor: pointer;
 background: #f7f7f7;
}

.tarefa-item .notificacao-tarefa {
 width: 20px;
 height: 20px;
 text-align: center;
 color: #fff;
 background: #5EA6EC;
 position: absolute;
 font-size: 12px;
 border-radius: 100%;
 right: -5px;
 top: -5px;
}

.nome-do-projeto {
 color: #77909B;
 font-size: 13px;
 font-weight: 300;
 margin-top: 0px;
 display: inline-block;
 width: 100%;
 padding-right: 0px;
}

.nome-tarefa {
 width: 100%;
 color: #76787A;
 font-weight: 300;
 min-height: 34px;
 margin-bottom: 25px;
 padding-right: 0px;
}

.foto-responsavel+.nome-tarefa {
 padding-right: 35px;
}

.nome-projeto-cronograma {
 width: 100%;
 position: relative;
}

.cronograma-do-projeto+.nome-do-projeto {
 padding-right: 50px;
}

.nome-do-projeto:before {
 content: '';
 width: 8px;
 height: 8px;
 background: #263238;
 display: inline-block;
 border-radius: 100%;
 margin-right: 10px;
}

.cronograma-do-projeto {
 color: #FF8400;
 display: inline-block;
 width: 50px;
 position: absolute;
 right: 0px;
 top: 3px;
 font-size: 11px;
}

.cronograma-do-projeto i {
 margin-right: 5px;
}

.foto-responsavel {
 width: 30px;
 height: 30px;
 position: absolute;
 top: 15px;
 right: 15px;
}
