<!DOCTYPE html>
<html class="no-js css-menubar" lang="pt-br">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
            <meta name="description" content="bootstrap admin template">
            <meta name="author" content="">
            <title>Comunidade Crowd</title>
            <link rel="stylesheet" href="./global/css/bootstrap.min.css">
            <link rel="stylesheet" href="./global/css/bootstrap-extend.min.css">
            <link rel="stylesheet" href="./css/cadastro-de-profissionais.css">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="./font-awesome/font-awesome.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
        </head>
        <body ng-app="Public" ng-controller="publicController as Public">
            <header>
                <div class="container-fluid">
                    <div class="col-sm-1 col-xs-12 div-logo">
                        <i class="fa fa-bars hidden-lg-up menu-mobile" aria-hidden="true"></i>
                        <a href="index.html"><img src="./images/crowd-green.png" /></a>
                    </div>
                    <div class="col-sm-8 col-xs-12 hidden-md-down">
                        <ul class="links">
                            <a href="quero-expandir-minha-empresa.html" class="link-green">quero expandir minha empresa</a>
                            <a href="quero-ser-profissional.html" class="link-green">quero ser profissional</a>
                            <a href="manifesto.html">Manifesto</a>
                            <a href="blog.php">Blog</a>
                            <a href="faq.html">Faq</a>
                            <a href="mailto:contato@comunidadecrowd.com.br">Contato</a>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-12 div-login hidden-md-down">
                        <form class="login" id="fazer-login" name="formLogin" ng-submit="Public.login()">
                            <input ng-if="Public.hidePassword" type="email" placeholder="Possui login? Então insira seu email" ng-model="Public.user.Email" ng-required="true">
                            <input ng-if="!Public.hidePassword" type="password" placeholder="Senha" name="password" ng-model="Public.user.Password" ng-required="true">
                            <button type="submit" class="logar-sistema">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </button>
                            <div ng-show="Public.error" class="msg-erro-landing"><i class="fa fa-caret-up" aria-hidden="true"></i>
                                {{Public.errorMessage}}
                            </div>
                        </form>
                        <form class="login form-esqueceu-senha" id="recuperar-senha">
                            <input type="email" placeholder="Digite o email de cadastro" ng-required="true">
                            <button type="submit" class="logar-sistema">
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </button>


                        </form><br>
                        <span class="voltar-senha"><a href="#" ><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Voltar</a></span>
                        <span class="btn-esqueceu-senha"><a href="#">Esqueceu sua senha?</a></span>
                    </div>
                </div>
                <i class="fa fa-user hidden-lg-up btn-logar" aria-hidden="true"></i>
                <ul class="links menu-xs-mobile">
                    <a href="quero-expandir-minha-empresa.html" class="link-green">quero expandir minha empresa</a>
                    <a href="quero-ser-profissional.html" class="link-green">quero ser profissional</a>
                    <a href="manifesto.html">Manifesto</a>
                    <a href="blog.php">Blog</a>
                    <a href="faq.html">Faq</a>
                    <a href="mailto:contato@comunidadecrowd.com.br">Contato</a>
                </ul>
                <div class="beta">
                </div>
                <form class="login login-mobile">
                    <input type="text" placeholder="Login">
                    <input type="password" placeholder="Senha">
                    <button type="submit" class="logar-sistema"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                </form>
            </header>
            <!--  -->
            <video autoplay loop poster="./images/c_bg1.png" class="bg_video">
                <source src="images/bg.webm" type="video/webm">
                <source src="images/bg.mp4" type="video/mp4">
            </video>
            <section class="fullscreen c_bg1" data-speed="6">
                <div class="txt-crowd-1">
                    <h1 class="title_somos"><span>Somos muitos. <br>Somos em rede. Somos mais.</span></h1>
                    <p>A Crowd é mais que uma agência, uma empresa, um bureau, uma produtora ou<br> uma plataforma. Somos mais que um banco de profissionais ou uma house. Somos<br>uma comunidade de conhecimento e habilidades disponível para os que acreditam<br>em soluções inteligentes e criativas, construídas por profissionais altamente<br>capacitados e disponíveis em qualquer lugar do Brasil e do mundo.</p>
                    <a href="quero-expandir-minha-empresa.html" class="btncadastrar btn-roxo btn-mobile-full">Quero expandir minha empresa</a>
                    <a href="quero-ser-profissional.html" class="btncadastrar btncad btn-mobile-full ">Quero ser Profissional</a>
                </div>
            </section>
            <section class="fullscreen c_bg2">
                <h2 class="title-transformando">
                Transformando o jeito de trabalhar <br>
                Comunicação e Marketing no Brasil.
                </h2>
                <div class="text2 text2_lp">
                    <p>Somos uma comunidade única de pessoas e empresas que acreditam no
                        <br> trabalho conectado em rede e na possibilidade de expandir os limites <br>
                        profissionais para muito além de restrições trabalhistas, geográficas ou temáticas.<p>
                            <p>
                                Somos uma só Crowd, uma rede que vai além do cargos, um mix de <br>
                                conhecimentos, centrada na entrega, na realização, com agilidade e valor<br>
                                Agregado.<br>
                            </p><p>
                            Nossa existência vai além dos profissionais e empresas conectadas nos <br>
                            escritórios, co-workings e coffee shops. Trabalhamos por um mercado de <br>
                            comunicação e marketing com mais valor e realizações:
                        </p>
                        <p>
                            Dos custos ao valor<br>
                            Dos escritórios ao mundo<br>
                            Da folha de pagamento ao arsenal ilimitado de conhecimento<br>
                            Do cartão de ponto às entregas<br>
                            Da tarefa às realizações<br>
                        </p>
                    </div>
                </section>
                <section class="fullscreen c_bg3">
                    <div class="text3 text3_lp">
                        <h3 class="titulo-recursos">
                        Mais que recursos:<br>soluções criativas
                        </h3>
                        <p>Designers e redatores que querem criar enquanto viajam pelo mundo. <br>
                            Programadores que trabalham nos horários em que produzem melhor. <br>
                            Jornalistas e especialistas de marketing que sabem que qualidade de vida é essencial para seu desempenho profissional.<br>
                        </p>
                        <p>
                            Líderes criativos, oferecendo mais que os recursos técnicos de suas
                        <br>especialidades, mas soluções projetadas que ajudam marcas a crescerem. </p>
                    </div>
                    <img src="./images/c_bg3.png" class="visible-mobile" width="100%" />
                </section>
                <section class="fullscreen c_bg4">
                    
                    
                    <div class="text4_lp">
                        <h2>Organização e praticidade.</h2>
                        <p>
                            Enviar briefings completos e receber propostas de forma mais prática.<br>
                            Detalhar seu projeto e escolher a melhor proposta para a sua demanda.<br>
                            Oferecemos mais comodidade e agilidade em contratações, simplificando<br>
                            processos e permitindo que profissionais e clientes se <br>
                            comuniquem com mais clareza e organização.<br><br>                            
                        </div>
                        <img src="./images/c_bg4_mobile.png" class="visible-mobile" width="100%" />
                        
                    </section>
                    <section class="c_bg5">
                        <div class="linha-bg-tempo"></div>
                        <div class="txt_tempo colorwhite">
                            <h2>Tempo para o que realmente importa</h2>
                            <p>A Crowd faz a ponte entre clientes e profissionais para que as atenções<br>
                                sejam voltadas completamente para o projeto, desde o orçamento até a<br>
                                entrega.
                            </p>
                            <p>
                                Um fluxo de tarefas organizado em etapas de execução, integrando as<br>
                                responsabilidades de empresas e profissionais, garantindo qualidade de<br>
                                comunicação e agilizando entregas.
                            </p>

                        
                        </div>
                    </section>
                    <section class="c_bg6">
                        <div class="txt_projeto_entregue">
                            <h2>Projeto Entregue? Nós cuidamos do resto.</h2>
                            <p>Nosso objetivo é oferecer a agências e criativos um sistema de <br>
                                contratação mais livre, menos burocrático e confiável.
                            </p>
                            <p>
                                Se você é cliente, isso significa realizar pagamentos referentes apenas<br>
                                às tarefas finalizadas.<br>
                                Se é profissional, quer dizer que recebe a cada quinzena os valores por<br>
                                trabalhos realizados.
                            </p>
                            <p>A Crowd organiza relatórios de gastos e faturamento para que você <br>
                                acompanhe o fluxo financeiro de cada projeto. Do resto, cuidamos nós.
                            </p>
                        </div>
                    </section>
                    <section class="fullscreen videos">
                        <div class="container">
                            <div class="col-md-12">
                                <h3>Vamos ser Parceiros?</h3>
                                <div class="single-video">
                                    <iframe width="100%" height="466" src="https://www.youtube.com/embed/h15kbmgFWVw" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div id="thumbnails-videos">
                                    <div class="item">
                                        <a class="abrir-video" value="h15kbmgFWVw" rel="prettyPhoto"><img src="https://i.ytimg.com/vi/h15kbmgFWVw/default.jpg" width="163" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 padding-none-mobile">
                                        <div class="row txt-videos01">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="mais3000">
                                                    <em>3000+</em><br>
                                                    <p>Profissionais</p>
                                                </div>
                                                <div class="skills-profissionais">
                                                    Atendimento • Designers • Desenvolvedores • Fotógrafos •  Jornalistas • Marketing
                                                    <br>
                                                    Mídia • Planejamento • Produtores de Vídeo • Redatores • Tradutores
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt-videos02">
                                            A Comunidade Crowd foi criada pela <a href="http://agenciacrowd.com.br" target="_blank">Agência Crowd</a>, que realiza 100% dos seus jobs por meio do<br />
                                            crowdsourcing. Durante 3 anos desenvolvemos processos e metodologias aplicados em uma plataforma até <br>
                                            então exclusiva, que agora disponibilizamos a empresas de comunicação e marketing dispostas a expandir
                                            <br>suas capacidades de criação e desenvolvimento.<br>
                                            Hoje somos mais de 3000 profissionais cadastrados. Faça parte da Comunidade Crowd!<br>
                                            <a href="quero-expandir-minha-empresa.html" class="btncadastrar btn-roxo btn-mobile-full ">Quero expandir minha empresa</a>
                                            <a href="quero-ser-profissional.html" class="btncadastrar btncad btn-mobile-full ">Quero ser Profissional</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        
                        <!--
                        <div class="container">
                            <h1>Bootstrap Multiple image sliding demo</h1>
                            The main div for carousel
                            <div class="container text-center">
                                <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/banana.jpg" class="img-responsive"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/currant.jpg" class="img-responsive"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/mango.jpg" class="img-responsive"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/strawberries.jpg" class="img-responsive"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/banana.jpg" class="img-responsive"></a></div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="images/currant.jpg" class="img-responsive"></a></div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                </div>
                            </div>
                            
                        </div>-->
                        <footer>
                            <div class="container-fluid">
                                <div class="col-sm-2 col-xs-12">
                                    <img src="./images/crowd-rodape-logo.png" class="logo-footer" />
                                </div>
                                <div class="col-sm-8 col-xs-12 text-center">
                                    <ul class="links">
                                        <a href="quero-expandir-minha-empresa.html" >quero expandir minha empresa</a>
                                        <a href="quero-ser-profissional.html" >quero ser profissional</a>
                                        <a href="blog.php">Blog</a>
                                        <a href="faq.html">Faq</a>
                                        <a href="mailto:contato@comunidadecrowd.com.br">Contato</a>
                                    </ul>
                                </div>
                                <div class="col-sm-2 col-xs-12 text-right text-xs-center">
                                    <a href="https://www.facebook.com/agenciacrowd/?fref=ts" target="_blank"><i class="icon fa-facebook-f" aria-hidden="true"></i></a>
                                    <a href="https://www.linkedin.com/company/ag%C3%AAncia-crowd?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9194576%2Cidx%3A2-1-2%2CtarId%3A1455301186229%2Ctas%3Aagencia+crowd" target="_blank"><i class="icon fa-linkedin-square" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </footer>
                        
                        <script type="text/javascript" charset="utf-8">
                        $(document).ready(function(){
                        page('CBIQAA');
                        });
                        function page(page)
                        {
                        
                        
                        $.getJSON("https://www.googleapis.com/youtube/v3/search?order=date&part=snippet&maxResults=4&channelId=UCdIy3KWGHdZbade-pwrnKGQ&key=AIzaSyBW251w2F5DWTN7sxw8rMSDuuF7lityfmU&pageToken=",
                        function(data){
                        
                        //PAGINACAO PROXIMO
                        if(data.nextPageToken){
                        $("#next").html("<a href='#' class='bx-next' onclick=\"page('"+data.nextPageToken+"')\"></a>");
                        $('#thumbnails').html("");
                        }else{
                        $('#thumbnails').html("");
                        $("#next").html("");
                        }
                        //PAGINACAO VOLTAR
                        if(data.prevPageToken){
                        $("#prev").html("<a href='#' class='bx-prev' onclick=\"page('"+data.prevPageToken+"')\"></a>");
                        $('#thumbnails').html("");
                        }else{
                        $('#thumbnails').html("");
                        $("#prev").html("");
                        }
                        $.each(data.items, function(i,item){
                        if(item.id.channelId){
                        //profile
                        }
                        else{
                        //canal
                        if( item.id.videoId != 'h15kbmgFWVw'){
                        $('#thumbnails-videos').append('<div class="item"><a class="abrir-video" value="'+item.id.videoId+'" rel="prettyPhoto"><img src=\''+item.snippet.thumbnails.high.url+'\' width="163" class="img-responsive" /></div>');
                        }
                        }
                        $(".abrir-video").click(function(){
                        console.log('click');
                        var idVideo = $(this).attr('value');
                        var iFrame = '<iframe width="100%" height="466" src="https://www.youtube.com/embed/'+idVideo+'?autoplay=1" frameborder="0" allowfullscreen></iframe>';
                        $('.single-video').html(iFrame);
                        });
                        
                        
                        });
                        });
                        }
                        $('.menu-mobile').click(function(){
                            $('.menu-xs-mobile').toggle("slow");
                            $('.login-mobile').hide("slow");
                        });
                        $('.btn-logar').click(function(){
                            $('.login-mobile').toggle("slow");
                            $('.menu-xs-mobile').hide("slow");
                        });
                        $('.btn-esqueceu-senha').click(function(){
                            $('#fazer-login').hide("slow");
                            $('.btn-esqueceu-senha').hide("slow");
                            $('#recuperar-senha').show("slow");
                            $('.voltar-senha').show("slow");
                        });
                        $('.voltar-senha').click(function(){
                            $('#fazer-login').show("slow");
                            $('.btn-esqueceu-senha').show("slow");
                            $('#recuperar-senha').hide("slow");
                            $('.voltar-senha').hide("slow");
                        });
                        </script>
                        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
                        <script>
                        jQuery(document).ready(function() {
                        
                        jQuery('.carousel[data-type="multi"] .item').each(function(){
                        var next = jQuery(this).next();
                        if (!next.length) {
                        next = jQuery(this).siblings(':first');
                        }
                        next.children(':first-child').clone().appendTo(jQuery(this));
                        
                        for (var i=0;i<2;i++) {
                        next=next.next();
                        if (!next.length) {
                        next = jQuery(this).siblings(':first');
                        }
                        next.children(':first-child').clone().appendTo($(this));
                        }
                        });
                        
                        });
                        </script>
                        <style>
                        .carousel-control.left, .carousel-control.right {
                        background-image:none;
                        }
                        .img-responsive{
                        width:100%;
                        height:auto;
                        }
                        @media (min-width: 992px ) {
                        .carousel-inner .active.left {
                        left: -25%;
                        }
                        .carousel-inner .next {
                        left:  25%;
                        }
                        .carousel-inner .prev {
                        left: -25%;
                        }
                        }
                        @media (min-width: 768px) and (max-width: 991px ) {
                        .carousel-inner .active.left {
                        left: -33.3%;
                        }
                        .carousel-inner .next {
                        left:  33.3%;
                        }
                        .carousel-inner .prev {
                        left: -33.3%;
                        }
                        .active > div:first-child {
                        display:block;
                        }
                        .active > div:first-child + div {
                        display:block;
                        }
                        .active > div:last-child {
                        display:none;
                        }
                        }
                        @media (max-width: 767px) {
                        .carousel-inner .active.left {
                        left: -100%;
                        }
                        .carousel-inner .next {
                        left:  100%;
                        }
                        .carousel-inner .prev {
                        left: -100%;
                        }
                        .active > div {
                        display:none;
                        }
                        .active > div:first-child {
                        display:block;
                        }
                        }
                        </style>
                        
                        <script src="./js/bootstrap.public.min.js"></script>
                        <script src="./js/public.js"></script>

                    </body>
</html>
