<!DOCTYPE html>
<html>
<head>
	<title>Site</title>
	<script src="./js/bootstrap.public.min.js"></script>
	<script src="./js/public.js"></script>
</head>
<body ng-app="Public">

	<div class="page-content" style="height:600px;">
	<h3 ng-click="$ctrl.login()">Logar no sistema</h3>
	<div class="col-sm-6" ng-controller="publicController as self">
			<form name="formLogin">
				<label>User:</label>
				<input class="form-control" type="text" placeholder="user" name="user" ng-model="self.user.Email">
				<br>
				<label>Password:</label>
				<input class="form-control" type="password" placeholder="password"
					ng-hide="true" ng-model="self.user.Password">
				<br>
				<button type="submit" class="form-control btn btn-block btn-primary" ng-click="self.login()">Logar</button>
			</form>

			<div ng-show="$ctrl.error">
				<p>Erro ao acessar!</p>
			</div>

		</div>
	</div>

</body>
</html>
