<style type="text/css">
#cadastro-profissional { background: #fff; color:#78909C;width: 100%; float: left; margin: 20px -15px; max-width: 1024px;}
#cadastro-profissional .cadastrar-foto-perfil{ width:80%;height:70px;float:left;}
#cadastro-profissional .cadastrar-foto-perfil .placeholder-foto{ background: #E1E3E4; width: 75px; height: 75px; float: left;position:absolute}
#cadastro-profissional .cadastrar-foto-perfil .placeholder-foto span {color:#53636B;line-height: 13px;display: inline-block;text-align: center;font-size: 11px;padding: 24px 11px;}
#cadastro-profissional .cadastrar-foto-perfil label { float: right; width:calc(100% - 90px);display:block;margin:0px;}
#cadastro-profissional .cadastrar-foto-perfil label input{border:0px;width:auto !important;min-width:40px;padding:0px!important;float: left;display: block;}
#cadastro-profissional .cadastrar-foto-perfil label input.input-name-profissional{ color:#62A8EA;font-weight:300; font-size:18px;margin-top:10px;height: 21px;}
#cadastro-profissional .cadastrar-foto-perfil label input.input-cargo-profissional{ color:#62A8EA;font-weight:300;font-size:12px;margin-top:0px;height:15px;float: left;}
#cadastro-profissional .disponibilidade-profissional{width: 20%; float: left;}
#cadastro-profissional h3{  font-weight: 300;color: #78909C; font-size: 16px;}
#cadastro-profissional .selects-cadastro-profissionais{margin-top: 45px;}
#cadastro-profissional .selects-cadastro-profissionais div{ padding: 0px; height: 35px; margin-bottom: 15px;}
#cadastro-profissional .selects-cadastro-profissionais div.select-disponibilidade{ padding-left: 10px;}
#cadastro-profissional .input-group-addon {background: #EDEDED;}
.form-experiencia-profissional {margin-bottom: 10px;}
.form-experiencia-profissional div{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; border:1px #eaeaea solid; float: left;overflow: hidden;}
.form-experiencia-profissional div .nome-cargo{width: 31%; float: left;}
.form-experiencia-profissional div .nome-empresa{width: 41%; float: left;}
.form-experiencia-profissional div .periodo{width: 28%;  float: left;}
.form-experiencia-profissional div input,.form-experiencia-profissional div textarea{border:0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.form-experiencia-profissional div input{border-bottom: 1px solid #eaeaea;}
.form-experiencia-profissional div input:nth-child(2){border-left:1px solid #eaeaea; border-right: 1px solid #eaeaea}
.border-cancel-all .select2-selection{ -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px; border-left:0px !important; border-right: 0px !important;}
.border-cancel-left .select2-selection{ -webkit-border-top-left-radius: 0px;-webkit-border-bottom-left-radius: 0px;-moz-border-radius-topleft: 0px;-moz-border-radius-bottomleft: 0px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.border-cancel-right .select2-selection{-webkit-border-top-right-radius: 1px;-webkit-border-bottom-right-radius: 1px;-moz-border-radius-topright: 1px;-moz-border-radius-bottomright: 1px;border-top-right-radius: 1px;border-bottom-right-radius: 1px;}
.actions{text-align: center;}
.actions button{ min-width: 230px;margin: 0 5px; text-align: center; max-width: 1024px;}
.btn-linkedin{background: #1769FF}
.text-linkedin{font-size: 12px;}
.titulo-conectese{ margin-top: 0px;}
.redes-sociais-icones{color: #A7B0B8;text-align: left;}
.redes-sociais-icones i{margin-right: 10px;}
</style>
<div class="page-content">
  <div class="row">
    <div id="cadastro-profissional">
      <div class="col-sm-12 col-xs-12">
        <!-- UPLOAD FOTO E NOME DO PROFISSIONAL -->
        <div class="col-sm-6 col-xs-12">
          <div class="cadastrar-foto-perfil">
            <div class="placeholder-foto radius100"><span>Adicionar Foto</span></div>
            <label>
              <input type="text" class="input-name-profissional form-control" placeholder="Seu nome" />
            </label>
            <label>
              <input type="text" class="input-cargo-profissional form-control" placeholder="Cargo, ex: Designer" />
            </label>
          </div>
          <div class="disponibilidade-profissional">
            <div class="pull-left margin-right-20">
              <input type="checkbox" id="inputBasicOn" name="inputiCheckBasicCheckboxes" data-plugin="switchery" checked="" style="display: none;" data-switchery="true"><span class="switchery switchery-default" style="border-color: rgb(98, 168, 234); box-shadow: rgb(98, 168, 234) 0px 0px 0px 13px inset; transition: border 0.4s, box-shadow 0.4s, background-color 1.2s; background-color: rgb(98, 168, 234);"><small style="left: 21px; transition: background-color 0.4s, left 0.2s; background-color: rgb(255, 255, 255);"></small></span>
            </div>
          </div>
        </div>
        <!-- LINKEDIN -->
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-8 col-xs-12">
            <p class="text-linkedin">Prefere sicronizar dados com seu perfil do Linkedin?</p>
            <button type="button" class="btn btn-primary btn-linkedin btn-sm ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">  <i class="icon bd-linkedin margin-right-10" aria-hidden="true"></i>Visualizar meu perfil</span></button>
          </div>
          <div class="col-sm-4 col-xs-12">
            <h3 class="titulo-conectese">Conecte-se:</h3>
            <div class="redes-sociais-icones">
              <i class="icon fa-twitter" aria-hidden="true"></i>
              <i class="icon fa-facebook" aria-hidden="true"></i>
              <i class="icon fa-dribbble" aria-hidden="true"></i>
              <i class="icon fa-instagram" aria-hidden="true"></i>
              <i class="icon fa-linkedin" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <!-- SOBRE PROFISSIONAL -->
            <div class="col-sm-12 col-xs-12">
              <h3>Sobre você:</h3>
              <textarea class="form-control" id="textareaDefault" rows="3"></textarea>
            </div>
            
            <div class="col-sm-12 col-xs-12">
              <h3>Atividades e habilidades</h3>
              <textarea class="form-control" id="textareaDefault" rows="3"></textarea>
            </div>
            <div class="col-sm-12 col-xs-12 selects-cadastro-profissionais">
              
              <div class="col-sm-3 col-xs-8 border-cancel-right ">
                <select class="form-control" id="select-pais" data-plugin="select2">
                  <option value="">Brasil</option>
                  <option value="1">Chile</option>
                  <option value="2">China</option>
                </select>
              </div>
              <div class="col-sm-2 col-xs-4 border-cancel-all">
                <select class="form-control"  id="select-estado" data-plugin="select2">
                  <option value="">UF</option>
                  <option value="SP">AC</option>
                  <option value="SP">AL</option>
                  <option value="SP">AP</option>
                  <option value="SP">AM</option>
                  <option value="SP">BA</option>
                  <option value="SP">CE</option>
                  <option value="SP">DF</option>
                  <option value="SP">ES</option>
                  <option value="SP">GO</option>
                  <option value="SP">MA</option>
                  <option value="SP">MT</option>
                  <option value="SP">MS</option>
                  <option value="SP">MG</option>
                  <option value="SP">PR</option>
                  <option value="SP">PB</option>
                  <option value="SP">PA</option>
                  <option value="SP">PE</option>
                  <option value="SP">PI</option>
                  <option value="SP">RJ</option>
                  <option value="SP">RN</option>
                  <option value="SP">RS</option>
                  <option value="SP">RO</option>
                  <option value="SP">RR</option>
                  <option value="SP">SC</option>
                  <option value="SP">SE</option>
                  <option value="SP">SP</option>
                  <option value="SP">TO</option>
                </select>
              </div>
              <div class="col-sm-7 col-xs-12 border-cancel-left">
                <select class="form-control" id="select-cidades" data-plugin="select2">
                  <option value="">Cidade</option>
                  <option value="1">Santo André</option>
                  <option value="2">Águas de Lindóia</option>
                </select>
              </div>
              <div class="col-sm-5 border-cancel-right">
                <select class="form-control" id="select-categoria" data-plugin="select2">
                  <option value="">Categoria</option>
                  <option value="1">Parcial</option>
                  <option value="2">Integral</option>
                  <option value="3">Home Office</option>
                </select>
              </div>
              <div class="col-sm-7 border-cancel-left">
                <select class="form-control" id="select-segmento" data-plugin="select2">
                  <option value="">Segmento</option>
                  <option value="1">Parcial</option>
                  <option value="2">Integral</option>
                  <option value="3">Home Office</option>
                </select>
              </div>
              <div class="col-sm-5">
                <div class="input-group">
                  <span class="input-group-addon">valor/h</span>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-7 select-disponibilidade">
                <select class="form-control" id="select-disponibilidade" data-plugin="select2">
                  <option value="">Disponibilidade</option>
                  <option value="1">Parcial</option>
                  <option value="2">Integral</option>
                  <option value="3">Home Office</option>
                </select>
              </div>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Email</span>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Skype</span>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-addon">Telefone</span>
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
              
            </div>
          </div></div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6">
                  <h3>Experiência Profissional:</h3>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-primary btn-sm ladda-button pull-right" data-style="expand-left" data-plugin="ladda"><i class="icon wb-plus text" aria-hidden="true"></i></button>
                </div>
                <div class="col-sm-12 col-xs-12 form-experiencia-profissional">
                  <div>
                    <input class="form-control nome-cargo" type="text" placeholder="Nome" >
                    <input class="form-control nome-empresa" type="text" placeholder="Nome da empresa" >
                    <input class="form-control periodo" type="text" placeholder="Periodo" >
                    <textarea class="form-control col-sm-2 col-xs-12" rows="5">Descrição do cargo</textarea>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12 form-experiencia-profissional">
                  <div>
                    <input class="form-control nome-cargo" type="text" placeholder="Nome" >
                    <input class="form-control nome-empresa" type="text" placeholder="Nome da empresa" >
                    <input class="form-control periodo" type="text" placeholder="Periodo" >
                    <textarea class="form-control col-sm-2 col-xs-12" rows="5">Descrição do cargo</textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <h3>Idiomas</h3>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-sm-12">
                  <h3>Trabalha em equipe?</h3>
                  <p>Conecte-se a seus  parceiros profissionais pela Comunidade Crowd</p>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row actions">
      <hr>
      <button type="button" class="btn btn-dark btn-sm ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">  <i class="icon wb-eye margin-right-10" aria-hidden="true"></i>Visualizar meu perfil</span></button>
      <button type="button" class="btn btn-success btn-sm ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">Salvar alterações</span></button>
    </div>
    <script type="text/javascript">
    $jQuery(document).ready(function() {
    $jQuery("#select-estado").select2({minimumResultsForSearch: -1});
    $jQuery("#select-cidades").select2();
    $jQuery("#select-pais").select2();
    $jQuery("#select-categoria").select2();
    $jQuery("#select-segmentos").select2();
    $jQuery("#select-disponibilidade").select2({minimumResultsForSearch: -1});
    });
    </script>