﻿@model Freelancers.Crowd.Domain.Entities.Briefing
@using System.Data;
@using Freelancers.Crowd.Domain.Entities;
@using Freelancers.Crowd.Domain.Entities.Enum;
@{
    ViewBag.Title = "Briefing";
    
}



@section Css{
    <link rel="stylesheet" href="~/Content/css/new-briefing.css" />
}


<div class="col-md-12">
    <form method="post" action="@Url.Action("BriefingForm")" class="form-send-briefing" id="form-send-briefing">
        <div class="col-md-2 new-briefing-sender">
            <h3>Novo briefing</h3>
            @if (Model.Users != null)
            {
                <img src="@(!String.IsNullOrEmpty(Model.Users.Photo) ? Url.Content("~" + Model.Users.Photo+".ashx?w=80&h=80&mode=crop") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle img-circle-medium" />
                <p>Escrito por:</p>
                <h4>@Model.Users.Name</h4>
            }
            else
            {
                <img src="@(!String.IsNullOrEmpty(ViewBag.User.Photo) ? Url.Content("~" + ViewBag.User.Photo+".ashx?w=80&h=80&mode=crop") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle img-circle-medium" />
                <p>Escrito por:</p>
                <h4>@ViewBag.User.Name</h4>
            }
            

            

           
            @if (Model.Users != null)
            {
                if (Model.Users.Customer != null && !String.IsNullOrEmpty(Model.Users.Customer.Logo))
                {
                    <img src="@Url.Content("~" + Model.Users.Customer.Logo+".ashx?w=80&h=80&mode=crop")" />
                }

                
            }
            else
            {
                if (!String.IsNullOrEmpty(ViewBag.User.Customer.Logo))
                {
                    <img src="@Url.Content("~" + ViewBag.User.Customer.Logo+".ashx?w=80&h=80&mode=crop")" />
                }
            }

            

            

        </div>
        <div class="col-md-10 new-briefing-content">

            <div class="col-md-11 new-briefing-content-block">
                @if (!Model.Sended && Model.Freelancers.Where(x => x.Id == ViewBag.User.Id).ToList().Count() == 0)
                {
                    <input type="text" name="title" id="title" placeholder="Escreva aqui o nome do projeto" class="col-md-12 input-transparent" value="@Model.Title" />
                }
                else
                {
                    <input type="hidden" name="title" value="@Model.Title" />
                    <h5>@Model.Title</h5>
                }
            </div>
            <div class="col-md-11 new-briefing-content-block">
                <h4>Faça um breve resumo do projeto:</h4>
                <p>Uma descrição bem curta e direta do projeto. É essa informação que será vista pelos colaboradores inicialmente, para que decidam se tem interesse ou não.</p>

                @if (!Model.Sended && Model.Freelancers.Where(x => x.Id == ViewBag.User.Id).ToList().Count() == 0)
                {
                    <textarea name="excerpt" id="excerpt" placeholder="Comece aqui" class="col-md-12 textarea-transparent" required>@Model.Excerpt</textarea>
                }
                else
                {
                    <input type="hidden" name="excerpt" value="@Model.Excerpt" />
                    <h5>@Model.Excerpt</h5>
                }


</div>
            @if (ViewBag.SelectedUsers.Count != 0)
            {
                <div class="col-md-11 new-briefing-content-block">
                    <h4>Colaboradores convidados:</h4>
                    
                    <div class="new-briefing-freelancer-content">
                        @for (int i = 0; i < ViewBag.SelectedUsers.Count; i++)
                        {
                        <div class="col-md-2 col-xs-6 new-briefing-freelancer">
                            @if (!Model.Sended && Model.Freelancers.Where(x => x.Id == ViewBag.User.Id).ToList().Count() == 0)
                            {
                                <a href="#" title="Remover" class="new-briefing-freelancer-remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                            }
                            @{
                                var user = (HashSet<User>)ViewBag.SelectedUsers[i].Users;
                            }

                            <div class="new-briefing-freelancer-image">
                                <img src="@( user.FirstOrDefault() != null && !String.IsNullOrEmpty(user.FirstOrDefault().Photo) ? Url.Content("~" + user.FirstOrDefault().Photo + ".ashx?w=48&h=48&mode=crop") : Url.Content("~/Content/images/default-user-image.png") )" title="" class="img-circle" />
                            </div>

                            @{
                                var name = @ViewBag.SelectedUsers[i].Name.Split(' ');
                            }

                            <h3>@name[0] <strong>@name[name.Length - 1]</strong></h3>

                            <p>
                                @if (@ViewBag.SelectedUsers[i].Title.Length > 36)
                                {
                                    var title = string.Concat(@ViewBag.SelectedUsers[i].Title.Substring(0, 30), "...");
                                    @title
                                }
                                else
                                {
                                    @ViewBag.SelectedUsers[i].Title
                                }
                            </p>

                            <input type="hidden" name="para" value="@ViewBag.SelectedUsers[i].Id" />

                        </div>
                        }
                    </div>

                    @if (Model.Sended && Model.Freelancers.Where(x => x.Id == ViewBag.User.IdFreelancer).ToList().Count() == 0)
                    {
                        <input type="submit" class="btn btn-primary btn-add-colab col-md-12" value="Adicionar colaboradores" />
                        <input type="hidden" name="toNewPeople" value="true" />

                    }


                </div>
            }


            <div class="col-md-11 new-briefing-content-block">
                <h4>Briefing Completo</h4>
                <p>Abaixo você descreve com mais detalhes o projeto. Um briefing direto e completo agiliza o trabalho e garante melhores resultados :)</p>

                @if (Model != null && !Model.Sended && Model.Freelancers.Where(x => x.Id == ViewBag.User.IdFreelancer).ToList().Count() == 0)
                {

                    if (!string.IsNullOrEmpty(@Model.Text))
                    {
                        <textarea name="text" class="form-control validate[required] tiny" id="text" required>
                            @Model.Text
                        </textarea>
                    }
                    else
                    {
                        <textarea name="text" class="form-control validate[required] tiny" id="text" required></textarea>

                    }
                }
                else
                {
                    <p>@Html.Raw(Model.Text)</p>

                    <input type="hidden" name="text" value="@Model.Text" />
                }

            </div>


            @if ((Model != null && Model.Sended) && Model.Freelancers.Where(x => x.Id == ViewBag.User.IdFreelancer).ToList().Count() == 0)
            {
                <div class="col-md-11 new-briefing-content-block">
                    <h4>Adicionar complemento</h4>
                    <p>Como o briefing já foi enviado aos colaboradores, você não pode mais editar o que foi escrito. Porém, pode inserir acréscimos, que vão ser enviados a todos os envolvidos.</p>

                    <textarea name="complement" class="form-control validate[required]" id="complement"></textarea>
                </div>

            }

                    <div class="col-md-11 new-briefing-content-block">
                        @if(ViewBag.User.Role != RoleType.FREELANCER) { 
                            if (ViewBag.SelectedUsers.Count != 0)
                            {
                                <input type="submit" class="btn btn-primary col-md-12" value="Enviar" />

                                <input type="hidden" name="sending" value="true" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary col-md-12" value="Selecionar colaboradores" />
                                <input type="hidden" name="toNewPeople" value="true" />
                            }
                        
                        }
                    </div>


                </div>
        <input type="hidden" name="id" id="id" value="@Model.Id" />


        

    </form>
    <iframe id="form_target" name="form_target" style="display:none"></iframe>
    <form id="image_form" action="/Project/BriefingImageUpload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
        <input name="image" type="file" />

    </form>

</div>


@section Script{
    <script>

        $(function () {
            $(".btn-add-colab").on("click", function (e) {
                console.log("CLICK");
                e.preventDefault();
                $("input[name='sending']").val('false');
                $(".form-send-briefing").submit();

            });

        });
    </script>


}
