﻿@model List<Freelancers.Crowd.Domain.Entities.Briefing>
@using Freelancers.Crowd.Domain.Entities;
@using Freelancers.Crowd.Domain.Entities.Enum;
@{
    ViewBag.Title = "Index";
    var user = ViewBag.User as User;
}

@section Css{
    <link rel="stylesheet" href="~/Content/examples/css/apps/mailbox.min.css" />

    <link rel="stylesheet" href="~/Content/css/briefing.css" />

}

@if (ViewBag.Role == RoleType.MASTER || ViewBag.Role == RoleType.EMPLOYEE || ViewBag.Role == RoleType.CLIENT)
{
    <!-- Mailbox Sidebar -->
    <div class="app-mailbox page-aside">
        <div class="page-aside-switch">
            <i class="icon wb-chevron-left" aria-hidden="true"></i>
            <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner">
            <div class="page-aside-section">
                <h4 class="page-aside-title">BRIEFINGS / ORÇAMENTOS</h4>

                <div class="page-aside-action-panel">
                    <a href="/Project/BriefingForm/" title="Novo briefing" class="btn btn-primary col-md-12">Novo briefing</a>
                </div>

                <div class="page-aside-search">
                    <input type="text" name="briefing-search" id="briefing-search" placeholder="Pesquisar briefing" />
                    <i aria-hidden="true" class="input-search-icon wb-search"></i>
                </div>
                <div class="list-group">

                    <ul class="site-menu site-menu-briefings" id="livefilter-list">
                        <li class="site-menu-item has-sub open active">
                            <a href="javascript:void(0)">
                                <span class="site-menu-title">Briefings ativos</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (Model[i].Active)
                                    {
                                    <li class="site-menu-item">

                                        <!--<i aria-hidden="true" class="icon fa-remove"></i>-->
                                        <a class="list-group-item @(i == 0 ? "active" : "")" href="#" data-id="@Model[i].Id">
                                            @{
                                                var countBadge = (Model[i].Messages
                                                    .Where(x => x.User == null && x.Read == false).GroupBy(x => x.FreelancerId)
                                                    .Select(x => x.First()).ToList().Count);
                                                if (countBadge > 0)
                                                {
                                                    <span class="badge badge-primary">@countBadge</span>
                                                }
                                            }
                                            @Model[i].Title
                                        </a>
                                    </li>
                                    }
                                }

                            </ul>

                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <span class="site-menu-title">Briefings arquivados</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    if (!Model[i].Active)
                                    {
                                    <li class="site-menu-item">

                                        <!--<i aria-hidden="true" class="icon fa-angle-up"></i>-->
                                        <a class="list-group-item @(i == 0 ? "active" : "")" href="javascript:void(0);" data-id="@Model[i].Id">
                                            @{
                                                var countBadge = (Model[i].Messages
                                                    .Where(x => x.User == null && x.Read == false).GroupBy(x => x.FreelancerId)
                                                    .Select(x => x.First()).ToList().Count);
                                                if (countBadge > 0)
                                                {
                                                    <span class="badge badge-primary">@countBadge</span>
                                                }
                                            }
                                            @Model[i].Title
                                        </a>
                                    </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Mailbox Content -->
    <div class="app-mailbox page-main">
        @if (Model.Count > 0)
        {
            Html.Action("BriefingUser", "Project", new { idBriefing = Model[0].Id });
        }
    </div>

}
else
{
    <div class="row" style="margin: 0;">
        <div class="col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-body">
                    <div class="list-group-bordered">
                        <h4>Briefings</h4>

                        <table class="table table-hover width-full table-responsive">
                            <tbody>
                                

                                @if (Model.Count > 0)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr data-url="@Url.Action("InfoBriefing", "Project", new { idBriefing = Model[i].Id, idFreelancer = ViewBag.IdFreelancers })"
                                            style="@(Model[i].Read.Where(x => x.Freelancer.Id == user.IdFreelancer).ToList().Count == 0 || Model[i].Messages.Where(x => x.User != null && x.Read == false).ToList().Count > 0 ? "background-color:#F1F1F1" : "")">
                                            <td class="open-slide" data-id="@Model[i].Id" style="width:20px;">
                                                @{
                                                    var countBadge = (Model[i].Messages
                                                        .Where(x => x.User != null && x.Read == false).GroupBy(x => x.User)
                                                        .Select(x => x.First()).ToList().Count);
                                                    if (countBadge > 0)
                                                    {
                                                        <span class="badge badge-primary" style="display: inline;">@countBadge</span>
                                                    }
                                                }
                                                <img src="@(!String.IsNullOrEmpty(Model[i].Users.Photo) && !String.IsNullOrEmpty(Model[i].Users.Photo) ? Url.Content("~" + Model[i].Users.Photo) : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;margin: 10px;display:inline-block;">
                                            </td>
                                            <td class="open-slide col-md-9 align-middle" data-id="@Model[i].Id">
                                                <h4>@Model[i].Title</h4>
                                                @if (string.IsNullOrEmpty(Model[i].Excerpt))
                                                {
                                                    if (Model[i].Messages != null && Model[i].Messages.Where(x => x.UserId != null & x.FreelancerId == user.IdFreelancer).OrderByDescending(x => x.Id).ToList().Count > 0)
                                                    {
                                                        var text = Model[i].Messages.Where(x => x.UserId != null & x.FreelancerId == user.IdFreelancer).OrderByDescending(x => x.Id).ToList().First().Text;
                                                        @Html.Raw(text.Length > 255 ? text.Substring(0, 254) : text);
                                                    }
                                                    else {
                                                        @Html.Raw(Model[i].Text.Length > 255 ? Model[i].Text.Substring(0, 254) : Model[i].Text)
                                                    }
                                                }
                                                else
                                                {
                                                    @Model[i].Excerpt
                                                }
                                            </td>
                                            <td class="open-slide col-md-2" data-id="@Model[i].Id">
                                                @Model[i].CreatedAt.ToString("dd/MM/yyyy HH:mm")
                                            </td>
                                        </tr>
                                    }
                                }
                                <!--<tr data-url="@Url.Action("ComunicadoCampanha", "Campaign")">
                                    <td class="open-slide" style="width:20px;">
                                        <img src="@Url.Content("~/Content/images/crowd.jpg")" class="img-circle" style="width: 40px;margin: 10px;">
                                    </td>
                                    <td class="open-slide col-md-10 align-middle">
                                        <h4>Agência Crowd</h4>
                                        <p>Concurso slogan para empresa do Grupo Abril</p>
                                    </td>
                                    <td class="col-md-2 align-middle">
                                        <a href="@Url.Action("List", "Campaign", new { id= 1 })" title="Ver Resultado + Participações" class="btn btn-primary">
                                            Ver resultado final
                                        </a>
                                    </td>
                                </tr>-->
                                <tr data-url="@Url.Action("ComunicadoEspecial", "Project")">
                                    <td class="open-slide"  style="width:20px;">
                                        <img src="@Url.Content("~/Content/images/crowd.jpg")" class="img-circle" style="width: 40px;margin: 10px;">
                                    </td>
                                    <td class="open-slide col-md-10 align-middle">
                                        <h4>Agência Crowd</h4>
                                        <p>Comunicado Especial</p>
                                    </td>
                                    <td class="open-slide col-md-2"></td>
                                </tr>
                            </tbody>
                        </table>
                        @*else
                            {
                                <h3 style="color:#ccc;padding:25px;text-align:center">Você ainda não possui briefings.</h3>
                            }*@
                        <div class="list-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Script{
    <script src="~/Content/vendor/tinymce/tinymce.min.js"></script>

    <script src="~/Content/js/plugins/jquery.liveFilter.js"></script>

    

    <script type="text/javascript">
        $(document).ready(function () {
            tinymce.init({
                selector: "#content",
                theme: "modern",
                skin: 'light',
                language: 'pt_BR',
                menubar: false,
                statusbar: true,
                visual: false,
                height: 200,
                plugins: [
                    "advlist autolink link image lists code textcolor"
                ],
                toolbar: "forecolor | bold italic | alignleft aligncenter alignright | bullist numlist"
            });


            $('#livefilter-list').liveFilter('#briefing-search', 'li', {
                filterChildSelector: 'a'
            });


            $(".form-send-briefing").validate();
 

            $('body').delegate(".formMessage", "click", function (e) {

                var that = this;
                var message_item = $(that).parents("form").find("textarea").attr("id");

                if (tinyMCE.get(message_item).getContent() == "") {
                    alertify.alert("Preencha uma mensagem");
                    return;
                }

                $.ajax({
                    url: "@Url.Action("Message","Project")",
                    type: "POST",
                    data: { message: tinyMCE.get(message_item).getContent(), idBriefing: $('#idBriefing').val(), idFreelancer: $('#idFreelancer').val() },
                    success: function (data) {
                        var html =
                            '<div class="row"><div class="col-md-12"><div class="" style="margin:10px 0;"><a class="avatar" href="javascript:void(0)">' +
                            '<img src="@(!String.IsNullOrEmpty(user.Photo) ? Url.Content("~"+user.Photo) : Url.Content("~/Content/images/default-user-image.png"))"></a><h5 style="display:inline-block;margin: 10px 10px 0px 10px;vertical-align: top;">@user.Name</h5>' +
                            '<span style="float: right;"><small>#data</small></span></div></div><div class="col-md-12"style="font-weight:400;padding: 10px 25px;">#text' +
                            '</div></div>';

                        html = html.replace("#data", data.CreatedAt);
                        html = html.replace("#text", tinyMCE.get(message_item).getContent());

                        $('#msg').append(html);

                        //alertify.alert("Mensagem enviada com sucesso");

                        tinyMCE.get(message_item).setContent("");

                    }
                });
                e.preventDefault();
            });


           /* $('#briefingSearchForm').submit(function (e) {
                $.ajax({
                    url: "Url.Action("Search", "Project")",
                    type: "GET",
                    data: { search: $('input[name="searchBriefing"]').val() },
                    success: function (data) {
                        $('#tableBriefingUser').html(data);
                    }
                });
                e.preventDefault();
            });*/


            

            $('.site-menu-sub .site-menu-item a').click(function () {
                $('.open').removeClass('active');
                
                $(this).addClass('active');
                
                $.ajax({
                    url: "@Url.Action("BriefingUser", "Project")",
                    type: "GET",
                    data: { idBriefing: $(this).data('id') },
                    success: function (data) {
                        $('.app-mailbox.page-main').html(data);
                    }
                });
            });

            //Arquiva
            $('.site-menu-sub .site-menu-item i').click(function () {
                
                $.ajax({
                    url: "@Url.Action("BriefingArchive", "Project")",
                    type: "GET",
                    data: { idBriefing: $(this).next("a").data('id') },
                    success: function (data) {
                        window.location = window.location;
                    }
                });
            });

            //Reabre
            $('.site-menu-sub .site-menu-item i.fa-angle-up').click(function () {
                
                $.ajax({
                    url: "@Url.Action("BriefingUnArchive", "Project")",
                    type: "GET",
                    data: { idBriefing: $(this).next("a").data('id') },
                    success: function (data) {
                        window.location = window.location;
                    }
                });
            });
            

            
            $('.site-menu-sub:eq(0) li:eq(0) a').click();

            $('body').delegate('#selectAll', 'click', function () {
                if ($(this).is(":checked")) {
                    $('input[type="checkbox"]').prop('checked', true);
                } else {
                    $('input[type="checkbox"]').prop('checked', false);
                }
            });

            $('body').delegate('.agility, .quality, .responsability', 'click', function () {
                for (i = 1; i <= 5; i++) {
                    var id = $(this).attr('id').replace($(this).data('value'), i);
                    $('#' + id).find('.fa-star').removeClass("fa-star").addClass("fa-star-o");
                }
                for (i = 1; i <= $(this).data("value") ; i++) {
                    var id = $(this).attr('id').replace($(this).data('value'), i);
                    $('#' + id).find('.fa-star-o').removeClass("fa-star-o").addClass("fa-star");
                }
                $(this).parent().find('input[type="hidden"]').val($(this).data('value'));
            });

            $('body').delegate('#enviarRating', 'click', function () {
                $.ajax({
                    url: "@Url.Action("Rating", "Profissional")",
                    type: "POST",
                    data: {
                        freelancerId: $('input[name="freelancerId"]').val(),
                        responsability: $('input[name="responsability"]').val(),
                        agility: $('input[name="agility"]').val(),
                        quality: $('input[name="quality"]').val(),
                        comment: $('textarea[name="comment"]').val()
                    },
                    success: function (data) {
                        alertify.alert("Avaliação efetuada com sucesso");
                    }
                });
                return false;
            });
        });

        function removeFreelancerBriefing() {

            var ids = $('input[type="checkbox"]:not(#selectAll):checked');
            var idBriefing = 0;
            var htmlHidden = '';

            $('#formDelete').attr("action", '@Url.Action("DeleteBriefing")')

            $('#deleteForm').html("");

            $.each(ids, function (i, e) {
                idBriefing = $(e).data("briefing");
                htmlHidden += '<input type="hidden" value="' + $(e).data("id") + '" name="idFreelancers"/>';
            });
            htmlHidden += '<input type="hidden" value="' + idBriefing + '" name="idBriefing"/>';

            $('#deleteForm').html(htmlHidden);

            $('#modal-delete').modal('show');
        }

        function markAs(read) {
            var ids = $('input[type="checkbox"]:not(#selectAll):checked');
            var idBriefing = 0;
            var idsFreelancer = new Array();

            $.each(ids, function (i, e) {
                idBriefing = $(e).data("briefing");
                idsFreelancer.push($(e).data("id"));
            });

            $.ajax({
                method: "POST",
                data: { idBriefing: idBriefing, idsFreelancer: idsFreelancer, read: read },
                url: "@Url.Action("MarkAs","Project")",
                success: function (data) {
                    window.location = window.location.href;
                }


            });
        }
    </script>
}