﻿@model Freelancers.Crowd.Domain.Entities.Briefing
@{
    Layout = null;
}

<div class="page-header">
    <div class="page-header-aux">
        <h1 class="page-title">@Model.Title</h1>
        <div class="page-header-actions col-md-5">
            <div class="col-md-6">
                @if (Model.Active)
                {
                    <a href="@Url.Action("BriefingArchive", "Project", new { idBriefing = Model.Id })" title="Arquivar" class="btn btn-default col-md-12">Arquivar Briefing</a>
                }
                else
                {
                    <a href="@Url.Action("BriefingUnArchive", "Project", new { idBriefing = Model.Id })" title="Reativar" class="btn btn-default col-md-12">Reativar Briefing</a>
                }
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("BriefingForm", "Project", new { briefingId = Model.Id })" title="Ver / Editar Briefing" class="btn btn-primary col-md-12">Ver / Editar Briefing</a>
            </div>
        </div>
    </div>
</div>

<div class="page-header">
    <h1 class="page-title">Respostas</h1>
    <div class="page-header-actions">
        <form id="briefingSearchForm">
            <div class="input-search input-search-dark">
                <i class="input-search-icon wb-search" aria-hidden="true"></i>
                <input type="text" class="form-control" name="searchBriefing" id="searchBriefingMessage" placeholder="Buscar...">
            </div>
        </form>
    </div>
</div>
<!-- Mailbox Content -->
<div class="page-content page-content-table" data-selectable="selectable">
    <!-- Actions -->
    <!--<div class="page-content-actions">
        <div class="pull-right filter">
            <div class="dropdown">
                <button type="button" class="btn btn-pure dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Marcar como
                    <span class="icon wb-chevron-down-mini" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right animation-scale-up animation-top-right animation-duration-250" role="menu">
                    <li><a href="javascript:markAs(true);void(0)">Marcar como Lida</a></li>
                    <li><a href="javascript:markAs(false);void(0)">Marcar como não lida </a></li>
                </ul>
            </div>
        </div>
        <div class="actions-main">
            <div class="checkbox-custom checkbox-primary" style="display: inline-block;">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
            </div>
            <div class="btn-group">
                <button class="btn btn-icon btn-pure btn-default" type="button" onclick="removeFreelancerBriefing()">
                    <i class="fa-trash" aria-hidden="true" style="font-size: 18px;"></i>
                </button>
            </div>
        </div>
    </div>-->
    <!-- Mailbox -->
    <div id="tableBriefingUser">
        @if ((Model.Messages != null || Model.Messages.Count > 0) && Model.Messages.Where(x => x.UserId == null).OrderByDescending(x => x.Id).GroupBy(x => x.FreelancerId).Select(x => x.First()).Count() > 0)
        {
            <table class="table" data-plugin="animateList" data-animate="fade" data-child="tr">
                <tbody>
                    @foreach (var msg in Model.Messages.OrderByDescending(x => x.CreatedAt).GroupBy(x => x.FreelancerId).Select(x => x.First()).ToList())
                    {
                        <tr data-url="@Url.Action("InfoBriefing", "Project", new { idBriefing = Model.Id, idFreelancer = msg.FreelancerId })" class=""
                            style="@(msg.Read == false ? "background-color:#F1F1F1" : "")">
                            <!--<td class="cell-60">
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="freela_@msg.FreelancerId" data-id="@msg.FreelancerId" data-briefing="@msg.BriefingId">
                                    <label for="freela_@msg.FreelancerId"></label>
                                </div>
                            </td>-->
                            <td class="cell-100 responsive-hide" data-url="@Url.Action("Detail", "Profissional", new { id = msg.FreelancerId })">
                                <a class="avatar open-slide" href="javascript:void(0)">
                                    <img class="img-responsive" src="@(msg.Freelancers.Users.FirstOrDefault() != null && !String.IsNullOrEmpty(msg.Freelancers.Users.FirstOrDefault().Photo) ? Url.Content("~" + msg.Freelancers.Users.FirstOrDefault().Photo) : Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;">
                                </a>
                            </td>
                            <td class="open-slide">
                                <div class="content">
                                    <div class="title" data-url="@Url.Action("Detail", "Profissional", new { id = msg.FreelancerId })"><a class="open-slide">@msg.Freelancers.Name</a></div>
                                    <div class="abstract">@Html.Raw(msg.Text)</div>
                                </div>
                            </td>
                            <td class="cell-130">
                                <div class="time">@msg.CreatedAt.ToString("dd/MM/yyyy HH:mm")</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else {
            <div class="message-no-results">
                <i class="fa fa-envelope-o"></i>
                <h3>Você ainda não possui respostas.<br />Aguarde ou selecione mais freelancers ;)</h3>
            </div>

        }
    </div>
</div>


    <script>
        $(function () {            
            $('#tableBriefingUser').liveFilter('#searchBriefingMessage', 'tr', { });
        });

    </script>    

