﻿<!DOCTYPE html>
<html class="no-js css-menubar" lang="pt-br">
<head>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.structure.css">
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.theme.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/css/site.min.css">

    <link rel="stylesheet" href="~/Content/vendor/dropify/dropify.min.css">

    <script src="~/Content/vendor/jquery/jquery.js"></script>

    <script src="~/Content/vendor/bootstrap/bootstrap.js"></script>

    <script src="~/Content/vendor/dropify/dropify.min.js"></script>

    <script>
        $(function () {
            $('.dropify').dropify();


            $('#image_form').on('submit', (function (e) {
                e.preventDefault();
                var formData = new FormData(this);

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        $('.mce-btn.mce-open')
                            .parent()
                            .find('.mce-textbox')
                            .val(data)
                            .closest('.mce-window')
                            .find('.mce-primary').click();

                        
                        top.tinymce.activeEditor.insertContent("<img src='" + data + "' />");

                        top.tinymce.activeEditor.windowManager.close();


                    },
                    error: function (data) {
                        alert("Formato não permitido!");
                    }
                });
            }));
        });
    </script>

    
</head>
<body>
    <form method="post" action="@Url.Action("BriefingImageUpload")" id="image_form" name="image_form">
        
        <input type="file" class="dropify" data-height="150" name="image" accept="image/*" />
        
        
        <button type="submit" class="btn btn-primary" style="margin-top:20px;">Salvar</button>
        


    </form>
</body>

</html>