﻿@{
    Layout = null;
    var name = ViewBag.Name as String;
}
<div class="scroll">
    <header class="slidePanel-header overlay" style="background-image: url('@Url.Content("~/Content/photos/2.jpg")'); width: 500px;height: 250px;text-align: center;">
        <div class="overlay-panel overlay-background vertical-align" style="padding: 0;">
            <div class="slidePanel-actions">
                <div class="btn-group">
                    <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true"></button>
                </div>
            </div>
            <div class="vertical-align-middle">
                <img src="@Url.Content("~/Content/images/crowd.jpg")" class="img-circle" style="width: 80px;">
                <h5 class="name">Agência Crowd</h5>
                <h4>Comunicado especial</h4>
            </div>
        </div>
    </header>
    <div class="slidePanel-inner">
        <div class="row">
            <div class="" style="margin:10px 0;">
                <a class="avatar" href="javascript:void(0)">
                    <img src="@Url.Content("~/Content/portraits/1.jpg")">
                </a>
                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">Gabriel Matias<br><a href="#">Agência Crowd</a></h5>
                <span style="float: right;"><small></small></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
                <p>
                    Olá @name,<br /><br />

                    Seja bem-vindo(a) a Crowd, é um prazer ter você conosco!<br />
                    Você acaba de entrar para o nosso grupo de parceiros, formado por milhares de profissionais de todas as partes do Brasil e do mundo.<br />
                    É por meio dessa rede de profissionais que a Agência Crowd realiza 100% dos seus trabalhos.<br />
                    Nossa missão é ajudar clientes a crescer e inovar, e acima de tudo impactar a economia criativa através do trabalho remoto no país. Por isso, em breve disponibilizaremos nossa plataforma para que outras agências e empresas se juntem a essa comunidade, aumentando assim as suas chances de receber um job.<br />
                    Acreditamos que muitos dos trabalhos podem ser feitos de qualquer lugar e na hora em que você é mais produtivo, desde que se entregue no prazo acordado e com qualidade.<br /><br />

                    <strong>Veja abaixo como será nossa parceria a partir de agora:</strong><br /><br />

                    <strong>1. Projeto com seu perfil</strong> – Suas informações profissionais e de contato estão cadastradas em nosso sistema. Sabemos quais são suas habilidades e em quais projetos você gosta de trabalhar. Portanto, assim que surgir um projeto em que você se destaca, você receberá um email de notificação com acesso ao projeto para que você possa orçar.<br /><br />

                    <strong>2. Você foi selecionado</strong> – Se você foi selecionado para participar de um projeto como parceiro da Crowd, receberá o briefing completo do que deve fazer. Toda e qualquer dúvida pode ser resolvida aqui, por e-mail, skype ou telefone.<br /><br />

                    <strong>3. Pagamento</strong> - Os projetos da Crowd são pagos pela hora de trabalho ou por um budget pré determinado. A Crowd trabalha com total seriedade e nunca atrasa os pagamentos.<br /><br />

                    <strong>4. Crowdsourcing</strong> - Algumas vezes teremos concursos aonde a melhor solução ganhará um prêmio. Nesse caso o pagamento seguirão as regras de cada concurso. Esse tipo de ação trás benefício para o cliente e para a pessoa vencedora que poderá ganhar 10, 100x... mais do que se fosse uma hora de trabalho comum.<br /><br />

                    Estamos muito felizes por ter você no nosso time de parceiros!<br /><br />

                    Abraços,<br />
                    Gabriel Matias, Fundador e CEO da Crowd
                </p>
            </div>
        </div>
    </div>
</div>