﻿@model Freelancers.Crowd.Domain.Entities.Briefing
@using Freelancers.Crowd.Domain.Entities;
@{
    Layout = null;

    var freelancer = ViewBag.Freelancer as Freelancer;
    var freelancerUser = freelancer.Users.FirstOrDefault();
}
<div class="scroll info-briefing-slide">
    <header class="slidePanel-header overlay" style="background-image: url('@Url.Content("~/Content/photos/2.jpg")'); background-size:cover; width: 700px;height: 250px;text-align: center;">
        <div class="overlay-panel overlay-background vertical-align" style="padding: 0;">
            <div class="slidePanel-actions">
                <div class="btn-group">
                    <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true"></button>
                </div>
            </div>
            <div class="vertical-align-middle">
                <img src="@(freelancer.Users.FirstOrDefault() != null && !String.IsNullOrEmpty(freelancer.Users.FirstOrDefault().Photo) ? Url.Content("~/" + freelancer.Users.FirstOrDefault().Photo) : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="width: 80px;width: 80px;max-width: 80px;min-width: 80px;max-height: 80px;min-height: 80px;">
                <h4 class="name">@freelancer.Name</h4>
                <h5>@freelancer.Title</h5>
                <div class="tags">
                    @foreach (var skill in freelancer.Skills)
                    {
                        <button type="button" class="btn btn-xs btn-outline btn-inverse" style="margin-bottom:5px;">@skill.Name</button>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="slidePanel-inner">
        <div class="row">
            <div class="" style="margin:10px 0;">
                <a class="avatar" href="javascript:void(0)">
                    <img src="@(Model.Users != null && !String.IsNullOrEmpty("~" + Model.Users.Photo) ? Url.Content("~" + Model.Users.Photo) : Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;">
                </a>
                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;">@Model.Users.Name<br><a href="#">@Model.Users.Customer.Name</a></h5>
                <span style="float: right;"><small>@Model.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>@Model.Title</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Excerpt)

            </div>
            <div class="col-md-12" style="padding-top:20px;">
                @Html.Raw(Model.Text)
            </div>
        </div>
        <hr />
        <div>
            <div id="msg">
                


                @foreach (var m in Model.Messages.Where(x => x.FreelancerId == freelancer.Id).OrderBy(x => x.CreatedAt))
                {
                    String name = String.Empty;
                    String photo = String.Empty;

                    if (m.UserId == null)
                    {
                        name = m.Freelancers.Name;
                        photo = m.Freelancers.Users.FirstOrDefault() != null ? m.Freelancers.Users.FirstOrDefault().Photo : String.Empty;
                    }
                    else
                    {
                        name = m.User.Name;
                        photo = m.User.Photo;
                    }

                    <div class="row">
                        <div class="col-md-12">
                            
                            @if (m.UserId == null)
                            {
                                <div class="" style="margin:10px 0;" data-url="@Url.Action("Detail", "Profissional", new { id = m.Freelancers.Id })">
                                    <a class="avatar open-slide" href="#">
                                        <img src="@(!String.IsNullOrEmpty(photo) ? Url.Content("~" + photo) : Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;">
                                    </a>

                                    <h5 style="display:inline-block;margin: 10px 10px 0px 10px;vertical-align: top;">
                                        @name
                                        @*<br>
                                            @if (Model.Users.Customer != null)
                                            {
                                                <a href="#">@Model.Users.Customer.Name</a>
                                            }*@
                                    </h5>
                                    <span style="float: right;"><small>@m.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
                                </div>
                            }
                            else
                            {
                                <div class="" style="margin:10px 0;">
                                    
                                    <img src="@(!String.IsNullOrEmpty(photo) ? Url.Content("~" + photo) : Url.Content("~/Content/images/default-user-image.png"))" 
                                         style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;" 
                                         class="avatar" />
                                    

                                    <h5 style="display:inline-block;margin: 10px 10px 0px 10px;vertical-align: top;">
                                        @name
                                        @*<br>
                                            @if (Model.Users.Customer != null)
                                            {
                                                <a href="#">@Model.Users.Customer.Name</a>
                                            }*@
                                    </h5>
                                    <span style="float: right;"><small>@m.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
                                </div>
                            }
                            
                    </div><div class="col-md-12" style="font-weight:400;padding: 10px 25px;">
                        @Html.Raw(m.Text)
                    </div>
                </div>
                <hr />
                }

                @if (Model.Complements.Count != 0)
                {
                <div class="col-md-12" style="padding-top:20px;">
                    <h4>Complementos do briefing</h4>
                </div>
                }

                @foreach (var comp in Model.Complements.OrderBy(x => x.CreatedAt))
                {
                    String name = String.Empty;
                    String photo = String.Empty;



                    name = Model.Users.Name;
                    photo = Model.Users.Photo;


                    <div class="row">
                        <div class="col-md-12">

                            <div class="" style="margin:10px 0;">

                                <img src="@(!String.IsNullOrEmpty(photo) ? Url.Content("~"+photo) : Url.Content("~/Content/images/default-user-image.png"))"
                                     style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;"
                                     class="avatar" />


                                <h5 style="display:inline-block;margin: 10px 10px 0px 10px;vertical-align: top;">
                                    @name

                                </h5>
                                <span style="float: right;"><small>@comp.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
                            </div>

                        </div><div class="col-md-12" style="font-weight:400;padding: 10px 25px;">
                            @Html.Raw(comp.Text)
                        </div>
                    </div>
                    <hr />
                }
            </div>
            @*@if (Model.Messages.Count > 0)
            {
                <hr />
            }*@
            <form>
                <input type="hidden" id="idBriefing" value="@Model.Id" />
                <input type="hidden" id="idFreelancer" value="@freelancer.Id" />
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="message_@freelancer.Id@Model.Id" class="form-control tiny tinymce" style="height: 80px; width: 440px;max-width: 100%;max-height: 80px;margin-bottom: 10px;" placeholder="Escreva aqui"></textarea>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px;margin-top:10px;">
                        <button type="button" id="formMessage_@Model.Id" class="btn btn-primary pull-right formMessage">
                            Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>