﻿@model IEnumerable<Freelancers.Crowd.Domain.Entities.Briefing>
@{
    Layout = null;
}
@*<input type="hidden" value="@Model.Id" id="idBriefingOpen" />*@
<table class="table" data-plugin="animateList" data-animate="fade" data-child="tr">
    <tbody>
        @foreach (var briefing in Model)
        {
            foreach (var msg in briefing.Messages.GroupBy(x => x.FreelancerId).Select(x => x.First()).OrderBy(x => x.CreatedAt).ToList())
            {
                <tr data-url="@Url.Action("InfoBriefing", "Project", new { idBriefing = briefing.Id, idFreelancer = msg.FreelancerId })" class=""
                    style="@(msg.Read == false ? "background-color:#F1F1F1" : "")">
                    <td class="cell-60">
                        <div class="checkbox-custom checkbox-primary">
                            <input type="checkbox" id="freela_@msg.FreelancerId" data-id="@msg.FreelancerId">
                            <label for="freela_@msg.FreelancerId"></label>
                        </div>
                    </td>
                    <td class="cell-60 responsive-hide" data-url="@Url.Action("Detail", "Profissional", new { id = msg.FreelancerId })">
                        <a class="avatar open-slide" href="javascript:void(0)">
                            <img class="img-responsive" src="@(msg.Freelancers.Users.FirstOrDefault() != null && !String.IsNullOrEmpty(msg.Freelancers.Users.FirstOrDefault().Photo) ? Url.Content("~" + msg.Freelancers.Users.FirstOrDefault().Photo) : Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 40px;max-width: 40px;height: 40px;max-height: 40px;">
                        </a>
                    </td>
                    <td class="open-slide">
                        <div class="content">
                            <div class="title" data-url="@Url.Action("Detail", "Profissional", new { id = msg.FreelancerId })"><a class="open-slide">@msg.Freelancers.Name</a></div>
                            <div class="abstract">@Html.Raw(msg.Text)</div>
                        </div>
                    </td>
                    <td class="cell-130">
                        <div class="time">@msg.CreatedAt.ToString("dd/MM/yyyy HH:mm")</div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>