﻿<!DOCTYPE html>
<html amp>
<head>
    <meta charset="utf-8">
    <title>{{Name}} - {{Title}} - CROWD</title>
    <meta name="description" content="{{Description}}">
    <meta name="author" content="CROWD">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="canonical" href="{{Canonical}}">
    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        * {
           -webkit-box-sizing: border-box;
            box-sizing: border-box;
            white-space: wrap;
        }

        body {
            width: 100%;
            background-color: #f6f6f6;
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            white-space: nowrap;
        }

        amp-img {
            height: auto;
        }

        .main-containerðŸ”¥ {
            padding: 1.5%;
        }

        .centered-img {
            width: 150px;
        }

        .main-logo {
            width: 100px;
            height: 26px;
            padding: 5px 0 10px 0;
            margin: 15px 0 15px 0;
        }

        .center-block {
            display: block;
            text-align: center;
            margin: 0 auto;
        }

        .left-block {
            display: block;
            text-align: left;
            padding: 10px;
            float: left
        }

        .row {
            width: 90%;
            height: auto;
            margin: 0 auto;
        }

        .fullsize-column {
            width: 100%;
            height: auto;
            background-color: #fff;
            padding-bottom: 20px;
            margin-top: 15px;
        }

        .primary-btn {
            display: block;
            width: 200px;
            padding: 10px;
            border-radius: 150px;
            outline: none;
            background-color: #66a8e7;
            color: #fff;
            text-align: center;
            font-size: 0.9rem;
            font-weight: lighter;
            text-decoration: none;
        }

            .primary-btn:active {
                background-color: #2482dd;
            }

        .media-block {
            width: 100%;
            min-height: 100%;
            height: 260px;
            margin: 8% 0;
        }

        .person-cardâ¤ {
            width: 100%;
            padding: 8% 3%;
        }

        .carousel-item {
            width: 200px;
            height: 200px;
        }

        .user-photo {
            display: inline-block;
            width: 90px;
            height: 90px;
            margin: 1%;
        }

        .info-block {
            display: inline-block;
            padding-left: 5px;
            vertical-align: top;
        }

        .person-name {
            font-size: 1.3rem;
            line-height: 1px;
            font-weight: lighter;
            color: #66a8e7;
            opacity: 0.8;
        }

        .person-title {
            font-size: 1rem;
            line-height: 13px;
            font-weight: lighter;
            color: #66a8e7;
            opacity: 0.8;
        }

        .rating-company.rating-admin {
            height: 50px;
            width: 50px;
            padding-left: 2%;
        }

        .rating-stars {
            color: #F1A652;
        }

        .section-heading {
            opacity: 0.8;
            font-size: 1.5rem;
            font-weight: lighter;
        }

        .section-subheading {
            opacity: 0.8;
            font-size: 1.2rem;
            font-weight: lighter;
        }

        .portfolio-carousel {
            white-space: nowrap;
            overflow-x: scroll;
            position: relative;
            right: 10%;
            width: 120%;
        }

        .carousel-item {
            display: inline-block;
            width: 100px;
            height: 100px;
        }

        .left-text {
            white-space: pre-line;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .text-block {
            font-weight: lighter;
            font-size: 0.8rem;
            opacity: 0.8;
        }

        .text-block-small {
            font-weight: lighter;
            font-size: 0.7rem;
            padding-right: 10%;
            padding-left: 1%;
            opacity: 0.8;
        }

        .left-pad {
            padding-left: 3%;
        }

        .skill-tag {
            border: 1px solid #57C7D4;
            border-radius: 5px;
            padding: 3px 14px;
            margin-right: 4px;
            margin-bottom: 10px;
            display: inline-block;
            color: #57C7D4;
            font-weight: lighter;
        }

        .info-category {
            opacity: 0.8;
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 5px;
        }

        .category-title {
            opacity: 1;
            font-weight: 400;
        }

        .bottom-border {
            display: block;
            height: 1px;
            width: 100%;
            border-bottom: 3px solid #f6f6f6;
        }

        .section-block {
            padding: 8% 3%;
        }

        .exp-title,
        .company-title,
        .duration {
            margin: 13px 0;
            line-height: 5px;
        }

        .exp-title,
        .company-title {
            color: #59656B;
            font-weight: 400;
        }

        .duration {
            color: #79909B;
            font-weight: 300;
            font-style: italic;
        }

        .box-double-padded {
            padding: 1% 1%;
        }

        .experience-block {
            padding-bottom: 12%;
        }

        .topic-title {
            opacity: 0.8;
            margin: 0;
            line-height: 10px;
            color: #59656B;
            font-size: 0.8rem;
            font-weight: 300;
        }

        .rating-stars-small {
            color: #F1A652;
            font-size: 0.7rem;
        }

        .rating-box {
            display: inline-block;
            margin: 0 1.5%;
        }

        .rating-company {
            display: inline;
            width: 60px;
            height: 60px;
            margin: 1%;
        }

        .task-date {
            font-size: 0.9rem;
            opacity: 0.8;
            color: #59656B;
            font-weight: 300;
            line-height: 2px;
            font-style: italic;
        }

        .task-title {
            color: #596569;
            font-size: 0.9rem;
            font-weight: 400;
            opacity: 0.9;
        }

        .info-block.task-block {
            padding: 3%;
        }

        .person-cardâ¤.company-block {
            padding-top: 0px;
            padding-bottom: 0;
        }

        .company-admin-title {
            font-style: normal;
            font-weight: lighter;
            font-size: 0.9rem;
            color: #58646B;
            opacity: 0.8;
            margin: 3px;
            white-space: pre-line;
        }

        .company-block.last-block {
            margin-top: 30px;
        }

        .copyright {
            margin-top: 15px;
            display: inline-block;
            float: left;
        }

        .footer-menu {
            display: inline-block;
            float: left;
            padding-left: 0%;
            list-style-type: none;
            margin-top: 0;
        }

            .footer-menu > li {
                float: left;
                padding: 0 10px 0 0;
                font-size: 14px;
                text-transform: uppercase;
            }

        .main-logo.footer-logo {
            margin-right: 4%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
		.img-profile-default {
			display: inline-block;
			margin-right: 17px;
			float: left;
			margin-left: 0;
			width: 80px;
			height: 80px;
			position: relative;
			left: 0;
			border-radius: 50px;
		}
		.img-profile-default > div {
			height: 80px;
			border-radius: 50px;
        }
        .profile-background {
            background:url({{Photo}});
            width: 100%;
            height: 80px;
            background-position: center;
            background-size: cover;
        }
    </style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "givenName": "{{Name}}",
            "name": "{{Name}}",
            "homeLocation": "{{City}}",
            "jobTitle": "{{Title}}",
    		"estimatedSalary":"{{Price}}",
    		"skills":[{{#each Skills}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],
            "hasOccupation": [{"name":"{{Title}}", "estimatedSalary":"{{Price}}","skills":[{{#each Skills}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}]}],
            "worksFor": {{#with Experiences.[0]}}"{{Company}}"{{/with}},
            "description": "{{Description}}",
            "email": "{{Email}}",
            "member": "CROWD",
    		"url": "{{Canonical}}",
            "offeredBy": "CROWD",
    		"follows":[{{#each Segments}}"{{this}}"{{#unless @last}},{{/unless}}{{/each}}],
            "image": "https://api.comunidadecrowd.com.br/{{Photo}}",
    		"makesOffer":"{{Categoria}}",
    		"seeks": "freelancer",
            "reviewedBy": "CROWD",
            "ratingValue": "{{Rating}}"
            }
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <main class="main-containerðŸ”¥">
        <div class="row">
            <div class="center-block">
                <amp-img src="https://crowd.br.com/wp-content/uploads/2017/11/logo_crowd_preto.png"
                         layout="fixed-height"
                         height="12"
                         alt=""
                         class="center-block main-logo">
                </amp-img>
            </div>
            <section class="fullsize-column">
                <div itemscope itemtype="http://schema.org/Person" class="person-cardâ¤">
					<div class="img-profile-default">
                      <div class="profile-background"></div>
                    </div>
                    <div class="info-block">
                        <span class="rating-stars" itemprop="ratingValue">{{RatingStar}}</span>
                        <h1 class="person-name" itemprop="givenName">{{Name}}</h1>
                        <h3 class="person-title" itemprop="jobTitle">{{Title}}</h3>
                    </div>
                </div>
                <a class="primary-btn center-block" href="http://crowd.br.com/contratar-freelancers">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Contratar {{FirstName}}
                </a>
                <!--<div class="center-block">
                  <amp-img
                    src="https://cdn-n.luerzersarchive.com/archive/_cache/_1449475_5_13650e6d8f3fc5a4d7dd2dfc07b7ddbb.jpg"
                    layout="fixed-height"
                    height="260"
                    alt=""
                    class="media-block center-block">
                  </amp-img>
                  <h2 class="section-heading">Portfolio</h2>
                </div>
                <div class="center-block portfolio-carousel">
                  {{#each Portfolio}}
                  <amp-img
                    src={{this}}
                    layout="fixed-height"
                    height="100"
                    alt=""
                    class="carousel-item left-text">
                  </amp-img>
                  {{/each}}
                </div>-->
                <div class="left-pad left-text">
                    <p class="text-block">
                        {{Description}}
                    </p>
                </div>
                <div class="left-pad left-text">
                    <h3 class="section-subheading">
                        Atividades e Habilidades
                    </h3>
                    <div class="left-text">
                        {{#each Skills}}<span class="skill-tag">{{this}}</span>{{/each}}
                    </div>
                </div>
                <div class="left-pad left-text section-block">
                    <h4 class="info-category"><span class="category-title">Categoria: </span> {{Category}}</h4>
                    <h4 class="info-category"><span class="category-title">Segmentos: </span> {{#each Segments}}{{this}} {{/each}}</h4>
                    {{#if Languages}}<h4 class="info-category"><span class="category-title">Idiomas: </span> {{#each Languages}}{{this}} {{/each}}</h4>{{/if}}
                </div>
                <div class="bottom-border"></div>
                <div class="left-pad left-text section-block">
                    <h4 class="info-category">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{State}}, {{City}}
                    </h4>
                    <h4 class="info-category">Disponibilidade: {{Availability}}</h4>
                    <h4 class="info-category">R$ {{Price}}/h</h4>
                </div>
                <div class="bottom-border"></div>
                {{#if Experiences}}
                <div class="left-pad left-text experience-block">
                    <h3 class="section-subheading">
                        Experiência Profissional
                    </h3>
                    {{#each Experiences}}
                    <div class="left-pad box-double-padded" itemscope itemtype="http://schema.org/Corporation">
                        <h4 class="exp-title" itemprop="department">{{Role}}</h4>
                        <h5 class="company-title" itemprop="name">{{Company}}</h5>
                        <h6 class="duration">{{Duration}}</h6>
                        <p class="text-block-small">{{Description}}</p>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                <div class="bottom-border"></div>
                <div class="left-pad left-text experience-block">
                    <h3 class="section-subheading">
                        Últimas Avaliações
                    </h3>
                    {{#if Ratings}}
                    <div class="left-pad box-double-padded rating-box">
                        <h5 class="topic-title">Agilidade</h5>
                        <span class="rating-stars-small">{{AgilityStar}}</span>
                    </div>
                    <div class="left-pad box-double-padded rating-box">
                        <h5 class="topic-title">Compromisso</h5>
                        <span class="rating-stars-small">{{ResponsabilityStar}}</span>
                    </div>
                    <div class="left-pad box-double-padded rating-box">
                        <h5 class="topic-title">Qualidade</h5>
                        <span class="rating-stars-small">{{QualityStar}}</span>
                    </div>
                    {{else}}
                    <div class="left-pad box-double-padded rating-box">
                        <h5 class="topic-title">Este profissional ainda não foi avaliado</h5>
                    </div>
                    {{/if}}
                </div>
                {{#each Ratings}}
                <div class="person-cardâ¤ company-block">
                {{#if Logo}}
                    <amp-img src={{Logo}}
                        layout="fixed-height"
                        height="60"
                        alt=""
                        class="rating-company left-text">
                    </amp-img>
                {{/if}}
            </div>
            {{/each}} 
            {{#each Ratings}}
            <div class="person-cardâ¤ company-block">
                    <div class="info-block task-block">
                        <!-- <h1 class="task-date">{{TaskDate}}</h1> -->
                        <!-- <h3 class="task-title">{{TaskTitle}}</h3> -->
                    </div>
                </div>
                {{/if}}
                <div class="person-cardâ¤ company-block">
                    <!-- <amp-img src={{Photo}}
                             layout="fixed-height"
                             height="50"
                             alt=""
                             class="rating-company rating-admin left-text">
                    </amp-img> -->
                    <div class="info-block task-block">
                        <!-- <h3 class="company-admin-title">{{Name}}</h3> -->
                        <!-- <h3 class="company-admin-title">{{Company}}</h3> -->
                    </div>
                    <div class="info-block task-block">
                        <h3 class="company-admin-title">{{Description}}</h3>
                    </div>
                </div>
                {{/each}}
            </section>
            <footer>
                <div class="center-block">
                    <amp-img src="http://crowd.br.com/wp-content/uploads/2017/03/logo-crowd-black-1.png"
                             layout="fixed-height"
                             height="10"
                             alt=""
                             class="left-block main-logo footer-logo">
                    </amp-img>
                    <span class="copyright">© 2017</span>
                </div>
                <div class="center-block">
                    <ul class="footer-menu">
                        <li><a href="https://crowd.br.com/manifesto.pdf">MANIFESTO</a></li>
                        <li><a target="_blank" href="https://crowd.br.com//POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf">TERMOS DE USO</a></li>
                        <li><a href="https://crowd.br.com/faq">FAQ</a></li>
                        <li><a href="https://crowd.br.com/blog">BLOG</a></li>
                        <li><a href="https://crowd.br.com/contratar-a-crowd/#contato">CONTATO</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </main>

</body>
</html>