﻿<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <title>{{Company}} - {{Title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
  <link rel="canonical" href="https://crowd.br.com/Sms/Indicacao">
  <!-- Completar aqui! -->
  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

  </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link async rel="stylesheet" href="../Templates/css/normalize.css" />
  <link async rel="stylesheet" href="../Templates/css/animate.css" />
  <link async rel="stylesheet" href="../Templates/css/style.sms.css" />
  <style amp-custom>
    /** COLAR AQUI O CSS **/

    input:invalid,
    select:invalid {
      border-bottom: .5px solid red;
    }

    label {
      margin: 5%;
      width: 90%;
    }

    label>input[type],
    label>select {
      padding: unset;
      width: 100%;
      outline: unset;
    }

    input::-moz-placeholder {
      font-style: italic;
    }

    input::-webkit-input-placeholder {
      font-style: italic;
    }

    input::placeholder {
      font-style: italic;
    }

    select::-moz-placeholder {
      font-style: italic;
    }

    select::-webkit-input-placeholder {
      font-style: italic;
    }

    select::placeholder {
      font-style: italic;
    }

    select {
      background: transparent;
      border: unset;
    }

    select:required:invalid {
      color: gray;
    }

    form {
      margin-top: 15%;
    }

    amp-selector input {
      color: #333
    }

    .labelTermos {
      border: unset;
      color: #333;
      font-size: 80%
    }

    #checkTermos {
      margin: unset;
      float: unset;
      clear: unset;
      width: auto;
      background: transparent;
      border: 1px solid #333;
    }

    #preCadastrar,
    #enviarLogin {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 90%;
      color: white;
      background: #4acfa4;
      height: 41px;
      font-size: 1.1rem;
      margin-bottom: 5%;
    }

  </style>
  <!-- There's just a bit of css that's needed -->
  <style amp-custom>
    .ampTabContainer {
      display: flex;
      flex-wrap: wrap;
    }

    amp-selector [option] {
      padding: .4rem;
    }

    amp-selector [option][selected] {
      outline: unset;
      border: 1px solid #ccc;
      border-bottom: unset;
      background: #ccc;
      border-radius: 10px 10px 0 0;
      color: white;
    }

    .tabButton {
      list-style: none;
      flex-grow: 1;
      text-align: center;
      cursor: pointer;
    }

    .tabContent {
      display: none;
      width: 100%;
      order: 1;
      /* must be greater than the order of the tab buttons to flex to the next line */
      border: 1px solid #ccc;
    }

    .tabButton[selected]+.tabContent {
      display: block;
    }

    /* For example below (not required) */

    .itemCustom {
      border: 1px solid #000;
      height: 280px;
      width: 380px;
      margin: 10px;
      text-align: center;
      padding-top: 140px;
    }

    amp-selector {
      padding: unset;
      margin: .5rem;
      margin-top: 3rem
    }

  </style>
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-04-04" content="Ajcrk411RcpUCQ3ovgC8le4e7Te/1kARZsW5Hd/OCnW6vIHTs5Kcq1PaABs7SzcrtfvT0TIlFh9Vdb5xWi9LiQsAAABSeyJvcmlnaW4iOiJodHRwczovL2FtcGJ5ZXhhbXBsZS5jb206NDQzIiwiZmVhdHVyZSI6IldlYlNoYXJlIiwiZXhwaXJ5IjoxNDkxMzM3MDEwfQ==">
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="04/11/17" content="ArP55PINkEOG8GxebgOUGlUeleT5iZV2J1a5OVsIX4kq+89ZHBVKzoXikg0AiPOVQbJijM3fE+myhu62DEeCRwcAAABneyJvcmlnaW4iOiJodHRwczovL2Nkbi5hbXBwcm9qZWN0Lm9yZzo0NDMiLCJmZWF0dXJlIjoiV2ViU2hhcmUiLCJleHBpcnkiOjE0OTE5Mzc4NDEsImlzU3ViZG9tYWluIjp0cnVlfQ==">
</head>

<body id="body">
  <input type="hidden" id="freelancerId" value={{FreelancerId}} />
  <input type="hidden" id="briefingId" value={{Id}} />
  <div id="content">
    <amp-state id="allPanels">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "positive2": "painelInteressadoAgradecimento1",
          "positive3": "painelInteressadoAgradecimento2",
          "negative1": "painelDesinteressadoAgradecimento1"
        }

      </script>
    </amp-state>
    <amp-state id="allReset">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "positive2": "painelInteressadoAgradecimento1",
          "positive3": "painelInteressadoAgradecimento2",
          "negative1": "painelDesinteressadoAgradecimento1"
        }

      </script>
    </amp-state>

    <header>
      <amp-img src="https://crowd.br.com/wp-content/uploads/2018/04/logo_preto.png" width="15" height="2" alt="CROWD" layout="responsive" />
    </header>

    <div class="header-briefing">

      <div class="left">
        <amp-img alt="{{Company}}" class="left" src="{{logo}}" width="50" height="50" layout="fixed"></amp-img>
        <p>{{Company}}<br>{{Project}}</p>
      </div>

      <div class="right">
        <amp-img alt="{{Name}}" class="right" src="{{Photo}}" width="50" height="50" layout="fixed"></amp-img>
        <p>{{Name}}<br>{{Role}}</p>
      </div>

      <div width="100%" height="auto" class="titulo">
        <h1>{{Title}}</h1>
        <p>{{Resumo}}</p>
      </div>

    </div>

    <amp-accordion>

      <!-- #IF ANEXOS -->
      {{#if IsAttachs}}
      <section>
        <h4>Anexos</h4>
        <ul>
          <ol>
            {{#each Attachs}}
            <li>
              <a href="{{Link}}">{{Name}}</a>
            </li>
            {{/each}}
          </ol>
        </ul>
      </section>
      {{/if}}
      <!-- /IF -->
      {{#if IsComplements}}
      <section>
        {{else}}
        <section expanded>
          {{/if}}
          <!-- aberto -->
          <h4>Descrição do Briefing</h4>
          <!-- <p>Descrição completa do briefing</p> -->
          <div>{{{ Description }}}</div>
        </section>

        <!-- #IF Complemento -->
        {{#if IsComplements}}
        <section expanded>
          <h4>Complemento do Briefing</h4>
          <div>
            {{#each Complements}}
            <!-- aberto -->
            <!-- <p>Descrição completa do briefing</p> -->
            <div>{{{ Description }}}</div>
            {{#if IsAttachs}}
            <ul>
              <ol>
                {{#each Attachs}}
                <li>
                  <a href="{{Link}}">{{Name}}</a>
                </li>
                {{/each}}
              </ol>
            </ul>
            {{/if}} {{/each}}
          </div>
        </section>
        {{/if}}
        <!-- /IF -->

    </amp-accordion>

  </div>
  <amp-selector id="ampSelector" role="tablist" layout="container" class="ampTabContainer">
    <div role="tab" class="tabButton" selected="selected" option="a">CADASTRE-SE</div>
    <div role="tabpanel" class="tabContent">
      <!-- SE ATENTAR AOS INPUT["HIDDEN"] -->
      <label for="nome">
            <input
              id="nome"
              placeholder="Seu nome completo"
              type="text"
              name="nome"
              min="1"
              required
            >
          </label>
      <label for="email">
            <input
              id="email"
              placeholder="Seu melhor e-mail"
              type="email"
              name="email"
              min="1"
              required
            >
          </label>
      <label for="categoria">
          <select
            id="categoria"
            name="categoria"
            class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
            aria-required="true"
            aria-invalid="false"
            placeholder="Sua Categoria"
            required
          >
            <option disabled selected hidden>Sua Categoria</option>
            <option value="Assessoria">Assessoria</option>
            <option value="Atendimento e GP">Atendimento e GP</option>
            <option value="Áudio e Vídeo">Áudio e Vídeo</option>
            <option value="Conteúdo">Conteúdo</option>
            <option value="Desenvolvimento">Desenvolvimento</option>
            <option value="Design">Design</option>
            <option value="Eventos">Eventos</option>
            <option value="Fotografia">Fotografia</option>
            <option value="Marketing de Performance">Marketing de Performance</option>
            <option value="Planejamento">Planejamento</option>
            <option value="Redação Publicitária">Redação Publicitária</option>
            <option value="Tradução">Tradução</option>
          </select>
          </label>
      <label for="celular">
            <input
              id="celular"
              placeholder="Celular (XX) 98765-4321"
              type="tel"
              name="phone"
              required
            >
          </label>
      <label class="labelTermos" for="checkTermos"><input type="checkbox" name="termos[]" value="Li e concordo com" id="checkTermos" required> 
            Concordo com os <a targetmai="_blank" href="https://app.crowd.br.com/POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf">termos de uso</a><br/>
            <small><i class="fa fa-lock"></i>&nbsp;É preciso concluir o cadastro para participar deste briefing</small>
          </label>
      <div submit-error>
        <template type="amp-mustache" id="errorSignUp">HOUVE UM PROBLEMA TE CADASTRANDO. VOCÊ ESTÁ ONLINE?</template>
      </div>
      <div submit-success>
        <template type="amp-mustache" id="successSignUp">CADASTRADO ENVIADA COM SUCESSO.</template>
      </div>

      <button id="preCadastrar" type="submit">Quero este job</button>
    </div>
    <div role="tab" class="tabButton" option="b">LOGIN</div>
    <div role="tabpanel" class="tabContent">
      <!-- SE ATENTAR AOS INPUT["HIDDEN"] -->
      <label for="loginEmail">
            <input
              id="loginEmail"
              placeholder="Seu email cadastrado"
              type="email"
              name="loginEmail"
              min="1"
              required
            >
          </label>
      <label for="loginSenha">
            <input
              id="loginSenha"
              placeholder="Sua senha"
              type="password"
              name="loginSenha"
              min="1"
              required
            >
          </label>
      <label class="labelTermos" for="checkTermos">
        <small><i class="fa fa-lock"></i>&nbsp;É preciso ter concluido o cadastro para participar deste briefing</small>
      </label>
      <div submit-error>
        <template type="amp-mustache" id="errorLogin">HOUVE UM PROBLEMA SALVANDO SUA RESPOSTA. VOCÊ ESTÁ ONLINE?</template>
      </div>
      <div submit-success>
        <template type="amp-mustache" id="successLogin">RESPOSTA ENVIADA COM SUCESSO.</template>
      </div>

      <button id="enviarLogin" type="submit">Quero este job</button>
    </div>


  </amp-selector>



  <div on="tap:AMP.setState({allPanels: allReset}),amspSelector.hide" [class]="allPanels.positive2" id="painelInteressadoAgradecimento1" class="painelInteressadoAgradecimento">
    <h3><i class="fa fa-check"></i>&nbsp;parabéns</h3>
    <h2>Você recebeu um email para concluir o cadastro!</h2>
  </div>
  <div on="tap:AMP.setState({allPanels: allReset}),amspSelector.hide" [class]="allPanels.positive3" id="painelInteressadoAgradecimento2" class="painelInteressadoAgradecimento">
    <h3><i class="fa fa-check"></i>&nbsp;parabéns</h3>
    <h2>Agora é só responder o briefing!</h2>
  </div>
  <div on="tap:AMP.setState({allPanels: allReset})" [class]="allPanels.negative1" id="painelDesinteressadoAgradecimento1" class="painelDesinteressadoAgradecimento1">
    <h3><i class="fa  fa-remove"></i>&nbsp;oh não!</h3>
    <h2>Houve um problema, você já é cadastrado?</h2>
  </div>

  <amp-iframe width=0 height=0 sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox" layout="no-display" frameborder="0">
    <script>
      'use strict';

      // const interessadoButton = document.getElementById('interessadoButton');
      // const desinteressadoButton = document.getElementById('desinteressadoButton');
      // const painelProposta = document.getElementById('painelProposta');
      // const painelJustificativa = document.getElementById('painelJustificativa');
      const painelInteressadoAgradecimento1 = document.getElementById('painelInteressadoAgradecimento1');
      const painelInteressadoAgradecimento2 = document.getElementById('painelInteressadoAgradecimento2');
      const painelDesinteressadoAgradecimento1 = document.getElementById('painelDesinteressadoAgradecimento1');
      // const painelDesinteressadoAgradecimento2 = document.getElementById('painelDesinteressadoAgradecimento2');
      const form = document.getElementById('formProposta');
      // const enviarProposta = document.getElementById('enviarProposta');
      const preCadastrar = document.getElementById('preCadastrar');
      const enviarLogin = document.getElementById('enviarLogin');
      const estouOcupado = document.getElementById('estouOcupado');
      const estouDesinteressado = document.getElementById('estouDesinteressado');
      const content = document.getElementById('content');

      const getValueOf = function (eId) {
        return document.getElementById(eId)
          .value.replace(/\n\r?/g, '<br />');
      }

      const getNumbersOf = function (eId) {
        return document.getElementById(eId)
          .value.replace(/\D+/g, '');
      }

      const allElements = new Array(painelInteressadoAgradecimento1, painelInteressadoAgradecimento2, painelDesinteressadoAgradecimento1);


      content.addEventListener('click', function reset(params) {
        if (history.state["AMP.History"] <= 1) return false;
        history.go(-1)
      });

      let touchstartX = 0;
      let touchstartY = 0;
      let touchendX = 0;
      let touchendY = 0;

      const gestureZone = document.getElementById('body');

      gestureZone.addEventListener('touchstart', function (event) {
        touchstartX = event.changedTouches[0].screenX;
        touchstartY = event.changedTouches[0].screenY;
      }, false);

      gestureZone.addEventListener('touchend', function (event) {
        touchendX = event.changedTouches[0].screenX;
        touchendY = event.changedTouches[0].screenY;
        handleGesture();
      }, false);

      function handleGesture() {

        const {
          width,
          height
        } = gestureZone.getBoundingClientRect();

        const ratio_horizontal = (touchendX - touchstartX) / width;
        const ratio_vertical = (touchendY - touchstartY) / height;

        if (ratio_vertical > ratio_horizontal && ratio_vertical > 0.15) {
          // if (allElements[2].classList.value == "painelProposta animated slideInUp") allElements[2].classList = "painelProposta animated slideOutDown";
          // if (allElements[3].classList.value == "painelJustificativa animated slideInUp") allElements[3].classList = "painelJustificativa animated slideOutDown";
          if (allElements[0].classList.value == "painelInteressadoAgradecimento1 animated slideInUp") allElements[0].classList = "painelInteressadoAgradecimento1 animated slideOutDown";
          if (allElements[1].classList.value == "painelInteressadoAgradecimento2 animated slideInUp") allElements[1].classList = "painelInteressadoAgradecimento2 animated slideOutDown";
          if (allElements[2].classList.value == "painelDesinteressadoAgradecimento1 painelJustificativa animated slideInUp") allElements[2].classList = "painelDesinteressadoAgradecimento1 painelJustificativa animated slideOutDown";

          if (history.state["AMP.History"] <= 1) return false;
          return setTimeout(function () {
            history.go(-1);
          }, 400);
        }

        return false;

      }

      var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
          if (xhr.status === OK)
            console.log(xhr.responseText); // 'This is the returned text.'
        } else {
          console.log('Error: ' + xhr.status); // An error occurred during the request.
        }
      };

      // CADASTRAR
      preCadastrar.addEventListener('click', function service(e) {
        e.preventDefault();

        xhr.open('POST', '{{ServerUrl}}/User/PreCadastro', true); // ARRUMAR ESTA URL

        xhr.setRequestHeader('Content-Type', 'text/json');

        xhr.send(
          JSON.stringify({
            "Name": getValueOf("nome"),
            "Phone": getNumbersOf("celular"),
            "Email": getValueOf("email"),
            "Category": {
              "Id": 0,
              "Name": "string"
            },
            "Referrer": getValueOf("freelancerId"), // ID DO FREELANCER QUEM INDICOU
            "PromoCode": getValueOf("briefingId"), // ID DO BRIEFING PRA SER INCLUSO
            "AcceptTerms": getValueOf("checkTermos")
          })
        );

        xhr.onload = function () {
          if (xhr.status === 200) {
            painelInteressadoAgradecimento1.classList = "painelInteressadoAgradecimento1 animated slideInUp";
            return true;
          } else {
            painelDesinteressadoAgradecimento1.classList = "painelDesinteressadoAgradecimento1 painelJustificativa animated slideInUp";
            return false;
          }
        };

      });

      // LOGAR
      enviarLogin.addEventListener('click', function service(e) {
        e.preventDefault();

        xhr.open('POST', '{{ServerUrl}}/Sms/AddBrief', true); // ARRUMAR ESTA URL
        xhr.setRequestHeader('Content-Type', 'text/json');

        xhr.send(
          JSON.stringify({
            "Name": getValueOf("nome"),
            "Phone": getNumbersOf("celular"),
            "Email": getValueOf("email"),
            "Category": {
              "Id": 0,
              "Name": "string"
            },
            "Referrer": getValueOf("freelancerId"), // ID DO FREELANCER QUEM INDICOU
            "PromoCode": getValueOf("briefingId"), // ID DO BRIEFING PRA SER INCLUSO
            "AcceptTerms": getValueOf("checkTermos")
          })
        );

        xhr.onload = function () {
          if (xhr.status === 200) {
            painelInteressadoAgradecimento2.classList = "painelInteressadoAgradecimento2 animated slideInUp";
            return true;
          } else {
            painelDesinteressadoAgradecimento1.classList = "painelDesinteressadoAgradecimento1 painelJustificativa animated slideInUp";
            return false;
          }
        };

      });

    </script>
  </amp-iframe>

</body>

</html>
