﻿<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <title>{{Company}} - {{Title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1">
  <style amp-custom>
    /** COLAR AQUI O CSS **/

    amp-social-share.custom-style {
      background-color: #008080;
      background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/social/1x_web/ic_share_white_48dp.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

  </style>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <link rel="canonical" href="https://crowd.br.com/Sms/Indicacao?{{PREENCHER REQUISITOS AQUI}}">
  <!-- Completar aqui! -->
  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

  </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link async rel="stylesheet" href="../Templates/css/normalize.css" />
  <link async rel="stylesheet" href="../Templates/css/animate.css" />
  <link async rel="stylesheet" href="../Templates/css/style.sms.css" />

  <!-- Origin Trial Token, feature = Media Capabilities, origin = https://comunidadecrowd.com.br, expires = 2018-04-06 -->
  <meta http-equiv="origin-trial" data-feature="Media Capabilities" data-expires="2018-04-06" content="An21mnm1qr9vy8aWfr2Vf1c9TMsjZ7kmWYHqLZQHjs1OhN2LG1I5lOEGakCy0BIKskt61BWxro2XOkRb9ByV8g4AAAB0eyJvcmlnaW4iOiJodHRwczovL2NvbXVuaWRhZGVjcm93ZC5jb20uYnI6NDQzIiwiZmVhdHVyZSI6Ik1lZGlhQ2FwYWJpbGl0aWVzIiwiZXhwaXJ5IjoxNTIzMDQ3NDA1LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">

</head>

<body id="body">
  <input type="hidden" id="freelancerId" value={{FreelancerId}} />
  <input type="hidden" id="briefingId" value={{Id}} />
  <div id="content">
    <amp-state id="allPanels">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "negative1": "painelJustificativa",
          "positive2": "painelInteressadoAgradecimento",
          "negative2": "painelDesinteressadoAgradecimento1",
          "negative3": "painelDesinteressadoAgradecimento2",
          "negative4": "painelDesinteressadoAgradecimento3"
        }

      </script>
    </amp-state>
    <amp-state id="allReset">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "negative1": "painelJustificativa",
          "positive2": "painelInteressadoAgradecimento",
          "negative2": "painelDesinteressadoAgradecimento1",
          "negative3": "painelDesinteressadoAgradecimento2",
          "negative4": "painelDesinteressadoAgradecimento3"
        }

      </script>
    </amp-state>

    <header>
      <amp-img src="https://crowd.br.com/wp-content/uploads/2018/04/logo_preto.png" width="15" height="2" alt="CROWD" layout="responsive" />
    </header>

    <div class="header-briefing">

      <div class="left">
        <amp-img alt="{{Company}}" class="left" src="{{logo}}" width="50" height="50" layout="fixed"></amp-img>
        <p>{{Company}}<br>{{Project}}</p>
      </div>

      <div class="right">
        <amp-img alt="{{Name}}" class="right" src="{{Photo}}" width="50" height="50" layout="fixed"></amp-img>
        <p>{{Name}}<br>{{Role}}</p>
      </div>

      <div width="100%" height="auto" class="titulo">
        <h1>{{Title}}</h1>
        <p>{{Resumo}}</p>
      </div>

    </div>

    <amp-accordion>

      <!-- #IF ANEXOS -->
      {{#if IsAttachs}}
      <section>
        <h4>Anexos</h4>
        <ul>
          <ol>
            {{#each Attachs}}
            <li>
              <a href="{{Link}}">{{Name}}</a>
            </li>
            {{/each}}
          </ol>
        </ul>
      </section>
      {{/if}}
      <!-- /IF -->
      {{#if IsComplements}}
      <section>
        {{else}}
        <section expanded>
          {{/if}}
          <!-- aberto -->
          <h4>Descrição do Briefing</h4>
          <!-- <p>Descrição completa do briefing</p> -->
          <div>{{{ Description }}}</div>
        </section>

        <!-- #IF Complemento -->
        {{#if IsComplements}}
        <section expanded>
          <h4>Complemento do Briefing</h4>
          <div>
            {{#each Complements}}
            <!-- aberto -->
            <!-- <p>Descrição completa do briefing</p> -->
            <div>{{{ Description }}}</div>
            {{#if IsAttachs}}
            <ul>
              <ol>
                {{#each Attachs}}
                <li>
                  <a href="{{Link}}">{{Name}}</a>
                </li>
                {{/each}}
              </ol>
            </ul>
            {{/if}} {{/each}}
          </div>
        </section>
        {{/if}}
        <!-- /IF -->

    </amp-accordion>

  </div>

  <button on="tap:AMP.pushState({allPanels: {positive1 : 'painelProposta animated slideInUp' }}),error.hide,success.hide,text.focus" value="show" id="interessadoButton" class="interessadoButton">Estou Interessado</button>

  <button on="tap:AMP.pushState({allPanels: {negative1 : 'painelJustificativa animated slideInUp' }})" value="show" id="desinteressadoButton" class="desinteressadoButton">Desinteressado</button>

  <div [class]="allPanels.positive1" id="painelProposta" class="painelProposta">

    <textarea placeholder="Descreva a solução e sua proposta ou tire suas dúvidas" name="text" id="text" cols="30" rows="6"></textarea>
    <label for="prazo">Prazo
        <input id="deadlineDays" 
                placeholder="dias" 
                type="number" 
                name="DeadlineDays" 
                min="1">
        </label>
    <label for="valor">Valor
        <input id="price" 
                placeholder="R$" 
                class="valor" 
                name="price" 
                on="input-debounced:AMP.setState({porcentagem: abs(event.value * 8 / 100 - event.value)})" 
                type="number" 
                min="1,00" 
                step="0,01">
        </label>
    <p id="valorTotal" [text]="'-8% DA CROWD = ' + (porcentagem ? porcentagem : 0)">
      -8% DA CROWD =
    </p>
    <small><i class="fa fa-lock"></i>&nbsp;estou ciente de que precisarei emitir nota fiscal para receber meu pagamento</small>
    <div submit-error>
      <template type="amp-mustache" id="error">HOUVE UM PROBLEMA SALVANDO SUA RESPOSTA. VOCÊ ESTÁ ONLINE?</template>
    </div>
    <div submit-success>
      <template type="amp-mustache" id="success">RESPOSTA ENVIADA COM SUCESSO.</template>
    </div>
    <button id="enviarProposta" on="tap:AMP.setState({allPanels:{positive1 : 'painelProposta animated slideOutDown', positive2: 'painelInteressadoAgradecimento animated slideInUp'}})" type="submit">enviar</button>

  </div>

  <div [class]="allPanels.negative1" id="painelJustificativa" class="painelJustificativa">
    <button id="indicarAmigo" on="tap:AMP.setState({allPanels:{negative4 : 'painelDesinteressadoAgradecimento3 animated slideInUp', negative1: 'painelJustificativa animated slideOutDown'}})">Posso indicar alguém&nbsp;<i class="fa fa-share"></i></button>
    <button id="estouOcupado" on="tap:AMP.setState({allPanels:{negative2 : 'painelDesinteressadoAgradecimento2 animated slideInUp', negative1: 'painelJustificativa animated slideOutDown'}})">Estou ocupado</button>
    <button id="estouDesinteressado" on="tap:AMP.setState({allPanels:{negative3 : 'painelDesinteressadoAgradecimento1 animated slideInUp', negative1: 'painelJustificativa animated slideOutDown'}})">Não estou interessado</button>
  </div>

  <div on="tap:AMP.setState({allPanels: allReset}),interessadoButton.hide,desinteressadoButton.hide" [class]="allPanels.positive2" id="painelInteressadoAgradecimento" class="painelInteressadoAgradecimento">
    <h3><i class="fa fa-check"></i>&nbsp;obrigado</h3>
    <h2>Lembre-se de continuar a conversa em seu computador!</h2>
  </div>

  <div on="tap:AMP.setState({allPanels: allReset}),interessadoButton.hide,desinteressadoButton.hide" [class]="allPanels.negative4" id="painelDesinteressadoAgradecimento3" class="painelDesinteressadoAgradecimento1">
    <h2>Envie esta oportunidade!</h2>

    <amp-social-share type="system"></amp-social-share>
    <amp-social-share type="email"></amp-social-share>
    <!-- <amp-social-share type="facebook" data-param-app_id="254325784911610"></amp-social-share> -->
    <!-- <amp-social-share type="gplus"></amp-social-share> -->
    <!-- <amp-social-share type="linkedin"></amp-social-share> -->
    <!-- <amp-social-share type="pinterest" data-param-media="https://ampbyexample.com/img/amp.jpg"></amp-social-share> -->
    <!-- <amp-social-share type="tumblr"></amp-social-share> -->
    <!-- <amp-social-share type="twitter"></amp-social-share> -->
    <amp-social-share type="whatsapp"></amp-social-share>
  </div>

  <div on="tap:AMP.setState({allPanels: allReset}),interessadoButton.hide,desinteressadoButton.hide" [class]="allPanels.negative2" id="painelDesinteressadoAgradecimento1" class="painelDesinteressadoAgradecimento1">
    <h3><i class="fa fa-check"></i>&nbsp;obrigado</h3>
    <h2>Marcamos você como ocupado para as empresas.</h2>
  </div>

  <div on="tap:AMP.setState({allPanels: allReset}),interessadoButton.hide,desinteressadoButton.hide" [class]="allPanels.negative3" id="painelDesinteressadoAgradecimento2" class="painelDesinteressadoAgradecimento2">
    <h3><i class="fa fa-check"></i>&nbsp;obrigado</h3>
    <h2>Traremos melhores oportunidades na próxima!</h2>
  </div>

  <amp-iframe width=0 height=0 sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox" layout="responsive" frameborder="0">
    <script>
      const interessadoButton = document.getElementById('interessadoButton');
      const desinteressadoButton = document.getElementById('desinteressadoButton');
      const painelProposta = document.getElementById('painelProposta');
      const painelJustificativa = document.getElementById('painelJustificativa');
      const painelInteressadoAgradecimento = document.getElementById('painelInteressadoAgradecimento');
      const painelDesinteressadoAgradecimento1 = document.getElementById('painelDesinteressadoAgradecimento1');
      const painelDesinteressadoAgradecimento2 = document.getElementById('painelDesinteressadoAgradecimento2');
      const form = document.getElementById('formProposta');
      const enviarProposta = document.getElementById('enviarProposta');
      const estouOcupado = document.getElementById('estouOcupado');
      const estouDesinteressado = document.getElementById('estouDesinteressado');
      const content = document.getElementById('content');

      getValueof = function (eId) {
        return document.getElementById(eId)
          .value.replace(/\n\r?/g, '<br />');
      }

      allElements = new Array(interessadoButton, desinteressadoButton, painelProposta, painelJustificativa, painelInteressadoAgradecimento, painelDesinteressadoAgradecimento1, painelDesinteressadoAgradecimento2);

      content.addEventListener('click', function reset(params) {
        if (history.state["AMP.History"] <= 1) return false;
        history.go(-1)
      });

      let touchstartX = 0;
      let touchstartY = 0;
      let touchendX = 0;
      let touchendY = 0;

      const gestureZone = document.getElementById('body');

      gestureZone.addEventListener('touchstart', function (event) {
        touchstartX = event.changedTouches[0].screenX;
        touchstartY = event.changedTouches[0].screenY;
      }, false);

      gestureZone.addEventListener('touchend', function (event) {
        touchendX = event.changedTouches[0].screenX;
        touchendY = event.changedTouches[0].screenY;
        handleGesture();
      }, false);

      function handleGesture() {

        const {
          width,
          height
        } = gestureZone.getBoundingClientRect();

        const ratio_horizontal = (touchendX - touchstartX) / width;
        const ratio_vertical = (touchendY - touchstartY) / height;

        if (ratio_vertical > ratio_horizontal && ratio_vertical > 0.15) {
          if (allElements[2].classList.value == "painelProposta animated slideInUp") allElements[2].classList = "painelProposta animated slideOutDown";
          if (allElements[4].classList.value == "painelInteressadoAgradecimento animated slideInUp") allElements[4].classList = "painelInteressadoAgradecimento animated slideOutDown";
          if (allElements[3].classList.value == "painelJustificativa animated slideInUp") allElements[3].classList = "painelJustificativa animated slideOutDown";
          if (allElements[5].classList.value == "painelDesinteressadoAgradecimento2 animated slideInUp") allElements[5].classList = "painelDesinteressadoAgradecimento2 animated slideOutDown";
          if (allElements[6].classList.value == "painelDesinteressadoAgradecimento1 animated slideInUp") allElements[6].classList = "painelDesinteressadoAgradecimento1 animated slideOutDown";

          if (history.state["AMP.History"] <= 1) return false;
          return setTimeout(function () {
            history.go(-1);
          }, 400);
        }

        return false;

      }

      var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
          if (xhr.status === OK)
            console.log(xhr.responseText); // 'This is the returned text.'
        } else {
          console.log('Error: ' + xhr.status); // An error occurred during the request.
        }
      };

      enviarProposta.addEventListener('click', function service(e) {

        xhr.open('POST', '{{ServerUrl}}/Sms/BriefingPropose', true);
        xhr.setRequestHeader('Content-Type', 'text/json');

        xhr.send(
          JSON.stringify({
            FreelancerId: getValueof("freelancerId"), // PREENCHER SOMENTE SE FOR FREELANCER
            BriefingId: getValueof("briefingId"), // PREENCHER EM TODOS OS CASOS
            Status: 1,
            Text: getValueof("text"),
            DeadlineDays: getValueof("deadlineDays"),
            Price: getValueof("price")
          })
        );

        xhr.onload = function () {
          if (xhr.status === 200) {
            interessadoButton.outerHTML = "";
            desinteressadoButton.outerHTML = "";
            return true;
          } else {
            return false;
          }
        };

      });

      estouOcupado.addEventListener("click", function service(e) {

        // ATUALIZAR COM O ENDPOINT CORRETO
        xhr.open('POST', '{{ServerUrl}}/Sms/BriefingStatus', true);
        xhr.setRequestHeader('Content-Type', 'text/json');

        xhr.send(
          JSON.stringify({
            FreelancerId: getValueof("freelancerId"), // PREENCHER SOMENTE SE FOR FREELANCER
            BriefingId: getValueof("briefingId"), // PREENCHER EM TODOS OS CASOS
            Status: 2
          })
        );

        xhr.onload = function () {
          if (xhr.status === 200) {
            interessadoButton.outerHTML = "";
            desinteressadoButton.outerHTML = "";
            return true;
          } else {
            return false;
          }
        };

      });

      estouDesinteressado.addEventListener("click", function service(e) {

        // ATUALIZAR COM O ENDPOINT CORRETO
        xhr.open('POST', '{{ServerUrl}}/Sms/BriefingStatus', true);
        xhr.setRequestHeader('Content-Type', 'text/json');

        xhr.send(
          JSON.stringify({
            FreelancerId: getValueof("freelancerId"), // PREENCHER SOMENTE SE FOR FREELANCER
            BriefingId: getValueof("briefingId"), // PREENCHER EM TODOS OS CASOS
            Status: 3
          })
        );

        xhr.onload = function () {
          if (xhr.status === 200) {
            interessadoButton.outerHTML = "";
            desinteressadoButton.outerHTML = "";
            return true;
          } else {
            return false;
          }
        };

      });

    </script>
  </amp-iframe>

</body>

</html>
