<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <title>{{Company}} - {{Title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1">
  <style amp-custom>
    /** COLAR AQUI O CSS **/

  </style>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

  </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link async rel="stylesheet" href="css/normalize.css" />
  <link async rel="stylesheet" href="css/animate.css" />
  <link async rel="stylesheet" href="css/style.sms.css" />
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>

<body id="body">

  <div id="content">
    <amp-state id="allPanels">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "negative1": "painelJustificativa",
          "positive2": "painelInteressadoAgradecimento",
          "negative2": "painelDesinteressadoAgradecimento1",
          "negative3": "painelDesinteressadoAgradecimento2"
        }

      </script>
    </amp-state>
    <amp-state id="allReset">
      <script type="application/json">
        {
          "positive1": "painelProposta",
          "negative1": "painelJustificativa",
          "positive2": "painelInteressadoAgradecimento",
          "negative2": "painelDesinteressadoAgradecimento1",
          "negative3": "painelDesinteressadoAgradecimento2"
        }

      </script>
    </amp-state>

    <header>
      <amp-img src="https://crowd.br.com/wp-content/uploads/2018/04/logo_preto.png" width="15" height="2" alt="CROWD" layout="responsive" />
    </header>
      <center>
        <h1>Este briefing foi arquivado</h1>
        <i style="font-size: 8rem;" class="fa fa-file-archive-o" aria-hidden="true"></i>
        <h2>"Desculpa mas a princesa está em outro castelo"
          <small><br>- Toad</small>
        </h2>
      </center>
    </div>

</body>

</html>
