﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link href="..\Content\styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <input type="hidden" name="id" value={{Id}} />
    <header class="container">
        <img class="row" src="..\Content\images\LogoCROWD.png" />
        <div class="row">{{Title}}</div>
        <div class="row">{{Resumo}}</div>
    </header>
    <div id="container" class="container-fluid.body-content">
        {{Description}}
    </div>
    <footer class="row">
        <button type="button">ESTOU INTERESSADO</button>
        <button type="button">DESINTERESSADO</button>
    </footer>
    <div id="interesse">
        <textarea placeholder="Escreva uma resposta"></textarea>
        <text placeholder="Estimativa de prazo:"></text>
        <text placeholder="Valor:"></text>
        <label>-8% DA CROWD =</label>
        <label>*ESTOU CIENTE DE QUE PRECISAREI EMITIR NOTA FISCAL PARA RECEBER O MEU PAGAMENTO</label>
        <button type="button">Enviar</button>
    </div>
    <div id="desinteresse">
        <button type="button">Não Estou interessado</button>
        <button type="button">Estou ocupado</button>
    </div>
    <div id="obrigado">
        <text>Lembre-se de continuar a conversa em seu computador</text>
    </div>
    <div id="obrigado_ocupado">
        <text>Marcamos você como ocupado para as empresas</text>
    </div>
</body>
</html>