﻿@{
    ViewBag.Title = "Adicionar Clientes";
}

<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <h4>Adicionar Cliente</h4>
                <form action="@Url.Action("Add","Customer")" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Logo:</label>   
                                <input type="file" class="dropify" data-height="200" name="Logo" accept="image/*" />
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" name="Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CNPJ:</label>
                                <input type="text" name="CNPJ" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Quantidade de pessoas:</label>
                                <input type="text" name="QtyPersons" class="form-control" required />
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">     
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado:</label>
                                <select class="form-control" required name="StateId" id="selState">
                                    <option value="">Selecione</option>
                                    @for (int i = 0; i < ViewBag.States.Count; i++)
                                    {
                                        <option value="@ViewBag.States[i].Id" class="@ViewBag.States[i].Id">@ViewBag.States[i].Name</option>
                                    }
                                    
                                </select>
                            </div>
                        </div>                   
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <select class="form-control" required name="CityId" id="selCity">
                                    <option value="">Selecione</option>
                                    @for (int i = 0; i < ViewBag.Cities.Count; i++)
                                    {
                                        <option value="@ViewBag.Cities[i].Id" class="@ViewBag.Cities[i].StateId">@ViewBag.Cities[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome do responsável:</label>
                                <input type="text" name="NameResponsible" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email do responsável:</label>
                                <input type="email" name="EmailResponsible" class="form-control" required />

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
