﻿@model Freelancers.Crowd.Domain.Entities.Customer
@{
    ViewBag.Title = "Editar Cliente";
}

<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <h4>Adicionar Cliente</h4>
                <form action="@Url.Action("Edit","Customer")" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Logo:</label>
                                <input type="file" class="dropify" data-height="200" name="Logo" data-default-file="@Model.Logo" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" name="Name" class="form-control" required value="@Model.Name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CNPJ:</label>
                                <input type="text" name="CNPJ" class="form-control cnpj-mask" required value="@Model.CNPJ" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Quantidade de pessoas:</label>
                                <input type="text" name="QtyPersons" class="form-control" required value="@Model.QtyPersons" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado:</label>
                                <select class="form-control" required name="StateId" id="selState">
                                    <option value="">Selecione</option>
                                    @for (int i = 0; i < ViewBag.States.Count; i++)
                                    {
                                        <option value="@ViewBag.States[i].Id" class="@ViewBag.States[i].Id" @(Model.StateId == @ViewBag.States[i].Id ? "selected = 'selected'" : "")>@ViewBag.States[i].Name</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <select class="form-control" required name="CityId" id="selCity">
                                    <option value="">Selecione</option>
                                    @for (int i = 0; i < ViewBag.Cities.Count; i++)
                                    {
                                        <option value="@ViewBag.Cities[i].Id" class="@ViewBag.Cities[i].StateId" @(Model.CityId == @ViewBag.Cities[i].Id ? "selected = 'selected'" : "")>@ViewBag.Cities[i].Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome do responsável:</label>
                                <input type="text" name="NameResponsible" class="form-control" required value="@Model.NameResponsible" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email do responsável:</label>
                                <input type="email" name="EmailResponsible" class="form-control" required value="@Model.EmailResponsible" />

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <input type="hidden" name="Id" value="@Model.Id" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
