﻿@model IEnumerable<Freelancers.Crowd.Domain.Entities.Customer>
<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <h4>Clientes <a href="@Url.Action("Add", "Customer")" class="btn btn-xs btn-icon btn-primary btn-round"><i class="fa fa-plus"></i></a></h4>
                <table class="table table-striped table-hover width-full table-responsive">
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td class="align-middle col-md-9">
                                    <h5>@customer.Name</h5>
                                </td>
                                <td class="col-md-1">
                                    <a href="@Url.Action("Edit","Customer", new { idCustomer = customer.Id})" class="btn btn-primary pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                </td>
                                <td class="col-md-1">
                                    <a href="@Url.Action("Inactive","Customer", new { idCustomer = customer.Id})" class="btn btn-primary pull-right">
                                        <i class="fa fa-ban" aria-hidden="true"></i> Inativar
                                    </a>
                                </td>
                                <td class="col-md-1">
                                    <a href="@Url.Action("Index","User", new { idCustomer = customer.Id})" class="btn btn-primary pull-right"><i class="fa fa-users" aria-hidden="true"></i> Usuários</a>                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


