.tab-content {
	width: 90%;
	margin:0 5%;
}	
input#search-input::-webkit-input-placeholder {
	font-style: italic;
	color: #c4c4c4;
	padding-left: 10px;
  }
  
  input#search-input:-ms-input-placeholder {
	font-style: italic;
	color: #c4c4c4;
	padding-left: 10px;
  }
  
  input#search-input::placeholder {
	font-style: italic;
	color: #c4c4c4;
	padding-left: 10px;
  }
  
  input::-webkit-input-placeholder {
	font-style: italic;
  }
  
  input:-ms-input-placeholder {
	font-style: italic;
  }
  
  input::placeholder {
	font-style: italic;
  }
  
@media (max-width: 575px) { 
	.boxs-planos.boxs-colunas-4  {
		width: 100% !important;
	}
}
 @media screen and (min-width: 1400px) {
	.boxs-planos.boxs-colunas-4 {
		width: 90% !important;
	}
}

@media screen and (max-width: 1450px) {
	.boxs-planos.boxs-colunas-4 {
		width: 100% !important;
		margin-left: -10px;
	}
	.ent-btn {
		position: relative !important;
		top: -35px !important;
	}
}
.box-txt-termo{
	background: #fff;
	padding: 20px 40px;
	float: left;
	width: 100%;
}
div.company-content {
	max-width: 1200px;
	margin: 0 auto;
	color: #76838f!important;
	background-color: #e6e6e6;
}	
.edit-empresa {
    width: 400px !important;
    margin-top: 40% !important;
	height: 400px !important;
	border-radius: 20px !important;	
}
.row-98 > div > input {
	padding: 8px 10px 5px;
	border-radius: .5rem;
}
.error {
	border-bottom: 1px solid #F64A6A !important;
}
.form-control {
	height: 35px !important;
}
.toast-error {
	margin-top: 50px !important;
}
.row-98 > div > label {
	color: #77909B;
	font-size: 15px;
}
div.angucomplete-selected-row {
	background-color: #00D0A3;
}
div.angucomplete-row {
	color: #76838f;
}
@media screen and (min-width: 780px) {
	.row-98 > .cnpj {
		margin-top: 29px;
	}
}

.company-content form {
		border-bottom: 1px solid rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 8px 20px -13px rgba(0, 0, 0, .3);
	        box-shadow: 0px 8px 20px -13px rgba(0, 0, 0, .3);
	margin-bottom: 60px;
	padding-bottom: 10px;
}

td.email {
  text-transform: lowercase;
}

td.nome {
  text-transform: capitalize;
}

.company-main {
	background-color: #e6e6e6 !important;
}
div.row-98 {
 width: 98% !important;
 margin: 0 auto !important;
} 
.editar-perfil-foto{
	width: 80px;
	height: 80px;
	background: #eee;
	position: relative;
	overflow:hidden;
	border-radius:100%;
}
.editar-perfil-foto i {
    font-size: 25px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 79px;
    width: 100%;
    text-align: center;
    color: #000;
    z-index: -1;
    cursor: pointer;
}
.editar-perfil-foto i:hover {
	color: rgba(0,0,0,0.7);
}
.editar-perfil-foto	figure {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-size: cover !important;
}
.editar-perfil-foto figure.img-company {
    position: absolute;
    height: 100%;
    width: 100%; 
    z-index: 10;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}
.editar-perfil-foto:hover i{
	z-index: 20;

}
.padding-none-left{
	padding-right: 0px;
}
.padding-none-right{
	padding-left:0px;
}
.padding-none-left input,.padding-none-left select{
	border-right:0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.padding-none-right input,.padding-none-right select{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.btn-salvar-largue{
	background: #00D0A3;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	width: 100%;
}		
.boxs-planos.boxs-colunas-4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width:100%;
	float:left;
	margin:20px;
	background:#f9f9f9;
}
.boxs-planos.boxs-colunas-4 > div {
    width:50%;
    float:left;
    padding:15px;
    text-align:center;
    color:#000;
    border: 1px solid #f0f0f0;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;

}
.boxs-planos.boxs-colunas-4 > div > h3 {
    color:#000;
    text-transform:uppercase;
    font-size:16px;
    font-weight:400;
}
.boxs-planos.boxs-colunas-4 > div .valor-plano span{
	font-size:25px;
	color: #00d0a3;

}
.boxs-planos.boxs-colunas-4 > div .linha-plano{
    min-height:70px;
}
.boxs-planos.boxs-colunas-4 > div .linha-plano button.btn {
    background: #fff;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 21px;
}
.form-control:placeholder-shown {
	color:black;
  }
#profile-upload2 {
	float: left;
    background-size: cover;
    background-position: center;
    height: 65px;
    width: 65px;
    border: 1px solid #bbb;
    position: relative;
    border-radius: 250px;
    overflow: hidden;
}
.page {
	background-color: #e6e6e6 !important;
}
#profile-upload2 input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}
#profile-upload2 .hvr-profile-img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
	background: transparent;
}
#profile-upload2 .fa {
    margin: auto;
    position: absolute;
    bottom: -4px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    opacity: 1;
    width: 100%;
	-webkit-transform: scale(.75);
}
#profile-upload2 * {
	-webkit-transition: opacity 1s linear;
	-o-transition: opacity 1s linear;
	transition: opacity 1s linear;
}
.boxs-planos.boxs-colunas-4 > div .linha-plano > span{
	min-height:70px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.boxs-planos.boxs-colunas-4 > div.plano-recomentado,
.boxs-planos.boxs-colunas-4 > div:hover{
	background: #fff;
	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
}
.boxs-planos.boxs-colunas-4 > div.plano-recomentado .linha-plano button.btn,
.boxs-planos.boxs-colunas-4 > div:hover .linha-plano button.btn{
	background: #00D0A3;
	color: #fff;

	}
.tabs-planos {
	text-align: center;
}
.logotipo-empresa {
	margin-top: -250px;
	height: 300px;
	width: 300px;
}
.logotipo-empresa > img {
	height: 200px;
	width: 200px;
}
.tabs-planos div{
	display: inline-block;
	margin: 0 10px;
	padding-bottom: 20px;

}
.tabs-planos div a{
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
}
.tabs-planos div.active a{
	color: #000;
	font-weight: 600;
	border-bottom: 2px #00D0A3 solid;

}	
.text-center{
	text-align: center;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
	background: #fff !important;
}
.modal-text-center{
	color: #52646D
}
.table-pop-pagamento{
	width: 70%;
	margin:auto;
	color: #000;
}
.table-pop-pagamento .linha-table{
	border:1px solid #ccc;
	border-radius: 10px;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	overflow:hidden;
}
.table-pop-pagamento .linha-table span{
	padding: 10px 0;
	float: left;
	display: block;
	text-align: center;
}
.table-pop-pagamento .linha-table span:nth-child(1){
	width: 60%;
	font-weight: 600;
}
.table-pop-pagamento .linha-table span:nth-child(2){
	width: 40%;
	font-weight: 600;
	background: #ccc;
}
.table-pop-pagamento .linha-table-header{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	color: #999;
	text-align: center;
	font-weight: 600;
	}
.table-pop-pagamento .linha-table-header span:nth-child(1){
	width: 60%;
	display: inline-block;
	float: left;
	text-align: center;
}
.table-pop-pagamento .linha-table-header span:nth-child(2){
	width: 40%;
	display: inline-block;
	text-align: center;
}
.table-pop-pagamento .obs-table-popup{
	font-size: 14px;
}

.active-plan-company{
    background: transparent !important;
    border: 2px solid #00D0A3!important;
    color: #00D0A3!important;
}

.plano_desabilitado{
	background-color: #e3e3e3 !important;
	pointer-events: none;
}
.sweet-alert h2 {
	font-size: 20px !important;
}
button.disabled {
	background-color: #b7b7b7 !important;
	opacity: 0.65;
    pointer-events: none;
}