---
layout: empty.hbs
---
<div class="ajax-text-and-image lightbox-block">
  <style scoped>
  .ajax-text-and-image {
    max-width:800px;
    padding: 0;
  }
  .ajax-col {
    width: 50%; float:left;
  }
  .ajax-col img {
    width: 100%; height: auto;
  }
  @media all and (max-width:30em) {
    .ajax-col {
      width: 100%;
      float:none;
    }
  }
  </style>
  <div class="ajax-col">
    <img class="img-fluid" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg/603px-Marabou_stork%2C_Leptoptilos_crumeniferus_edit1.jpg" alt="..." />
  </div>
  <div class="ajax-col">
    <div class="padding-20">
      <h1>This is just block of HTML, loaded via ajax</h1>
      <p>You can put absolutely any HTML here and resize it dynamically just with help of CSS.</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
