<style>
  span.wpcf7-list-item {
    width: 24% !important;
  }

  #plano_radio {
    display: unset;
    margin: unset;
    margin-bottom: 10px
  }

  .center-block {
    padding: 8px
  }

</style>

<span ng-app="crowd" ng-controller="publicCustomerController as Public">
    <div ng-hide="Public.success">
        <form
            class="wpcf7-form"
            novalidate="novalidate"
            id="cadastro-empresa"
            ng-submit="Public.register()"
            name="frmCustomer"
        >
            <div class="fusion-layout-column fusion-one-full">
                <span class="wpcf7-form-control-wrap plano">
                    <span
                        class="wpcf7-form-control wpcf7-radio"
                        id="plano_radio"
                    >
                        <span class="wpcf7-list-item first">
                            <label>
                                <input
                                    ng-model="Public.customer.PlanType"
                                    type="radio"
                                    name="PlanType"
                                    value="1"
                                    checked="checked"
                                    class="ng-pristine ng-untouched ng-valid ng-empty"
                                >
                                    <span class="wpcf7-list-item-label">Free</span>
</label>
</span>
<span class="wpcf7-list-item">
                            <label>
                                <input
                                    ng-model="Public.customer.PlanType"
                                    type="radio"
                                    name="PlanType"
                                    value="2"
                                    class="ng-pristine ng-untouched ng-valid ng-empty"
                                >
                                    <span class="wpcf7-list-item-label">Smart</span>
</label>
</span>
<span class="wpcf7-list-item">
                            <label>
                                <input
                                    ng-model="Public.customer.PlanType"
                                    type="radio"
                                    name="PlanType"
                                    value="3"
                                    class="ng-pristine ng-untouched ng-valid ng-empty"
                                >
                                    <span class="wpcf7-list-item-label">Pro</span>
</label>
</span>
<span class="wpcf7-list-item last">
                            <label>
                                <input
                                    ng-model="Public.customer.PlanType"
                                    type="radio"
                                    name="PlanType"
                                    value="4"
                                    class="ng-pristine ng-untouched ng-valid ng-empty"
                                >
                                    <span class="wpcf7-list-item-label">Enterprise</span>
</label>
</span>
</span>
</span>
</div>
<div class="row center-block">
  <div class="col-md-8 col-md-offset-2 center-block" style="margin-top: 20px;">
    <label> Nome Fantasia*
                        <span class="wpcf7-form-control-wrap nome_fantasia">
                            <input
                                type="text"
                                name="nome_fantasia"
                                value=""
                                size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                aria-required="true"
                                aria-invalid="false"
                                ng-model="Public.customer.TRADE"
                                required
                                ng-required="true"
                            />
                        </span>
                    </label>
  </div>
</div>
<div class="row center-block">
  <div class="col-md-8 col-md-offset-2 center-block">
    <label> Telefone*
                <span class="wpcf7-form-control-wrap telefone">
                    <input
                        type="tel"
                        name="telefone"
                        value=""
                        size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                        aria-required="true"
                        aria-invalid="false"
                        ng-model="Public.customer.Phone"
                        ui-br-phone-number
                        required
                        ng-required="true"
                    />
                </span>
            </label>
  </div>
</div>
<div class="row center-block">
  <div class="col-md-8  col-md-offset-2 center-block">

    <label> Nome responsável*
                <span class="wpcf7-form-control-wrap razao_social">
                    <input
                        type="text"
                        name="razao_social"
                        value=""
                        size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                        aria-required="true"
                        aria-invalid="false"
                        ng-model="Public.customer.NameResponsible"
                        required
                        ng-required="true"
                    />
                </span>
            </label>
  </div>
</div>
<div class="row center-block">
  <div class="col-md-8 col-md-offset-2 center-block">
    <label> Email*
                <span class="wpcf7-form-control-wrap email">
                    <input
                        type="email"
                        name="email"
                        value=""
                        size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                
                        aria-required="true"
                        aria-invalid="false"
                        ng-model="Public.customer.EmailResponsible"
                        required
                        ng-required="true"
                    />
                </span>
            </label>
  </div>
</div>
<div class="col-md-8 col-md-offset-2 center-block" style="padding-top: 0px; padding-left: 3px; padding-bottom: 25px;">
  <label>
            <span class=" wpcf7-form-control-wrap termos text-center">
                <input
                    type="checkbox"
                    name="termos"
                    value="1"
                    class="wpcf7-form-control wpcf7-acceptance"
                    aria-invalid="false"
                    required
                    ng-required="true"
                    aria-required="true"
                    ng-model="Public.customer.AcceptTerms"
                />
            </span> Li e aceito os
            <a
                target="_blank"
                class="termos-uso-link"
                href="/POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf"
            >Termos de uso</a>*</label>
</div>
<div class="col-md-6 col-md-offset-2 center-block" style="padding-left: 0; padding-top: 5px;">
  <button ng-class="{button-wainting: Public.submitted == true}" ng-disabled="Public.submitted" type="submit" value="Cadastrar" class="wpcf7-form-control wpcf7-submit fusion-button button-round button-green button-xlarge">
                Cadastrar
                <i
                    ng-show="Public.submitted"
                    class="fa fa-spinner fa-pulse fa-fw"
                ></i>
                    </button>
</div>

<style>
  .button-wainting {
    cursor: progress !important;
  }

</style>

<div class="col-md-12 alert alert-danger" ng-show="Public.error" style="margin-top: 30px;">
  <strong>Ooops...</strong> {{Public.errorMessage}}
</div>
</form>
