<div ng-app="crowd" ng-controller="publicProfessionalController as Public">
  <form ng-submit="Public.register()" name="frmProfessional" class="wpcf7-form" novalidate="novalidate">
    <div class="fusion-layout-column fusion-one-third fusion-column-first">

      <style>
        #profile-upload {
          background-image: url('/images/user.png');
          background-size: cover;
          background-position: center;
          height: 65px;
          width: 65px;
          border: 1px solid #bbb;
          margin: 10px auto;
          position: relative;
          border-radius: 250px;
          overflow: hidden;
        }

        #profile-upload:hover input.upload {
          display: block;
        }

        #profile-upload:hover .hvr-profile-img {
          display: inline-block;
        }

        #profile-upload * {
          transition: opacity 1s linear;
        }

        #profile-upload .fa {
          margin: auto;
          position: absolute;
          bottom: -4px;
          left: 0;
          text-align: center;
          right: 0;
          padding: 6px;
          opacity: 1;
          width: 100%;
          -webkit-transform: scale(.75);
        }

        #profile-upload:hover .fa {
          opacity: 1;
          -webkit-transform: scale(1);
        }

        #profile-upload input.upload {
          z-index: 1;
          left: 0;
          margin: 0;
          bottom: 0;
          top: 0;
          padding: 0;
          opacity: 0;
          outline: none;
          cursor: pointer;
          position: absolute;
          background: #ccc;
          width: 100%;
          display: none;
        }

        #profile-upload .hvr-profile-img {
          width: 100%;
          height: 100%;
          display: none;
          position: absolute;
          vertical-align: middle;
          position: relative;
          background: transparent;
        }

        #profile-upload .fa:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 150%;
          height: 0px;
          background: rgba(0, 0, 0, 0.3);
          z-index: -1;
          transition: height 0.3s;
        }

        #profile-upload:hover .fa:after {
          height: 100%;
        }

        .cadastrar-foto-perfil i.fa {
          top: unset;
        }

      </style>

      <div id='profile-upload'>
        <div class="hvr-profile-img">
          <input type="file" ng-model="Public.imagemPerfil" ng-click="Public.imagemPerfil = true" name="file" id='inputImage' class="upload w180" title="Suba uma imagem sua!">
          <input type="hidden" id="imagem-perfil">

        </div>
        <i class="fa fa-camera"></i>
      </div>

      <script>
        document.getElementById('inputImage')
          .addEventListener('change', readURL, true);

        function readURL() {
          var file = document.getElementById("inputImage")
            .files[0];
          var reader = new FileReader();
          reader.onloadend = function () {
            document.getElementById('profile-upload')
              .style.backgroundImage = "url(" + reader.result + ")";
            document.getElementById('imagem-perfil')
              .setAttribute("value", reader.result);
          }
          if (file) {
            reader.readAsDataURL(file);
          } else {}
        }

      </script>

    </div>
    <div class="fusion-layout-column fusion-one-third">
      <label> Seu nome e sobrenome* <span class="wpcf7-form-control-wrap nome">
        <input autocomplete="name" type="text" name="nome" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Name"/>
        </span>
    </label>
    </div>
    <div class="fusion-layout-column fusion-one-third fusion-column-last">
      <label> Título profissional* <span class="wpcf7-form-control-wrap profissao">
    <input title="Aconselho declarar o que você faz, em que área atua ou qual sua expertise" autocomplete="organization-title" type="text" name="profissao" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Title" />
    </span>
</label>
    </div>
    <div class="fusion-layout-column fusion-one-third fusion-column-first">
      <label> Email* <span class="wpcf7-form-control-wrap email">
    <input autocomplete="email" type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Email" />
    </span>
</label>
    </div>
    <div class="fusion-layout-column fusion-one-third">
      <label> Senha* <span class="wpcf7-form-control-wrap senha">
    <input autocomplete="new-password" type="password" name="senha" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Password" />
    </span>
</label>
    </div>
    <div class="fusion-layout-column fusion-one-third fusion-column-last">
      <label> Confirmar* <span class="wpcf7-form-control-wrap confirmar">
    <input autocomplete="new-password" type="password" name="confirmar" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.ConfirmPassword" />
    </span>
</label>
    </div>
    <div class="fusion-layout-column fusion-one-half fusion-column-first">
      <div class="fusion-layout-column fusion-one-full">
        <label> Sobre você* <span class="wpcf7-form-control-wrap sobre">
    <textarea title="Hora de descrever seu currículo!" name="sobre" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" placeholder="Escreva aqui um breve descritivo sobre você. Essa informação será vista por clientes buscando profissionais e por toda a nossa rede." ng-model="Public.professional.Description">
        </textarea>
    </span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-full">
        <label>Selecione atividades e habilidades* (max 10) 
    <div class="placeholder-habilidades">
        <tags-input ng-model="Public.professional.Skills"
        class="input-tags"
        on-tag-adding="Public.tagsLimit()"
        replace-spaces-with-dashes="false"
        placeholder="."
        add-on-space="true"
        add-from-autocomplete-only="true">
        <auto-complete source="Public.loadSkills($query)"
        min-length="2"
        debounce-delay="0"
        max-results-to-show="10000"
        select-first-match="false">
    </auto-complete>
</tags-input>
</div>
</label>
      </div>
    </div>
    <div class="fusion-layout-column fusion-one-half fusion-column-last">
      <div class="fusion-layout-column fusion-one-third fusion-column-first">
        <label> País* <span class="wpcf7-form-control-wrap pais">
        <select name="pais" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-options="country as country.nome_pais for country in Public.countries track by country.id"
            ng-model="Public.professional.Country">
            <option value="">Selecione</option>
        </select>
    </span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-third">
        <label> UF* <span class="wpcf7-form-control-wrap uf">
    <select name="uf" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false"  ng-options="state as state.Name for state in Public.states track by state.Id"
        ng-model="Public.professional.State"
        ng-change="Public.loadCities()">
        <option value="">Selecione</option>
    </select>
</span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-third fusion-column-last">
        <label> Cidade* <span class="wpcf7-form-control-wrap cidade">
    <select name="cidade" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-options="city as city.Name for city in Public.cities track by city.Id"
        ng-model="Public.professional.City">
        <option value="">Selecione</option>
    </select>
</span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-first">
        <label> Categoria* <span class="wpcf7-form-control-wrap category">
    <select name="category" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-options="category as category.Name for category in Public.categories track by category.Id"
        ng-model="Public.professional.Category">
        <option value="">Selecione</option>
    </select>
</span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-last">
        <label>
        <ul class="combo-segmento dropdown-toggle last"
        data-toggle="dropdown">
        <span>{{Public.segmentLabel}}</span>
    </ul>
    <ul class="segments-list dropdown-menu">
        <li ng-repeat="segment in Public.segments track by segment.Id">
            <label>
                <input ng-click="Public.addSegment(segment)"
                type="checkbox"
                id='{{"checkbox-"+segment.Id}}'
                class="checkbox-segment" />
                <i>
                </i>
                <span> {{segment.Name}}</span>
            </label>
        </li>
        </ul>
        </label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-first">
        <label> Valor/h* <span class="wpcf7-form-control-wrap valor">
    <input type="text" name="valor" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" ng-required="true" aria-required="true" aria-invalid="false" ui-number-mask="2" ng-model="Public.professional.Price"/>
    </span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-last">
        <label> Disponibilidade* <span class="wpcf7-form-control-wrap disponibilidade">
    <select title="Disponibilidade para o dia inteiro ou só parte dele?" name="disponibilidade" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-options="availability as availability.Name for availability in Public.availabilitys track by availability.Id"
        ng-model="Public.professional.Availability">
        <option value="">Selecione</option>
    </select>
</span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-first">
        <label> Skype* <span class="wpcf7-form-control-wrap skype">
    <input title="Seja contatado para uma pré seleção!" autocomplete="nickname" type="text" name="skype" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Skype"/>
    </span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-half fusion-column-last">
        <label> Celular* <span class="wpcf7-form-control-wrap telefone">
    <input autocomplete="celphone" type="tel" name="telefone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" ng-required="true" aria-required="true" aria-invalid="false"  ui-br-phone-number ng-model="Public.professional.Phone"/>
    </span>
</label>
      </div>
      <div class="fusion-layout-column fusion-one-full">
        <label> Portfolio <span class="wpcf7-form-control-wrap portfolio">
    <input title="Tem um site pessoal com seu trabalho? Coloque o link aqui!" autocomplete="url" type="url" name="portfolio" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-url wpcf7-validates-as-required wpcf7-validates-as-url" ng-required="true" aria-required="true" aria-invalid="false" ng-model="Public.professional.Portfolio"/>
    </span>
</label>
      </div>

    </div>
    <div class="fusion-layout-column fusion-one-full text-center">
      <label>
        <span class="wpcf7-form-control-wrap termos">
            <input type="checkbox" name="termos" value="1" class="wpcf7-form-control wpcf7-acceptance" aria-invalid="false" ng-required="true" aria-required="true" ng-model="Public.professional.AcceptTerms" />
        </span>Li e aceito os <a target="_blank"
        class="termos-uso-link"
        href="/POLITICA_DE_PRIVACIDADE_TERMOS_DE_USO_Crowd.pdf">Termos de uso</a>*</label>
    </div>
    <div class="fusion-layout-column fusion-one-full">
      <div class="alert alert-danger" ng-show="Public.error">
        <strong>Ooops...</strong> {{Public.errorMessage}}
      </div>
      <div class="alert alert-info" ng-show="Public.waiting">
        Aguarde...
      </div>
      <div class="alert alert-success" ng-show="Public.success">
        <strong>Obrigado!</strong> Seu registro foi realizado com sucesso.<br> Em breve você receberá um email para confirmar seu cadastro.
      </div>
    </div>
    <div class="fusion-layout-column fusion-one-full text-center">
      <input type="submit" value="Cadastrar" class="wpcf7-form-control wpcf7-submit fusion-button button-round button-red button-xlarge" />
    </div>
  </form>
</div>
<script type="text/javascript" src="/js/tipped.js"></script>
<link rel="stylesheet" type="text/css" href="/css/tipped.css" />
<script>
  ;
  (function (window, document) {
    'use strict';

    function registerCountries() {
      var _public = {};

      _public.init = function () {
        ComboCountries();
      }



      /*
       * Popula combo de países.
       */
      var ComboCountries = function ComboCountries() {
        var country = [];

        // Ajax que traz lista de países.
        var request = jQuery.ajax({
          url: "https://restcountries.eu/rest/v2/all",
          method: "GET"
        });

        request.done(function (data) {
          country = data.map(function (el) {
            return {
              "name": el.translations['br']
            };
          });

          console.log(country);
        });
      }


      return _public;
    }

    window.registerCountries = registerCountries();

  }(window, document));


  jQuery(document)
    .ready(function () {
      Tipped.create('div');
      Tipped.create('input');
      Tipped.create('textarea');
      Tipped.create('select');

      window.registerCountries.init();
    });

</script>
