// Widget Data
//=============================
@import "vars";

.fixed-table-body {
  height: 100%;
  overflow: auto;
}

#daily-feed {
  .name {
    font-weight: 500;
    color:  $gray-darker;
    cursor: pointer;
    text-decoration: none;
  }
  .content {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

#tickets {
  .hightlight {
    color: $gray-darker;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
}

#projects {
  .table > tbody > tr > td, .table > thead > tr > th {
    vertical-align: middle;
  }
}
