<div class="page-content"><div class="row"><div class="col-sm-10" id="briefing"><div class="col-sm-3 col-left-briefing"><figure class="by"><img class="radius100" src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg" width="70" height="70"><p>Escrito por</p><strong>Bruno Ponzini</strong> <img class="empresa" src="https://www.scad.edu/sites/default/files/styles/swarm16x7_992/public/Logos/Crispin-Porter-Bogusky_logo.jpg?itok=KghGZSEp" width="100%" height="auto"></figure><h2 class="colaboradores-convidados">Colaboradores<br>Convidados</h2><button type="button" class="btn btn-sm btn-primary btn-adicionar-mais" data-toggle="button" data-more="#exampleMoreless"><i class="icon wb-plus text" aria-hidden="true"></i> <span class="text">Adicionar</span></button><div id="profissionais-selecionados" class="profissionais-selecionados"><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div></div></div><div class="col-sm-9"><h3>Novo Briefing</h3><div class="row"><div class="col-sm-6 col-xs-6"><input type="text" class="form-control input-nome-briefing" placeholder="Nome do Briefing"></div><div class="col-sm-6 col-xs-6"><select class="form-control" id="select-projetos" data-plugin="select2"><option value="">Selecione o projeto</option><option value="SP">Projeto 1</option><option value="SP">Projeto 2</option><option value="SP">Projeto 3</option><option value="SP">Projeto 4</option><option value="SP">Projeto 5</option><option value="SP">Projeto 6</option><option value="SP">Projeto 7</option><option value="SP">Projeto 8</option></select></div></div><h3>Descreva seu projeto em 2 linhas</h3><div class="row"><div class="col-sm-12 col-xs-12"><textarea type="text" class="form-control txt-placeholder">Resuma seu projeto em uma descrição curta e direta. Essa será a primeira informação vista pelos colaboradores.</textarea></div></div><h3>Briefing Completo</h3><div class="row"><div class="col-sm-12 col-xs-12"><div id="summernote" class="form-control"></div></div><div class="col-sm-12 col-xs-12"><button type="button" class="btn btn-sm btn-primary btn-selecinar-colaboradores" data-toggle="button" data-more="#exampleMoreless"><span class="text">Selecionar colaboradores</span></button></div></div><div class="row" id="file-attachment"><ul id="file-attachment-list"></ul></div></div></div></div></div><div class="placeholder" style="display:none">hi,<br>we are summernote.<br>please, write text here!<br>super simple WYSIWYG editor on Bootstrap</div><link href="./vendor/summernote/dist/summernote.css" rel="stylesheet"><script src="./vendor/summernote/dist/summernote.min.js"></script><script type="text/javascript">$jQuery(document).ready(function() {

		function formatState (state) {
  if (!state.id) { return state.text; }
  var state = $jQuery(
    
     '<span>LL - ' + state.text + '</span>'
  );
  return state;
};


	  $jQuery("#select-projetos").select2({
	  	templateResult: formatState
	  });

      var countAttachment = 0;

	  $jQuery('#summernote').summernote({
	  	height: 300,
	  	focus: true,
	  	toolbar: [
		    ['style', ['bold', 'italic', 'underline', 'strikethrough']],
		    ['color', ['color']],
		    ['para', ['ol', 'ul', 'paragraph']]
		],
		callbacks: {
	        onImageUpload: function(files) {
		      	
		      	var uniqFileAllowed = ['jpg', 'jpeg', 'png', 'gif'];	
		      	var uniqImgFile     = false;	      	
	        	
	        	if( files.length === 1 ){
	        		var file         = files[0];
	        		var fileExt      = getFileExt(file.name);	        		

	        		if( uniqFileAllowed.indexOf(fileExt) > -1 )
	        			uniqImgFile = true;

	        		sendFile(file, uniqImgFile);
	        	}else{
	        		for( var i = 0; i < files.length; i++ )
	        			sendFile(files[i], uniqImgFile);	        			
	        	}
	        }
        }
	  });

	  function sendFile( file, uniqImgFile )
	  {
	    countAttachment++;	  	
	  	data = new FormData();
	    data.append("file", file);
	    data.append("elem", countAttachment);

	    $jQuery.ajax({
	        data: data,
	        method: "POST",
	        dataType: "JSON",
	        url: "./upload.php",
	        cache: false,
	        contentType: false,
	        processData: false,
	        beforeSend: function(){
	        	if(!uniqImgFile){
	        		var li = '<li id="attachment-'+countAttachment+'"><img width="15" src="./images/ajax-loader.gif"> '+file.name+'</li>';
	        		$jQuery('#file-attachment-list').append(li);
	        	}
	        },
	        success: function(dataFile) {

	        	if(uniqImgFile)
	        		$jQuery('#summernote').summernote('insertImage', dataFile.path);
	        	else
	        		addFileAttachment(dataFile.name, dataFile.path, dataFile.elem);              
	        }
	    });	  	
	  }

	  function getFileExt( stringFile )
	  {
	   	var ext = stringFile.split('.');
	    ext     = ext[ext.length-1];

	    return ext;
	  }

	  function addFileAttachment( fileName, filePath, elem )
	  {
	  	$jQuery('#attachment-'+elem).html('<a href="javascript:void(0);">'+fileName+'</a>');
	  }

	});</script>