<div class="modal-text-center">
	<img src="../assets/img/contato-usuarios.png" /><br><br>
	<h4>Para adicionar mais usuários você precisa fazer um upgrade do seu plano!</h4><br>
	<a href="javascript:void(0);" ng-click="gotToCompanyProfile()" class="btn-largue-round">ver planos a partir de R$ 150,00</a>
</div>
