<div id="clientes-usuarios">
  <div class="page-main">
    <div class="page-content">
      <div class="row">
        <div class="form-add-new-user">

          <h2>{{$ctrl.title}}</h2>
          
          <span ng-show="$ctrl.error" class="alert alert-danger block">
            <strong>Ooops...&nbsp;&nbsp;&nbsp;</strong>{{$ctrl.errorMessage}}
          </span>

          <form autocomplete="off" name="formUsuario" ng-submit="$ctrl.salvar()">

            <div class="col-sm-3 col-xs-6">
              <input type="text" class="form-control radius-left" id="inputPlaceholder" name="usuario" ng-required="true" ng-model="$ctrl.usuario.Name" placeholder="Nome do usuário">
            </div>
            <div class="col-sm-3 col-xs-6">
              <input type="email" class="form-control radius-right_m border-right_m" id="inputPlaceholder" name="email" ng-required="true" ng-model="$ctrl.usuario.Email" placeholder="Email">
            </div>
            <div class="col-sm-3 col-xs-6">
              <input type="text" class="form-control radius-left_m error" id="inputPlaceholder" name="cargo" ng-required="true" ng-model="$ctrl.usuario.RoleCompany" placeholder="Cargo na empresa">
            </div>
            <div class="col-sm-2 col-xs-6">
              <input autocomplete="new-password" type="password" class="form-control radius-right border-right" id="inputPlaceholder" ng-required="!$ctrl.isEditing"  name="password" ng-model="$ctrl.usuario.Password" placeholder="Senha do novo usuário">
            </div>
            
            <div class="col-sm-1 col-xs-5 form-enviar">
              <button analytics-on="click" analytics-event="Acrescentou_Usuário" analytics-label="Acrescentou um novo usuário para a Empresa" type="submit" class="btn btn-sm btn-primary" title="Salvar usuário">
                <i class="icon wb-check text" aria-hidden="true"></i>
              </button>
            </div>

            <div ng-show="{$ctrl.totalUsers >= 1}" class="col-sm-12 col-xs-12 usuarios-cadastrados">
              <p>{{$ctrl.totalUsers}} Usuários</p>
            </div>

          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="table-responsive">
          <div class="form-add-new-user">
            <table class="table table-hover" ng-table="$ctrl.tableParams">
              <thead>
                <tr>
                  <th width="35%">Nome</th>
                  <th width="25%">Email</th>
                  <th width="25%">Cargo</th>
                  <th width="10%">Status</th>
                  <th width="5%">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="usuario in $data track by usuario.Id" id='{{"row-"+usuario.Id}}' ng-click="$ctrl.editar(usuario)" >                  
                  <td>
                    <figure class="thumb-table">
                      <div class="img-profile-default">
                          <div id=''  style='background:url({{usuario.Photo}});background-size: 100% 100%;'></div>
                      </div>
                    </figure>
                    {{usuario.Name}}</td>
                  <td>{{usuario.Email}}</td>
                  <td>{{usuario.RoleCompany}}</td>
                  <td>
                    <switch ng-if="$ctrl.showActions(usuario.Role)" name="usuario.Active" ng-model="usuario.Active" class="green" ng-change="$ctrl.statusUpdate(usuario)"></switch>
                    <span ng-if="!$ctrl.showActions(usuario.Role)">Administrador</span>
                  </td>
                  <td><i ng-if="$ctrl.showActions(usuario.Role)" class="icon fa-pencil cursor" ng-click="$ctrl.editar(usuario)" aria-hidden="true" title="Editar usuário"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> 

<toaster-container toaster-options="{'limit':5}"></toaster-container>