<div id="perfil-profissional" ng-show="$ctrl.showSlide">
  <style type="text/css">
    .header-profile-portfolio {
      width: 100%;
      float: left;
      height: 300px;
      background: #F2EDED;
    }

    .thumbs-portfolio {
      text-align: center;
      margin-left: -2%;
      margin-right: -2%;
      margin-top: 20px;
    }

    .item-thumb-portfolio {
      height: 0;
      padding-bottom: 16%;
      width: 16%;
      background-size: cover !important;
      background-position: center !important;
      display: inline-block;
      border: 1px #F2EDED solid;
      margin-bottom: 0px;
      position: relative;
    }

    .item-thumb-portfolio a {
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      color: #333;
      transition: all linear 0.2s;
      opacity: 0;
    }

    .item-thumb-portfolio a:hover {
      opacity: 1;
    }

    .item-thumb-portfolio a i {
      top: 50%;
      margin-top: -12px;
    }

    .box-gallery {
      background: #F2EDED;
      padding: 0px;
      padding-top: 51px;
      text-align: center;
    }

    .preview-video-portflio {
      background-position: center !important;
      background-size: cover !important;
      height: 100%;
    }

    .box-video-content {
      padding: 0px;
    }

    .play-video {
      color: #fff;
      font-size: 32px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -16px;
      cursor: pointer;
    }

  </style>
  <div class="header-perfil-profissional">
    <i class="icon wb-close close-perfil" aria-hidden="true" ng-click="$parent.$ctrl.slideOpenProfile()"></i>
    <i ng-if="$ctrl.professional.Email" class="icon cursor fa fa-share-square-o profile-share hover-opacity" ng-click="$ctrl.openPublicProfile()"></i>
    <div class="col-sm-3 col-xs-12 foto-profissional-detalhes hover-opacity">
      <figure>
        <div ng-if="$ctrl.professional.Email" class="img-profile-default cursor" ng-click="$ctrl.openPublicProfile()">
          <div style="background:url({{$ctrl.professional.photo}}); background-size: 100% 100%;"></div>
        </div>
        <div ng-if="!$ctrl.professional.Email" class="img-profile-default cursor">
          <div style="background:url({{$ctrl.professional.photo}}); background-size: 100% 100%;"></div>
        </div>
        <strong style="text-transform: uppercase" ng-bind-html="$ctrl.professional.Name | reduceSecondName"></strong>
        <p style="text-transform: capitalize">{{$ctrl.professional.Title}}</p>
      </figure>
    </div>
    <div class="col-sm-3 col-xs-6 rating-selecionar">
      <div class="avaliacao-star" ng-bind-html="$ctrl.professional.Star">
      </div>
      <!-- <button ng-hide="$ctrl.hideSelectButton" type="button" class="btn btn-primary btn-sm ladda-button" ng-click="$parent.$ctrl.addProfissional($ctrl.professional, $event, 'true')">
                <span class="ladda-label">
                <i class="icon wb-check" aria-hidden="true"></i> Selecionar {{$ctrl.professional.firstName}}
                </span>
                <span class="ladda-spinner"></span>
            </button> -->
    </div>
    <div class="col-sm-3 col-xs-6 redes-sociais">
      <strong>Redes Sociais</strong>
      <button ng-if="!$ctrl.professional.Email" ng-click="$parent.$ctrl.freemiumAlert()" class="btn btn-default btn-lg btn-portfolio" style="width: 100px !important">
                Visualizar</button>
      <button ng-if="$ctrl.professional.Email" ng-click="$ctrl.showUserInfo($ctrl.professional, 'portfolio')" class="btn btn-default btn-portfolio btn-lg" ng-hide="$ctrl.isPremium == true" style="width: 100px !important">Visualizar</button>
      <div ng-show="$ctrl.isPremium == true" class="redes-sociais-icones" ng-bind-html="$ctrl.perfil.redesSociais"></div>
    </div>

    <div ng-if="$ctrl.professional.Email" class="col-sm-3 col-xs-6 portfolio pull-right">
      <strong>Portfolio:</strong>
      <br>
      <button class="btn btn-default btn-portfolio" ng-click="$parent.$ctrl.showUserInfo($ctrl.professional, 'social')" ng-hide="$ctrl.isPremium == true || !$ctrl.professional.Portfolio">Visualizar</button>
      <a ng-show="$ctrl.isPremium == true && $ctrl.professional.Portfolio" href="{{$ctrl.professional.Portfolio}}" target="_blank">
      <span>Ver Portfólio</span>
    </a>
      <span ng-show="!$ctrl.professional.Portfolio">
      <span class="not-available-text">Usuário não possui portfolio cadastrado.</span>
      </span>
    </div>
    <div ng-if="!$ctrl.professional.Email" class="col-sm-3 col-xs-6 portfolio pull-right">
      <strong>Portfolio:</strong>
      <br>
      <button class="btn btn-default btn-portfolio" ng-click="$parent.$ctrl.freemiumAlert()">Visualizar</button>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 coluna-profissional col-esquerda">
    <div class="col-sm-12">
      <h3 class="titulo-profissionais">Sobre</h3>
      <div class="descricao-profissional-window visualiza-perfil-descriacao pre">
        {{$ctrl.professional.Description}}
      </div>
      <h3 class="titulo-profissionais">Atividades e habilidades</h3>
      <div class="tags-profissional-window">
        <span ng-repeat="tag in $ctrl.professional.tags track by $index">{{tag}}</span>
      </div>
    </div>
    <div class="local-profissional-window">
      <div class="row">
        <span class="col-sm-5 col-xs-6">
      <i class="icon fa-map-marker" aria-hidden="true"></i> {{$ctrl.professional.City.Name}} - {{$ctrl.professional.State.UF}}
     </span>
        <span class="col-sm-4 col-xs-6">Disp.: {{$ctrl.disponibilidade}}</span>
        <span class="col-sm-3 col-xs-12">R$ {{$ctrl.professional.Price}}/h</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="metadados-profissional-window">
        <div ng-if="$ctrl.professional.Email" class="row">
          <div class="col-sm-12"><strong>Categoria:</strong>{{$ctrl.professional.Category.Name}}</div>
          <div class="col-sm-12"><strong>Segmento:</strong>{{$ctrl.professional.segments}}</div>
          <div ng-show="$ctrl.professional.Languages" class="col-sm-12"><strong>Idiomas:</strong>{{$ctrl.professional.Languages}}</div>
          <div class="col-sm-12">
            <strong>Telefone:</strong>
            <button ng-click="$parent.$ctrl.showUserInfo($ctrl.professional, 'phone')" class="btn btn-default btn-portfolio" ng-hide="$ctrl.isPremium == true">Visualizar</button>
            <span ng-show="$ctrl.isPremium == true">{{$ctrl.professional.Phone | phoneFilter }}</span>
          </div>
          <div class="col-sm-12">
            <strong>Email:</strong>
            <button ng-click="$parent.$ctrl.showUserInfo($ctrl.professional, 'email')" ng-hide="$ctrl.isPremium == true" class="btn btn-default btn-portfolio">Visualizar</button>
            <span ng-show="$ctrl.isPremium == true">{{$ctrl.professional.Email}}</span>
          </div>
          <div ng-show="$ctrl.professional.Skype" class="col-sm-12">
            <strong>Skype:</strong>
            <button ng-click="$parent.$ctrl.showUserInfo($ctrl.professional, 'skype')" class="btn btn-default btn-portfolio" ng-hide="$ctrl.isPremium == true">Visualizar</button>
            <span ng-show="$ctrl.isPremium == true">{{$ctrl.professional.Skype}}</span>
          </div>
        </div>
        <div ng-if="!$ctrl.professional.Email" class="row">
          <div class="col-sm-12"><strong>Categoria:</strong>{{$ctrl.professional.Category.Name}}</div>
          <div class="col-sm-12"><strong>Segmento:</strong>{{$ctrl.professional.segments}}</div>
          <div ng-show="$ctrl.professional.Languages" class="col-sm-12"><strong>Idiomas:</strong>{{$ctrl.professional.Languages}}</div>
          <div class="col-sm-12"><strong>Telefone:</strong>
            <button ng-click="$ctrl.freemiumAlert()" class="btn btn-default btn-portfolio">
                            Visualizar</button>
          </div>
          <div class="col-sm-12"><strong>Email:</strong>
            <button ng-click="$parent.$ctrl.freemiumAlert()" class="btn btn-default btn-portfolio">
                            Visualizar</button>
          </div>
          <div ng-show="$ctrl.professional.Skype" class="col-sm-12"><strong>Skype:</strong>
            <button ng-click="$parent.$ctrl.freemiumAlert()" class="btn btn-default btn-portfolio">
                            Visualizar</button>
          </div>
        </div>
      </div>
      <h3 ng-show="$ctrl.hasWorkExperience" class="titulo-profissionais">Experiência Profissional</h3>
      <div id="experiencia-profissional" class="height-200" data-plugin="scrollable">
        <div class="experiencia-profissional-window" ng-repeat="work in $ctrl.professional.Experiences track by work.Id">
          <div class="row">
            <span class="cargo col-sm-8 col-xs-8">{{work.Role}}</span>
            <span class="data_trabalho col-sm-4 col-xs-4">{{work.StartDate | amDateFormat:'MMM/YYYY'}} - <i ng-show="!work.EndDate">Presente</i>{{work.EndDate | amDateFormat:'MMM/YYYY'}}</span>
            <span class="nome_empresa col-sm-12 col-xs-12">{{work.Company}}</span>
            <span class="col-sm-12 col-xs-12">
       <p class="pre">{{work.Description}}</p>
      </span>
          </div>
        </div>
        <strong class="not-experience" ng-show="!$ctrl.hasWorkExperience">{{$ctrl.professional.Name}} ainda não preencheu sua experiência profissional.</strong>
      </div>
    </div>
  </div>
  <div class="col-sm-6 coluna-profissional col-direita">
    <div id="rating" ng-hide="$ctrl.notVisible">
      <div class="col-sm-4 col-xs-12">
        Agilidade
        <div class="barra-avaliacao">
          <div class='{{"avaliacao-"+$ctrl.professional.AgilityRating}}'></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        Responsabilidade
        <div class="barra-avaliacao">
          <div class='{{"avaliacao-"+$ctrl.professional.ResponsabilityRating}}'></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        Qualidade
        <div class="barra-avaliacao">
          <div class='{{"avaliacao-"+$ctrl.professional.QualityRating}}'></div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12">
        <h3 class="titulo-profissionais">Recomendações</h3>
        <div class="ultimas-avaliacaoes">
          <div ng-show="recomendacao" ng-repeat="recomendacao in $ctrl.professional.Comments track by $index">
            {{recomendacao}}
          </div>
        </div>
      </div>
    </div>
    <!--
  <div>
      <h3 class="titulo-profissionais no-margin">Equipe de Rodrigo</h3>
      <p>Conheça os profissionais que Rodrigo gosta de trabalhar</p>
      <div class="equipe-profissional" id="equipe-profissional" data-plugin="scrollable">
          <div data-role="container">
              <div data-role="content">
                  <figure class="col-sm-6 col-xs-6" ng-repeat="coworker in $ctrl.perfil.coworkers track by $index">
                      <img src='{{"/images/profissionais/"+coworker.imagem_perfil}}'>
                      <strong>{{coworker.nome}}</strong>
                      <p>{{coworker.categoria}}</p>
                  </figure>
              </div>
          </div>
      </div>
  </div>

  <div>
      <h3 class="titulo-profissionais">Últimas Avaliações</h3>
      <div id="ultimas-avaliacoes" class="height-300 col-sm-12 col-xs-12" data-plugin="scrollable">
          <div class="box-ultimas-avaliacoes" ng-repeat="avaliacao in $ctrl.perfil.avaliacoes track by $index">
              <div class="row linha-avaliador">
                  <div class="col-sm-2 col-xs-2 logo-avaliador-empresa">
                      <img src="http://vignette3.wikia.nocookie.net/logopedia/images/1/1f/Netflix.png/revision/20140615170328" height="26" />
                  </div>
                  <div class="col-sm-7 col-xs-7">
                      Finalizou o projeto "<strong>{{avaliacao.empresa.projeto}}</strong>"
                  </div>
                  <div class="col-sm-2 col-xs-2">
                      <span class="data-avaliacao-projeto">15/jun</span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-2 col-xs-2">
                      <figure>
                          <img class="radius100" src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg" width="40" height="40" />
                      </figure>
                  </div>
                  <div class="col-sm-7 col-xs-7">
                      <div>{{avaliacao.avaliador.nome}} | {{avaliacao.empresa.nome}}</div>
                      <p>{{avaliacao.empresa.avaliador.comentario}}</p>
                  </div>
                  <div class="col-sm-3">
                      <div class="avaliacao-star" ng-bind-html="avaliacao.star"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  -->
  </div>
  <div class="usuario-sem-recomendacao" ng-hide="$ctrl.hideBg">
    {{$ctrl.professional.Name}} ainda não desenvolveu projetos na Comunidade Crowd. Visite o portfólio ou entre em contato para conhecer melhor seu trabalho.
  </div>
</div>
