<pageslide ps-open="$ctrl.isOpen" ps-key-listener="true" ps-click-outside="true">
	<div class="janela-profissional-briefing">
		<div class="header-janela">
			<i class="icon wb-close cursor" aria-hidden="true" ng-click="$ctrl.slideOpen()"></i>
			<div class="logo-empresa-briefing">
				<img src="{{$ctrl.usuario.logotipo}}" />
			</div>
			<figure>
				<p>Escrito por</p>
				<strong ng-click="$ctrl.slideOpen()">{{$ctrl.usuario.nome}}</strong>
				<img class="radius100" src="{{$ctrl.usuario.imagem_perfil}}">
			</figure>
		</div>
		<div class="desc-briefing1">
			<div class="col-sm-9 col-xs-12">
				<h2 class="tiitulo-nome-briefing">{{$ctrl.briefingDetalhes.Title}}</h2>
				<p>{{$ctrl.briefingDetalhes.Excerpt}}</p>
			</div>
			<!--<div class="col-sm-3 col-xs-12">
									<span class="label-nome-projeto">Nome do projeto</span>
			</div>-->
		</div>
		<div class="desc-briefing2">
			<div class="content-briefing">
				<div class="text-briefing" ng-bind-html="$ctrl.briefingDetalhes.Text"></div>
				<div class="anexo-briefing">
					<strong>Anexos</strong>
					<a href="#" ng-repeat="anexo in $ctrl.briefingDetalhes.Attachs track by $index">
						<i class="icon wb-file" aria-hidden="true"></i>{{anexo.nome_fake}}
					</a>
				</div>
			</div>
			<div class="detalhes-profissional-briefing">
				<div class="row">
					<div class="col-sm-9 col-xs-12">
						<figure>
							<img class="radius100" src='{{"/images/profissionais/"+$ctrl.briefingDetalhes.proposta.profissional.imagem_perfil}}'>
						</figure>
						<div class="nome-decricao">
							<h3>{{$ctrl.briefingDetalhes.proposta.profissional.nome}}</h3>
							<div ng-bind-html="$ctrl.briefingDetalhes.proposta.descricao"></div>
							<span class="preco_prazo"><strong>Valor:</strong>R$ {{$ctrl.briefingDetalhes.proposta.valor}}</span>
							<span class="preco_prazo"><strong>Prazo:</strong>{{$ctrl.briefingDetalhes.proposta.prazo}} Dias</span>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12">
						<button type="button" class="btn btn-sm btn-primary bt-contratar" data-toggle="button" data-more="#exampleMoreless">
						<i class="icon fa-flag" aria-hidden="true"></i><span class="text">Contratar Profissional</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="enviar-mensagem-briefing">

			<div class="col-sm-10 col-xs-12 editor-content">
				<figure>
					<img class="radius100" src="{{$ctrl.usuario.imagem_perfil}}">
				</figure>
				<summernote config="$ctrl.summernoteConfig" ng-model="$ctrl.mensagem"></summernote>
			</div>
			<div class="col-sm-2 col-xs-12">
				<button type="button" class="btn btn-sm btn-primary bt-enviar" data-toggle="button" data-more="#exampleMoreless" ng-click="$ctrl.enviarMensagem()">Enviar</button>
			</div>
		</div>
	</div>
</pageslide>
<!--<div class="mask-content-pageslide"></div>-->
