<div id="gestao-briefing">
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner scrollable scrollable-vertical is-disabled" data-plugin="pageAsideScroll" style="position: relative;">
      <div data-role="container" class="scrollable-container" style="">
        <div id="listagem-briefing" data-role="content" class="scrollable-content">
          <section class="page-aside-section">
            <div class="add-new-briefing">
              <button analytics-on="click" analytics-event="Novo_Orçamento" analytics-label="Começou a escrever um novo Orçamento" ng-click="$ctrl.goToPageSaveBriefing()" type="button" class="btn btn-block btn-primary">Novo pedido de Orçamento</button>
              <button analytics-on="click" analytics-event="Continuar_Orçamento" analytics-label="Retomou um Orçamento escrito" ng-if="$ctrl.hasBriefing" ng-click="$ctrl.continuarBriefing()" type="button" class="btn btn-block btn-primary">Continuar edição</button>
            </div>
            <div class="form-group">
              <div class="input-search">
                <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                <input type="text" class="form-control" name="" placeholder="Encontrar Orçamento" ng-model="$ctrl.buscaBriefing" ng-keyup="$ctrl.buscaArquivados()">
              </div>
            </div>
          </section>
          <section ng-if="$ctrl.briefingsRascunhos" class="page-aside-section menu-briefings">
            <h5 class="page-aside-title" id="briefings-rascunhos-title" ng-click="$ctrl.showBriefingsRascunho()">
              Propostas rascunho:&nbsp;<small>{{$ctrl.briefingsRascunhos.length? $ctrl.briefingsRascunhos.length : "0"}}</small>
              <i class="icon wb-triangle-right pull-right" aria-hidden="true"></i>
              <i class="icon wb-triangle-down pull-right" aria-hidden="true"></i>
            </h5>
            <div class="list-group none" id="list-briefings-rascunhos">
              <a class="list-group-item" href="javascript:void(0);" ng-click="$ctrl.getBriefingOffers($event, briefing.id, 3)" ng-repeat="briefing in $ctrl.briefingsRascunhos | filter:$ctrl.buscaBriefing track by $index">
          {{briefing.briefing}}
        </a>
            </div>
          </section>
          <section class="page-aside-section menu-briefings">
            <h5 class="page-aside-title aberto" id="briefings-ativos-title" ng-click="$ctrl.showBriefingsAtivos()">
              Propostas ativas:&nbsp;<small>{{$ctrl.briefingsAtivos.length? $ctrl.briefingsAtivos.length : "0"}}</small>
              <i class="icon wb-triangle-right pull-right" aria-hidden="true"></i>
              <i class="icon wb-triangle-down pull-right" aria-hidden="true"></i>
            </h5>
            <div class="list-group none" id="list-briefings-ativos" style="display:block;">
              <a class="list-group-item" href="javascript:void(0);" ng-click="$ctrl.getBriefingOffers($event, briefing.id, 1)" ng-repeat="briefing in $ctrl.briefingsAtivos | filter:$ctrl.buscaBriefing track by $index">
                {{briefing.briefing}}
                <span ng-show="briefing.interacoes > 0" class="badge badge-primary pull-right">{{briefing.interacoes}}</span>
              </a>
            </div>
          </section>
          <section class="page-aside-section menu-briefings">
            <h5 class="page-aside-title" id="briefings-arquivados-title" ng-click="$ctrl.showBriefingsArquivados()">
              Propostas arquivadas
              <i class="icon wb-triangle-right pull-right" aria-hidden="true"></i>
              <i class="icon wb-triangle-down pull-right" aria-hidden="true"></i>
            </h5>
            <div class="list-group none" id="list-briefings-arquivados">
              <a class="list-group-item" href="javascript:void(0);" ng-click="$ctrl.getBriefingOffers($event, briefing.id, 2)" ng-repeat="briefing in $ctrl.briefingsArquivados | filter:$ctrl.buscaBriefing track by $index">
                {{briefing.briefing}}
              </a>
            </div>
          </section>

        </div>
      </div>
      <div class="scrollable-bar scrollable-bar-vertical is-disabled scrollable-bar-hide" draggable="false">
        <div class="scrollable-bar-handle"></div>
      </div>
    </div>
  </div>
  <div class="page-main">
    <div class="page-content none fadeIn" style="padding-top: 0;">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-5 col-xs-6 col-nome-projeto">
              <h2 class="title-nome-briefing" style="font-size: 1.743rem;">{{$ctrl.selectedBriefing.briefing}}</h2>
              <i ng-show="$ctrl.selectedBriefing.Project.Color" class="nome-do-projeto color-project-{{$ctrl.selectedBriefing.Project.Color}}">
                <span id="menu-project-270" class="ng-binding"> 
                  <h3 class="title-nome-projeto" style="display: inline">{{$ctrl.selectedBriefing.Project.Name}}</h3>
                </span>
              </i>
            </div>
            <div class="col-sm-6 col-xs-7 buttons-header">
              <button ng-if="$ctrl.selectedBriefing.Hunting" type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.editarHunting()">Continuar Hunting</button>
              <button ng-if="!$ctrl.selectedBriefing.Hunting" type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.editarBriefing()">Complementar Orçamento</button>
              <button type="button" class="btn btn-outline btn-primary btn-sm" ng-click="$ctrl.changeStatus($ctrl.selectedBriefing)">
                <span analytics-on="click" analytics-event="Ativou_Orçamento" analytics-label="Retomou um orçamento antes Arquivado" ng-show="!$ctrl.selectedBriefing.Active">Ativar Proposta</span>
                <span analytics-on="click" analytics-event="Arquivou_Orçamento" analytics-label="Arquivou um Orçamento ativo" ng-show="$ctrl.selectedBriefing.Active">Arquivar Propostas</span>
              </button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div ng-show="$ctrl.selectedBriefing.Hunting == true">
                    <div class="foto-name" style="width: 80px; height: 80px; display: inline-block; float: left"ng-repeat="offer in $ctrl.selectedBriefing.Freelancers track by offer.Id">
                      <figure style="display: inline-block;float: left;width: 50px;padding: 20px; cursor: pointer;"  ng-click="$ctrl.visualizaPerfil(offer, offer.Code, $parent, $event)">
                        <profile-image src="offer.Photo"></profile-image>
                      </figure>
                    </div>
                </div>
              <div class="lista-propostas profissional-contratado professional-hired" ng-show="$ctrl.selectedBriefing.Contracted" ng-click="$ctrl.slideOpenByContracted($ctrl.selectedBriefing.id, $ctrl.selectedBriefing.SelectedPropose.Freelancer.Id)">
                <div class="col-sm-12 col-xs-12 title-profissional-contratado">Profissional Contratado</div>
                <div class="col-sm-4 col-xs-5 foto-name">
                  <figure>
                    <div class="img-profile-50">
                      <div class="img-professional-hired"></div>
                    </div>
                    <a href="javascript:void(0);" class="name-professional-hired"></a>
                  </figure>
                </div>
                <div class="col-sm-2">
                  <!--<a href="#" class="ver-tarefa"><i class="fa fa-check-square" aria-hidden="true"></i> Ver Tarefa</a>-->
                </div>
                <div class="col-sm-2 col-xs-5">
                  <!--<div class="nome-do-projeto color-projeto-1">
  ---
 </div>-->
                </div>
                <div class="col-sm-4 col-xs-12">
                  <div class="etiqueta-preco-prazo pull-right">
                    <div class="label-price" title="Valor">
                      <span class="professional-hired-price"></span>
                    </div>
                    <div class="label-time" title="Prazo em dias">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <span class="professional-hired-deadlinedays"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-if="!$ctrl.selectedBriefing.Hunting" class="lista-propostas cursor" ng-repeat="offer in $ctrl.offers track by offer.offerId" ng-click="$ctrl.slideOpen($ctrl.selectedBriefing.id, offer.Freelancer.Id, offer.offerId, $event)">
                <div class="col-sm-6 col-xs-12 foto-name" ng-hide="offer.Hunting == true">
                  <figure>
                    <profile-image  src="offer.Freelancer.Photo"></profile-image>
                    <a href="javascript:void(0);">{{offer.Freelancer.Name}}</a>
                  </figure>
                  <div ng-bind-html="offer.Freelancer.ShortText" class="txt-mobile-briefing">
                  </div>
                </div>
                  <div class="col-sm-6 col-xs-12 valor-prazo">
                    <div class="col-sm-12 col-xs-12 data-envio" style="margin: 0">
                      <span>{{offer.Freelancer.CreatedAt}}</span>
                    </div>
                    <div ng-show="offer.Freelancer.hasOffer">
                      <span class="label-radius-right" style="margin-top: 5px">Prazo: {{offer.Freelancer.DeadlineDays}} dias</span>
                      <span class="label-radius-left" style="margin-top: 5px">Valor: {{offer.Freelancer.Price | currency : "R$ "}}</span>
                    </div>
                  </div>
                </div>
                <div class="sem-mensagem" ng-show="!$ctrl.offers[0]">
                  <i class="fa fa-envelope-o"></i><br> Você ainda não possui respostas.<br> Aguarde ou selecione mais freelancers ;)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 msg-sem-briefing" ng-show="!$ctrl.selectedBriefing">
        <i class="icon fa-file-text-o" aria-hidden="true" style="font-size: 64px;"></i>
        <strong>
           Você ainda não criou nenhum briefing
         </strong>
        <p>
          Seus novos briefings e resposta aparecerão aqui.
        </p>
        <button ng-click="$ctrl.goToPageSaveBriefing()" type="button" class="btn btn-primary">Crie sua primeira proposta</button>
      </div>
    </div>
  </div>

  <div ng-show="$ctrl.isOpen" class="mask-content-pageslide"></div>

  <pageslide ps-open="$ctrl.isOpen" ng-class="{'is-open' : $ctrl.isOpen}" ps-key-listener="true" ps-click-outside="true" onopen="$ctrl.pageslideOnOpen" onclose="$ctrl.pageslideOnClose" ui-view="briefing-details" class="pageslide-900"></pageslide>
  <pageslide ps-open="$ctrl.isOpenProfile" ps-key-listener="true" ps-click-outside="true" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>
  <toaster-container toaster-options="{'limit':5}"></toaster-container>
