<div class="page-content">
  <div class="row">
    <div class="col-sm-10" id="briefing">
      <div class="col-sm-3 col-left-briefing">
        
        <!-- PARA USUÁRIOS ADMIN -->        
        <figure ng-if="$ctrl.user.Role == 1" class="by">
          <div ng-mouseover="$ctrl.showIcon = true" class="radius100-a">
            <img
              class="radius100 sp-hover"
              ng-click="$ctrl.redirectToCustomer()"
              ng-mouseover="$ctrl.showIcon = true"
              ng-mouseleave="$ctrl.showIcon = false"
              ng-src="{{$ctrl.user.imagem_perfil == '' || $ctrl.user.imagem_perfil == null ? '../images/user.png' : $ctrl.user.imagem_perfil}}"
              width="70"
              height="70"
            />
            <i 
              ng-click="$ctrl.redirectToCustomer()"
              style=" font-size: 20px;
                      color: #fff;
                      margin-top: 4px;
                      position: absolute;
                      top: 15px;
                      background: cornflowerblue;
                      border-radius: 100%;
                      height: 30px;
                      width: 30px;
                      vertical-align: middle;
                      left: 20px;
                      cursor: pointer"
              class="fa fa-user"
              aria-hidden="true"
            ></i>
          </div> 
          <p>Autor</p>
          <strong>{{$ctrl.user.nome}}</strong>
          <img class="empresa" ng-src="{{$ctrl.user.logotipo}}" width="100%" height="auto">
        </figure>
        <!-- /PARA USUÁRIOS ADMIN -->
        
        <!-- PARA USUÁRIOS COMUNS -->
        <figure ng-if="$ctrl.user.Role != 1" class="by">
            <img
              class="radius100"
              ng-click="$ctrl.redirectToCustomer()"
              ng-mouseover="$ctrl.showIcon = true"
              ng-mouseleave="$ctrl.showIcon = false"
              ng-src="{{$ctrl.user.imagem_perfil == '' || $ctrl.user.imagem_perfil == null ? '../images/user.png' : $ctrl.user.imagem_perfil}}"
              width="70"
              height="70"
            />
          <p>Autor</p>
          <strong>{{$ctrl.user.nome}}</strong>
          <img class="empresa" ng-src="{{$ctrl.user.logotipo}}" width="100%" height="auto">
        </figure>
        <h2 ng-show="$ctrl.hasProfessionals" class="colaboradores-convidados">Profissionais
          <br />Convidados</h2>
        <div>

      
          <div ng-if="$ctrl.isHunting">
            <button type="button" ng-click="$ctrl.cancelHunting()" class="btn btn-sm btn-primary btn-adicionar-mais isHunting">
              <i class="icon wb-close text" aria-hidden="true"></i>
              <span class="text cursor error" title="Adicionar Profissionais">Cancelar Hunting</span>
            </button>
          </div>
          <div>
            <button type="button" ng-click="$ctrl.goToProfissionais()" class="btn btn-sm btn-primary btn-adicionar-mais">
              <i class="icon wb-plus text" aria-hidden="true"></i>
              <span class="text cursor" title="Adicionar Profissionais">Adicionar</span>
            </button>
          </div>
          <!-- <div ng-if="$ctrl.addMoreProfComp">
            <button type="button" ng-click="$ctrl.goToProfissionais()" class="btn btn-sm btn-primary btn-adicionar-mais">
              <i class="icon wb-plus text" aria-hidden="true"></i>
              <span class="text cursor" title="Adicionar Profissionais">Adicionar</span>
            </button>
          </div> -->
          <div id="profissionais-selecionados" class="profissionais-selecionados" data-plugin="scrollable">
            <div data-role="container">
              <div data-role="content">
                <div class="profissional-selec" ng-repeat="professional in $ctrl.briefing.Freelancers track by $index">
                  <figure class="avatar-profissional">
                    <span ng-click="$ctrl.removeProfissional(professional.Id)" class="cursor">X</span>
                    <profile-image class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)" src="professional.Photo"></profile-image>
                  </figure>
                  <legend class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)">{{professional.Name}}</legend>
                  <em class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)">{{professional.Title}}</em>
                </div>
                <div ng-if="!$ctrl.isHunting" class="profissional-selec" ng-repeat="professional in $ctrl1c track by $index">
                  <figure class="avatar-profissional">
                    <span ng-if="$ctrl.newBriefing" ng-click="$ctrl.removeProfissional(professional.Id)" class="cursor">X</span>
                    <profile-image class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)" src="professional.Photo"></profile-image>
                  </figure>
                  <legend class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)">{{professional.Name}}</legend>
                  <em class="cursor" ng-click="$ctrl.visualizaPerfil(professional, professional.Code, $parent, $event)">{{professional.Title}}</em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-9 campos-briefing">
        <!-- NOVO COMPLEMENTO ********************************************************************************** -->
        <div class="row" ng-show="!$ctrl.newBriefing">
          <div class="row col-sm-12 row-add-complemento">
            <form ng-submit="$ctrl.briefingUpdate()" name="formComplement">
              <div>
                <div class="col-sm-12 col-xs-12 txt-complemento">
                  <h2 style="margin-top:0px;">Adicionar Complementos</h2>
                  <!-- <p>Este briefing já foi enviado aos colaboradores e não pode ser editado.</p> -->
                  <p>Adicione aqui complementos ao material e os profissionais envolvidos serão notificados.</p>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div id="my-dropzone-complement" class="my-dropzone-complement" ondrop="onDropComplement()" ondragleave="onDragLeave()"></div>
                  <div id="editor-complement" class="quill-editor-medium" ondragover="onDragOverComplement()" ondrop="onDropComplement()"></div>
                  <div class="placeholder" ondragover="placeholderDragOver()">
                    <div>
                      <i class="icon wb-image" aria-hidden="true"></i> Arraste Images
                      <br> para ilustrar seu briefing
                    </div>
                    <div style="margin-top: 10px;">
                      <i class="icon wb-paperclip" aria-hidden="true"></i> Arraste arquivos
                      <br> para complementar seu briefing
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <button analytics-on="click" analytics-event="Complementou_Orçamento" analytics-label="Publicou um Orçamento para os profissionais" type="submit" class="btn btn-sm btn-primary btn-selecinar-colaboradores">
                    <span class="text">Enviar</span>
                  </button>
                </div>
                <div class="col-sm-12 col-xs-12" ng-show="$ctrl.errorComplement">
                  <div class="alert alert-danger">
                    <strong>Ooops...</strong> {{$ctrl.errorMessage}}
                  </div>
                </div>
              </div>
            </form>
            <div class="lista-de-anexos">
              <span class="titulo-anexo" style="display: block; margin-top: 78px;">Anexos
                <a class="click-upload cursor"
                title="Anexar arquivos"
                ng-click="$ctrl.anexoClick = true">
                <i class="fa fa-plus"
                  aria-hidden="true"></i>
                </a>
              </span>
              <ul class="complementos-anexos">
                <li ng-repeat="attach in $ctrl.briefingComplement.Attachs track by $index">
                  <a href="{{attach.attachUrl}}" target="_blank" base-url>{{attach.attachName}}</a>
                </li>
              </ul>
              <div id="dropzone-previews-complement" class="dropzone-previews"></div>
            </div>
          </div>
        </div>
        <!-- ********************************************************************************************** -->
        <form ng-submit="$ctrl.save()">
          <!-- COMPLEMENTOS ********************************************************************************** -->
          <div ng-show="!$ctrl.briefing.Complement[0]">
            <div class="complemento-briefing-item" ng-repeat="complement in $ctrl.briefing.Complements">
              <div ng-bind-html="complement.Text"></div>
              <div class="lista-de-anexos">
                <ul class="complementos-anexos">
                  <li ng-repeat="attach in complement.Attachs track by attach.Id">
                    <a base-url href="attach.attachUrl" target="_blank">{{attach.attachName}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- *********************************************************************************************** -->
          <div ng-show="$ctrl.newBriefing">
            <h3>Novo Briefing</h3>
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control input-nome-briefing" placeholder="Nome do Briefing" value="{{$ctrl.briefing.Title}}" ng-required="true" ng-model="$ctrl.briefing.Title" />
              </div>
              <div uib-tooltip="Você pode criar um projeto novo no menu à esquerda" class="col-sm-6 col-xs-6 dropdown">
                <a ng-if="$ctrl.briefing.Project" class="form-control" id="dLabel" ng-model="$ctrl.briefing.Project" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="nome-do-projeto color-project-{{$ctrl.briefing.Project.Color}}">
          <span class="projeto-{{$ctrl.briefing.Project.Name}}">{{$ctrl.briefing.Project.Name}}</span>
        </i>
                                </a>
                <a style="border-color: #ff0000;" ng-if="!$ctrl.briefing.Project" class="form-control" id="dLabel" ng-model="$ctrl.briefing.Project" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
         Selecionar Projeto
         <span class="caret"></span>
        </a>
                <ul class="col-sm-11 col-xs-11 selecionar-projeto-briefing dropdown-menu">
                  <li class="select-projeto-briefing" ng-if="$ctrl.getProjetos" ng-repeat="projeto in $ctrl.getProjetos track by projeto.Id">
                    <a href="">
                                            <i ng-click="$ctrl.briefing.Project = projeto" class="nome-do-projeto color-project-{{projeto.Color}}">
            <span class="projeto-{{projeto.Name}}">{{projeto.Name}}</span>
           </i>
                </a>
                  </li>
                </ul>
                <script type="text/javascript">
                  jQuery(document.body)
                    .on('click', '.dropdown-menu li:not(:first)', function (event) {
                      var $target = jQuery(event.currentTarget);
                      jQuery('#dLabel')
                        .html($target.html());
                      var scope = angular.element(this)
                        .scope();
                      console.log(scope);
                      return true;
                    })
                    .on('click', '.add-responsavel, .icon.wb-plus', function focusResponsavel(event) {
                      setTimeout(function () {
                        jQuery(event.currentTarget)
                          .parent()
                          .find('#inputProfissional')
                          .focus()
                      }, 150);
                      console.log(jQuery(event.currentTarget)
                        .parent()
                        .find('#inputProfissional'));
                    });
                </script>
              </div>
            </div>
            <h3>Descreva seu briefing em 2 linhas</h3>
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <textarea type="text" class="form-control txt-placeholder" ng-required="true" ng-model="$ctrl.briefing.Excerpt">{{$ctrl.briefing.Excerpt}}</textarea>
              </div>
            </div>
          </div>
          <div ng-show="!$ctrl.newBriefing">
            <br/>
            <div class="col-sm-3 col-left-briefing">
              <figure class="by">
                <div class="radius100-a">
                  <img class="radius100" src="{{$ctrl.user.logotipo}}" width="70" height="70" />
                </div> 
                <p>Escrito por</p>
                <strong>{{$ctrl.user.nome}}</strong>
              </figure>
            </div>
            <h2 style="margin-top:0;">Briefing</h2>
            <h3>{{$ctrl.briefing.Title}}
              <!--strong><small>({{$ctrl.briefing.Project.Name}})<small><strong-->
            </h3>
            <p>{{$ctrl.briefing.Excerpt}}</p>
          </div>
          <!-- <h3>Briefing</h3> -->
          <!-- NOVO BRIEFING ******************************************************************************** -->
          <div class="row row-briefing-completo">
            <div>
              <div>
                <div class="col-sm-12 col-xs-12" ng-show="$ctrl.newBriefing">
                  <div id="my-dropzone" class="my-dropzone" ondrop="onDrop()" ondragleave="onDragLeave()"></div>
                  <div id="editor" class="quill-editor-large" ondragover="onDragOver()" ondrop="onDrop()"></div>
                  <div class="placeholder" ondragover="placeholderDragOver()">
                    <span>Quais são as informações mais importantes sobre o projeto?</span>
                    <br>
                    <p>Descreva com mais detalhes suas necessidades. Um briefing direto e completo agiliza o trabalho e garante melhores resultados :)</p>
                    <div>
                      <i class="icon wb-image" aria-hidden="true"></i> Arraste Images
                      <br> para ilustrar seu briefing
                    </div>
                    <div>
                      <i class="icon wb-paperclip" aria-hidden="true"></i> Arraste arquivos
                      <br> para complementar seu briefing
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" ng-bind-html="$ctrl.briefing.Text" ng-show="!$ctrl.newBriefing"></div>
              </div>
              <div class="col-sm-12" id="file-attachment">
                <div id="file-attachment-list"></div>
              </div>
              <div class="col-sm-12 col-xs-12" ng-if="$ctrl.newBriefing">
                <!--
                  LISTA DOS SEGUINTES ESTADOS POSSÍVEIS
                  S/ HUNTING  S/ PROFISSIONAIS
                  S/ HUNTING  C/ PROFISSIONAIS
                  C/ HUNTING  S/ PROFISSIONAIS
                  C/ HUNTING  C/ PROFISSIONAIS
                  C/ HUNTINC  SALVO

                  Atenção no Type do <button>
                 -->
                <button type="button" ng-if="!$ctrl.isHunting && !$ctrl.hasProfessionals" ng-click="$ctrl.goToProfissionais()" class="btn btn-sm btn-primary btn-selecinar-colaboradores" >
                  <span class="text">Selecionar colaboradores</span>
                </button>
                <button type="submit" ng-if="!$ctrl.isHunting && $ctrl.hasProfessionals" analytics-on="click" analytics-event="Publicou_Orçamento" class="btn btn-sm btn-primary btn-selecinar-colaboradores" >
                  <span class="text">Enviar Briefing</span>
                </button>
                <button type="button" ng-if="$ctrl.isHunting && !$ctrl.hasProfessionals" ng-click="$ctrl.goToProfissionais()" class="btn btn-sm btn-primary btn-selecinar-colaboradores" >
                  <span class="text">Selecionar colaboradores</span>
                </button>
                <button type="submit" ng-if="$ctrl.isHunting && $ctrl.hasProfessionals && !$ctrl.huntingSalvo" analytics-on="click" analytics-event="Salvou_Hunting" class="btn btn-sm btn-primary btn-selecinar-colaboradores" >
                  <span class="text">Salvar Hunting para <strong>{{$ctrl.user.nome}}</strong></span>
                </button>
                <button type="submit" ng-if="$ctrl.isHunting && $ctrl.huntingSalvo" analytics-on="click" analytics-event="Publicou_Hunting" class="btn btn-sm btn-primary btn-selecinar-colaboradores" >
                  <span class="text">Enviar como <strong>{{$ctrl.user.nome}}</strong> para os Profissionais</span>
                </button>
              </div>
            </div>
            <div class="lista-de-anexos">
              <span class="titulo-anexo">Anexos
                <a ng-show="$ctrl.newBriefing"
                class="click-upload cursor"
                title="Anexar arquivos"
                ng-click="$ctrl.anexoClick = true">
                <i class="fa fa-plus"
                aria-hidden="true"></i>
                </a>
              </span>
              <ul class="complementos-anexos">
                <li ng-repeat="(key, attach) in $ctrl.briefing.Attachs track by $index">
                  <a href="{{attach.attachUrl}}" target="_blank" base-url>{{attach.attachName}}</a>
                  <i ng-if="$ctrl.newBriefing" style="color: #a7a7a7; cursor: pointer; visibility: hidden" class="icon fa-remove remover-anexo" ng-click="$ctrl.deleteAttachmentEdit($event,key);" data-filepath="{{attach.attachUrl}}" data-name="{{attach.attachName}}" aria-hidden="true"></i>
                </li>
              </ul>
              <div id="dropzone-previews" class="dropzone-previews"></div>
            </div>
          </div>
          <!-- ********************************************************************************************** -->
        </form>
      </div>
    </div>
  </div>
</div>
<div id="preview-template" class="none">
  <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-filename">
        <a href="#" target="_blank" class="add-link">
                    <span data-dz-name></span>
                </a>
        <i class="icon fa-remove remover-anexo" data-filepath aria-hidden="true"></i>
      </div>
      <div class="dz-size" data-dz-size></div>
      <span class="remo__ver-anexo"></span>
      <img data-dz-thumbnail />
    </div>
    <div class="dz-progress">
      <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark">
      <span>✔</span>
    </div>
    <div class="dz-error-mark">
      <span>✘</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage></span>
    </div>
  </div>
</div>
<div id="preview-template-complement" class="none">
  <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <div class="dz-filename">
        <a href="#" target="_blank" class="add-link">
                    <span data-dz-name></span>
                    <i class="icon fa-remove remover-anexo" aria-hidden="true"></i>
                </a>
      </div>
      <div class="dz-size" data-dz-size></div>
      <span class="remo__ver-anexo"></span>
      <img data-dz-thumbnail />
    </div>
    <div class="dz-progress">
      <span class="dz-upload" data-dz-uploadprogress></span>
    </div>
    <div class="dz-success-mark">
      <span>✔</span>
    </div>
    <div class="dz-error-mark">
      <span>✘</span>
    </div>
    <div class="dz-error-message">
      <span data-dz-errormessage></span>
    </div>
  </div>
</div>
<toaster-container></toaster-container>
<script type="text/javascript">
  function onDragOver() {
    $jQuery('#my-dropzone')
      .css('display', 'block');
  }

  function onDrop() {
    $jQuery('#my-dropzone')
      .css('display', 'none');
  }

  function onDragOverComplement() {
    $jQuery('#my-dropzone-complement')
      .css('display', 'block');
  }

  function onDropComplement() {
    $jQuery('#my-dropzone-complement')
      .css('display', 'none');
  }

  function placeholderDragOver() {
    $jQuery('.placeholder')
      .css('display', 'none');
  }

  function onDragOver() {
    $jQuery('#my-dropzone')
      .css('display', 'block');
  }

  function onDrop() {
    $jQuery('#my-dropzone')
      .css('display', 'none');
  }

  function onDragOverComplement() {
    $jQuery('#my-dropzone-complement')
      .css('display', 'block');
  }

  function onDropComplement() {
    $jQuery('#my-dropzone-complement')
      .css('display', 'none');
  }

  function onDragLeave() {
    $jQuery('#my-dropzone-complement')
      .css('display', 'none');
    $jQuery('#my-dropzone')
      .css('display', 'none');

    if ($jQuery('.ql-editor')
      .html() == '<p><br></p>')
      $jQuery('.placeholder')
      .css('display', 'block');
    else
      $jQuery('.placeholder')
      .css('display', 'none');
  }

  function placeholderDragOver() {
    $jQuery('.placeholder')
      .css('display', 'none');
  }

</script>
<toaster-container toaster-options="{'limit':5}"></toaster-container>
<pageslide ps-open="$ctrl.isOpenProfile" ps-key-listener="true" ps-click-outside="true" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>
