<div id="gestao-briefing">
    <div class="page-main">
        <div class="page-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row header-projetos">
                        <div class="col-sm-9 col-xs-12">
                            <!-- TODO: RECEBER O NOME DO PROJETO -->
                            <h1 ng-if="!$ctrl.Projeto">Todas as Tarefas</h1>
                            <h1 ng-if="$ctrl.Projeto">{{$ctrl.Projeto.Name}}</h1>
                        </div>
                        <div class="col-sm-3 col-xs-12 acoes-header-projetos"> <a href="#"
                                class="btn-ver-relatorio"><i class="icon fa-bar-chart" aria-hidden="true"></i> Ver Relatório</a>
                            <button ng-if="!$ctrl.isProfessional && $ctrl.projectId"
                                ng-click="$ctrl.arquivaProjeto($ctrl.Projeto.Id)"
                                type="button"
                                class="btn btn-sm btn-outline btn-primary">Arquivar Projeto</button>
                        </div>
                        <hr> </div>
                    <div class="row">

                        <div ng-if="!$ctrl.isProfessional && !$ctrl.projectId"
                            class="col-sm-9 col-xs-12">Tarefa Direta
                            <input ng-model="$ctrl.taskName"
                                type="text"
                                class="form-control nova-tarefa" />

                            <!-- FIXME: CARREGAR PROJETO CRIADO VIA MENU LATERAL -->
                            <div ng-if="!$ctrl.projectId"
                                class="btn-group selecionar-projetos">
                                <select ng-model="$ctrl.taskProjeto"
                                    ng-options="projeto.Name for projeto in $parent.$parent.getProjetos track by projeto.Id"
                                    ng-selected="$ctrl.briefing.ProjectId"
                                    ng-required="true"
                                    class="form-control"
                                    id="select-projetos"
                                    data-plugin="select2">
                                    <option value=""
                                        disabled>Selecione um Projeto</option>
                                    {{$parent.$parent.getProjetos}}
                                </select>
                            </div>

                        </div>

                        <div ng-if="!$ctrl.isProfessional && $ctrl.projectId"
                            class="col-sm-9 col-xs-12">Tarefa Direta
                            <input style="max-width: 88%"
                                ng-model="$ctrl.taskName"
                                type="text"
                                class="form-control nova-tarefa" />
                        </div>

                        <!-- TEMPLATE DO AUTO COMPLETE-->
                        <script type="text/ng-template"
                            id="/customTemplate.html">
                            <a>
                                <img ng-if="match.model.Photo"
                                    ng-src="http://api.comunidadecrowd.com.br{{match.model.Photo}}"
                                    width="20"
                                    height="20">
                                <img ng-if="!match.model.Photo"
                                    ng-src="../images/user.png"
                                    width="20">
                                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                            </a>
                        </script>

                        <!-- NOTE: AUTOCOMPLETE DE PROFISSIONAIS -->
                        <div ng-if="!$ctrl.isProfessional"
                            class="col-sm-3 col-xs-12 text-align-right">
                            <div class="btn-group responsavel-projeto"> Responsável:
                                <a id="adicionarProfissional"
                                    ng-if="taskUser.Photo"
                                    href="javascript:void(0);"
                                    style="background: url(http://api.comunidadecrowd.com.br{{taskUser.Photo}}) center; background-size: contain;"
                                    class="add-responsavel"
                                    data-toggle="dropdown">
                                    <i class="icon wb-plus"
                                        aria-hidden="true"></i>
                                </a>
                                <a ng-if="taskUser.Name&&!taskUser.Photo"
                                    href="javascript:void(0);"
                                    style="background: url(../images/user.png) center; background-size: contain;"
                                    class="add-responsavel"
                                    data-toggle="dropdown">
                                    <i class="icon wb-plus"
                                        aria-hidden="true"></i>
                                </a>
                                <a ng-if="!taskUser.Name"
                                    href="javascript:void(0);"
                                    class="add-responsavel"
                                    data-toggle="dropdown">
                                    <i class="icon wb-plus"
                                        aria-hidden="true"></i>
                                </a>
                                <ul class="selecionar-profissional-tarefa dropdown-menu">
                                    <li>
                                        <input id="inputProfissional"
                                            style="border: 0"
                                            type="text"
                                            ng-model="taskUser"
                                            placeholder="Nome do Profissional"
                                            uib-typeahead="item as item.Name for item in $ctrl.getProfissionais($viewValue)"
                                            typeahead-template-url="/customTemplate.html"
                                            typeahead-loading="loadingLocations"
                                            typeahead-no-results="noResults"
                                            class="form-control">
                                        <i ng-show="loadingLocations"
                                            class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </li>
                                    <!-- TODO: EXECUTAR O POST CRIANDO UMA NOVA TASK -->
                                </ul>
                            </div>
                            <button type="button"
                                ng-click="$ctrl.criarTarefa($ctrl.taskName, $ctrl.taskProjeto.Id, taskUser.Id)"
                                class="btn btn-sm btn-outline btn-primary">Criar Tarefa</button>
                        </div>

                        <!-- FIXME: LISTAGEM POR DATA, PRECISA SER CORRIGIDA -->
                        <div class="col-sm-12 col-xs-12 ordernar-tarefa"> Ordenar por:
                            <a ng-click="$ctrl.shortBy('DeliveryAt')"
                                href="#">Prazo</a>
                            <span class="sortorder"
                                ng-show="$ctrl.propertyName === 'DeliveryAt'"
                                ng-class="{reverse: $ctrl.reverse}"></span>

                            <a ng-click="$ctrl.shortBy('Price')"
                                href="#">Valor</a>
                            <span class="sortorder"
                                ng-show="$ctrl.propertyName === 'Price'"
                                ng-class="{reverse: $ctrl.reverse}"></span>

                            <a ng-click="$ctrl.shortBy('Freelancer.Name')"
                                href="#">Profissionais</a>
                            <span class="sortorder"
                                ng-show="$ctrl.propertyName === 'Freelancer.Name'"
                                ng-class="{reverse: $ctrl.reverse}"></span>

                            <a ng-click="$ctrl.shortBy('Id')"
                                href="#">Data</a>
                            <span class="sortorder"
                                ng-show="$ctrl.propertyName === 'Id'"
                                ng-class="{reverse: $ctrl.reverse}"></span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <!-- INICIO COLUNA DE TAREFAS -->
                            <div class="content-colunas-tarefas">
                                <div class="content-colunas">
                                    <div class="header-coluna-tarefa">
                                        <div>
                                            <span class="header-col-name hcn-color1">em orçamento</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color2">tarefas em execução</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color3">em aprovação</span>
                                        </div>
                                        <div>
                                            <span class="header-col-name hcn-color4">tarefas entregues</span>
                                        </div>
                                    </div>
                                    <div class="coluna-tarefa">

                                        <!-- NOTE: CARDS DE ORÇAMENTOS -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="!$ctrl.isProfessional"
                                            ng-repeat="orcamento in $ctrl.getOrcamentos | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(orcamento,orcamento.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="orcamento.UnreadMessages"
                                                id="{{'unread-task-'+orcamento.Id}}"
                                                class="notificacao-tarefa">{{orcamento.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div ng-click="$ctrl.slideOpenProfile(profissional.id)"
                                                        class="img-profile-default">
                                                        <div ng-if="orcamento.Freelancer.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{orcamento.Freelancer.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{orcamento.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="!$ctrl.Projeto"
                                                    class="nome-do-projeto color-project-{{orcamento.Project.Color}}">{{orcamento.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ORÇAMENTOS CLIENTE -->

                                        <!-- CARD DE ORÇAMENTOS PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="$ctrl.isProfessional"
                                            ng-repeat="orcamento in $ctrl.getOrcamentos | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(orcamento,orcamento.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="orcamento.UnreadMessages"
                                                id="{{'unread-task-'+orcamento.Id}}"
                                                class="notificacao-tarefa">{{orcamento.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="orcamento.User.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{orcamento.User.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{orcamento.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div class="nome-do-projeto color-project-{{orcamento.Project.Color}}">{{orcamento.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ORÇAMENTOS PROFISSIONAL -->

                                    </div>
                                    <div class="coluna-tarefa">

                                        <!-- NOTE: CARDS DE EXECUÇÃO -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="!$ctrl.isProfessional"
                                            ng-repeat="execucao in $ctrl.getExecucao | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(execucao,execucao.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="execucao.UnreadMessages"
                                                id="{{'unread-task-'+execucao.Id}}"
                                                class="notificacao-tarefa">{{execucao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="execucao.Freelancer.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{execucao.Freelancer.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{execucao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="$ctrl.dateTrim(execucao.DeliveryAt)"
                                                    class="cronograma-do-projeto"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i>{{$ctrl.dateTrim(execucao.DeliveryAt)}}</div>
                                                <div ng-if="!$ctrl.Projeto"
                                                    class="nome-do-projeto color-project-{{execucao.Project.Color}}">{{execucao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE EXECUÇÃO CLIENTE -->

                                        <!-- CARD DE EXECUÇÃO PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="$ctrl.isProfessional"
                                            ng-repeat="execucao in $ctrl.getExecucao | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(execucao,execucao.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="execucao.UnreadMessages"
                                                id="{{'unread-task-'+execucao.Id}}"
                                                class="notificacao-tarefa">{{execucao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="execucao.User.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{execucao.User.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{execucao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="$ctrl.dateTrim(execucao.DeliveryAt)"
                                                    class="cronograma-do-projeto"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i>{{$ctrl.dateTrim(execucao.DeliveryAt)}}</div>
                                                <div class="nome-do-projeto color-project-{{execucao.Project.Color}}">{{execucao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE EXECUÇÃO -->

                                    </div>
                                    <div class="coluna-tarefa">

                                        <!-- NOTE: CARDS DE APROVAÇÃO -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="!$ctrl.isProfessional"
                                            ng-repeat="aprovacao in $ctrl.getAprovacao | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(aprovacao,aprovacao.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="aprovacao.UnreadMessages"
                                                id="{{'unread-task-'+aprovacao.Id}}"
                                                class="notificacao-tarefa">{{aprovacao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="aprovacao.Freelancer.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{aprovacao.Freelancer.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{aprovacao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="$ctrl.dateTrim(aprovacao.DeliveryAt)"
                                                    class="cronograma-do-projeto"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i>{{$ctrl.dateTrim(aprovacao.DeliveryAt)}}</div>
                                                <div ng-if="!$ctrl.Projeto"
                                                    class="nome-do-projeto color-project-{{aprovacao.Project.Color}}">{{aprovacao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE APROVAÇÃO CLIENTE -->

                                        <!-- CARD DE APROVAÇÃO PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="$ctrl.isProfessional"
                                            ng-repeat="aprovacao in $ctrl.getAprovacao | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(aprovacao,aprovacao.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="aprovacao.UnreadMessages"
                                                id="{{'unread-task-'+aprovacao.Id}}"
                                                class="notificacao-tarefa">{{aprovacao.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="aprovacao.User.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{aprovacao.User.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{aprovacao.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="$ctrl.dateTrim(aprovacao.DeliveryAt)"
                                                    class="cronograma-do-projeto"><i class="fa fa-clock-o"
                                                        aria-hidden="true"></i>{{$ctrl.dateTrim(aprovacao.DeliveryAt)}}</div>
                                                <div class="nome-do-projeto color-project-{{aprovacao.Project.Color}}">{{aprovacao.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE APROVAÇÃO -->

                                    </div>
                                    <div class="coluna-tarefa">

                                        <!-- NOTE: CARDS DE ENTREGUES -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="!$ctrl.isProfessional"
                                            ng-repeat="entregues in $ctrl.getEntregues | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(entregues,entregues.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="entregues.UnreadMessages"
                                                id="{{'unread-task-'+entregues.Id}}"
                                                class="notificacao-tarefa">{{entregues.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="entregues.Freelancer.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{entregues.Freelancer.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{entregues.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <div ng-if="!$ctrl.Projeto"
                                                    class="nome-do-projeto color-project-{{entregues.Project.Color}}">{{entregues.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ENTREGUES CLIENTE -->

                                        <!-- CARD DE ENTREGUES PROFISSIONAL -->
                                        <div ng-class="{fadeIn: $first == true && $ctrl.adicionado == true}"
                                            ng-if="$ctrl.isProfessional"
                                            ng-repeat="entregues in $ctrl.getEntregues | orderBy:$ctrl.propertyName"
                                            ng-click="$ctrl.slideOpen(entregues,entregues.Freelancer.Id)"
                                            class="tarefa-item">
                                            <div ng-if="entregues.UnreadMessages"
                                                id="{{'unread-task-'+entregues.Id}}"
                                                class="notificacao-tarefa">{{entregues.UnreadMessages}}</div>
                                            <div class="foto-responsavel">
                                                <figure>
                                                    <div class="img-profile-default">
                                                        <div ng-if="entregues.User.Photo"
                                                            id=""
                                                            style="background:url(http://api.comunidadecrowd.com.br{{entregues.User.Photo}});background-size: 100% 100%"></div>
                                                    </div>
                                                </figure>
                                            </div>
                                            <div class="nome-tarefa">{{entregues.Title}}</div>
                                            <div class="nome-projeto-cronograma">
                                                <!-- <div ng-if="(entregues.DeliveryAt | amDateFormat: 'MM/DD').length != 0" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{entregues.DeliveryAt | amDateFormat:'MM/DD'}}</div>-->
                                                <div class="nome-do-projeto color-project-{{entregues.Project.Color}}">{{entregues.Project.Name}}</div>
                                            </div>
                                        </div>
                                        <!-- FIM CARD DE ENTREGUES -->

                                    </div>
                                </div>
                            </div>
                            <!-- FIM HTML TAREFAS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
jQuery(document.body)
    .on('click', '.dropdown-menu li', function(event) {
        event.preventDefault;
        event.stopPropagation;
        var $target = jQuery(event.currentTarget);
        $target.closest('.btn-group')
            .find('[data-bind="label"]')
            .text($target.text())
            .end()
            .children('.dropdown-toggle')
            .dropdown('toggle');
        return true;
    })
    .on('mousedown', '#adicionarProfissional', function(event) {
        console.log('adicionarProfissional');
        jQuery(event.currentTarget)
            .parent()
            .find('#inputProfissional')
            .focusin();
    });
// function formatState (state) {
//     if (!state.id) { return state.text; }
//     var $state = $(
//         '<span><img src="vendor/images/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
//     );
//     return $state;
// };

</script>

<div class="mask-content-pageslide"></div>

<toaster-container toaster-options="{'limit':5}"></toaster-container>

<pageslide ps-open="$ctrl.isOpen"
    ps-key-listener="true"
    ps-click-outside="true"
    ui-view="briefing-details"
    class="pageslide-900"></pageslide>
<pageslide ps-open="$ctrl.isOpenProfile"
    ps-key-listener="true"
    ps-click-outside="true"
    ui-view="visualizar-perfil-profissional"
    class="pageslide-100-p"></pageslide>
