/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

#exampleTable1 table
{
    min-width: 800px;
    margin-top: -1px;
    margin-bottom: 17px;
}

#exampleTable1 .progress
{
    display: inline-block;

    width: 80%; 
    margin-bottom: 0;

    vertical-align: middle;
}

#exampleTable1 .progress-percent
{
    font-size: 14px;

    display: inline-block;

    width: 20%;

    text-align: right;
    vertical-align: middle;

    color: #76838f;
}

#exampleTable1 td
{
    vertical-align: middle;
}

#exampleTable1 thead th
{
    border-bottom-width: 0;
}

#exampleTable1 .example
{
    margin-top: 0;

    border: 1px solid #e4eaec;
    border-top: none;
}

#exampleTable1 .example-title
{
    margin-bottom: 0;
    padding: 15px 20px; 

    border: 1px solid #e4eaec;
}

#exampleReport table
{
    min-width: 800px;
    margin-bottom: 0;
}
#exampleReport table td
{
    vertical-align: middle;
}

#exampleReport .panel-heading
{
    border-bottom: 0;
}

#exampleReport .panel-title
{
    margin-bottom: 0;
    padding: 15px 20px; 

    border: 1px solid #e4eaec;
}

#exampleReport .example
{
    margin-top: 0;

    border: 1px solid #e4eaec;
    border-top: none;
}
