/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

@media (max-width: 991px) {
  #custom_view .panel-actions {
    position: relative;
    right: 0;
    top: 0;
    float: right;
    padding: 0 30px 10px;
    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none; } }
