.bx-wrapper {
            border: 0px;
            box-shadow: none;
            background: none;
            margin: 0px;
        }
        
        .slide-portfolio {
            width: 760px;
            margin-bottom: 30px;
        }
        
        .carosel-portfolio .bx-viewport {
            background: #fff;
            margin-top: 2px;
        }
        
        .carosel-portfolio .bx-viewport .midia-gallery {
            text-align: center;
        }
        .midia-gallery{
            min-height: 400px;
            margin-bottom:20px;
        }
        #bxslider-pager li a img {
            width: 100%;
        }
        .carosel-portfolio .bx-viewport img {
            display: inline-block;
            max-height: 500px;
            width: auto;
        }
        
        .nome-projeto-portfolio {
            padding-right: 15px;
            display: inline-block;
            font-weight: 300;
            margin-top: 0px;
            color: #59656C
        }
        
        .slide-portfolio iframe {
            width: 100%;
            height: 400px;
        }
        
        .text-right {
            text-align: right;
        }
        .box-upload-portfolio{
        position: relative;
        }
.drop-portfolio {
    left: 0px;
    right: 0px;
    height: 100%;
    bottom: 0px;
    top: 0px;
}
.preview-image-portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: 10px solid #e1e3e4;
}
.excluir-portfolio {
    display: block;
    width: 25px;
    height: 25px;
    top: 1px;
    right: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    color: #fff;
    text-align: center;
    border-radius: 23px;
    line-height: 24px;
}
.fechar-portfolio {
    background: rgba(0, 0, 0, 0.53);
    display: block;
    position: absolute;
    right: 15px;
    top: -37px;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.popup-bg-white {
    position: absolute;
    width: 100%;
        z-index: 99;
}