﻿
@{
    Layout = null;

    var photo = HttpContext.Current.Request.Cookies["img_user"];
}


<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header" style="text-align: center;vertical-align: middle;">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <a href="@Url.Action("Briefing", "Project")">
            <div class="navbar-brand navbar-brand-center" style="display: inline-block;">
                <img class="navbar-brand-logo" src="@Url.Content("~/Content/images/crowd.png")" title="Agência Crowd" style="display: inline-block;text-align: center;">
            </div>
        </a>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown">
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                        <span class="avatar avatar-online">
                            <img src="@(photo != null && !String.IsNullOrEmpty(photo.Value) ? Url.Content("~/"+photo.Value) : @Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 30px;max-width: 30px;height: 30px;max-height: 30px;" />
                            <i></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" data-url="@Url.Action("Edit","User")">
                            <a href="javascript: void(0)" role="menuitem" class="open-slide" id="meuPerfil"><i class="icon wb-wrench" aria-hidden="true"></i>Meu Perfil</a>
                        </li>
                        <li role="presentation">
                            <a href="@Url.Action("Logout", "Login")" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i>Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    </div>
</nav>