<div class="galeria-portfolio-profissional mask-white-opacity" style="z-index: 99999999999; display: none; top:0px">
</div>
<div class="galeria-portfolio-profissional popup-bg-white" style="z-index: 999999999999; display: none;">

    <!-- The main images -->
    <!-- The thumbnails -->
    <div class="col-sm-10 div-upload-portfolio">
    <span class="fechar-portfolio">Sair X</span>
        <div class="header-popup-portfolio">
            <h3>Nome do portiflio hjghjghj</h3>
            <span class="pull-right">Portfolio completo em: <a href="#">http://site.com.br</a></span>
        </div>
        <div class="slide-portfolio">
            <ul id="bxslider-pager">
                <li ng-repeat="(key, galeria) in $ctrl.galeriaData" data-slideIndex="{{key}}">
                    <a href="">
                        <img ng-if="galeria.Type == 2" src="/images/thumb-video.jpg">
                        <img ng-if="galeria.Type == 1" src="{{galeria.thumb}}">
                    </a>
                </li>
            </ul>
            <div class="carosel-portfolio">
                <ul id="bxslider">
                    <li ng-repeat="(key, galeria) in $ctrl.galeriaData">
                        
                        
                        <div class="midia-gallery" ng-if="galeria.Type == 2" kkk="{{galeria.video}}">
                            <div ng-if="$ctrl.isYoutube(galeria.video)" data-type="youtube" data-video-id="{{$ctrl.isYoutube(galeria.video)}}" id="{{'plyr'+key}}"></div>
                            <div ng-if="$ctrl.isVimeo(galeria.video)" data-type="vimeo" data-video-id="{{$ctrl.isVimeo(galeria.video)}}" id="{{'plyr'+key}}"></div>
                            <!--<div ng-if="$ctrl.isMp4(galeria.video)" data-type="youtube" data-video-id="{{galeria.video}}" id="{{'plyr'+key}}"></div>-->
                        </div>
                        <!--<div class="midia-gallery">-->
                            <!--<div data-type="youtube" data-video-id="qFLhGq0060w" id="{{'plyr'+key}}"></div>-->

                        <div class="row">
                            <div class="col-sm-7 col-xs-12">
                                <h3 class="nome-projeto-portfolio">{{galeria.Title}}</h3>
                            </div>
                            <div class="col-sm-5 col-xs-12 text-right">
                                Desenvolvido para: <strong>{{galeria.ClientName}}</strong>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <p>{{galeria.Description}}</p>
                                <br>
                                <p>
                                    <a href="#">{{galeria.URL}}</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
       
    </div>
</div>

<script> 
//    var player = plyr.setup(document.querySelector('#plyr'), { debug: true });
</script>