﻿@model Freelancers.Crowd.Domain.Entities.Freelancer
@{
    Layout = null;
    var user = Model.Users.FirstOrDefault();
}
<div class="scroll" >
<header class="slidePanel-header overlay" style="background-image: url('@Url.Content("~/Content/photos/2.jpg")'); width: 500px;height: 250px;text-align: center;">
    <div class="overlay-panel overlay-background vertical-align" style="padding: 0;">
        <div class="slidePanel-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true"></button>
            </div>
        </div>
        <div class="vertical-align-middle">
            <img src="@(user != null && !String.IsNullOrEmpty(user.Photo) ? Url.Content("~"+user.Photo+".ashx?w=100&h=100&mode=crop") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="width: 80px; height:80px;">
            <h4 class="name">@Model.Name</h4>
            <h5>@Model.Title</h5>
            <div class="tags">
                @foreach (var skill in Model.Skills)
                {
                    <button type="button" class="btn btn-xs btn-outline btn-inverse">@skill.Name</button>
                }
            </div>
        </div>
    </div>
</header>
<div class="slidePanel-inner">

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Email</label>
        </div>
        <div class="col-md-8">
            <label>@Model.Email</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Telefone</label>
        </div>
        <div class="col-md-8">
            <label>@Model.Phone</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Cidade</label>
        </div>
        <div class="col-md-8">
            <label>@Model.City</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Skype</label>
        </div>
        <div class="col-md-8">
            <label>@Model.Skype</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Valor/hr</label>
        </div>
        <div class="col-md-8">
            <label>@Model.Price</label>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Portfólio</label>
        </div>
        <div class="col-md-8">
            <label><a href="@Model.Portfolio" target="_blank">@Model.Portfolio</a></label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Categoria</label>
        </div>
        <div class="col-md-8">
            <label>@Model.Categorys.Name</label>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Segmento</label>
        </div>
        <div class="col-md-8">
            <label>@(Model.Segments != null && Model.Segments.Count > 0 ? Model.Segments.First().Name : "")</label>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Disponibilidade</label>
        </div>
        <div class="col-md-8">
            <label>@(Model.Availability == Freelancers.Crowd.Domain.Entities.Enum.AvailabilityType.INTEGRAL ? "Integral" : "Parcial")</label>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <label>Descrição</label>
        </div>
        <div class="col-md-8">
            <p>@Model.Description</p>
        </div>
    </div>
    @if (Model.Ratings.Where(x => x.Active == true).Count() > 0)
    {
        var averengeQuality = Math.Round((double)Model.Ratings.Where(x => x.Active == true).Select(x => x.Quality).Sum() / Model.Ratings.Count());
        var averengeResponsability = Math.Round((double)Model.Ratings.Where(x => x.Active == true).Select(x => x.Responsability).Sum() / Model.Ratings.Count());
        var averengeAgility = Math.Round((double)Model.Ratings.Where(x => x.Active == true).Select(x => x.Agility).Sum() / Model.Ratings.Count());

        <hr />

        <div class="row" style="margin-top: 10px">
            <div class="col-md-4">
                <div class="form-group" style="text-align: center;">
                    <label>Responsabilidade</label>
                    <br />
                    @for (int i = 0; i < 5; i++) {
                        if (i < averengeResponsability)
                        {
                            <div class="star" ><i class="fa fa-star"></i></div>
                        }
                        else
                        {
                            <div class="star"><i class="fa fa-star-o"></i></div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="text-align: center;">
                    <label>Agilidade</label>
                    <br />
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < averengeAgility)
                        {
                            <div class="star"><i class="fa fa-star"></i></div>
                        }
                        else
                        {
                            <div class="star"><i class="fa fa-star-o"></i></div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <label>Qualidade</label>
                <br />
                @for (int i = 0; i < 5; i++)
                {
                    if (i < averengeQuality)
                    {
                        <div class="star"><i class="fa fa-star"></i></div>
                    }
                    else {
                        <div class="star"><i class="fa fa-star-o"></i></div>
                    }
                }
            </div>
        </div>

        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="col-md-12" style="text-align:center;">
                <h4>Quem já avaliou?</h4>
            </div>
        </div>

        var list = Model.Ratings.Where(x => x.Active == true).OrderByDescending(x => x.Id).ToList();

        foreach (var rating in list) 
                    {
                        var average = Math.Round((double)((rating.Quality + rating.Responsability + rating.Agility) / 3));
            <div class="row">
                <div class="col-md-8" style="display: inline-block;">
                    <div class="" style="margin:10px 0;">
                        <a class="avatar" href="javascript:void(0);">
                            <img src="@(!String.IsNullOrEmpty(rating.Users.Photo) ? Url.Content("~" + rating.Users.Photo) : Url.Content("~/Content/images/default-user-image.png"))">
                        </a>
                        <h5 style="display:inline-block;margin-left: 10px;vertical-align: top;">
                            @rating.Users.Name
                            <br>
                            @if (rating.Users.Customer != null)
                            {
                                <a href="#">@rating.Users.Customer.Name</a>
                            }
                        </h5>
                    </div>
                </div>
                <div class="col-md-4" style="padding: 10px 5px; display: inline-block; float: right;">
                    <span style="float: right;"><small>@rating.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small></span>
                    <br/>
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i < average)
                        {
                            <div class="star" style="float: right;"><i class="fa fa-star"></i></div>
                        }
                        else
                        {
                            <div class="star" style="float: right;"><i class="fa fa-star-o"></i></div>
                        }
                    }
                </div>
                <div class="col-md-12" style="padding: 10px 20px 0 25px;">
                    <p>@rating.Comment</p>
                    

                    @if (rating.UserId == ViewBag.loggedUser.Id)
                    {

                    <a href="#" title="Remover avaliação" class="btn btn-default btn-remove-rating" data-id="@rating.Id">Remover</a>
                    }
                </div>


            </div>
            <hr />
        }
    }
    <form id="ratingForm" method="post">
        <input type="hidden" value="@Model.Id" name="freelancerId" />
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
            <div class="col-md-12" style="text-align:center;">
                <h4>Faça sua avaliação</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="text-align: center;">
                    <label>Responsabilidade</label>
                    <br />
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="star btn responsability" data-value="@i" id="r_@i" >
                            <i class="fa fa-star-o"></i>
                        </div>
                    }
                    <input type="hidden" name="responsability" value="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="text-align: center;">
                    <label>Agilidade</label>
                    <br />
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="star btn agility" data-value="@i" id="a_@i"><i class="fa fa-star-o"></i></div>
                    }
                    <input type="hidden" name="agility" value="" />
                </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
                <label>Qualidade</label>
                <br />
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="star btn quality" data-value="@i" id="q_@i"><i class="fa fa-star-o"></i></div>
                }
                <input type="hidden" name="quality" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea name="comment" class="form-control" style="height: 80px; width: 440px;max-width: 100%;max-height: 80px;margin-bottom: 10px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <input id="enviarRating" type="button" value="Enviar" class="btn btn-primary pull-right"/>
            </div>
        </div>
    </form>
</div>
</div>