﻿@model List<Freelancers.Crowd.Domain.Entities.Freelancer>

@using System.Data;
@using Freelancers.Crowd.Domain.Entities;
@{
    ViewBag.Title = "Dashboard";

    int total = int.Parse(ViewBag.Count.ToString());
    int totalPage = int.Parse(ViewBag.TotalPage.ToString());
    int pageNow = int.Parse(ViewBag.PageNow.ToString());
    int totalItem = int.Parse(ViewBag.TotalItem.ToString());
    int totalPagination = pageNow + 6 < totalPage ? pageNow + 6 : totalPage - 1;

    var listSkill = (List<Skill>)ViewBag.Skill;
    var listCategory = (List<Category>)ViewBag.Category;
    var listSegment = (List<Segment>)ViewBag.Segment;
    var listCity = (List<String>)ViewBag.Citys;
}
@section Css{
    <link rel="stylesheet" href="~/Content/vendor/asrange/asRange.css" />
    <link rel="stylesheet" href="~/Content/vendor/select2/select2.min.css" />
    <style>
        tbody > tr {
            cursor: pointer;
        }

        .star {
            padding: 6px 0px;
            display: inline-block;
        }

        .fa-star {
            color: #62a8ea;
        }
        tbody > tr > td {
            vertical-align: middle !important;
        }

        
    </style>
}
<form id="searchForm" action="@Url.Action("Index")" method="get" class="">
    <div class="panel" style="margin-bottom:1px;">
        <div class="panel-body" style="padding-bottom: 5px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-4">
                                <h3>Profissionais</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-search input-search-dark">
                                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                                        <input type="text" class="form-control" name="query" placeholder="Busca por Nome, Email ou Profissão" value="@ViewBag.Query" />
                                        @*<button type="button" class="input-search-close icon wb-close" aria-label="Limpar"></button>*@
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4 " style="padding: 0;">
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align: right;padding: 0;">
                                        <label for="" class="control-label text-center" style="color:#0094ff;padding-top:7px;margin-right:10px">Total de pessoas @total</label>
                                        <div class="col-md-3 pull-right" style="padding: 0;">
                                            <select class="form-control" name="totalItem">
                                                <option value="100" @(totalItem == 100 ? "selected" : "")>100</option>
                                                <option value="200" @(totalItem == 200 ? "selected" : "")>200</option>
                                                <option value="500" @(totalItem == 500 ? "selected" : "")>500</option>
                                                <option value="1000" @(totalItem == 1000 ? "selected" : "")>1000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="col-md-8 control-label" style="color:#0094ff;">Total de pessoas @total</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@totalItem" name="totalItem">
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-1">
                                <div class="form-group searchForm-style-view">
                                    <a href="#" title="Tabela" data-content="freelancer-table" class="active"><span class="fa fa-bars"></span></a>
                                    <a href="#" title="Cards" data-content="freelancer-cards"><span class="fa fa-th"></span></a>
                                    
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group text-center">
                                    <label>Valor Hora:</label>
                                    <div class="asRange range-list rangeUi"
                                         data-plugin="asRange" data-namespace="rangeUi" data-step="5"
                                         data-min="0" data-max="999" data-tip="true" data-range="true" data-value="[@ViewBag.Min,@ViewBag.Max]">
                                    </div>
                                    <input type="hidden" name="minValueHour" value="@ViewBag.Min" />
                                    <input type="hidden" name="maxValueHour" value="@ViewBag.Max" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" name="skillId" placeholder="Habilidades" multiple>
                                        @if (listSkill != null)
                                        {

                                            for (int i = 0; i < listSkill.Count; i++)
                                            {
                                                if (ViewBag.SkillId != null && (ViewBag.SkillId as int[]).Contains(listSkill[i].Id))
                                                {
                                                    <option value="@listSkill[i].Id" selected="selected">@listSkill[i].Name</option>
                                                }
                                                else {
                                                    <option value="@listSkill[i].Id">@listSkill[i].Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" name="categoryId">
                                        <option value="">Categoria</option>
                                        @if (listCategory != null)
                                        {

                                            for (int i = 0; i < listCategory.Count; i++)
                                            {
                                                if (ViewBag.CategoryId != null && int.Parse(ViewBag.CategoryId.ToString()) == listCategory[i].Id)
                                                {
                                                    <option value="@listCategory[i].Id" selected="selected">@listCategory[i].Name</option>
                                                }
                                                else {
                                                    <option value="@listCategory[i].Id">@listCategory[i].Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <select class="form-control" name="availabilityId">
                                        <option value="">Disponibilidade</option>
                                        <option value="1" @(ViewBag.AvailabilityId != null && int.Parse(ViewBag.AvailabilityId.ToString()) == 1 ? "selected=selected" : "")>Integral</option>
                                        <option value="2" @(ViewBag.AvailabilityId != null && int.Parse(ViewBag.AvailabilityId.ToString()) == 2 ? "selected=selected" : "")>Parcial</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <select class="form-control" name="segmentId">
                                        <option value="">Segmento</option>
                                        @if (listSegment != null)
                                        {

                                            for (int i = 0; i < listSegment.Count; i++)
                                            {
                                                if (ViewBag.SegmentId != null && int.Parse(ViewBag.SegmentId.ToString()) == listSegment[i].Id)
                                                {
                                                    <option value="@listSegment[i].Id" selected="selected">@listSegment[i].Name</option>
                                                }
                                                else {
                                                    <option value="@listSegment[i].Id">@listSegment[i].Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" name="city">
                                    <select class="form-control" name="city">
                                        <option value="">Cidade</option>
                                        @if (listCity != null)
                                        {

                                            for (int i = 0; i < listCity.Count; i++)
                                            {
                                                if (ViewBag.City != null && ViewBag.City.ToString().Equals(listCity[i]))
                                                {
                                                    <option value="@listCity[i]" selected="selected">@listCity[i]</option>
                                                }
                                                else {
                                                    <option value="@listCity[i]">@listCity[i]</option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" style="padding:0px;">
                                <a href="@Url.Action("Index")" class="btn btn-default pull-right">Limpar</a>
                                <input type="submit" value="Buscar" class="btn btn-primary pull-right" style="margin-right:5px;" />

                                <input type="hidden" id="visual" name="visual" value="table" />


                                @if (ViewBag.briefingId != null) {
                                    <input type="hidden" id="briefingId" name="briefingId" value="@ViewBag.briefingId" />
                                }
                                    
                               

                                @if (ViewBag.toNewPeople == true)
                                {
                                    <input type="hidden" id="toNewPeople" name="toNewPeople" value="true" />
                                }
                                </div>
    
                            </div>
    
                        </div>
    
                        <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-hover table-striped table-condensed width-full table-freelancer table-responsive freelancer-table" data-sortable>
                    <thead>
                        <tr>
                            <th data-sortable="false">
                                <div class="checkbox-custom checkbox-primary">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </div>
                            </th>
                            <th data-sortable="false"></th>
                            <th data-sortable="false"><b>Nome</b></th>
                            <th data-sortable="false"><b>Profissão</b></th>
                            <th class="hideInMobile" data-sortable="false"><b>Portfólio</b></th>
                            <th class="hideInMobile" data-sortable="false"><b>Disponibilidade</b></th>
                            <th class="hideInMobile" data-sortable="false"><b>Habilidades</b></th>
                            @*<td class="col-md-1"><b>Portfólio</b></td>*@
                            <th class="hideInMobile" data-field="valor" data-sortable="true" style="cursor:pointer;" data-sortable-type="numeric"><b>Valor/Hora</b><i class="icon fa fa-arrows-v" style="margin-left:5px;"></i></th>
                            @*<td class="col-md-1"><b>Disponibilidade</b></td>*@
                            <th class="hideInMobile" data-field="rating" data-sortable="true" style="cursor:pointer;" data-sortable-type="numeric"><b>Rating</b><i class="icon fa fa-arrows-v" style="margin-left:5px;"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr data-url="@Url.Action("Detail", "Profissional", new { id = Model[i].Id })">
                                    <td class="">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="freela_@Model[i].Id" data-name="@Model[i].Name" data-id="@Model[i].Id">
                                            <label for="freela_@Model[i].Id"></label>
                                        </div>
                                    </td>
                                    <td class="open-slide" >
                                        <img src="@(Model[i].Users.FirstOrDefault() != null && !String.IsNullOrEmpty(Model[i].Users.FirstOrDefault().Photo) ? Url.Content("~" + Model[i].Users.FirstOrDefault().Photo) : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="margin-right:0;width: 40px;max-width: 40px;min-width: 40px;max-height: 40px;min-height: 40px;">
                                    </td>
                                    <td class="open-slide" style="">
                                        <span>@Model[i].Name</span>
                                    </td>
                                    <td class="open-slide">
                                        @Model[i].Title
                                    </td>
                                    <td class="open-slide hideInMobile">
                                        @if (!String.IsNullOrEmpty(Model[i].Portfolio))
                                        { <span><a href="@Model[i].Portfolio" target="_blank">Veja o portfolio</a></span>}
                                    </td>
                                    <td class="open-slide hideInMobile">
                                        @if (Model[i].Availability == Freelancers.Crowd.Domain.Entities.Enum.AvailabilityType.INTEGRAL)
                                        {
                                            <span>Integral</span>
                                        }
                                        else if (Model[i].Availability == Freelancers.Crowd.Domain.Entities.Enum.AvailabilityType.PARCIAL)
                                        {
                                            <span>Parcial</span>
                                        }
                                    </td>
                                    @*<td class="open-slide hideInMobile col-md-1"><span>@Model[i].Categorys.Name</span></td>


                                        <td class="open-slide hideInMobile col-md-1">
                                            @foreach (var segment in Model[i].Segments)
                                            {
                                                <span>@segment.Name</span>
                                            }
                                        </td>*@
                                    <td class="open-slide hideInMobile">
                                        @foreach (var skill in Model[i].Skills)
                                        {
                                            <span class="label label-primary" style="background-color:#78909c;font-size: 12px;font-weight: 300;">@skill.Name</span>
                                        }
                                    </td>

                                    <td class="open-slide hideInMobile"><span>@Model[i].Price.ToString("C")</span></td>

                                    @if (Model[i].Ratings.Count() > 0)
                                    {
                                        var averengeQuality = Math.Round((double)Model[i].Ratings.Select(x => x.Quality).Sum() / Model[i].Ratings.Count());
                                        var averengeResponsability = Math.Round((double)Model[i].Ratings.Select(x => x.Responsability).Sum() / Model[i].Ratings.Count());
                                        var averengeAgility = Math.Round((double)Model[i].Ratings.Select(x => x.Agility).Sum() / Model[i].Ratings.Count());

                                        int averenge = (int)(averengeQuality + averengeResponsability + averengeAgility) / 3;

                                        <td class="open-slide hideInMobile" data-value="@averenge">
                                            @for (int j = 1; j <= 5; j++)
                                            {
                                                if (j <= averenge)
                                                {
                                                    <i class="fa-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="star fa-star-o"></i>
                                                }
                                            }
                                        </td>
                                    }
                                    else {
                                        <td class="open-slide hideInMobile" data-value="0">
                                            @for (int j = 1; j <= 5; j++)
                                            {
                                                <i class="star fa-star-o"></i>
                                            }
                                        </td>
                                    }

                                    
                                </tr>
                                        }
                                    }
                    </tbody>
                </table>






                @if (Model != null)
                {
                    <div class="col-md-12 freelancer-cards">
                        @for (int i = 0; i < Model.Count; i++)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 freelancer-item freelancer-cards-box" data-url="@Url.Action("Detail", "Profissional", new { id = Model[i].Id })">
                                <div class="checkbox-custom checkbox-primary freelancer-cards-check">
                                    <input type="checkbox" id="freela_@Model[i].Id" data-name="@Model[i].Name" data-id="@Model[i].Id">
                                    <label for="freela_@Model[i].Id"></label>
                                </div>
                                <div class="col-md-12 col-xs-12 col-sm-12 freelancer-cards-item open-slide">
                                    

                                    <div class="col-md-6 col-sm-6 col-xs-12 freelancer-cards-item-image">
                                        

                                        <img src="@(Model[i].Users.FirstOrDefault() != null && !String.IsNullOrEmpty(Model[i].Users.FirstOrDefault().Photo) ? Url.Content("~" + Model[i].Users.FirstOrDefault().Photo+".ashx?w=100&h=100&mode=crop") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle img-circle-medium" />


                                        <div class="col-md-12 col-xs-12 freelancer-cards-item-rating">
                                            @if (Model[i].Ratings.Count() > 0)
                                            {
                                                var averengeQuality = Math.Round((double)Model[i].Ratings.Select(x => x.Quality).Sum() / Model[i].Ratings.Count());
                                                var averengeResponsability = Math.Round((double)Model[i].Ratings.Select(x => x.Responsability).Sum() / Model[i].Ratings.Count());
                                                var averengeAgility = Math.Round((double)Model[i].Ratings.Select(x => x.Agility).Sum() / Model[i].Ratings.Count());

                                                int averenge = (int)(averengeQuality + averengeResponsability + averengeAgility) / 3;


                                                for (int j = 1; j <= 5; j++)
                                                {
                                                    if (j <= averenge)
                                                    {
                                                        <i class="active fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-star"></i>
                                                    }
                                                }

                                            }
                                            else {

                                                for (int j = 1; j <= 5; j++)
                                                {
                                                    <i class="fa-star"></i>
                                                }

                                            }
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @{
                                            var name = @Model[i].Name.Split(' ');
                                        }

                                        <h3>@name[0] <strong>@name[name.Length - 1]</strong></h3>

                                        <h4>
                                        @if (Model[i].Title.Length > 36)
                                        {
                                            var title = string.Concat(Model[i].Title.Substring(0, 30),  "...");
                                            @title
                                        }
                                        else
                                        {
                                            @Model[i].Title
                                        }
                                        </h4>


                                        <p>@Model[i].City, @Model[i].Country</p>

                                        <p>@string.Format("{0:C}", Model[i].Price)</p>

                                        @if (!string.IsNullOrEmpty(Model[i].Portfolio))
                                        {
                                            <p><a href="@Model[i].Portfolio" title="Veja o Portfolio" target="_blank">Veja o portfolio</a></p>
                                        }                                        

                                        <p>@Model[i].Availability</p>

                                        <p>@Model[i].Categorys.Name</p>

                                    </div>


                                </div>
                            </div>
                        }
                    </div>
    }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (pageNow != 1)
                {
                    <a href="@Url.Action("Index", new {
                        query = ViewBag.Query,
                        city = ViewBag.City,
                        skillId = ViewBag.SkillId,
                        categoryId = ViewBag.CategoryId,
                        availabilityId = ViewBag.AvailabilityId,
                        segmentId = ViewBag.SegmentId,
                        minValueHour = ViewBag.Min,
                        maxValueHour = ViewBag.Max,
                        page = (pageNow - 1),
                        totalItem = totalItem
                    })" class="btn btn-outline btn-default">Anterior</a>
                }
                @for (int i = pageNow; i < totalPagination; i++)
                {
                    <a href="@Url.Action("Index", new {
                        query = ViewBag.Query,
                        city = ViewBag.City,
                        skillId = ViewBag.SkillId,
                        categoryId = ViewBag.CategoryId,
                        availabilityId = ViewBag.AvailabilityId,
                        segmentId = ViewBag.SegmentId,
                        minValueHour = ViewBag.Min,
                        maxValueHour = ViewBag.Max,
                        page = (i),
                        totalItem = totalItem
                    })" class="btn @(@pageNow == i ? "btn-primary" : "btn-default")">@(i)</a>
                }
                @if (pageNow != totalPage)
                {
                    <a href="@Url.Action("Index", new {
                        query = ViewBag.Query,
                        city = ViewBag.City,
                        skillId = ViewBag.SkillId,
                        categoryId = ViewBag.CategoryId,
                        availabilityId = ViewBag.AvailabilityId,
                        segmentId = ViewBag.SegmentId,
                        minValueHour = ViewBag.Min,
                        maxValueHour = ViewBag.Max,
                        page = (pageNow + 1),
                        totalItem = totalItem
                    })" class="btn btn-outline btn-default">Proximo</a>
                }

            </div>
        </div>
    </div>
</div>


@if (ViewBag.briefingId != null && ViewBag.toNewPeople)
{
    <button class="btn btn-floating btn-success btn-send-briefing" style="position:fixed;right:50px;bottom:50px;">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button>
}
else
{
    <button class="btn btn-floating btn-success btn-send-briefing" style="position:fixed;right:50px;bottom:50px;">
        <i class="icon wb-pencil" aria-hidden="true"></i>
    </button>
}



@section Script{
    <script src="~/Content/vendor/asrange/jquery-asRange.js"></script>
    <script src="~/Content/js/components/asrange.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    @if (ViewBag.BriefingStatus != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                alertify.theme("bootstrap");
                //alertify.alert("Briefing enviado com sucesso. Acabamos de notificar os profissionais selecionados. Agora é só aguardar as respostas");
                openModal("Briefing", "Briefing enviado com sucesso. <br />Acabamos de notificar os profissionais selecionados. <br />Agora é só aguardar as respostas.", "fa-paper-plane-o", "Ok");
                
            });
        </script>

        ViewBag.BriefingStatus = null;
    }

@if (ViewBag.ComplementAdded != null)
{
    <script type="text/javascript">
            $(document).ready(function () {
                alertify.theme("bootstrap");
                //alertify.alert("Briefing enviado com sucesso. Acabamos de notificar os profissionais selecionados. Agora é só aguardar as respostas");
                openModal("Briefing", "Complemento de briefing enviado com sucesso. <br />Acabamos de notificar os profissionais selecionados. <br />Agora é só aguardar as respostas.", "fa-paper-plane-o", "Ok");

            });
    </script>

    ViewBag.ComplementAdded = null;
}




    <script type="text/javascript">
        $(document).ready(function () {
            tinymce.init({
                selector: "#content",
                theme: "modern",
                skin: 'light',
                language: 'pt_BR',
                menubar: false,
                statusbar: true,
                visual: false,
                height: 100,
                plugins: [
                    "advlist autolink link image lists code textcolor"
                ],
                toolbar: "forecolor | bold italic | alignleft aligncenter alignright | bullist "
            });

            $('select[name="skillId"]').select2({ placeholder: "Habilidades" });

            $('.rangeUi-pointer-1').click(function () {
                $('input[name="minValueHour"]').val($($('.rangeUi-tip').get(0)).text());
            });

            $('.rangeUi-pointer-2').click(function () {
                $('input[name="maxValueHour"]').val($($('.rangeUi-tip').get(1)).text());
            });
            $('#searchForm').submit(function () {
                $('input[name="minValueHour"]').val($($('.rangeUi-tip').get(0)).text());
                $('input[name="maxValueHour"]').val($($('.rangeUi-tip').get(1)).text());
            });
            $('#reset').click(function () {
                $('input[name="query"]').val('')
                $($('select[name="skillId"]').get(0)).prop(true);
                $($('select[name="categoryId"]').get(0)).prop(true);
                $($('select[name="availabilityId"]').get(0)).prop(true);
                $($('select[name="segmentId"]').get(0)).prop(true);
                $($('select[name="city"]').get(0)).prop(true);
                $('input[name="minValueHour"]').val('0');
                $('input[name="maxValueHour"]').val('999');
            });

            $('#selectAll').click(function () {
                if ($(this).is(":checked")) {
                    $('input[type="checkbox"]').prop('checked', true);
                } else {
                    $('input[type="checkbox"]').prop('checked', false);
                }
            });


            $('body').delegate('.agility, .quality, .responsability', 'click', function () {
                for (i = 1; i <= 5; i++) {
                    var id = $(this).attr('id').replace($(this).data('value'), i);
                    $('#' + id).find('.fa-star').removeClass("fa-star").addClass("fa-star-o");
                }
                for (i = 1; i <= $(this).data("value") ; i++) {
                    var id = $(this).attr('id').replace($(this).data('value'), i);
                    $('#' + id).find('.fa-star-o').removeClass("fa-star-o").addClass("fa-star");
                }
                $(this).parent().find('input[type="hidden"]').val($(this).data('value'));
            });

            $('body').delegate('#enviarRating', 'click', function () {
                $.ajax({
                    url: "@Url.Action("Rating","Profissional")",
                    type: "POST",
                    data: {
                        freelancerId: $('input[name="freelancerId"]').val(),
                        responsability: $('input[name="responsability"]').val(),
                        agility: $('input[name="agility"]').val(),
                        quality: $('input[name="quality"]').val(),
                        comment: $('textarea[name="comment"]').val()
                    },
                    success: function (data) {
                        alertify.alert("Avaliação efetuada com sucesso");
                    }
                });
                return false;
            });
        });

        
    </script>
}
