<div class="site-gridmenu">
  <div>
    <div>
      <ul>
        <li>
          <a href="{{dest 'apps/mailbox/mailbox.html'}}">
            <i class="icon wb-envelope"></i>
            <span>Mailbox</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/calendar/calendar.html'}}">
            <i class="icon wb-calendar"></i>
            <span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/contacts/contacts.html'}}">
            <i class="icon wb-user"></i>
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/media/overview.html'}}">
            <i class="icon wb-camera"></i>
            <span>Media</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/documents/categories.html'}}">
            <i class="icon wb-order"></i>
            <span>Documents</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/projects/projects.html'}}">
            <i class="icon wb-image"></i>
            <span>Project</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'apps/forum/forum.html'}}">
            <i class="icon wb-chat-group"></i>
            <span>Forum</span>
          </a>
        </li>
        <li>
          <a href="{{dest 'index.html'}}">
            <i class="icon wb-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
