<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
      <i class="icon wb-more-horizontal" aria-hidden="true"></i>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu"><img class="navbar-brand-logo" src="{{assets_url 'images/logo.png'}}" title="Remark"><span class="navbar-brand-text hidden-xs-down"> Remark</span></div>
    <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
      <span class="sr-only">Toggle Search</span>
      <i class="icon wb-search" aria-hidden="true"></i>
    </button>
  </div>

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
           <a class="nav-link" data-toggle="menubar" href="#" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="sr-only">Toggle menubar</span>
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
        <li class="nav-item hidden-sm-down" id="toggleFullscreen">
          <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
            <span class="sr-only">Toggle fullscreen</span>
          </a>
        </li>
        <li class="nav-item hidden-float">
          <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search" role="button">
            <span class="sr-only">Toggle Search</span>
          </a>
        </li>
        <li class="nav-item dropdown dropdown-fw dropdown-mega">
          <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="fade" role="button">Mega <i class="icon wb-chevron-down-mini" aria-hidden="true"></i></a>
          <div class="dropdown-menu" role="menu">
            <div class="mega-content">
              <div class="row">
                <div class="col-md-4">
                  <h5>UI Kit</h5>
                  <ul class="blocks-2">
                    <li class="mega-menu margin-0">
                      <ul class="list-icons">
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'advanced/animation.html'}}">Animation</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/buttons.html'}}">Buttons</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/colors.html'}}">Colors</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/dropdowns.html'}}">Dropdowns</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/icons.html'}}">Icons</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'advanced/lightbox.html'}}">Lightbox</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu margin-0">
                      <ul class="list-icons">
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/modals.html'}}">Modals</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/panel-structure.html'}}">Panels</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'structure/overlay.html'}}">Overlay</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/tooltip-popover.html '}}">Tooltips</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'advanced/scrollable.html'}}">Scrollable</a></li>
                        <li><i class="wb-chevron-right-mini" aria-hidden="true"></i><a href="{{dest 'uikit/typography.html'}}">Typography</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h5>Media<span class="tag tag-pill tag-success">4</span></h5>
                  <ul class="blocks-3">
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-1.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-2.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-3.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-4.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-5.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                    <li>
                      <a class="thumbnail margin-0" href="javascript:void(0)">
                        <img class="width-full" src="{{image 'view-6.jpg' width='150' height='100'}}" alt="..." />
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <h5 class="margin-bottom-0">Accordion</h5>
                  <!-- Accordion -->
                  <div class="panel-group panel-group-simple" id="siteMegaAccordion" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                      <div class="panel-heading" id="siteMegaAccordionHeadingOne" role="tab">
                        <a class="panel-title" data-toggle="collapse" href="#siteMegaCollapseOne" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseOne">
                          Collapsible Group Item #1
                        </a>
                      </div>
                      <div class="panel-collapse collapse" id="siteMegaCollapseOne" aria-labelledby="siteMegaAccordionHeadingOne" role="tabpanel">
                        <div class="panel-body">
                          De moveat laudatur vestra parum doloribus labitur sentire partes, eripuit praesenti congressus ostendit alienae, voluptati ornateque accusamus clamat reperietur convicia albucius.
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading" id="siteMegaAccordionHeadingTwo" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseTwo" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseTwo">
                          Collapsible Group Item #2
                        </a>
                      </div>
                      <div class="panel-collapse collapse" id="siteMegaCollapseTwo" aria-labelledby="siteMegaAccordionHeadingTwo" role="tabpanel">
                        <div class="panel-body">
                          Praestabiliorem. Pellat excruciant legantur ullum leniter vacare foris voluptate loco ignavi, credo videretur multoque choro fatemur mortis animus adoptionem, bello statuat expediunt naturales.
                        </div>
                      </div>
                    </div>

                    <div class="panel">
                      <div class="panel-heading" id="siteMegaAccordionHeadingThree" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#siteMegaCollapseThree" data-parent="#siteMegaAccordion" aria-expanded="false" aria-controls="siteMegaCollapseThree">
                          Collapsible Group Item #3
                        </a>
                      </div>
                      <div class="panel-collapse collapse" id="siteMegaCollapseThree" aria-labelledby="siteMegaAccordionHeadingThree" role="tabpanel">
                        <div class="panel-body">
                          Horum, antiquitate perciperet d conspectum locus obruamus animumque perspici probabis suscipere. Desiderat magnum, contenta poena desiderant concederetur menandri damna disputandum corporum.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Accordion -->
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->

      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up" aria-expanded="false" role="button"><span class="flag-icon flag-icon-us"></span></a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-gb"></span> English</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-fr"></span> French</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-cn"></span> Chinese</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-de"></span> German</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><span class="flag-icon flag-icon-nl"></span> Dutch</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
            <span class="avatar avatar-online">
              <img src="{{portrait '5.jpg'}}" alt="...">
              <i></i>
            </span>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon wb-bell" aria-hidden="true"></i>
            <span class="tag tag-pill tag-danger up">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header">
              <h5>NOTIFICATIONS</h5>
              <span class="tag tag-round tag-danger">New 5</span>
            </div>

            {{#if notifications}}
            <div class="list-group">
              <div data-role="container">
                <div data-role="content">
                  {{#each notifications}}
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="media-left padding-right-10">
                        <i class="icon {{this.icon}} {{this.icon_bg}} white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">{{this.title}}</h6>
                        <time class="media-meta" datetime="{{this.datetime}}">{{this.time}}</time>
                      </div>
                    </div>
                  </a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}
            <div class="dropdown-menu-footer">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon md-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                All notifications
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon wb-envelope" aria-hidden="true"></i>
            <span class="tag tag-pill tag-info up">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header" role="presentation">
              <h5>MESSAGES</h5>
              <span class="tag tag-round tag-info">New 3</span>
            </div>

            {{#if messages}}
            <div class="list-group" role="presentation">
              <div data-role="container">
                <div data-role="content">
                  {{#each messages}}
                  <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="media-left padding-right-10">
                        <span class="avatar avatar-sm avatar-{{this.author.status}}">
                          <img src="{{portrait this.author.avatar}}" alt="..." />
                          <i></i>
                        </span>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">{{this.author.name}}</h6>
                        <div class="media-meta">
                          <time datetime="{{this.datetime}}">{{this.time}}</time>
                        </div>
                        <div class="media-detail">{{this.content}}</div>
                      </div>
                    </div>
                  </a>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/if}}
            <div class="dropdown-menu-footer" role="presentation">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon wb-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                See all messages
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item" id="toggleChat">
          <a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat" data-url="{{dest 'site-sidebar.tpl'}}">
            <i class="icon wb-chat" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>