<ul class="site-menu" data-plugin="menu">
  <li ng-class="['site-menu-'+item.type, {'has-sub' : item.children}]" ng-repeat="item in items">
  <a href="javascript:void(0)" ng-if="item.type==='item'">
    <i class="site-menu-icon" ng-class="[item.icon]" aria-hidden="true"></i>
    <span class="site-menu-title">\{{item.title}}</span>

    <div ng-class="['site-menu-' + item.label.type]" ng-if="item.label">
      <span class="tag" ng-class="[item.label.modifier, {'tag-pill': item.label.type==='badge'}]">\{{item.label.text}}</span>
    </div>

    <span class="site-menu-arrow" ng-if="!item.label&&item.children"></span>
  </a>
  <span ng-if="item.type==='category'">\{{item.title}}</span>
  <ul class="site-menu-sub" ng-if="item.children">
    <li class="site-menu-item" ng-repeat="child in item.children" ng-class="{'has-sub':child.children}">
    <a ng-href="\{{child.link}}">
      <span class="site-menu-title">\{{child.title}}</span>
      <div class="site-menu-label" ng-if="child.label">
        <span class="tag" ng-class="[child.label.modifier]">\{{child.label.text}}</span>
      </div>
      <span class="site-menu-arrow" ng-if="child.children"></span>
      <ul class="site-menu-sub" ng-if="child.children">
        <li class="site-menu-item" ng-repeat="sub in child.children">
        <a class="animsition-link" ng-href="\{{sub.link}}"> 
          <span class="site-menu-title">\{{sub.title}}</span>
        </a>
        </li>
      </ul>
    </a>
    </li>
  </ul>
  </li>
</ul>
