<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                {{> site_menu }}

                {{> site_progress_bars }}
            </div>
        </div>
    </div>

    {{> site_menubar_footer}}
</div>
