---
title: Summernote
layout: default.hbs
stylesheets_font:
- font-awesome/font-awesome.css
stylesheets_vendor:
- summernote/summernote.css
javascripts_vendor:
- summernote/summernote.min.js
javascripts_global:
- components/summernote.js
javascripts_example:
- forms/editor-summernote.js
---
<!-- Page -->
<div class="page animsition" ng-controller="SummernoteCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Editors</a></li>
      <li class="active breadcrumb-item">{{title}}</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="http://summernote.org" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Panel Standard Editor -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Standard Editor</h3>
          </div>
          <div class="panel-body">
            <div id="summernote" data-plugin="summernote">
              <h2>WYSIWYG Editor</h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper sapien non nisl facilisis bibendum in quis tellus. Duis in urna bibendum turpis pretium fringilla. Aenean neque velit, porta eget mattis ac, imperdiet quis nisi. Donec non dui et tortor vulputate luctus. Praesent consequat rhoncus velit, ut molestie arcu venenatis sodales.
              <h4>Lacinia</h4>
              <ul>
                <li>Suspendisse tincidunt urna ut velit ullamcorper fermentum.</li>
                <li>Nullam mattis sodales lacus, in gravida sem auctor at.</li>
                <li>Praesent non lacinia mi.</li>
                <li>Mauris a ante neque.</li>
                <li>Aenean ut magna lobortis nunc feugiat sagittis.</li>
              </ul>
              <h4>Pellentesque Adipiscing</h4> Maecenas quis ante ante. Nunc adipiscing rhoncus rutrum. Pellentesque adipiscing urna mi, ut tempus lacus ultrices ac. Pellentesque sodales, libero et mollis interdum, dui odio vestibulum dolor, eu pellentesque nisl nibh quis nunc. Sed porttitor leo adipiscing venenatis vehicula. Aenean quis viverra enim. Praesent porttitor ut ipsum id ornare.
            </div>
          </div>
        </div>
        <!-- End Panel Standard Editor -->

        <!-- Panel Air Mode -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Air-Mode</h3>
          </div>
          <div class="panel-body">
            <p>Air-mode gives clearer interface with hiddened toolbar. To reveal toolbar, select a text where you want to shape up. Simply turn on <code>airMode</code> and just focus on text.</p>
            <div data-plugin="summernote" data-air-mode="true">
              <h3>Heading is here</h3>
              <p>Lorem ipsum dolor sit amet, <strong><b>consectetur adipisicing elit</b></strong>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <u>Exercitation</u> ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ul class="list-unstyled">
                <li>- list text here</li>
                <li>- list text here</li>
                <li>
                  <ul>
                    <li>list text here</li>
                    <li>list text here</li>
                    <li>list text here</li>
                  </ul>
                </li>
                <li>- list text here</li>
              </ul>
              <h4>Title</h4>
              <p>laboris nisi ut aliquip ex ea commodo consequat<a href="http://www.amazingSurge.com">link is here</a>(http://www.amazingSurge.com)</p>
            </div>
          </div>
        </div>
        <!-- End Panel Air Mode -->

        <!-- Panel Custom Toolbar -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Custom Toolbar</h3>
          </div>
          <div class="panel-body">
            <p>Summernote allows you to make own custom toolbar.</p>
            <div data-plugin="summernote" data-plugin-options='{"toolbar":[["style", ["bold", "italic", "underline", "clear"]],["color", ["color"]],["para", ["ul", "ol", "paragraph"]]]}'>
              <h3>Heading is here</h3>
              <p>Lorem ipsum dolor sit amet, <strong><b>consectetur adipisicing elit</b></strong>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <u>Exercitation</u> ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <ul>
                <li>list text here</li>
                <li>list text here</li>
                <li>list text here</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Panel Custom Toolbar -->

        <!-- Panel Click To Edit -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Click To Edit</h3>
          </div>
          <div class="panel-body">
            <p>
              <button type="button" class="btn btn-outline btn-primary" id="edit" onclick="edit()">Edit</button>
              <button type="button" class="btn btn-outline btn-primary" id="save" onclick="save()">Save</button>
            </p>
            <div class="click2edit">
              You can click to edit, here!
            </div>
          </div>
        </div>
        <!-- End Panel Click To Edit -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->