---
title: Ace Editor
layout: default.hbs

stylesheets_vendor:
- ace/ace.css
javascripts_vendor:
- ace/ace.js
javascripts_global:
- components/ace-editor.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Editors</a></li>
      <li class="active breadcrumb-item">{{title}}</li>
    </ol>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-default btn-outline btn-round" href="https://github.com/ajaxorg/ace-builds" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Ace Editor -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Ace Editor</h3>
      </div>
      <div class="panel-body">
        <!-- Example Javascript Mode -->
        <div class="example-wrap">
          <h4 class="example-title">Javascript Mode</h4>
          <div class="example">
            <pre class="ace-editor" id="exampleJavascript" data-plugin="ace" data-mode="javascript" style="width: 100%;">/**
 * In fact, you're looking at ACE right now. Go ahead and play with it!
 *
 * We are currently showing off the JavaScript mode. ACE has support for 45
 * language modes and 24 color themes!
 */

function add(x, y) {
    var resultString = "Hello, ACE! The result of your math is: ";
    var result = x + y;
    return resultString + result;
}

var addResult = add(3, 2);
console.log(addResult);
            </pre>
          </div>
        </div>
        <!-- End Example Javascript Mode -->

        <!-- Example Html Mode And Emmet -->
        <div class="example-wrap">
          <h4 class="example-title">Html Mode And Emmet</h4>
          <div class="example">
            <pre class="ace-editor" id="exampleModeEmmet" data-plugin="ace" data-mode="html" style="width: 100%;">&lt;!--
* We are currently showing off the Html mode. ACE has support for 45
* language modes and 24 color themes!
 -->
&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
&lt;title>ACE in Action&lt;/title>
&lt;style>
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
&lt;/style>
&lt;/head>
&lt;body>

&lt;div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}&lt;/div>

&lt;script src="/ace-builds/src-noconflict/ace.js" charset="utf-8">&lt;/script>
&lt;script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
&lt;/script>
&lt;/body>
&lt;/html>
            </pre>
          </div>
        </div>
        <!-- End Example Html Mode And Emmet -->

        <!-- Example Setting Theme -->
        <div class="example-wrap">
          <h4 class="example-title">Setting Theme</h4>
          <div class="example">
            <pre class="ace-editor" id="exampleTheme" data-plugin="ace" data-mode="html" data-theme="twilight" style="width: 100%;">&lt;!DOCTYPE html>
&lt;html lang="en">
&lt;head>
&lt;title>ACE in Action&lt;/title>
&lt;style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
&lt;/style>
&lt;/head>
&lt;body>

&lt;div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}&lt;/div>

&lt;script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8">&lt;/script>
&lt;script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/javascript");
&lt;/script>
&lt;/body>
&lt;/html>
            </pre>
          </div>
        </div>
        <!-- End Example Setting Theme -->
      </div>
    </div>
    <!-- End Panel Ace Editor -->
  </div>
</div>
<!-- End Page -->

