---
title: File Uploads
layout: default.hbs
stylesheets_vendor:
- blueimp-file-upload/jquery.fileupload.css
- dropify/dropify.css
javascripts_vendor:
- jquery-ui/jquery-ui.js
- blueimp-tmpl/tmpl.js
- blueimp-canvas-to-blob/canvas-to-blob.js
- blueimp-load-image/load-image.all.min.js
- blueimp-file-upload/jquery.fileupload.js
- blueimp-file-upload/jquery.fileupload-process.js
- blueimp-file-upload/jquery.fileupload-image.js
- blueimp-file-upload/jquery.fileupload-audio.js
- blueimp-file-upload/jquery.fileupload-video.js
- blueimp-file-upload/jquery.fileupload-validate.js
- blueimp-file-upload/jquery.fileupload-ui.js
- dropify/dropify.min.js
javascripts_global:
- components/dropify.js
javascripts_example:
- forms/uploads.js
---
<!-- Page -->
<div class="page animsition" ng-controller="FormUploadCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
      <li class="breadcrumb-item active">File Uploads</li>
    </ol>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Dropify -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Dropify <small><a class="example-plugin-link" href="https://jeremyfagis.github.io/dropify/" target="_blank">official website</a></small></h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-4 col-md-6">
            <!-- Example Default -->
            <div class="example-wrap">
              <h4 class="example-title">Your so fresh input file — Default version</h4>
              <div class="example">
                <input type="file" id="input-file-now" data-plugin="dropify" data-default-file="" />
              </div>
            </div>
            <!-- End Example Default -->
          </div>

          <div class="col-xl-4 col-md-6">
            <!-- Example Default Value -->
            <div class="example-wrap">
              <h4 class="example-title">You can add a default value</h4>
              <div class="example">
                <input type="file" id="input-file-now-custom-1" data-plugin="dropify" data-default-file="{{image 'view-7.jpg' width='960' height='640'}}" />
              </div>
            </div>
            <!-- End Example Default Value -->
          </div>

          <div class="clearfix hidden-sm-down hidden-xl-up"></div>

          <div class="col-xl-4 col-md-6">
            <!-- Example height -->
            <div class="example-wrap">
              <h4 class="example-title">You can set the height</h4>
              <div class="example">
                <input type="file" id="input-file-now-custom-2" data-plugin="dropify" data-height="500" />
              </div>
            </div>
            <!-- End Example height -->
          </div>

          <div class="col-xl-4 col-md-6">
            <!-- Example combine options -->
            <div class="example-wrap">
              <h4 class="example-title">You can combine options</h4>
              <div class="example">
                <input type="file" id="input-file-now-custom-3" data-plugin="dropify" data-height="500" data-default-file="{{image 'view-8.jpg' width='960' height='640'}}" />
              </div>
            </div>
            <!-- End Example combine options -->
          </div>

          <div class="clearfix hidden-sm-down hidden-xl-up"></div>

          <div class="col-xl-4 col-md-6">
            <!-- Example disabled -->
            <div class="example-wrap">
              <h4 class="example-title">You can disabled the input</h4>
              <div class="example">
                <input type="file" id="input-file-now-disabled-1" data-plugin="dropify" disabled="disabled" />
              </div>
            </div>
            <!-- End Example disabled -->
          </div>

          <div class="col-xl-4 col-md-6">
            <!-- Example default file -->
            <div class="example-wrap">
              <h4 class="example-title">Also with a default file</h4>
              <div class="example">
                <input type="file" id="input-file-now-disabled-2" data-plugin="dropify" disabled="disabled" data-default-file="{{image 'view-9.jpg' width='960' height='640'}}" />
              </div>
            </div>
            <!-- End Example default file -->
          </div>

          <div class="clearfix hidden-sm-down hidden-xl-up"></div>

          <div class="col-xl-4 col-md-6">
            <!-- Example max file size -->
            <div class="example-wrap">
              <h4 class="example-title">You can add a max file size</h4>
              <div class="example">
                <input type="file" id="input-file-max-fs" data-plugin="dropify" data-max-file-size="2M" />
              </div>
            </div>
            <!-- End Example max file size -->
          </div>

          <div class="col-xl-4 col-md-6">
            <!-- Example disable -->
            <div class="example-wrap">
              <h4 class="example-title">You can disable remove button</h4>
              <div class="example">
                <input type="file" id="input-file-disable-remove" data-plugin="dropify" data-disable-remove="true" />
              </div>
            </div>
            <!-- End Example disable -->
          </div>

          <div class="clearfix hidden-sm-down hidden-xl-up"></div>

          <div class="col-xl-4 col-md-6">
            <!-- Example events -->
            <div class="example-wrap">
              <h4 class="example-title">You can use events</h4>
              <div class="example">
                <input type="file" id="input-file-events" class="dropify-event" data-default-file="{{image 'view-6.jpg' width='960' height='640'}}" />
              </div>
            </div>
            <!-- End Example events -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Dropify -->
    <div class="example-wrap">
      <h3 class="example-title">jQuery File Upload <small><a class="example-plugin-link" href="https://blueimp.github.io/jQuery-File-Upload/" target="_blank">official website</a></small></h3>
      <form class="upload-form" id="exampleUploadForm" method="POST">
        <input type="file" id="inputUpload" name="files[]" multiple="" />
        <div class="uploader-inline">
          <h3 class="upload-instructions">Click Or Drop Files To Upload. We Use Jquery File Upload, You Can Learn More Form <A id="uploadlink" href="https://blueimp.github.io/jQuery-File-Upload/" target="_blank">Here</A>.</h3>
        </div>
        <div class="file-wrap container-fluid">
          <div class="file-list row"></div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Page -->
