---
title: Material Elements
layout: default.hbs
javascripts_vendor:
- jquery-placeholder/jquery.placeholder.js
javascripts_global:
- components/jquery-placeholder.js
- components/material.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Forms</a></li>
      <li class="breadcrumb-item active">Material</li>
    </ol>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-default btn-outline btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- Panel Static Labels -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Static Labels</h3>
          </div>
          <div class="panel-body container-fluid">
            <form autocomplete="off">
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputText">Text</label>
                <input type="text" class="form-control" id="inputText" name="inputText" placeholder="Text" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputFile">File</label>
                <input type="text" class="form-control" placeholder="Browse.." readonly="" />
                <input type="file" id="inputFile" name="inputFile" multiple="" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="textarea">Textarea</label>
                <textarea class="form-control" id="textarea" name="textarea" rows="3"></textarea>
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="select">Select</label>
                <select class="form-control" id="select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="selectMulti">Multi Select</label>
                <select class="form-control" id="selectMulti" multiple="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputDisabled">Input Disabled</label>
                <input type="text" class="form-control" id="inputDisabled" placeholder="Input Disabled" disabled>
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputFocus">Input Focus</label>
                <input type="text" class="form-control focus" id="inputFocus" placeholder="Input Focus">
              </div>
              <div class="form-group form-material has-warning" data-plugin="formMaterial">
                <label class="form-control-label" for="inputWarning">Input Warning</label>
                <input type="text" class="form-control" id="inputWarning" placeholder="Input Warning">
              </div>
              <div class="form-group form-material has-danger" data-plugin="formMaterial">
                <label class="form-control-label" for="inputError">Input Danger</label>
                <input type="text" class="form-control" id="inputError" placeholder="Input Error">
              </div>
              <div class="form-group form-material has-success" data-plugin="formMaterial">
                <label class="form-control-label" for="inputSuccess">Input Success</label>
                <input type="text" class="form-control" id="inputSuccess" placeholder="Input Success">
              </div>
              <div class="form-group form-material has-info" data-plugin="formMaterial">
                <label class="form-control-label" for="inputInfo">Input Info</label>
                <input type="text" class="form-control" id="inputInfo" placeholder="Input Info">
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputSmall">Small Input</label>
                <input type="text" class="form-control form-control-sm" id="inputSmall" name="inputSmall" placeholder="Small Input" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputSmall">Default Input</label>
                <input type="text" class="form-control" id="inputDefault" name="inputDefault" placeholder="Default Input" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputSmall">Large Input</label>
                <input type="text" class="form-control form-control-lg" id="inputLarge" name="inputLarge" placeholder="Large Input" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputHint">Input Hint</label>
                <input type="text" class="form-control" id="inputHint" name="inputHint" placeholder="Input Hint" data-hint="Write here something cool" />
              </div>
              <div class="form-group form-material" data-plugin="formMaterial">
                <label class="form-control-label" for="inputAddons">Input addons</label>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" id="inputAddons" />
                  </div>
                  <span class="input-group-btn">
                    <button class="btn btn-outline btn-default" type="button">Button</button>
                  </span>
                </div>
              </div>
              <div class="form-group form-material row" data-plugin="formMaterial">
                <div class="col-md-6">
                  <label class="form-control-label" for="inputGrid1">Input Grid</label>
                  <input type="text" class="form-control" id="inputGrid1" name="inputGrid1" placeholder="col-md-6" />
                </div>
                <div class="col-md-6">
                  <label class="form-control-label" for="inputGrid2">Input Grid</label>
                  <input type="text" class="form-control" id="inputGrid2" name="inputGrid2" placeholder="col-md-6" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Panel Static Labels -->
      </div>

      <div class="col-md-6">
        <!-- Panel Floating Labels -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Floating Labels</h3>
          </div>
          <div class="panel-body container-fluid">
            <form autocomplete="off">
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" name="inputFloatingText" />
                <label class="floating-label">Text</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="email" class="form-control" name="inputFloatingEmail" />
                <label class="floating-label">Email</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="password" class="form-control" name="inputFloatingPassword" />
                <label class="floating-label">Password</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" readonly="" />
                <input type="file" name="inputFloatingFile" multiple="" />
                <label class="floating-label">Browse..</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <textarea class="form-control" rows="3" name="textareaFloating"></textarea>
                <label class="floating-label">Textarea</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <select class="form-control">
                  <option>&nbsp;</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <label class="floating-label">Select</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <label class="floating-label floating-label-static">Multi Select</label>
                <select class="form-control" multiple="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" disabled>
                <label class="floating-label">Input Disabled</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control focus">
                <label class="floating-label">Input Focus</label>
              </div>
              <div class="form-group form-material floating has-warning" data-plugin="formMaterial">
                <input type="text" class="form-control">
                <label class="floating-label">Input Warning</label>
              </div>
              <div class="form-group form-material floating has-danger" data-plugin="formMaterial">
                <input type="text" class="form-control">
                <label class="floating-label">Input Danger</label>
              </div>
              <div class="form-group form-material floating has-success" data-plugin="formMaterial">
                <input type="text" class="form-control">
                <label class="floating-label">Input Success</label>
              </div>
              <div class="form-group form-material floating has-info" data-plugin="formMaterial">
                <input type="text" class="form-control">
                <label class="floating-label">Input Info</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control form-control-sm" name="inputFloatingSmall" />
                <label class="floating-label">Small Input</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" name="inputFloatingSmall" />
                <label class="floating-label">Default Input</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control form-control-lg" name="inputFloatingLarge" />
                <label class="floating-label">Large Input</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" name="inputFloatingHint" data-hint="Write here something cool" />
                <label class="floating-label">Input Hint</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <div class="form-control-wrap">
                    <input type="text" class="form-control" />
                    <label class="floating-label">Input addons</label>
                  </div>
                  <span class="input-group-btn">
                    <button class="btn btn-outline btn-default" type="button">Button</button>
                  </span>
                </div>
              </div>
              <div class="form-group form-material floating row" data-plugin="formMaterial">
                <div class="col-md-6">
                  <input type="text" class="form-control" name="inputFloatingGrid1" />
                  <label class="floating-label">Input Grid</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="inputFloatingGrid2" />
                  <label class="floating-label">Input Grid</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End Panel Floating Labels -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
