<style>
  .autocomplete-suggestions {
    background-color: #fff !important;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #d6d6d6;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    color: #aab7be;
  }

  .autocomplete-suggestion {
    cursor: pointer;
  }

</style>

<div class="page-main company-main">
  <div class="page-content company-content">
    <form ng-hide="$ctrl.formHide" name="formCustomer" ng-submit="$ctrl.save()">
      <div class="row" style="width: 80%; margin: 0 auto;">
        <div class="col-sm-6 col-xs-12">
          <div class="col-sm-12 col-xs-12" style="margin-left: -30%">
            <div class="cadastrar-foto-perfil" style="margin-left: 3%">
              <style>
                #profile-upload {
                  float: left;
                  background-image: url('/login/images/user.png');
                  background-size: cover;
                  background-position: center;
                  height: 65px;
                  width: 65px;
                  border: 1px solid #bbb;
                  position: relative;
                  border-radius: 250px;
                  overflow: hidden;
                }

                #profile-upload:hover input.upload {
                  display: block;
                }

                #profile-upload:hover .hvr-profile-img {
                  display: inline-block;
                }

                #profile-upload * {
                  transition: opacity 1s linear;
                }

                #profile-upload .fa {
                  margin: auto;
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  text-align: center;
                  right: 0;
                  padding: 6px;
                  opacity: 1;
                  width: 100%;
                  -webkit-transform: scale(.75);
                }

                #profile-upload:hover .fa {
                  opacity: 1;
                  -webkit-transform: scale(1);
                }

                #profile-upload input.upload {
                  z-index: 1;
                  left: 0;
                  margin: 0;
                  bottom: 0;
                  top: 0;
                  padding: 0;
                  opacity: 0;
                  outline: none;
                  cursor: pointer;
                  position: absolute;
                  background: #ccc;
                  width: 100%;
                  display: none;
                }

                #profile-upload .hvr-profile-img {
                  width: 100%;
                  height: 100%;
                  display: none;
                  position: absolute;
                  vertical-align: middle;
                  position: relative;
                  background: transparent;
                }

                #profile-upload .fa:after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 150%;
                  height: 0px;
                  background: rgba(0, 0, 0, 0.3);
                  z-index: -1;
                  transition: height 0.3s;
                }

                #profile-upload:hover .fa:after {
                  height: 100%;
                }

                .cadastrar-foto-perfil i.fa {
                  top: unset;
                }

                #profile-upload2 {
                  float: left;
                  background-size: cover;
                  background-position: center;
                  height: 300px;
                  width: 300px;
                  margin-bottom: -200px;
                  bottom: -90px;
                  border: 1px solid #bbb;
                  z-index: 3;
                  position: relative;
                  border-radius: 20px;
                  overflow: hidden;
                }


                #profile-upload2:hover input.upload {
                  display: block;
                }

                #profile-upload2:hover .hvr-profile-img {
                  display: inline-block;
                }

                #profile-upload2 * {
                  transition: opacity 1s linear;
                }

                #profile-upload2 .fa {
                  margin: auto;
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  text-align: center;
                  right: 0;
                  padding: 20px 6px 20px 6px;
                  opacity: 1;
                  width: 100%;
                  -webkit-transform: scale(1.5);
                }

                #profile-upload2:hover .fa {
                  opacity: 1;
                  -webkit-transform: scale(1.8);
                }

                #profile-upload2 input.upload {
                  z-index: 1;
                  left: 0;
                  margin: 0;
                  bottom: 0;
                  top: 0;
                  padding: 0;
                  opacity: 0;
                  outline: none;
                  cursor: pointer;
                  position: absolute;
                  background: #ccc;
                  width: 100%;
                  display: none;
                }

                #profile-upload2 .hvr-profile-img {
                  width: 100%;
                  height: 100%;
                  display: none;
                  position: absolute;
                  vertical-align: middle;
                  position: relative;
                  background: transparent;
                }

                #profile-upload2 .fa:after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 150%;
                  height: 0px;
                  background: rgba(0, 0, 0, 0.3);
                  z-index: -1;
                  transition: height 0.3s;
                }

                #profile-upload2:hover .fa:after {
                  height: 100%;
                }

                .no-logo-subtitle {
                  bottom: -120px;
                  position: relative;
                  z-index: 1 !important;
                }

                .cadastrar-foto-perfil i.fa {
                  top: unset;
                }

              </style>

              <div ng-if="$ctrl.customer.Photo" id="profile-upload" style="background-image:url({{$ctrl.customer.Photo}}); margin-top: -3px; margin-left: 3%">

                <div class="hvr-profile-img" style="margin-left: 3%">
                  <input type="file" ng-model="$ctrl.customer.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" title="Faça upload da sua imagem" onchange="openFile1()">
                  <input type="hidden" id="imagem-perfil">
                </div>
                <i class="fa fa-camera"></i>
              </div>
              <div ng-if="!$ctrl.customer.Photo" id="profile-upload" style="margin-top: -3px; margin-left: 3%" ng-class="{error: !$ctrl.customer.Photo}">
                <div class="hvr-profile-img">
                  <input type="file" ng-model="$ctrl.customer.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" title="Faça upload da sua imagem" onchange="openFile1()" value="{{$ctrl.customer.Photo}}" title="Faça upload da sua imagem" accept='image/*' />
                  <input type="hidden" id="imagem-perfil" />
                </div>
                <i class="fa fa-camera"></i>
              </div>
              <script>
                function openFile1(event) {
                  document.getElementById('inputImage')
                    .addEventListener('change', readURL(), true);
                    // console.debug('hey');

                  function readURL() {
                    var file = document.getElementById("inputImage")
                      .files[0];
                    console.debug(file);
                    var reader = new FileReader();
                    console.debug('oi');
                    reader.onloadend = function () {
                      console.debug(reader);
                      document.getElementById('profile-upload')
                        .style.backgroundImage = "url(" + reader.result + ")";
                      document.getElementById('imagem-perfil')
                        .setAttribute("value", reader.result);
                      document.getElementById('imagem-perfil-logado')
                        .setAttribute("src", reader.result);

                    }
                    if (file) {
                      reader.readAsDataURL(file);
                    } else {}
                  }
                }

              </script>
              <label style="display:block; margin-bottom: -60px;">
                <input type="text" class="input-name-profissional form-control" name="nome" placeholder="Seu nome" ng-model="$ctrl.customer.NameResponsible" style="margin-top: 10px; cursor: pointer; color: #577fa6 !important; width: 200px !important;font-weight: 500 !important;font-size: 22px !important;  background-color: transparent !important;"/>
                <i class="fa fa-pencil"  style="margin-left: 140px;font-size: 21px;margin-top: -27px; cursor: pointer;" aria-hidden="true"></i>
                 <br>
                <input type="text" class="input-cargo-profissional form-control" style="margin-top: 10px; cursor: pointer; color: #577fa6 !important;font-weight: lighter !important;font-size: 20px !important; background-color: transparent !important;position: relative;margin-left: 80px;bottom: 40px;"  placeholder="Cargo, ex: Gerente de Projetos" ng-model="$ctrl.customer.RoleCompany" ng-class="{error: !$ctrl.customer.RoleCompany}" />
              </label>
              <label style="display:block">
                 <br>

              </div>
             </div>
            </div>
           </div>
        <div class="row" style="margin-top: 25px">
            <div class="col-sm-6 col-xs-12" style="margin-left: 2%">
             <div class="col-sm-12">
              <p class="input-group">
               <span class="input-group-addon" style="background-color: #cfcfcf">Email</span>
               <input type="email" class="form-control" placeholder="seu-email@mail.com" ng-model="$ctrl.customer.EmailResponsible">
              </p>
              <p class="input-group">
               <span class="input-group-addon" style="background-color: #cfcfcf">Nova Senha</span>
               <input type="password" class="form-control" ng-model="$ctrl.customer.Password" ng-class="{error: !$ctrl.customer.Password && $ctrl.customer.Prospect}">
              </p>
             </div>
      
            <!-- <div class="col-sm-12 col-xs-12" style="margin-top: 50px;">
               <button analytics-on="click" analytics-event="Editar_Perfil" analytics-label="Atualizou Perfil" type="submit" class="btn btn-sm btn-primary bt-add-edit-empresa"style="background-color: #83D5A3; width: 120px; border: 1px solid #83D5A3">Salvar</button>
             </div> -->
      
            </div>
            </div>
      <div class="row row-98">
        <div class="col-md-8">
          <div class="row row-98">
              <div class="container text-left">
                  <h2 style="font-size: 24px; color: #77909B">Cadastro da empresa:</h2>
                </div>
                <div class="col-sm-12 col-xs-12 form-group">
                  <label for="razao">Razão Social</label>
              <input type="text" name="razao" placeholder="Razão Social" class="form-control" ng-class="{error: $ctrl.invalidField == 'Name', error: !$ctrl.customer.Name}" ng-model="$ctrl.customer.Name" />
            </div>
            <div class="col-sm-8 col-xs-12 form-group">
              <label for="nomeEmpresa">Nome da Empresa</label>
              <input type="text" name="nomeEmpresa" placeholder="Nome Fantasia" class="form-control" ng-model="$ctrl.customer.Trade" />
            </div>

            <div class="col-sm-4 col-xs-12 form-group cnpj">
              <input type="text" name="" placeholder="CNPJ" class="form-control" ng-model="$ctrl.customer.CNPJ" ui-br-cnpj-mask ng-class="{error: $ctrl.invalidField == 'CNPJ', error: !$ctrl.customer.CNPJ}" ng-click="$ctrl.invalidField = ''" />
            </div>

            <div class="col-sm-6 col-xs-12 form-group">
              <input type="text" name="" placeholder="Rua" class="form-control" ng-model="$ctrl.customer.Address" ng-class="{error: $ctrl.invalidField == 'Address', error: !$ctrl.customer.Address}" />
            </div>

            <div class="col-sm-3 col-xs-12 form-group">
              <input type="text" name="" just-number placeholder="Nº" class="form-control" ng-model="$ctrl.customer.Number" ng-class="{error: $ctrl.invalidField == 'Number', error: !$ctrl.customer.Number}" />
            </div>

            <div class="col-sm-3 col-xs-12 form-group">
              <input type="text" name="" placeholder="CEP" just-number class="form-control" ng-model="$ctrl.customer.CEP" ng-class="{error: $ctrl.invalidField == 'CEP', error: !$ctrl.customer.CEP}" ng-click="$ctrl.invalidField = ''" />
            </div>

            <div class="col-sm-4 col-xs-12 form-group">
              <input type="text" name="" placeholder="Complemento" class="form-control" ng-model="$ctrl.customer.Complement" />
            </div>

            <div class="col-sm-4 col-xs-12 form-group">
              <input type="text" name="nomeEmpresa" placeholder="Inscrição Estadual" class="form-control" ng-model="$ctrl.customer.InscricaoEstadual" />
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
              <input type="text" name="" placeholder="Inscrição Municipal" class="form-control" ng-model="$ctrl.customer.InscricaoMunicipal" />
            </div>

            <div class="col-sm-4 col-xs-12 form-group">
              <select ng-class="{error: !$ctrl.state}" class="form-control" ng-options="state as state.Name for state in $ctrl.states track by state.Id" ng-model="$ctrl.state">
                <option value="">Estado</option>
              </select>
            </div>

            <div class="col-sm-4 col-xs-12 form-group">
              <!-- <input class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.queryCidade" ng-required="false" ng-change="$ctrl.getCities($event)"> -->
              <div ng-class="{error: !$ctrl.customer.City}" angucomplete-alt id="city-input" placeholder="Selecione sua Cidade" pause="400" text-searching="Buscando.." text-no-results="Nenhum resultado encontrado" initial-value="$ctrl.customer.City" selected-object="$ctrl.queryCidade" selected-object-data="Id" remote-url="https://api.crowd.br.com/Common/Cities?city=" title-field="Name" input-class="form-control">
              </div>
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
              <input type="text" name="" placeholder="Telefone" class="form-control" ng-model="$ctrl.customer.Phone" ui-br-phone-number ng-class="{error: !$ctrl.customer.Phone}" ng-click="$ctrl.invalidField = ''" />
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
              <input type="text" name="" just-number placeholder="Quantidade Funcionários" class="form-control" ng-model="$ctrl.customer.QtyPersons" ng-class="{error: !$ctrl.customer.QtyPersons}" />
            </div>
            <div class="col-sm-12 col-xs-12 form-group" style="margin-bottom: 4%;">
              <button class="btn btn-salvar-largue" style="width: 170px; border-radius: 10px;padding: 10px 5px;" type="submit">Salvar</button>
            </div>
            <br>
            <br>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row row-98" style="text-align: center">
            <div ng-if="$ctrl.customer.Logo" id="profile-upload2" style="background-image:url({{$ctrl.customer.Logo}}); margin-top: -3px;" ng-class="{error: $ctrl.invalidField === 'Logo', error: !$ctrl.customer.Logo}">
              <div class="hvr-profile-img">
                <input type="file" ng-model="$ctrl.customer.Logo" name="file" id="inputImage2" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" title="Clique para adicionar o logo da sua empresa" onchange="openFile()">
                <input type="hidden" id="imagem-perfil2">
              </div>
              <i class="fa fa-camera"></i>
            </div>

            <!--NOTE: IF don't have LOGO -->
            <div ng-if="!$ctrl.customer.Logo" id="profile-upload2" style="margin-top: -3px" ng-class="{ error: $ctrl.invalidField === 'Logo', error: !$ctrl.customer.Logo}">
              <span style="z-index: -1" class="no-logo-subtitle" ng-hide="$ctrl.customer.Logo"> 
                Clique para adicionar o logo da sua empresa
              </span>
              <div class="hvr-profile-img">
                <input type="file" ng-model="$ctrl.customer.Logo" name="file" id="inputImage2" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" onchange="openFile()" value="{{$ctrl.customer.Logo}}" title="Clique para adicionar o logo da sua empresa" accept='image/*'>
                <input type="hidden" id="imagem-perfil2">
              </div>
              <i class="fa fa-camera"></i>
            </div>
            <script>
              function openFile(event) {
                document.getElementById('inputImage2')
                  .addEventListener('change', readURL(), true);

                function readURL() {
                  var file = document.getElementById("inputImage2")
                    .files[0];
                  var reader = new FileReader();

                  reader.onloadend = function () {
                    document.getElementById('profile-upload2')
                      .style.backgroundImage = "url(" + reader.result + ")";
                    document.getElementById('imagem-perfil2')
                      .setAttribute("value", reader.result);
                    console.debug(document.getElementById('imagem-perfil2'));
                    window.val = document.getElementById('imagem-perfil2')
                      .value;
                    //window.getImageProfile();
                  }

                  if (file) {
                    reader.readAsDataURL(file);
                  }

                }
              }

            </script>
          </div>
        </div>

      </div>
  </div>
</div>
<style>
  * {
    outline: none;
  }

  body {
    font-family: Helvetica, 'sans-serif';
  }

  a {
    color: #4acfa4;
  }

  .tabs-planos>div {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    color: #000
  }

  .tabs-planos>div>a {
    text-transform: uppercase;
    font-weight: 800;
    color: #000
  }

  .greenBg {
    background-color: #4acfa4 !important;
    border: 1px solid #fff !important;
  }

  .greenBg>span {
    color: #fff !important;
  }

  .after-caret::after {
    position: relative;
    display: inline-block;
    content: '>';
    font-size: 18px;
    font-weight: 300;
    color: #b7b7b7;
    padding: 0 5px 0 50px;
  }

  .payment-method-info {
    line-height: 2.3;
  }

  .cc-row>i {
    color: #7D909E;
    font-size: 30px;
    letter-spacing: 5px;
    color: #000;
  }

  .order-field {
    background-color: #f1f4f5;
    padding: 2% 2%;
  }

  .plan-terms {
    font-size: 18px;
  }

  .order-heading {
    padding: 3%;
  }

  .order-message {
    padding: 2% 12% 0% 12%;
  }

  .terms-is-accept {
    margin-top: 20px;
    font-size: 18px;
  }

  .pick-order {
    padding: 2% 12% 0% 3%;
  }

  .terms>span {
    font-size: 15px;
  }

  .order-details {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .terms-text {
    padding-left: 0%;
  }

  .payment-info {
    background-color: #fff;
    padding: 2%;
  }

  .payment-input {
    width: 70%;
    height: 40px;
    margin: 7px 0;
    padding: 5px 5px 5px 5px;
    border: 1px solid #7D909E;
    border-radius: 5px;
  }

  .cc-form-input {
    color: #fff
  }

  .cc-form>div>label {
    color: #7D909E;
  }

  .left {
    font-weight: 300;
    display: inline-block;
    font-size: 18px;
  }

  .right {
    text-align: right;
  }

  .payment-info>.right {
    text-align: right;
  }

  .no-gutter {
    margin: 0;
    padding: 0;
  }

  .strong {
    font-weight: 500;
  }

  .feature-list>ul>li {
    margin: 10px 0;
    list-style-type: none;
  }

  .feature-list>ul {
    padding-left: 15px;
  }

  .feature-list>ul>li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #4acfa4;
    display: inline-block;
    position: relative;
    width: 20px;
  }

  .order-finished-bt {
    margin: 10px 0;
    width: 350px;
    height: 50px;
    border-radius: 40px;
    background-color: transparent;
    color: #7D909E;
    border: 2px solid #7D909E;
  }

  .pick-plan-bt {
    margin: 1% 0 1% 3%;
    width: 350px;
    height: 60px;
    background-color: transparent;
    color: #7D909E;
    border: 1px solid #7D909E;
  }

  .order-finished-bt[disabled] {
    display: none;
  }

  .order-finished-bt[disabled]:hover {
    cursor: not-allowed;
    background-color: #b7b7b7;
    color: #7D909E;
    border: 2px solid #7D909E;
  }

  .pick-plan-bt:focus {
    outline-color: #4acfa4;
  }

  .payment-input:focus {
    outline-color: #4acfa4;
  }

  .pick-plan-bt:hover {
    background-color: #4acfa4;
    border: 1px solid #fff;
  }

  .pick-plan-bt:hover>span,
  .pick-plan-bt:hover>i.fa-angle-right {
    color: #fff;
  }

  .pick-plan-bt>i {
    color: black;
    font-size: 30px;
    margin-right: 20px;
  }

  .pick-plan-bt>span {
    color: black;
    position: relative;
    display: inline-block;
    bottom: 5px;
    font-weight: 400;
    font-size: 16px;
  }

  .pick-plan-bt>i.fa-angle-right {
    font-weight: 400;
    margin-left: 90px;
  }

  .payment-pick {
    padding-left: 3%;
    font-size: 18px;
  }

  .order-finished-bt:hover {
    background-color: #4acfa4;
    color: #fff;
    border: 2px solid #fff;
  }

</style>
<span ng-show="$ctrl.iuguActive">
       <div class="container text-center">
          <h2>Faça upgrade do seu plano</h2>
        </div>
        <div>
          <!-- Nav tabs -->
        <div class="tabs-planos">
            <div role="presentation" ng-class="{ active: $ctrl.phase == 1 }">
              <a href="javascript:void(0)" data-target="#planos" aria-controls="planos" ng-click="$ctrl.phase = 1; $ctrl.isOrder = false;" role="tab" data-toggle="tab" >Escolha um Plano</a>
            </div>
            &gt;
            <div role="presentation" id="payDo" ng-class="{ active: $ctrl.phase == 2 }">
              <a href="javascript:void(0)">Pagamento</a>
            </div>
            &gt;
            <div role="presentation" ng-class="{ active: $ctrl.phase == 3 }">
              <a href="javascript:void(0)">Pagamento Aprovado</a>
            </div>
          </div>
    <div class="row" style="width: 80%; margin: 0 auto" ng-hide="$ctrl.isOrder">

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="planos">
            <div class="boxs-planos boxs-colunas-4">
              <div ng-class="{plano_desabilitado: $ctrl.customerPlan == 'FREE'}">
                <h3>
                  <strong>FREE</strong>
                </h3>
                <div class="valor-plano">
                  <span>GRATUITO</span>
</div>
<div class="linha-plano">
  <span>				    					
                    Acesso a Plataforma
									</span>
</div>
<div class="linha-plano">
  <span>				    					
										Múltiplos usuários
				    				</span>
</div>
<div class="linha-plano">
  <span>				    					
<strong>Recebe orçamentos em - 24hrs</strong>

									</span>
</div>
<div class="linha-plano">
  <span>				    					
                    Suporte
									</span>
</div>
<div class="linha-plano">
  <span>				    					
										<button ng-if="$ctrl.customerPlan == 'FREE'" class="btn active-plan-company">Meu Plano</button>
										<button 
										ng-if="$ctrl.customerPlan != 'FREE'"
										ng-click="$ctrl.setPlan(1)" 
										data-target="#pagamento" 
										aria-controls="pagamento" 
										role="tab" 
										data-toggle="tab" 
										class="btn">
											Contratar
										</button>
				    				</span>
</div>
</div>
<div ng-class="{plano_desabilitado: $ctrl.customerPlan == 'PRO' && $ctrl.user.Paid == 'True'}">
  <h3>
    <strong>PRO</strong>
  </h3>
  <div class="valor-plano">
    R$ <span>499</span> /ANO
  </div>
  <div class="linha-plano">
    <span>				    					
                    Tudo do plano FREE +
				    				</span>
  </div>
  <div class="linha-plano">
    <span>				    					
                    <strong>Profissionais 5 estrelas</strong>
				    				</span>
  </div>
  <div class="linha-plano">
    <span>				    					
                    Acesso a telefone, email, skype...
				    				</span>
  </div>
  <div class="linha-plano">
    <span>				    					
                    Serviço de Hunting
									</span>
  </div>
  <div class="linha-plano">
    <span>				    					
										<button ng-if="$ctrl.user.CustomerPlan == 'PRO' && $ctrl.user.Paid == true" class="btn active-plan-company">Meu Plano</button>
										<button ng-if="$ctrl.user.CustomerPlan == 'PRO' && $ctrl.user.Paid != true" ng-click="$ctrl.setPlan(3)" data-target="#pagamento" aria-controls="pagamento" role="tab" data-toggle="tab" class="btn">Contratar</button>
										<button ng-if="$ctrl.user.CustomerPlan != 'PRO' && $ctrl.user.Paid != true" ng-click="$ctrl.setPlan(3)" data-target="#pagamento" aria-controls="pagamento" role="tab" data-toggle="tab" class="btn">Contratar</button>
                  </span>
  </div>
</div>
</div>


</div>

<div role="tabpanel" class="tab-pane" id="pagamento">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="col-sm-12 col-xs-12">
        <h3>Resumo de pedido</h3>
      </div>
      <div class="col-sm-6 col-xs-6">
        Plano <br> Adesão
        <br>
        <strong>Valor Total</strong>
      </div>
      <div class="col-sm-6 col-xs-6">
        {{ $ctrl.selectedPlan }}<br> Mensal
        <br>
        <strong>{{ $ctrl.planValue | currency : "R$ " }} / mês</strong>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 pull-right">

      <div ng-if="$ctrl.selectedPlan == 'FREE'" class="box-txt-termo">

        <h4>No Plano {{ $ctrl.selectedPlan }} o seu acesso será reduzido</h4>

        <p>
          • Apenas 1 usuário
        </p>

        <p>
          • Bloqueio das informações de contato dos freelancers
        </p>

        <p>
          • À partir do momento de contratação do plano
        </p>

        <p>
          • Apenas profissionais não avaliados
        </p>

        <p>
          • Suporte somente por e-mail e chat.
        </p>

        <button class="btn btn-salvar-largue" id="btnAgree" ng-click="$ctrl.changePlan()">{{ $ctrl.buttonText }}</button>
      </div>

      <div ng-if="$ctrl.selectedPlan != 'FREE'" class="box-txt-termo">

        <h3> Termos de Adesão do Plano {{ $ctrl.selectedPlan }}</h3>

        <strong>Sobre o boleto</strong>

        <p>
          Os seus créditos remanescentes do mês atual serão descontados do valor do novo plano. O boleto será enviado em até dois dias úteis.
        </p>

        <strong>
						Quando poderei utilizar?
					</strong>
        <p>
          À partir do momento de contratação do plano.
        </p>
        <strong>Cancelamento </strong>
        <p>Para cancelar o seu plano, <a href="mailto:contato@crowd.br.com">entre em contato conosco.</a></p>
        <button class="btn btn-salvar-largue" id="btnAgree" ng-click="$ctrl.changePlan()">{{ $ctrl.buttonText }}</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="row" ng-show="$ctrl.isOrder" style="width: 65%; margin: 0 auto">
  <div class="col-md-6 payment-info">
    <h5 class="order-details">Resumo do pedido:</h5>
    <div class="row no-gutter">
      <div class="col-md-6 no-gutter">
        <h5 class="left">Nome do plano:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">{{ $ctrl.plan.name }}</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left">Periodo:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">{{$ctrl.plan.period}}</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left strong">Total a pagar:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left strong">{{ $ctrl.plan.price.ui }}</h5>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Sobre o plano {{ $ctrl.plan.name }}</h3>
      </div>
      <div class="col-md-12 no-gutter feature-list">
        <ul>
          <li>
            {{ $ctrl.plan.details.first }}
          </li>
          <li>
            {{ $ctrl.plan.details.second }}
          </li>
          <li>
            {{ $ctrl.plan.details.third }}
          </li>
          <li>
            {{ $ctrl.plan.details.fourth }}
          </li>
          <li ng-if="Public.plan.details.fifth">
            {{ $ctrl.plan.details.fifth }}
          </li>
          <li>
            Sem carência de cancelamento
          </li>
        </ul>
      </div>
    </div>

    <br>
    <hr>
    <br>
  </div>
  <div class="col-md-6 text-left" ng-hide="$ctrl.isEnterprise == true || $ctrl.isFree == true || $ctrl.isBoleto === true" style="margin-top: -5px">
    <h3 class="order-heading">Informações:</h3>
    <p class="order-message pick-order">
      <strong>Troca de plano</strong><br> Os seus créditos remanescentes do mês atual serão descontados do valor do novo plano.
      <br>
      <br>
      <strong>Quando poderei utilizar?</strong> <br> À partir do momento de contratação do plano.
      <br>
      <br>
      <strong>Cancelamento</strong> <br> Para cancelar o seu plano, entre em contato conosco.
      <br>
      <br>
      <br>
    </p>
    <h3 ng-hide="$ctrl.isConfirmed" class="payment-pick">Escolha uma forma de pagamento:</h3>
    <button class="pick-plan-bt" ng-click="$ctrl.setPaymentMethod('Boleto')" ng-class="{greenBg: $ctrl.isBoleto === true, disabled: $ctrl.isConfirmed }">
                   <i class="fa fa-barcode" aria-hidden="true"></i>  <span>Imprimir Boleto</span> <i class="fa fa-angle-right" aria-hidden="true"></i>
               </button>
    <button class="pick-plan-bt" ng-click="$ctrl.setPaymentMethod('CC')" ng-class="{greenBg: $ctrl.isCC === true, disabled: $ctrl.isConfirmed }">
                   <i class="fa fa-credit-card" aria-hidden="true"></i>  <span>Cartão de Crédito</span> <i class="fa fa-angle-right"  style="margin-left: 65px;" aria-hidden="true"></i>
               </button>

  </div>

  <div class="col-md-6" ng-show="$ctrl.isBoleto" ng-hide="$ctrl.isCC || $ctrl.boletoSent || !$ctrl.isBoleto">
    <h3 class="order-heading" style="font-size: 19px">Fique atento aos detalhes:</h3>
    <p class="order-message pick-order payment-method-info">
      - Boleto: somente à vista <br> - Pagamentos com boleto bancário levam até <strong>3 dias úteis para compensação</strong><br> - Fique atento para o vencimento do boleto. Você pode pagá-lo em qualquer banco ou casa lotérica até a data de vencimento.<br> - Depois do pagamento, fique atento ao seu email para receber os dados de acesso (Fique atento também a sua caixa de SPAM)<br>
    </p>
    <button class="order-finished-bt" ng-click="$ctrl.payWithBoleto()">
    GERAR BOLETO
    </button>
  </div>

  <div class="col-md-6" ng-show="$ctrl.boletoSent">
    <h3 class="order-heading" style="font-size: 19px">Pedido realizado com sucesso!</h3>
    <p class="order-message pick-order payment-method-info">
      Falta apenas 1 etapa para que o seu plano seja liberado. <br> Um email com o boleto foi enviado para o responsável desta conta CROWD, realize o pagamento do boleto e assim o seu plano será automaticamente efetivado (é preciso relogar).<br>
    </p>
  </div>


  <div class="col-md-12" ng-if="$ctrl.isCC" ng-hide="$ctrl.isCC && $ctrl.isConfirmed">
    <h3 style="font-size: 19px">Insira os dados de seu cartão de crédito:</h3>
    <div class="row">
      <div class="col-xs-12 cc-row">
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-amex"></i>
        <i class="fa fa-cc-diners-club" aria-hidden="true"></i>
        <i class="fa fa-cc-discover"></i>
      </div>
    </div>
    <br>
    <div class="row">
      <form class="form-responsive cc-form" ng-hide="$ctrl.isCC && $ctrl.isConfirmed">
        <div class="col-xs-12">
          <label for="name" style="display: block; margin: 10px 0 0 0">Nome no cartão</label>
          <input type="text" ng-model="$ctrl.ccForm.name" ng-change="transactionData.name=transactionData.name.toUpperCase()" data-iugu="full_name" class="payment-input" name="name">
        </div>
        <div class="col-xs-12">
          <label for="number" style="display: block; margin: 10px 0 0 0">Número no cartão</label>
          <input type="text" class="payment-input" ng-model="$ctrl.ccForm.number" data-iugu="number" ui-mask="9999 9999 9999 9999" ui-options="{clearOnBlur: false, addDefaultPlaceholder: false }" name="number">
        </div>
        <div class="col-xs-4">
          <label for="deadline" style="display: block; margin: 10px 0 0 0">Validade</label>
          <input class="payment-input" ng-model="$ctrl.ccForm.expirationDate" data-iugu="expiration" ui-mask="99/99" placeholder="xx/xx" type="text" name="deadline">
        </div>
        <div class="col-xs-6 no-gutter">
          <label for="cvv" style="display: block; margin: 10px 0 0 0">Código de segurança</label>
          <input class="payment-input" ng-model="$ctrl.ccForm.cvv" data-iugu="verification_value" ui-options="{ addDefaultPlaceholder: false }" placeholder="____" type="text" ng-maxlength="3" name="cvv">
        </div>
      </form>
    </div>
    <button style="margin-top: 20px" ng-click="$ctrl.payWithCC(transactionData)" ng-class="{ disabled: $ctrl.sending }" class="order-finished-bt cc-bt" ng-hide="$ctrl.isCC && $ctrl.isConfirmed">
      <span ng-hide="$ctrl.sending">SALVAR E FINALIZAR COMPRA</span>
      <span ng-if="$ctrl.sending">ENVIANDO...</span>
    </button>

        <div class="col-md-6" ng-show="$ctrl.boletoSent">
          <h3 class="order-heading" style="font-size: 19px">Pedido realizado com sucesso!</h3>
          <p class="order-message pick-order payment-method-info">
            Falta apenas 1 etapa para que o seu plano seja liberado. <br> Realize o pagamento do boleto e assim o seu plano seja automaticamente efetivado.<br>
          </p>
        </div>        

<br>

<br>

<div class="row order-field" ng-show="Public.isBoleto && Public.isConfirmed">
  <div class="col-md-6 text-center">
    <h3 class="order-heading">Pedido realizado com sucesso!</h3>
    <p class="order-message">
      Se o pagamento do boleto não for efetuado neste período, o seu plano será automaticamente alterado para o FREE e o seu acesso será reduzido.
    </p>
  </div>
  <div class="col-md-6 payment-info">
    <h5 class="order-details">Resumo do pedido:</h5>
    <div class="row no-gutter">
      <div class="col-md-6 no-gutter">
        <h5 class="left">Nome do plano:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">{{Public.plan.name}}</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left">Periodo:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">Anual</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left strong">Total a pagar:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left strong">{{Public.plan.price.ui}}</h5>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Sobre o plano {{::Public.plan.name}}</h3>
      </div>
      <div class="col-md-12 no-gutter feature-list">
        <ul>
          <li>
            {{::Public.plan.details.first}}
          </li>
          <li>
            {{::Public.plan.details.second}}
          </li>
          <li>
            {{::Public.plan.details.third}}
          </li>
          <li>
            {{::Public.plan.details.fourth}}
          </li>
          <li ng-if="Public.plan.details.fifth">
            {{::Public.plan.details.fifth}}
          </li>
          <li>
            Sem carência de cancelamento
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row order-field" ng-show="Public.isCC && Public.isConfirmed">
  <div class="col-md-6 text-center">
    <h3 class="order-heading">Pedido realizado com sucesso!</h3>
    <p class="order-message">
      Se o pagamento do boleto não for efetuado neste período, o seu plano será automaticamente alterado para o FREE e o seu acesso será reduzido.
    </p>
  </div>
  <div class="col-md-6 payment-info">
    <h5 class="order-details">Resumo do pedido:</h5>
    <div class="row no-gutter">
      <div class="col-md-6 no-gutter">
        <h5 class="left">Nome do plano:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">{{Public.plan.name}}</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left">Periodo:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left">Anual</h5>
      </div>
      <div class="col-md-6 no-gutter">
        <h5 class="left strong">Total a pagar:</h5>
      </div>
      <div class="col-md-6 no-gutter right">
        <h5 class="left strong">{{::Public.plan.price.ui}}</h5>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Sobre o plano {{Public.plan.name}}</h3>
      </div>
      <div class="col-md-12 no-gutter feature-list">
        <ul>
          <li>
            {{::Public.plan.details.first}}
          </li>
          <li>
            {{::Public.plan.details.second}}
          </li>
          <li>
            {{::Public.plan.details.third}}
          </li>
          <li>
            {{::Public.plan.details.fourth}}
          </li>
          <li ng-if="Public.plan.details.fifth">
            {{::Public.plan.details.fifth}}
          </li>
          <li>
            Sem carência de cancelamento
          </li>
        </ul>
      </div>
    </div>
  </div>
  </span>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/bendrucker/angular-credit-cards/v2.3.5/release/angular-credit-cards.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.8.7/mask.min.js"></script>
<script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
<script type="text/javascript" src="https://js.iugu.com/v2"></script>

</div>
</span>

</div>
</div>
</div>
<div id="preview-template2" class="none">
  <div class="dz-preview dz-file-preview">
    <div class="dz-details">
      <!--<div class="dz-filename"><span data-dz-name></span><i class="icon fa-remove remover-anexo" aria-hidden="true"></i></div>-->
      <div class="dz-size" data-dz-size></div>
      <span class="remo__ver-anexo"></span>
      <img data-dz-thumbnail />
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-success-mark"><span>✔</span></div>
    <div class="dz-error-mark"><span>✘</span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </div>
</div>
<toaster-container toaster-options="{'limit':5, 'timeout':60000, 'close-button': true, 'tap-to-dismiss':true}"></toaster-container>
