<div class="modal-text-center">
	<img src="../images/icon-pagamento.png" /><br><br>
	<h3>Parabéns, seu primeiro projeto foi finalizado!</h3>
	<p>A política de pagamento dos trabalhadores entregues e aprovados<br>
	 na plataforma é a mesma para todas as empresas e agências.<br>
	Entenda quando você receberá a cobrança dos jobs:</p>
	<div class="table-pop-pagamento">
		<div class="linha-table-header">
			<span>Jobs finalizados entre:</span>
			<span>Pagamento</span>
		</div>
		<div class="linha-table">
			<span>16 e 31 do mês</span>
			<span>Dia 10</span>
		</div>
		<div class="linha-table">
			<span>16 e 31 do mês</span>
			<span>Dia 10</span>
		</div>	
		<strong class="obs-table-popup">Fique tranquilo que mandaremos a cobrança por email.</strong>
		
	</div>
</div>
