<div id="gestao-briefing"><div class="page-main"><div class="page-content"><div class="panel"><div class="panel-body"><div class="row header-projetos"><div class="col-sm-9 col-xs-12"><!-- TODO: RECEBER O NOME DO PROJETO --><h1 ng-if="!$ctrl.isProfessional">{{$ctrl.Project.Name}}</h1><h1 ng-if="$ctrl.isProfessional">Minhas Tarefas</h1></div><div class="col-sm-3 col-xs-12 acoes-header-projetos"><a href="#" class="btn-ver-relatorio"><i class="icon fa-bar-chart" aria-hidden="true"></i> Ver Relatório</a> <button ng-if="$ctrl.isProfessional" type="button" class="btn btn-sm btn-outline btn-primary">Arquivar Projeto</button></div><hr></div><div class="row"><!-- TODO: VERIFICAR O TIPO DO PROFISSIONAL --><div ng-if="!$ctrl.isProfessional" class="col-sm-8 col-xs-12">Nova Tarefa <input type="text" class="form-control nova-tarefa"><div class="btn-group selecionar-projetos"><button class="form-control select-projeto" data-toggle="dropdown" data-bind="label">Projeto<i class="icon fa-unsorted pull-right" aria-hidden="true"></i></button><ul class="selecionar-projeto-tarefa dropdown-menu"><li ng-repeat="projeto in $ctrl.getProjetos"><div class="nome-do-projeto color-project-{{projeto.Color}}">{{projeto.Name}}</div></li></ul></div></div><!-- TODO: CONCLUIR DROPDOWN DE CLIENTES --><div ng-if="!$ctrl.isProfessional" class="col-sm-4 col-xs-12 text-align-right"><div class="btn-group responsavel-projeto">Responsável: <a href="#" class="add-responsavel" data-toggle="collapse" data-target="selecionar-profissional-tarefa"><i class="icon wb-plus" aria-hidden="true"></i></a></div><!-- TESTE --><ul id="selecionar-profissional-tarefa"><input class="collapse typeahead" type="text" sf-typeahead options="$ctrl.exampleOptions" allow-custom="false" datasets="$ctrl.numbersDataset" ng-model="selectedNumberNonEditable"><li></li></ul><style>/* scaffolding */
                                /* ----------- */
                                
                                .tt-dropdown-menu,
                                .gist {
                                    text-align: left;
                                }
                                
                                .ng-invalid {
                                    border-color: red !important;
                                    /* just for visual */
                                }
                                /* site theme */
                                /* ---------- */
                                
                                .typeahead,
                                .tt-query,
                                .tt-hint {
                                    width: 396px;
                                    height: 30px;
                                    padding: 8px 12px;
                                    font-size: 24px;
                                    line-height: 30px;
                                    border: 2px solid #ccc;
                                    -webkit-border-radius: 8px;
                                    -moz-border-radius: 8px;
                                    border-radius: 8px;
                                    outline: none;
                                }
                                
                                .typeahead {
                                    background-color: #fff;
                                }
                                
                                .typeahead:focus {
                                    border: 2px solid #0097cf;
                                }
                                
                                .tt-query {
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                                    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                                }
                                
                                .tt-hint {
                                    color: #999
                                }
                                
                                .tt-menu {
                                    width: 422px;
                                    margin: 12px 0;
                                    padding: 8px 0;
                                    background-color: #fff;
                                    border: 1px solid #ccc;
                                    border: 1px solid rgba(0, 0, 0, 0.2);
                                    -webkit-border-radius: 8px;
                                    -moz-border-radius: 8px;
                                    border-radius: 8px;
                                    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
                                    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
                                    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
                                }
                                
                                .tt-suggestion {
                                    padding: 3px 20px;
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                
                                .tt-suggestion:hover {
                                    cursor: pointer;
                                    color: #fff;
                                    background-color: #0097cf;
                                }
                                
                                .tt-suggestion.tt-cursor {
                                    color: #fff;
                                    background-color: #0097cf;
                                }
                                
                                .tt-suggestion p {
                                    margin: 0;
                                }</style><button type="button" ng-click="" class="btn btn-sm btn-outline btn-primary">Criar Tarefa</button></div><div class="col-sm-12 col-xs-12 ordernar-tarefa">Ordenar por: <a href="#">Prazo</a> <a href="#">Valor</a> <a href="#">Profissionais</a> <a href="#">Data</a></div></div><div class="row"><div class="col-sm-12 col-xs-12"><!-- INICIO HTML TAREFAS --><!-- TODO: JSON DE TAREFAS SEPARADAS? --><div class="content-colunas-tarefas"><div class="content-colunas"><div class="header-coluna-tarefa"><div><span class="header-col-name hcn-color1">em orçamento</span></div><div><span class="header-col-name hcn-color2">tarefas em execução</span></div><div><span class="header-col-name hcn-color3">em aprovação</span></div><div><span class="header-col-name hcn-color4">tarefas entregues</span></div></div><div class="coluna-tarefa"><!-- TODO: CARD DE TAREFAS CLIENTE --><div ng-if="!$ctrl.isProfessional" ng-repeat="orcamento in $ctrl.getOrcamentos" ng-click="$ctrl.slideOpen($ctrl.selectedBriefing.id, offer.Freelancer.Id)" class="tarefa-item"><div ng-if="orcamento.Notification" class="notificacao-tarefa">{{orcamento.Notification}}</div><div class="foto-responsavel"><figure><div class="img-profile-default"><div id="" style="background:url(http://api.comunidadecrowd.com.br{{orcamento.User.Photo}});background-size: 100% 100%"></div></div></figure></div><div class="nome-tarefa">{{orcamento.Description}}</div><div class="nome-projeto-cronograma"><div ng-if="orcamento.deliveryAt" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{orcamento.deliveryAt | amDateFormat:'DD/MM'}}</div></div></div><!-- FIM CARD DE TAREFAS CLIENTE --><!-- TODO: CARD DE TAREFAS PROFISSIONAL --><div ng-if="$ctrl.isProfessional" ng-repeat="orcamento in $ctrl.getOrcamentos" ng-click="pageslide()" class="tarefa-item"><div ng-if="orcamento.Project.Notification" class="notificacao-tarefa">{{orcamento.Project.Notification}}</div><div class="foto-responsavel"><figure><div class="img-profile-default"><div id="" style="background:url(http://api.comunidadecrowd.com.br{{orcamento.User.Photo}});background-size: 100% 100%"></div></div></figure></div><div class="nome-tarefa">{{orcamento.Description}}</div><div class="nome-projeto-cronograma"><div ng-if="orcamento.DeliveryAt" class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>{{orcamento.DeliveryAt | amDateFormat:'DD/MM'}}</div><div class="nome-do-projeto color-project-{{orcamento.Project.Color}}">{{orcamento.Project.Name}}</div></div></div><!-- FIM CARD DE TAREFAS PROFISSIONAL --></div><div class="coluna-tarefa"><!-- CARD DE TAREFAS --><div ng-repeat="execucao in execucoes" ng-click="alert('PageSlide Execução')" class="tarefa-item"><div class="foto-responsavel"><figure><div class="img-profile-default"><div id="" style="background:url(http://api.comunidadecrowd.com.br/Content/images/user/FabioBucciarelli_9.jpg);background-size: 100% 100%"></div></div></figure></div><div class="nome-tarefa">Nome da tarefa</div><div class="nome-projeto-cronograma"><div class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>12/12</div><div class="nome-do-projeto color-projeto-6">Nome do projeto</div></div></div><!-- FIM CARD DE TAREFAS --></div><div class="coluna-tarefa"><!-- CARD DE TAREFAS --><div ng-repeat="aprovacao in aprovacoes" ng-click="alert('PageSlide Aprovação')" class="tarefa-item"><div class="foto-responsavel"><figure><div class="img-profile-default"><div id="" style="background:url(http://api.comunidadecrowd.com.br/Content/images/user/FabioBucciarelli_9.jpg);background-size: 100% 100%"></div></div></figure></div><div class="nome-tarefa">Nome da tarefa</div><div class="nome-projeto-cronograma"><div class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>12/12</div><div class="nome-do-projeto color-projeto-10">Nome do projeto</div></div></div><!-- FIM CARD DE TAREFAS --></div><div class="coluna-tarefa"><!-- CARD DE TAREFAS --><div ng-repeat="entregue in entregues" ng-click="" class="tarefa-item"><div class="notificacao-tarefa">2</div><div class="foto-responsavel"><figure><div class="img-profile-default"><div id="" style="background:url(http://api.comunidadecrowd.com.br/Content/images/user/FabioBucciarelli_9.jpg);background-size: 100% 100%"></div></div></figure></div><div class="nome-tarefa">Nome da tarefa</div><div class="nome-projeto-cronograma"><div class="cronograma-do-projeto"><i class="fa fa-clock-o" aria-hidden="true"></i>12/12</div><div class="nome-do-projeto color-projeto-1">Nome do projeto</div></div></div><!-- FIM CARD DE TAREFAS --></div></div></div><!-- FIM HTML TAREFAS --></div></div></div></div></div></div></div><script>jQuery(document.body).on('click', '.dropdown-menu li', function (event) {
        var $target = jQuery(event.currentTarget);
        $target.closest('.btn-group').find('[data-bind="label"]').text($target.text()).end().children('.dropdown-toggle').dropdown('toggle');
        return true;
    });</script><div class="mask-content-pageslide"></div><pageslide ps-open="$ctrl.isOpen" ps-click-outside="false" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>