﻿<!DOCTYPE html>
<html class="no-js css-menubar" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Dashboard | Crowd Admin</title>
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.structure.css">
    <link rel="stylesheet" href="~/Content/vendor/jquery-ui/jquery-ui.theme.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/Content/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/vendor/asscrollable/asScrollable.css">

    <link rel="stylesheet" href="~/Content/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/vendor/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/Content/examples/css/uikit/modals.css">
    <link rel="stylesheet" href="~/Content/examples/css/dashboard/v1.css">
    
    <link rel="stylesheet" href="~/Content/vendor/alertify-js/alertify.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/select2/select2.min.css" />

    <link rel="stylesheet" href="~/Content/css/validation/validationEngine.jquery.css" type="text/css" />
    <style>
        .slidePanel-right, .slidePanel-left {
            width: 500px;
        }

        .slidePanel-actions {
            float: none;
            position: absolute;
            right: 10px;
            top: 0;
        }

        .open-slide {
            cursor: pointer;
        }

        @@media only screen and (max-width: 1190px) {
            .hideInMobile {
                display: none !important;
            }

            .site-menubar-body {
                text-align: center;
            }
        }

        @@media only screen and (max-device-width: 1190px) {
            .hideInMobile {
                display: none !important;
            }

            .site-menu-category ul {
                text-align: center;
            }
        }

        @@media only screen and (max-width: 480px) {
            .hideInMobile {
                display: none !important;
            }

                .hideInMobile.not {
                    display: inline-block !important;
                }
        }

        @@media only screen and (max-device-width: 480px) {
            .hideInMobile {
                display: none !important;
            }

                .hideInMobile.not {
                    display: inline-block !important;
                }
        }

        .select2-close-mask {
            z-index: 2099;
        }

        .select2-dropdown {
            z-index: 3051;
        }
    </style>
	
	
    @RenderSection("Css", false)
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/fonts/weather-icons/weather-icons.css">
    <link rel="stylesheet" href="~/Content/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/brand-icons/brand-icons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendor/dropify/dropify.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    

    <!--[if lt IE 9]>
      <script src="../assets/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="~/Content/media-match/media.match.min.js"></script>
      <script src="~/Content/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-51170795-3', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body class="site-menubar-unfold">
    @RenderPage("~/Views/Shared/Header/_NavBar.cshtml")
    @Html.Action("Menu", "Base")

    <div class="page bg-white">
        @RenderBody()
    </div>



    <!-- Footer -->
    <footer class="site-footer">
        <div class="site-footer-legal">© @DateTime.Now.Year <a href="http://www.agenciacrowd.com.br" title="Site Agência Crowd" target="_blank">Agência Crowd</a></div>
        <div class="site-footer-right">
            <a target="_blank" href="https://www.facebook.com/agenciacrowd/?fref=ts"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/company/ag%C3%AAncia-crowd?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9194576%2Cidx%3A2-1-2%2CtarId%3A1455301186229%2Ctas%3Aagencia+crowd"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://plus.google.com/109322428270639576204"><i class="fa fa-google-plus"></i></a>
        </div>
    </footer>


    <!-- Modal -->
    <div class="modal fade modal-fade-in-scale-up" id="modal-delete" aria-hidden="true"
         aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Excluir</h4>
                </div>
                <form id="formDelete" method="post">
                    <div class="modal-body">
                        <p>Deseja realmente excluir?</p>

                        <div id="deleteForm">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Fechar</button>
                        <input type="submit" value="Excluir" class="btn btn-danger" id="btn-delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade modal-fade-in-scale-up" id="modal-default" aria-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                
                <div class="modal-body">     
                    <i class="fa"></i>
                    <p></p>                    
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- Core  -->
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    
    <script src="~/Content/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/vendor/animsition/jquery.animsition.js"></script>
    <script src="~/Content/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="~/Content/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="~/Content/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <!-- Plugins -->

    <script src="~/Content/vendor/switchery/switchery.min.js"></script>
    <script src="~/Content/vendor/intro-js/intro.js"></script>
    <script src="~/Content/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Content/vendor/skycons/skycons.js"></script>
    <script src="~/Content/vendor/aspieprogress/jquery-asPieProgress.min.js"></script>
    <script src="~/Content/vendor/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/Content/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script>
    <script src="~/Content/vendor/matchheight/jquery.matchHeight-min.js"></script>
    

    <!-- Scripts -->
    <script src="~/Content/js/core.js"></script>
    <script src="~/Content/js/site.js"></script>
    <script src="~/Content/js/sections/menu.js"></script>
    <script src="~/Content/js/sections/menubar.js"></script>
    <script src="~/Content/js/sections/gridmenu.js"></script>
    <script src="~/Content/js/sections/sidebar.js"></script>
    <script src="~/Content/js/configs/config-colors.js"></script>
    <script src="~/Content/js/configs/config-tour.js"></script>
    <script src="~/Content/js/components/slidepanel.js"></script>

    <script src="~/Content/examples/js/dashboard/v1.js"></script>
    <script src="~/Content/js/cidades-estados-1.4-utf8.js"></script>
    <script src="~/Content/vendor/alertify-js/alertify.js" type="text/javascript"></script>
    <script src="~/Content/js/plupload-2.1.9/js/plupload.full.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Content/vendor/tinymce/plugins/placeholder/plugin.min.js"></script>

    <script src="~/Content/vendor/dropify/dropify.min.js"></script>

    <script src="~/Content/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/js/sortable.min.js"></script>
    <script src="~/Content/js/jquery.maskMoney.min.js"></script>
    
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/select2/i18n/pt-BR.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/validation/jquery.validationEngine-pt_BR.js"></script>
    <script src="~/Content/js/validation/jquery.validationEngine.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



    <script src="~/Content/js/plugins/jquery.inputmask.min.js"></script>
    <script src="~/Content/js/functions.js"></script>


    <script src="~/Content/js/domready.js"></script>

    <script type="text/javascript">
        var disabled = true;
        $(document).ready(function () {
            alertify.theme("bootstrap");
            Sortable.init();
            jQuery.validator.setDefaults({
                errorPlacement: function (error, element) {
                    if ($(element).is(":checkbox")) {
                        //$(element).parent('div').parent('div').addClass('has-error');
                        $(element).parent('div').parent('div').css('border', '1px solid red');
                        $(element).parent('div').parent('div').css('border-radius', '3px');
                    } else {
                        $(element).parent('div').addClass('has-error');
                    }
                },
                errorClass: "has-error"
            });

            $('body').delegate('.open-slide', 'click', function (e) {

                
                e.preventDefault();
                $.slidePanel.show({
                    url: $(this).parent().data('url'),
                    settings: {
                        method: 'GET'
                    }
                }, {
                    loading: {
                        template: function (options) {
                            return '<div class="slidePanel-loading slidePanel-loading-show"><div class="loader loader-default"></div></div>';//'<div class="' + options.classes.loading + '"><div class="spinner"></div></div>';
                        }
                    },
                    mouseDragHandler: '.handler',
                    closeSelector: '.slidePanel-close',
                    width: 500,
                    afterLoad: function (i, e) {

                        $('body').css('overflow', 'hidden');

                        $(".phone-mask").inputmask('(99) 9999[9]-9999');

                        $(".btn-remove-rating").on("click", function (e) {
                            e.preventDefault();

                            var el = $(this).parents(".row");

                            $.post("/Profissional/InactiveRating/", { ratingId: $(this).attr("data-id") }, function (ret) {
                                if (ret.StatusCode == 200) {
                                    el.fadeOut("slow", function () {
                                        $(this).remove();

                                        openModal("Avaliação", "Sua avaliação foi removida com sucesso!", "fa-star", "Ok");
                                    })
                                }
                            });
                        });

                        if ($(".info-briefing-slide").length != 0) {
                            $(".slidePanel .scroll").animate({ scrollTop: $(".slidePanel .scroll").height() }, 950);
                        }


                        $('.url-mask').on('focus', function (e) {
                            if ($.trim($(e.target).val()) === '') $(e.target).val('http://www.');
                        }).on('blur', function (e) {
                            if ($.trim($(e.target).val()) === 'http://www.') $(e.target).val('');
                        });

                        if (!$('.scroll').length) {
                            var height = $('.slidePanel').height() - $('.overlay-panel.overlay-background.vertical-align').height();
                            $('.slidePanel-inner').height(height);
                            $('.slidePanel-inner').css('overflow-y', 'auto');
                        }
                        else {
                            var height = $('.slidePanel').height();
                            $('.scroll').height(height);
                            $('.scroll').css('overflow-y', 'auto');
                        }
                        if ($('.tiny').length) {
                            //console.log("TINY", tinymce, $(this.$content).find(".tinymce"));
                            //tinymce.execCommand('mceFocus', false, "#" + $(this.$content).find(".tinymce").attr("id"));
                            //console.log(1);
                            //tinymce.execCommand('mceRemoveEditor', false, "#" + $(this.$content).find(".tinymce").attr("id"));
                            //console.log(2);
                            tinymce.remove();
                            //console.log(3);
                            if (tinyMCE.get('message') != null)
                                tinyMCE.get('message').remove();


                            //console.log($(this.$content).find(".tinymce").attr("id"));

                            tinymce.init({
                                selector: "#"+$(this.$content).find(".tinymce").attr("id"),
                                theme: "modern",
                                skin: 'light',
                                language: 'pt_BR',
                                menubar: false,
                                statusbar: true,
                                visual: false,
                                height: 100,
                                menubar: false,
                                statusbar: false,
                                plugins: ["advlist autolink link image lists code textcolor placeholder"],
                                toolbar: "forecolor | bold italic | alignleft aligncenter alignright"
                            });

                        }

                        if ($('input[name="Freelancers.City"]').length > 0) {
                            
                                new dgCidadesEstados({
                                    estado:
                                        $('input[name="Freelancers.State"]').get(0),
                                    cidade:
                                       $('input[name="Freelancers.City"]').get(0),
                                    change: true
                                });
                            
                        }

                        $(".btn-profile-save").on("click", function (e) {
                            e.preventDefault();
                            $("#form-user-edit").submit();
                        });

                        //$.fn.select2.defaults.set('language', 'pt-BR');

                        if ($('select[name="skill"]').length > 0)
                            $('select[name="skill"]').select2({
                                width: '100%',
                                placeholder: "Habilidades * max 5 ",
                                maximumSelectionLength: 5,
                                language: "pt-BR"
                            });

                        if ($('select[name="segments"]').length > 0)
                            $('select[name="segments"]').select2({
                                width: '100%',
                                placeholder: "Segmentos * max 3 ",
                                maximumSelectionLength: 3,
                                language: "pt-BR"
                            });


                        if ($('.select').length > 0)
                            $('.select').select2({
                                placeholder: $(this).data("placeholder")
                            });
                        if ($('#form-user-edit select').length > 0)
                            $('#form-user-edit select').validate();


                    }, beforeHide: function (ie) {
                        $('body').css('overflow', 'auto');
                        if ($('.tiny').length) {
                            tinymce.execCommand('mceFocus', false, '#message');
                            tinymce.execCommand('mceRemoveEditor', false, '#message');
                            tinymce.remove();
                            if (tinyMCE.get('message') != null)
                                tinyMCE.get('message').remove();
                        }
                    }
                });
            });


            $.each($('.site-menu:not(.site-menu-briefings) .site-menu-item'), function (i, e) {
                if (isActive($(e).data('name'))) {
                    $(e).addClass("active");
                }
            })
        });

        function showImagem(input, src) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(src)
                        .attr('src', e.target.result)
                        .width(80)
                        .height(80);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function isActive(name) {
            if (window.location.toString().toUpperCase().indexOf(name.toUpperCase()) > -1) {
                return true;
            }
        }
    </script>

    @RenderSection("Script", false)

</body>
</html>
