﻿
@{
    ViewBag.Title = "Login | Crowd Freelancers";
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/Content/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/examples/css/pages/login.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!--[if lt IE 9]>
    <script src="~/Content/assets/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/Content/assets/media-match/media.match.min.js"></script>
    <script src="~/Content/assets/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-51170795-3', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body class="page-login layout-full page-dark">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page -->
    @RenderBody()

    <!-- Core  -->
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script src="~/Content/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/vendor/animsition/jquery.animsition.js"></script>
    <!-- Scripts -->
    <script src="~/Content/js/core.js"></script>
    <script src="~/Content/js/site.js"></script>
    <script src="~/Content/js/components/animsition.js"></script>
    <script>
    (function(document, window, $) {
        'use strict';
        var Site = window.Site;
        $(document).ready(function() {
            Site.run();
        });
    })(document, window, jQuery);
    </script>
	
</body>
</html>