@import 'settings';
@import 'foundation-emails';
@import 'template/template';

img {
  display: inline;
}

.content td{
 padding-top: 35px;
 text-align: center;
}

.footer td {
 vertical-align: bottom;
}

.call-to-action {
 margin: 35px 0;
 background-color:#26cf97; 
 display:block; 
 padding:10px; text-align:center; 
 font-family: 'Open Sans', sans-serif; 
 color:#ffffff; 
 font-size:15px; 
 text-decoration:none; 
 border-radius:30px;
}

td.header {
  background-color: #2c2c2c;
  text-align: center;
  vertical-align: middle;
  height: 85px;
}

@media screen and (max-width: 430px) {
  .footer {
    width: 50%;
  }
}

@media screen and (min-width: 430px) {
  .mobile {
    display: none;
  }
}

@media screen and (max-width: 617px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mFloatRight {
    float: right;
  }

  .mClearLeft {
    clear: left;
  }
}
