.badge {
 display: inline-block;
 min-width: 10px;
 padding: 3px 7px;
 font-size: 12px;
 font-weight: 400;
 line-height: 1;
 color: #76838f;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 background-color: #e4eaec;
 border-radius: 10px;
}

.badge {
 padding: 3px 6px;
}

.badge-primary {
 color: #fff;
 background-color: #f0403d;
}

.label-warning {}

#gestao-briefing .page-aside {
 background: #F4F7F8;
}

#gestao-briefing .page-aside .list-group-item {
 background: #F4F7F8;
 font-size: 12px;
}

#gestao-briefing .page-aside .list-group-item:hover,
#gestao-briefing .page-aside .list-group-item.ativo {
 background: #DADCDD;
 color: #6A6A6A;
}

#gestao-briefing .page-aside .menu-briefings>a {
 position: relative;
}

#gestao-briefing .menu-briefings a .badge {
 position: absolute;
 right: 12px
}

#gestao-briefing .page-aside .add-new-briefing {
 padding: 0 15px 0 30px;
 margin-bottom: 25px;
}

#gestao-briefing .input-search input {
 background: #DADCDD;
 padding: 0 15px 0 30px;
 color: #6a6a6a;
 border: 0px;
 border-radius: 0px;
}

#gestao-briefing .input-search input::-webkit-input-placeholder {
 color: #6a6a6a;
}

#gestao-briefing .input-search input:-moz-placeholder {
 color: #6a6a6a;
}

#gestao-briefing .input-search input::-moz-placeholder {
 color: #6a6a6a;
}

#gestao-briefing .input-search input:-ms-input-placeholder {
 color: #6a6a6a;
}

#gestao-briefing .page-aside-section:after {
 display: none;
}

#gestao-briefing .page-aside-title {
 border-bottom: 1px solid #e4eaec;
 cursor: pointer;
}

#gestao-briefing .page-aside-title i.icon {
 margin: 0;
 top: 10px;
 position: absolute;
 right: 10px;
}

#gestao-briefing .lista-propostas {
 float: left;
 position: relative;
 width: 100%;
 color: #77909B;
 border-bottom: 1px solid #f2f2f2;
 padding: 25px 0;
}

#gestao-briefing .lista-propostas figure a,
#gestao-briefing .lista-propostas figure p {
 width: 100%;
 display: block;
 padding-left: 50px;
}

#gestao-briefing .lista-propostas figure a,
.chat-profissional-empresa .box-msg .txt-msg a {
 text-decoration: underline;
 color: #90BFF1;
}

#gestao-briefing .lista-propostas figure p {
 color: #77909B;
 font-size: 13px;
 margin-top: 14px;
 line-height: 11px;
 display: inline;
 padding: 0px;
}

#gestao-briefing .lista-propostas figure p br,
#gestao-briefing .lista-propostas figure br {
 display: none
}

#gestao-briefing .lista-propostas figure>span {
 display: block;
 height: 50px;
 width: 50px;
 position: absolute;
 left: 0px;
 top: 0px;
}

#gestao-briefing .lista-propostas figure>span>.badge {
 position: absolute;
 right: -5px;
 top: -5px;
}

#gestao-briefing .lista-propostas.profissional-contratado {
 background: #FBFBFB;
}

#gestao-briefing .lista-propostas.profissional-contratado figure a {
 padding-top: 10px;
}

.ver-tarefa i {
 color: #77909B;
}

#gestao-briefing .lista-propostas.profissional-contratado a.ver-tarefa,
#gestao-briefing .lista-propostas.profissional-contratado .nome-do-projeto {
 margin-top: 10px;
 display: inline-block;
}

#gestao-briefing .lista-propostas.profissional-contratado .etiqueta-preco-prazo {
 margin-top: 6px;
 margin-bottom: 10px;
 float: right;
}

.nome-do-projeto {
 color: #77909B;
 font-size: 14px;
 font-weight: 400;
}

.nome-do-projeto:before {
 content: '';
 width: 8px;
 height: 8px;
 background: #D6494B;
 display: inline-block;
 border-radius: 100%;
 margin-right: 10px;
}

.title-profissional-contratado {
 font-weight: 300;
 margin-bottom: 20px;
}


/* Lista profissionais */

#gestao-briefing .lista-propostas.lista-freelance figure a {
 color: #000;
 text-decoration: none;
 font-size: 15px;
 font-weight: 300;
}

#gestao-briefing .lista-propostas.lista-freelance figure p {
 font-size: 12px;
}

#gestao-briefing .panel-heading {
 border-bottom: 1px solid #f2f2f2;
 padding-bottom: 20px;
}

#gestao-briefing .panel-heading .title-nome-projeto {
 font-size: 18px;
 color: ##747778;
 font-weight: 300;
 margin: 5px 0px;
}

#gestao-briefing .label-radius-right,
#gestao-briefing .label-radius-left {
 margin-top: 18px;
 padding: 5px 15px;
 background: #E6F1F8;
 display: inline-block;
 font-size: 12px;
 text-align: center;
 float: right;
}

#gestao-briefing .label-radius-left {
 border-right: 1px solid #fff;
 -webkit-border-top-left-radius: 50px;
 -webkit-border-bottom-left-radius: 50px;
 -moz-border-radius-topleft: 50px;
 -moz-border-radius-bottomleft: 50px;
 border-top-left-radius: 50px;
 border-bottom-left-radius: 50px;
}

#gestao-briefing .label-radius-right {
 -webkit-border-top-right-radius: 50px;
 -webkit-border-bottom-right-radius: 50px;
 -moz-border-radius-topright: 50px;
 -moz-border-radius-bottomright: 50px;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
}

#gestao-briefing .data-envio {
 padding: 0px;
 margin-top: 24px;
}

#gestao-briefing .data-envio span {
 font-size: 12px;
 font-weight: 300;
 margin-right: 10px;
 float: right;
}

#gestao-briefing .buttons-header {
 text-align: right;
}

#gestao-briefing .buttons-header button {
 width: 100%;
 max-width: 170px;
 margin-top: 22px;
}

#gestao-briefing .page-aside-title>.wb-triangle-down {
 display: none;
}

#gestao-briefing .page-aside-title.aberto .wb-triangle-down {
 display: block;
}

#gestao-briefing .page-aside-title.aberto .wb-triangle-right {
 display: none;
}

#gestao-briefing .foto-name figure {
 position: relative;
}

#gestao-briefing .foto-name figure .img-profile-50 {
 margin-right: 16px;
}

.msg-sem-briefing {
 padding: 50px 15px;
 text-align: center;
}

.msg-sem-briefing i {
 margin-bottom: 20px;
}

.msg-sem-briefing strong {
 font-size: 22px;
 width: 100%;
 display: block;
 font-weight: 300;
}

.msg-sem-briefing p {
 font-size: 18px;
 margin-bottom: 20px;
 font-weight: 300;
}

.valor-prazo {
 padding: 0px;
}

.etiqueta-preco-prazo {
 float: left;
 border-radius: 15px;
 width: 100%;
 max-width: 215px;
 overflow: hidden;
}

.etiqueta-preco-prazo.projetos {
 float: left;
 position: relative;
 height: 25px;
 margin-top: 5px;
 margin-right: 10px;
 width: 139px;
 top: 13px;
}

.etiqueta-preco-prazo.profissionais {
 float: right;
 position: relative;
 height: 25px;
 margin-top: 0;
 margin-right: 48px;
 width: 139px;
}

.etiqueta-preco-prazo.projetos sub {
 bottom: 0.3rem;
}

.etiqueta-preco-prazo.projetos i {
 bottom: 0.2rem;
}

.etiqueta-preco-prazo>div {
 width: 50%;
 text-align: center;
 float: left;
 padding: 5px;
}

.etiqueta-preco-prazo .label-price {
 background: #E6F1F8;
}

.etiqueta-preco-prazo .label-time {
 background: #263238;
 color: #fff;
}

.sem-mensagem {
 color: #ccc;
 font-size: 16px;
 text-align: center;
 padding: 50px 0;
 font-weight: bold;
}

.sem-mensagem i {
 font-size: 100px
}

.lista-propostas+.sem-mensagem {}


/**/

.janela-profissional-briefing .btn-default {
 background: none;
 border: none;
 color: #8C999F;
}

.janela-profissional-briefing .note-editor.note-frame {
 border: 1px solid #f6f6f6;
}

.janela-profissional-briefing .panel-default>.panel-heading {
 color: #76838f;
 background-color: #f6f8f8;
 border-bottom: 0px;
}

.janela-profissional-briefing .placeholder span {
 font-size: 16px;
}

#gestao-briefing .foto-name figure {
 margin-bottom: 0px;
}

#gestao-briefing .lista-propostas {
 padding: 25px 0 0 0;
}

.janela-profissional-briefing .placeholder p {
 font-size: 14px;
 margin-bottom: 30px;
}

.janela-profissional-briefing .note-editor.note-frame .note-editing-area .note-editable img {
 max-width: 100%;
 max-height: 100%;
 height: auto;
 width: auto;
}

.janela-profissional-briefing .note-statusbar {
 display: none;
}

.janela-profissional-briefing {
 width: 100%;
 max-width: 809px;
 background: #fff;
 min-height: 100%;
 padding-bottom: 20px;
 top: 0;
 right: 0;
 -webkit-box-shadow: -2px 1px 11px #d9d9d9;
         box-shadow: -2px 1px 11px #d9d9d9;
 float: right;
 padding-bottom: 45px;
 position: relative;
 height: auto;
}

.janela-profissional-briefing .header-janela .wb-close {
 display: none;
 position: fixed;
 top: 20px;
 right: 780px;
 cursor: pointer;
 font-size: 15px;
 color: #b9b9b9;
}

.is-open .janela-profissional-briefing .header-janela .wb-close {
 display: block;
 z-index: 1010;
}

.janela-profissional-briefing .header-janela {
 border-bottom: #E5E6E6 1px solid;
 float: left;
 width: 100%;
 padding: 23px 0;
 position: relative;
}

.janela-profissional-briefing .logo-empresa-briefing {
 float: left;
 width: 160px;
 height: 80px;
 margin-left: 70px;
 display: inline-block;
 vertical-align: top;
 /*not required*/
 position: relative;
}

.janela-profissional-briefing .header-margem {
 float: left;
 height: 80px;
 margin-left: 70px;
 display: inline-block;
 vertical-align: top;
 overflow-y: auto;
 position: relative;
}

.janela-profissional-briefing .header-margem .excerpt,
.janela-profissional-briefing .header-margem .description {
 font-weight: lighter;
 font-size: 0.9rem;
}

.janela-profissional-briefing .logo-empresa-briefing img {
 max-height: 40px;
 max-width: 110px;
 width: auto;
 height: auto;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin-top: auto;
 margin-bottom: auto;
}

.janela-profissional-briefing .header-janela figure {
 float: right;
 position: relative;
 height: 50px;
 margin-top: 16px;
 margin-right: 40px;
 width: 220px;
 text-align: right;
}

.janela-profissional-briefing .header-janela figure profile-image{
 float: right
}

.janela-profissional-briefing .header-janela figure img {
 height: 50px;
 width: 50px;
 position: absolute;
 right: 0px;
 top: 0px;
}

.janela-profissional-briefing .header-janela figure.projetos img {
 right: 30px;
}

.header-janela figure strong {
 padding-right: 62px;
 display: block;
 /* width: 100%;*/
 /* text-align: right;*/
 margin-bottom: 0px;
 color: #434D53;
}

.janela-profissional-briefing .header-janela figure p,
.header-janela figure strong {
 float: left;
 padding-right: 62px;
 display: block;
 /* width: 100%;*/
 /* text-align: right;*/
 margin-bottom: 0px;
 color: #434D53;
}

.header-janela figure p,
.header-janela figure strong {
 float: unset !important;
}

.janela-profissional-briefing .desc-briefing1 {
 position: -webkit-sticky;
 position: sticky;
 top: 0px;
 z-index: 1000;
 padding: 35px 0;
 padding-left: 70px;
 width: 100%;
 background: #FBFCFC;
 border-bottom: #ECECEC solid 1px;
 float: left;
}

.janela-profissional-briefing .desc-briefing1 div {
 padding: 0;
}

.janela-profissional-briefing .desc-briefing1 .tiitulo-nome-briefing {
 font-weight: 300;
 font-size: 22px;
 margin-top: 0px;
}

.janela-profissional-briefing .label-nome-projeto {
 background-color: #f2a654;
 float: right;
 margin-right: 17px;
 color: #fff;
 text-align: center;
 font-weight: 400;
 padding: 3px 15px;
 border-radius: 14px;
 margin-top: 40px;
 display: inline-block;
}

.janela-profissional-briefing .desc-briefing2 {
 padding-left: 70px;
 padding-right: 60px;
 float: left;
 width: 100%;
 border-bottom: 1px solid #ECECEC;
 padding-bottom: 20px;
}

.janela-profissional-briefing .desc-briefing2 .content-briefing {
 border-bottom: #ECECEC solid 1px;
 width: 100%;
 float: left;
 padding-top: 30px;
}

.janela-profissional-briefing .desc-briefing2 .content-briefing .text-briefing img {
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
}

.janela-profissional-briefing .anexo-briefing {
 margin-top: 38px;
 margin-bottom: 54px;
 float: left;
}

.janela-profissional-briefing .anexo-briefing strong {
 font-weight: 300;
 font-size: 18px;
 display: block;
 float: left;
 margin-right: 40px;
}

.janela-profissional-briefing .anexo-briefing a {
 float: left;
 color: #62A8EA;
 line-height: 17px;
 height: 30px;
 display: -webkit-inline-box;
 display: -ms-inline-flexbox;
 display: inline-flex;
 text-decoration: none;
 margin-right: 30px;
}

.janela-profissional-briefing .anexo-briefing a .icon {
 color: #a7a7a7;
 font-size: 19px;
 margin-right: 8px;
}

.janela-profissional-briefing .anexo-briefing a:hover .icon {
 color: #62A8EA;
}

.janela-profissional-briefing .detalhes-profissional-briefing {
 float: left;
 position: relative;
}

.janela-profissional-briefing .detalhes-profissional-briefing figure {
 position: absolute;
 top: 45px;
 left: 15px;
}

.janela-profissional-briefing .detalhes-profissional-briefing figure img {
 width: 54px;
 height: 54px;
}

.janela-profissional-briefing .detalhes-profissional-briefing .nome-decricao {
 padding-left: 75px;
}

.janela-profissional-briefing .detalhes-profissional-briefing .nome-decricao h3 {
 margin-top: 45px;
 color: #5EA6EC;
 font-size: 18px;
 font-weight: 300;
 text-decoration: underline;
}

.janela-profissional-briefing .detalhes-profissional-briefing .nome-decricao .preco_prazo {
 color: #78909C;
 font-weight: 400;
 margin-right: 20px;
}

.janela-profissional-briefing .detalhes-profissional-briefing .nome-decricao .preco_prazo strong {
 color: #2B2F32;
 font-weight: 400;
 margin-right: 5px;
}

.janela-profissional-briefing .bt-contratar {
 bottom: 0px;
 margin-top: 0px;
 float: left;
 position: relative;
 right: 0;
}

.janela-profissional-briefing .enviar-mensagem-briefing {
 background: #FBFCFC;
 padding-bottom: 30px;
 position: relative;
 float: left;
 width: 100%;
 padding-left: 70px;
 padding-top: 30px;
}

.janela-profissional-briefing .enviar-mensagem-briefing figure {
 position: absolute;
 left: 0px;
 top: 0;
}

.janela-profissional-briefing .enviar-mensagem-briefing figure img {
 width: 36px;
 height: 36px;
}

.janela-profissional-briefing .enviar-mensagem-briefing .editor-content {
 padding-left: 50px;
}

.janela-profissional-briefing .enviar-mensagem-briefing .bt-enviar {
 margin-top: 96px;
}


/* CHAT */

.chat-profissional-empresa {
 padding: 20px 0
}

.chat-profissional-empresa .box-msg {
 width: 100%;
 position: relative;
 float: left;
 padding: 25px 0;
}

.chat-profissional-empresa .box-msg figure {
 width: 50px;
 position: absolute;
 top: 25px;
 left: 0;
}

.chat-profissional-empresa .box-msg .txt-msg {
 width: 100%;
 padding-left: 70px;
}

.chat-profissional-empresa .box-msg .txt-msg a {
 font-size: 18px;
}

.chat-profissional-empresa .box-msg .txt-msg p {
 font-size: 13px;
 font-weight: 300px;
 margin: 0px;
}

.chat-profissional-empresa .box-msg .txt-msg .msg-preco {
 margin-top: 10px;
}

.chat-profissional-empresa .box-msg .txt-msg .preco_prazo strong {
 font-weight: 400;
 color: #000
}

.chat-profissional-empresa .box-msg .txt-msg .preco_prazo {
 margin-right: 20px
}

.campo-enviar-mensagem textarea {
 background-size: #fff;
 border: 1px solid #e7e7e7;
 border-radius: 3px;
 padding: 15px;
 width: 100%;
 height: 125px;
}

.janela-profissional-briefing .editor-content-profissional {
 padding-left: 0px !important;
 padding-right: 50px !important;
}

.editor-content-profissional figure {
 width: 50px;
 position: absolute;
 top: 0;
 left: 0;
}

.campo-enviar-mensagem {
 width: 95%;
 padding-left: 55px;
}

.campo-enviar-mensagem>em {
 color: #000;
 font-size: 14px;
 font-style: normal;
 display: block;
 width: 100%;
 margin: 15px 0;
 float: left;
}

.campo-enviar-mensagem .btn-block {
 margin-top: 15px;
 float: left;
}

.janela-profissional-briefing .editor-content-profissional {
 padding-right: 20px !important;
}

.txt-mobile-briefing {
 max-height: 90px;
 min-height: 64px;
 overflow: hidden;
 position: relative;
}

.txt-mobile-briefing:before {
 content: '';
 display: block;
 width: 100%;
 height: 21px;
 position: absolute;
 bottom: 0px;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+66&0.6+0,1+48 */
 /* FF3.6-15 */
 /* Chrome10-25,Safari5.1-6 */
 background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(1%, rgba(255, 255, 255, 0.61)), color-stop(48%, rgba(255, 255, 255, 1)), color-stop(66%, rgba(255, 255, 255, 1)));
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.61) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 66%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff', GradientType=0);
 /* IE6-9 */
}

.valor-prazo {
 /*	display: none;*/
}

@media (max-width: 606px) {
 #gestao-briefing .valor-prazo {
  padding: 0px;
 }
 #gestao-briefing .buttons-header {
  text-align: center;
  width: 100%;
  padding: 0px;
 }
 #gestao-briefing .col-nome-projeto {
  width: 100%;
 }
 #gestao-briefing .buttons-header button {
  display: inline-block;
  max-width: 130px;
 }
 #gestao-briefing .title-nome-projeto {
  text-align: center;
  margin-bottom: 20px;
 }
}

@media (max-width: 534px) {
 #gestao-briefing .foto-name {
  width: 100%;
 }
 #gestao-briefing .valor-prazo {
  width: 100%;
  padding-left: 61px;
 }
 #gestao-briefing .valor-prazo span {
  margin-top: 0px;
 }
 #gestao-briefing .data-envio span {
  float: none;
 }
 #gestao-briefing .data-envio {
  width: 100%;
  min-width: 118px;
  position: absolute;
  right: 0;
  top: -21px;
  color: #d4d4d4;
  text-align: right;
 }
}

.input-dias-briefing,
.input-preco-briefing {
 border: 1px solid #e7e7e7;
 float: left;
 padding: 5px 10px;
 background: transparent;
}

.input-preco-briefing {
 width: 33.3333%;
 border-right: 0px;
 -webkit-border-top-left-radius: 3px;
 -webkit-border-bottom-left-radius: 3px;
 -moz-border-radius-topleft: 3px;
 -moz-border-radius-bottomleft: 3px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
}

.input-dias-briefing {
 width: 66.6666%;
 -webkit-border-top-right-radius: 3px;
 -webkit-border-bottom-right-radius: 3px;
 -moz-border-radius-topright: 3px;
 -moz-border-radius-bottomright: 3px;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}

@media (max-width: 926px) {
 #gestao-briefing .label-radius-left,
 #gestao-briefing .label-radius-right,
 .valor-prazo {
  font-size: 11px;
 }
 .valor-prazo {
  padding: 0;
  min-width: 210px;
 }
}

@media (max-width: 878px) {
 #gestao-briefing .valor-prazo {
  padding: 0px;
 }
}

@media (max-width: 815px) {
 #gestao-briefing .label-radius-right,
 #gestao-briefing .label-radius-left {
  font-size: 11px;
  padding: 5px 12px;
 }
}

@media (max-width: 768px) {
 #gestao-briefing .page-main {
  margin-left: 0px !important;
 }
 #gestao-briefing .valor-prazo {
  padding: 0 15px;
 }
 .janela-profissional-briefing .bt-contratar {
  margin-top: 30px;
  margin-left: 75px;
  float: left;
 }
 .janela-profissional-briefing .enviar-mensagem-briefing .bt-enviar {
  margin-left: 39px;
 }
 .txt-mobile-briefing {}
 #gestao-briefing .foto-name figure {
  margin-bottom: 0px;
 }
 #gestao-briefing .lista-propostas {
  padding: 25px 0 0 0;
 }
 .janela-profissional-briefing .header-janela .wb-close {
  background: #263238;
  z-index: 9;
  padding: 7px;
  border-radius: 100%;
  font-size: 10px;
  top: 15px;
 }
 .campo-enviar-mensagem {
  padding-left: 0;
  padding-top: 57px;
 }
 .janela-profissional-briefing .editor-content-profissional {
  padding-right: 20px !important;
 }
 .txt-mobile-briefing {
  max-height: 90px;
  min-height: 64px;
  overflow: hidden;
  position: relative;
 }
 .txt-mobile-briefing:before {
  content: '';
  display: block;
  width: 100%;
  height: 21px;
  position: absolute;
  bottom: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+66&0.6+0,1+48 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), color-stop(1%, rgba(255, 255, 255, 0.61)), color-stop(48%, rgba(255, 255, 255, 1)), color-stop(66%, rgba(255, 255, 255, 1)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.61) 1%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 66%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
 }
 .valor-prazo {
  display: none;
 }
}

@media (max-width: 606px) {
 #gestao-briefing .valor-prazo {
  padding: 0px;
 }
 #gestao-briefing .buttons-header {
  text-align: center;
  width: 100%;
  padding: 0px;
 }
 #gestao-briefing .col-nome-projeto {
  width: 100%;
 }
 #gestao-briefing .buttons-header button {
  display: inline-block;
  max-width: 130px;
 }
 #gestao-briefing .title-nome-projeto {
  text-align: center;
  margin-bottom: 20px;
 }
}

@media (max-width: 534px) {
 #gestao-briefing .foto-name {
  width: 100%;
 }
 #gestao-briefing .valor-prazo {
  width: 100%;
  padding-left: 61px;
 }
 #gestao-briefing .valor-prazo span {
  margin-top: 0px;
 }
 #gestao-briefing .data-envio span {
  float: none;
 }
 #gestao-briefing .data-envio {
  width: 100%;
  min-width: 118px;
  position: absolute;
  right: 0;
  top: -21px;
  color: #d4d4d4;
  text-align: right;
 }
}

@media (max-width: 480px) {
 .janela-profissional-briefing .logo-empresa-briefing {
  margin-left: 20px;
 }
 .janela-profissional-briefing .desc-briefing1,
 .janela-profissional-briefing .desc-briefing2,
 .janela-profissional-briefing .enviar-mensagem-briefing {
  padding-left: 20px;
 }
 .janela-profissional-briefing .desc-briefing1,
 .janela-profissional-briefing .desc-briefing2 {
  padding-right: 20px;
 }
 .janela-profissional-briefing .label-nome-projeto {
  float: left;
  margin-top: 10px;
 }
 .janela-profissional-briefing .enviar-mensagem-briefing .editor-content {
  padding-left: 70px;
 }
 .janela-profissional-briefing .enviar-mensagem-briefing .bt-enviar {
  margin-top: 20px;
  margin-left: 57px;
 }
}

@media (max-width: 427px) {
 .janela-profissional-briefing .header-janela figure {
  width: 180px;
 }
 .janela-profissional-briefing .logo-empresa-briefing {
  width: 93px;
 }
 .janela-profissional-briefing .logo-empresa-briefing img {
  max-width: 100%;
  max-height: 100%;
 }
}

@media (max-width: 320px) {
 #gestao-briefing .valor-prazo {
  padding: 0px;
  text-align: center;
 }
}

.briefing-arquivado {
 font-weight: 300;
 margin: 0 auto;
 padding-top: 50px;
 text-align: center;
}