#briefing {
 width: 1060px;
}

#briefing input,
#briefing textarea {
 background: #FBFCFC;
}
.sp-hover:hover {
  -webkit-filter: blur(2px) !important;
          filter: blur(2px) !important;
  background-color: black !important;
  cursor: pointer;
}
.sp-hover::before {
  content: "\f007";
  font-size: 20px;
  color: #fff;
  margin-top: 4px;
  height: 30px;
  width: 30px;
  background-color: #00f;
  border-radius: 50px;
  position: absolute;
  margin-bottom: 30px;
  top: 22px;
  left: 113px;

}
.user-icon {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50px;
  position: absolute;
  margin-bottom: 30px;
  top: 22px;
  left: 113px;
}
button.isHunting {
  background-color: #f0403d !important;
  border: unset !important;
}
button.isHunting:hover {
  background-color: #8E0A07;
}
button.isHunting:focus {
  background-color: #8E0A07;
}

#briefing .by {
 text-align: center;
 color: #434D53;
 border-bottom: 1px solid #ECECEC;
 padding-bottom: 30px;
 min-height: 140px;
}

#briefing .by p {
 margin-bottom: 0px;
 font-weight: 300;
}

#briefing .by strong {
 width: 100%;
 float: left;
}

#briefing .by .empresa {
 max-width: 100px;
 margin: 10px 0 0;
}

#briefing .colaboradores-convidados {
 font-weight: 300;
 font-size: 16px;
 text-align: center;
}

#briefing .btn-adicionar-mais {
 margin: auto;
 margin-bottom: 30px;
 display: inherit;
}

#briefing h3 {
 font-weight: 300;
 color: #000;
 font-size: 16px;
}

#briefing .txt-placeholder {
 font-size: 12px;
}

#briefing .profissional-selec {
 width: 100%;
 float: left;
 margin-bottom: 0px;
 min-height: 120px;
 min-height: 127px;
}

#briefing .profissional-selec .avatar-profissional {
 width: 60px;
 height: 60px;
 margin: auto;
 position: relative;
}

#briefing .profissional-selec legend {
 font-size: 14px;
 text-align: center;
 color: #77909B;
 font-weight: 500;
 margin-top: 5px;
}

#briefing .profissional-selec em {
 color: #77909B;
 text-align: center;
 width: 100%;
 display: block;
 padding: 5px;
 font-style: normal;
 margin-top: -5px;
 font-weight: 400;
 font-size: 13px;
 line-height: 13px;
}

#briefing .btn-selecinar-colaboradores {
 width: 100%;
 margin-top: 20px;
}

#briefing .input-nome-briefing::-webkit-input-placeholder {
 color: #000;
 font-size: 14px;
 font-weight: 600;
}

#briefing .input-nome-briefing:-moz-placeholder {
 color: #000;
 font-size: 14px;
 font-weight: 600;
}

#briefing .input-nome-briefing::-moz-placeholder {
 color: #000;
 font-size: 14px;
 font-weight: 600;
}

#briefing .input-nome-briefing:-ms-input-placeholder {
 color: #000;
 font-size: 14px;
 font-weight: 600;
}

#briefing figure.avatar-profissional>span {
 position: absolute;
 background: #333;
 top: 0px;
 right: 0px;
 font-size: 12px;
 padding: 5px;
 border-radius: 100%;
 height: 20px;
 width: 20px;
 text-align: center;
 line-height: 12px;
 -webkit-transition: all linear 0.2s;
 -o-transition: all linear 0.2s;
 transition: all linear 0.2s;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

#briefing figure.avatar-profissional>span:hover {
 background: #C73E3E;
}

#briefing .prof-max-size {
 max-width: 382px;
}

#briefing .placeholder>div {
 height: 83px;
 color: #DADBDB;
 margin-top: 40px;
}

#briefing .placeholder>div i {
 font-size: 60px;
 float: left;
 margin-right: 19px;
 color: #DADBDB;
}

#briefing .placeholder {
 position: absolute;
 top: 22%;
 left: 10%;
 color: #A7ABAF;
 width: 438px;
}


/**/

#briefing .btn-default {
 background: none;
 border: none;
 color: #8C999F;
}

#briefing .note-editor.note-frame {
 border: 1px solid #f6f6f6;
}

#briefing .panel-default>.panel-heading {
 color: #76838f;
 background-color: #f6f8f8;
 border-bottom: 0px;
}

#briefing .placeholder span {
 font-size: 16px;
}

#briefing .placeholder p {
 font-size: 14px;
 margin-bottom: 30px;
}

#briefing .note-editor.note-frame .note-editing-area .note-editable img {
 max-width: 100%;
 max-height: 100%;
 height: auto;
 width: auto;
}

#briefing .note-statusbar {
 display: none;
}

#briefing .txt-complemento p {
 color: #76838f;
}

#briefing .form-control:disabled {
 background: none !important;
 border: 0px;
 padding: 0px;
 font-size: 14px !important;
 cursor: default;
}

.row-briefing-completo img {
 max-width: 100%;
 height: auto
}

.complemento-briefing-item div img {
 max-width: 100%;
 height: auto
}

.campos-briefing div {
 color: #737373;
}

.campos-briefing form>h3 {
 font-weight: 500 !important;
}

.campos-briefing form div>h2 {
 font-size: 26px;
}

.complemento-briefing-item {
 float: left;
 width: 100%;
 position: relative;
 border: 1px #f4f4f4 solid;
 margin-bottom: 20px;
 background: #fbfbfb;
 padding: 15px;
 border-radius: 5px;
}

.complemento-briefing-item .lista-de-anexos {
 right: -220px;
}

.row-add-complemento {
 float: left;
 margin-top: 50px;
 width: 100%;
 position: relative;
}

.row-add-complemento h3 {
 margin-top: 0px;
}

.row-add-complemento .lista-de-anexos {
 top: 27px;
}

#briefing .selecionar-projetos {
 margin-left: 0;
 display: inline-block;
 position: relative;
 min-width: 100%;
 margin-right: 0;
}

#briefing .select-projeto {
 max-width: none;
}

.note-popover {
 display: none;
}

.row-briefing-completo {
 position: relative;
}

.my-dropzone,
.my-dropzone-complement {
 position: absolute;
 height: 475px;
 border: 5px dashed #cacaca;
 display: block;
 top: 55px;
 z-index: 9;
 left: 25px;
 right: 25px;
 background: #fff;
 display: none;
}

.my-dropzone-complement {
 height: 230px;
 top: 52px;
}

.my-dropzone:after,
.my-dropzone-complement:after {
 content: 'Solte os arquivos aqui';
 font-size: 30px;
 color: #cacaca;
 font-weight: bold;
 width: 100%;
 text-align: center;
 display: block;
 position: absolute;
 top: 50%;
 height: 47px;
 margin-top: -27px;
}

.my-dropzone:before,
.my-dropzone-complement:before {
    content: '';
    height: auto;
    display: block;
    position: absolute;
    top: -19px;
    left: -19px;
    right: -18px;
    bottom: -17px;
    width: auto;
}


/* NOVO SCRIPT DE ANEXOS */

.lista-de-anexos {
 right: -200px;
 width: 200px;
 top: 0px;
 position: absolute;
}

.titulo-anexo {
 font-size: 14px;
 font-weight: 300;
 float: left;
 color: #383C40;
 margin-top: -30px;
}

.dropzone-previews {
 float: left;
 width: 185px;
}

.dropzone-previews .dz-details {
 float: left;
 width: 100%;
 margin-bottom: 0px;
 color: #0087ff;
 font-size: 12px;
 position: relative;
}

.dropzone-previews .dz-details .remover-anexo {
 right: 0px;
 position: absolute;
 top: 3px;
 color: #a7a7a7;
 display: none;
 cursor: pointer;
}

.dropzone-previews .dz-details:hover .remover-anexo {
 display: block;
}

.dropzone-previews .dz-filename {
 max-width: 100%;
 float: left;
 margin-right: 2%;
 position: relative;
 padding-right: 15px;
}

.dropzone-previews .dz-filename span:before {
 content: "\f148";
 font-family: 'Web Icons';
 float: left;
 color: #A7A7A7;
 margin-right: 6px;
}

.dropzone-previews .dz-success-mark,
.dz-error-mark {
 display: none;
}

.dropzone-previews .dz-size {
 display: none;
}

.dropzone-previews .dz-filename span {
 width: 100%;
 overflow: hidden;
 float: left;
 display: block;
}

.dropzone-previews .dz-progress {
 width: 100%;
 float: left;
 height: 3px;
 margin-bottom: 10px;
 background: #f5f5f5;
}

.dropzone-previews .dz-progress span {
 background: #62a8ea;
 height: 3px;
 float: left;
}

.dz-complete .dz-progress {
 display: none;
}

.dropzone-previews .dz-complete .dz-details {
 margin-bottom: 10px;
}

#file-attachment-list {
 float: left;
 position: relative;
}

ul.complementos-anexos {
 list-style: none;
 padding: 0;
}

ul.complementos-anexos li {
 float: left;
 width: 100%;
 margin-bottom: 10px;
 color: #0087ff;
 font-size: 12px;
 position: relative;
}

ul.complementos-anexos li:before {
 content: "\f148";
 font-family: 'Web Icons';
 float: left;
 color: #A7A7A7;
 margin-right: 6px;
}

.select2-results__option span:before {
 content: '';
 background: #F96868;
 width: 8px;
 height: 8px;
 display: block;
 float: left;
 border-radius: 100%;
 margin-top: 7px;
 margin-right: 10px;
 margin-left: 7px;
}

.select2-results__option span.projeto-cor-1:before {
 background: #F2A654;
}

.select2-results__option span.projeto-cor-2:before {
 background: #57C7D4;
}

.select2-results__option span.projeto-cor-3:before {
 background: #F96868
}

.select2-results__option span.projeto-cor-4:before {
 background: #ADF071
}

.select2-results__option span.projeto-cor-5:before {
 background: #C16FF2
}

.select2-results__option span.projeto-cor-6:before {
 background: #7DE3DE
}

.select2-results__option span.projeto-cor-7:before {
 background: #E3F968
}

.select2-results__option span.projeto-cor-8:before {
 background: #0079ae
}

.select2-results__option span.projeto-cor-9:before {
 background: #F2A654;
}

.select2-results__option span.projeto-cor-10:before {
 background: #57C7D4;
}

.select2-results__option span.projeto-cor-11:before {
 background: #F96868
}

.select2-results__option span.projeto-cor-12:before {
 background: #ADF071
}

.select2-results__option span.projeto-cor-13:before {
 background: #C16FF2
}

.select2-results__option span.projeto-cor-14:before {
 background: #7DE3DE
}

.select2-results__option span.projeto-cor-15:before {
 background: #E3F968
}

.select2-results__option span.projeto-cor-16:before {
 background: #0079ae
}

div#file-attachment-list span {
 background: #f4f4f4;
 position: relative;
 display: inline-block;
 margin-right: 5px;
 padding: 7px 25px 7px 7px;
 line-height: 13px;
 color: #ccc;
 margin-bottom: 5px;
}

div#file-attachment-list span a i {
 margin-right: 5px;
}

div#file-attachment-list span a {
 color: #222;
}

div#file-attachment-list span:hover .remove-anexo {
 display: block;
}

.selecionar-projeto-briefing .site-menu-title {
 margin-right: 10px;
}

#inputBriefingProjeto {
 border-radius: 9px;
 line-height: 10px;
 padding: 1px 8px;
 outline: none;
 background: 0;
 border: solid 0.1rem;
 font-size: 92%;
 font-weight: lighter;
 width: 220px;
 margin-right: 10px;
 -webkit-box-shadow: 1px 1px 5px 2px #EEE inset;
         box-shadow: 1px 1px 5px 2px #EEE inset;
}

@media screen and (max-width: 1351px) {
 #briefing {
  width: 916px;
 }
}

@media screen and (max-width: 860px) {
 #briefing {
  width: 100%;
 }
 .lista-de-anexos {
  position: relative;
  float: left;
  top: 39px;
  left: 15px;
 }
 .campos-briefing {
  width: 75%;
 }
 #dropzone-previews .dz-details .remover-anexo {
  display: block !important;
 }
}

@media screen and (max-width: 479px) {
 #briefing .profissional-selec {
  width: 50%;
 }
 .campos-briefing {
  width: 100%
 }
}

#profissionais-selecionados {
 height: 430px;
}

.complementos-anexos li:hover .remover-anexo{  
  visibility: visible !important;
}

.complementos-anexos li:hover .remover-anexo{  
  visibility: visible !important;
}

