﻿button:focus {
    outline: 0;
}

.open.active {
    color: #7a858f;
    background-color: #ebeef0;
    border: none;
}

.list-group-item {
    background-color: #f4f7f8;
}

.star {
    padding: 6px 0px;
    display: inline-block;
}

.fa-star {
    color: #62a8ea;
}

p {
    margin: 0;
}


.page-aside-action-panel {
    padding:0 30px 20px 30px;
    display:table;
    width:100%;
}

.page-header {
    padding:0 30px;
    margin-bottom:30px;
}

.page-header-aux {
    border-bottom:1px solid #e7e7e7;
    padding:30px 0;
}


.site-menu-briefings li {
    list-style:none;

}


.site-menubar-unfold .site-menu.site-menu-briefings > .site-menu-item > a {
    padding:0 30px;
    color:#58646c;
    font-size:12px;
    border-bottom:1px solid #d3d3d4;
}


.site-menubar-unfold .site-menu.site-menu-briefings > .site-menu-item > a .site-menu-title {
    
    color:#58646c;
    font-size:13px;
    font-weight:400;
}




.site-menubar-unfold .site-menu.site-menu-briefings > .site-menu-item > a span {
    margin:0;
}


.site-menubar-unfold .site-menu.site-menu-briefings > .site-menu-item > a span.site-menu-arrow {
    line-height:50px;
}

.site-menu.site-menu-briefings > .site-menu-item.open {
     background-color:transparent;
}


.site-menubar-unfold .site-menu.site-menu-briefings {
    padding:0;
}

.page-aside .site-menu-briefings i {
    float:left;
}

.page-aside .site-menu-briefings .list-group-item {
    padding:13px 0;

}


.site-menu.site-menu-briefings .site-menu-item .site-menu-sub .site-menu-item {
    width:100%;
    display:table;
    padding:13px 0; 
    cursor:pointer;
}

.site-menu.site-menu-briefings .site-menu-item .site-menu-sub {
    padding-top:0;
}

.site-menu.site-menu-briefings .site-menu-item .site-menu-sub .site-menu-item a {
    color:#7a858f;
    background:transparent;
    padding: 0 30px;
    width: 215px;
}

.site-menu.site-menu-briefings .site-menu-item .site-menu-sub .site-menu-item i {
    color:#7a858f;
    margin:10px 0 0 10px;
}


.site-menu .site-menu-sub .site-menu-item.hover {
    background:rgba(0, 0, 0, 0.06) none repeat scroll 0 0;
}


.site-menu .site-menu-sub .site-menu-item > a {
    padding: 0 0 0 10px;
}

.page-aside-search {
    padding:15px 0;
    background:#dadcdd;
    margin-bottom:20px;
    position:relative;
}

.page-aside-search input {
    width:100%;
    padding:0 30px;
    border:none;
    background:transparent;
    color:#6a6a6a;
}

.page-aside-search .input-search-icon {
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    z-index: 1;
}

.site-menu-item.has-sub {
    display:block !important;
}


.info-briefing-slide img {
    max-width:100%;
}