.table-freelancer tr {
  cursor: pointer;
}

.table-freelancer td,
.table-freelancer th {
  display: inline-block;
  overflow: hidden;
}

.gravatar-image {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.table-freelancer .name {
  width: 50%;
}

.table-freelancer .email {
  width: 50%;
}

.table-freelancer .telefone {
  display: none;
}

.table-freelancer .titulo {
  display: none;
}

.table-freelancer .skype {
  display: none;
}

.table-freelancer .preco {
  display: none;
}

.table-freelancer .portfolio {
  display: none;
}

.table-freelancer .categoria {
  display: none;
}

.table-freelancer .habilidades {
  display: none;
}

.table-freelancer .segmentos {
  display: none;
}

.table-freelancer .clientes {
  display: none;
}

.table-freelancer .classificacao {
  display: none;
}

.table-freelancer .orderBy {
  position: relative;
}

.table-freelancer .orderBy .wb-triangle-up,
.table-freelancer .orderBy .wb-triangle-down {
  position: absolute;
  right: 0;
}

.table-freelancer .orderBy .wb-triangle-up {
  top: 4px;
  opacity: .3
}

.table-freelancer .orderBy .wb-triangle-down {
  bottom: 4px;
  opacity: .3
}

.table-freelancer .orderBy.asc .wb-triangle-up {
  opacity: 1
}

.table-freelancer .orderBy.desc .wb-triangle-down {
  opacity: 1
}

@media screen and (min-width: 640px) {
  .table-freelancer .name {
    width: 25%;
  }

  .table-freelancer .email {
    display: inline-block;
    width: 30%;
  }

  .table-freelancer .preco {
    display: inline-block;
    width: 20%;
  }

  .table-freelancer .portfolio {
    display: inline-block;
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .table-freelancer .name {
    width: 20%;
  }

  .table-freelancer .email {
    display: none;
  }

  .table-freelancer .preco {
    display: inline-block;
    width: 10%;
  }

  .table-freelancer .portfolio {
    display: inline-block;
    width: 15%;
  }

  .table-freelancer .categoria {
    display: inline-block;
    width: 10%;
  }

  .table-freelancer .habilidades {
    display: inline-block;
    width: 15%;
  }

  .table-freelancer .segmentos {
    display: inline-block;
    width: 10%;
  }

  .table-freelancer .clientes {
    display: inline-block;
    width: 10%;
  }

  .table-freelancer .classificacao {
    display: inline-block;
    width: 10%;
  }
}

.pagination-wrapper {
  text-align: center;
}

.range-list {
  margin-top: 30px;
}