﻿.page {
    padding-top:25px;
}


.input-transparent {
    border:none;
    border-bottom:1px solid #e7e7e7;
    height:50px;
    color:#000;
    font-weight:500;
    font-size:23px;
    background: transparent;
    padding:10px 0 20px 0;
}

.input-transparent.error,
.textarea-transparent.error {
    border-bottom:1px solid red;
}


h5 {
    color:#000;
    font-weight:500;
    font-size:23px;
    padding:10px 0 20px 0;
}


.textarea-transparent {
    border:none;
    border:1px solid #f6f8f8;
    height:70px;
    color:#52565a;
    font-weight:normal;
    font-size:14px;
    
    

    padding:10px;

    line-height:18px;
    overflow:hidden;
}


.new-briefing-content {
    padding-bottom:20px;
}


.new-briefing-content h4 {
    padding:10px 0 0 0;
    color:#000;
    font-weight:500;
    font-size:17px;
}


.new-briefing-content p {
    color:#8c9092;
    font-size:12px;
}


.new-briefing-content .new-briefing-content-block {
    padding:10px 0 0 0;
}

.new-briefing-freelancer {
    text-align:center;
    height:145px;
}


.new-briefing-freelancer-content {
    max-height:300px;
    overflow:auto;    
    padding-top:20px;
    
}

.new-briefing-content-block .mce-toolbar-grp {
    background:#f6f8f8;
    padding:5px;
}


.info-briefing-slide img{
    max-width:100%;
    height:auto;
}



.new-briefing-freelancer h3 {
    font-size:12px;
    color:#47a6b1;
    margin:10px 0 0 0;
}

.new-briefing-freelancer p {
    font-size:9px;
    color:#2e7881;
    text-transform:uppercase;
    font-weight:500;
}

.new-briefing-freelancer-image {
    position:relative;
}


.new-briefing-freelancer-image img {
    width:100%;
    max-width:48px;
    border:4px solid #57c7d4;
}

.new-briefing-freelancer a.new-briefing-freelancer-remove {
    background: #fff none repeat scroll 0 0;
    border-radius: 13px;
    color: #4c4949;
    display: block;
    font-size: 24px;
    height: 24px;
    left: 55%;
    line-height: 24px;
    position: absolute;
    top: -8px;
    z-index: 110;
}

.new-briefing-sender {
    text-align:center;
}

.new-briefing-sender p {
    margin-bottom:0;
    margin-top:20px;
    font-size:7px;
    font-weight:400;
    text-transform:uppercase;
}

.new-briefing-sender h4 {
    margin-top:0;
    font-size:16px;
    font-weight:200;
}



.new-briefing-sender h3 {
    font-size:19px;
    font-weight:200;
}