﻿.page-register-container {
    max-height: 100%;
    display:table;
    height:100%;
    padding:0;
}

.page-register-content {
    position:relative;
    background:#000000;    
    display:table;  
    height: 100%;
    padding:0;
}

.page-register-main {
    max-height: 100%;
    overflow-y: auto;
    padding: 25px 20px;      
}

.page-register-menu {
    position:absolute;
    top:35px;
    left:35px;
    z-index:2;
}

.page-register-menu h1 {
    margin:0;
}

.page-register-menu h1::after{
    content:"";
    color:#ffffff;
    border-bottom:1px solid #ffffff;
    width:60%;
    display:block;
    padding-top:10px;

}


.page-register-menu ul {
    margin:0;
    padding:0;
}

.page-register-menu ul li {
    list-style:none;
    padding-top:10px;
        
}

.page-register-menu ul li::after{
    content:"";
    color:#ffffff;
    border-bottom:1px solid #ffffff;
    width:60%;
    display:block;
    padding-top:10px;
    
}

.page-register-menu ul li.active a {
    font-weight:800;
}

.page-register-menu ul li a {
    color:#ffffff;
}


.page-register-depoimentos {
    display: none;
    height: 100%;
    width: 100%;    
}

.page-register-depoimentos iframe {
    height:100%;
    width:100%;
    max-height:100%;
    display:table;
    position:absolute;
    z-index:1;
}

.page-register-depoimentos-menu {
    z-index:2;
    position:absolute;
    bottom:20px;
    right:20px;
}

.page-register-depoimentos-menu ul li {
    display:inline;
    margin:0 7px;
}


.page-copyright {
    clear:both;
}

.page-register-home {
    background:url(../images/banner-1.jpg) transparent 0 0 no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    display:table;

}

.page-register-home {
    text-align:center;
}

.page-register-home-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.page-register-home h2 {
    font-weight:800;
    text-transform:uppercase;
    color:#fff;
    font-size:66px;
    margin-bottom:40px;
}

.page-register-home p {
    font-size:21px;
    margin-bottom:40px;
    color:#fff;
}

.page-register-home p srong {
    font-weight:800;
}

.page-register-home h3 {
    color: #fff;
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: 800;
    font-size:40px;
}

    .page-register-home h3 small {
        display: block;
        font-size: 16px;
        margin: 10px 0 0 0;
        padding: 0px;
        color: #fff;
    }

    .page-register-roles {
        padding-top:60px;
    }

    .page-register-roles img {
        max-width: 1074px;
        width: 85%;
    }


.page-register-v2 footer {    
    text-align: center;        
}


.page-copyright-social {
    padding:20px 0 40px 0;
}

.page-copyright-social-right {
    display: inline-block;
    margin-left: 25px;  
}

    .page-copyright-social-right a {
        color: #37474f;
        font-size:14px;
        margin:0 5px;
    }

@media screen and (min-width:768px) and (max-width:1280px) {
    .page-register-home h2 {
        font-weight:800;
        text-transform:uppercase;
        color:#fff;
        font-size:42px;
        margin-bottom:20px;
    }

    .page-register-home p {
        font-size:18px;
        margin-bottom:20px;
        color:#fff;
    }

    
    .page-register-home h3 {
        color: #fff;
        margin-bottom: 0;
        margin-top: 20px;
        font-weight: 800;
        font-size:26px;
    }

    .page-register-home h3 small {
        display: block;
        font-size: 14px;
        margin: 10px 0 0 0;
        padding: 0px;
        color: #fff;
    }

    .page-register-roles {
        padding-top:30px;
    }

}