/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.color-box {
  width: 20px;
  height: 40px;
  border-radius: 4px; }

.btn.btn-direction {
  width: 174px; }

.btn-pill-left,
.btn-pill-right {
  width: 120px; }

.text-active,
.active > .text,
.active > .auto .text {
  display: none !important; }

.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important; }

.active .icon {
  line-height: 1; }

@media (max-width: 767px) {
  .btn-group-justified .btn {
    min-height: 50px; } }
