/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-content .dropdown-menu {
  width: 240px; }

.blocks-dropdowns > li {
  margin-bottom: 50px; }

.blocks-dropdowns .dropdown-menu {
  width: 100%; }

@media (min-width: 992px) {
  .blocks-dropdowns > li {
    max-width: 300px; } }
