/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.title-desc {
  max-width: 550px;
  margin: 20px auto 35px;
  color: #a3afb7; }

.page-content .panel-body .example {
  padding: 15px 30px;
  margin-top: 0;
  margin-bottom: 50px; }

.example .icondemo {
  height: 40px;
  margin: 15px auto;
  font-size: 16px;
  line-height: 40px;
  text-align: center; }
