/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.card-block {
  padding: 9px 0; }
  .card-block .card-link + .card-link {
    margin-left: 0; }
