/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.example-modal
{
    display: block;

    width: 100%;
    padding: 35px 15px;

    background-color: #f3f7f9;
}
.example-modal .modal
{
    position: relative;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    display: block;
}
.example-modal .modal .modal-dialog
{
    width: auto;
    max-width: 600px;
    margin: 15px auto;
}
.example-modal-top .center
{
    top: 0;

    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
         -o-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
}
.example-modal-bottom .center
{
    top: auto;
    bottom: 0;

    -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
         -o-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
}
.example-modal-sidebar .center
{
    top: 0;
    right: 5px;
    left: auto;

    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}

.example-buttons .modal-footer .btn
{
    margin-right: 0;
    margin-bottom: 0;
}

.color-selector > li
{
    margin-right: 20px;
    margin-bottom: 11px;
}

@media (max-width: 767px)
{
    #examplePositionSidebar .modal-sidebar
    {
        min-width: 260px;
    }
}
