/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.grid-stack-item-content {
  font-size: 20px;
  color: #526069;
  text-align: center;
  background: white; }
  .grid-stack-item-content .fa {
    display: block;
    margin: 20px 0 10px;
    font-size: 64px; }
