/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.visiblity-utilities th small {
  display: block;
  color: #999; }

.visiblity-utilities .is-visible {
  color: #468847;
  text-align: center;
  background-color: #dff0d8 !important; }

.visiblity-utilities .is-hidden {
  color: #ccc;
  text-align: center;
  background-color: #f9f9f9 !important; }
