.tutorial{
    margin: 10px;
    width: 300px;
    display: inline-table;
    box-shadow: -3px 3px 10px #ccc;
    border-radius: 5px;
}
.tutorial .page-content{
    padding: 20px 0;
    text-align: center;
    height: 550px;
    border-radius: 5px;
}

.tutorial .page-content h3{
    padding: 0 20px;
}

.tutorial .page-content p{
    margin: 0;
    padding: 5px 20px;
    text-align: left;
}

.tutorial .page-content ul li{
    text-align: left;
    padding: 5px 10px 5px 20px;
}

.tutorial .page-content ul li.text{
    list-style: none;
}

.tutorial .page-content ul li.text:before {
    content: "• ";
    color: #62a8ea;
    font-size: 20px;
    position: absolute;
    left: 23px;
}

.tutorial ul{
    padding: 0;
}

.tutorial ul li.link{
    padding: 10px 35px;
    list-style: none;
    text-align: left;
        margin-bottom: 20px;
}

.tutorial ul li.link:hover{
    background: #f3f2f2;
    cursor: pointer;
}


.tutorial ul li.link:before{
    content: " >";
    position: absolute;
    right: 7%;
    font-weight: bold;
    padding: 10px 0;
    font-size: 15px;
    color: #62a8ea;
}

.tutorial-content img{
    width: 100%;
    margin: 10px 0;
}
.swal2-modal {
  z-index: 1004 !important;
}
