<div ng-class="$ctrl.briefing.projectController ? 'janela-profissional-projeto' : 'janela-profissional-briefing'">
  <!-- NOTE: HEADER PRINCIPAL JANELA  -->
  <!-- FAIXA COM STATUS -->
  <div ng-if="$ctrl.briefing.projectController&&!$ctrl.briefing.isProfessional" class="header-title-janela h-color-{{$ctrl.briefing.Status}}">
    <!-- h-color de acordo com a página do h-color-*** do 1 ao 8 -->
    <span ng-click="$parent.$parent.$parent.$ctrl.isOpen = false;" class="fechar-janela">X</span>
    <span ng-if="$ctrl.briefing.Status == 1&&$ctrl.briefing.offers.Messages" class="titulo-janela">Tarefa em orçamento
      <sub style="bottom:2px">[ID: {{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 2" class="titulo-janela">Tarefa em execução
      <sub style="bottom:2px">[ID: {{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 3" class="titulo-janela">Tarefa em aprovação
      <sub style="bottom:2px">[ID: {{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 4" class="titulo-janela">Tarefa entregue
      <sub style="bottom:2px">[ID: {{$ctrl.briefing.Id}}]</sub>
    </span>
    <span class=" acoes-header-janela ">
    <span id="labelAprovaOrcamento"
      ng-if="$ctrl.briefing.Status == 1&&$ctrl.briefing.SelectedPropose"
      class="txt-acao-header-janela ">
      Aprovar o orçamento e iniciar a tarefa
    </span>
    <a analytics-on="click" analytics-event="Recusou_Entrega" analytics-label="Empresa recusou entrega do profissional" ng-if="$ctrl.briefing.Status == 3" ng-click="$ctrl.briefing.devolveTask($ctrl.briefing, this)" class="btn-icon-header pull-left"
      style="float: left">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
    </a>
    <span ng-if="$ctrl.briefing.Status == 3" class="txt-acao-header-janela alterar-aprovar">
      Alterar
      <br/>tarefa
    </span>
    <hr class="vertical-line" ng-if="$ctrl.briefing.Status == 2 || $ctrl.briefing.Status == 3" width="1">
    <span ng-if="$ctrl.briefing.Status == 2 || $ctrl.briefing.Status == 3" class="txt-acao-header-janela alterar-aprovar">
      Aprovar
    </span>
    
    <!-- NOTE: BOTÕES DIFERENTES -->
    <a analytics-on="click" analytics-event="Enviou_Aprovação" analytics-label="Tarefa enviada para ser aprovada pela Empresa" id="btnAvancaTask" 
    ng-click="$ctrl.briefing.avancaTask($ctrl.briefing, this)" 
    ng-if="$ctrl.briefing.Status == 2"
    class="btn-icon-header">
      <i class="fa fa-check " aria-hidden="true"></i>
    </a>
    <a analytics-on="click" analytics-event="Aprovou_Entrega" analytics-label="Tarefa concluída e aprovada pela Empresa" id="btnAvancaTask" 
    ng-click="$ctrl.briefing.avancaTask($ctrl.briefing, this)" 
    ng-if="$ctrl.briefing.Status == 3"
    class="btn-icon-header">
      <i class="fa fa-check " aria-hidden="true"></i>
    </a>
    <a analytics-on="click" analytics-event="Contratou" analytics-label="Empresa contratou profissional via Tarefa" id="btnAvancaTask" 
    ng-click="$ctrl.briefing.avancaTask($ctrl.briefing, this)" 
    ng-if="$ctrl.briefing.Status == 1&&$ctrl.briefing.SelectedPropose"
    class="btn-icon-header">
      <i class="fa fa-check " aria-hidden="true"></i>
    </a>
    <input type="hidden" value="{{$ctrl.briefing}}">
    <!--<a href="# " class="btn-icon-header "><i class="fa fa-reply " aria-hidden="true "></i></a>
   <a href="# " class="btn-icon-header "><i class="fa fa-times " aria-hidden="true "></i></a>-->
    </span>
  </div>
  <!-- LINHA COM PERFIL -->
  <div ng-if="!$ctrl.briefing.isProfessional || !$ctrl.briefing.projectController" style="background-color: #fff!important"
    ng-class="{ 'bg-grey-100' : $ctrl.briefing.projectController} " class="header-janela ">
    <!-- Botão de fechar caso não esteja na tela de Projetos -->
    <i ng-if="!$ctrl.briefing.projectController" class="icon wb-close cursor " aria-hidden="true " ng-click="$parent.$parent.$parent.$ctrl.isOpen = false"></i>
    <div ng-if="$ctrl.briefing.projectController" class="header-margem col-md-10">
      <div ng-if="$ctrl.briefing.projectController" class="excerpt " ng-bind-html="$ctrl.briefing.Excerpt "></div>
      <figure class="projetos" ng-if="$ctrl.briefing.projectController ">
        <profile-image src="$ctrl.briefing.Freelancer.Photo"></profile-image>
        <div class="nome-profissional">{{$ctrl.briefing.Freelancer.Name}}</div>
        <div class="cargo-profissional">{{$ctrl.briefing.Freelancer.Title}}</div>
        <!--<img class="radius100" src="{{$ctrl.usuario.imagem_perfil}}">-->
        <!--<profile-image src="$ctrl.briefing.offers.Freelancer.Photo"></profile-image>-->
      </figure>
      <div ng-if="$ctrl.briefing.projectController " class="logo-empresa-briefing" style="width:50px!important;">
        <span>Empresa:</span>
        <img base-url ng-src="{{$ctrl.briefing.User.Customer.Logo}} " />
      </div>
    </div>
    <div ng-if="!$ctrl.briefing.projectController " style="width: 100px;float: left;height: 100px;position: relative;margin-left: 55px ">
      <div class="img-profile-50 " style="width: 100px;height: 100px; ">
        <div style="background:url({{$ctrl.baseUrl + $ctrl.briefing.User.Customer.Logo}}) #fff center;background-size: 100% auto;background-repeat:no-repeat; "></div>
      </div>
    </div>
    <figure ng-if="!$ctrl.briefing.projectController">
      <profile-image src="$ctrl.getUserPhoto($ctrl.briefing.User)"></profile-image>
      <p>Escrito por</p>
      <strong>{{$ctrl.briefing.User.Name}}</strong>
    </figure>
    <div class="col-sm-12 col-xs-12" style="margin-left: 70px;">
      <!-- <h4 ng-if="$ctrl.briefing.projectController" class="tiitulo-nome-briefing"></h4> -->
      <div class="titulo-tarefa-campo">
        <a ng-if="$ctrl.briefing.Status < 4" href="javascript:void(0)" title="Click no nome da tarefa para editar" class="btn-edit-title-briefing">
            <i class="icon wb-pencil" aria-hidden="true"></i>
        </a>
          <!-- NOTE: O TITULO QUANDO É STATUS 4 NÃO APARECE -->
        <div ng-if="$ctrl.briefing.Status < 4" title="Editar texto" contenteditable="true" ng-blur="$ctrl.saveTaskName()" id="taskName"></div>
        <div ng-if="$ctrl.briefing.Status == 4" title="Editar texto" id="taskName"></div>

      </div>
    </div>
    <!-- FIXME: PROBLEMAS COM LAYOUT DO VALOR E PRAZO -->
    <div ng-if="$ctrl.briefing.Status > 1" ng-class="{projetos : $ctrl.briefing.projectController}" class="bg-grey-pagto-prazo">
      <div class="label-pagto-prazo" title="Valor negociado">
        Valor do contratado:
        <span class="professional-hired-price">{{$ctrl.briefing.Price | currency : "R$ "}}</span>
        <!--<input class="professional-hired-price" value='{{$ctrl.briefing.Price | currency : "R$ "}}' />-->
        <!--<a href="javascript:void(0)" class="btn-edit-pv-briefing">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                </a>-->
      </div>
      <div class="label-pagto-prazo" title="Prazo restante">
        Entrega estimada:
        <span class="professional-hired-deadlinedays">{{$ctrl.briefing.DeliveryAt | amDateFormat:'DD/MM' }}</span>
        <!--<input class="professional-hired-deadlinedays" value="{{$ctrl.dateTrim($ctrl.briefing.DeliveryAt) }}" />-->
        <!--<a href="javascript:void(0)" class="btn-edit-pv-briefing">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                </a>-->
      </div>
      <!--<button type="button" class="btn btn-primary btn-round pull-right" style="margin-right: 20px;margin-top: 45px;">Liberar adiantamento</button>-->
    </div>
  </div>
  <!-- / HEADER PRINCIPAL CLIENTE -->
  <!-- FAIXA COM STATUS PROFISSIONAL -->
  <div ng-if="$ctrl.briefing.projectController&&$ctrl.briefing.isProfessional" class="header-title-janela s-color-{{$ctrl.briefing.Status}} ">
    <!-- h-color de acordo com a página do h-color-*** do 1 ao 8 -->
    <span ng-click="$parent.$parent.$parent.$ctrl.isOpen = false" class="fechar-janela ">X</span>
    <span ng-if="$ctrl.briefing.Status == 1" class="titulo-janela">Tarefa em orçamento
      <sub style="bottom:2px">[ID:{{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 2" class="titulo-janela">Tarefa em execução
      <sub style="bottom:2px">[ID:{{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 3" class="titulo-janela">Tarefa em aprovação
      <sub style="bottom:2px">[ID:{{$ctrl.briefing.Id}}]</sub>
    </span>
    <span ng-if="$ctrl.briefing.Status == 4" class="titulo-janela">Tarefa entregue
      <sub style="bottom:2px">[ID:{{$ctrl.briefing.Id}}]</sub>
    </span>
    <span class=" acoes-header-janela ">
   <span ng-if="$ctrl.briefing.Status == 2"
    class="txt-acao-header-janela">
    Concluir e enviar para aprovação
   </span>
    <a ng-click="$ctrl.briefing.avancaTask($ctrl.briefing, this)" ng-if="$ctrl.briefing.Status == 2" class="btn-icon-header ">
      <i class="fa fa-check " aria-hidden="true "></i>
    </a>
    <!--<a href="# " class="btn-icon-header "><i class="fa fa-reply " aria-hidden="true "></i></a>
      <a href="# " class="btn-icon-header "><i class="fa fa-times " aria-hidden="true "></i></a>-->
    </span>
  </div>
  <!-- LINHA COM PERFIL PROFISSIONAL -->
  <div ng-if="$ctrl.briefing.projectController&&$ctrl.briefing.isProfessional" class="header-janela row">
    <i ng-if="!$ctrl.briefing.projectController" class="icon wb-close cursor" aria-hidden="true" ng-click="$parent.$parent.$parent.$ctrl.isOpen = false"></i>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="tiitulo-nome-briefing">
            {{$ctrl.briefing.Title}}
            <sub ng-if="!$ctrl.Projeto" class="nome-do-projeto color-project-{{$ctrl.briefing.Project.Color}}">{{$ctrl.briefing.Project.Name}}</sub>
          </h4>
          <div ng-if="$ctrl.briefing.projectController" class="logo-empresa-briefing " style="float: left">
            <img base-url ng-src="{{$ctrl.briefing.User.Customer.Logo}} " />
          </div>
          <div ng-if="!$ctrl.briefing.projectController" style="width: 100px;float: left;height: 100px;position: relative;margin-left: 55px">
            <div class="img-profile-50" style="width: 100px;height: 100px; ">
              <div style="background:url({{$ctrl.baseUrl + $ctrl.briefing.User.Customer.Logo}}) #fff center;background-size: 100% auto;background-repeat:no-repeat;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <figure class="projetos " ng-if="$ctrl.briefing.projectController " style="float: right">
        <sub style="display: block;bottom: -0.9em;text-align: center; right: 70px">Escrito por:</sub>

        <!--<img class="radius100" src="{{$ctrl.usuario.imagem_perfil}}">-->
        <!-- <img class="radius100" base-url ng-src="{{$ctrl.briefing.User.Photo != undefined && $ctrl.briefing.User.Photo != null ? $ctrl.briefing.User.Photo : '/images/user.png'}}">-->
        <profile-image ng-if="!$ctrl.briefing.isProfessional" src="$ctrl.getUserPhoto($ctrl.briefing.offers.Freelancer)"></profile-image>
        <profile-image ng-if="$ctrl.briefing.isProfessional" src="$ctrl.getUserPhoto($ctrl.briefing.User)" style="display: block; position: relative;padding: 0px;left: 29px;"></profile-image>
        <!--<profile-image src="$ctrl.briefing.offers.Freelancer.Photo"></profile-image>-->
          <span class="briefing-written-by">{{$ctrl.briefing.User.Name}}</span>
      </figure>
    </div>
    <div class="col-xs-12">
       <div ng-if="$ctrl.briefing.Status > 1" ng-class="{projetos : $ctrl.briefing.projectController}" class="bg-grey-pagto-prazo">
      <div class="label-pagto-prazo" title="Valor negociado">
        Valor do contratado:
        <span class="professional-hired-price">{{$ctrl.briefing.Price | currency : "R$ "}}</span>
        <!--<input class="professional-hired-price" value='{{$ctrl.briefing.Price | currency : "R$ "}}' />-->
        <!--<a href="javascript:void(0)" class="btn-edit-pv-briefing">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                </a>-->
      </div>
      <div class="label-pagto-prazo" title="Prazo restante">
        Entrega estimada:
        <span class="professional-hired-deadlinedays">{{$ctrl.briefing.DeliveryAt | amDateFormat:'DD/MM'}}</span>
        <!--<input class="professional-hired-deadlinedays" value="{{$ctrl.dateTrim($ctrl.briefing.DeliveryAt) }}" />-->
        <!--<a href="javascript:void(0)" class="btn-edit-pv-briefing">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                </a>-->
      </div>
      <!--<button type="button" class="btn btn-primary btn-round pull-right" style="margin-right: 20px;margin-top: 45px;">Liberar adiantamento</button>-->
    </div>
  </div>
    </div>
  <!-- / HEADER PRINCIPAL JANELA PROFISSIONAL -->
  <div ng-if="!$ctrl.briefing.projectController" class="desc-briefing1">
    <div class="col-sm-9 col-xs-12">
      <h2 class="tiitulo-nome-briefing">
        {{$ctrl.briefing.Title}}
      </h2>
      <p>
        {{$ctrl.briefing.Excerpt}}
      </p>
    </div>
    <!--<div class="col-sm-3 col-xs-12">
      <span class="label-nome-projeto">Nome do projeto</span>
    </div>-->
  </div>
  <div ng-if="$ctrl.briefing.Description" class="desc-briefing1">
    <div class="text-briefing col-sm-11 col-xs-12" ng-bind-html="$ctrl.briefing.Description">
    </div>
    <!--<div class="col-sm-3 col-xs-12">
      <span class="label-nome-projeto">Nome do projeto</span>
    </div>-->
  </div>
  <div class="desc-briefing2">
    <div ng-if="!$ctrl.briefing.projectController" class="content-briefing">
      <div class="text-briefing">
        <div ng-bind-html="$ctrl.briefing.Text"></div>
      </div>
      <div class="anexo-briefing">
        <strong ng-show="$ctrl.briefing.Attachs[0]">Anexos</strong>
        <a base-url href="{{attach.attachUrl}}" target="_blank" ng-repeat="attach in $ctrl.briefing.Attachs track by attach.Id">
                    <i class="icon wb-file"></i>{{attach.attachName}}
                </a>
      </div>
    </div>
    <div ng-if="$ctrl.briefing.projectController" class="anexo-briefing">
      <strong ng-show="$ctrl.briefing.Attachs[0]">Anexos</strong>
      <a base-url ng-href="{{attach.URL}}" target="_blank" ng-repeat="attach in $ctrl.briefing.Attachs track by attach.IdTask">
        <i class="icon wb-file"></i>{{attach.Name}}
      </a>
    </div>
    <h3 class="tiitulo-nome-briefing" ng-show="$ctrl.briefing.Complements.length > 0">
      Complemento de Briefing
    </h3>
    <div class="content-briefing-complement" ng-repeat="briefingComplement in $ctrl.briefing.Complements">
      <div class="text-briefing">
        <div ng-bind-html="briefingComplement.Text"></div>
      </div>
      <div class="anexo-briefing">
        <strong ng-show="briefingComplement.Attachs[0]">Anexos</strong>
        <a base-url href="{{attach.attachUrl}}" target="_blank" ng-repeat="attach in briefingComplement.Attachs track by attach.Id">
          <i class="icon wb-file"></i>{{attach.attachName}}
        </a>
      </div>
    </div>
    <!-- NG-REPEAT DE MENSAGENS PARA BRIEFING -->
    <div ng-if="!$ctrl.briefing.projectController" class="chat-profissional-empresa col-sm-12 col-xs-12">
      <div class="box-msg" ng-repeat="message in $ctrl.briefing.offers.Messages track by $index">
        <figure ng-if="!message.User" ng-click="$ctrl.visualizaPerfil(message.User, message.FreelancerId, $parent)">
          <profile-image src="$ctrl.getUserPhoto(message.User)"></profile-image>
        </figure>
        <figure ng-if="message.User">
          <profile-image src="$ctrl.getUserPhoto(message.User)"></profile-image>
        </figure>
        <div class="txt-msg" style="width:100%;float:left">
          <a href="javascript:void(0);" ng-if="!message.User" ng-click="$ctrl.visualizaPerfil(message.User.Id, message.FreelancerId, $parent, message)">{{$ctrl.getUserName(message.User)}}</a>
          <a class="gray" ng-if="message.User">{{$ctrl.getUserName(message.User)}}</a>
          <div ng-bind-html="message.CreatedAt" style="font-weight: bold;font-style: italic;font-size: 12px;margin: 10px 0;float:right;"></div>
          <div ng-bind-html="message.Text"></div>
          <div class="msg-preco" ng-if="$ctrl.showPrice(message)">
            <span class="preco_prazo">
              <strong>Valor:</strong> {{$ctrl.professional.Price | currency : "R$ "}}</span>
            <span class="preco_prazo">
              <strong>Prazo:</strong> {{$ctrl.professional.DeadlineDays}} dias</span>
          </div>
        </div>
        <button ng-if="$ctrl.showPrice(message)&&!$ctrl.briefing.isProfessional" ng-click="$ctrl.hireProfessional($parent)" type="button"
          class="btn btn-sm btn-primary bt-contratar">
            <i class="icon fa-flag" aria-hidden="true"></i>
            <span class="text">Contratar Profissional</span>
        </button>
        <br/>
        <small ng-if="$ctrl.showPrice(message)&&!$ctrl.briefing.isProfessional" style="margin: 10px;position: relative;clear: both;color: #B3B3B3;left: 72px;bottom: 0;margin-top: 0;/*! float: left; */position: relative;right: 0;display: block;">
          <i class="fa fa-lock"></i>&nbsp;Contrate e pague somente na aprovação</small>
      </div>
    </div>
    <!-- NG-REPEAT DE MENSAGENS PARA PROJETOS -->
    <div ng-if="$ctrl.briefing.projectController" class="chat-profissional-empresa col-sm-12 col-xs-12">
      <div class="box-msg" ng-repeat="message in $ctrl.briefing.offers.Messages track by $index">
        <figure ng-if="!message.User" ng-click="$ctrl.visualizaPerfil(message.User, message.FreelancerId, $parent)">
          <profile-image src="$ctrl.getUserPhoto(message.User)"></profile-image>
        </figure>
        <figure ng-if="message.User">
          <profile-image src="$ctrl.getUserPhoto(message.User)"></profile-image>
        </figure>
        <div class="txt-msg" style="width:100%;float:left">
          <a class="gray" ng-if="message.User">{{$ctrl.getUserName(message.User)}}</a>
          <a ng-if="!message.User" href="javascript:void(0);" ng-click="$ctrl.visualizaPerfil(message.User, message.FreelancerId, $parent)">{{$ctrl.getUserName(message.Freelancer)}}</a>
          <div ng-bind-html="message.CreatedAt" style="font-style: italic;font-size: 12px;margin: 10px 0;float:right;"></div>
          <div ng-bind-html="message.Text"></div>
          <div class="msg-preco" ng-if="!message.User&&message.Price&&$ctrl.briefing.Status == 1">
            <span class="preco_prazo">
              <strong>Valor:</strong> {{message.Price | currency : "R$ "}}</span>
            <span class="preco_prazo">
              <strong>Prazo:</strong> {{message.DeadlineDays}} dias</span>
          </div>
        </div>
        <button ng-if="!message.User&&message.Price&&$ctrl.briefing.Status == 1&&!$ctrl.briefing.isProfessional" ng-click="$ctrl.briefing.avancaTask($ctrl.briefing, this)"
          type="button" class="btn btn-sm btn-primary bt-contratar">
            <i class="icon fa-flag" aria-hidden="true"></i>
            <span class="text">Contratar Profissional</span>
        </button>
        <br/>
        <small ng-if="!message.User&&message.Price&&$ctrl.briefing.Status == 1&&!$ctrl.briefing.isProfessional" style="margin: 10px;position: relative;clear: both;color: #B3B3B3;left: 72px;bottom: 0;margin-top: 0;/*! float: left; */position: relative;right: 0;display: block;">
          <i class="fa fa-lock"></i>&nbsp;Contrate e pague somente na aprovação</small>
      </div>
    </div>
  </div>
  <div class="enviar-mensagem-briefing" ng-show="$ctrl.briefing.Id">
    <div class="col-sm-12 col-xs-12 editor-content editor-content-profissional">
      <figure>
        <div class="img-profile-default">
          <div style="background:url('{{$ctrl.user.imagem_perfil}}');background-size: 100% 100%;"></div>
        </div>
      </figure>
      <div class="campo-enviar-mensagem">
        <form ng-if="$ctrl.briefing.projectController" name="formMessage" ng-submit="$ctrl.sendMessage($ctrl.briefing.projectController)">
          <div id="editor" class="quill-editor-small"></div>
          <div ng-if="$ctrl.showFieldsPriceAndDays()">
            <br>
            <label class="label-input-in">Estimativa de prazo:
              <input type="" placeholder="dias" name="" just-number ng-model="$ctrl.message.DeadlineDays">
            </label>
            <br>
            <label class="label-input-in">Valor:
              <input type="" name="" ui-number-mask="2" ng-model="$ctrl.message.Price" ng-change="$ctrl.calculateCrowdPercentage()">
            </label>
            <label class="separador-label">- 8% da Crowd = </label>
            <label class="label-input-in label-input-in-disable">Total a receber:
              <input type="" name="" disabled="disabled" ng-model="$ctrl.percentageCrowd" ui-number-mask="2">
            </label>
            <label>
            <strong>*</strong><em>Estou ciente de que precisarei emitir Nota Fiscal para receber o meu pagamento.</em></label>
          </div>
          <button type="submit" class="btn btn-block btn-sm btn-primary">Enviar</button>
        </form>
        <form ng-if="!$ctrl.briefing.projectController" name="formMessage" ng-submit="$ctrl.sendMessage()">
          <div id="editor" class="quill-editor-small"></div>
          <div ng-if="$ctrl.showFieldsPriceAndDays()">
            <br>
            <label class="label-input-in">Estimativa de prazo:
              <input type="" name="" placeholder="dias" just-number ng-model="$ctrl.message.DeadlineDays">
            </label>
            <br>
            <label class="label-input-in">Valor:
              <input type="" name="" ui-number-mask="2" ng-model="$ctrl.message.Price" ng-change="$ctrl.calculateCrowdPercentage()">
            </label>
            <label class="separador-label">- 8% da Crowd = </label>
            <label class="label-input-in label-input-in-disable">Total a receber:
              <input type="" name="" disabled="disabled" ng-model="$ctrl.percentageCrowd" ui-number-mask="2">
            </label>
            <label>
              <!-- <input type="checkbox" name="" ng-model="$ctrl.aceitaEmitirNota">--> <strong>*</strong><em>Estou ciente de que precisarei emitir Nota Fiscal para receber o meu pagamento.</em></label>
          </div>
          <button type="submit" class="btn btn-block btn-sm btn-primary">Enviar</button>
        </form>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="alert alert-danger" ng-show="$ctrl.error">
        <strong>Ooops...</strong> {{$ctrl.errorMessage}}
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'limit':5}"></toaster-container>