<div id="gestao-briefing">
    <div class="page-main">
        <div class="page-content">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <!-- LISTA DE PROPOSTAS PARA LOOPING -->
                            <div class="lista-propostas lista-freelance cursor" ng-repeat="briefing in $ctrl.briefings track by $index" ng-click="$ctrl.slideOpen(briefing, $ctrl.user.id)">
                                <div class="col-sm-9 col-xs-6 foto-name">
                                    <figure>
                                        <!--<span><span ng-show="15" class="badge badge-primary pull-right ng-binding">15</span></span>-->
                                        <!--<div class="img-profile-50">
                      <div style='background:url({{proposta.Freelancer.Photo}});background-size: 100% 100%;'></div>
                    </div>-->
                                        <div style="width: 50px;float: left;height: 50px;position: relative;    margin-right: 16px;">
                                            <span ng-show="briefing.MessagesCount || !briefing.Read" id='{{"message-alert-"+briefing.Id}}' class="badge badge-primary pull-right" style="right: -5px;top: -3px; position: absolute;">
                          {{briefing.MessagesCount == 0 && !briefing.Read ? 1 : briefing.MessagesCount > 0 && !briefing.Read ? (briefing.MessagesCount + 1) : 1}}
                      </span>
                                            <profile-image src="briefing.User.Photo"></profile-image>
                                        </div>
                                        <a href="javascript:void(0);">{{briefing.Title}}</a>
                                        <div ng-bind-html="briefing.ShortText" class="txt-mobile-briefing"></div>
                                    </figure>
                                </div>
                                <div class="col-sm-3 col-xs-2 data-envio" style="margin:0;">
                                    <!--<span>{{proposta.data.hora}}:{{proposta.data.minuto}}</span>-->
                                    <!-- <span>{{ proposta.CreatedAt | date: 'H:m' }}</span>-->
                                    <span>{{ briefing.CreatedAt}}</span>
                                    <br/>
                                    <div ng-show="briefing.Contracted" style="color: #26cf97;text-align: right;">
                                        <i class="icon fa-user" aria-hidden="true"></i> Profissional já contratado...
                                    </div>
                                    <!-- <div ng-hide="briefing.Read">
                    <span class="badge badge-info" style="background-color: #5bc0de;color: #FFF;">Novo</span>
                  </div> -->
                                    <!-- TIRAR COMENTARIO QUANDO FOR COLOCAR LABELS DE PREÇO E PRAZO DINAMICAMENTE. -->
                                    <!--<span class="label-radius-right">Prazo: 555 Dias</span><span class="label-radius-left">Valor: R$ 555</span>-->
                                </div>
                            </div>
                            <div class="sem-mensagem" ng-hide="$ctrl.briefings.length > 0">
                                <i class="fa fa-envelope-o"></i>
                                <br> Você ainda não possui Briefings.
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 id="briefing-arquivado" class="briefing-arquivado none">Briefing arquivado.</h4>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center; margin: 20px 0;">
            <h2>Bem Vindo!</h2>
            <span>Tudo o que você precisa saber sobre a Comunidade Crowd</span>
        </div>
    </div>
    <div class="row" style="text-align:center;padding-bottom: 100px;">
        <div class="tutorial">
            <div style="background: url('../assets/img/incremente-seu-perfil.png') no-repeat center center;
          background-size: cover;height: 200px;margin-bottom: 20px;" class="col-sm-12"></div>
            <div class="page-content panel">
                <div class="panel-body">
                    <div class="thumbnail ">
                        <div class="caption ">
                            <h3 style="text-align:left;">Incremente seu perfil</h3>
                            <p>A Crowd oferece uma platataforma completa de publicação das suas experiências, habilidades, atividades, idiomas e muito mais. Quanto mais completo seu perfil, maiores as suas chances de ser encontrado e selecionado.</p>
                            <a href="#/profile" class="btn btn-round btn-primary" role="button" style="margin-top: 60px;">Incremente seu perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tutorial">
            <div style="background: url('../assets/img/entenda.png') no-repeat center center;
          background-size: cover;height: 200px;margin-bottom: 20px;" class="col-sm-12"></div>
            <div class="page-content panel">
                <div class="panel-body">
                    <div class="thumbnail ">
                        <div class="caption ">
                            <h3>Entenda como funciona</h3>
                            <ul style="position:relative;">
                                <li class="link" ng-click="$ctrl.openTutorial(0)">Quer saber como as empresas te encontram? Confira!</li>
                                <li class="link" ng-click="$ctrl.openTutorial(1)">Tarefa Aprovada? Conheça o método de pagamento Crowd</li>
                                <!-- <li class="link">Conheça nossas dicas para que você aproveite a plataforma ainda mais</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tutorial">
            <div style="background: url('../assets/img/novidades.png') no-repeat center center;
          background-size: cover;height: 200px;margin-bottom: 20px;" class="col-sm-12"></div>
            <div class="page-content panel">
                <div class="panel-body">
                    <div class="thumbnail ">
                        <div class="caption ">
                            <h3>Novidades em breve!</h3>
                            <p>Novos recursos que vão turbinar seu perfil e oferecer ainda mais oportunidades:</p>
                            <ul style="padding-left: 30px;position:relative;">
                                <li class="text">Vídeo e Portfolio no perfil: mais sobre você e seu trabalho.</li>
                                <li class="text">Trabalha em equipe?Adicione colegas e monte seu time.</li>
                                <li class="text">Jobs públicos: jobs abertos para todos os profissionais da Crowd.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pageslide ps-open="$ctrl.isOpen" ng-class="{'is-open' : $ctrl.isOpen}" ps-key-listener="true" ps-click-outside="true" onopen="$ctrl.pageslideOnOpen" onclose="$ctrl.pageslideOnClose" ui-view="briefing-details" class="pageslide-900"></pageslide>
<pageslide ps-open="$ctrl.isOpenProfile" ps-key-listener="true" ps-click-outside="true" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>
<pageslide ps-open="$ctrl.isOpenTutorial" ps-key-listener="true" ps-click-outside="true" ui-view="tutorial" class="tutorial-900"></pageslide>
<toaster-container toaster-options="{'limit':5}"></toaster-container>
