<div class="janela-profissional-briefing">
  <div class="header-janela" style="background: #5ea6ec;height:90px;">
    <i style="color:#fff;" class="icon wb-close cursor" aria-hidden="true" ng-click="$parent.$ctrl.isOpenTutorial = false"></i>
    <h2 style="color:#fff;display: inline-block;margin: 10px 50px 0;">{{$ctrl.tutorial.title}}</h2>
    <div style="float:right">

        <h5 style="width: 150px;display: inline-block;color:#fff;vertical-align: middle;">{{$ctrl.tutorial.next.title}}</h5>
        <a ng-click="$parent.$ctrl.openTutorial($ctrl.tutorial.next.href)" style="cursor:pointer;">
            <i style="font-size: 28px;margin: 0 50px 0 10px;color: #fff;vertical-align: middle;" class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
  </div>
  <div class="desc-briefing1">
    <div class="col-sm-10 col-xs-12 tutorial-content" ng-bind-html="$ctrl.tutorial.content">

    </div>
  </div>
</div>
