@charset "UTF-8";
@font-face {
  font-family: "octicons";
  src: url("./octicons.eot?-fvbane");
  src: url("./octicons.eot?#iefix-fvbane") format("embedded-opentype"), url("./octicons.woff?-fvbane") format("woff"), url("./octicons.ttf?-fvbane") format("truetype"), url("./octicons.svg?-fvbane#octicons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="oi-"],
[class*=" oi-"] {
  font-family: "octicons";
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0); }

.oi-alert:before {
  content: '\f02d'; }

/*  */
.oi-arrow-down:before {
  content: '\f03f'; }

/*  */
.oi-arrow-left:before {
  content: '\f040'; }

/*  */
.oi-arrow-right:before {
  content: '\f03e'; }

/*  */
.oi-arrow-small-down:before {
  content: '\f0a0'; }

/*  */
.oi-arrow-small-left:before {
  content: '\f0a1'; }

/*  */
.oi-arrow-small-right:before {
  content: '\f071'; }

/*  */
.oi-arrow-small-up:before {
  content: '\f09f'; }

/*  */
.oi-arrow-up:before {
  content: '\f03d'; }

/*  */
.oi-microscope:before,
.oi-beaker:before {
  content: '\f0dd'; }

/*  */
.oi-bell:before {
  content: '\f0de'; }

/*  */
.oi-book:before {
  content: '\f007'; }

/*  */
.oi-bookmark:before {
  content: '\f07b'; }

/*  */
.oi-briefcase:before {
  content: '\f0d3'; }

/*  */
.oi-broadcast:before {
  content: '\f048'; }

/*  */
.oi-browser:before {
  content: '\f0c5'; }

/*  */
.oi-bug:before {
  content: '\f091'; }

/*  */
.oi-calendar:before {
  content: '\f068'; }

/*  */
.oi-check:before {
  content: '\f03a'; }

/*  */
.oi-checklist:before {
  content: '\f076'; }

/*  */
.oi-chevron-down:before {
  content: '\f0a3'; }

/*  */
.oi-chevron-left:before {
  content: '\f0a4'; }

/*  */
.oi-chevron-right:before {
  content: '\f078'; }

/*  */
.oi-chevron-up:before {
  content: '\f0a2'; }

/*  */
.oi-circle-slash:before {
  content: '\f084'; }

/*  */
.oi-circuit-board:before {
  content: '\f0d6'; }

/*  */
.oi-clippy:before {
  content: '\f035'; }

/*  */
.oi-clock:before {
  content: '\f046'; }

/*  */
.oi-cloud-download:before {
  content: '\f00b'; }

/*  */
.oi-cloud-upload:before {
  content: '\f00c'; }

/*  */
.oi-code:before {
  content: '\f05f'; }

/*  */
.oi-color-mode:before {
  content: '\f065'; }

/*  */
.oi-comment-add:before,
.oi-comment:before {
  content: '\f02b'; }

/*  */
.oi-comment-discussion:before {
  content: '\f04f'; }

/*  */
.oi-credit-card:before {
  content: '\f045'; }

/*  */
.oi-dash:before {
  content: '\f0ca'; }

/*  */
.oi-dashboard:before {
  content: '\f07d'; }

/*  */
.oi-database:before {
  content: '\f096'; }

/*  */
.oi-clone:before,
.oi-desktop-download:before {
  content: '\f0dc'; }

/*  */
.oi-device-camera:before {
  content: '\f056'; }

/*  */
.oi-device-camera-video:before {
  content: '\f057'; }

/*  */
.oi-device-desktop:before {
  content: '\f27c'; }

/*  */
.oi-device-mobile:before {
  content: '\f038'; }

/*  */
.oi-diff:before {
  content: '\f04d'; }

/*  */
.oi-diff-added:before {
  content: '\f06b'; }

/*  */
.oi-diff-ignored:before {
  content: '\f099'; }

/*  */
.oi-diff-modified:before {
  content: '\f06d'; }

/*  */
.oi-diff-removed:before {
  content: '\f06c'; }

/*  */
.oi-diff-renamed:before {
  content: '\f06e'; }

/*  */
.oi-ellipsis:before {
  content: '\f09a'; }

/*  */
.oi-eye-unwatch:before,
.oi-eye-watch:before,
.oi-eye:before {
  content: '\f04e'; }

/*  */
.oi-file-binary:before {
  content: '\f094'; }

/*  */
.oi-file-code:before {
  content: '\f010'; }

/*  */
.oi-file-directory:before {
  content: '\f016'; }

/*  */
.oi-file-media:before {
  content: '\f012'; }

/*  */
.oi-file-pdf:before {
  content: '\f014'; }

/*  */
.oi-file-submodule:before {
  content: '\f017'; }

/*  */
.oi-file-symlink-directory:before {
  content: '\f0b1'; }

/*  */
.oi-file-symlink-file:before {
  content: '\f0b0'; }

/*  */
.oi-file-text:before {
  content: '\f011'; }

/*  */
.oi-file-zip:before {
  content: '\f013'; }

/*  */
.oi-flame:before {
  content: '\f0d2'; }

/*  */
.oi-fold:before {
  content: '\f0cc'; }

/*  */
.oi-gear:before {
  content: '\f02f'; }

/*  */
.oi-gift:before {
  content: '\f042'; }

/*  */
.oi-gist:before {
  content: '\f00e'; }

/*  */
.oi-gist-secret:before {
  content: '\f08c'; }

/*  */
.oi-git-branch-create:before,
.oi-git-branch-delete:before,
.oi-git-branch:before {
  content: '\f020'; }

/*  */
.oi-git-commit:before {
  content: '\f01f'; }

/*  */
.oi-git-compare:before {
  content: '\f0ac'; }

/*  */
.oi-git-merge:before {
  content: '\f023'; }

/*  */
.oi-git-pull-request-abandoned:before,
.oi-git-pull-request:before {
  content: '\f009'; }

/*  */
.oi-globe:before {
  content: '\f0b6'; }

/*  */
.oi-graph:before {
  content: '\f043'; }

/*  */
.oi-heart:before {
  content: '\2665'; }

/* ♥ */
.oi-history:before {
  content: '\f07e'; }

/*  */
.oi-home:before {
  content: '\f08d'; }

/*  */
.oi-horizontal-rule:before {
  content: '\f070'; }

/*  */
.oi-hubot:before {
  content: '\f09d'; }

/*  */
.oi-inbox:before {
  content: '\f0cf'; }

/*  */
.oi-info:before {
  content: '\f059'; }

/*  */
.oi-issue-closed:before {
  content: '\f028'; }

/*  */
.oi-issue-opened:before {
  content: '\f026'; }

/*  */
.oi-issue-reopened:before {
  content: '\f027'; }

/*  */
.oi-jersey:before {
  content: '\f019'; }

/*  */
.oi-key:before {
  content: '\f049'; }

/*  */
.oi-keyboard:before {
  content: '\f00d'; }

/*  */
.oi-law:before {
  content: '\f0d8'; }

/*  */
.oi-light-bulb:before {
  content: '\f000'; }

/*  */
.oi-link:before {
  content: '\f05c'; }

/*  */
.oi-link-external:before {
  content: '\f07f'; }

/*  */
.oi-list-ordered:before {
  content: '\f062'; }

/*  */
.oi-list-unordered:before {
  content: '\f061'; }

/*  */
.oi-location:before {
  content: '\f060'; }

/*  */
.oi-gist-private:before,
.oi-mirror-private:before,
.oi-git-fork-private:before,
.oi-lock:before {
  content: '\f06a'; }

/*  */
.oi-logo-github:before {
  content: '\f092'; }

/*  */
.oi-mail:before {
  content: '\f03b'; }

/*  */
.oi-mail-read:before {
  content: '\f03c'; }

/*  */
.oi-mail-reply:before {
  content: '\f051'; }

/*  */
.oi-mark-github:before {
  content: '\f00a'; }

/*  */
.oi-markdown:before {
  content: '\f0c9'; }

/*  */
.oi-megaphone:before {
  content: '\f077'; }

/*  */
.oi-mention:before {
  content: '\f0be'; }

/*  */
.oi-milestone:before {
  content: '\f075'; }

/*  */
.oi-mirror-public:before,
.oi-mirror:before {
  content: '\f024'; }

/*  */
.oi-mortar-board:before {
  content: '\f0d7'; }

/*  */
.oi-mute:before {
  content: '\f080'; }

/*  */
.oi-no-newline:before {
  content: '\f09c'; }

/*  */
.oi-octoface:before {
  content: '\f008'; }

/*  */
.oi-organization:before {
  content: '\f037'; }

/*  */
.oi-package:before {
  content: '\f0c4'; }

/*  */
.oi-paintcan:before {
  content: '\f0d1'; }

/*  */
.oi-pencil:before {
  content: '\f058'; }

/*  */
.oi-person-add:before,
.oi-person-follow:before,
.oi-person:before {
  content: '\f018'; }

/*  */
.oi-pin:before {
  content: '\f041'; }

/*  */
.oi-plug:before {
  content: '\f0d4'; }

/*  */
.oi-repo-create:before,
.oi-gist-new:before,
.oi-file-directory-create:before,
.oi-file-add:before,
.oi-plus:before {
  content: '\f05d'; }

/*  */
.oi-primitive-dot:before {
  content: '\f052'; }

/*  */
.oi-primitive-square:before {
  content: '\f053'; }

/*  */
.oi-pulse:before {
  content: '\f085'; }

/*  */
.oi-question:before {
  content: '\f02c'; }

/*  */
.oi-quote:before {
  content: '\f063'; }

/*  */
.oi-radio-tower:before {
  content: '\f030'; }

/*  */
.oi-repo-delete:before,
.oi-repo:before {
  content: '\f001'; }

/*  */
.oi-repo-clone:before {
  content: '\f04c'; }

/*  */
.oi-repo-force-push:before {
  content: '\f04a'; }

/*  */
.oi-gist-fork:before,
.oi-repo-forked:before {
  content: '\f002'; }

/*  */
.oi-repo-pull:before {
  content: '\f006'; }

/*  */
.oi-repo-push:before {
  content: '\f005'; }

/*  */
.oi-rocket:before {
  content: '\f033'; }

/*  */
.oi-rss:before {
  content: '\f034'; }

/*  */
.oi-ruby:before {
  content: '\f047'; }

/*  */
.oi-screen-full:before {
  content: '\f066'; }

/*  */
.oi-screen-normal:before {
  content: '\f067'; }

/*  */
.oi-search-save:before,
.oi-search:before {
  content: '\f02e'; }

/*  */
.oi-server:before {
  content: '\f097'; }

/*  */
.oi-settings:before {
  content: '\f07c'; }

/*  */
.oi-shield:before {
  content: '\f0e1'; }

/*  */
.oi-log-in:before,
.oi-sign-in:before {
  content: '\f036'; }

/*  */
.oi-log-out:before,
.oi-sign-out:before {
  content: '\f032'; }

/*  */
.oi-squirrel:before {
  content: '\f0b2'; }

/*  */
.oi-star-add:before,
.oi-star-delete:before,
.oi-star:before {
  content: '\f02a'; }

/*  */
.oi-stop:before {
  content: '\f08f'; }

/*  */
.oi-repo-sync:before,
.oi-sync:before {
  content: '\f087'; }

/*  */
.oi-tag-remove:before,
.oi-tag-add:before,
.oi-tag:before {
  content: '\f015'; }

/*  */
.oi-telescope:before {
  content: '\f088'; }

/*  */
.oi-terminal:before {
  content: '\f0c8'; }

/*  */
.oi-three-bars:before {
  content: '\f05e'; }

/*  */
.oi-thumbsdown:before {
  content: '\f0db'; }

/*  */
.oi-thumbsup:before {
  content: '\f0da'; }

/*  */
.oi-tools:before {
  content: '\f031'; }

/*  */
.oi-trashcan:before {
  content: '\f0d0'; }

/*  */
.oi-triangle-down:before {
  content: '\f05b'; }

/*  */
.oi-triangle-left:before {
  content: '\f044'; }

/*  */
.oi-triangle-right:before {
  content: '\f05a'; }

/*  */
.oi-triangle-up:before {
  content: '\f0aa'; }

/*  */
.oi-unfold:before {
  content: '\f039'; }

/*  */
.oi-unmute:before {
  content: '\f0ba'; }

/*  */
.oi-versions:before {
  content: '\f064'; }

/*  */
.oi-watch:before {
  content: '\f0e0'; }

/*  */
.oi-remove-close:before,
.oi-x:before {
  content: '\f081'; }

/*  */
.oi-zap:before {
  content: '\26A1'; }

/* ⚡ */
