body {
    padding: 0;
    font-family: "Open Sans",sans-serif;
    background-color: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.main-container🔥 {
  width: 100%;
  height: 5000px;
  background-color: #f6f6f6;
  height: auto;
  padding-top: 100px;
}
.container-center {
    width: 80%;
    height: 1100px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 20px 50px 20px;
}
.logo-box {
    display: block;
    padding-bottom: 15px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #f6f6f6;
}
.left-col, 
.right-col {
    width: 45%;
    float: left;
    padding: 20px;
    height: 700px;
}
.img-profile-default {
    display: inline-block;
    margin-right: 17px;
    float: left;
    margin-left: 0;
    width: 80px !important;
    height: 80px;
    position: relative;
    left: 0;
    padding-bottom: 80px !important;
    border-radius: 50px;
}
.img-profile-default > div {
    height: 80px;
    border-radius: 50px;
}
.action-data {
    float: left;
    max-width: 160px;
}
.user-name,
.user-role {
    margin: 0;
}
.user-name {
    font-size: 25px;
    font-weight: lighter;
    color: #66a8e7;
}
.user-role {
    font-size: 14px;
    font-weight: lighter;
    color: #66a8e7;
}
.star-rating {
    width: 100px;
    height: 20px;
}
.primary-btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border-radius: 150px;
    outline: none;
    background-color: #66a8e7;
    color: #fff;
    text-align: center;
    margin-top: 35px;
    font-size: 0.9rem;
    font-weight: lighter;
    text-decoration: none;
  }
  .primary-btn:active {
    background-color: #2482dd;
  }
  .center-block {
    display: inline-block;
    text-align: center;
  }
  .right-block {
    display: inline-block;
    text-align: center;
    float: right;  
  }
  .action-data {
      display: inline-block;
      float: left;
  }
  .info-card {
      height: 120px;
  }
  .text-block {
    font-weight: lighter;
    font-size: 0.8rem;
    opacity: 0.8;
  }
  .left-force {
      position: relative;
      right: 13%;
  }
  .section-subheading {
    opacity: 0.8;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  .skill-tag {
    border: 1px solid #57C7D4;
    border-radius: 5px;
    padding: 3px 14px;
    margin-right: 4px;
    margin-bottom: 10px;
    display: inline-block;
    color: #57C7D4;
    font-weight: lighter;
  }
  .info-category {
      float: left;
      opacity: 0.6;
      padding-right: 19.2%;
      margin-top: 10px;
      font-weight: lighter;
  }
  .left-bar {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 40px;
      border-top: 1px solid #EFEFF0;
      border-bottom: 1px solid #EFEFF0;
      padding-left: 5%;
  }
  .left-text {
      width: 70%;
  }
  .category-title {
    opacity: 1;
    font-weight: 600;
  }
  .no-bottom {
      margin-bottom: 3px !important;
  }
  .section-block {
      height: 180px;
  }
  .left-block {
      display: inline-block;
      width: 48%;
  }
  .left-block-mini {
      display: inline-block;
      width: 20%;
      float: left;
  }
  .left-block-mini-2 {
    display: inline-block;
    float: left;
    width: 50%;
}
  .left-block > h3 {
      font-weight: lighter;
      opacity: 0.8;
      line-height: 10px;
  }
  .exp-role {
      font-size: 18px;
      color: #59656C;
      font-weight: lighter;
  }
  .exp-company {
      font-size: 16px;
      color: #59656C;
      font-weight: lighter;
  }
  .exp-block {
      height: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      border-bottom: 1px solid #EFEFF0;
  }
  .exp-date {
      font-size: 15px;
      color: #92989D;
      opacity: 0.6;
      -webkit-font-smoothing: antialiased;
  }
  .date-border {
      border: 1px solid #7B8389;
      padding: 5px;
      border-radius: 5px;
  }
  .right-text {
      text-align: right;
      vertical-align: top;
  }
  .bottom-pad {
      padding-bottom: 10px;
  }
  .section-subheading-2 {
    opacity: 0.8;
    font-size: 1rem;
    font-weight: lighter;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }
  .redes-sociais-icones {
    margin-top: 5px;
    color: #A7B0B8;
    text-align: left;
    position: relative;
    width: 100%;
}
.redes-sociais-icones > a {
    font-size: 20px;
    padding: 6px;
}
.last-eval {
    margin-top: 60px;
}
.rating-company {
    display: block;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 1%;
    border-radius: 50px;
  }
  .rating-company.rating-person {
      display: block;
      width: 50px;
      padding-left: 5px;
      height: 50px;
      margin-top: 5px;
  }
  .left-block-mini-2 > h4 {
     line-height: 25px;
     color: #77909B;
     font-weight: lighter;
  }
  .project-name {
      font-weight: 800;
  }
  .person-name {
      color: #58646C;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
  }
  .rated-stars {
    margin: 0;
    margin-top: 75px;
    font-size: 15px;
  }
  .row-rating {
      margin-bottom: 10px;
      margin-top: 10px;
      height: 150px;
      padding-bottom: 10px;
      border-bottom: 1px solid #EFEFF0;
  }
  .footer {
      height: 100px;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
  }
  .menu-item {
    display: inline-block;
    padding: 25px;
    text-decoration: none;
}
.menu-item > a {
    color: #8B8B8B;
    text-decoration: none;
}
.left-pad {
    padding-left: 6%;
}
.w-38 {
    width: 38% !important;
}
.right-footer > h5,
.right-footer > img {
    margin-top: 31px;
    color: #8B8B8B;
    display: inline-block;
}
.right-footer > h5 {
    margin-right: 1%;
}
.right-footer > img {
    margin-right: 5%;
}
.twitter {
    color: #00aced;
}
.facebook {
    color: #3B5998;
}
.linkedin {
    color: #0e76a8;
} 
.instagram {
    color: #bc2a8d
}
.behance {
   color: #1769ff;
}
.dribbble {
    color: #ea4c89;
}
.github {
    color: black;
}
.no-portfolio {
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
