.janela-default-pageslide {
    background: #ddd;
    width: 100%;
    max-width: 820px;
    min-height: 600px;
    position: absolute;
    right: 0px;
    top: 80px;
    -webkit-box-shadow: -2px 1px 11px #d9d9d9;
            box-shadow: -2px 1px 11px #d9d9d9;
}


.result-list li:hover {
  background-color: #c3c3c3;
}
.result-list {
    border: 1px solid #e4eaec;
    padding: 0 10px;
    width: 170px !important;
    z-index: 9;
}
.profissional-input {
    width: 200px !important;
}


/* Header 1 */

.header-title-janela {
    background: #5EC2EC;
    float: left;
    width: 100%;
    height: 66px;
    color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.header-title-janela .fechar-janela {
    font-size: 17px;
    cursor: pointer;
    font-weight: 300;
    position: absolute;
    left: 15px;
    height: 23px;
    line-height: 23px;
    width: 22px;
    text-align: center;
    color: #fff;
    top: 24px;
    text-decoration: none;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.header-title-janela .fechar-janela:hover {
    opacity: 0.6;
}

.titulo-janela {
    text-transform: uppercase;
    float: left;
    display: block;
    height: 100%;
    line-height: 72px;
    font-size: 16px;
    padding-left: 70px;
    letter-spacing: 2px;
}

.txt-acao-header-janela {
    height: 100%;
    display: inline;
    float: left;
    font-size: 12px;
    width: 82px;
    text-align: right;
    padding: 13px 0;
    margin-right: 14px;
    line-height: 13px;
}

span.txt-acao-header-janela.alterar-aprovar {
    text-align: center;
    width: 63px;
    padding: 23px 0;
    line-height: 10px;
    margin-right: 10px;
}

.acoes-header-janela {
    float: right;
    height: 100%;
    padding-right: 25px;
    padding-top: 4px;
    position: absolute;
    right: 12.5%;
}

.btn-icon-header {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    float: right;
    display: block;
    text-align: center;
    line-height: 31px;
    font-size: 17px;
    margin-top: 15px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    cursor: pointer;
}

.btn-icon-header:hover {
    color: #fff;
    opacity: 0.7;
}


/**
Cores dos headers para Clientes e Adimns
**/

.h-color-1 {
    background: rgb(94, 194, 236);
    background: -webkit-gradient(linear, left top, right top, color-stop(72%, rgba(94, 194, 236, 1)), color-stop(72%, rgba(94, 194, 236, 1)), color-stop(93%, rgba(74, 203, 208, 1)));
    background: -webkit-linear-gradient(left, rgba(94, 194, 236, 1) 72%, rgba(94, 194, 236, 1) 72%, rgba(74, 203, 208, 1) 93%);
    background: -o-linear-gradient(left, rgba(94, 194, 236, 1) 72%, rgba(94, 194, 236, 1) 72%, rgba(74, 203, 208, 1) 93%);
    background: linear-gradient(to right, rgba(94, 194, 236, 1) 72%, rgba(94, 194, 236, 1) 72%, rgba(74, 203, 208, 1) 93%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5ec2ec', endColorstr='#4acbd0', GradientType=1);
}

.h-color-2 {
    background: #4ACBD0;
}

.h-color-3 {
    background: rgb(74, 208, 159);
    background: -webkit-gradient(linear, left top, right top, color-stop(49%, rgba(74, 208, 159, 1)), color-stop(62%, rgba(58, 137, 113, 1)), color-stop(87%, rgba(38, 50, 56, 1)));
    background: -webkit-linear-gradient(left, rgba(74, 208, 159, 1) 49%, rgba(58, 137, 113, 1) 62%, rgba(38, 50, 56, 1) 87%);
    background: -o-linear-gradient(left, rgba(74, 208, 159, 1) 49%, rgba(58, 137, 113, 1) 62%, rgba(38, 50, 56, 1) 87%);
    background: linear-gradient(to right, rgba(74, 208, 159, 1) 49%, rgba(58, 137, 113, 1) 62%, rgba(38, 50, 56, 1) 87%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4ad09f', endColorstr='#263238', GradientType=1);
}

.h-color-4 {
    background: #263238;
}


/**
Cores dos headers para Profissionais/Freelancers
**/

.s-color-1 {
    background: #5EC2EC;
}

.s-color-2 {
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, #4acbd0), to(#4ad09f));
    background: -webkit-linear-gradient(left, #4acbd0 65%, #4ad09f 100%);
    background: -o-linear-gradient(left, #4acbd0 65%, #4ad09f 100%);
    background: linear-gradient(to right, #4acbd0 65%, #4ad09f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4acbd0', endColorstr='#4ad09f', GradientType=1);
}

.s-color-3 {
    background: #4ACBD0;
}

.s-color-4 {
    background: #263238;
}

.s-color-1,
.s-color-2,
.s-color-3,
.s-color-4,
.h-color-1,
.h-color-2,
.h-color-3,
.h-color-4 {
    background-position: 810px;
    max-width: 900px;
}

.nome-do-projeto-janela {
    color: #77909B;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.nome-do-projeto-janela:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #263238;
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.title-labels>div {
    position: relative;
}

.labels-header2-janela+a {
    margin-top: 13px;
    position: absolute;
    right: -19px;
}

.janela-avaliacao .title-labels {
    margin-top: -20px;
}

.janela-avaliacao .labels-header2-janela {
    float: right;
}

.name-janela-avaliacao {
    margin-left: 17px;
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    float: left;
    width: 90%;
}

.categoria-janela-avaliacao {
    margin-left: 17px;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    float: left;
    width: 90%;
}

.mascara-avaliacao {
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.85);
    top: 145px;
    z-index: 2;
    bottom: 0px;
}

.content-avaliacao h3 {
    font-weight: 300;
    font-size: 18px;
}

.itens-avaliacao {
    margin-top: 30px;
    padding-left: 67px;
}

.titulo-item {
    font-weight: 300;
}

.content-janela.content-avaliacao p {
    font-size: 12px;
}

.content-profile-avaliado {
    margin-top: 30px;
}

.barra-avaliacao {
    margin-top: 10px;
    height: 5px;
    width: 90%;
    background: #4AD09F;
    border-radius: 10px;
}

.content-avaliacao+.btn {
    margin-top: 33px;
    padding: 13px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 1px 0px 4px #737373;
            box-shadow: 1px 0px 4px #737373;
}


/* CORES */

.color-project-red:before {
    background-color: #d6494b
}

.color-project-pink:before {
    background-color: #fd57d0
}

.color-project-lightpink:before {
    background-color: #fab4b4
}

.color-project-purple:before {
    background-color: #6d45bc
}

.color-project-lightpurple:before {
    background-color: #a58add
}

.color-project-greypurple:before {
    background-color: #d2c5ec
}

.color-project-blue:before {
    background-color: #37a9b7
}

.color-project-lightblue:before {
    background-color: #77d6e1
}

.color-project-xlightblue:before {
    background-color: #baeaef
}

.color-project-orange:before {
    background-color: #e98f2e
}

.color-project-yellow:before {
    background-color: #f9cd48
}

.color-project-lightyellow:before {
    background-color: #f8e59b
}


/* header 2 */

.header2-janela {
    background: #FBFCFC;
    width: 100%;
    float: left;
    border-bottom: #DEDEDE 1px solid;
    padding: 25px 25px 25px 55px;
}

.form-header2-janela>input {
    margin-bottom: 5px;
}

.form-header2-janela>input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-weight: 700;
    font-size: 16px;
    color: #636464;
}

.form-header2-janela>input::-moz-placeholder {
    /* Firefox 19+ */
    font-weight: 700;
    font-size: 16px;
    color: #636464;
}

.form-header2-janela>input:-ms-input-placeholder {
    /* IE 10+ */
    font-weight: 700;
    font-size: 16px;
    color: #636464;
}

.form-header2-janela>input:-moz-placeholder {
    /* Firefox 18- */
    font-weight: 700;
    font-size: 16px;
    color: #636464;
}

.txt-header2 {
    color: #636464;
}

.txt-header2 strong {
    font-size: 16px;
    font-weight: 600;
}

.txt-header2 strong {
    font-size: 16px;
    font-weight: 600;
}

.txt-header2 .descricao-header2 {
    font-size: 12px;
    margin-top: 22px
}

.profissional-selecionado figure {
    margin: 0px;
    float: right;
    width: 38px !important;
}

.profissional-selecionado figure div {
    width: 38px !important;
}

.visao-profissional .profissional-selecionado {
    margin-top: 37px;
}

.title-labels {
    font-size: 12px;
    height: 100%;
    padding-top: 10px;
    float: right;
    text-align: right;
    padding-right: 10px;
    width: 75%;
}

.mask-thumb-refresh {
    display: block;
    position: absolute;
    top: 0px;
    height: 38px;
    width: 38px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 10px;
}

.no-padding {
    padding: 0px;
}

.labels-header2-janela {
    float: left;
    border-radius: 15px;
    margin-top: 10px;
    width: 128px;
    overflow: hidden;
}

.labels-header2-janela>div {
    width: 50%;
    text-align: center;
    float: left;
    padding: 5px;
}

.label-price {
    background: #E6F1F8;
}

.label-price sub {
    line-height: 22px
}

.label-time {
    background: #263238;
    color: #fff;
}

.content-janela {
    background: #fff;
    min-height: 300px;
    position: relative;
    width: 100%;
    padding: 25px 70px 25px 70px;
    float: left;
    border-bottom: #ECECEC solid 1px;
}

.content-chat-janela {
    background: #fff;
    min-height: 100px;
    width: 100%;
    padding: 0px 0px 0px 70px;
    float: left;
}

.content-janela img {
    max-width: 100%;
}

.placeholder-arrastar-arquivo-janela {
    background: #FBFCFC;
    height: 470px;
    border: 4px dashed #DADBDB;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.placeholder-arrastar-arquivo-janela.pos_absolute {
    position: absolute;
    top: 0;
    background: rgba(251, 252, 252, 0.9);
    z-index: 9;
    right: 15px;
    left: 15px;
    bottom: 0px;
    height: auto;
}

.placeholder-arrastar-arquivo-janela .arraste-aqui {
    position: absolute;
    text-align: center;
    height: 70px;
    top: 50%;
    width: 100%;
    margin-top: -35px;
}

.placeholder-arrastar-arquivo-janela .arraste-aqui i {
    font-size: 32px;
}

.content-anexos {
    width: 90%;
    float: right;
}

.content-anexos>a i {
    margin-right: 10px;
    display: inline-block;
    color: #ccc;
}

.content-anexos>a {
    margin-right: 15px;
    display: inline-block;
}

.aprovar-orcamento-janela {
    float: left;
    width: 100%;
    padding-top: 10px;
}

.orcamento-valor-prazo {
    float: left;
    display: inline-block;
    background: #E6F1F8;
    padding: 0px 10px;
    border-radius: 30px;
    height: 28px;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    margin-right: 50px;
}

.orcamento-valor-prazo span {
    height: 28px;
    display: inline-block;
    padding: 0 10px;
}

.orcamento-valor-prazo span:nth-child(1) {
    border-right: 1px solid #fff;
}

.orcamento-valor-prazo strong {
    font-weight: 300;
}

.btn-aprovar-orcamento {
    background: #5EC2EC;
    padding: 0px 20px;
    border-radius: 30px;
    height: 28px;
    color: #fff;
    border: 0px;
    font-size: 12px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.btn-aprovar-orcamento:hover {
    background: #52abd0;
}

.arquivos-para-aprovacao .file-item {
    float: left;
    position: relative;
    margin-right: 3px;
    width: 25%;
}

.arquivos-para-aprovacao .file-item img {
    width: 100%;
    height: 160px;
}

.arquivos-para-aprovacao {
    margin-top: 20px;
}

.arquivos-para-aprovacao .file-item .mask-link-hover {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #a7a7a7;
    opacity: 0;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.arquivos-para-aprovacao .file-item .mask-link-hover:hover {
    opacity: 1;
}

.arquivos-para-aprovacao .file-item .mask-link-hover i {
    margin-top: 42%;
}

.txt-msg .content-anexos {
    width: 100%;
    margin-top: 10px;
}

.txt-msg .content-anexos>a {
    font-size: 14px !important;
    text-decoration: none !important
}

.box-enviar-msg-janela {
    background: #FBFCFC;
    padding-bottom: 30px;
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #ECECEC;
    padding-left: 70px;
    padding-top: 30px;
}


/* RESPONSIVO */

@media (max-width: 768px) {
    .labels-header2-janela {
        display: inline-block;
        float: none;
        margin-top: 7px;
        margin-bottom: -8px;
    }
    .title-labels {
        padding-top: 0px;
    }
    .profissional-selecionado {
        margin-top: 17px;
        position: relative;
        padding: 0 15px;
    }
    .visao-profissional .profissional-selecionado {
        margin-top: 17px;
    }
}

@media (max-width: 500px) {
    .titulo-janela {
        font-size: 14px;
        padding-left: 50px;
    }
    .acoes-header-janela {
        padding-right: 15px;
    }
    .header2-janela,
    .content-janela,
    .content-chat-janela {
        padding-left: 50px
    }
}

@media (max-width: 430px) {
    .titulo-janela {
        width: 219px;
        line-height: 17px;
        padding-top: 17px;
    }
}


/* ############################################# */

.page-content {
    color: #76838f !important;
}

.text-align-right {
    text-align: right;
}

.ordernar-tarefa {
    margin: 30px 0 10px 0;
}

.ordernar-tarefa a {
    margin-right: 15px;
}

.responsavel-projeto {
    display: inline-block;
    position: relative;
    /*min-width: 213px;*/
}

.selecionar-profissional-tarefa,
.selecionar-projeto-tarefa {
    width: 100%;
    min-width: 215px;
    height: 200px;
    overflow-x: hidden !important;
    background: #fff;
    border-radius: 5px 5px 0 0;
    position: absolute;
    right: 0px;
    top: 40px;
    border-bottom: none;
    -webkit-box-shadow: 0px 0px 10px #ededed;
            box-shadow: 0px 0px 10px #ededed;
    max-height: 300px;
    /*    overflow-y: auto;*/
}

.selecionar-profissional-tarefa li {
  padding: 10px 1px 7px 3px;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px 5px 0;
}

.dropdown-menu span {
    max-width: 77%;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: inline-block;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
}

.selecionar-profissional-tarefa .dropdown-menu.ng-isolate-scope {
    width: 100%;
    border-top: none !important;
    border-radius: 0 0 5px 5px;
}

.selecionar-projetos {
    margin-left: 3%;
    display: inline-block;
    position: relative;
    min-width: 215px;
    margin-right: 10px;
}

.select-projeto {
    text-align: left;
    max-width: 250px;
}

.select-projeto i {
    line-height: 22px;
}

.selecionar-projeto-tarefa {
    width: auto;
}

.selecionar-profissional-tarefa li,
.selecionar-projeto-tarefa li {
    /*    line-height: 41px;*/
    font-size: 13px;
    color: #77909B;
    /*    padding: 7px 0px 7px 15px;*/
    cursor: pointer;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

.selecionar-projeto-tarefa li {
    line-height: 18px
}

.selecionar-profissional-tarefa li:hover,
.selecionar-projeto-tarefa li:hover {
    background: #F6F8F8
}

.selecionar-profissional-tarefa figure {
    width: 37px;
    height: 37px;
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    margin-right: 10px;
}

.header-projetos {
    margin-bottom: 25px
}

.header-projetos hr {
    border: 0px;
    border-bottom: 1px solid #F5F5F6;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
}

.header-projetos h1 {
    font-weight: 300;
    font-size: 18px;
    color: #434D53;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 23px;
}

.header-projetos h1.menor {
    margin-top: 23px;
    margin-bottom: 0;
}

.acoes-header-projetos {
    float: right;
    text-align: right;
}

.nova-tarefa {
    max-width: 45%;
    margin-bottom: 10px;
    display: inline-block;
}

.btn-ver-relatorio {
    margin-right: 25px;
    font-size: 12px;
}

.add-responsavel {
    color: #fff;
    background: #E7E5E5;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 51px;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 25px;
}

.add-responsavel:hover,
.add-responsavel:focus {
    color: #fff;
}

.content-colunas-tarefas {
    width: 100%;
    overflow-x: auto;
    background: #FBFBFB;
    -webkit-box-shadow: 0px 1px 3px #afafaf;
            box-shadow: 0px 1px 3px #afafaf;
    border-radius: 10px;
    padding: 5px 0 0 0;
    height: auto;
    float: left;
}

.content-colunas {
    width: 100%;
    min-width: 800px;
    min-height: 760px;
    height: auto;
    float: left;
}

.header-coluna-tarefa {
    width: 100%;
    min-width: 800px;
    margin-bottom: 15px;
    float: left;
}

.header-coluna-tarefa>div {
    width: 24.95%;
    padding: 0 3px;
    float: left;
}

.header-coluna-tarefa .header-col-name {
    background: #000;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 5px 0;
}

.header-coluna-tarefa .header-col-name.hcn-color1 {
    background: #5EC2EC;
}

.header-coluna-tarefa .header-col-name.hcn-color2 {
    background: #4ACBD0;
}

.header-coluna-tarefa .header-col-name.hcn-color3 {
    background: #4AD09F;
}

.header-coluna-tarefa .header-col-name.hcn-color4 {
    background: #263238;
}

.content-colunas-tarefas .coluna-tarefa {
    width: 24.95%;
    min-width: 200px;
    float: left;
    min-height: 760px;
    height: 100%;
    border-right: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 3px;
}

.content-colunas-tarefas .coluna-tarefa:nth-last-child(1) {
    border: 0px;
}

.tarefa-item {
    background: #fff;
    padding: 13px;
    position: relative;
    border-bottom: #E9E8E8 1px solid;
    border-top: #E9E8E8 1px solid;
    margin-bottom: 5px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    min-height: 100px
}

.tarefa-item:hover {
    cursor: pointer;
    background: #f7f7f7;
    /* min-height: 120px;*/
}

.tarefa-item .notificacao-tarefa {
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    background: #f0403d;
    position: absolute;
    font-size: 12px;
    border-radius: 100%;
    margin-top: 10px;
    right: -5px;
    top: -5px;
    text-shadow: 1px 1px 10px black;
    line-height: 20px;
}
.notificacao-tarefa {
    margin-top: 7px;
}

.nome-do-projeto {
    color: #77909B;
    font-size: 13px;
    font-weight: 300;
    margin-top: 0px;
    display: inline-block;
    width: 95%;
    padding-right: 0px;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    line-height: 22px;
}

.nome-tarefa {
    width: 100%;
    color: #76787A;
    font-weight: 300;
    min-height: 34px;
    margin-bottom: 25px;
    padding-right: 0px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    max-height: 46px
}

.btn-group {
    vertical-align: top !important;
}

.foto-responsavel+.nome-tarefa {
    padding-right: 35px;
}

.nome-projeto-cronograma {
    width: 100%;
    bottom: 0px;
    position: absolute;
    min-height: 27px
}

.cronograma-do-projeto+.nome-do-projeto {
    padding-right: 50px;
}

.nome-do-projeto:before {
    content: '';
    width: 8px;
    height: 8px;
    /*    background: #263238;*/
    display: inline-block;
    border-radius: 100%;
    margin-right: 10px;
}

.cronograma-do-projeto {
    color: #FF8400;
    display: inline-block;
    width: 45px;
    position: absolute;
    right: 28px;
    top: 3px;
    font-size: 11px;
}

.cronograma-do-projeto i {
    margin-right: 5px;
}

.foto-responsavel {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}


/* scaffolding */


/* ----------- */

.tt-dropdown-menu,
.gist {
    text-align: left;
}

.ng-invalid {
    border-color: red !important;
    /* just for visual */
}


/* site theme */


/* ---------- */

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.twitter-typeahead,
input {
    max-width: 100%
}

.typeahead:focus {
    border: none;
}

.tt-query {
    /*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
}

.tt-hint {
    color: #999
}

.tt-menu {
    max-width: 100%;
    width: 422px;
    /*    margin: 12px 0;*/
    padding: 8px 0;
    background-color: #fff;
    border: none;
    /*    -webkit-border-radius: 8px;*/
    /*    -moz-border-radius: 8px;*/
    /*    border-radius: 8px;*/
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    /*    background-color: #0097cf;*/
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.chat-profissional-empresa .box-msg .txt-msg a:hover {
    color: #62a8ea
}

.chat-profissional-empresa .box-msg .txt-msg a,
.chat-profissional-empresa .box-msg .txt-msg a.gray {
    -webkit-animation: 3s ease-in 1s;
    animation: 3s ease-in 1s;
    font-size: 13px;
    color: #62a8ea;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.chat-profissional-empresa .box-msg .txt-msg a.gray {
    color: gray;
    text-decoration: none;
}





/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background:white
}
/* flip the pane when hovered */
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width:100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; 
  background-color: #fff !important;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
    right: 0;
    width: auto;
    padding: 13px;
}
.bt-excluir-projeto {
    right: 38px;
    position: absolute;
    bottom: 5px;
}
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 2px 2px 5px #d2d2d2, -2px -2px 5px #e6e6e6;
          box-shadow: 2px 2px 5px #d2d2d2, -2px -2px 5px #e6e6e6;
}


.vertical.flip-container {
    width:100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

  .vertical .back {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  .vertical.flip-container .flipper {
    -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
        transform-origin: 100% 50%; /* half of height */
  }

.vertical.flip-container.active-del .flipper  {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .bt-cart-del{
     font-size: 11px;
    padding: 2px 12px;
  }

.title-editable{
    font-weight: 300;
    margin-left: 7px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 2px!important;
    z-index: 2;
    position: relative;
}

.title-editable[contenteditable=true]:focus{-webkit-box-shadow:none;box-shadow:none;outline:0;background:#f4f4f4}
.title-editable[contenteditable=true]:focus:before {
    opacity: 0;
}
.title-editable:before {
    font-family: "Web Icons";
    content: "";
    color:#7f838f;
    font-size:14px;
    margin-left:-10px;
    margin-right:10px;
}
.pencil-editable-title{
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
}