<style type="text/css">#briefing {width: 860px;}
#briefing input,#briefing textarea{background: #FBFCFC;}
#briefing .by{text-align: center;color: #434D53; border-bottom:1px solid #ECECEC; padding-bottom: 30px;}
#briefing .by p{margin-bottom: 0px; font-weight: 300;}
#briefing .by .empresa{max-width: 200px;}
#briefing .colaboradores-convidados{font-weight: 300; font-size: 16px; text-align: center; }
#briefing .btn-adicionar-mais{margin: auto;margin-bottom: 30px; display: inherit;}
#briefing h3{font-weight: 300;  color: #000;  font-size: 16px;}
#briefing .txt-placeholder{ font-size: 12px;}
#briefing .profissional-selec {width: 100%;float: left;margin-bottom: 0px;min-height: 120px;min-height: 127px;}
#briefing .profissional-selec .avatar-profissional {width: 60px;height: 60px;margin: auto;position: relative;}
#briefing .profissional-selec legend {font-size: 14px;text-align: center;color: #77909B;font-weight: 500;margin-top: 5px;}
#briefing .profissional-selec em {color: #77909B;text-align: center;width: 100%;display: block; padding: 5px; font-style: normal;margin-top: -5px;font-weight: 400;font-size: 13px; line-height: 13px;}
#briefing .btn-selecinar-colaboradores{ width: 100%;margin-top: 20px;}

#briefing .input-nome-briefing::-webkit-input-placeholder {color: #000; font-size: 14px; font-weight: 600; }
#briefing .input-nome-briefing:-moz-placeholder {color: #000; font-size: 14px; font-weight: 600; }
#briefing .input-nome-briefing::-moz-placeholder {color: #000; font-size: 14px; font-weight: 600; }
#briefing .input-nome-briefing:-ms-input-placeholder {color: #000; font-size: 14px; font-weight: 600; }

#briefing figure.avatar-profissional > span {position: absolute;background: #333;top: 0px;right: 0px;font-size: 12px;padding: 5px;border-radius: 100%;height: 20px;width: 20px;text-align: center;line-height: 12px;transition:all linear 0.2s;box-sizing: border-box;}
#briefing figure.avatar-profissional > span:hover {  background: #C73E3E;}
#briefing .prof-max-size{  max-width: 382px;}


@media screen and (max-width: 860px ){
	#briefing{ width: 100%;}
}
@media screen and (max-width: 479px ){
	#briefing .profissional-selec {width: 50%;}
	}</style><div class="page-content"><div class="row"><div class="col-sm-10" id="briefing"><div class="col-sm-3 col-left-briefing"><figure class="by"><img class="radius100" src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg" width="70" height="70"><p>Escrito por</p><strong>Bruno Ponzini</strong> <img class="empresa" src="https://www.scad.edu/sites/default/files/styles/swarm16x7_992/public/Logos/Crispin-Porter-Bogusky_logo.jpg?itok=KghGZSEp" width="100%" height="auto"></figure><h2 class="colaboradores-convidados">Colaboradores<br>Convidados</h2><button type="button" class="btn btn-sm btn-primary btn-adicionar-mais" data-toggle="button" data-more="#exampleMoreless"><i class="icon wb-plus text" aria-hidden="true"></i> <span class="text">Adicionar</span></button><div id="profissionais-selecionados" class="profissionais-selecionados"><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div><div class="profissional-selec"><figure class="avatar-profissional"><span style="cursor:pointer">X</span> <img src="http://getbootstrapadmin.com/remark/global/portraits/3.jpg"></figure><legend>Leandro Pitta</legend><em>Programador</em></div></div></div><div class="col-sm-9"><h3>Novo Briefing</h3><div class="row"><div class="col-sm-6 col-xs-6"><input type="text" class="form-control input-nome-briefing" placeholder="Nome do Briefing"></div><div class="col-sm-6 col-xs-6"><input type="text" class="form-control" placeholder="Projeto (Ex: Identidade de Marca)"></div></div><h3>Descreva seu projeto em 2 linhas</h3><div class="row"><div class="col-sm-12 col-xs-12"><textarea type="text" class="form-control txt-placeholder">Resuma seu projeto em uma descrição curta e direta. Essa será a primeira informação vista pelos colaboradores.</textarea></div></div><h3 class="">Briefing Completo</h3><div class="row"><div class="col-sm-12 col-xs-12"><textarea type="text" class="form-control" rows="10"></textarea></div><div class="col-sm-12 col-xs-12"><button type="button" class="btn btn-sm btn-primary btn-selecinar-colaboradores" data-toggle="button" data-more="#exampleMoreless"><span class="text">Selecionar colaboradores</span></button></div></div></div></div></div></div>