<container class="content change-password">
  <row>
    <columns
      small="12"
      large="6"
    >
    <h2 style="font-family: 'Open Sans', sans-serif; color:#616568; font-size:24px;">
      Olá *|NOME|*,
    </h2>
    <p style="font-family: 'Open Sans', sans-serif; color:#616568; font-size:15px; line-height:18px;">
      Clique no botão abaixo e altere sua senha.
    </p>
    </columns>
  </row>
  <row>
    <columns>
    <a class="call-to-action"
      href="https://www.crowd.br.com/login/recuperar-senha.php?email=*|EMAIL|*&hash=*|ID|*"
      title="Alterar Senha"
    >
      Alterar Senha
    </a>
    </columns>
  </row>
</container>