﻿
@{
    Layout = null;
}

<h3 class="font-size-24">Esqueceu sua senha</h3>
<p>
    Preencha o campo a baixo e em breve enviaremos um e-mail para recuperação de senha.
</p>
<form id="form-forget" method="post" action="@Url.Action("ForgetPassword", "Login")">
    @if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("sucesso"))
    {
        <div class="alert dark alert-alt alert-success alert-dismissible">Em alguns minutos você receberá um e-mail.</div>
    }
    else if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error"))
    {
        <div class="alert dark alert-alt alert-danger alert-dismissible">Cadastro não encontrado.</div>
    }

    <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <label class="sr-only" for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Recuperar senha</button>
    </div>

    <div class="form-group clearfix" style="text-align:center;">
        <a class="btn back-login" href="#" title="Voltar">Voltar</a>
    </div>
</form>



