﻿
@{
    Layout = null;
}
<h3 class="font-size-24">Cadastre-se</h3>
<p>Faça parte da rede de profissionais da Crowd. É através dessa rede que a Crowd realiza 100% dos seus trabalhos. Entre e corra o risco de ser selecionado para um job.
</p>
<form id="form-cadastro" action="@Url.Action("Register","SingIn")" method="post" role="form" enctype="multipart/form-data">
    
    <div class="form-group">
        <div style="text-align: center;width: 100%;">
            <img id="showPhoto" src="@Url.Content("~/Content/images/default-user-image.png")" class="img-circle" 
                 style="width: 80px;max-width: 80px;min-width: 80px;max-height: 80px;min-height: 80px;display: inline-block;margin: 0 0 20px 0;">
        </div>
        <div>
            <input type="file" id="photo" class="form-control" name="picture" accept="image/*" onchange="showImagem(this, '#showPhoto')">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="Name">Nome Completo</label>
        <input type="text" class="form-control" name="Name" placeholder="Nome Completo" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="Email">Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Email" required value="@ViewBag.Email" >
    </div>
    <div class="form-group">
        <label class="sr-only" for="Phone">Telefone</label>
        <input type="text" class="form-control phone-mask" name="Phone" placeholder="Telefone" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Country">País</label>
        <input type="text" class="form-control" name="Country" placeholder="País" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="State">Estado</label>
        <input type="text" class="form-control" name="State" placeholder="Estado" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="City">Cidade</label>
        <input type="text" class="form-control" name="City" placeholder="Cidade" required>
    </div>



    <div class="form-group">
        <label class="sr-only" for="Availability">Disponibilidade</label>
        <select name="Availability" class="form-control select" data-placeholder="Disponibilidade" required>
            <option></option>
            <option value="2">Parcial</option>
            <option value="1">Integral</option>
        </select>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Title">Profissão</label>
        <input type="text" class="form-control" name="Title" placeholder="Profissão" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Skype">Skype</label>
        <input type="text" class="form-control" name="Skype" placeholder="Skype" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Price">Valor hora*</label>
        <input type="text" class="form-control" name="Price" placeholder="Valor hora*" required>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Portfolio">Portfolio</label>
        <input type="text" class="form-control url-mask" name="Portfolio" placeholder="Portfolio" />
    </div>

    <div class="form-group">
        <label class="sr-only" for="Segments">Segmento</label>
        <select name="segments" class="form-control" data-placeholder="Segmento" multiple required>
            <option></option>
            @for (int i = 0; i < ViewBag.Segment.Count; i++)
            {
                <option value="@ViewBag.Segment[i].Id">@ViewBag.Segment[i].Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Categorys">Categoria</label>
        <select name="CategoryId" class="form-control select" data-placeholder="Categoria" required>
            <option></option>
            @for (int i = 0; i < ViewBag.Category.Count; i++)
            {
                <option value="@ViewBag.Category[i].Id">@ViewBag.Category[i].Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Skill">Habilidades</label>
        <select name="skill" class="form-control" placeholder="Habilidades" multiple required>
            <option></option>
            @for (int i = 0; i < ViewBag.Skill.Count; i++)
            {
                <option value="@ViewBag.Skill[i].Id">@ViewBag.Skill[i].Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Description">Descrição</label>
        <textarea class="form-control" name="Description" placeholder="Descrição"></textarea>
    </div>

    <div class="form-group">
        <label class="sr-only" for="Password">Senha</label>
        <input type="password" class="form-control" name="password" placeholder="Senha" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="PasswordCheck">Confirme a senha</label>
        <input type="password" class="form-control" name="passwordCheck" placeholder="Confirme a senha" required>
    </div>

    <div class="form-group clearfix">
        <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
            <input type="checkbox" name="term" required>
            <label for="term"></label>
        </div>
        <p class="margin-left-40">Ao clicar inscrever, você concorda com  os nossos <b><a href="~/Content/pdf/POLIITICA_DE_PRIVACIDADE_TERMOS_DE_USO.pdf" title="Termos" target="_blank">Termos</a></b>.</p>
    </div>
    <button type="submit" class="btn btn-primary btn-block" style="background:#000;border-color:#fff;">Cadastrar</button>

    <div class="form-group clearfix" style="text-align:center;">
        <a class="btn back-login" href="#" title="Voltar">Voltar</a>
    </div>
</form>

