﻿
@{
    Layout = null;
}
<h3 class="font-size-24">Login</h3>
<p>
    Insira seu email no campo abaixo.
</p>
@if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error"))
{
    <div class="alert dark alert-alt alert-danger alert-dismissible">Já existe um cadastro com esse e-mail.</div>
}
else if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error-freela"))
{
    <div class="alert dark alert-alt alert-danger alert-dismissible">Cadastro não encontrado.</div>
}
<form id="form-login" action="@Url.Action("Index","Login", new { email = ""})" method="post">
    <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <label class="sr-only" for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail" required>
    </div>
    @*<div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <label class="sr-only" for="inputPassword">Senha</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Senha" required>
        @if (ViewBag.Error != null)
        {
            <small class="help-block">Usuário e/ou senha inválidos</small>
        }
    </div>*@
    
    <div class="form-group clearfix" style="margin-bottom:5px;text-align:center;">
        <a href="#" class="btn forget_password">Esqueceu sua senha?</a>
    </div>
    @*<div class="form-group clearfix" style="margin-bottom:10px;text-align:center;">
        <div id="new_user" class="btn">Já tem cadastro?</div>
    </div>*@
    <button type="submit" class="btn btn-primary btn-block" style="background:#000;border-color:#fff;">Entrar</button>
    <button id="cadastrar" type="button" class="btn btn-primary btn-block" style="margin-top:20px;">Cadastrar</button>
</form>