﻿
@{
    ViewBag.Title = "_NewUser";
    Layout = null;
}

<h3 class="font-size-24">Não tem acesso</h3>
<p>
    Seu cadastro já consta em nossa plataforma! Como passamos por uma evolução agora você pode cadastrar uma senha para atualizar seu perfil e acessar briefings de jobs que você selecionado.
</p>
<form id="form-new-user" method="post" action="@Url.Action("NewUser", "Login")">
    <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <label class="sr-only" for="inputEmail">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="E-mail" value="@ViewBag.Email" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </div>
    <div class="form-group clearfix" style="text-align:center;">
        <a class="btn back-login" href="#" title="Voltar">Voltar</a>
    </div>
</form>
