﻿
@{
    ViewBag.Title = "_Password";
    Layout = null;
}

<h3 class="font-size-24">Login</h3>
<p>
    Seja muito bem vindo de volta. Sempre é bom manter seu perfil atualizado para aumentar as chances de ser selecionado para um job.
</p>
<form id="form-new-user" method="post" action="@Url.Action("Index","Login")">
    <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <label class="sr-only" for="inputEmail">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="E-mail" value="@ViewBag.Email" required>
    </div>
    <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        @if (ViewBag.Error != null)
        {
            <small class="help-block">Usuário e/ou senha inválidos</small>
        }
    </div>
    <div class="form-group clearfix" style="margin-bottom:5px;text-align:center;">
        <a href="#" class="btn forget_password">Esqueceu sua senha?</a>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" style="background:#000;border-color:#fff;">Entrar</button>
    </div>
    <div class="form-group clearfix" style="text-align:center;">
        <a class="btn back-login" href="#" title="Voltar">Voltar</a>
    </div>
</form>
