﻿
@{
    Layout = null;
}

<h3 class="font-size-24">Altere sua Senha</h3>
<p style="width: 380px;">
    Insira sua senha no campo abaixo.
</p>
<form id="form-recovery" method="post" action="@Url.Action("RecoverPassword", "Login")">
    @if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error"))
    {
        <div class="alert dark alert-alt alert-danger alert-dismissible">Erro ao alterar sua senha.</div>
    }
    <input type="hidden" name="hash" value="@ViewBag.Hash" />
    <input type="hidden" name="email" value="@ViewBag.Email" />
    <div class="form-group">
        <label class="sr-only" for="password">Senha</label>
        <input type="password" class="form-control" name="password" placeholder="Senha" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Alterar senha</button>
    </div>
</form>



