﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Crowd - Cadastre-se</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/site.min.css">    
    <link rel="stylesheet" href="~/Content/examples/css/pages/register-v2.css">
    <link rel="stylesheet" href="~/Content/css/register.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="~/Content/vendor/select2/select2.min.css" />    

</head>
<body class="page-register-v2 layout-full" style="overflow:hidden;">
    <div id="fb-root"></div>
        <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=1591349317821611";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="col-md-12 col-sm-12 col-xs-12 page-register-container">
        <div class="col-md-8 col-lg-9  page-register-content hidden-xs hidden-sm">
            <div class="page-register-menu hidden-sm hidden-xs">
                <h1><img src="~/Content/images/crowd.png" width="100"></h1>
                <ul>
                    <li class="page-register-menu-item page-register-menu-item-home active"><a href="#" title="Home" data-content="page-register-home">HOME</a></li>
                    <li class="page-register-menu-item page-register-menu-item-depoimentos"><a href="#" title="Depoimentos" data-content="page-register-depoimentos">DEPOIMENTOS</a></li>
                </ul>
            </div>
            <div class="page-register-depoimentos page-register-panel hidden-xs">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/h15kbmgFWVw" frameborder="0" allowfullscreen class="video-depoimento"></iframe>

                <div class="page-register-depoimentos-menu">
                    <ul>
                        <li>
                            <a href="#" title="Video 01" data-video="h15kbmgFWVw">
                                <img src="//i.ytimg.com/vi/h15kbmgFWVw/default.jpg" alt="Video 01" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Video 02" data-video="Ys_CYMjuLhY">
                                <img src="//i.ytimg.com/vi/Ys_CYMjuLhY/default.jpg" alt="Video 02" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Video 03" data-video="YO7ENmwem9U">
                                <img src="//i.ytimg.com/vi/YO7ENmwem9U/default.jpg" alt="Video 03" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Video 03" data-video="AVmYqbE_CY4">
                                <img src="//i.ytimg.com/vi/AVmYqbE_CY4/default.jpg" alt="Video 03" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Video 03" data-video="YbeF0s8B9As">
                                <img src="//i.ytimg.com/vi/YbeF0s8B9As/default.jpg" alt="Video 03" />
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Video 03" data-video="1HWK--zVscU">
                                <img src="//i.ytimg.com/vi/1HWK--zVscU/default.jpg" alt="Video 03" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-register-home page-register-panel hidden-xs">
                <div class="page-register-home-content">
                    <h2>Vamos<br> ser Parceiros ?</h2>
                    <p>
                        Já somos mais de 2000 profissionais cadastrados e atuando legalmente,<br>
                        acreditamos que o melhor trabalho vem do melhor ambiente e da liberdade<br>
                        de poder criar no momento certo de cada um.<br>
                        <strong>Venha trabalhar conosco!</strong>
                    </p>
                    <h3>
                        + 2.000
                        <small>Profissionais</small>
                    </h3>
                    <h3>
                        + R$ 200.000,00
                        <small>Pagos aos nossos Profissionais</small>
                    </h3>

                    <div class="page-register-roles">
                        <img src="~/Content/images/funcoes.png" title="Tipos de profissionais" />
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-4 col-lg-3 col-sm-12 page-register-main">
            @if (ViewBag.Form.ToString().Equals("recovery"))
            {
                Html.RenderPartial("_RecoveryPassword", "SingIn");
            }
            else {
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div id="painel-login" class="panel" style="@(ViewBag.Form.ToString().Equals("login") ? "" : "display:none;")">
                        @{Html.RenderPartial("_Login", "SingIn");}
                    </div>
                    <div id="painel-cadastrar" class="panel" style="@(ViewBag.Form.ToString().Equals("register") ? "" : "display:none;")">
                        @Html.Action("Formulary", "SingIn")
                    </div>
                    <div id="painel-forget" class="panel" style="@(ViewBag.Form.ToString().Equals("forget") ? "" : "display:none;")">
                        @{Html.RenderPartial("_ForgetPassword", "SingIn");}
                    </div>
                    <div id="painel-new-user" class="panel" style="@(ViewBag.Form.ToString().Equals("newUser") ? "" : "display:none;")">
                        @{Html.RenderPartial("_NewUser", "SingIn");}
                    </div>

                    <div id="painel-password" class="panel" style="@(ViewBag.Form.ToString().Equals("pass") ? "" : "display:none;")">
                        @{Html.RenderPartial("_Password", "SingIn");}
                    </div>
                </div>
            }
            <br />
            <footer class="page-copyright">
                <p>© @DateTime.Now.Year. Agência Crowd Todos os direitos reservados.</p>

                <div class="page-copyright-social">
                    

                    <div class="page-copyright-social-right">
						<a href="https://www.facebook.com/agenciacrowd/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/ag%C3%AAncia-crowd?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9194576%2Cidx%3A2-1-2%2CtarId%3A1455301186229%2Ctas%3Aagencia+crowd"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" href="https://plus.google.com/109322428270639576204"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    
    <!-- Core  -->
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/slick-carousel/slick.min.js"></script>
    <script src="~/Content/js/cidades-estados-1.4-utf8.js"></script>
    <script src="~/Content/js/jquery.maskedinput.min.js"></script>
    <script src="~/Content/js/jquery.maskMoney.min.js"></script>

    <script src="~/Content/js/sections/register.js"></script>
  
</body>
</html>