/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-code-editor .page {
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px); }
  .page-code-editor .page-main, .page-code-editor .page-content {
    padding: 0;
    height: 100%; }

.page-code-editor .page-aside-inner {
  height: 100%; }

.page-code-editor .treeview .list-group-item.node-selected {
  background-color: #f3f7f9; }
  .page-code-editor .treeview .list-group-item.node-selected, .page-code-editor .treeview .list-group-item.node-selected .node-icon {
    color: #62a8ea; }

.page-code-editor .CodeMirror {
  height: 100%; }
