/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-forgot-password {
  background-color: #f3f7f9; }
  .page-forgot-password p {
    color: #a3afb7; }
  .page-forgot-password form {
    width: 250px;
    margin: 30px auto; }
