/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-content .card-title
{
    margin-bottom: 0;
}

.page-content .card-block
{
    padding: 12px 20px;
}

@media (max-width: 479px)
{
    .page-header-tabs .nav-tabs-line .nav-link
    {
        padding: 5px 12px;
    }
}
