/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-gallery-grid .card {
  margin-bottom: 0;
  border: none; }

.page-gallery-grid .card, .page-gallery-grid .cover, .page-gallery-grid .cover-image {
  height: 100%;
  border-radius: 0; }
