/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-locked:before
{
    background-image: url('../../images/lockscreen.jpg');
}

.page-locked .avatar
{
    margin-bottom: 15px;
}

.page-locked .locked-user
{
    margin-bottom: 35px;
}

.page-locked form
{
    width: 300px;
    margin: 21px auto;
}
