/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-register:before
{
    background-image: url('../../images/login.jpg');
}

.page-register form
{
    width: 340px;
    margin: 21px auto;
}

@media (max-width: 479px)
{
    .page-register form
    {
        width: auto;
    }
}
