/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-search-form {
  margin-bottom: 35px; }

.page-search-title {
  font-size: 26px; }

.page-search .list-group-item {
  padding-top: 10px;
  padding-bottom: 10px; }
  .page-search .list-group-item > h4 {
    margin-bottom: 5px; }
    .page-search .list-group-item > h4 a {
      color: #526069;
      text-decoration: none; }
      .page-search .list-group-item > h4 a:hover {
        color: #37474f;
        text-decoration: none; }
  .page-search .list-group-item > p:last-child {
    margin-bottom: 0; }
