/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.example .animation-example {
  display: inline-block;
  cursor: pointer; }

.animation-delay-example button {
  -webkit-animation-name: fade-scale-02;
  -o-animation-name: fade-scale-02;
  animation-name: fade-scale-02;
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.touch .animation-delay-example:not(.hover) button,
.animation-delay-example:not(:hover) button {
  -webkit-animation-name: none;
  -o-animation-name: none;
  animation-name: none; }
