/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.lightbox-block {
  max-width: 600px;
  padding: 15px 20px;
  margin: 40px auto;
  overflow: auto;
  background: #fff;
  border-radius: 3px; }
