/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-content .blocks > li {
  margin-bottom: 30px; }
  .page-content .blocks > li > .card {
    margin-bottom: 0; }
