/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.rating-hint {
  display: inline;
  margin-left: 10px;
  vertical-align: sub; }
