/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.example {
  position: relative;
  padding: 10px;
  border: 1px solid #e4eaec; }
  .example .scrollable-horizontal .scrollable-content {
    width: 1400px; }
