<h3>Imagem do perfil</h3>
<div class="container" style="height:400px;">
  <div class="row">
    <div class="col-md-12">
      <div class="img-container" style="width:100%">
        <div id="image"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 docs-buttons">
      <div class="btn-group">
        <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
          <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
          <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
            <span class="fa fa-upload"> Selecionar imagem</span>
          </span>
        </label>
        <button type="button" id="up" ng-click="closeDialog()">Up!</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $jQuery('#image').cropper({
    aspectRatio: 10 / 9,
    minContainerHeight: 300,
    minCanvasHeight: 100,
  });

  var blobURL;
  var inputImage = $jQuery('#inputImage');
  var URL        = window.URL || window.webkitURL;
  var image      = $jQuery("#image");

  if (URL){
    inputImage.change(function () {
      var files = this.files;
      var file;

      if (!image.data('cropper')) {
        return;
      }

      if (files && files.length) {
        file = files[0];

        if (/^image\/\w+$/.test(file.type)) {
          blobURL = URL.createObjectURL(file);
          image.one('built.cropper', function () {

            // Revoke when load complete
            URL.revokeObjectURL(blobURL);
          }).cropper('reset').cropper('replace', blobURL);
          inputImage.val('');
        } else {
          window.alert('Please choose an image file.');
        }
      }
    });
  } else {
    inputImage.prop('disabled', true).parent().addClass('disabled');
  }

  $jQuery('#up').on('click', function(){

    var base64      = $jQuery("#image").cropper('getCroppedCanvas').toDataURL();
    var targetImage = $jQuery('#imagem-perfil').attr('src', base64);
    $jQuery('#imagem-perfil').css('display', 'block');

  });

  document.getElementById("inputImage").click();

  $jQuery(document).ready(function(){     
    document.getElementById("inputImage").click();
  });

</script>