<div class="page-content">
  <div class="row">
    <form name="formProfissional" ng-submit="$ctrl.save($event)">
      <div id="cadastro-profissional">
        <div class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="alert alert-primary fixo-alteracao" role="alert" ng-show="showSalvarProfissional()">
                <div class="row">
                  <div class="col-sm-6 col-xs-6">Você Alterou :
                    <span ng-show="profissional_sem_alteracao.Phone !== $ctrl.professional.Phone" class="badge badge-dark"> Telefone </span>
                    <span ng-show="profissional_sem_alteracao.Title !== $ctrl.professional.Title" class="badge badge-dark"> Titulo </span>
                    <span ng-show="profissional_sem_alteracao.Skype !== $ctrl.professional.Skype" class="badge badge-dark"> Skype </span>
                    <span ng-show="profissional_sem_alteracao.Skills !== $ctrl.professional.Skills" class="badge badge-dark"> Abilidade </span>
                    <span ng-show="profissional_sem_alteracao.Photo !== $ctrl.professional.Photo" class="badge badge-dark"> Foto </span>
                    <span ng-show="profissional_sem_alteracao.Description !== $ctrl.professional.Description" class="badge badge-dark"> Sobre você </span>
                    <span ng-show="profissional_sem_alteracao.Country !== $ctrl.professional.Country" class="badge badge-dark"> Pais </span>
                    <span ng-show="profissional_sem_alteracao.City !== $ctrl.professional.City" class="badge badge-dark"> Cidade </span>
                    <span ng-show="profissional_sem_alteracao.CNPJ !== $ctrl.professional.CNPJ" class="badge badge-dark"> CNPJ </span>
                    <span ng-show="profissional_sem_alteracao.Email !== $ctrl.professional.Email" class="badge badge-dark"> Email </span>
                    <span ng-show="JSON.stringify(profissional_sem_alteracao.Experiences) !== JSON.stringify($ctrl.professional.Experiences)" class="badge badge-dark"> Experiencia Profissional </span>
                    <span ng-show="profissional_sem_alteracao.Languages !== $ctrl.professional.Languages" class="badge badge-dark"> Idioma </span>
                    <span ng-show="profissional_sem_alteracao.Password !== $ctrl.professional.Password" class="badge badge-dark"> Senha </span>
                    <span ng-show="profissional_sem_alteracao.Photo !== $ctrl.professional.Photo" class="badge badge-dark"> Foto </span>
                    <span ng-show="profissional_sem_alteracao.Portfolio !== $ctrl.professional.Portfolio" class="badge badge-dark"> Portifolio </span>
                    <span ng-show="profissional_sem_alteracao.Name !== $ctrl.professional.Name" class="badge badge-dark"> Nome </span>
                    <span ng-show="profissional_sem_alteracao.Price !== $ctrl.professional.Price" class="badge badge-dark"> Valor Hora </span>
                    <span ng-show="profissional_sem_alteracao.Active !== $ctrl.professional.Active" class="badge badge-dark"> Disponibilidade </span>
                    <span ng-show="profissional_sem_alteracao.Alocado !== $ctrl.professional.Alocado" class="badge badge-dark"> Alocado </span>
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <button id="Salvar" type="submit" class="btn btn-success btn-sm ladda-button" data-style="expand-left" data-plugin="ladda" style="width: 20%;">
                      <span class="ladda-label">Salvar</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- UPLOAD FOTO E NOME DO PROFISSIONAL -->
          <div class="col-sm-6 col-xs-12">
            <div class="cadastrar-foto-perfil">

              <style>
                .lightblue {
                  background-color: lightblue
                }

                .fixo-alteracao {
                  position: fixed;
                  z-index: 999;
                  width: 100%;
                  height: 60px;
                  top: 66px;
                }

                #profile-upload22 {
                  float: left;
                  background-image: url('/images/user.png');
                  background-size: cover;
                  background-position: center;
                  height: 65px;
                  width: 65px;
                  border: 1px solid #bbb;
                  position: relative;
                  border-radius: 250px;
                  overflow: hidden;
                }

                #profile-upload22:hover input.upload {
                  display: block;
                }

                #profile-upload2:hover .hvr-profile-img {
                  display: inline-block;
                }

                #profile-upload2 * {
                  transition: opacity 1s linear;
                }

                #profile-upload2 .fa {
                  margin: auto;
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  text-align: center;
                  right: 0;
                  padding: 6px;
                  opacity: 1;
                  width: 100%;
                  -webkit-transform: scale(.75);
                }

                #profile-upload2:hover .fa {
                  opacity: 1;
                  -webkit-transform: scale(1);
                }

                #profile-upload2 input.upload {
                  z-index: 1;
                  left: 0;
                  margin: 0;
                  bottom: 0;
                  top: 0;
                  padding: 0;
                  opacity: 0;
                  outline: none;
                  cursor: pointer;
                  position: absolute;
                  background: #ccc;
                  width: 100%;
                  display: none;
                }

                #profile-upload2 .hvr-profile-img {
                  width: 100%;
                  height: 100%;
                  display: none;
                  position: absolute;
                  vertical-align: middle;
                  position: relative;
                  background: transparent;
                }

                #profile-upload2 .fa:after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 150%;
                  height: 0px;
                  background: rgba(0, 0, 0, 0.3);
                  z-index: -1;
                  transition: height 0.3s;
                }

                #profile-upload2:hover .fa:after {
                  height: 100%;
                }

                .cadastrar-foto-perfil i.fa {
                  top: unset;
                }

              </style>

              <div ng-if="$ctrl.professional.Photo" id="profile-upload" style="background-image: url({{$ctrl.professional.Photo}}); float: left; margin: unset" class="ng-scope">
                <div class="hvr-profile-img">
                  <input type="file" ng-model="$ctrl.user.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched ng-untouched" title="Faça upload da sua imagem" value="{{Public.imagemPerfil}}" onchange="openFile()" accept='image/*'>
                  <input type="hidden" id="imagem-perfil">
                  <input type="hidden" ng-value="$ctrl.professional.PhotoExtension" id="imagem-extension">
                </div>
                <i class="fa fa-camera"></i>
              </div>
              <div ng-if="!$ctrl.professional.Photo" id="profile-upload" style="background:url(/images/user.png); float: left; margin: unset; background-size: cover" ng-class="{error: !Public.imagemPerfil}">
                <div class="hvr-profile-img">
                  <input type="file" ng-model="$ctrl.user.Photo" name="file" id="inputImage" class="upload w180 ng-pristine ng-valid ng-not-empty ng-touched" onchange="openFile()" value="{{Public.imagemPerfil}}" title="Faça upload da sua imagem" accept='image/*'>
                  <input type="hidden" id="imagem-perfil">
                  <input type="hidden" ng-value="$ctrl.professional.PhotoExtension" id="imagem-extension">
                </div>
                <i class="fa fa-camera"></i>
              </div>
              <script>
                function openFile(event) {
                  document.getElementById('inputImage')
                    .addEventListener('change', readURL(), true);
                  console.log('hey');

                  function readURL() {
                    var file = document.getElementById("inputImage")
                      .files[0];
                    var reader = new FileReader();
                    reader.onloadend = function () {
                      document.getElementById('profile-upload')
                        .style.backgroundImage = "url(" + reader.result + ")";
                      document.getElementById('imagem-perfil-logado')
                        .setAttribute("src", reader.result);
                      document.getElementById('imagem-perfil')
                        .setAttribute("value", reader.result);
                      document.getElementById('profile-upload')
                        .style.backgroundImage = "url(" + reader.result + ")";
                      document.getElementById('imagem-perfil')
                        .setAttribute("value", reader.result);
                      window.val = document.getElementById('imagem-perfil')
                        .value;
                    }
                    if (file) {
                      reader.readAsDataURL(file);
                    }
                  }
                }

              </script>
              <label>
                <input id="Name" type="text" class="input-name-profissional form-control" name="nome" placeholder="Seu nome" ng-model="$ctrl.professional.Name" ng-class="{'editing' : $ctrl.editing, error: !$ctrl.professional.Name }"  ng-click="$ctrl.editing = !$ctrl.editing"/><!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
              </label>
              <label>
                <input id="Title" uib-tooltip="O que você faz? Em que área atua? Qual sua expertise?" tooltip-placement="bottom-left" type="text" class="input-cargo-profissional form-control" placeholder="Título, ex: Designer" ng-model="$ctrl.professional.Title" maxlength=30  ng-class="{ error: $ctrl.invalidField == 'Title', error: !$ctrl.professional.Title}" ng-click="$ctrl.invalidField = ''"/>
              </label>
            </div>
            <div class="" style="margin-top: 20px">
              <h3 class="titulo-conectese">Conecte-se:</h3>
              <div class="redes-sociais-icones">
                <a href="#" class="twitter"><i class="icon fa-twitter" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-twitter">
                  <div class="input-group input-redes">
                    <input id="TwitterUrl" type="text" class="form-control input-sm" ng-model="$ctrl.professional.TwitterUrl">

                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
                <a href="#" class="facebook"><i class="icon fa-facebook" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-facebook">
                  <div class="input-group input-redes">
                    <input id="FacebookUrl" type="text" class="form-control" ng-model="$ctrl.professional.FacebookUrl">
                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
                <a href="#" class="dribbble"><i class="icon fa-dribbble" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-dribbble">
                  <div class="input-group input-redes">
                    <input id="DribbbleUrl" type="text" class="form-control" ng-model="$ctrl.professional.DribbbleUrl">
                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
                <a href="#" class="instagram"><i class="icon fa-instagram" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-instagram">
                  <div class="input-group input-redes">
                    <input id="InstagramUrl" type="text" class="form-control" ng-model="$ctrl.professional.InstagramUrl">
                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
                <a href="#" class="linkedin"><i class="icon fa-linkedin" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-linkedin">
                  <div class="input-group input-redes">
                    <input id="LinkedinUrl" type="text" class="form-control" ng-model="$ctrl.professional.LinkedinUrl">
                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
                <a href="#" class="behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                <div class="col-md-2 none content-behance">
                  <div class="input-group input-redes">
                    <input id="BehanceUrl" type="text" class="form-control" ng-model="$ctrl.professional.BehanceUrl">
                    <button class="btn btn-success" ng-click="$ctrl.hidePopovers()">ok</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="col-sm-3">
              <small>Estou?</small>
              <div class="input-group">
                <div class="disponibilidade-profissional">
                  <switch uib-tooltip="Aqui você pode se marcar 'Ocupado' nos resultados de busca" tooltip-placement="bottom" id="enabled" name="enabled" ng-model="$ctrl.professional.Active" class="green" on="Disponível" off="Ocupado"></switch>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <small>Trabalho?</small>
              <div class="input-group">
                <div class="disponibilidade-profissional">
                  <switch uib-tooltip="Você pode trabalhar alocado no cliente caso aja necessidade?" tooltip-placement="bottom" id="alocado" name="alocado" ng-model="$ctrl.professional.Alocado" class="lightblue" on="Alocado" off="Remoto"></switch>
                </div>
              </div>
            </div>
          </div>
          <!-- LINKEDIN -->
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <!--
            <div class="col-sm-8 col-xs-12">
              <p class="text-linkedin">Prefere sicronizar dados com seu perfil do Linkedin?</p>
              <button type="button" class="btn btn-primary btn-linkedin btn-sm ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">  <i class="icon bd-linkedin margin-right-10" aria-hidden="true"></i>Visualizar meu perfil</span></button>
            </div>-->


            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <!-- SOBRE PROFISSIONAL -->
              <div class="col-sm-12 col-xs-12">
                <h3>Sobre você:</h3>
                <br>
                <small style="color: darkgray"><em>Hora de escrever seu currículo!</em></small><small class="require right">* (min 65 palavras)</small>
                <textarea id="Description" placeholder="Escreva aqui seu breve descritivo profissional. Essa informação é sua apresentação para os clientes buscando profissionais por toda nossa rede." class="form-control" id="textareaDefault" rows="3" ng-model="$ctrl.professional.Description" ng-class="{error: $ctrl.invalidField == 'Description', error: !$ctrl.professional.Description}" ng-click="$ctrl.invalidField = ''"></textarea>
              </div>
              <div class="col-sm-12 col-xs-12">
                <h3 ng-click="$ctrl.pega()">Atividades e Habilidades
                </h3>
                <small class="require right" style="margin-top: 23px;">* (min 5 ~ máx 10)</small>
                <div ng-class="{error: $ctrl.invalidField == 'Skills', error: !$ctrl.professional.Skills}">
                  <div class="tag-comum placeholder-habilidades">
                    <tags-input id="Skills" add-on-enter="true" add-on-blur="true" enable-editing-last-tag="true" ng-model="$ctrl.professional.Skills" class="input-tags" on-tag-adding="$ctrl.tagsLimit()" replace-spaces-with-dashes="false" placeholder="." add-on-space="true" add-from-autocomplete-only="true" ng-click="$ctrl.invalidField = ''">
                      <auto-complete source="$ctrl.loadSkills($query)" min-length="2" debounce-delay="0" max-results-to-show="10000" select-first-match="true">
                      </auto-complete>
                    </tags-input>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-xs-12 selects-cadastro-profissionais">

                <div class="col-sm-6 col-xs-6 border-cancel-right" ng-class="{error: $ctrl.invalidField == 'Country', error: !$ctrl.professional.Country}">
                  <select id="Country" class="form-control ng-pristine">
                    <option label="Brasil" value="Brasil" selected="selected">Brasil</option>
                  </select>
                </div>

                <div class="col-sm-6 col-xs-6 border-cancel-all" ng-class="{error: $ctrl.invalidField == 'State', error: !$ctrl.professional.State}">
                  <select id="State" class="form-control" ng-options="state as state.Name for state in $ctrl.states track by state.Id" ng-model="$ctrl.professional.State" ng-click="$ctrl.invalidField = ''">
                    <option value="0">Estado</option>
                  </select>
                </div>

                <div class="col-sm-12 col-xs-12 border-cancel-left" ng-class="{error: !$ctrl.professional.City}">
                  <!-- <input class="form-control" id="city-input" placeholder="Cidade" ng-model="$ctrl.queryCidade" ng-required="false" ng-change="$ctrl.getCities($event)"> -->
                  <div angucomplete-alt id="city-input" placeholder="Cidade" pause="400" text-searching="Buscando.." text-no-results="Nenhum resultado encontrado" initial-value="$ctrl.professional.City" selected-object="$ctrl.queryCidade" selected-object-data="Id" remote-url="https://api.crowd.br.com/Common/Cities?city=" title-field="Name" input-class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6 border-cancel-right" ng-class="{error: !$ctrl.professional.Category}">
                  <select id="Category" class="form-control" ng-options="category as category.Name for category in $ctrl.categories track by category.Id" ng-model="$ctrl.professional.Category">
                    <option value="">Selecione a categoria</option>
                  </select>
                </div>
                <div class="col-sm-6 col-xs-6 border-cancel-left" ng-class="{error: $ctrl.invalidField == 'Segments', error: !$ctrl.professional.Segments}">
                  <!--COMBO MULTIPLA ESCOLHA-->
                  <div class="dropdown col-sm-12 col-xs-12">
                    <ul id="SegmentLabel" class="combo-segmento dropdown-toggle" data-toggle="dropdown">
                      <span>{{$ctrl.segmentLabel}}</span><i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </ul>

                    <ul class="segments-list dropdown-menu" title="Selecione três afinidades!">
                      <li ng-repeat="segment in $ctrl.segments track by segment.Id">
                        <label>
                          <input ng-click="$ctrl.addSegment(segment)" type="checkbox" id='{{"checkbox-"+segment.Id}}' class="checkbox-segment" ng-click="$ctrl.invalidField = ''"/>
                          <i></i>
                          <span>{{segment.Name}}</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 select-disponibilidade" ng-class="{error: !$ctrl.professional.Availability}">
                  <select id="Availabity" uib-tooltip="Integral: Você está disponível o horário comercial inteiro." class="form-control" ng-options="availability as availability.Name for availability in $ctrl.availabilities track by availability.Id" ng-model="$ctrl.disponibilidade">
                    <option value="" ng-selected="!$ctrl.professional.Availability">Selecione a disponibilidade</option>
                  </select>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="input-group" ng-class="{error: $ctrl.invalidField == 'Price', error: !$ctrl.professional.Price}">
                    <span class="input-group-addon">Valor/h</span>
                    <input id="Price" uib-tooltip="Seu salário desejável dividido por 120" type="text" class="form-control" placeholder="00,00" ng-model="$ctrl.professional.Price" ui-number-mask="2" ng-click="$ctrl.invalidField = ''" />
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <label for="email" class="input-group-addon">Email</label>
                    <input id="Email" type="email" name="email" class="form-control" placeholder="seuemail@mail.com" ng-model="$ctrl.professional.Email" />
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="input-group" ng-class="{'warning-border': !$ctrl.professional.Skype}">
                    <label for="skype" class="input-group-addon">Skype</label>
                    <input id="Skype" name="skype" type="text" class="form-control" placeholder="seu skype" ng-model="$ctrl.professional.Skype" title="Seja contatado para uma pré seleção!">
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="input-group">
                    <label for="phone" class="input-group-addon">Telefone</label>
                    <input id="Phone" uib-tooltip="Lembre-se do seu DDD" name="phone" type="text" class="form-control" id="professional-phone" placeholder="(99) 9999-9999" mask="(99) 9?9999-9999" ng-model="$ctrl.professional.Phone" ui-br-phone-number />
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group">
                    <label for="portifolio" class="input-group-addon">Portfolio</label>
                    <input id="Portfolio" uib-tooltip="Tem um site pessoal com seu trabalho? Coloque o link aqui com HTTP://" tooltip-placement="top-left " type="text" name="portifolio" class="form-control" placeholder="HTTP://meu-portfolio.com.br" ng-model="$ctrl.professional.Portfolio">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="input-group" ng-class="{error: !$ctrl.professional.Password}">
                    <label for="edit_pass" class="input-group-addon">Nova Senha</label>
                    <input id="Password" name="edit_pass" type="password" class="form-control" ng-model="$ctrl.professional.Password">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12">

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <div class="col-sm-11">
                  <h3>Experiência Profissional:</h3>
                  <br>
                  <small style="color: darkgray"><em>Suas experiências profissionais contam muito nos resultados da busca!</em></small>
                </div>
                <div class="col-sm-1">
                  <button id="addWorkExperience" type="button" ng-click="$ctrl.addWorkExperience()" class="btn btn-primary btn-sm ladda-button pull-right pull-left-xs" title="Adicionar Experiência" style="margin-top: 15px;">
                    <i class="icon wb-plus text" aria-hidden="true"></i>
                  </button>
                </div>
                <div ng-class="{error: $ctrl.invalidField == 'Experiences' }" class="col-sm-12 col-xs-12 form-experiencia-profissional" ng-repeat="experience in $ctrl.workExperiences track by $index">
                  <div>
                    <div class="row">
                      <div class="col-sm-12 col-xs-12">
                        <input class="form-control nome-cargo" type="text" placeholder="Cargo" ng-model="experience.Role" ng-class="{ error: $ctrl.invalidField == 'Experiences'}" ng-click="$ctrl.invalidField = ''">
                        <input class="form-control nome-empresa" type="text" placeholder="Nome da empresa" ng-model="experience.Company" ng-class="{ error: $ctrl.invalidField == 'Experiences'}" ng-click="$ctrl.invalidField = ''">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-xs-12">
                        <input class="form-control periodo" input-mask-date type="text" placeholder="Início. Ex 11/2010" ng-model="experience.StartDate" ng-class="{ error: $ctrl.invalidField == 'Experiences'}" ng-click="$ctrl.invalidField = ''">
                        <input id="end-date" class="form-control periodo last-exp-date" input-mask-date type="text" placeholder="Fim. Ex 09/2016" ng-model="experience.EndDate" ng-click="$ctrl.invalidField = ''">
                      </div>
                    </div>
                    <textarea class="form-control col-sm-2 col-xs-12" rows="5" ng-model="experience.Description" placeholder="Descrição do cargo" ng-class="{ error: $ctrl.invalidField == 'Experiences'}" ng-click="$ctrl.invalidField = ''"></textarea>
                    <button class="btn btn-danger remove-experiencia" title="Excluir" type="button" ng-click="$ctrl.removeWorkExperience($index)"><i class="icon fa-trash"></i></button>
                  </div>
                  <span ng-if="$ctrl.isLastExperience($index)">
                    <input type="checkbox"
                    name="cbCurrentWork"
                    id="work-experience2"
                    ng-click="$ctrl.unableLastEndDate()"> Até o momento
                  </span>
                </div>
                <div class="col-sm-12 col-xs-12 idiomas">
                  <h3>Idiomas
                  </h3>
                  <small class="require right" style="margin-top: 23px;">(máx 5)</small>
                  <div class="input-group">
                    <div class="tag-comum">
                      <tags-input id="Idiomas" ng-model="$ctrl.idiomas" on-tag-adding="$ctrl.idiomasLimit()" class="input-tags" replace-spaces-with-dashes="false" placeholder="Ex: Inglês, Espanhol, Francês. Tecle 'espaço' para adicionar" add-on-space="true"> </tags-input>
                    </div>
                  </div>
                </div>
                <!--
                <div class="col-sm-12 col-xs-12">
                  <h3>Trabalha em equipe?</h3>
                  <p>Conecte-se a seus  parceiros profissionais pela Comunidade Crowd</p>
                  <div class="input-group">

                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
        <div class="row actions">
          <div class="alert alert-danger" ng-show="$ctrl.error">
            <strong>Ooops...</strong> {{$ctrl.errorMessage}}
          </div>
          <hr>
          <button id="slideOpenProfile" uib-tooltip="Veja exatamente como você se apresenta" type="button" ng-click="$ctrl.slideOpenProfile()" class="btn btn-dark btn-sm ladda-button" data-style="expand-left" data-plugin="ladda">
                        <span class="ladda-label"> <i class="icon wb-eye margin-right-10"
        aria-hidden="true"></i>Visualizar meu perfil</span>
                    </button>
          <button id="Salvar" type="submit" class="btn btn-success btn-sm ladda-button" data-style="expand-left" data-plugin="ladda">
                        <span class="ladda-label">Salvar alterações</span>
                    </button>
        </div>
      </div>
    </form>
  </div>
</div>
<toaster-container toaster-options="{'limit':5, 'timeout':60000, 'close-button': true, 'tap-to-dismiss':true}"></toaster-container>
<div class="row mask-content-pageslide"></div>
<pageslide ps-open="$ctrl.isOpenProfile" ps-key-listener="true" ps-click-outside="true" ui-view="visualizar-perfil-profissional" class="pageslide-100-p"></pageslide>
<script type="text/javascript">
  $jQuery('.segments-list')
    .click(function (e) {
      e.stopPropagation();
    });
  $jQuery('.placeholder-habilidades')
    .click(function () {
      var placeholder = $jQuery('input.input')
        .hasClass('ng-not-empty');
      if (placeholder)
        $jQuery('.tags')
        .addClass('noafter');
      else
        $jQuery('.tags')
        .removeClass('noafter');
    });
  $jQuery('.placeholder-habilidades')
    .keypress(function () {
      var placeholder = $jQuery('input.input')
        .hasClass('ng-not-empty');
      if (placeholder) {
        $jQuery('.tags')
          .addClass('noafter');
      } else {
        $jQuery('.tags')
          .removeClass('noafter');
      }
    });

</script>
