---
title: Buttons
layout: default.hbs

stylesheets_vendor:
- ladda-bootstrap/ladda.css
javascripts_vendor:
- ladda-bootstrap/spin.js
- ladda-bootstrap/ladda.js
javascripts_global:
- components/loading-button.js
- components/more-button.js
- components/ladda.js
stylesheets_example:
- uikit/buttons.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel General Button -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">General Button</h3>
      </div>

      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-12">
            <!-- Example Default Button -->
            <div class="example-wrap">
              <h4 class="example-title">Default Button</h4>
              <p>Use any of the available button classes to quickly create a styled button . We provide a variety of colors for you to express different emotions.</p>
              <div class="row">
                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-default">Default</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-blue-grey-200"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'blue-grey' 200}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-blue-grey-300"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'blue-grey' 300}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-blue-grey-400"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#{{color 'blue-grey' 500}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-primary">Primary</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-primary-600"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'blue' 600}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-primary-500"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'blue' 500}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-primary-700"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#{{color 'blue' 700}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-success">Success</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-green-600"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'green' 600}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-green-500"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'green' 500}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-green-700"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#{{color 'green' 700}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-info">Info</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-cyan-600"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'cyan' 600}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-cyan-500"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'cyan' 500}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-cyan-700"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#{{color 'cyan' 700}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-warning">Warning</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-orange-600"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'orange' 600}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-orange-500"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'orange' 500}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-orange-700"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#e79857</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4 col-xl-2">
                  <div class="example">
                    <ul class="list-unstyled">
                      <li class="margin-bottom-20">
                        <button type="button" class="btn btn-block btn-danger">Danger</button>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-red-600"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Normal</p>
                          <span class="font-size-12">#{{color 'red' 600}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-red-500"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">Hover</p>
                          <span class="font-size-12">#{{color 'red' 500}}</span>
                        </div>
                      </li>
                      <li class="margin-bottom-20">
                        <div class="pull-xs-left color-box bg-red-700"></div>
                        <div class="margin-left-35">
                          <p class="font-size-14 grey-600 margin-0">active</p>
                          <span class="font-size-12">#{{color 'red' 700}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Default Button -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Alternative Button -->
            <div class="example-wrap">
              <h4 class="example-title">Alternative Button</h4>
              <p>Use a classes <code>.btn-outline</code> to quickly create a outline.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-outline btn-default">Default</button>
                <button type="button" class="btn btn-outline btn-primary">Primary</button>
                <button type="button" class="btn btn-outline btn-success">Success</button>
                <button type="button" class="btn btn-outline btn-info">Info</button>
                <button type="button" class="btn btn-outline btn-warning">Warning</button>
                <button type="button" class="btn btn-outline btn-danger">Danger</button>
                <button type="button" class="btn btn-outline btn-dark">dark</button>
              </div>
            </div>
            <!-- End Example Alternative Button -->
          </div>

          <div class="col-lg-6">
            <!-- Example Rounded Button / Squard Button -->
            <div class="example-wrap">
              <h4 class="example-title">Rounded Button / Squard Button</h4>
              <p>Round button and the square button can be used to distinguish th different behavior or style.</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="example example-buttons">
                    <div>
                      <button type="button" class="btn btn-round btn-outline btn-default btn-lg">Large</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-round btn-outline btn-default">Default</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-round btn-outline btn-default btn-sm">Small</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="example example-buttons">
                    <div>
                      <button type="button" class="btn btn-squared btn-outline btn-default btn-lg">Large</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-squared btn-outline btn-default">Default</button>
                    </div>
                    <div>
                      <button type="button" class="btn btn-squared btn-outline btn-default btn-sm">Small</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Rounded Button / Squard Button -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Sizing -->
            <div class="example-wrap">
              <h4 class="example-title">Sizing</h4>
              <p>Size might vary from smaller screen to a larger screen. We made few sizes that are pixel perfect and resposive.
                <br/> Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-outline btn-default btn-lg">Large Button</button>
                <button type="button" class="btn btn-outline btn-default">Default Button</button>
                <button type="button" class="btn btn-outline btn-default btn-sm">Small Button</button>
                <button type="button" class="btn btn-outline btn-default btn-xs">Tiny Button</button>
              </div>
            </div>
            <!-- End Example Sizing -->
          </div>

          <div class="col-lg-6">
            <!-- Example Block Button With Icon -->
            <div class="example-wrap">
              <h4 class="example-title">Block Button With Icon</h4>
              <p>Create block level buttons,with by adding add <code>.btn-block</code> .</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-default btn-outline btn-block"><i class="icon wb-menu pull-xs-right" aria-hidden="true"></i>Default</button>
                <button type="button" class="btn btn-primary btn-block btn-round"><i class="icon wb-menu" aria-hidden="true"></i>Primary</button>
              </div>
            </div>
            <!-- End Example Block Button With Icon -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-lg-6 col-xl-4">
            <!-- Example Button With Direction -->
            <div class="example-wrap">
              <h4 class="example-title">Button With Direction</h4>
              <p>Create buttons with directions by adding add <code>.btn-up</code>, <code>.btn-right</code>, <code>.btn-bottom</code> or <code>.btn-left</code> .</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-direction btn-up btn-primary">Up Button</button>
                <button type="button" class="btn btn-direction btn-right btn-warning">Right Button</button>
                <button type="button" class="btn btn-direction btn-bottom btn-success btn-outline">Down Button</button>
                <button type="button" class="btn btn-direction btn-left btn-danger btn-outline">Left Button</button>
              </div>
            </div>
            <!-- End Example Button With Direction -->
          </div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Button Animation -->
            <div class="example-wrap">
              <h4 class="example-title">Button Animation</h4>
              <p>A button can animate to show hidden content. Modern and subtle styles &amp; effects for buttons.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-animate btn-animate-side btn-success"><span><i class="icon wb-download" aria-hidden="true"></i>Side Animation</span></button>
                <button type="button" class="btn btn-animate btn-animate-vertical btn-success"><span><i class="icon wb-download" aria-hidden="true"></i>Vertical Animation</span></button>
              </div>
            </div>
            <!-- End Example Button Animation -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Floating Button -->
            <div class="example-wrap">
              <h4 class="example-title">Floating Button</h4>
              <p>Floating action buttons are used for a special type of promoted action. They are distinguished by a circled icon floating above the UI and have special motion behaviors related to morphing, launching, and the transferring anchor point.
                <br /> Use the default class <code>.btn</code> with an additional class <code>.btn-floating</code> .</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-floating btn-success"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-floating btn-success btn-sm"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-floating btn-danger"><i class="icon wb-plus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-floating btn-danger btn-sm"><i class="icon wb-plus" aria-hidden="true"></i></button>
              </div>
            </div>
            <!-- End Example Floating Button -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Flat And Raised Button -->
            <div class="example-wrap">
              <h4 class="example-title">Flat And Raised Button</h4>
              <p>Raised buttons behave like a piece of material resting on another sheet – they lift and color on press.
                <br/> Flat buttons are printed on the material. They do not lift but fill with color on press.</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-raised btn-primary btn-block">Normal</button>
                    <button type="button" class="btn btn-raised btn-primary btn-block active" style="background: #89bceb; border-color:#89bceb;">Hover</button>
                    <button type="button" class="btn btn-raised btn-primary btn-block active">Active</button>
                    <button type="button" class="btn btn-raised btn-primary btn-block disabled">Disabled</button>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="example example-buttons">
                    <button type="button" class="btn btn-flat btn-default btn-block">Normal</button>
                    <button type="button" class="btn btn-flat btn-default btn-block active" style="background: #f8f9f9; border-color: #f8f9f9>;">Hover</button>
                    <button type="button" class="btn btn-flat btn-default btn-block active">Active</button>
                    <button type="button" class="btn btn-flat btn-default btn-block disabled">Disabled</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Flat And Raised Button -->
          </div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Pill Left Or Right -->
            <div class="example-wrap">
              <h4 class="example-title">Pill Left Or Right</h4>
              <p>Create a button like pill by <code>.btn-pill-left</code> or <code>.btn-pill-right</code> with <code>.btn-round</code>.</p>
              <div class="example example-buttons">
                <div>
                  <button type="button" class="btn btn-round btn-default btn-outline btn-pill-left">Pill Left</button>
                  <button type="button" class="btn btn-round btn-default btn-outline btn-pill-right">Pill Right</button>
                </div>
                <div>
                  <button type="button" class="btn btn-round btn-primary btn-pill-left">Pill Left</button>
                  <button type="button" class="btn btn-round btn-primary btn-pill-right">Pill Right</button>
                </div>
              </div>
            </div>
            <!-- End Example Pill Left Or Right -->
          </div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Button With Icon -->
            <div class="example-wrap">
              <h4 class="example-title">Button With Icon</h4>
              <p>Basic buttons are traditional buttons with borders and background with an extra commponent like an icon. You can place it either on the left or the right which ever you want with different color opitons.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-dark"><i class="icon wb-upload" aria-hidden="true"></i> Upload</button>
                <button type="button" class="btn btn-warning"><i class="icon wb-thumb-up" aria-hidden="true"></i> I like</button>
                <button type="button" class="btn btn-success"><i class="icon wb-check" aria-hidden="true"></i> I agree</button>
                <button type="button" class="btn btn-outline btn-primary"><i class="icon wb-plus" aria-hidden="true"></i> More</button>
                <button type="button" class="btn btn-danger"><i class="icon wb-link" aria-hidden="true"></i> Link</button>
                <button type="button" class="btn btn-info"><i class="icon wb-chat" aria-hidden="true"></i> Comment</button>
              </div>
            </div>
            <!-- End Example Button With Icon -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Icon Button -->
            <div class="example-wrap">
              <h4 class="example-title">Icon Button</h4>
              <p>Icon only button.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-icon btn-default"><i class="icon wb-map" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-grid-9" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-success"><i class="icon wb-bell" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-info"><i class="icon wb-calendar" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-warning btn-round"><i class="icon wb-time" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-danger btn-round"><i class="icon wb-plugin" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-dark btn-round"><i class="icon wb-pie-chart" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-default btn-outline"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-primary btn-outline"><i class="icon wb-eye" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-success btn-outline"><i class="icon wb-search" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-info btn-outline"><i class="icon wb-wrench" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-warning btn-outline btn-round"><i class="icon wb-musical" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-danger btn-outline btn-round"><i class="icon wb-heart" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-dark btn-outline btn-round"><i class="icon wb-refresh" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-pure btn-default icon wb-lock"></button>
                <button type="button" class="btn btn-pure btn-primary icon wb-thumb-up"></button>
                <button type="button" class="btn btn-pure btn-success icon wb-share"></button>
                <button type="button" class="btn btn-pure btn-info icon wb-random"></button>
                <button type="button" class="btn btn-pure btn-warning icon wb-star"></button>
                <button type="button" class="btn btn-pure btn-danger icon wb-print"></button>
                <button type="button" class="btn btn-pure btn-dark icon wb-flag"></button>
              </div>
            </div>
            <!-- End Example Icon Button -->
          </div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Icon Dropdown -->
            <div class="example-wrap">
              <h4 class="example-title">Icon Dropdown</h4>
              <p>Icon used in the dropdown.</p>
              <div class="example example-buttons">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon wb-grid-9" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning dropdown-toggle" id="exampleIconDropdown2" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon wb-heart" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-danger dropdown-toggle" id="exampleIconDropdown3" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon wb-calendar" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleIconDropdown3" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                  </div>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-dark dropdown-toggle" id="exampleIconDropdown4" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon wb-pie-chart" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleIconDropdown4" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Icon Dropdown -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Social Icon Button -->
            <div class="example-wrap">
              <h4 class="example-title">Social Icon Button</h4>
              <p>Icon only button. But icon is social icon. </p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-icon social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-twitter"><i class="icon bd-twitter" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-linkedin"><i class="icon bd-linkedin" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-dribbble"><i class="icon bd-dribbble" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-instagram"><i class="icon bd-instagram" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-github"><i class="icon bd-github" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-skype"><i class="icon bd-skype" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-youtube"><i class="icon bd-youtube" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-evernote"><i class="icon bd-evernote" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon social-google-plus"><i class="icon bd-google-plus" aria-hidden="true"></i></button>
              </div>
            </div>
            <!-- End Example Social Icon Button -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Social In Labels -->
            <div class="example-wrap margin-lg-0">
              <h4 class="example-title">Social In Labels</h4>
              <p>It is often used at the top of a page or section. An social icon must be with this variation.</p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-tagged social-facebook"><span class="btn-tag"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                <button type="button" class="btn btn-tagged social-twitter"><span class="btn-tag"><i class="icon bd-twitter" aria-hidden="true"></i></span>Twitter</button>
                <button type="button" class="btn btn-tagged social-google-plus"><span class="btn-tag"><i class="icon bd-google-plus" aria-hidden="true"></i></span>Google+</button>
                <button type="button" class="btn btn-tagged social-linkedin"><span class="btn-tag"><i class="icon bd-linkedin" aria-hidden="true"></i></span>Linkedin</button>
                <button type="button" class="btn btn-tagged social-flickr"><span class="btn-tag"><i class="icon bd-flickr" aria-hidden="true"></i></span>Flickr</button>
                <button type="button" class="btn btn-tagged social-tumblr"><span class="btn-tag"><i class="icon bd-tumblr" aria-hidden="true"></i></span>Tumblr</button>
              </div>
            </div>
            <!-- End Example Social In Labels -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Social Button Sizes -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Social Button Sizes</h4>
              <p>Different Sizes for you to use with icon button or icon only button.</p>
              <div class="example example-buttons">
                <ul class="list-unstyled pull-xs-left">
                  <li>
                    <button type="button" class="btn btn-tagged btn-lg social-facebook"><span class="btn-tag"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-tagged social-facebook"><span class="btn-tag"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-tagged btn-sm social-facebook"><span class="btn-tag"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-tagged btn-xs social-facebook"><span class="btn-tag"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook</button>
                  </li>
                </ul>

                <ul class="list-unstyled">
                  <li>
                    <button type="button" class="btn btn-icon btn-lg social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-icon social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-icon btn-sm social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-icon btn-xs social-facebook"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Example Social Button Sizes -->
          </div>

          <div class="col-lg-6 col-xl-4">
            <!-- Example Icon Block Button -->
            <div class="example-wrap">
              <h4 class="example-title">Icon Block Button</h4>
              <p>Icon only block button. </p>
              <div class="example example-buttons">
                <button type="button" class="btn btn-icon btn-block btn-primary btn-outline"><i class="icon wb-heart" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-icon btn-block social-twitter"><i class="icon bd-twitter" aria-hidden="true"></i></button>
              </div>
            </div>
            <!-- End Example Icon Block Button -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel General Button -->

    <!-- Panel Button Group -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Button Group</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-4 col-lg-6">
            <!-- Example Basic Button Group -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Button Group</h4>
              <p>Grouped buttons give users access to frequently performed actions of a focused task. Wrap a series of buttons with <code>.btn</code> in <code>.btn-group.</code></p>
              <div class="example example-buttons">
                <div class="btn-group" aria-label="Basic example" role="group">
                  <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon wb-play" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-icon btn-pure btn-primary"><i class="icon wb-pause" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-icon btn-pure btn-danger"><i class="icon wb-stop" aria-hidden="true"></i></button>
                </div>

                <div class="btn-group" aria-label="Basic example" role="group">
                  <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-play" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-pause" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-stop" aria-hidden="true"></i></button>
                </div>

                <div class="btn-group" aria-label="Basic example" role="group">
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-pencil" aria-hidden="true"></i>Edit</button>
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-reply" aria-hidden="true"></i>Reply</button>
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-share" aria-hidden="true"></i>Share</button>
                </div>

                <div class="btn-group" aria-label="Basic example" role="group">
                  <button type="button" class="btn btn-outline btn-default">Left</button>
                  <button type="button" class="btn btn-outline btn-default">Middle</button>
                  <button type="button" class="btn btn-outline btn-default">Right</button>
                </div>
              </div>
            </div>
            <!-- End Example Basic Button Group -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Vertical Button Group -->
            <div class="example-wrap">
              <h4 class="example-title">Vertical Button Group</h4>
              <p>Order the buttons in a group for actions that are used regularly or are significant.</p>
              <div class="example example-buttons">
                <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-flag" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-wrench" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-outline btn-default"><i class="icon wb-print" aria-hidden="true"></i></button>
                </div>

                <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                  <button type="button" class="btn btn-outline btn-default">1</button>
                  <button type="button" class="btn btn-outline btn-default">2</button>
                  <button type="button" class="btn btn-outline btn-default">3</button>
                </div>

                <div class="btn-group-vertical" aria-label="Vertical button group" role="group">
                  <button type="button" class="btn btn-primary">Left</button>
                  <button type="button" class="btn btn-primary">Middle</button>
                  <button type="button" class="btn btn-primary">Right</button>
                </div>
              </div>
            </div>
            <!-- End Example Vertical Button Group -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Button Group Sizes -->
            <div class="example-wrap">
              <h4 class="example-title">Button Group Sizes</h4>
              <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>, including when nesting multiple groups.</p>
              <div class="example example-buttons">
                <div>
                  <div class="btn-group btn-group-lg" aria-label="Large button group" role="group">
                    <button type="button" class="btn btn-outline btn-default">Left</button>
                    <button type="button" class="btn btn-outline btn-default">Middle</button>
                    <button type="button" class="btn btn-outline btn-default">Right</button>
                  </div>
                </div>

                <div>
                  <div class="btn-group" aria-label="Default button group" role="group">
                    <button type="button" class="btn btn-outline btn-default">Left</button>
                    <button type="button" class="btn btn-outline btn-default">Middle</button>
                    <button type="button" class="btn btn-outline btn-default">Right</button>
                  </div>
                </div>

                <div>
                  <div class="btn-group btn-group-sm" aria-label="Small button group" role="group">
                    <button type="button" class="btn btn-outline btn-default">Left</button>
                    <button type="button" class="btn btn-outline btn-default">Middle</button>
                    <button type="button" class="btn btn-outline btn-default">Right</button>
                  </div>
                </div>

                <div>
                  <div class="btn-group btn-group-xs" aria-label="Extra-small button group" role="group">
                    <button type="button" class="btn btn-outline btn-default">Left</button>
                    <button type="button" class="btn btn-outline btn-default">Middle</button>
                    <button type="button" class="btn btn-outline btn-default">Right</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Button Group Sizes -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Button Toolbar -->
            <div class="example-wrap">
              <h4 class="example-title">Button Toolbar</h4>
              <p>This group button is used to show the close relationship between a number of buttons, and is usually used on edit page.</p>
              <div class="example example-buttons">
                <div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
                  <div class="btn-group">
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-bold" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-italic" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-underline" aria-hidden="true"></i></button>
                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-align-left" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-align-center" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-primary"><i class="icon wb-align-right" aria-hidden="true"></i></button>
                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-icon btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-hidden="true">
                      <i class="icon wb-wrench" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                        <i class="icon wb-scissor" aria-hidden="true"></i> Cut
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                        <i class="icon wb-copy" aria-hidden="true"></i> Copy
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                        <i class="icon wb-rubber" aria-hidden="true"></i> Eraser
                      </a>
                    </div>
                  </div>
                </div>
                <div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-icon btn-default btn-outline"><i class="icon wb-file" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-default btn-outline"><i class="icon wb-pencil" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-default btn-outline"><i class="icon wb-folder" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-default btn-outline"><i class="icon wb-trash" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Button Toolbar -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Nesting Button Group -->
            <div class="example-wrap">
              <h4 class="example-title">Nesting Button Group</h4>
              <p>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>
              <div class="example example-buttons">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-primary">1</button>
                  <button type="button" class="btn btn-primary">2</button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="exampleGroupDrop1" data-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop1" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    </div>
                  </div>
                </div>

                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">1</button>
                  <button type="button" class="btn btn-outline btn-default">2</button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu">
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Dropdown link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Nesting Button Group -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Justified Button Group -->
            <div class="example-wrap">
              <h4 class="example-title">Justified Button Group</h4>
              <p>To use justified button groups with <code>&lt;button&gt;</code> elements, you must wrap each button in a button group. Most browsers don't properly apply our CSS for justification to <code>&lt;button&gt;</code> elements, but since we support button dropdowns, we can work around that.</p>
              <div class="example example-buttons">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary">
                      <i class="icon wb-star" aria-hidden="true"></i>
                      <br>
                      <span class="text-uppercase hidden-sm-down">Favourites</span>
                    </button>
                  </div>

                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info">
                      <i class="icon wb-time" aria-hidden="true"></i>
                      <br>
                      <span class="text-uppercase hidden-sm-down">Recent</span>
                    </button>
                  </div>

                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success">
                      <i class="icon wb-user" aria-hidden="true"></i>
                      <br>
                      <span class="text-uppercase hidden-sm-down">Contacts</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Justified Button Group -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Button.Js Componenents -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Button.Js Componenents</h4>
              <p>
                There are a few easy ways to quickly get started with Bootstrap, each one ...
              </p>
              <p id="exampleMoreless">
                Appealing to a different skill level and use case. Read through to see what suits your particular needs.
              </p>
              <div class="example example-buttons">
                <div>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="button" data-plugin="moreButton" data-more="#exampleMoreless">
                    <i class="icon wb-plus text" aria-hidden="true"></i>
                    <span class="text">More</span>
                    <i class="icon wb-minus text-active" aria-hidden="true"></i>
                    <span class="text-active">Less</span>
                  </button>
                </div>

                <div>
                  <button type="button" class="btn btn-success" data-toggle="button">
                    <i class="icon wb-upload text" aria-hidden="true"></i>
                    <span class="text">Upload</span>
                    <i class="icon wb-check text-active" aria-hidden="true"></i>
                    <span class="text-active">Success</span>
                  </button>
                  <button type="button" class="btn btn-default btn-outline" data-toggle="button">
                    <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                    <i class="icon wb-heart text-active text-danger" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-outline active" data-toggle="button">
                    <span class="text">
                      <i class="icon wb-thumb-up" aria-hidden="true"></i>
                      25
                    </span>
                    <span class="text-active">
                      <i class="icon wb-thumb-up text-danger" aria-hidden="true"></i>
                      26
                    </span>
                  </button>
                </div>

                <div>
                  <div class="btn-group" data-toggle="buttons" role="group">
                    <label class="btn btn-outline btn-primary active">
                      <input type="radio" name="options" autocomplete="off" value="male" checked />
                      <i class="icon wb-check text-active" aria-hidden="true"></i> Male
                    </label>
                    <label class="btn btn-outline btn-primary">
                      <input type="radio" name="options" autocomplete="off" value="female" />
                      <i class="icon wb-check text-active" aria-hidden="true"></i> Female
                    </label>
                    <label class="btn btn-outline btn-primary">
                      <input type="radio" name="options" autocomplete="off" value="n/a" />
                      <i class="icon wb-check text-active" aria-hidden="true"></i> N/A
                    </label>
                  </div>
                </div>

                <div>
                  <div class="btn-group" data-toggle="buttons" role="group">
                    <label class="btn btn-primary active">
                      <input type="checkbox" name="multiples" value="apple" checked /> Apple
                    </label>
                    <label class="btn btn-primary active">
                      <input type="checkbox" name="multiples" value="banana" checked /> Banana
                    </label>
                    <label class="btn btn-primary">
                      <input type="checkbox" name="multiples" value="orange" /> Orange
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Button.Js Componenents -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Stateful -->
            <div class="example-wrap">
              <h4 class="example-title">Stateful</h4>
              <p>Add <code>data-loading-text=&quot;Loading...&quot;</code> to use a loading state on a button.</p>
              <div class="example">
                <button type="button" class="btn btn-primary" id="exampleStatefulButton" data-plugin="loadingButton" data-loading-text="Loading...">
                  Loading state
                </button>
              </div>
            </div>
            <!-- End Example Stateful -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Button Group -->

    <!-- Panel Ladda Buttons -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Ladda Buttons <small><a class="example-plugin-link" href="http://msurguy.github.io/ladda-bootstrap/" target="_blank">official website</a></small></h3>
      </div>

      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-4 col-lg-6">
            <!-- Example Expand -->
            <div class="example-wrap">
              <h4 class="example-title">Expand</h4>
              <div class="example example-buttons">
                <div class="pull-xs-left">
                  <button type="button" class="btn btn-info ladda-button" data-style="expand-left" data-plugin="ladda">
                    <span class="ladda-label"><i class="icon wb-arrow-expand margin-right-10" aria-hidden="true"></i>Expand left</span>
                  </button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-success ladda-button" data-style="expand-right" data-plugin="ladda">
                    <span class="ladda-label"><i class="icon wb-arrow-expand margin-right-10" aria-hidden="true"></i>Expand right</span>
                  </button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="expand-up" data-plugin="ladda">
                    <span class="ladda-label"><i class="icon wb-arrow-expand margin-right-10" aria-hidden="true"></i>Expand up</span>
                  </button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-warning ladda-button" data-style="expand-down" data-plugin="ladda">
                    <span class="ladda-label"><i class="icon wb-arrow-expand margin-right-10" aria-hidden="true"></i>Expand down</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- End Example Expand -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Zoom -->
            <div class="example-wrap">
              <h4 class="example-title">Zoom</h4>
              <div class="example example-buttons">
                <div class="pull-xs-left">
                  <button type="button" class="btn btn-warning ladda-button" data-style="zoom-in" data-plugin="ladda"><span class="ladda-label"><i class="icon wb-zoom-in margin-right-10" aria-hidden="true"></i>Zoom in</span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-danger ladda-button" data-style="zoom-out" data-plugin="ladda"><span class="ladda-label"><i class="icon wb-zoom-out margin-right-10" aria-hidden="true"></i>Zoom out</span></button>
                </div>
              </div>
            </div>
            <!-- End Example Zoom -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Progress -->
            <div class="example-wrap">
              <h4 class="example-title">Progress</h4>
              <div class="example example-buttons">
                <div class="pull-xs-left">
                  <button type="button" class="btn btn-success ladda-button" data-style="expand-left" data-plugin="ladda" data-type="progress"><span class="ladda-label"><i class="icon wb-arrow-expand margin-right-10" aria-hidden="true"></i>Expand</span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-warning ladda-button" data-style="zoom-in" data-plugin="ladda" data-type="progress"><span class="ladda-label"><i class="icon wb-zoom-in margin-right-10" aria-hidden="true"></i>Zoom</span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="slide-left" data-plugin="ladda" data-type="progress"><span class="ladda-label"><i class="icon wb-arrow-left margin-right-10" aria-hidden="true"></i>Slide</span></button>
                </div>
              </div>
            </div>
            <!-- End Example Progress -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-lg-6">
            <!-- Example Slide -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Slide</h4>
              <div class="example example-buttons">
                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="slide-left" data-plugin="ladda"><span class="ladda-label"><i class="icon wb-arrow-left margin-right-10" aria-hidden="true"></i>Slide left</span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="slide-right" data-plugin="ladda"><span class="ladda-label">Slide right<i class="icon wb-arrow-right margin-left-10" aria-hidden="true"></i></span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="slide-up" data-plugin="ladda"><span class="ladda-label"><i class="icon wb-arrow-up margin-right-10" aria-hidden="true"></i>Slide up</span></button>
                </div>

                <div class="pull-xs-left">
                  <button type="button" class="btn btn-primary ladda-button" data-style="slide-down" data-plugin="ladda"><span class="ladda-label"><i class="icon wb-arrow-down margin-right-10" aria-hidden="true"></i>Slide down</span></button>
                </div>
              </div>
            </div>
            <!-- End Example Slide -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-lg-6">
            <!-- Example Sizing -->
            <div class="example-wrap">
              <h4 class="example-title">Sizing</h4>
              <div class="example example-buttons">
                <button type="button" class="btn btn-primary btn-lg ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">Large</span></button>
                <button type="button" class="btn btn-primary ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">Default</span></button>
                <button type="button" class="btn btn-primary btn-sm ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">Small</span></button>
                <button type="button" class="btn btn-primary btn-xs ladda-button" data-style="expand-left" data-plugin="ladda"><span class="ladda-label">Tiny</span></button>
              </div>
            </div>
            <!-- End Example Sizing -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Ladda Buttons -->
  </div>
</div>
<!-- End Page -->
