---
title: Cards
layout: default.hbs
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <!-- Page Content -->
  <div class="page-content container-fluid">
    <div class="row">
      <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card -->
        <div class="example-wrap">
          <h4 class="example-title">Example</h4>
          <p>Cards require a small amount of markup and classes to provide you with as much control as possible. These classes and markup are flexible though and can typically be remixed and extended with ease. For example, if your card has no flush content like images, feel free to put the <code>.card-block</code> class on the <code>.card</code> element to consolidate your markup.</p>
          <div class="card">
            <img class="card-img-top img-fluid width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        <!-- End Example Card -->
      </div>

      <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Content types -->
        <div class="example-wrap">
          <h4 class="example-title">Content types</h4>
          <p>Cards support a wide variety of content, including images, text, list groups, links, and more. Mix and match multiple content types to create the card you need.</p>
          <div class="card">
            <img class="card-img-top img-fluid width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-bordered list-group-flush margin-bottom-0">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-block">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <!-- End Example Card Content types -->
      </div>

      <div class="clearfix hidden-sm-down hidden-xxl-up"></div>

      <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Image overlays -->
        <div class="example-wrap">
          <h4 class="example-title">Image overlays & Inverted text</h4>
          <p>Turn an image into a card background and overlay your card’s text. Depending on the image, you may or may not need <code>.card-inverse</code> (see below).</p>
          <p>Cards include a class for quickly toggling the text color. By default, cards use dark text and assume a light background. Add <code>.card-inverse</code> for white text and specify the background-color and border-color to go with it.</p>
          <div class="card card-inverse">
            <img class="card-img width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card card-inverse bg-blue-grey-800" style="border-color: #263238;">
            <div class="card-block">
              <h3 class="card-title">Special title treatment</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
        <!-- End Example Card Image overlays -->
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Image caps top -->
        <div class="example-wrap">
          <h4 class="example-title">Image caps top</h4>
          <div class="card">
            <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <!-- End Example Card Image caps top -->
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Image caps bottom -->
        <div class="example-wrap">
          <h4 class="example-title">Image caps bottom</h4>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img class="card-img-bottom width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
          </div>
        </div>
        <!-- End Example Card Image caps bottom -->
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Header and footer -->
        <div class="example-wrap">
          <h4 class="example-title">Header and footer</h4>
          <p>Add an optional header and/or footer within a card.</p>
            <div class="card">
              <div class="card-header card-header-transparent card-header-bordered">
                Featured
              </div>
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card">
              <div class="card-header card-header-transparent card-header-bordered">
                Quote
              </div>
              <div class="card-block">
                <blockquote class="blockquote card-blockquote">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div>
            </div>

            <div class="card text-xs-center">
              <div class="card-header card-header-transparent card-header-bordered">
                Featured
              </div>
              <div class="card-block">
                <h4 class="card-title">Special title treatment</h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
              <div class="card-footer card-footer-transparent card-footer-bordered text-muted">
                2 days ago
              </div>
            </div>
        </div>
        <!-- End Example Card Header and footer -->
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Example Card Text alignment -->
        <div class="example-wrap">
          <h4 class="example-title">Text alignment</h4>
          <p>You can quickly change the text alignment of any card—in its entirety or specific parts—with our text align classes.</p>
            <div class="card card-block">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <div class="card card-block text-xs-center">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <div class="card card-block text-xs-right">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- End Example Card Text alignment -->
      </div>
      <div class="clearfix"></div>
      <div class="col-xxl-12">
        <!-- Example Card Groups -->
        <div class="example-wrap">
          <h4 class="example-title">Groups</h4>
          <p>Use card groups to render cards as a single, attached element with equal width and height columns. By default, card groups use <code>display: table;</code> and <code>table-layout: fixed;</code> to achieve their uniform sizing. However, enabling flexbox mode can switch that to use <code>display: flex;</code> and provide the same effect.</p>
          <div class="card-group">
            <div class="card">
              <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Card Group -->
      </div>

      <div class="col-xxl-12">
        <!-- Example Card Decks -->
        <div class="example-wrap">
          <h4 class="example-title">Decks</h4>
          <p>Need a set of equal width and height cards that aren’t attached to one another? Use card decks. By default, card decks require two wrapping elements: <code>.card-deck-wrapper</code> and a <code>.card-deck</code>. We use table styles for the sizing and the gutters on <code>.card-deck</code>. The <code>.card-deck-wrapper</code> is used to negative margin out the border-spacing on the <code>.card-deck</code>.</p>
          <p>ProTip! If you enable flexbox mode, you can remove the <code>.card-deck-wrapper</code>.</p>
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Card Decks -->
      </div>

      <div class="col-xxl-12">
        <!-- Example Card Background variants -->
        <div class="example-wrap">
          <h4 class="example-title">Background variants</h4>
          <p>Cards include their own variant classes for quickly changing the background-color and border-color of a card. Darker colors require the use of <code>.card-inverse</code>.</p>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="card card-inverse card-primary text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-inverse card-success text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-inverse card-info text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="card card-inverse card-warning text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-inverse card-danger text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Card Background variants -->
      </div>

      <div class="col-xxl-12">
        <!-- Example Card Outline variants -->
        <div class="example-wrap">
          <h4 class="example-title">Outline variants</h4>
          <p>Cards include their own variant classes for quickly changing the background-color and border-color of a card. Darker colors require the use of <code>.card-bordered</code>and<code>.card-outline-primary</code>.</p>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="card card-bordered card-outline-primary text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-bordered card-outline-success text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-bordered card-outline-info text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="card card-bordered card-outline-warning text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
              <div class="card card-bordered card-outline-danger text-xs-center">
                <div class="card-block">
                  <blockquote class="blockquote card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Card Outline variants -->
      </div>

      <div class="col-xxl-12">
        <!-- Example Card Columns -->
        <div class="example-wrap">
          <h4 class="example-title">Columns</h4>
          <p>Cards can be organized into Masonry-like columns with just CSS by wrapping them in .card-columns. Heads up! This is not available in IE9 and below as they have no support for the column CSS properties.</p>
          <div class="card-columns">
            <div class="card">
              <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card card-block">
              <blockquote class="blockquote card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img class="card-img-top width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card card-block card-inverse card-primary text-xs-center">
              <blockquote class="blockquote card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer>
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card card-block text-xs-center">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <div class="card">
              <img class="card-img width-full" src="../../global/photos/focus-1-480x320.jpg" alt="Card image">
            </div>
            <div class="card card-block text-xs-right">
              <blockquote class="blockquote card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card card-block">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <!-- End Example Card Columns -->
      </div>
    </div>
  </div>
  <!-- End Page Content -->
</div>
<!-- End Page -->
