---
title: Colors
layout: default.hbs
colorlist:
- red
- pink
- purple
- indigo
- blue
- cyan
- teal
- green
- light-green
- yellow
- orange
- brown
- grey
- blue-grey
colorlevela:
- 800
- 700
- 600
- 500
colorlevelb:
- 400
- 300
- 200
- 100
stylesheets_example:
- uikit/colors.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Style</h3>
      </div>
      <div class="panel-body container-fluid">

        <!-- Example Base Color Palette -->
        <div class="example-wrap">
          <h4 class="example-title">Base Color Palette</h4>
          <p>The dashboard will synergize with the colour selection made by the user and appropriately amend. Similarly, all other elements will sync according to the base colours.
          </p>
          <div class="example color-primaries">
            <div class="bg-blue-grey-200">#{{color 'blue-grey' 200}}</div>
            <div class="bg-blue-grey-600">#{{color 'blue-grey' 600}}</div>
            <div class="bg-blue-600">#{{color 'blue' 600}}</div>
            <div class="bg-cyan-600">#{{color 'cyan' 600}}</div>
            <div class="bg-teal-600">#{{color 'teal' 600}}</div>
            <div class="bg-orange-600">#{{color 'orange' 600}}</div>
            <div class="bg-red-600">#{{color 'red' 600}}</div>
            <div class="bg-purple-600">#{{color 'purple' 600}}</div>
          </div>
        </div>
        <!-- End Example Base Color Palette -->


        <!-- Example Color Palette -->
        <div class="example-wrap">
          <h4 class="example-title">Color Palette</h4>
          <p>This color palette comprises primary and accent colors that can be used for illustration or to develop your brand colors.
            <br/> They've been designed to work harmoniously with each other.</p>
          <p class="margin-bottom-30">The color palette starts with primary colors and fills in the spectrum to create a complete and usable palette for web
            <br/> project. We suggests using the 500 colors as the primary colors in your project and the other colors as accents colors.</p>
          <div class="row row-lg color-palette">
            {{#each colorlist}}
            <div class="col-md-4 col-lg-3">
              <h5 class="text-uppercase">{{this}}</h5>
              <ul class="list-group">
                {{#each ../colorlevela}}
                <li class="bg-{{../this}}-{{this}} list-group-item">
                  <span>{{this}}</span> / <span>#{{color ../this this}}</span>
                </li>
                {{/each}} {{#each ../colorlevelb}}
                <li class="bg-{{../this}}-{{this}} blue-grey-700 list-group-item">
                  <span>{{this}}</span> / <span>#{{color ../this this}}</span>
                </li>
                {{/each}}
              </ul>
            </div>
            {{/each}}
          </div>
        </div>
        <!-- End Example Color Palette -->


        <div class="color-application">
          <h3>Color Application</h3>
          <div class="row row-lg">
            <div class="col-xl-6">
              <!-- Example Choose Your Palette -->
              <div class="example-wrap">
                <h4 class="example-title">Choose Your Palette</h4>
                <p>Limit your selection of colors by choosing three color hues from the primary palette and one accent color from the secondary palette. The accent may or may not need fallback options.</p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="example-wrap">
                      <div class="row">
                        <div class="col-md-6">
                          <p>Active color</p>
                          <span>#{{color 'blue' 700}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-blue-700 color-box">700</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Base color</p>
                          <span>#{{color 'blue' 600}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-blue-600 color-box">600</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Hover color</p>
                          <span>#{{color 'blue' 500}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-blue-500 color-box">500</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Background opt.</p>
                          <span>#{{color 'blue' 100}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-blue-100 color-box blue-grey-700">100</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="example-wrap">
                      <div class="row">
                        <div class="col-md-6">
                          <p>Active color</p>
                          <span>#{{color 'red' 700}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-red-700 color-box">700</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Base color</p>
                          <span>#{{color 'red' 600}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-red-600 color-box">600</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Hover color</p>
                          <span>#{{color 'red' 500}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-red-500 color-box">500</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Background opt.</p>
                          <span>#{{color 'red' 100}}</span>
                        </div>
                        <div class="col-md-6">
                          <div class="bg-red-100 color-box blue-grey-700">100</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Example Choose Your Palette -->
            </div>

            <div class="col-xl-6">
              <!-- Example Text Color -->
              <div class="example-wrap">
                <h4 class="example-title">Text Color</h4>
                <p>To convey a hierarchy of information, you can use different shades for text. The standard content text color is #79838B.</p>
                <div class="row margin-bottom-20">
                  <div class="col-md-3">
                    <div class="example">
                      <div class="bg-blue-grey-700 text-color-box"></div>
                      <p>Title color</p>
                      <span>#{{color 'blue-grey' 700}}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="example">
                      <div class="bg-blue-grey-600 text-color-box"></div>
                      <p>Subtitle color</p>
                      <span>#{{color 'blue-grey' 600}}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="example">
                      <div class="bg-blue-grey-500 text-color-box"></div>
                      <p>Text color</p>
                      <span>#{{color 'blue-grey' 500}}</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="example">
                      <div class="bg-blue-grey-400 text-color-box"></div>
                      <p>Prompt color</p>
                      <span>#{{color 'blue-grey' 400}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Example Text Color -->
            </div>

            <div class="clearfix hidden-lg-down"></div>

            <div class="col-xl-6">
              <!-- Example Use Alpha -->
              <div class="example-wrap margin-lg-0">
                <h4 class="example-title">Use Alpha For Icons, And Dividers</h4>
                <p>Icons and dividers, also benefit from having an alpha value of black instead of a solid color, to make sure the color below.</p>
                <div class="row">
                  <div class="col-xl-6 margin-bottom-10">
                    <div class="example">
                      <div class="bg-blue-grey-700 example-alpha">Grey Darkest</div>
                      <div class="row opacity-example">
                        <div class="col-md-6">
                          <p>
                            <span>Normal:</span>
                            <span class="opacity-four"><i class="icon wb-image" aria-hidden="true"></i>40%</span>
                          </p>
                          <p>
                            <span>Hover:</span>
                            <span class="opacity-six"><i class="icon wb-image" aria-hidden="true"></i>60%</span>
                          </p>
                          <p>
                            <span>Active:</span>
                            <span class="blue-grey-700"><i class="icon wb-image" aria-hidden="true"></i>100%</span>
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p>
                            <span>Normal:</span>
                            <span class="opacity-six"><i class="icon wb-image" aria-hidden="true"></i>60%</span>
                          </p>
                          <p>
                            <span>Hover:</span>
                            <span class="opacity-eight"><i class="icon wb-image" aria-hidden="true"></i>80%</span>
                          </p>
                          <p>
                            <span>Active:</span>
                            <span class="blue-grey-700"><i class="icon wb-image" aria-hidden="true"></i>100%</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="example">
                      <div class="bg-blue-grey-800 example-alpha">Gray Base</div>
                      <div class="example-alpha example-divider blue-grey-600">Dividers 10%</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Example Use Alpha -->
            </div>
            <div class="col-xl-6">
              <!-- Example Border Color -->
              <div class="example-wrap">
                <h4 class="example-title">Border Color</h4>
                <p>Border color should use the primary #E6E8EA color, which should be the main color of your project.</p>
                <div class="example-border">
                  <div class="bg-blue-grey-200"></div>
                  <div>
                    <p>Border color</p>
                    <span>#{{color 'blue-grey' 200}}</span>
                  </div>
                </div>
              </div>
              <!-- End Example Border Color -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
