---
title: Dropdowns
layout: default.hbs

javascripts_vendor:
- bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js
stylesheets_example:
- uikit/dropdowns.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-12">
            <!-- Example Color -->
            <div class="example-wrap">
              <h4 class="example-title">Color</h4>
              <p>Add dropdown menus to nearly anything with this simple plugin, including the navbar, tabs, and pills. We provide a set color of dropdown for your choice.</p>
              <div class="example example-dropdown">
                <ul class="blocks-sm-100 blocks-md-2 blocks-lg-3 blocks-xl-4 blocks-dropdowns">
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-default dropdown-toggle" id="exampleColorDropdown1" data-toggle="dropdown" aria-expanded="false">
                        Default
                      </button>
                      <div class="dropdown-menu" aria-labelledby="exampleColorDropdown1" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" id="exampleColorDropdown2" data-toggle="dropdown" aria-expanded="false">Primary</button>
                      <div class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleColorDropdown2" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-success dropdown-toggle" id="exampleColorDropdown3" data-toggle="dropdown" aria-expanded="false">Success</button>
                      <div class="dropdown-menu dropdown-menu-success" aria-labelledby="exampleColorDropdown3" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-info dropdown-toggle" id="exampleColorDropdown4" data-toggle="dropdown" aria-expanded="false">Info</button>
                      <div class="dropdown-menu dropdown-menu-info" aria-labelledby="exampleColorDropdown4" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-warning dropdown-toggle" id="exampleColorDropdown5" data-toggle="dropdown" aria-expanded="false">Warning</button>
                      <div class="dropdown-menu dropdown-menu-warning" aria-labelledby="exampleColorDropdown5" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-danger dropdown-toggle" id="exampleColorDropdown6" data-toggle="dropdown" aria-expanded="false">Danger</button>
                      <div class="dropdown-menu dropdown-menu-danger" aria-labelledby="exampleColorDropdown6" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown">
                      <button type="button" class="btn btn-dark dropdown-toggle" id="exampleColorDropdown7" data-toggle="dropdown" aria-expanded="false">Dark</button>
                      <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="exampleColorDropdown7" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                        <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Example Color -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-xl-4 col-lg-6">
            <!-- Example Basic Dropdown -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Dropdown</h4>
              <p>Wrap the dropdown's trigger and the dropdown menu within .dropdown, or another element that declares position: relative;. Then add the menu's HTML.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleBasicDropdown" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleBasicDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Basic Dropdown -->
          </div>
          <div class="col-xl-4 col-lg-6">
            <!-- Example Alignment -->
            <div class="example-wrap">
              <h4 class="example-title">Alignment</h4>
              <p>By default, a dropdown menu is automatically positioned 100% from the top and along the left side of its parent. Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.
                <br> To override it, use <code>.dropdown-menu-left</code>.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle pull-xs-right" id="exampleAlignmentDropdown" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exampleAlignmentDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Alignment -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Headers -->
            <div class="example-wrap">
              <h4 class="example-title">Headers</h4>
              <p>Add a header to label sections of actions in any dropdown menu.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleHeadersDropdown" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                  </button>
                  <div class="dropdown-menu dropdown-header-menu" aria-labelledby="exampleHeadersDropdown" role="menu">
                    <div class="dropdown-header" role="presentation">Dropdown header</div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-header" role="presentation">Dropdown header</div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Headers -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Divider -->
            <div class="example-wrap">
              <h4 class="example-title">Divider</h4>
              <p>Add a divider to separate series of links in a dropdown menu.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleDividerDropdown" data-toggle="dropdown" aria-expanded="true">
                    Dropdown
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleDividerDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Divider -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Disabled -->
            <div class="example-wrap">
              <h4 class="example-title">Disabled Menu Items</h4>
              <p>Add <code>.disabled</code> to a <code>&lt;a&gt;</code> in the dropdown to disable the link.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleDisabledDropdown" aria-expanded="true" data-toggle="dropdown">
                    Dropdown
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleDisabledDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Regular link</a>
                    <a class="disabled dropdown-item" href="javascript:void(0)">Disabled link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Disabled -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Active -->
            <div class="example-wrap">
              <h4 class="example-title">Active Menu Items</h4>
              <p>Add <code>.active</code> to a <code>&lt;a&gt;</code> in the dropdown to disable the link.</p>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" id="exampleActiveDropdown" aria-expanded="true" data-toggle="dropdown">
                    Dropdown
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleActiveDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Regular link</a>
                    <a class="active dropdown-item" href="javascript:void(0)" role="menuitem">Active link</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Active -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Sizing -->
            <div class="example-wrap">
              <h4 class="example-title">Sizing</h4>
              <p>Button dropdowns work with buttons of all sizes.</p>
              <div class="example example-buttons">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle btn-lg" id="exampleSizingDropdown1" data-toggle="dropdown" aria-expanded="false">
                    Large button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleSizingDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleSizingDropdown2" data-toggle="dropdown" aria-expanded="false">
                    Default button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleSizingDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle btn-sm" id="exampleSizingDropdown3" data-toggle="dropdown" aria-expanded="false">
                    Small button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleSizingDropdown3" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle btn-xs" id="exampleSizingDropdown4" data-toggle="dropdown" aria-expanded="false">
                    Extra small button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleSizingDropdown4" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Sizing -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Icons -->
            <div class="example-wrap">
              <h4 class="example-title">Icons Menu Items</h4>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleIconsDropdown" data-toggle="dropdown" aria-expanded="false">Icons Dropdown</button>
                  <div class="dropdown-menu" aria-labelledby="exampleIconsDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> Reply</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i> Share</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i> Delete</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Icons -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up "></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Badages -->
            <div class="example-wrap">
              <h4 class="example-title">Label-pills In Menu Items</h4>
              <div class="example example-dropdown">
                <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleBadagesDropdown" data-toggle="dropdown" aria-expanded="false">Default</button>
                  <div class="dropdown-menu" aria-labelledby="exampleBadagesDropdown" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action<span class="tag tag-pill tag-success pull-xs-right">4</span></a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action<span class="tag tag-pill tag-info pull-xs-right">2</span></a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here<span class="tag tag-pill tag-warning pull-xs-right">12</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link<span class="tag tag-pill tag-danger pull-xs-right">7</span></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Badages -->
          </div>

          <div class="clearfix hidden-lg-down"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Animation -->
            <div class="example-wrap">
              <h4 class="example-title">Animation</h4>
              <p>Animated dropdown item by adding <code>.animate</code> and adding custom animate class to dropdown item.</p>
              <div class="example example-buttons">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" id="exampleAnimationDropdown1" data-toggle="dropdown" aria-expanded="false">Animation</button>
                  <div class="dropdown-menu animate" aria-labelledby="exampleAnimationDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider" role="presentation"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleAnimationDropdown2" data-toggle="dropdown" aria-expanded="false">
                    Animation Reverse
                  </button>
                  <div class="dropdown-menu animate animate-reverse" aria-labelledby="exampleAnimationDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider" role="presentation"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Animation -->
          </div>

          <div class="clearfix hidden-md-down hidden-xl-up"></div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Split -->
            <div class="example-wrap padding-bottom-15">
              <h4 class="example-title">Split Button Dropdowns</h4>
              <p>Similarly, create split button dropdowns with the same markup changes, only with a separate button.</p>
              <div class="example example-buttons">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-outline">Default</button>
                  <button type="button" class="btn btn-default dropdown-toggle btn-outline" id="exampleSplitDropdown1" data-toggle="dropdown" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleSplitDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Primary</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" id="exampleSplitDropdown2" data-toggle="dropdown" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu dropdown-menu-primary" aria-labelledby="exampleSplitDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Split -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Dropup -->
            <div class="example-wrap">
              <h4 class="example-title">Dropup Variation</h4>
              <p>Trigger dropdown menus above elements by adding <code>.dropup</code> to the parent.</p>
              <div class="example example-buttons">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-default btn-outline">Dropup</button>
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-primary">Right dropup</button>
                  <button type="button" class="btn btn-primary dropdown-toggle"   data-toggle="dropdown" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Dropup -->
          </div>

          <div class="clearfix hidden-md-down"></div>


          <div class="col-xl-4 col-lg-6">
            <!-- Example Bullet -->
            <div class="example-wrap">
              <h4 class="example-title">Bullet</h4>
              <p>To add bullet just add class <code>.bullet</code> to the dropdown menu</p>
              <div class="example example-buttons">
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleBulletDropdown1" data-toggle="dropdown" aria-expanded="false">
                    Default
                  </button>
                  <div class="dropdown-menu bullet" aria-labelledby="exampleBulletDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group dropdown">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleBulletDropdown2" data-toggle="dropdown" aria-expanded="false">
                    Right
                  </button>
                  <div class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="exampleBulletDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <br/>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleBulletDropdown3" data-toggle="dropdown" aria-expanded="false">
                    Bottom
                  </button>
                  <div class="dropdown-menu bullet" aria-labelledby="exampleBulletDropdown3" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleBulletDropdown4" data-toggle="dropdown" aria-expanded="false">
                    Bottom right
                  </button>
                  <div class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="exampleBulletDropdown4" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Bullet -->
          </div>

          <div class="col-xl-4 col-lg-6">
            <!-- Example Dropdown On Hover Plugin -->
            <div class="example-wrap">
              <h4 class="example-title">Dropdown On Hover Plugin <small><a class="example-plugin-link" href="https://github.com/CWSpear/bootstrap-hover-dropdown" target="_blank">official website</a></small></h4>
              <div class="example example-buttons">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleHoverDropdown1" data-hover="dropdown" data-delay="1000" data-toggle="dropdown" aria-expanded="false">
                    1000ms Delay
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleHoverDropdown1" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleHoverDropdown2" data-hover="dropdown" data-close-others="false" data-toggle="dropdown" aria-expanded="false">
                    Doesn't Close Others
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleHoverDropdown2" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleHoverDropdown3" data-hover="dropdown" data-toggle="dropdown" aria-expanded="false">
                    Default
                  </button>
                  <div class="dropdown-menu" aria-labelledby="exampleHoverDropdown3" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" role="menuitem">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Dropdown On Hover Plugin -->
          </div>
        </div>
        <div class="row row-lg">
          <div class="col-md-12">
            <!-- Example Sub -->
            <div class="example-wrap">
              <h4 class="example-title">Sub Menus On Dropdowns</h4>
              <p>Add an extra level of dropdown menus, appearing on hover like those of OS X, with some simple markup additions. Add <code>.dropdown-submenu</code> to any <code>div</code> in an existing dropdown menu for automatic styling.</p>
              <div class="row row-lg">
                <div class="col-xl-4 col-lg-6">
                  <div class="example-wrap">
                    <h4 class="example-title">Default</h4>
                    <div class="example example-dropdown">
                      <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleDefaultDropdownSubMenu" aria-expanded="true" data-toggle="dropdown">
                          Dropdown
                        </button>
                        <div class="dropdown-menu" aria-labelledby="exampleDefaultDropdownSubMenu" role="menu">
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Another action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-submenu">
                            <a class="dropdown-item" href="javascript:void(0)" role="button" tabindex="-1">More options</a>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                  <div class="example-wrap">
                    <h4 class="example-title">Dropup</h4>
                    <div class="example example-dropdown">
                      <div class="dropup">
                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleDropupSubMenu" aria-expanded="true" data-toggle="dropdown">
                          Dropup
                        </button>
                        <div class="dropdown-menu" aria-labelledby="exampleDropupSubMenu" role="menu">
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Another action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-submenu">
                            <a class="dropdown-item" href="javascript:void(0)" tabindex="-1">More options</a>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                  <div class="example-wrap">
                    <h4 class="example-title">Left Submenu</h4>
                    <div class="example example-dropdown">
                      <div class="dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle pull-xs-right" id="exampleLeftDropdownSubMenu" aria-expanded="true" data-toggle="dropdown">
                          Dropdown
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exampleLeftDropdownSubMenu" role="menu">
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Another action</a>
                          <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <div class="dropdown-submenu dropdown-menu-left">
                            <a class="dropdown-item" href="javascript:void(0)" tabindex="-1">More options</a>
                            <div class="dropdown-menu" role="menu">
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                              <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Second level link</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Sub -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
