---
title: Images
layout: default.hbs
stylesheets_example:
- uikit/images.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Edit">
        <i class="icon wb-pencil" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Refresh">
        <i class="icon wb-refresh" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-sm btn-icon btn-inverse btn-round" data-toggle="tooltip" data-original-title="Setting">
        <i class="icon wb-settings" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Image Style -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Image Style</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-xl-6">
            <!-- Example Images Shapes -->
            <div class="example-wrap">
              <h4 class="example-title">Images Shapes</h4>
              <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p>

              <div class="row">
                <div class="col-md-4">
                  <div class="example">
                    <img class="img-rounded" width="150" height="150" src="{{image 'focus-6.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="example">
                    <img class="img-circle" width="150" height="150" src="{{image 'focus-7.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="example">
                    <img width="150" height="150" src="{{image 'focus-8.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Images Shapes -->
          </div>

          <div class="col-xl-6">
            <!-- Example Thumbnails - Default -->
            <div class="example-wrap">
              <h4 class="example-title">Thumbnails - Default</h4>
              <p>By default, thumbnails are designed to showcase linked images with minimal required markup.</p>

              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <div class="example">
                    <div class="card">
                      <img class="img-fluid width-full" src="{{image 'focus-1.jpg' width='320' height='213'}}" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="example">
                    <div class="card">
                      <img class="img-fluid width-full" src="{{image 'focus-2.jpg' width='320' height='213'}}" alt="...">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="example">
                    <div class="card">
                      <img class="img-fluid width-full" src="{{image 'focus-3.jpg' width='320' height='213'}}" alt="...">
                    </div>                  
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="example">
                    <div class="card">
                      <img class="img-fluid width-full" src="{{image 'focus-4.jpg' width='320' height='213'}}" alt="...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Thumbnails - Default -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-xl-6">
            <!-- Example Images - Bordered -->
            <div class="example-wrap">
              <h4 class="example-title">Images - Bordered</h4>
              <p>An image may include a border to emphasize the edges of white or transparent content.</p>

              <div class="row">
                <div class="col-md-4">
                  <div class="example">
                    <img class="img-rounded img-bordered img-bordered-primary" width="150" height="150" src="{{image 'focus-6.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="example">
                    <img class="img-circle img-bordered img-bordered-orange" width="150" height="150" src="{{image 'focus-7.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="example">
                    <img class="img-rounded img-bordered img-bordered-green" width="150" height="150" src="{{image 'focus-8.jpg' width='240' height='240'}}" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Images - Bordered -->
          </div>

          <div class="col-xl-6">
            <!-- Example Thumbnalis - Custom -->
            <div class="example-wrap">
              <h4 class="example-title">Thumbnalis - Custom Content</h4>
              <p>With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.</p>

              <div class="row">
                <div class="col-md-4">
                  <div class="example">
                    <div class="card">
                      <img class="card-img-top width-full" src="{{image 'focus-1.jpg' width='720' height='480'}}" alt="...">
                      <div class="card-block">
                        <h4 class="card-title">Thumbnail Label</h4>
                        <p class="card-text">Lorem ipsum Dolore nulla mollit consectetur enim est adipisicing dolor exercitation do sed irure occaecat labore in proident occaecat sunt dolore aliqua qui.</p>
                        <a class="btn btn-primary card-link margin-right-5" href="javascript:void(0)" role="button">Button</a>
                        <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="example">
                    <div class="card">
                      <img class="card-img-top width-full" src="{{image 'focus-2.jpg' width='720' height='480'}}" alt="...">
                      <div class="card-block">
                        <h4 class="card-title">Thumbnail Label</h4>
                        <p class="card-text">Lorem ipsum Minim in in Ut officia cupidatat sed elit do cillum in dolore aliquip et ullamco ea do nisi adipisicing irure officia eiusmod quis eu labore ea.</p>
                        <a class="btn btn-primary card-link margin-right-5" href="javascript:void(0)" role="button">Button</a>
                        <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="example">
                    <div class="card">
                      <img class="card-img-top width-full" src="{{image 'focus-3.jpg' width='720' height='480'}}" alt="...">
                      <div class="card-block">
                        <h4 class="card-title">Thumbnail Label</h4>
                        <p class="card-text">Lorem ipsum Labore laborum nisi ex et ullamco in anim enim minim anim id in sed dolor occaecat fugiat mollit exercitation do in pariatur sint eu proident ad.</p>
                        <a class="btn btn-primary card-link margin-right-5" href="javascript:void(0)" role="button">Button</a>
                        <a class="btn btn-default card-link" href="javascript:void(0)" role="button">Button</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Thumbnalis - Custom -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-md-12">
            <!-- Example Images - Responsive -->
            <div class="example-wrap">
              <h4 class="example-title">Images - Fluid</h4>
              <p>Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code>.img-fluid</code> class. This applies <code>max-width: 100%;</code> and <code>height: auto;</code> to the image so that it scales nicely to the parent element.</p>
              <div class="example">
              <img class="img-fluid" src="{{image 'view-1.jpg' width='960' height='640'}}" alt="...">
              </div>
            </div>
            <!-- End Example Images - Responsive -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Image Style -->
  </div>
</div>
<!-- End Page -->
