---
title: Progress Bars
layout: default.hbs
javascripts_vendor:
- asprogress/jquery-asProgress.js
javascripts_global:
- components/asprogress.js
javascripts_example:
- uikit/progress-bars.js
stylesheets_example:
- uikit/progress-bars.css
---
<!-- Page -->
<div class="page animsition" ng-controller="ProgressBarCtrl">
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Basic UI</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-inverse btn-round" href="https://github.com/amazingSurge/jquery-asProgress" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Progress</h3>
      </div>
      <div class="panel-body container-fluid">

        <!-- Example Styles -->
        <div class="example-wrap">
          <h4 class="example-title">Styles</h4>
          <p>Progress bar is a graphical control element used to visualize the progression of an extended computer operation, such as a download, file transfer, or professional skill and work task. The graphic is accompanied by a textual representation of the progress in a percent format.</p>
          <div class="row row-lg">
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>Basic Progress</h5>
                  <div class="progress progress-xs">
                    <div class="progress-bar" style="width: 80%;" role="progressbar">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>With Label</h5>
                  <div class="progress progress-lg">
                    <div class="progress-bar progress-bar-danger" style="width: 60%;" role="progressbar">60%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>Striped</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%" role="progressbar">
                      <span class="sr-only">80% Complete (success)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-lg">
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>Indicating</h5>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-warning progress-bar-indicating active" style="width: 80%;" role="progressbar">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>Animated</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped active" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%" role="progressbar">
                      <span class="sr-only">90% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="example-wrap">
                <div class="example">
                  <h5>Stacked</h5>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-success" style="width: 35%" role="progressbar">
                      <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%" role="progressbar">
                      <span class="sr-only">20% Complete (warning)</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 10%" role="progressbar">
                      <span class="sr-only">10% Complete (danger)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Example Style -->

        <div class="row row-lg">
          <div class="col-md-4">
            <!-- Example Color -->
            <div class="example-wrap">
              <h4 class="example-title">Color</h4>
              <p>You can also apply any colour suited according to the nature of the task.</p>
              <div class="example">
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-default" style="width: 15%;" role="progressbar">
                    <span class="sr-only">15% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-success" style="width: 30%;" role="progressbar">
                    <span class="sr-only">30% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-info" style="width: 45%;" role="progressbar">
                    <span class="sr-only">45% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 75%;" role="progressbar">
                    <span class="sr-only">75% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-dark" style="width: 90%;" role="progressbar">
                    <span class="sr-only">90% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Color -->
          </div>

          <div class="col-md-4">
            <!-- Example Size -->
            <div class="example-wrap">
              <h4 class="example-title">Bar Size</h4>
              <p>You can also use a thinner version of the default progress by simple changing the classes.</p>
              <div class="example">
                <div class="progress progress-xs">
                  <div class="progress-bar" style="width: 60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-sm">
                  <div class="progress-bar" style="width: 60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-lg">
                  <div class="progress-bar" style="width: 60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Size -->
          </div>

          <div class="col-md-4">
            <!-- Example Radius -->
            <div class="example-wrap">
              <h4 class="example-title">Radius</h4>
              <p>You can also use a radius style of the default progress by simple changing the classes.</p>
              <div class="example">
                <div class="progress progress-square">
                  <div class="progress-bar progress-bar-primary" style="width: 50%;" role="progressbar">
                    <span class="sr-only">50% Complete</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" style="width: 50%;" role="progressbar">
                    <span class="sr-only">50% Complete</span>
                  </div>
                </div>
                <div class="progress progress-circle">
                  <div class="progress-bar progress-bar-primary" style="width: 50%;" role="progressbar">
                    <span class="sr-only">50% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Radius -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-md-4">
            <!-- Example Vertical -->
            <div class="example-wrap">
              <h4 class="example-title">Vertical Color</h4>
              <div class="example" style="max-height: 250px; overflow: hidden;">
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-default" style="height:15%;" role="progressbar">
                    <span class="sr-only">15% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-success" style="height:30%;" role="progressbar">
                    <span class="sr-only">30% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-info" style="height:45%;" role="progressbar">
                    <span class="sr-only">45% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-warning" style="height:60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-danger" style="height:75%;" role="progressbar">
                    <span class="sr-only">75% Complete</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical margin-right-0">
                  <div class="progress-bar progress-bar-dark" style="height:90%;" role="progressbar">
                    <span class="sr-only">90% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Vertical Color -->
          </div>

          <div class="col-md-4">
            <!-- Example Vertical Size -->
            <div class="example-wrap">
              <h4 class="example-title">Vertical Bar Size</h4>
              <div class="example" style="max-height: 250px; overflow: hidden;">
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar" style="height:60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-sm progress-vertical">
                  <div class="progress-bar" style="height:60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-vertical">
                  <div class="progress-bar" style="height:60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-lg progress-vertical margin-right-0">
                  <div class="progress-bar" style="height:60%;" role="progressbar">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Vertical Size -->
          </div>

          <div class="col-md-4">
            <!-- Example Vertical Complex -->
            <div class="example-wrap">
              <h4 class="example-title">Vertical Complex Usage</h4>
              <div class="example" style="max-height: 250px; overflow: hidden;">
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-success" style="height:25%;" role="progressbar">
                    <span class="sr-only">35% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-warning progress-bar-striped" style="height:15%;" role="progressbar">
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger" style="height:10%;" role="progressbar">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
                <div class="progress progress-xs progress-vertical">
                  <div class="progress-bar progress-bar-warning progress-bar-indicating active" style="height:70%;" role="progressbar">
                    <span class="sr-only">70% Complete</span>
                  </div>
                </div>
                <div class="progress progress-lg progress-vertical">
                  <div class="progress-bar progress-bar-danger" style="height:80%;" role="progressbar">80%</div>
                </div>
                <div class="progress progress-vertical">
                  <div class="progress-bar progress-bar-striped active" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height:90%;" role="progressbar">
                    <span class="sr-only">90% Complete</span>
                  </div>
                </div>
                <div class="progress progress-vertical margin-right-0">
                  <div class="progress-bar progress-bar-info progress-bar-striped" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height:95%;" role="progressbar">
                    <span class="sr-only">95% Complete (success)</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Example Vertical Complex -->
          </div>
        </div>

        <div class="row row-lg">
          <div class="col-md-12">
            <!-- Example Bars -->
            <div class="example-wrap">
              <h4 class="example-title">Skill Bars</h4>
              <div class="row row-lg">
                <div class="col-md-6">
                  <div class="example-wrap">
                    <p>A more recent development is the professional skill bars, which is used in your professional situations where the extent of the skill can not be determined in a way that could be expressed as a percentage.This bar uses motion and title text to show that progress is taking place.</p>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="example-wrap">
                    <h5>Photoshop<span class="pull-xs-right">40%</span></h5>
                    <div class="progress progress-sm">
                      <div class="progress-bar progress-bar-indicating active" style="width: 40%;" role="progressbar"></div>
                    </div>
                    <h5>Html<span class="pull-xs-right">80%</span></h5>
                    <div class="progress progress-sm">
                      <div class="progress-bar progress-bar-indicating active" style="width: 80%;" role="progressbar"></div>
                    </div>
                    <h5>Javascript<span class="pull-xs-right">60%</span></h5>
                    <div class="progress progress-sm">
                      <div class="progress-bar progress-bar-indicating active" style="width: 60%;" role="progressbar"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Example Bars -->
          </div>
        </div>
        <div class="row row-lg">
          <div class="col-md-12">
            <!-- Example asProgress -->
            <div class="example-wrap">
              <h4 class="example-title">asProgress <small><a class="example-plugin-link" href="https://github.com/amazingSurge/jquery-asProgress" target="_blank">official website</a></small></h4>
              <p>Progress bar use a linear function, such that the advancement of a progress bar is directly proportional to the amount of work that has been completed. </p>
              <div class="row row-lg">
                <div class="col-md-6">
                  <div class="example-wrap">
                    <h6 class="font-size-16 margin-top-0">Numbers</h6>
                    <div class="progress" data-goal="60" data-plugin="progress">
                      <div class="progress-bar" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar"><span class="progress-label"></span></div>
                    </div>
                    <h6 class="font-size-16">Percentage</h6>
                    <div class="progress" data-labeltype="percentage" data-goal="-40" data-plugin="progress">
                      <div class="progress-bar" aria-valuemin="-100" aria-valuemax="0" aria-valuenow="-80" role="progressbar"><span class="progress-label"></span></div>
                    </div>
                    <h6 class="font-size-16">Steps</h6>
                    <div class="progress" data-labeltype="steps" data-totalsteps="8" data-goal="80" data-plugin="progress">
                      <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: 50%" aria-valuenow="60" role="progressbar"><span class="progress-label"></span></div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="example-wrap">
                    <div class="contextual-progress">
                      <div class="clearfix">
                        <div class="progress-title">Numbers</div>
                        <div class="progress-label">25%</div>
                      </div>
                      <div class="progress" data-goal="60" data-plugin="progress">
                        <div class="progress-bar" aria-valuemin="15" aria-valuemax="115" aria-valuenow="25" role="progressbar"><span class="progress-label"></span></div>
                      </div>
                    </div>
                    <div class="contextual-progress">
                      <div class="clearfix">
                        <div class="progress-title">Percentage</div>
                        <div class="progress-label">50%</div>
                      </div>
                      <div class="progress" data-labeltype="percentage" data-goal="-40" data-plugin="progress">
                        <div class="progress-bar" aria-valuemin="-100" aria-valuemax="0" aria-valuenow="-80" role="progressbar"><span class="progress-label"></span></div>
                      </div>
                    </div>
                    <div class="contextual-progress">
                      <div class="clearfix">
                        <div class="progress-title">Steps</div>
                        <div class="progress-label">50%</div>
                      </div>
                      <div class="progress" data-labeltype="steps" data-totalsteps="8" data-goal="80" data-plugin="progress">
                        <div class="progress-bar" aria-valuemin="0" aria-valuemax="100" style="width: 50%" aria-valuenow="60" role="progressbar"><span class="progress-label"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-xs-center example example-buttons">
                <button class="btn btn-outline btn-primary" id="exampleButtonStart" type="button">start</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonStop" type="button">stop</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonGoto" type="button">go to value 50</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonGotoPercentage" type="button">go to 50%</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonFinish" type="button">finish</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonReset" type="button">reset</button>
                <button class="btn btn-outline btn-primary" id="exampleButtonRandom" type="button">random</button>
              </div>
            </div>
            <!-- End Example asProgress -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
