#clientes-usuarios{}

#clientes-usuarios .form-add-new-user { padding: 0px 15px;}
#clientes-usuarios .form-add-new-user h2 { font-weight: 300;font-size: 18px;}
#clientes-usuarios .form-add-new-user div{ padding: 0px;}
#clientes-usuarios .form-add-new-user div input{background: #F7F7F7; border-radius:0px; border-right-width: 0px;}
#clientes-usuarios .form-add-new-user div input.radius-left{-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#clientes-usuarios .form-add-new-user div input.radius-right{-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#clientes-usuarios .form-add-new-user div input.border-right{border-right-width: 1px;}
#clientes-usuarios .form-add-new-user div.form-enviar{padding-left: 20px;}
#clientes-usuarios .form-add-new-user div.form-enviar button{ max-width: 35px; float: right;padding-left: 7px;    padding-right: 7px;}
#clientes-usuarios .usuarios-cadastrados,#clientes-usuarios .form-add-new-user div.usuarios-cadastrados{color: #77909B;padding-top: 10px; text-align: right;}
#clientes-usuarios .lista-usuarios{color:#77909B; position: relative; padding: 20px 15px; float: left; width: 100%;}
#clientes-usuarios .lista-usuarios hr{border-top:1px solid #f5f5f5;height: 0px; float: left; width: 100%;margin: 0px;position: absolute;bottom: 0px;}

#clientes-usuarios .lista-usuarios > div{height: 32px;}
#clientes-usuarios .lista-usuarios > div span{padding-top: 6px;display: inline-block; font-size: 13px;}
#clientes-usuarios .lista-usuarios figure {margin: 0px;}
#clientes-usuarios .lista-usuarios figure img{position: absolute; width: 32px; left: 0; height: 32px;}
#clientes-usuarios .lista-usuarios figure legend{ padding-left: 30px; font-weight: 300; font-size: 14px; color: #55595A;padding-top: 5px;margin: 0px;}
#clientes-usuarios .status-usuario{text-align: right; padding-right: 0px;}

/* Clientes */
#clientes-usuarios .clientes-cadastrados{ float: right;color: #77909B;padding-top: 10px; text-align: right;}
#clientes-usuarios .editar-ver{ text-align: center;}
#clientes-usuarios .editar-ver span{margin: 0 10px;}
#clientes-usuarios .status-cliente{text-align: right; }
#clientes-usuarios .sub-lista-usuario{  width: 80%; padding-left: 50px; }

#clientes-usuarios .lista-usuarios.sub-lista-usuario{  height: auto !important;padding: 5px 15px;}
.none { display: none }
#clientes-usuarios .lista-usuarios.sub-lista-usuario figure img{position: absolute; width: 26px; left: 0; height: 26px;}
#clientes-usuarios .listas-dos-usuarios{float: left;width:100%;position: relative;display: none; height: auto !important;}
#clientes-usuarios .form-dados-empresa div{ margin-bottom: 15px;padding: 0 5px;}
#clientes-usuarios .form-dados-empresa div.padding-none-left,#clientes-usuarios .form-dados-empresa div.padding-none-right{ margin-bottom: 0px; padding: 0px;}
#clientes-usuarios .form-dados-empresa div.padding-none-left input{border-right:0px;-webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#clientes-usuarios .form-dados-empresa div.padding-none-right input{-webkit-border-top-left-radius: 0px;-webkit-border-bottom-left-radius: 0px;-moz-border-radius-topleft: 0px;-moz-border-radius-bottomleft: 0px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}

#clientes-usuarios .add-image-empresa{background: #FBFCFC;border:#EAEBEC 1px solid; min-height: 286px;position: relative; margin-top: 27px;}
#clientes-usuarios .title-empresa{ font-size:14px;margin-top:0px;color: #77909B; font-weight: 300; }
#clientes-usuarios .placeholder-img{position: absolute;height: 100px; color: #77909B; left: 50%;margin-left: -25%;left: 0;right: 0;    top: 0;    bottom: 0;    margin: auto;    text-align: center;}
#clientes-usuarios .placeholder-img i{font-size: 22px; margin-bottom: 20px;}
#clientes-usuarios .bt-add-edit-empresa{margin-bottom: 20px; margin-left: 6px; margin-top: 10px}
#clientes-usuarios  .editar-ver i{cursor: pointer;}
.load-image-empresa .dropzone-previews{width:100% !important}
.aviso-nova-foto{ text-align:right;color: #77909B; display: block;width: 100%; margin-top: 5px;}
.icon-title em {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
}
td.sub-table-user {
    padding: 0px 0px 0px 6%;
}
td.sub-table-user:hover {
    background:#fff;
}
td.sub-table-user tr:nth-child(2) td  {
    border-top:0px;
}
.logotipo-empresa {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10%;
    z-index: 9;
}

.logotipo-empresa img {
    max-width: 100%;
    max-height: 100%;
}
.logotipo-empresa.logotipo-dropzone {
    margin-top: 0px !important;
    margin-left: 25% !important;
}
@media (max-width: 730px)  {
  #clientes-usuarios .lista-usuarios div{width: 50%;  }
  #clientes-usuarios .lista-usuarios .cargo-usuario{padding-left: 40px;}
  #clientes-usuarios .form-add-new-user div.form-enviar{padding-left: 0px;}
  #clientes-usuarios .form-add-new-user div.form-enviar button{float: left;}
  #clientes-usuarios .page-content{ padding: 30px 15px;}

  #clientes-usuarios div.nome-cliente{width: 198px;}
  #clientes-usuarios div.nome-responsavel{padding: 0px;width: 100px;}
  #clientes-usuarios div.email-responsavel {    width: 200px;}
  #clientes-usuarios div.editar-ver {    width: 70px;    padding: 0px;}
  #clientes-usuarios div.status-cliente{width: 100px;}
  #clientes-usuarios div.lista-usuarios.sub-lista-usuario{width: 100%;height: auto; padding-left: 15px;border-bottom: 1px dashed #ededed;}

}
@media (max-width: 701px)  {
   #clientes-usuarios .lista-usuarios div{margin-bottom: 10px;}
}
@media (max-width: 530px)  {
   #clientes-usuarios div.status-cliente{float: right;}
   #clientes-usuarios div.nome-cliente,#clientes-usuarios div.nome-responsavel{ width: 50% !important;}
   #clientes-usuarios div.nome-responsavel{ text-align: right;}
   #clientes-usuarios div.status-cliente{padding: 0px; text-align: right;}
}
@media (max-width: 480px)  {
  #clientes-usuarios .form-add-new-user div input.radius-left_m{-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
  #clientes-usuarios .form-add-new-user div input.radius-right_m{-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
  #clientes-usuarios .form-add-new-user div input.border-right_m{border-right-width: 1px;}
  #clientes-usuarios .form-add-new-user div.usuarios-cadastrados{padding-top: 0px;}
  #clientes-usuarios .form-add-new-user div.form-enviar{margin-bottom: 0px;}
  #clientes-usuarios .form-add-new-user div.usuarios-cadastrados p{margin-top: -35px;float: right;}
}
@media (max-width: 380px)  {
  #clientes-usuarios .lista-usuarios div{width: 100%;}
  #clientes-usuarios .lista-usuarios .email-usuario{padding-left: 40px;}
  #clientes-usuarios .lista-usuarios .cargo-usuario, #clientes-usuarios .lista-usuarios .status-usuario{width: 50%;}

  #clientes-usuarios div.nome-cliente, #clientes-usuarios div.status-cliente,  #clientes-usuarios div.editar-ver{width: 50%;}
  #clientes-usuarios div.nome-responsavel{width: 50%;}
    
  }