---
title: Code Editor
body_class: page-code-editor page-aside-scroll
layout: default.hbs

stylesheets_font:
- font-awesome/font-awesome.css
stylesheets_example:
- pages/code-editor.css
stylesheets_vendor:
- bootstrap-treeview/bootstrap-treeview.css
- codemirror/codemirror.css
- codemirror/addon/scroll/simplescrollbars.css
javascripts_vendor:
- bootstrap-treeview/bootstrap-treeview.min.js
- codemirror/codemirror.js
- codemirror/addon/scroll/simplescrollbars.js
- codemirror/mode/xml/xml.js
- codemirror/mode/css/css.js
- codemirror/mode/htmlmixed/htmlmixed.js
- bootstrap-contextmenu/bootstrap-contextmenu.js
javascripts_global:
- components/bootstrap-treeview.js
javascripts_example:
- pages/code-editor.js
---

<div class="page animsition" ng-controller="CodeEditorCtrl">
  <div class="page-aside">
    <div class="page-aside-switch">
      <i class="icon wb-chevron-left" aria-hidden="true"></i>
      <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner page-aside-scroll">
      <div data-role="container">
        <div data-role="content">
          <section class="page-aside-section">
            <h4 class="page-aside-title">Code Editor</h4>
            <div id="filesTree"></div>
            <!-- Your custom menu with dropdown-menu as default styling -->
            <div id="filesContextMenu">
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" tabindex="-1"><i class="icon wb-pencil" aria-hidden="true"></i> Rename...</a>
                <a class="dropdown-item" tabindex="-1"><i class="icon wb-search" aria-hidden="true"></i> Find in...</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" tabindex="-1"><i class="icon wb-file" aria-hidden="true"></i> New File</a>
                <a class="dropdown-item" tabindex="-1"><i class="icon wb-folder" aria-hidden="true"></i> New Folder...</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" tabindex="-1"><i class="icon wb-close" aria-hidden="true"></i> Deleted...</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="page-main">
    <div class="page-content">
      <textarea id="code"><!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html></textarea>
    </div>
  </div>
</div>
