---
title: Gallery
layout: default.hbs
stylesheets_example:
- pages/gallery.css
javascripts_vendor:
- isotope/isotope.pkgd.min.js
- magnific-popup/jquery.magnific-popup.min.js
stylesheets_vendor:
- magnific-popup/magnific-popup.css
javascripts_global:
- components/filterable.js
javascripts_example:
- pages/gallery.js
---

<div class="page animsition" ng-controller="GalleryCtrl">
  <div class="page-header page-header-bordered page-header-tabs">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Pages</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
    <div class="page-header-actions">
      <a class="btn btn-sm btn-inverse btn-round" href="https://github.com/metafizzy/isotope" target="_blank">
        <i class="icon wb-link" aria-hidden="true"></i>
        <span class="hidden-sm-down">Official Website</span>
      </a>
    </div>

    <ul class="nav nav-tabs nav-tabs-line" role="tablist" id="exampleFilter">
      <li class="nav-item" role="presentation">
        <a class="active nav-link" href="#" aria-controls="exampleList" aria-expanded="true" role="tab" data-filter="*">All</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#" aria-expanded="false" role="tab" data-filter="object">Object</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#" aria-expanded="false" role="tab" data-filter="city">City</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#" aria-expanded="false" role="tab" data-filter="animal">Animal</a>
      </li>
    </ul>
  </div>

  <div class="page-content">
    <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2" data-plugin="filterable" data-filters="#exampleFilter">
      <li data-type="animal">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'animal-5.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'animal-5.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Animal Horse</h4>
          </div>
        </div>
      </li>
      <li data-type="object">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'object-2.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'object-2.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Object Coffee</h4>
          </div>
        </div>
      </li>
      <li data-type="object">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'object-3.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'object-3.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Object Cup</h4>
          </div>
        </div>
      </li>
      <li data-type="city">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'city-1.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'city-1.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">City Nature</h4>
          </div>
        </div>
      </li>
      <li data-type="scenery">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'city-2.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'city-2.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">City Station</h4>
          </div>
        </div>
      </li>
      <li data-type="city">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'city-3.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'city-3.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">City Leaf</h4>
          </div>
        </div>
      </li>
      <li data-type="animal">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'animal-3.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'animal-3.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Animal Bird</h4>
          </div>
        </div>
      </li>
      <li data-type="city">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'city-4.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'city-4.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">City Street</h4>
          </div>
        </div>
      </li>
      <li data-type="animal">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'animal-1.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'animal-1.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Animal Nature</h4>
          </div>
        </div>
      </li>
      <li data-type="city">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'city-5.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'city-5.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">City Night</h4>
          </div>
        </div>
      </li>
      <li data-type="object">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'object-1.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'object-1.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Object Book</h4>
          </div>
        </div>
      </li>
      <li data-type="object">
        <div class="card card-shadow">
          <figure class="card-img-top overlay-hover overlay">
            <img class="overlay-figure overlay-scale" src="{{image 'object-4.jpg' width='720' height='480'}}" alt="...">
            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
              <a class="icon wb-search" href="{{image 'object-4.jpg' width='720' height='480'}}"></a>
            </figcaption>
          </figure>
          <div class="card-block">
            <h4 class="card-title">Object Grape</h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
