---
title: Gallery Grid
layout: default.hbs
body_class: page-gallery-grid
stylesheets_example:
- pages/gallery-grid.css
javascripts_vendor:
- matchheight/jquery.matchHeight-min.js
javascripts_global:
- components/matchheight.js
---

<div class="page animsition">
  <div class="page-content padding-0">
    <ul class="blocks no-space blocks-100 blocks-xxl-3 blocks-lg-2">
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-1.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>September 12, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Probantur Dubio Fortitudinem Istius.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-2.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>September 28, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Locus Referuntur Eruditus Finitum.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-3.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>October 05, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Atomi O Consentaneum Distrahi.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-4.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>October 15, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Summa Arbitratu Placebit Fruitur.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-5.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>October 23, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Beateque Civium Durissimis Equos.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-6.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>October 28, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Suas Cupio Conveniunt Insidiarum.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-7.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>November 16, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Misisti Accusantium Statue Beate.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-8.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>November 22, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Dominorum Erunt Primos Causas.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-9.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>November 25, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Accessio Iudicem Exiguam Instituit.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-10.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>December 11, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Lorem Ipsum Dolor Sit Amet.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-11.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>December 27, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Lorem Ipsum Dolor Sit Amet.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
      <li class="card card-inverse overlay overlay-hover">
        <img class="card-img overlay-scale overlay-figure" src="{{image 'view-12.jpg' width='960' height='640'}}" alt="...">
        <div class="card-img-overlay overlay-background overlay-background-fixed text-xs-center vertical-align">
          <div class="vertical-align-middle">
            <div class="card-text card-divider">
              <span>December 30, 2015</span>
            </div>
            <h3 class="card-title margin-bottom-20">Lorem Ipsum Dolor Sit Amet.</h3>
            <a href="javascript:void(0);" class="btn btn-outline btn-inverse card-link">READ MORE</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
