---
title: Search result
layout: default.hbs
body_class: page-search

stylesheets_example:
- pages/search-result.css
javascripts_vendor:
- aspaginator/jquery.asPaginator.min.js
javascripts_global:
- components/aspaginator.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <form class="page-search-form" role="search">
          <div class="input-search input-search-dark">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Pages">
            <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
          </div>
        </form>
        <h1 class="page-search-title">Search Results For "Web Design"</h1>
        <p class="page-search-count">About <span>1,370</span> result (<span>0.13</span> seconds)</p>
        <ul class="list-group list-group-full list-group-dividered">
        {{#if pagesSearch}}
          {{#each pagesSearch}}
          <li class="list-group-item">
            <h4><a href="{{url}}">{{title}}</a></h4>
            <a class="search-result-link" href="{{url}}">{{url}}</a>
            <p>{{text}}</p>
          </li>
          {{/each}}
        {{/if}}
        </ul>
        <nav>
          <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
        </nav>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
