---
title: Site Map
layout: default.hbs
stylesheets_example:
- pages/site-map.css
javascripts_global:
- components/panel.js
---
<!-- Page -->
<div class="page animsition">
  <!-- Page Header -->
  <div class="page-header">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest '/index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Pages</li>
    </ol>
    <h1 class="page-title">{{title}}</h1>
  </div>
  <!-- End Page Header -->
  <!-- Page Content -->
  <div class="page-content container-fluid">
    <div class="panel">
      {{#if site_menu}}
      <div class="panel-body">
        <div class="row">
          {{#each site_menu}}
          <div class="col-xxl-3 col-lg-6 col-md-6">
            <!-- Sitemap List -->
            <h4>{{this.title}}</h4>
            <ul class="sitemap-list">
              {{#each this.items}}
              {{#if this.children}}
              <li>
              {{else}}
              <li class="is-single">
              {{/if}}
              <a href="#">
                {{#if this.icon}}
                <i class="{{this.icon}} margin-right-10"></i>
                {{/if}}
                <span>{{this.title}}</span>
              </a>

              <!-- Sitemap Children -->
              {{#if this.children}}
              <ul>

                {{#each this.children}}
                <li>
                {{#if this.link}}
                <a href="{{dest this.link}}">
                  <i class="icon wb-link pull-right"></i>
                  <span>{{this.title}}</span>
                </a>
                {{else}}
                <a href="javascript:void(0)">
                  <i class="icon wb-link pull-right"></i>
                  <span>{{this.title}}</span>
                </a>
                {{/if}}
                </li>
                {{#if this.children}}
                <!-- Sitemap List Sub -->
                <ul class="sitemap-list-sub">
                  {{#each this.children}}
                  <li>
                  {{#if this.link}}
                  <a href="{{dest this.link}}">
                    {{this.title}}
                  </a>
                  {{else}}
                  <a href="javascript:void(0)">
                    {{this.title}}
                  </a>
                  {{/if}}
                  </li>
                  {{#if this.children}}
                  <!-- Sitemap List Next Sub -->
                  <ul class="sitemap-list-sub">
                    {{#each this.children}}
                    <li>
                    {{#if this.link}}
                    <a href="{{dest this.link}}">
                      {{this.title}}
                    </a>
                    {{else}}
                    <a href="javascript:void(0)">
                      {{this.title}}
                    </a>
                    {{/if}}
                    </li>
                    {{/each}}
                  </ul>
                  <!-- End Sitemap Next List Sub -->
                  {{/if}}
                  {{/each}}
                </ul>
                <!-- End Sitemap List Sub -->
                {{/if}}
                {{/each}}
              </ul>
              <!-- End Sitemap Children -->
              {{else if this.sections}}
              <!-- Sitemap Sections -->
              <ul>
                {{#each this.sections}}
                <li>
                {{#if this.link}}
                <a href="{{dest this.link}}">
                  <i class="icon wb-link pull-right"></i>
                  <span>{{this.title}}</span>
                </a>
                {{else}}
                <a href="javascript:void(0)">
                  <i class="icon wb-link pull-right"></i>
                  <span>{{this.title}}</span>
                </a>
                {{/if}}
                </li>
                {{#if this.children}}
                <!-- Sitemap List Sub -->
                <ul class="sitemap-list-sub">
                  {{#each this.children}}
                  <li>
                  {{#if this.link}}
                  <a href="{{dest this.link}}">
                    {{this.title}}
                  </a>
                  {{else}}
                  <a href="javascript:void(0)">
                    {{this.title}}
                  </a>
                  {{/if}}
                  </li>
                  {{#if this.children}}
                  <!-- Sitemap List Sub -->
                  <ul class="sitemap-list-sub">
                    {{#each this.children}}
                    <li>
                    {{#if this.link}}
                    <a href="{{dest this.link}}">
                      {{this.title}}
                    </a>
                    {{else}}
                    <a href="javascript:void(0)">
                      {{this.title}}
                    </a>
                    {{/if}}
                    </li>
                    {{/each}}
                  </ul>
                  <!-- End Sitemap List Sub -->
                  {{/if}}
                  {{/each}}
                </ul>
                <!-- End Sitemap List Sub -->
                {{/if}}
                {{/each}}
              </ul>
              <!-- End Sitemap Sections -->
              {{/if}}
              </li>
              {{/each}}

            </ul>
            <!-- End Sitemap List -->
          </div>
          {{/each}} 

        </div>
      </div>
      {{/if}}
    </div>
  </div>
  <!-- End Page Content -->
</div>
<!-- End Page -->