---
title: User
body_class: page-user
layout: default.hbs

stylesheets_example:
- pages/user.css
javascripts_vendor:
- aspaginator/jquery.asPaginator.min.js
javascripts_global:
- components/aspaginator.js
- plugins/responsive-tabs.js
- components/tabs.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-content">
    <!-- Panel -->
    <div class="panel">
      <div class="panel-body">
        <form class="page-search-form" role="search">
          <div class="input-search input-search-dark">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Search Users">
            <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
          </div>
        </form>

        <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
          <div class="dropdown page-user-sortlist">
            Order By: <a class="dropdown-toggle inline-block" data-toggle="dropdown" href="#" aria-expanded="false">Last Active</a>
            <div class="dropdown-menu animation-scale-up animation-top-right animation-duration-250" role="menu">
              <a class="active dropdown-item" href="javascript:void(0)">Last Active</a>
              <a class="dropdown-item" href="javascript:void(0)">Username</a>
              <a class="dropdown-item" href="javascript:void(0)">Location</a>
              <a class="dropdown-item" href="javascript:void(0)">Register Date</a>
            </div>
          </div>

          <ul class="nav nav-tabs nav-tabs-line" role="tablist">
            <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab">My Contacts</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#google_contacts" aria-controls="google_contacts" role="tab">Google Contacts</a></li>
            <li class="dropdown nav-item" role="presentation">
              <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Contacts </a>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">All Contacts</a>
                <a class="active dropdown-item" data-toggle="tab" href="#my_contacts" aria-controls="my_contacts" role="tab">My Contacts</a>
                <a class="dropdown-item" data-toggle="tab" href="#google_contacts" aria-controls="google_contacts" role="tab">Google Contacts</a>
              </div>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
              <ul class="list-group">
                {{#each page_users.all_contacts}}
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-{{this.state}}">
                        <img src="{{portrait this.image}}" alt="...">
                        <i class="avatar avatar-busy"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{this.name}}
                        <small>Last Access: {{this.time}}</small>
                      </h4>
                      <p>
                        <i class="icon icon-color wb-map" aria-hidden="true"></i> {{this.address}}
                      </p>
                      <div>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-envelope" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-mobile" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-right">
                    {{#if following}}
                      <button type="button" class="btn btn-success btn-sm">
                        <i class="icon wb-check" aria-hidden="true"></i>Following
                      </button>
                    {{else}}
                      <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                    {{/if}}
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
              <nav>
                <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
              </nav>
            </div>

            <div class="tab-pane animation-fade" id="my_contacts" role="tabpanel">
              <ul class="list-group">
                {{#each page_users.my_contacts}}
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-{{this.state}}">
                        <img src="{{portrait this.image}}" alt="...">
                        <i></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{this.name}}
                        <small>Last Access: {{this.time}}</small>
                      </h4>
                      <p>
                        <i class="icon icon-color wb-map" aria-hidden="true"></i> {{this.address}}
                      </p>
                      <div>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-envelope" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-mobile" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-right">
                    {{#if following}}
                      <button type="button" class="btn btn-success btn-sm">
                        <i class="icon wb-check" aria-hidden="true"></i>Following
                      </button>
                    {{else}}
                      <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                    {{/if}}
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
              <nav>
                <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
              </nav>
            </div>

            <div class="tab-pane animation-fade" id="google_contacts" role="tabpanel">
              <ul class="list-group">
                {{#each page_users.google_contacts}}
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <div class="avatar avatar-{{this.state}}">
                        <img src="{{portrait this.image}}" alt="...">
                        <i></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{this.name}}
                        <small>Last Access: {{this.time}}</small>
                      </h4>
                      <p>
                        <i class="icon icon-color wb-map" aria-hidden="true"></i> {{this.address}}
                      </p>
                      <div>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-envelope" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color wb-mobile" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="text-action" href="javascript:void(0)">
                          <i class="icon icon-color bd-dribbble" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                    <div class="media-right">
                    {{#if following}}
                      <button type="button" class="btn btn-success btn-sm">
                        <i class="icon wb-check" aria-hidden="true"></i>Following
                      </button>
                    {{else}}
                      <button type="button" class="btn btn-outline btn-success btn-sm">Follow</button>
                    {{/if}}
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
              <nav>
                <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border"></ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel -->
  </div>
</div>
<!-- End Page -->
