<variables>
title: {{title}}
{{#if body_class}}
body_class: {{body_class}}
{{/if}}
</variables>

<extend "layout-default">
  {{#if stylesheets_vendor}}
  <content "css_vendor" mode="append">
    {{#each stylesheets_vendor}}
      <link rel="stylesheet" href="[|[global]|]/vendor/{{this}}">
    {{/each}}
  </content>
  {{/if}}

  {{#or stylesheets stylesheets_example}}
  <content "css" mode="prepend">
    {{#if stylesheets}}
      {{#each stylesheets}}
        <link rel="stylesheet" href="[|[assets]|]/css/{{this}}">
      {{/each}}
    {{/if}}
    {{#if stylesheets_example}}
      {{#each stylesheets_example}}
        <link rel="stylesheet" href="[|[assets]|]/examples/css/{{this}}">
      {{/each}}
    {{/if}}
  </content>
  {{/or}}

  {{#if stylesheets_external}}
  <content "css" mode="append">
    {{#each stylesheets_external}}
      <link rel="stylesheet" href="{{this}}">
    {{/each}}
  </content>
  {{/if}}

  {{#if stylesheets_font}}
  <content "fonts" mode="prepend">
    {{#each stylesheets_font}}
      <link rel="stylesheet" href="[|[global]|]/fonts/{{this}}">
    {{/each}}
  </content>
  {{/if}}

  {{#if javascripts_vendor}}
  <content "js_vendor" mode="append">
    {{#each javascripts_vendor}}
      <script src="[|[global]|]/vendor/{{this}}"></script>
    {{/each}}
  </content>
  {{/if}}

  {{#if javascripts_global}}
  <content "js" mode="append">
    {{#each javascripts_global}}
      <script src="[|[global]|]/js/{{this}}"></script>
    {{/each}}
  </content>
  {{/if}}

  {{#if javascripts_asset}}
  <content "js" mode="append">
    {{#each javascripts_asset}}
      <script src="[|[assets]|]/js/{{this}}"></script>
    {{/each}}
  </content>
  {{/if}}

  {{#if javascripts_example}}
  <content "scripts" mode="replace">
    {{#each javascripts_example}}
      <script src="[|[assets]|]/examples/js/{{this}}"></script>
    {{/each}}
  </content>
  {{/if}}

  <content "body">
    {{> body }}
  </content>
</extend>
