<div class="mask-white-opacity" ng-show="$ctrl.showPortfolio">
</div>
<div class="popup-bg-white" ng-show="$ctrl.showPortfolio">
    <div class="col-sm-10 div-upload-portfolio">
        <form ng-submit="$ctrl.save()">
            <div class="header-popup-portfolio"> 
                <h3>{{ $ctrl.professionalName }}</h3>
                <input type="text" name=""ng-model="$ctrl.portfolio.URL" class="form-control form-inline" placeholder="http://site.com.br">
                <span ng-click="$ctrl.showPortfolio = false;" class="fechar-portfolio">Sair X</span>
            </div>
            
            <div class="content-upload-portfolio">
            
                <div class="box-upload-portfolio" ondragover="onDragOver()">
                <div class="preview-image-portfolio" ng-show="$ctrl.imgAttach" ng-style="$ctrl.imgAttachBg">
                    <span class="excluir-portfolio cursor" ng-click="$ctrl.deleteImage()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                </div>
                <div id="my-dropzone" class="my-dropzone drop-portfolio" ondrop="onDrop()" ondragleave="onDragLeave()"></div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="align-vertical">
                            <h2>Arraste aqui uma imagem para ilustrar seu projeto</h2>
                            <p>Inclua imagens de trabalhos que você criou ou dos quais participou.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="align-vertical">
                            <h2>Seu portfolio é um vídeo?</h2>
                            <br>
                            <input type="text" ng-model="$ctrl.portfolio.Media" ng-blur="$ctrl.loadVideo()" class="form-control" placeholder="Copie a url do vídeo aqui.">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-7 col-xs-">
                        <br>
                        <input type="text" name="" ng-model="$ctrl.portfolio.Title" class="form-control" placeholder="Nome do Projeto" />
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        Desenvolvido para:
                        <input type="text" name="" ng-model="$ctrl.portfolio.ClientName" class="form-control form-inline" placeholder="Nome do Cliente" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12 col-xs-12">
                        <textarea ng-model="$ctrl.portfolio.Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <input type="text" class="form-control" placeholder="http://linkdoprojeto.com" name="">
                    </div>
                    <div class="col-sm-7">
                        <p>O projeto foi publicado na web? Adicione o link para que seu trabalho possa ser visto na íntegra.</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    <div class="col-sm-7">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="preview-template" class="none">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <!--<div class="dz-filename"><span data-dz-name></span><i class="icon fa-remove remover-anexo" aria-hidden="true"></i></div>-->
            <div class="dz-size" data-dz-size></div>
            <span class="remo__ver-anexo"></span>
            <img data-dz-thumbnail />
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-success-mark"><span>✔</span></div>
        <div class="dz-error-mark"><span>✘</span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</div>

<script type="text/javascript">

    function onDragOver() {
        $jQuery('#my-dropzone')
            .css('display', 'block');
    }

    function onDrop() {
        $jQuery('#my-dropzone')
            .css('display', 'none');
    }

    function onDragLeave() {
        $jQuery('#my-dropzone')
            .css('display', 'none'); 
    }

</script>

