---
layout: empty.hbs
---
{{#if site_menu}}
<ul class="site-menu">
{{#each site_menu}}
    <li class="site-menu-category">{{this.title}}</li>
    {{#each this.items}}
    {{#if this.children}}
    <li class="site-menu-item has-sub{{#if this.class}} {{this.class}}{{/if}}{{#active this.slug}} active open{{/active}}">
    {{else}}
    <li class="site-menu-item{{#if this.class}} {{this.class}}{{/if}}{{#active this.link}} active{{/active}}">
    {{/if}}
        {{#if this.link}}
        <a class="animsition-link" href="{{dest this.link}}">
        {{else}}
        <a href="javascript:void(0)">
        {{/if}}
            {{#if this.icon}}
            <i class="site-menu-icon {{this.icon}}" aria-hidden="true"></i>
            {{/if}}
            <span class="site-menu-title">{{this.title}}</span>
            {{#if this.badge}}
                <div class="site-menu-badge">
                    <span class="tag tag-pill {{this.badge.modifier}}">{{this.badge.text}}</span>
                </div>
            {{else}}
              {{#if this.label}}
                  <div class="site-menu-label">
                      <span class="tag {{this.label.modifier}}">{{this.label.text}}</span>
                  </div>
              {{else}}
                {{#if this.children}}
                    <span class="site-menu-arrow"></span>
                {{/if}}
              {{/if}}
            {{/if}}
        </a>
        {{#if this.children}}
            <ul class="site-menu-sub">
                {{#each this.children}}
                    {{#if this.children}}
                    <li class="site-menu-item has-sub{{#if this.class}} {{this.class}}{{/if}}{{#active this.slug}} active open{{/active}}">
                    {{else}}
                    <li class="site-menu-item{{#if this.class}} {{this.class}}{{/if}}{{#active this.link}} active{{/active}}">
                    {{/if}}
                        {{#if this.link}}
                        <a class="animsition-link" href="{{dest this.link}}">
                        {{else}}
                        <a href="javascript:void(0)">
                        {{/if}}
                            {{#if this.icon}}
                            <i class="site-menu-icon {{this.icon}}" aria-hidden="true"></i>
                            {{/if}}
                            <span class="site-menu-title">{{this.title}}</span>
                            {{#if this.badge}}
                                <div class="site-menu-badge">
                                    <span class="tag tag-pill {{this.badge.modifier}}">{{this.badge.text}}</span>
                                </div>
                            {{/if}}
                            {{#if this.label}}
                                <div class="site-menu-label">
                                    <span class="tag {{this.label.modifier}}">{{this.label.text}}</span>
                                </div>
                            {{/if}}
                            {{#if this.children}}
                                <span class="site-menu-arrow"></span>
                            {{/if}}
                        </a>
                        {{#if children}}
                            <ul class="site-menu-sub">
                                {{#each children}}
                                    <li class="site-menu-item{{#if this.class}} {{this.class}}{{/if}}{{#active this.link}} active{{/active}}">
                                        {{#if this.link}}
                                        <a class="animsition-link" href="{{dest this.link}}">
                                        {{else}}
                                        <a href="javascript:void(0)">
                                        {{/if}}
                                            {{#if this.icon}}
                                            <i class="site-menu-icon {{this.icon}}" aria-hidden="true"></i>
                                            {{/if}}
                                            <span class="site-menu-title">{{this.title}}</span>
                                            {{#if this.badge}}
                                                <div class="site-menu-badge">
                                                    <span class="tag tag-pill {{this.badge.modifier}}">{{this.badge.text}}</span>
                                                </div>
                                            {{/if}}
                                            {{#if this.label}}
                                                <div class="site-menu-label">
                                                    <span class="tag {{this.label.modifier}}">{{this.label.text}}</span>
                                                </div>
                                            {{/if}}
                                            {{#if this.children}}
                                                <span class="site-menu-arrow"></span>
                                            {{/if}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </li>
    {{/each}}
{{/each}}
</ul>
{{/if}}