---
layout: empty.hbs
---
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <partials site_menu />

                <partials site_progress_bars />
            </div>
        </div>
    </div>

    <partials site_menubar_footer />
</div>
