﻿
@{
    ViewBag.Title = "Esqueceu a Senha";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="page animsition vertical-align text-center">
    <div class="page-content vertical-align-middle">
        <div class="brand">
            <img class="brand-img" src="~/Content/images/crowd.png" alt="Agência Crowd">
            <h2 class="brand-text">Profissionais</h2>
        </div>
        <form method="post" action="@Url.Action("ForgetPassword")">
            @if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("sucesso")) {
                <div class="alert dark alert-alt alert-success alert-dismissible">Nova senha enviada com sucesso.</div>
                <p>Em alguns minutos você receberá um e-mail com a nova senha.</p>
            }
            else if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error"))
            {
                <div class="alert dark alert-alt alert-danger alert-dismissible">Dados inválidos</div>
                <p>Seu e-mail não foi encontrado.</p>
            }

            <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
                <label class="sr-only" for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Recuperar senha</button>
            </div>
            <div class="form-group clearfix">
                <a href="@Url.Action("Index")" class="btn">Voltar</a>
            </div>
        </form>
    </div>
</div>

