﻿
@{
    ViewBag.Title = "Login - Crowd";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="page animsition vertical-align text-center">
    <div class="page-content vertical-align-middle">
        <div class="brand">
            <img class="brand-img" src="~/Content/images/crowd.png" alt="Agência Crowd">
            <h2 class="brand-text">Profissionais</h2>
        </div>
        <form method="post" action="@Url.Action("Index")">
            @if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("sucesso-new"))
            {
            <div class="alert dark alert-alt alert-success alert-dismissible">Usuário cadastrado com sucesso</div>
            }
            else if (ViewBag.Status != null && ViewBag.Status.ToString().Equals("error-freela"))
            {
            <div class="alert dark alert-alt alert-danger alert-dismissible">Você ainda não tem um cadastro como profissional ou já possui login</div>
            }
            
            <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
                <label class="sr-only" for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail">
            </div>
            <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
                <label class="sr-only" for="inputPassword">Senha</label>
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Senha">
                @if (ViewBag.Error != null)
                {
                    <small class="help-block">Usuário e/ou senha inválidos</small>
                }
            </div>
            <div class="form-group clearfix" style="margin-bottom:10px">
                <a href="@Url.Action("ForgetPassword")" class="btn">Esqueceu sua senha?</a>
            </div>
            <!--<div class="form-group clearfix" style="padding-top: 0px;margin-top:0">
                <a href="@Url.Action("NewUser")" class="btn">Não tem um Login?</a>
            </div>-->


            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>
    </div>
</div>

