﻿@{
    ViewBag.Title = "Novo Usuário";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="page animsition vertical-align text-center">
    <div class="page-content vertical-align-middle">
        <div class="brand">
            <img class="brand-img" src="~/Content/images/crowd.png" alt="Agência Crowd">
            <h2 class="brand-text">Profissionais</h2>
        </div>
        <form method="post" action="@Url.Action("NewUser")">
            <div class="form-group @(ViewBag.Error != null ? "has-error" : "" )">
                <label class="sr-only" for="inputEmail">E-mail</label>
                <input type="email" class="form-control"  name="email" placeholder="E-mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
            <div class="form-group clearfix">
                <a href="@Url.Action("Index")" class="btn">Voltar</a>
            </div>
        </form>
    </div>
</div>
