---
title: Data Widgets
layout: default.hbs

stylesheets_example:
- widgets/data.css
stylesheets_vendor:
- tasklist/tasklist.css
javascripts_vendor:
- peity/jquery.peity.min.js
- masonry/masonry.pkgd.min.js
javascripts_global:
- components/peity.js
- components/tasklist.js
- components/masonry.js
javascripts_example:
- charts/peity.js
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)">Widgets</a></li>
      <li class="breadcrumb-item active">Data</li>
    </ol>
    <div class="page-header-actions">
      <button type="button" class="btn btn-sm btn-outline btn-default btn-round">
        <span class="text hidden-sm-down">Settings</span>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row" data-plugin="masonry">
      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel To Do List -->
        <div class="panel" id="todo-list">
          <div class="panel-heading">
            <h3 class="panel-title">To Do List</h3>
          </div>
          <ul class="list-task list-group">
            <li class="list-group-item task-done" data-plugin="tasklist">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputSchedule" name="inputCheckboxesSchedule" checked>
                <label for="inputSchedule">
                  <i class="icon wb-calendar" aria-hidden="true"></i>
                  <span>Schedule meeting</span>
                </label>
              </div>
            </li>
            <li class="list-group-item" data-plugin="tasklist">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputCall" name="inputCheckboxesCall">
                <label for="inputCall">
                  <i class="icon wb-bell" aria-hidden="true"></i>
                  <span>Call clients for follow-up</span>
                  <span class="tag tag-danger">Today</span>
                </label>
              </div>
            </li>
            <li class="list-group-item" data-plugin="tasklist">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputBook" name="inputCheckboxesBook">
                <label for="inputBook">
                  <i class="icon wb-calendar" aria-hidden="true"></i>
                  <span>Book flight for holiday</span>
                </label>
              </div>
            </li>
            <li class="list-group-item" data-plugin="tasklist">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputForward" name="inputCheckboxesForward">
                <label for="inputForward">
                  <span>Forward important tasks</span>
                  <span class="tag tag-primary">2 weeks</span>
                </label>
              </div>
            </li>
            <li class="list-group-item" data-plugin="tasklist">
              <div class="checkbox-custom checkbox-primary">
                <input type="checkbox" id="inputRecieve" name="inputCheckboxesRecieve">
                <label for="inputRecieve">
                  <span>Recieve shipment</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
        <!-- End Panel To Do List -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Message -->
        <div class="panel" id="messge">
          <div class="panel-heading">
            <div class="panel-actions">
              <a class="text-action" href="javascript:void(0)"><i class="icon wb-edit" aria-hidden="true"></i></a>
            </div>
            <h3 class="panel-title">Message</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-full">
            {{#if widgetMessage}}
              {{#each widgetMessage}}
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <span class="avatar avatar-{{author.status}}">
                      <img src="{{portrait author.avatar}}" alt="">
                      <i></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <h5 class="list-group-item-heading">
                      <small class="pull-xs-right">{{time}}</small>
                      {{author.name}}
                    </h5>
                    <p class="list-group-item-text">{{message}}</p>
                  </div>
                </div>
              </li>
              {{/each}}
            {{/if}}
            </ul>
          </div>
        </div>
        <!-- End Panel Message -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Subscribe -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Subscribe</h3>
          </div>
          <div class="panel-body">
            <form class="form-group">
              <input type="text" class="form-control" name="name" autocomplete="off" placeholder="Name">
            </form>
            <div class="form-group">
              <input type="email" class="form-control" name="email" autocomplete="off" placeholder="Email Address">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary">Subscribe</button>
            </div>
          </div>
        </div>
        <!-- End Panel Subscribe -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Daily Feed -->
        <div class="panel" id="daily-feed">
          <div class="panel-heading">
            <h3 class="panel-title">Daily feed <span class="pull-xs-right tag tag-round tag-warning">10 Messages</span></h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-online" href="javascript:void(0)"><img src="{{portrait '5.jpg'}}" alt=""><i></i></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-xs-right">5m ago</small>
                      <a class="name">Edward Fletcher</a>
                      posted a new blog.
                    </h4>
                    <small>Today 5:50 pm - 12.04.2015</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-off" href="javascript:void(0)"><img src="{{portrait '6.jpg'}}" alt=""><i></i></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-xs-right">2h ago</small>
                      <a class="name">Justin Martin</a>
                      posted message on
                      <a class="name">Crystal Bates</a>
                      site.
                    </h4>
                    <small>Today 2:55 pm - 12.04.2015</small>
                    <div class="actions margin-top-10">
                      <button type="button" class="btn btn-outline btn-default btn-xs"><i class="icon wb-thumb-up" aria-hidden="true"></i>Like</button>
                      <button type="button" class="btn btn-outline btn-default btn-xs"><i class="icon wb-heart" aria-hidden="true"></i>Love</button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-away" href="javascript:void(0)"><img src="{{portrait '7.jpg'}}" alt=""><i></i></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-xs-right">6h ago</small>
                      <a class="name">Terrance Arnold</a>
                      posted message on
                      <a class="name">Nathan Watts</a>
                      site.
                    </h4>
                    <small>Today 12:00 am - 12.04.2015</small>
                    <div class="content card card-default">
                      <div class="card-block">
                        Aspernatur ad aspernari sapienter constringendos conspiratione locatus. Ii maiores aequo tollit, profecta iucundo pueros assentior velit circumcisaque error fastidium nostros. Utuntur deserunt solvantur.
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-busy" href="javascript:void(0)"><img src="{{portrait '8.jpg'}}" alt=""><i></i></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <small class="pull-xs-right">20h ago</small>
                      <a class="name">Heather Harper</a>
                      started following
                      <a class="name">Terrance Arnold</a>.
                    </h4>
                    <small>Yesterday 9:00 pm - 11.04.2015</small>
                  </div>
                </div>
              </li>
            </ul>
            <button type="button" class="btn btn-block btn-primary"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More</button>
          </div>
        </div>
        <!-- End Panel Daily Feed -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Tickets -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Tickets</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
            {{#if widgetTickets}}
              {{#each widgetTickets}}
               <li class="list-group-item">
                  <small class="tag tag-round {{status.class}} pull-xs-right">{{status.text}}</small>
                  <p><a class="hightlight" href="javascript:void(0)">{{subject}}</a><span>[{{id}}]</span></p>
                  <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="{{portrait author.avatar}}" alt="">
                      </span>
                      <span>{{author.name}}</span>
                    </a>
                    <time datetime="{{datetime}}">{{time}}</time>
                  </small>
                </li>
              {{/each}}
            {{/if}}
            </ul>
          </div>
        </div>
        <!-- End Panel Tickets -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Sales -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Sales</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>ID #</th>
                  <th>Buyers</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Popularity</th>
                </tr>
              </thead>
              <tbody>
                {{#if widgetSales}}
                  {{#each widgetSales}}
                  <tr>
                    <td>{{id}}</td>
                    <td>{{buyers}}</td>
                    <td>{{product}}</td>
                    <td>{{price}}</td>
                    <td><span data-plugin="peityBar">{{popularity}}</span></td>
                  </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <a class="blue-grey-500" href="javascript:void(0)"><i class="icon wb-info-circle blue-600 margin-right-10" aria-hidden="true"></i>Show more details.</a>
          </div>
        </div>
        <!-- End Panel Sales -->
      </div>

      <!-- <div class="clearfix hidden-md-down"></div> -->

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Tasks -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Last Orders</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Order #</th>
                  <th>Order Time</th>
                  <th>Amount (USD)</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              {{#if widgetOrders}}
                {{#each widgetOrders}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{time}}</td>
                  <td>{{amount}}</td>
                  <td><span class="tag {{status_skin}}">{{status}}</span></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Tasks -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Projects -->
        <div class="panel" id="projects">
          <div class="panel-heading">
            <h3 class="panel-title">Projects</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Projects</td>
                  <td>Completed</td>
                  <td>Date</td>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody>
              {{#if widgetProjects}}
                {{#each widgetProjects}}
                <tr>
                  <td>{{projects}}</td>
                  <td>
                  <span data-plugin="peityPie"{{#if completed_skin}} data-skin="{{completed_skin}}"{{/if}}>{{completed}}</span>
                  </td>
                  <td>{{date}}</td>
                  <td><button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="Edit">
                    <i class="icon wb-wrench" aria-hidden="true"></i>
                  </button><button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip" data-original-title="Delete">
                    <i class="icon wb-close" aria-hidden="true"></i>
                  </button></td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Projects -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Projects Status -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">
              Projects Status <span class="tag tag-pill tag-info">5</span>
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>Project</td>
                  <td>Status</td>
                  <td class="text-xs-left">Progress</td>
                </tr>
              </thead>
              <tbody>
              {{#if widgetProjectsStatus}}
                {{#each widgetProjectsStatus}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{project}}</td>
                  <td><span class="tag {{status_skin}}">{{status}}</span></td>
                  <td>
                      <span data-plugin="peityLine">{{progress}}</span>
                  </td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Panel Projects Stats -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Followers -->
        <div class="panel" id="followers">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="icon wb-check" aria-hidden="true"></i> Followers
            </h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-online" href="javascript:void(0)">
                      <img src="{{portrait '9.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><a class="name" href="javascript:void(0)">Willard Wood</a></div>
                    <small>@heavybutterfly920</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-away" href="javascript:void(0)">
                      <img src="{{portrait '10.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-success btn-default btn-sm"><i class="icon wb-check" aria-hidden="true"></i>Following</button>
                    </div>
                    <div><a class="name" href="javascript:void(0)">Ronnie Ellis</a></div>
                    <small>@kingronnie24</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-busy" href="javascript:void(0)">
                      <img src="{{portrait '11.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><a class="name" href="javascript:void(0)">Gwendolyn Wheeler</a></div>
                    <small>@perttygirl66</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-off" href="javascript:void(0)">
                      <img src="{{portrait '12.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><a class="name" href="javascript:void(0)">Daniel Russell</a></div>
                    <small>@danieltiger08</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Panel Followers -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Chat -->
        <div class="panel" id="chat">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="icon wb-chat-text" aria-hidden="true"></i>
              Chat
            </h3>
          </div>
          <div class="panel-body">
            <div class="chats">
              <div class="chat">
                <div class="chat-avatar">
                  <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="June Lane">
                    <img src="{{portrait '4.jpg'}}" alt="...">
                    <i></i>
                  </a>
                </div>
                <div class="chat-body">
                  <div class="chat-content">
                    <p>
                      Good morning, sir.<br>What can I do for you?
                    </p>
                    <time class="chat-time" datetime="2015-07-01T11:37">11:37:08 am</time>
                  </div>
                </div>
              </div>
              <div class="chat chat-left">
                <div class="chat-avatar">
                  <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="left" title="Edward Fletcher">
                    <img src="{{portrait '5.jpg'}}" alt="...">
                    <i></i>
                  </a>
                </div>
                <div class="chat-body">
                  <div class="chat-content">
                    <p>Well, I am just looking around.</p>
                    <time class="chat-time" datetime="2015-07-01T11:39">11:39:57 am</time>
                  </div>
                </div>
              </div>
              <div class="chat">
                <div class="chat-avatar">
                  <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="June Lane">
                    <img src="{{portrait '4.jpg'}}" alt="...">
                    <i></i>
                  </a>
                </div>
                <div class="chat-body">
                  <div class="chat-content">
                    <p>
                      If necessary, please ask me.
                    </p>
                    <time class="chat-time" datetime="2015-07-01T11:40">11:40:10 am</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Say something">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <!-- End Panel Chat -->
      </div>

      <!-- <div class="clearfix hidden-md-down"></div> -->

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Last threads -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="panel-title-icon icon wb-chat-group" aria-hidden="true"></i> Last threads</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
            {{#if widgetThreads}}
              {{#each widgetThreads}}
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-{{author.status}}" href="javascript:void(0)">
                      <img src="{{portrait author.avatar}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <small class="pull-xs-right">20 hours ago</small>
                    <h4 class="media-heading">{{subject}}</h4>
                    <small>started by <a href="javascript:void(0)" title="">{{author.name}}</a> in <a class="tag tag-outline tag-default" href="javascript:void(0)" title="">{{forum}}</a></small>
                  </div>
                </div>
              </li>
              {{/each}}
            {{/if}}
            </ul>
          </div>
        </div>
        <!-- End Panel Last threads -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Last comments -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="panel-title-icon icon wb-chat" aria-hidden="true"></i> Last comments</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
            {{#if widgetComments}}
              {{#each widgetComments}}
              <li class="list-group-item">
                <div class="media comment">
                  <div class="media-left">
                    <a class="avatar avatar-{{author.status}}" href="javascript:void(0)">
                      <img src="{{portrait author.avatar}}" alt="...">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body comment-body">
                    <a class="comment-author">{{author.name}}</a>
                    <div class="comment-meta">
                      <span class="date">{{date}}</span>
                    </div>
                    <div class="comment-content">
                      <p>{{this.content}}</p>
                    </div>
                  </div>
                </div>
              </li>
              {{/each}}
            {{/if}}
            </ul>
          </div>
        </div>
        <!-- End Panel Last comments -->
      </div>

      <div class="col-lg-6 col-xs-12 masonry-item">
        <!-- Panel Twitter Feed -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Twitter Feed</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <textarea class="form-control" placeholder="Enter here for tweet..." rows="3"></textarea>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm pull-xs-right">Tweet</a>
            <div class="clearfix"></div>
            <hr class="margin-bottom-10" />
            <ul class="list-group list-group-dividered list-group-full">
            {{#if widgetTwitter}}
              {{#each widgetTwitter}}
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-{{author.status}}" href="javascript:void(0)">
                      <img src="{{portrait author.avatar}}" alt="...">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <small class="text-muted pull-xs-right">{{date}}</small>
                    <h4 class="media-heading">{{author.name}}</h4>
                    <div>{{this.content}}</div>
                  </div>
                </div>
              </li>
              {{/each}}
            {{/if}}
            </ul>
            <span class="text-info">163K users active</span>
          </div>
        </div>
        <!-- End Panel Last comments -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->
