#perfil-profissional {
 position: relative;
 width: 1024px;
 float: right;
 top: 0px;
 right: 0px;
 background: #fff;
 min-height: 100%;
 padding-bottom: 100px;
 background: #fff;
 -webkit-box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.2);
         box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.2);
}

#perfil-profissional i.icon.wb-close.close-perfil {
 position: absolute;
 top: 20px;
 left: 13px;
 cursor: pointer;
 font-size: 18px;
 color: #dcdcdc;
}

#perfil-profissional i.icon.wb-close.close-perfil:hover {
 color: #fff
}
.not-available-text {
  font-size: 10px;
  color: #b7b7b7; 
}

#perfil-profissional .header-perfil-profissional {
 background: #1D2B32;
 min-height: 153px;
 width: 100%;
 float: left;
 color: #fff;
 padding-top: 47px;
 z-index: 2;
 position: relative;
}

#perfil-profissional .header-perfil-profissional figure img {
 border-radius: 100%;
 float: left;
 margin-right: 17px;
 margin-left: 25px;
 position: absolute;
 left: 0px;
}

#perfil-profissional .foto-profissional-detalhes figure>div.img-profile-default {
 margin-right: 17px;
 margin-left: 25px;
 width: 80px !important;
 position: absolute;
 left: 0;
 padding-bottom: 80px !important;
}

#perfil-profissional .header-perfil-profissional strong {
 font-weight: 300;
 font-size: 16px;
}

#perfil-profissional .header-perfil-profissional .foto-profissional-detalhes {
 width: 290px;
 height: 84px;
}

#perfil-profissional .header-perfil-profissional figure strong {
 line-height: 18px;
 max-height: 36px;
 overflow: hidden;
 font-size: 19px;
 float: left;
 display: block;
 margin-top: 10px;
 padding-left: 110px;
}

#perfil-profissional .header-perfil-profissional figure p {
 line-height: 14px;
 max-height: 48px;
 overflow: visible;
 float: left;
 display: block;
 font-weight: 100;
 padding-left: 110px;
 margin-top: 5px;
 float: left;
 clear: both;
 letter-spacing: 0.05rem
}

#perfil-profissional .header-perfil-profissional .rating-selecionar {
 text-align: right;
 height: 84px;
 width: 170px;
}

#perfil-profissional .header-perfil-profissional .avaliacao-star {
 color: #8EA1AB;
 text-align: right;
}

#perfil-profissional .header-perfil-profissional .redes-sociais {
 width: 260px;
 padding: 0px 50px;
 height: 84px;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones {
 margin-top: 22px;
 width: 115%;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones i {
 font-size: 17px;
 margin-right: 15px;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones a i.fa-twitter {
 color: #55ACEE;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones a i.fa-facebook {
 color: #3B5998;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones a i.fa-dribbble {
 color: #C32361;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones a i.fa-instagram {
 color: #225C82;
}

#perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones a i.fa-linkedin {
 color: #007BB6;
}

#perfil-profissional .header-perfil-profissional .portfolio {
 padding-right: 30px;
 text-align: center;
 height: 84px;
 width: 200px;
}

#perfil-profissional .header-perfil-profissional .portfolio a {
 text-decoration: underline;
 margin-top: 22px;
 font-size: 12px;
 display: block;
}

#perfil-profissional .coluna-profissional {
 padding-top: 45px;
 padding-left: 0px;
}

#perfil-profissional .coluna-profissional .local-profissional-window {
 border-top: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 width: 100%;
 float: left;
 padding: 10px;
 padding-left: 40px;
 margin-bottom: 30px
}

#perfil-profissional .coluna-profissional h3.titulo-profissionais {
 font-weight: 300;
 color: #000;
 font-size: 16px;
}

#perfil-profissional .coluna-profissional p {
 font-size: 12px;
 color: #78909C;
}

#perfil-profissional .tags-profissional-window span {
 color: #57C7D4;
 border: 1px solid #57C7D4;
 border-radius: 5px;
 padding: 0px 14px;
 margin-right: 4px;
 margin-bottom: 10px;
 display: inline-block;
}

#perfil-profissional .col-esquerda>.col-sm-12 {
 padding-left: 40px;
}

#perfil-profissional .metadados-profissional-window {
 font-size: 12px;
}

#perfil-profissional .metadados-profissional-window strong {
 font-weight: 400;
 color: #58646C;
 margin-right: 5px;
}

#perfil-profissional .metadados-profissional-window div {
 margin-bottom: 10px;
 overflow: hidden;
 -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
 white-space: nowrap;
}

#perfil-profissional .col-direita {
 padding-left: 30px;
}

#perfil-profissional .col-direita .barra-avaliacao {
 background: #E3E4E5;
 width: 100%;
 height: 3px;
 border-radius: 3px;
}

#perfil-profissional .col-direita .barra-avaliacao>div {
 background: #49DDBF;
 height: 3px;
 width: 0px;
 border-radius: 3px;
}

#perfil-profissional .col-direita .barra-avaliacao>div.avaliacao-1 {
 width: 20%;
}

#perfil-profissional .col-direita .barra-avaliacao>div.avaliacao-2 {
 width: 40%;
}

#perfil-profissional .col-direita .barra-avaliacao>div.avaliacao-3 {
 width: 60%;
}

#perfil-profissional .col-direita .barra-avaliacao>div.avaliacao-4 {
 width: 80%;
}

#perfil-profissional .col-direita .barra-avaliacao>div.avaliacao-5 {
 width: 100%;
}

#perfil-profissional .col-direita .ultimas-avaliacaoes {
 margin-top: 20px;
}

#perfil-profissional .col-direita .ultimas-avaliacaoes>div {
 border-bottom: 1px solid #ccc;
 padding-bottom: 20px;
 margin-bottom: 20px;
}

#perfil-profissional .usuario-sem-recomendacao {
 background: rgba(235, 235, 227, 0.87);
 position: absolute;
 right: 0;
 margin-top: -45px;
 text-align: center;
 vertical-align: middle;
 line-height: 20px;
 z-index: 1;
 padding: 0% 50px;
 width: 50%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-line-pack: center;
     align-content: center;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 bottom: 0px;
 top: 0px;
 color: #000;
}

#perfil-profissional .cargo {
 color: #59656C;
 font-size: 14px;
}

#perfil-profissional .data_trabalho {
 color: #78909C;
 font-size: 12px;
}

#perfil-profissional .nome_empresa {
 color: #59656C;
 font-size: 14px;
}

#perfil-profissional .experiencia-profissional-window {
 border-bottom: 1px solid #ccc;
 margin-bottom: 30px;
 padding-bottom: 10px;
}

#perfil-profissional .equipe-profissional {
 margin-bottom: 40px;
 float: left;
 width: 100%;
 height: 120px;
}

#perfil-profissional .equipe-profissional figure {
 width: 40%;
}

#perfil-profissional .equipe-profissional figure img {
 width: 40px;
 height: 40px;
 border-radius: 100%;
 float: left;
 position: absolute;
 left: 0px;
}

#perfil-profissional .equipe-profissional figure strong {
 font-size: 14px;
 font-weight: 400;
 padding-left: 36px;
 float: left;
 display: block;
}

#perfil-profissional .equipe-profissional figure p {
 float: left;
 display: block;
 font-weight: 300;
 padding-left: 40px;
}

#perfil-profissional .logo-avaliador-empresa img {
 max-height: 26px;
 max-width: 100%;
 width: auto;
 height: auto;
}

#perfil-profissional .data-avaliacao-projeto {
 border: 1px solid #D3D6D8;
 color#7B8389;
 border-radius: 5px;
 margin: 0 5px;
 padding: 5px 10px;
}

#perfil-profissional .box-ultimas-avaliacoes .avaliacao-star {
 font-size: 7px;
 margin-right: 0px;
}

#perfil-profissional .box-ultimas-avaliacoes .avaliacao-star i {
 margin-right: 0px;
 font-size: 7px;
}

#perfil-profissional .box-ultimas-avaliacoes {
 border-bottom: 1px solid #ccc;
 margin-bottom: 25px;
}

#perfil-profissional .box-ultimas-avaliacoes .linha-avaliador {
 margin-bottom: 20px;
}

#perfil-profissional .col-direita h3.no-margin {
 margin: 0px;
}

@media screen and (max-width: 1287px) {
 #perfil-profissional {
  width: 939px
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais {
  width: 189px;
  padding: 0px 15px;
 }
}

@media screen and (max-width: 1030px) {
 #perfil-profissional {
  width: 850px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais {
  width: 189px;
  padding: 0px 15px;
 }
}

@media screen and (max-width: 941px) {
 #perfil-profissional {
  width: 762px;
 }
 #perfil-profissional .header-perfil-profissional .portfolio {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  float: left;
 }
 #perfil-profissional .header-perfil-profissional .portfolio a {
  display: inline-block;
 }
}

@media screen and (max-width: 851px) {
 #perfil-profissional {
  width: 674px;
 }
 #perfil-profissional .coluna-profissional {
  width: 100%;
 }
}

@media screen and (max-width: 766px) {
 #perfil-profissional .usuario-sem-recomendacao {
  position: relative;
  width: 100%;
  padding: 50px;
  margin-top: -181px;
  float: left;
 }
 #perfil-profissional {
  width: 100%;
 }
}

@media screen and (max-width: 650px) {
 #perfil-profissional .header-perfil-profissional .redes-sociais,
 #perfil-profissional .header-perfil-profissional .portfolio {
  width: 50%
 }
 #perfil-profissional .header-perfil-profissional .foto-profissional-detalhes {
  width: 283px;
 }
 #perfil-profissional .header-perfil-profissional .rating-selecionar {
  width: 190px;
  float: right;
  padding-right: 30px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais {
  padding-top: 20px;
  padding-left: 30px
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones {
  display: block;
 }
 #perfil-profissional .header-perfil-profissional .portfolio {
  padding-top: 20px;
  text-align: right;
 }
 #perfil-profissional .header-perfil-profissional .portfolio a {
  display: block;
 }
 #perfil-profissional .header-perfil-profissional {
  padding-bottom: 20px;
 }
}

@media screen and (max-width: 480px) {
 #perfil-profissional .col-esquerda>.col-sm-12 {
  padding-left: 20px;
 }
 #perfil-profissional .experiencia-profissional-window .row {
  margin: 0px;
 }
}

@media screen and (max-width: 471px) {
 #perfil-profissional .header-perfil-profissional figure img {
  width: 50px;
  margin-left: 15px;
  height: 50px;
 }
 #perfil-profissional .header-perfil-profissional figure strong {
  line-height: 18px;
  max-height: 36px;
  overflow: hidden;
  font-size: 15px;
  margin-top: 0px;
 }
 #perfil-profissional .header-perfil-profissional .foto-profissional-detalhes {
  width: 204px;
 }
 #perfil-profissional .header-perfil-profissional figure p {
  font-size: 12px;
 }
 #perfil-profissional .header-perfil-profissional .foto-profissional-detalhes {
  width: 190px;
  height: 70px
 }
 #perfil-profissional .header-perfil-profissional .rating-selecionar {
  width: 130px;
  height: 70px
 }
 #perfil-profissional .header-perfil-profissional .rating-selecionar .btn {
  width: 83px;
  overflow: hidden;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones i {
  font-size: 15px;
  margin-right: 11px;
 }
}

@media screen and (max-width: 390px) {
 #perfil-profissional .data-avaliacao-projeto {
  padding: 1px 5px;
  font-size: 9px;
 }
}

@media screen and (max-width: 320px) {
 #perfil-profissional .header-perfil-profissional .rating-selecionar {
  width: 124px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais,
 #perfil-profissional .header-perfil-profissional .portfolio {
  width: 100%;
  height: 22px;
  text-align: left;
  padding-left: 15px;
  margin-top: 0px;
  padding-top: 5px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais strong,
 #perfil-profissional .header-perfil-profissional .portfolio strong {
  margin-right: 10px;
  font-size: 14px;
 }
 #perfil-profissional .header-perfil-profissional .portfolio a,
 #perfil-profissional .header-perfil-profissional .redes-sociais .redes-sociais-icones {
  display: inline;
 }
}

.metadados-profissional-window .pull-right {
 text-align: right;
}

.ladda-button {
 border-radius: 5px
}

.btn-portfolio {
 padding: 0 0.8rem!important;
 max-width: 100px;
 color: #fff;
 background-color: #8EA1AB;
 border-color: #8EA1AB;
 text-transform: capitalize;
 text-decoration: none !important;
 letter-spacing: 0.04rem;
 font-size: 12px;
 border-radius: 5px;
 margin: 0 auto;
 -webkit-transition: none !important;
 -o-transition: none !important;
 transition: none !important;
}

@media screen and (max-width: 70px) {
 #perfil-profissional .header-perfil-profissional .foto-profissional-detalhes {
  width: 237px;
 }
 #perfil-profissional .header-perfil-profissional .rating-selecionar {
  width: 166px;
 }
 #perfil-profissional .header-perfil-profissional .redes-sociais {
  width: 156px;
  padding-left: 30px;
 }
 #perfil-profissional .header-perfil-profissional .portfolio {
  width: 100%;
  text-align: left;
 }
 #perfil-profissional .header-perfil-profissional .portfolio a {
  display: inline-block;
 }
}

.visualiza-perfil-descriacao {
 font-size: 12px;
}