﻿@{
    ViewBag.Title = "Adicionar Usuário";
}

@section Script{

    @if(ViewBag.ExistingUser)
    {
        <script>
            $(function () {
                toastr.error('Email já cadastrado, tente novamente com outro e-mail.');
            });
        
        </script>
    }
}


<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <h4>Adicionar Usuario</h4>
                <form action="@Url.Action("Add","User")" method="post">
                    <input type="hidden" name="IdCustomer" value="@ViewBag.IdCustomer" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" name="Role" value="3" />
                                <!--<select class="form-control" name="Role"> 
                                    <option value="3">CLIENTE</option>
                                    <option value="4">ADMIN</option>
                                </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input type="text" name="Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" name="Email" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cargo:</label>
                                <input type="text" name="RoleCompany" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Senha:</label>
                                <input type="password" name="Password" class="form-control" required />
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>