﻿@model Freelancers.Crowd.Domain.Entities.User
@{
    Layout = null;
}
<div class="scroll">
    <div>
        <header class="slidePanel-header overlay" style="background-image: url('@Url.Content("~/Content/photos/2.jpg")'); width: 500px;height: 250px;text-align: center; overflow:visible;">
            <div class="overlay-panel overlay-background vertical-align" style="padding: 0; ">
                <div class="slidePanel-actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close" aria-hidden="true"></button>
                    </div>
                </div>
                <div class="vertical-align-middle">
                    <img id="showPhoto" src="@(Model != null && !String.IsNullOrEmpty(Model.Photo) ? Url.Content("~/"+Model.Photo + ".ashx?w=80&h=80&mode=crop") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="width: 80px;max-width: 80px;min-width: 80px;max-height: 80px;min-height: 80px;margin-top: 20px;">
                    <br>
                    <button type="button" class="btn btn-xs btn-default" style="margin-top: 10px;" id="changePhoto" onclick="javascript: $('#photo').click();" >Alterar Foto</button>
                    <h4 class="name">@Model.Name</h4>
                    @if (Model.Freelancers == null)
                    {
                        <h5>@Model.Customer.Name</h5>
                    }
                </div>
            </div>
            <button type="button" id="form-edit" class="edit btn btn-primary btn-floating btn-profile-save" style="float: right; position: absolute; right: 35px; top: 215px; z-index: 9999;">
                <i class="fa fa-check animation-scale-up" aria-hidden="true"></i>
            </button>
        </header>
       
    </div>

    <div class="slidePanel-inner">
        <form id="form-user-edit" method="post" action="@Url.Action("Edit","User")" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="row" style="display:none;">
                <div class="col-md-4" style="padding-top: 30px;">
                    <div class="form-group">
                        <label><b>Foto:</b></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="padding-top: 20px;">
                        <input type="file" id="photo" class="form-control" name="picture"  onchange="showImagem(this, '#showPhoto')">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 30px;">
                    <div class="form-group">
                        <label><b>Nome:</b></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group form-material floating">
                        <input type="text" class="form-control" name="Name" value="@Model.Name"  required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding-top: 30px;">
                    <div class="form-group">
                        <label><b>Email:</b></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group form-material floating">
                        <input type="text" class="form-control" name="Email" value="@Model.Email"  required>
                    </div>
                </div>
            </div>
            @if (Model.Role == Freelancers.Crowd.Domain.Entities.Enum.RoleType.FREELANCER)
            {
                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Profissão:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control" name="Freelancers.Title" value="@Model.Freelancers.Title"  required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Telefone:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control phone-mask" name="Freelancers.Phone" value="@Model.Freelancers.Phone"  required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Pais:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control" name="Freelancers.Country" value="@Model.Freelancers.Country"  required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Estado:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            
                            <input type="text" class="form-control" name="Freelancers.State" placeholder="Estado" value="@Model.Freelancers.State" required>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Cidade:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control" name="Freelancers.City" placeholder="Cidade"  value="@Model.Freelancers.City" required>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Skype:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control" name="Freelancers.Skype" value="@Model.Freelancers.Skype" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Valor hora:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control" name="price1" value="@Model.Freelancers.Price"  required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Disponibilidade:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <select name="Freelancers.Availability" class="form-control select" data-placeholder="Disponibilidade"  required>
                                <option></option>
                                <option value="2" @(Model.Freelancers.Availability == Freelancers.Crowd.Domain.Entities.Enum.AvailabilityType.PARCIAL ? "selected" : "")>Parcial</option>
                                <option value="1" @(Model.Freelancers.Availability == Freelancers.Crowd.Domain.Entities.Enum.AvailabilityType.INTEGRAL ? "selected" : "")>Integral</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Portfólio:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <input type="text" class="form-control url-mask" name="Freelancers.Portfolio" value="@Model.Freelancers.Portfolio" >
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label for="Segments"><b>Segmento</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <select name="segments" class="form-control" data-placeholder="Segmento" multiple  required>
                                <option></option>
                                @for (int i = 0; i < ViewBag.Segment.Count; i++)
                                {
                                    <option value="@ViewBag.Segment[i].Id" @(Model.Freelancers.Segments.Select(x => x.Id).ToList().Contains(ViewBag.Segment[i].Id) ? "selected" : "")>@ViewBag.Segment[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label for="Categorys"><b>Categoria</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <select name="CategoryId" class="form-control select" data-placeholder="Categoria"  required>
                                <option></option>
                                @for (int i = 0; i < ViewBag.Category.Count; i++)
                                {
                                    <option value="@ViewBag.Category[i].Id" @(Model.Freelancers.CategoryId == ViewBag.Category[i].Id ? "selected" : "")>@ViewBag.Category[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label for="skill"><b>Habilidades</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <select name="skill" class="form-control" placeholder="Habilidades"  multiple required>
                                <option></option>
                                @for (int i = 0; i < ViewBag.Skill.Count; i++)
                                {
                                    <option value="@ViewBag.Skill[i].Id" @(Model.Freelancers.Skills.Select(x => x.Id).ToList().Contains(ViewBag.Skill[i].Id) ? "selected" : "")>@ViewBag.Skill[i].Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" style="padding-top: 30px;">
                        <div class="form-group">
                            <label><b>Descrição:</b></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group form-material floating">
                            <textarea class="form-control" name="Freelancers.Description" >@Model.Freelancers.Description</textarea>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-4" style="padding-top: 30px;">
                    <div class="form-group">
                        <label><b>Alterar senha:</b></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group form-material floating">
                        <input type="password" class="form-control" name="NewPassword" value="" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <input type="submit" value="Salvar" class="btn btn-primary pull-right" />
                </div>
            </div>
        </form>



    </div>
</div>