﻿@model IEnumerable<Freelancers.Crowd.Domain.Entities.User>
@{ 
    ViewBag.Title = "Usuarios";
}
<div class="row" style="margin: 0;">
    <div class="col-md-12">
        <div class="panel panel-transparent">
            <div class="panel-body">
                <h4>Usuarios <a href="@Url.Action("Add", "User", new { idCustomer = ViewBag.IdCustomer })" class="btn btn-xs btn-icon btn-primary btn-round"><i class="fa fa-plus"></i></a></h4>
                <div class="col-md-12">
                    <table class="table table-hover table-striped width-full table-responsive table-customer-users">
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    
                                    <td class="col-md-4 align-middle">
                                        <img src="@(!String.IsNullOrEmpty(user.Photo) ? Url.Content("~" + user.Photo + "?width=80&height=80") : Url.Content("~/Content/images/default-user-image.png"))" class="img-circle" style="width: 40px;">
                                        <h5>@user.Name</h5>
                                    </td>

                                    <td class="col-md-3 align-middle" >
                                        <span>@user.Email</span>
                                    </td>

                                    <td class="col-md-3 align-middle">
                                        <span>@user.RoleCompany</span>
                                    </td>

                                    <td class="col-md-1 align-middle">
                                        <span>@(user.Active == true ? "Ativo" : "Inativo")</span>
                                    </td>

                                    <td class="col-md-1 align-middle">   
                                        @if (user.Active == true)
                                        {
                                            <a href="@Url.Action("Inactive","User", new { idUser = user.Id})" class="btn btn-primary pull-right"><i class="fa fa-ban" aria-hidden="true"></i> Inativar</a>
                                        }
                                                                          
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>