{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
 <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <meta name="viewport" content="width=device-width">
 <title>*|SUBJECT|*</title>
 <!-- <style> -->
</head>

<body>
 <span class="preheader">{{description}}</span>
 <table class="container header" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:600px;" bgcolor="#fbfbfb">
  <tr>
   <td class="header" colspan="3">
    <img src="http://comunidadecrowd.com.br/emails/crowd-green.png" alt="A Crowd conecta agências e empresas aos melhores profissionais freelancers" />
   </td>
  </tr>
 </table>

 {{> body}}

 <table class="container footer">
  <tr>
   <td colspan="3" height="123"></td>
  </tr>
  <tr>
   <td style="border-bottom:1px solid #e4e4e4" colspan="3" height="1"></td>
  </tr>
  <tr>
   <td colspan="3" height="123"></td>
  </tr>
  <tr>
   <td style="border-bottom:1px solid #e4e4e4" colspan="3" height="1"></td>
  </tr>
  <tr>
   <td width="35" bgcolor="#f7f7f7"></td>
   <td bgcolor="#f7f7f7">
    <table class="footer" style="background-color: #fff;" cellspacing="0" cellpadding="0" align="left">
     <tbody>
      <tr>
       <td bgcolor="#f7f7f7" height="60">
        <img src="http://comunidadecrowd.com.br/emails/crowd-rodape-logo.png" title="Crowd"> </td>
       <td width="60" bgcolor="#f7f7f7" height="60"></td>
      </tr>
     </tbody>
    </table>
    <table class="footer" style="display: block;float: right" cellspacing="0" cellpadding="0" align="left">
     <tbody>
      <tr>
       <td bgcolor="#f7f7f7" height="60">
        <a href="https://www.facebook.com/comunidadecrowd/" title="Facebbok">
          <img src="http://comunidadecrowd.com.br/emails/ico-facebook.png" title="Facebbok">
        </a>
        <a href="https://www.linkedin.com/company/9194576?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9194576%2Cidx%3A1-1-1%2CtarId%3A1477495842076%2Ctas%3Acomunidade%20crowd" title="Linkedin">
          <img src="http://comunidadecrowd.com.br/emails/ico-linkedin.png" title="Linkedin" >
        </a>
       </td>
      </tr>
     </tbody>
    </table>
    <table class="footer" cellspacing="0" cellpadding="0" align="left">
     <tbody>
      <tr>
       <td bgcolor="#f7f7f7" height="60">
        <a href="http://comunidadecrowd.com.br/blog" title="Blog" style="color:#616568; font-size:13px; text-decoration:none; font-weight:500; font-family: 'Open Sans', sans-serif;">BLOG</a>
       </td>
       <td width="30" height="60"></td>
      </tr>
     </tbody>
    </table>
    <table class="footer" cellspacing="0" cellpadding="0" align="left">
     <tbody>
      <tr>
       <td bgcolor="#f7f7f7" height="60">
        <a href="http://www.crowd.br.com/faq/" title="FAQ" style="color:#616568; font-size:13px; text-decoration:none; font-weight:500; font-family: 'Open Sans', sans-serif;">FAQ</a>
       </td>
       <td width="30" height="60"></td>
      </tr>
     </tbody>
    </table>
    <table class="footer" cellspacing="0" cellpadding="0" align="left">
     <tbody>
      <tr>
       <td bgcolor="#f7f7f7" height="60">
        <a href="mailto:contato@crowd.br.com" title="Contato" style="color:#616568; font-size:13px; text-decoration:none; font-weight:500; font-family: 'Open Sans', sans-serif;">CONTATO</a>
       </td>
       <td width="60" height="60"></td>
      </tr>
     </tbody>
    </table>
   </td>
   <td width="35" bgcolor="#f7f7f7"></td>
  </tr>
  <tr>
   <td colspan="3" bgcolor="#f7f7f7" height="20"></td>
  </tr>
 </table>

 <!-- prevent Gmail on iOS font size manipulation -->
 <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>

</html>
