---
title: Analytics Overview
body_class: dashboard
layout: default.hbs
stylesheets_vendor:
- morris-js/morris.css
- chartist-js/chartist.css
- chartist-plugin-tooltip/chartist-plugin-tooltip.css
javascripts_vendor:
- chartist-js/chartist.js
- raphael/raphael-min.js
- morris-js/morris.min.js
- matchheight/jquery.matchHeight-min.js
- chartist-plugin-tooltip/chartist-plugin-tooltip.min.js
javascripts_example:
- dashboard/analytics.js
stylesheets_example:
- dashboard/analytics.css
javascripts_global:
- components/matchheight.js
---
<!-- Page -->
<div class="page animsition" ng-controller="DashboardAnalyticsCtrl">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
  </div>
  <!-- Page Content -->
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <!-- Product Overview Card -->
        <div id="productOverviewWidget" class="card card-shadow">
          <!-- The Header Of First Card -->
          <div class="card-header card-header-transparent padding-20">
            <div class="btn-group dropdown chart-menu">
              <button type="button" class="btn btn-outline btn-default dropdown-toggle btn-flat btn-sale" data-toggle="dropdown">
                 Product Sales
              </button>
              <div class="dropdown-menu animate" role="menu">
                <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                <a class="dropdown-item" href="#" role="menuitem">Profit</a>
              </div>
            </div>
            <ul class="nav nav-pills nav-pills-rounded product-filters">
              <li class="nav-item">
                <a class="active nav-link" href="#scoreLineToDay" data-toggle="tab">Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scoreLineToWeek" data-toggle="tab">Week</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scoreLineToMonth" data-toggle="tab">Month</a>
              </li>
            </ul>
          </div>
          <!-- End The Header Of First Card -->

          <!-- The Content Of First Card -->
          <div class="card-block padding-20">
            <div class="tab-content">
              <div class="ct-chart tab-pane active" id="scoreLineToDay"></div>
              <div class="ct-chart tab-pane" id="scoreLineToWeek"></div>
              <div class="ct-chart tab-pane" id="scoreLineToMonth"></div>
            </div>
            <div id="productOptionsData" class="text-xs-center">
              <div class="row no-space">
                <!-- The First Counter Block-->
                <div class="col-xl-3 col-md-6 col-xs-12">
                  <div class="counter">
                      <div class="counter-label">Vist</div>
                      <div class="counter-number-group text-truncate">
                        <span class="counter-number-related red-600">+</span>
                        <span class="counter-number">681</span>
                      </div>
                      <div class="ct-chart" data-counter-type="productVist"></div>
                  </div>
                </div>
                <!-- End The First Counter Block-->

                <!-- The Second Counter Block-->
                <div class="col-xl-3 col-md-6 col-xs-12">
                  <div class="counter">
                      <div class="counter-label">Unique Vistors</div>
                      <div class="counter-number-group text-truncate">
                        <span class="counter-number-related green-600">-</span>
                        <span class="counter-number">522</span>
                      </div>
                      <div class="ct-chart" data-counter-type="productVistors"></div>
                    </div>
                </div>
                <!-- End The Second Counter Block-->

                <!-- The Third Counter Block-->
                <div class="col-xl-3 col-md-6 col-xs-12">
                  <div class="counter">
                      <div class="counter-label">Page Views</div>
                      <div class="counter-number-group text-truncate">
                        <span class="counter-number-related green-600">-</span>
                        <span class="counter-number">1,622</span>
                      </div>
                      <div class="ct-chart" data-counter-type="productPageViews"></div>
                  </div>
                </div>
                <!-- End The Third Counter Block-->

                <!-- The fourth Counter Block-->
                <div class="col-xl-3 col-md-6 col-xs-12">
                  <div class="counter">
                      <div class="counter-label">Bounce Rate</div>
                      <div class="counter-number-group text-truncate">
                        <span class="counter-number-related red-600">+</span>
                        <span class="counter-number">843</span>
                      </div>
                      <div class="ct-chart" data-counter-type="productBounceRate"></div>
                    </div>
                </div>
                <!-- End The fourth Counter Block-->
              </div>
            </div>
          </div>
          <!-- End The Content Of First Card -->
        </div>
        <!-- End Product Overview Card -->
      </div>

      <div class="col-xl-7 col-md-12 col-sm-12 col-xs-12">
        <!-- Browser Flow Card -->
        <div id="browsersFlowWidget" class="card card-shadow">
          <div class="card-header card-header-transparent">
            <p class="font-size-14 blue-grey-700 margin-bottom-0">BROWSER FLOW</p>
          </div>
          <div class="card-block">
            <div class="col-md-6 col-sm-12">
              <!-- Browsers Vists Table -->
              <table class="table table-analytics margin-bottom-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Browser</th>
                    <th>Vists</th>
                  </tr>
                </thead>
                <tbody>
                {{#if dashboardAnalyticsBrowserTable}}
                  {{#each dashboardAnalyticsBrowserTable}}
                  <tr>
                    <td>
                      <img src="{{assets_url img_url}}" title="{{img_title}}" alt="{{img_alt}}">
                    </td>
                    <td>
                      {{browser}}
                    </td>
                    <td>
                      {{Vists}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
              <!-- End Browsers Vists Table -->
            </div>
            <div class="col-md-6 col-sm-12 padding-horizontal-0">
              <!-- MorrisDonut -->
              <div id="browersVistsDonut"></div>
              <!-- End MorrisDonut -->
              <!-- Stacked BarChart -->
              <div id="weekStackedBarChart"></div>
              <!--End Stacked BarChart -->
            </div>
          </div>
        </div>
        <!-- End Browser Flow Card -->
      </div>

      <div class="col-xl-5 col-md-12 col-sm-12 col-xs-12">
        <!-- Countries Vists Card -->
        <div id="countriesVistsWidget" class="card card-shadow">
          <div class="card-header card-header-transparent">
            <p class="font-size-14 blue-grey-700 margin-bottom-0">VISTS IN DIFFERENT COUNTRIES</p>
          </div>
          <div class="card-block padding-horizontal-30">
            <div class="table-responsive">
              <table class="table table-analytics margin-bottom-0 text-nowrap">
              <thead>
                <tr>
                  <th class="language">Language</th>
                  <th class="vists">Vists</th>
                  <th class="vists-percent">%Vists</th>
                </tr>
              </thead>
              <tbody>
              {{#if dashboardAnalyticsCountryTable}}
                {{#each dashboardAnalyticsCountryTable}}
                <tr>
                  <td>
                    <img src="{{assets_url img_url}}" title="{{img_title}}" alt="{{img_alt}}">
                    <span class="country-name">{{country_name}}</span>
                  </td>
                  <td>{{vists}}</td>
                  <td>
                    <div class="progress progress-xs margin-bottom-0">
                      <div class="progress-bar progress-bar-info bg-blue-600" style="width: {{progress_bar_width}}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{aria-valuenow}}" role="progressbar">
                      </div>
                    </div>
                    <span class="progress-percent">{{vists_percent}}
                    </span>
                  </td>
                </tr>
                {{/each}}
              {{/if}}
              </tbody>
            </table>
            </div>
          </div>
        </div>
        <!-- End Countries Vists Card -->
      </div>
    </div>
  </div>
  <!-- End Page Content -->
</div>
<!-- End Page -->
