---
title: Ecommerce Dashboard
body_class: ecommerce_dashboard
layout: default.hbs
stylesheets_font:
- font-awesome/font-awesome.css
stylesheets_vendor:
- chartist-js/chartist.css
- aspieprogress/asPieProgress.css
- chartist-plugin-tooltip/chartist-plugin-tooltip.css
javascripts_vendor:
- chartist-js/chartist.min.js
- aspieprogress/jquery-asPieProgress.js
- chartist-plugin-tooltip/chartist-plugin-tooltip.min.js

javascripts_global:
- components/aspieprogress.js

stylesheets_example:
- dashboard/ecommerce.css
javascripts_example:
- dashboard/ecommerce.js
---
<!-- Page -->
<div class="page animsition" ng-controller="DashboardEcommerceCtrl">
  <div class="page-header">
    <h1 class="page-title font-size-26 font-weight-100">Ecommerce Overview</h1>
  </div>
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <!-- First Row -->
      {{#if dashboardEcommerce}}
      {{#each dashboardEcommerce}}
      <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white padding-20">
            <button type="button" class="btn btn-floating btn-sm {{signBtnColor}}">
              <i class="icon {{signIcon}}"></i>
            </button>
            <span class="margin-left-15 font-weight-400">{{signText}}</span>
            <div class="content-text text-xs-center margin-bottom-0">
              <i class="{{iconColor}} icon {{iconStyle}} font-size-20">
              </i>
              <span class="font-size-40 font-weight-100">{{text}}</span>
              <p class="blue-grey-400 font-weight-100 margin-0">{{footerText}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
      <!-- End First Row -->

      <!-- second Row -->
      <div class="col-ms-12 col-xs-12 col-md-12" id="ecommerceChartView">
        <div class="card card-shadow">
          <div class="card-header card-header-transparent padding-20">
            <div class="btn-group dropdown chart-menu">
              <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown">
              PRODUCTS SALES
              </button>
              <div class="dropdown-menu animate" role="menu">
                <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                <a class="dropdown-item" href="#" role="menuitem">profit</a>
              </div>
            </div>
            <ul class="nav nav-pills nav-pills-rounded chart-action">
              <li class="nav-item"><a class="active nav-link" data-toggle="tab" href="#scoreLineToDay">Day</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToWeek">Week</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToMonth">Month</a></li>
            </ul>
          </div>
         <div class="widget-content tab-content bg-white padding-20">
            <div class="ct-chart tab-pane active" id="scoreLineToDay"></div>
            <div class="ct-chart tab-pane" id="scoreLineToWeek"></div>
            <div class="ct-chart tab-pane" id="scoreLineToMonth"></div>
         </div>
        </div>
      </div>
      <!-- End Second Row -->

      <!-- Third Row -->
        <!-- Third Left -->
        <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12" id="ecommerceRecentOrder">
          <div class="card card-shadow table-row">
            <div class="card-header card-header-transparent padding-20">
              <div class="btn-group dropdown table-menu">
                <button type="button" class="btn btn-outline btn-default dropdown-toggle" data-toggle="dropdown">
                RECENT ORDER
                </button>
                <div class="dropdown-menu animate" role="menu">
                  <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                  <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                  <a class="dropdown-item" href="#" role="menuitem">profit</a>
                </div>
              </div>
            </div>
            <div class="card-block bg-white table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Purchased On</th>
                    <th>Status</th>
                    <th>Tracking No#</th>
                  </tr>
                </thead>
                <tbody>
                {{#if dashboardEcommerceTable}}
                  {{#each dashboardEcommerceTable}}
                  <tr>
                    <td><img src="{{assets_url image_url}}" alt="{{img_alt}}" /></td>
                    <td>{{product}}</td>
                    <td>{{customer}}</td>
                    <td>{{purchased_on}}</td>
                    <td><span class="tag {{this.status_skin}} font-weight-100">{{this.status}}</span></td>
                    <td>{{trackingNo}}</td>
                  </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Third Left -->

        <!-- Third Right -->
        <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" id="ecommerceRevenue">
          <div class="card card-shadow text-xs-center padding-top-10">
            <h3 class="card-header card-header-transparent blue-grey-700 font-size-14">REVENUE</h3>
            <div class="card-block bg-white">
              <div class="ct-chart barChart"></div>
              <div class="pie-view">
                <div class="col-lg-6 col-sm-6 col-xs-6 pie-left text-xs-center">
                  <h5 class="blue-grey-500 font-size-14 font-weight-100">GROS REVENUE</h5>
                  <p class="font-size-20 blue-grey-700">
                      9,362,74
                  </p>
                  <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-valuemin="0" data-barcolor="#{{color 'purple' 500}}" data-size="100" data-barsize="4" data-goal="60" aria-valuenow="60" role="progressbar">
                    <span class="pie-progress-number">60%</span>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 pie-right text-xs-center">
                  <h5 class="blue-grey-500 font-size-14 font-weight-100">NET  REVENUE</h5>
                  <p class="font-size-20 blue-grey-700">
                      6,734,58
                  </p>
                  <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-valuemin="0" data-barcolor="#{{color 'cyan' 500}}" data-size="100" data-barsize="4" data-goal="78" aria-valuenow="78" role="progressbar">
                    <span class="pie-progress-number">78%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Third Right -->
      <!-- End Third Row -->
    </div>
  </div>
</div>
<!-- End Page -->
