---
title: Team Overview
body_class: dashboard
layout: default.hbs
stylesheets_vendor:
- chartist-js/chartist.css
- chartist-plugin-tooltip/chartist-plugin-tooltip.css
- aspieprogress/asPieProgress.css
- jquery-selective/jquery-selective.css
- bootstrap-datepicker/bootstrap-datepicker.css
javascripts_vendor:
- chartist-js/chartist.js
- chartist-plugin-tooltip/chartist-plugin-tooltip.min.js
- aspieprogress/jquery-asPieProgress.js
- matchheight/jquery.matchHeight-min.js
- jquery-selective/jquery-selective.min.js
- bootstrap-datepicker/bootstrap-datepicker.js
javascripts_global:
- components/matchheight.js
- components/aspieprogress.js
- components/bootstrap-datepicker.js
stylesheets_example:
- dashboard/team.css
javascripts_example:
- dashboard/team.js
---
<!-- Page -->
<div class="page animsition" ng-controller="DashboardTeamCtrl">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <!-- First Row -->
      <!-- Completed Options Pie Widgets -->
      <div class="col-xxl-3 col-lg-12">
        <div class="row height-full" data-plugin="matchHeight">
          {{#if teamStatisticDashboardPie}}
            {{#each teamStatisticDashboardPie}}
            <div class="col-xxl-12 col-lg-4 col-sm-4 col-xs-12">
              <div class="card card-shadow card-completed-options">
                <div class="card-block padding-30">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="counter text-xs-left blue-grey-700">
                        <div class="counter-label margin-top-10">{{pie_widget_title}}
                        </div>
                      <div class="counter-number font-size-40 margin-top-10">
                      {{completed_option_number}}
                      </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100" data-barcolor="{{data-barcolor}}" data-size="100" data-barsize="10" data-goal="{{data-goal}}" aria-valuenow="{{aria-valuenow}}" role="progressbar">
                        <span class="pie-progress-number blue-grey-700 font-size-20">
                         {{pie_number}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
      <!-- End Completed Options Pie Widgets -->
      <!-- Team Total Completed -->
      <div class="col-lg-12 col-xxl-9">
        <div id="teamCompletedWidget" class="card card-shadow example-responsive">
          <div class="card-block padding-20 padding-bottom-25">
            <div class="row padding-bottom-40" data-plugin="matchHeight">
              <div class="col-md-6 col-sm-12">
                <div class="counter text-xs-left padding-left-10">
                  <div class="counter-label">Team Total Completed</div>
                  <div class="counter-number-group text-truncate">
                    <span>1,439</span>
                    <span>86%</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <ul class="list-inline margin-right-50">
                  <li class="list-inline-item">
                    Task Completed
                  </li>
                  <li class="list-inline-item">
                    Cards Completed
                  </li>
                </ul>
              </div>
            </div>
            <div class="ct-chart"></div>
          </div>
        </div>
      </div>
      <!-- End Team Total Completed -->
      <!-- End First Row -->
      <!-- Second Row -->
      <!-- Personal -->
      <div class="col-xxl-4 col-xl-6 col-lg-6">
        <div id="personalCompletedWidget" class="card card-shadow padding-bottom-20">
          <div class="card-header card-header-transparent cover overlay">
            <img class="cover-image" src="{{image 'view-7.jpg' width='960' height='640'}}">
            <div class="overlay-panel overlay-background vertical-align">
              <div class="vertical-align-middle">
                <a class="avatar" href="javascript:void(0)">
                  <img alt="" src="{{portrait '4.jpg'}}">
                </a>
                <div class="font-size-20 margin-top-10">MACHI</div>
                <div class="font-size-14">machidesign@163.com</div>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="row text-xs-center margin-bottom-20">
              <div class="col-xs-6">
                <div class="counter">
                  <div class="counter-label total-completed">TOTAL COMPLETED</div>
                  <div class="counter-number red-600">1,628</div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="counter">
                  <div class="counter-label">TOTAL TIME</div>
                  <div class="counter-number blue-600">17</div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <caption>TODAY STATISTIC</caption>
                <tbody>
                {{#if teamStatisticDashboardTable}}
                  {{#each teamStatisticDashboardTable}}
                  <tr>
                    <td>
                      {{completed_option_title}}
                    </td>
                    <td>
                      <div class="progress progress-xs margin-bottom-0">
                        <div class="progress-bar progress-bar-info {{progress_bar_color}}" role="progressbar" aria-valuenow="{{aria-valuenow}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress_bar_width}}">
                        </div>
                      </div>
                    </td>
                    <td>
                      {{completed_option_number}}
                    </td>
                  </tr>
                  {{/each}}
                {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End Personal -->
      <!-- To Do List -->
      <div class="col-xxl-4 col-xl-6 col-lg-6">
        <div id="toDoListWidget" class="card card-shadow padding-bottom-20">
          <div class="card-header card-header-transparent">
            <a id="addNewItemBtn" href="javascript:void(0)" class="add-item-toggle pull-xs-right">
              <i class="icon wb-plus" aria-hidden="true"></i>
            </a>
            <h5 class="card-title">TO DO LIST</h5>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="checkbox-custom checkbox-success checkbox-lg">
                <input type="checkbox" name="checkbox" checked="checked">
                <label class="item-title">Edit meeting record</label>
              </div>
              <div class="item-due-date">
                <span>Tue,aug 25</span>
              </div>
              <ul class="item-members">
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '3.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <div class="checkbox-custom checkbox-success checkbox-lg">
                <input type="checkbox" name="checkbox" checked="checked">
                <label class="item-title">Upload Photos and Video</label>
              </div>
              <div class="item-due-date">
                <span>Tue,aug 25</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="checkbox-custom checkbox-success checkbox-lg">
                <input type="checkbox" name="checkbox">
                <label class="item-title">Edit the blog system</label>
              </div>
              <div class="item-due-date">
                <span>No due date</span>
              </div>
              <ul class="item-members">
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '1.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '5.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <div class="checkbox-custom checkbox-success checkbox-lg">
                <input type="checkbox" name="checkbox">
                <label class="item-title">Edit the blog system</label>
              </div>
              <div class="item-due-date">
                <span>No due date</span>
              </div>
              <ul class="item-members">
                <li>
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </li>
            <li class="list-group-item">
              <div class="checkbox-custom checkbox-success checkbox-lg">
                <input type="checkbox" name="checkbox">
                <label class="item-title">Edit the blog system</label>
              </div>
              <div class="item-due-date">
                <span>No due date</span>
              </div>
              <ul class="item-members">
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '4.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '6.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <img class="avatar avatar-sm" src="{{portrait '7.jpg'}}">
                  <button class="btn btn-sm btn-icon btn-default btn-outline btn-round">
                    <i class="icon wb-pencil" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- End To Do List -->
      <!-- Recent Activity -->
      <div class="col-xxl-4 col-md-12">
        <div id="recentActivityWidget" class="card card-shadow padding-bottom-20">
          <div class="card-header card-header-transparent">
            <span class="tag tag-default tag-round pull-xs-right">VIEW ALL</span>
            <h5 class="card-title">
              RECENT ACTIVITY
            </h5>
          </div>
          <ul class="timeline timeline-icon">
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-green-600">
                  <i class="icon wb-chat" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Victor Erixon</span> assigned to a task
                  </div>
                  <div class="metas">
                    active 14 minutes ago
                  </div>
                  <ul class="members">
                    <li>
                      <img class="avatar avatar-sm" src="{{portrait '7.jpg'}}">
                    </li>
                    <li>
                      <img class="avatar avatar-sm" src="{{portrait '6.jpg'}}">
                    </li>
                    <li>
                      <img class="avatar avatar-sm" src="{{portrait '8.jpg'}}">
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-blue-600">
                  <i class="icon wb-image" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Alex Bender</span>uploaded 3 photos
                  </div>
                  <div class="metas">
                    active 2 hours ago
                  </div>
                  <ul class="photos">
                    <li class="cover">
                      <img class="cover-image" src="{{image 'animal-4.jpg' width='240' height='160'}}">
                    </li>
                    <li class="cover">
                      <img class="cover-image" src="{{image 'animal-2.jpg' width='240' height='160'}}">
                    </li>
                    <li class="cover">
                      <img class="cover-image" src="{{image 'animal-1.jpg' width='240' height='160'}}">
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-cyan-600">
                  <i class="icon wb-file" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Jeff Erixon</span>
                    invite you to attend topic discussion in
                    <span class="room-number">B205</span>
                     classroom
                  </div>
                  <div class="metas">
                    active 4 hours ago
                  </div>
                  <div class="tags">
                    As user experience designers we have to find the sweet spot
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-reverse timeline-item">
              <div class="timeline-content-wrap">
                <div class="timeline-dot bg-orange-600">
                  <i class="icon wb-map" aria-hidden="true"></i>
                </div>
                <div class="timeline-content">
                  <div class="title">
                    <span class="authors">Jeff Erixon</span>
                    invite you to attend topic discussion in
                    <span class="room-number">B205</span>
                    classroom
                  </div>
                  <div class="metas">
                    active 3 hours ago
                  </div>
                  <ul class="operates">
                    <li>
                      <button class="btn btn-outline btn-success btn-round">Accept</button>
                    </li>
                    <li>
                      <button class="btn btn-outline btn-danger btn-round">Refuse</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Recent Activity -->
      <!-- End Second Row -->
    </div>
  </div>
</div>
<!-- End Page -->

<!-- Add Item Dialog -->
<div id="addtodoItemForm" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addtodoItemForm" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content form-horizontal" role="form" action="#" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="moadl-title">Create New To Do Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label" for="title">Title:</label>
            <div class="col-sm-10">
              <input id="title" class="form-control" type="text" name="title"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label" for="dueDate">Due Date</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input id="dueDate" class="form-control" type="text" data-plugin="datepicker"
                data-container="#addtodoItemForm"/>
                <span class="input-group-addon">
                  <i class="icon wb-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label" for="people">People:</label>
            <div class="col-sm-10">
              <select id="people" multiple="multiple" data-plugin="jquery-selective">
              </select>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button class="btn btn-primary" data-dismiss="modal" type="button">
            Add This Item
          </button>
          <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End Add Item Dialog -->

<!-- Edit Dialog -->
<div class="modal fade" id="edittodoItemForm" aria-hidden="true" aria-labelledby="edittodoItemForm" role="dialog" tabindex="-1" data-show="false">
  <div class="modal-dialog">
    <form class="modal-content form-horizontal" action="#" method="post" role="form">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
        <h4 class="modal-title">Edit To Do Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label" for="editTitle">Title:
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="editTitle" name="editTitle">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label" for="editStarts">Due Date:
          </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" id="editDueDate"  name="editDueDate" data-container="#edittodoItemForm" data-plugin="datepicker">
              <span class="input-group-addon">
                <i class="icon wb-calendar" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label" for="editPeople">People:
          </label>
          <div class="col-sm-10">
            <select id="editPeople" multiple="multiple" data-plugin="jquery-selective"></select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">
          <button class="btn btn-primary" data-dismiss="modal" type="button">Save</button>
          <button class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
          <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End Edit Dialog -->
