---
title: Dashboard
body_class: dashboard
layout: default.hbs
stylesheets_example:
- dashboard/v2.css
stylesheets_vendor:
- chartist-js/chartist.css
- aspieprogress/asPieProgress.css
javascripts_vendor:
- chartist-js/chartist.min.js
- gmaps/gmaps.js
- matchheight/jquery.matchHeight-min.js
javascripts_global:
- components/gmaps.js
- components/matchheight.js
javascripts_example:
- dashboard/v2.js
---
<!-- Page -->
<div class="page animsition" ng-controller="DashboardV2Ctrl">
  <div class="page-header height-300 margin-bottom-30">
    <div class="text-xs-center blue-grey-800 margin-top-50 margin-xs-0">
      <div class="font-size-50 margin-bottom-30 blue-grey-800">Mount Mckinley</div>
      <ul class="list-inline font-size-14">
        <li class="list-inline-item">
           <i class="icon wb-map margin-right-5" aria-hidden="true"></i> Central and southern Alaska
        </li>
        <li class="list-inline-item margin-left-20">
          <i class="icon wb-heart margin-right-5" aria-hidden="true"></i> 26,428
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-xxl-3 col-xl-4 col-lg-12">
        <!-- Panel Web Designer -->
        <div class="card card-shadow">
          <div class="card-block text-xs-center bg-white padding-40">
            <div class="avatar avatar-100 margin-bottom-20">
              <img src="{{portrait '1.jpg'}}" alt="">
            </div>
            <p class="font-size-20 blue-grey-700">Breno Bitencourt</p>
            <p class="blue-grey-400 margin-bottom-20">Web Designer</p>
            <p class="margin-bottom-35">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. </p>
            <ul class="list-inline font-size-18 margin-bottom-35">
              <li class="list-inline-item">
                <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item margin-left-10">
                <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item margin-left-10">
                <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-dribbble" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item margin-left-10">
                <a class="blue-grey-400" href="javascript:void(0)">
                  <i class="icon bd-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <button type="button" class="btn btn-primary padding-horizontal-40">Follow</button>
          </div>
        </div>
        <!-- End Panel Web Designer -->
      </div>

      <div class="col-xxl-6 col-xl-8 col-lg-12">
        <!-- Panel Traffic -->
        <div class="card card-shadow example-responsive" id="widgetLinearea">
          <div class="card-block padding-30" style="min-width:480px;">
            <div class="row padding-bottom-20" style="height:calc(100% - 322px);">
              <div class="col-md-8 col-sm-6">
                <div class="blue-grey-700">YOUR TRAFFIC VIEWS</div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="counter counter-md">
                      <div class="counter-number-group text-nowrap">
                        <span class="counter-number">76</span>
                        <span class="counter-number-related">%</span>
                      </div>
                      <div class="counter-label blue-grey-400">PC Browser</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="counter counter-md">
                      <div class="counter-number-group text-nowrap">
                        <span class="counter-number">24</span>
                        <span class="counter-number-related">%</span>
                      </div>
                      <div class="counter-label blue-grey-400">Mobile Phone</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-chart margin-bottom-30" style="height:270px;"></div>
            <ul class="list-inline text-xs-center margin-bottom-0">
              <li class="list-inline-item">
                <i class="icon wb-large-point blue-200 margin-right-10" aria-hidden="true"></i> PC BROWSER
              </li>
              <li class="list-inline-item margin-left-35">
                <i class="icon wb-large-point teal-200 margin-right-10" aria-hidden="true"></i> MOBILE PHONE
              </li>
            </ul>
          </div>
        </div>
        <!-- End Panel Traffic -->
      </div>

      <div class="col-xxl-3 col-lg-12">
        <div class="row height-full">
          <div class="col-xxl-12 col-lg-6" style="height:50%;">
            <!-- Panel Overall Sales -->
            <div class="card card-shadow card-inverse bg-blue-600 white">
              <div class="card-block padding-30">
                <div class="counter counter-lg counter-inverse text-xs-left">
                  <div class="counter-label margin-bottom-20">
                    <div>OVERALL SALES</div>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                  <div class="counter-number-group margin-bottom-15">
                    <span class="counter-number-related">$</span>
                    <span class="counter-number">14,000</span>
                  </div>
                  <div class="counter-label">
                    <div class="progress progress-xs margin-bottom-10 bg-blue-800">
                      <div class="progress-bar progress-bar-info bg-white" style="width: 42%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="42" role="progressbar">
                        <span class="sr-only">42%</span>
                      </div>
                    </div>
                    <div class="counter counter-sm text-xs-left">
                      <div class="counter-number-group">
                        <span class="counter-number font-size-14">42%</span>
                        <span class="counter-number-related font-size-14">HIGHER THAN LAST MONTH</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel Overall Sales -->
          </div>

          <div class="col-xxl-12 col-lg-6" style="height:50%;">
            <!-- Panel Today's Sales -->
            <div class="card card-shadow card-inverse bg-red-600 white">
              <div class="card-block padding-30">
                <div class="counter counter-lg counter-inverse text-xs-left">
                  <div class="counter-label margin-bottom-20">
                    <div>TODAY'S SALES</div>
                    <div>Lorem ipsum dolor sit amet</div>
                  </div>
                  <div class="counter-number-group margin-bottom-10">
                    <span class="counter-number-related">$</span>
                    <span class="counter-number">41,160</span>
                  </div>
                  <div class="counter-label">
                    <div class="progress progress-xs margin-bottom-10 bg-red-800">
                      <div class="progress-bar progress-bar-info bg-white" style="width: 70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar">
                        <span class="sr-only">70%</span>
                      </div>
                    </div>
                    <div class="counter counter-sm text-xs-left">
                      <div class="counter-number-group">
                        <span class="counter-number font-size-14">70%</span>
                        <span class="counter-number-related font-size-14">HIGHER THAN LAST MONTH</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel Today's Sales -->
          </div>
        </div>
      </div>
    </div>

    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-xl-4 col-lg-6">
        <!-- Panel Followers -->
        <div class="panel" id="followers">
          <div class="panel-heading">
            <h3 class="panel-title">
              Followers
            </h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-online" href="javascript:void(0)">
                      <img src="{{portrait '9.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><span>Willard Wood</span></div>
                    <small>@heavybutterfly920</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-away" href="javascript:void(0)">
                      <img src="{{portrait '10.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-success btn-sm"><i class="icon wb-check" aria-hidden="true"></i>Following</button>
                    </div>
                    <div><span>Ronnie Ellis</span></div>
                    <small>@kingronnie24</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-busy" href="javascript:void(0)">
                      <img src="{{portrait '11.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><span>Gwendolyn Wheeler</span></div>
                    <small>@perttygirl66</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <div class="media-left">
                    <a class="avatar avatar-off" href="javascript:void(0)">
                      <img src="{{portrait '12.jpg'}}" alt="">
                      <i></i>
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="pull-xs-right">
                      <button type="button" class="btn btn-outline btn-default btn-sm">Follow</button>
                    </div>
                    <div><span>Daniel Russell</span></div>
                    <small>@danieltiger08</small>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Panel Followers -->
      </div>

      <div class="col-xl-4 col-lg-6">
        <!-- Panel Tickets -->
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Tickets</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group list-group-dividered list-group-full">
            {{#if widgetTickets}}
              {{#each widgetTickets}}
               <li class="list-group-item">
                  <small class="tag tag-round {{status.class}} pull-xs-right">{{status.text}}</small>
                  <p><span>{{subject}}</span><span>[{{id}}]</span></p>
                  <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                      <span class="avatar avatar-xs">
                        <img src="{{portrait author.avatar}}" alt="">
                      </span>
                      <span>{{author.name}}</span>
                    </a>
                    <time datetime="{{datetime}}">{{time}}</time>
                  </small>
                </li>
              {{/each}}
            {{/if}}
            </ul>
          </div>
        </div>
        <!-- End Panel Tickets -->
      </div>

      <div class="col-xl-4 col-lg-12">
        <!-- Panel Title -->
        <div class="card card-shadow" id="widgetGmap">
          <div class="map height-full" id="gmap"></div>
        </div>
        <!-- End Panel Title -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

