// // Load variables
// @import 'vars';


// Load fontface
// -------------------------------
// @import (css)"#{$use-font-family-url}";

// Sections
// -------------------------------
@import 'sections/site-navbar';
@import 'sections/site-menubar';
@import 'sections/site-menu';
@import 'sections/site-gridmenu';
@import 'sections/site-sidebar';
@import 'sections/site-action';
@import 'sections/page';
@import 'sections/page-header';
@import 'sections/page-aside';
@import 'sections/site-footer';

// Layouts
// -------------------------------
@import 'layouts/layout-full';
@import 'layouts/layout-boxed';
@import 'layouts/layout-print';
@import 'layouts/site-menubar-fold';
@import "layouts/site-menubar-fold-alt";
@import 'layouts/site-menubar-unfold';
@import 'layouts/site-navbar-collapse-show';
@import "layouts/site-navbar-small";
@import 'layouts/responsive-phone';
@import 'layouts/site-menubar-flipped';

// Components
// -------------------------------
@if $use-checkbox-radio == true {
  @import 'components/checkbox-radio';
}
@if $use-material-forms == true {
  @import 'components/material-forms';
}
@if $use-loader == true {
  @import 'components/loader';
}
@if $use-animation == true {
  @import 'components/animation';
}
@if $use-colors == true {
  @import 'components/colors';
}
@if $use-bg == true {
  @import 'components/bg';
}
@if $use-social == true {
  @import 'components/social';
}
@if $use-blocks == true {
  @import 'components/blocks';
}
//@import 'components/divider';
@if $use-avatar == true {
  @import 'components/avatar';
}
@if $use-status == true {
  @import 'components/status';
}
@if $use-icon == true {
  @import 'components/icon';
}
@if $use-hamburger == true {
  @import 'components/hamburger';
}
@if $use-counter == true {
  @import 'components/counter';
}
@if $use-panels == true {
  @import 'components/panels';
}
@if $use-panel-groups == true {
  @import 'components/panel-groups';
}
@if $use-cover == true {
  @import 'components/cover';
}
@if $use-overlay == true {
  @import 'components/overlay';
}
@if $use-comment == true {
  @import 'components/comment';
}
@if $use-chat == true {
  @import 'components/chat';
}
@if $use-steps == true {
  @import 'components/steps';
}
@if $use-pearls == true {
  @import 'components/pearls';
}
@if $use-timeline == true {
  @import 'components/timeline';
}
@if $use-testimonial == true {
  @import 'components/testimonial';
}
@if $use-pricing-list == true {
  @import 'components/pricing-list';
}
@if $use-pricing-table == true {
  @import 'components/pricing-table';
}
@if $use-rating == true {
  @import 'components/rating';
}
@if $use-ribbon == true {
  @import 'components/ribbon';
}
// @if $use-dotnav == true {
//   @import 'components/dotnav';
// }
@if $use-color-selector == true {
  @import 'components/color-selector';
}
@if $use-helper-width == true {
  @import 'components/helper-width';
}
@if $use-helper-height == true {
  @import 'components/helper-height';
}
@if $use-helper-margin == true {
  @import 'components/helper-margin';
}
@if $use-helper-padding == true {
  @import 'components/helper-padding';
}
@if $use-example == true {
  @import 'components/example';
}
