---
title: Pagination
layout: default.hbs

javascripts_vendor:
- aspaginator/jquery.asPaginator.min.js
javascripts_global:
- components/aspaginator.js
stylesheets_example:
- structure/pagination.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Structure</li>
    </ol>
    <div class="page-header-actions">
      <form>
        <div class="input-search input-search-dark">
          <i class="input-search-icon wb-search" aria-hidden="true"></i>
          <input type="text" class="form-control" name="" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
  <div class="page-content">
    <!-- Panel Pagination -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Pagination</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Basic Pagination -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Pagination</h4>
              <p>Simple pagination inspired by Rdio, great for apps and search results. The large block is hard to miss, easily scalable, and provides large click areas.</p>
              <div class="example">
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Basic Pagination -->
          </div>

          <div class="col-lg-6">
            <!-- Example Disabled And Active States -->
            <div class="example-wrap">
              <h4 class="example-title">Disabled And Active States</h4>
              <p>Links are customizable for different circumstances. Use <code>.disabled</code> for unclickable links and <code>.active</code> to indicate the current page.</p>
              <div class="example">
                <nav>
                  <ul class="pagination">
                    <li class="disabled page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active page-item"><a class="page-link" href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                 </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Disabled And Active States -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Pagination With Gap -->
            <div class="example-wrap">
              <h4 class="example-title">Pagination With Gap</h4>
              <p>This pagination style has large clickable areas for each page, the current page clearly stands out from the links.</p>
              <div class="example">
                <nav>
                  <ul class="pagination pagination-gap">
                    <li class="disabled page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active page-item"><a class="page-link" href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Pagination With Gap -->
          </div>

          <div class="col-lg-6">
            <!-- Example Pagination No Border -->
            <div class="example-wrap">
              <h4 class="example-title">Pagination No Border</h4>
              <p>The previous and next buttons are nicely detached from the rest of the pagination through their style.</p>
              <div class="example">
                <nav>
                  <ul class="pagination pagination-no-border">
                    <li class="disabled page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active page-item"><a class="page-link" href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Pagination No Border -->
          </div>

          <div class="clearfix hidden-md-down"></div>

          <div class="col-lg-6">
            <!-- Example Sizing -->
            <div class="example-wrap">
              <h4 class="example-title">Sizing</h4>
              <p>Fancy larger or smaller pagination? Add <code>.pagination-lg</code> or <code>.pagination-sm</code> for additional sizes.</p>
              <div class="example">
                <nav>
                  <ul class="pagination pagination-lg">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
                <nav>
                  <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Sizing -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Pagination -->

    <!-- Panel Pager -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Pager</h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Pager -->
            <div class="example-wrap">
              <h4 class="example-title">Default Example</h4>
              <p>By default, the pager centers links.</p>
              <div class="example">
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Pager -->
          </div>

          <div class="col-lg-6">
            <!-- Example Optional Disabled State -->
            <div class="example-wrap">
              <h4 class="example-title">Optional disabled state</h4>
              <p>Pager links also use the general <code>.disabled</code> utility class from the pagination.</p>
              <div class="example">
                <nav>
                  <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="javascript:void(0)"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">Newer <span aria-hidden="true">&rarr;</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Optional Disabled State -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Panel Pager -->

    <!-- Panel Paginator.Js -->
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Paginator.Js <small><a class="example-plugin-link" href="https://github.com/amazingSurge/jquery-asPaginator" target="_blank">official website</a></small></h3>
      </div>
      <div class="panel-body container-fluid">
        <div class="row row-lg">
          <div class="col-lg-6">
            <!-- Example Basic Pagination -->
            <div class="example-wrap">
              <h4 class="example-title">Basic Pagination</h4>
              <div class="example">
                <nav>
                  <ul data-plugin="paginator" data-total="50">
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Basic Pagination -->
          </div>

          <div class="col-lg-6">
            <!-- Example Pagination With Gap -->
            <div class="example-wrap">
              <h4 class="example-title">Pagination With Gap</h4>
              <div class="example">
                <nav>
                  <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap">
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Pagination With Gap -->
          </div>

          <div class="col-lg-6">
            <!-- Example Pagination No Border -->
            <div class="example-wrap margin-md-0">
              <h4 class="example-title">Pagination No Border</h4>
              <div class="example">
                <nav>
                  <ul data-plugin="paginator" data-total="50" data-skin="pagination-no-border">
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Pagination No Border -->
          </div>

          <div class="col-lg-6">
            <!-- Example Sizing -->
            <div class="example-wrap">
              <h4 class="example-title">Sizing</h4>
              <div class="example">
                <nav>
                  <ul data-plugin="paginator" data-total="50" data-skin="pagination-lg pagination-gap">
                  </ul>
                </nav>
                <nav>
                  <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap">
                  </ul>
                </nav>
                <nav>
                  <ul data-plugin="paginator" data-total="50" data-skin="pagination-sm pagination-gap">
                  </ul>
                </nav>
              </div>
            </div>
            <!-- End Example Sizing -->
          </div>

        </div>
      </div>
    </div>
    <!-- End Panel Paginator.Js -->
  </div>
</div>
<!-- End Page -->
