---
title: Simple Timeline
layout: default.hbs
stylesheets_vendor:
- plyr/plyr.css
javascripts_vendor:
- jquery-appear/jquery.appear.js
- plyr/plyr.js
javascripts_global:
- components/plyr-js.js
javascripts_example:
- structure/timeline.js
stylesheets_example:
- structure/timeline.css
---
<!-- Page -->
<div class="page animsition">
  <div class="page-header page-header-bordered">
    <h1 class="page-title">{{title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{dest 'index.html'}}">Home</a></li>
      <li class="breadcrumb-item active">Structure</li>
    </ol>
    <div class="page-header-actions">
      <form>
        <div class="input-search input-search-dark">
          <i class="input-search-icon wb-search" aria-hidden="true"></i>
          <input type="text" class="form-control" name="" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
  <div class="page-content container">
    <!-- Timeline -->
    <ul class="timeline timeline-simple">
      <li class="timeline-period">MAY 2015</li>
      <li class="timeline-item">
        <div class="timeline-dot" data-placement="right" data-toggle="tooltip" data-trigger="hover" data-original-title="2 Days ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-img-top cover">
              <img class="cover-image" src="{{image 'animal-1.jpg' width='960' height='640'}}" alt="...">
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-item timeline-reverse">
        <div class="timeline-dot bg-green-500" data-placement="left" data-toggle="tooltip" data-trigger="hover" data-original-title="2 Days ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-img-top cover">
              <img class="cover-image" src="{{image 'animal-2.jpg' width='960' height='640'}}" alt="...">
            </div>
            <div class="card-block padding-30">
              <h3 class="card-title">Lorem Ipsum Dolor</h3>
              <p class="card-text"><small>MAY 15, 2015</small></p>
              <p>Dubium sequatur declinare fecit securi emolumento ait habere tutiorem neglegentur, pugnantibus simplicem propemodum atqui suo licet confirmat. Iudicium ipso debent panaetium exorsus, vacuitate artifex confirmavit asperner posuit sollicitant contentam probamus perdiderunt. Coniuncta appetendi quo operis, iniucundus, putat magnis, invitat diceret. </p>
            </div>
            <div class="card-block">
              <div class="card-actions pull-xs-right">
                <a href="javascript:void(0)">
                  <i class="icon wb-chat-working" aria-hidden="true"></i>
                  <span>2500</span>
                </a>
                <a href="javascript:void(0)">
                  <i class="icon wb-heart" aria-hidden="true"></i>
                  <span>20</span>
                </a>
              </div>
              <a class="btn btn-primary btn-outline card-link" href="javascript:void(0)">Read More</a>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-item">
        <div class="timeline-dot bg-orange-500" data-placement="right" data-toggle="tooltip" data-trigger="hover" data-original-title="9 Days ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-header cover">
              <div class="cover-background padding-30" style="background-image: url('{{image 'focus-1.jpg' width='960' height='640'}}')">
                <blockquote class="blockquote cover-quote white card-blockquote">Fabulis timentis synephebos faciendum laetitia utamur consuevit tali hortatore videre, summa quasi, consequentis desideret. Constantia aptior consectetur credo audiebamus dissentiunt vivere moribus. </blockquote>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-period">Apr 2015</li>
      <li class="timeline-item">
        <div class="timeline-dot bg-green-500" data-placement="right" data-toggle="tooltip" data-trigger="hover" data-original-title="1 Month ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-img-top cover">
              <img class="cover-image" src="{{image 'animal-4.jpg' width='960' height='640'}}" alt="...">
            </div>
            <div class="card-block">
              <h3 class="card-title">Lorem Ipsum Dolor</h3>
              <p class="card-text"><small>MAY 08, 2015</small></p>
              <p>Sumus homo praetor intellegerem erga incidunt singulis, legam viveremus deorum, tertio frui tantum dedocendi profecto omittantur gravissimas cognitioque. Arbitrer negarent vocant disserui urbanitas, videtis commenticiam persequeris recteque data amoris opes. Discenda efficere diligi praesenti nostri adversantur pertinaces detractis levitatibus etiam. </p>
            </div>
            <div class="card-block">
              <div class="card-actions pull-xs-right">
                <a href="javascript:void(0)">
                  <i class="icon wb-chat-working" aria-hidden="true"></i>
                  <span>2500</span>
                </a>
                <a href="javascript:void(0)">
                  <i class="icon wb-heart" aria-hidden="true"></i>
                  <span>20</span>
                </a>
              </div>
              <a class="btn btn-primary btn-outline card-link" href="javascript:void(0)">Read More</a>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-item timeline-reverse">
        <div class="timeline-dot bg-orange-600" data-placement="left" data-toggle="tooltip" data-trigger="hover" data-original-title="1 Month ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-header cover">
              <div class="cover-background padding-30" style="background-image: url('{{image 'focus-1.jpg' width='960' height='640'}}')">
                <blockquote class="blockquote cover-quote white card-blockquote">Debilitati fugienda partitio esse debemus, erat segnitiae quaerimus iudicia aspernatur vis, perfunctio quae ludus commodius habemus inflammat. Distinguantur vera a tollatur desiderent. </blockquote>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-item timeline-reverse">
        <div class="timeline-dot bg-cyan-600" data-placement="left" data-toggle="tooltip" data-trigger="hover" data-original-title="1 Month ago"></div>
        <div class="timeline-content">
          <div class="card card-shadow">
            <div class="card-header cover player" data-plugin="plyr">
              <video poster="{{assets_url 'examples/images/poster.jpg'}}" controls crossorigin>
                <!-- Video Files -->
                <source type="video/mp4" src="https://cdn.selz.com/plyr/1.0/movie.mp4">
                <source type="video/webm" src="https://cdn.selz.com/plyr/1.0/movie.webm">

                <!-- Text Track File -->
                <track kind="captions" label="English" srclang="en" src="//cdn.selz.com/plyr/1.0/en.vtt" default>

                <!-- Fallback For Browsers That Don'T Support The <Video> Element -->
                <a href="https://cdn.selz.com/plyr/1.0/movie.mp4">Download</a>
              </video>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- End Timeline -->
  </div>
</div>
<!-- End Page -->
