.campo-enviar-mensagem form {
 position: relative;
}

.campo-enviar-mensagem .ql-toolbar.ql-snow {
 -webkit-border-bottom-right-radius: 5px;
 -webkit-border-bottom-left-radius: 5px;
 -moz-border-radius-bottomright: 5px;
 -moz-border-radius-bottomleft: 5px;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 position: absolute;
 width: 100%;
 top: 109px;
 background: #fff;
}

.campo-enviar-mensagem #editor {
 -webkit-border-top-left-radius: 5px;
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -moz-border-radius-topright: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 margin-bottom: 40px;
 border: 1px solid #ccc;
 background: #fff;
}

.briefing-written-by {
    position: absolute !important;
    right: 25%;
    width: 170px;
    white-space: nowrap;
    position: relative;
    margin-top: 20px;
}

.text-briefing img {
 max-width: 100%;
 height: auto;
}

.header-janela figure>profile-image {
 position: relative;
}

.dropdown-cria-projeto input {
 border-radius: 5px;
 line-height: 10px;
 padding: 1px 8px;
 outline: none;
 background: 0;
 border: solid 1px;
 font-size: 92%;
 font-weight: lighter;
 width: 100%;
}

.dropdown-cria-projeto {
 max-width: 100% !important;
}

.selecionar-projeto-briefing .nome-do-projeto:before {
 margin-bottom: 4px;
}

.selecionar-projeto-briefing li {
 padding: 7px 15px !important;
}

.selecionar-projeto-briefing li:first {
 padding: 5px;
}

.selecionar-projeto-briefing {
 max-height: 500px;
 overflow-y: auto;
 -webkit-box-shadow: 1px 2px 15px lightgray;
         box-shadow: 1px 2px 15px lightgray;
 padding: 5px 0;
 margin: 0.6rem .9375rem;
}

.select-projeto-briefing a {
 line-height: 15px
}

.vertical-line {
 height: 22%;
 border: 0;
 border-left: 1px solid;
 display: block;
 float: left;
 font-size: 12px;
 text-align: right;
 padding: 13px 0;
 margin-right: 18px;
 line-height: 13px;
}

.janela-profissional-briefing {
 /* padding: 5px 35px;*/
}

.janela-profissional-projeto .anexo-briefing {
 margin-top: 38px;
 margin-bottom: 54px;
 float: left;
}

.janela-profissional-projeto .header-margem,
.janela-profissional-projeto .logo-empresa-briefing {
 vertical-align: top;
 margin-left: 70px;
 display: inline-block;
 float: left;
 height: 80px;
 position: relative;
}

.janela-profissional-projeto .enviar-mensagem-briefing {
     background: #FBFCFC;
     padding-bottom: 30px;
     position: relative;
     float: left;
     width: 100%;
     padding-left: 70px;
     padding-top: 30px;
}

.janela-profissional-projeto .header-janela figure {
    float: left;
    position: relative;
    height: 50px;
    margin-top: 16px;
    margin-right: 27px;
    width: 33%;
}

.janela-profissional-projeto {
 padding-top: 66px !important;
 width: 100%;
 max-width: 809px;
 background: #fff;
 min-height: 100%;
 top: 0;
 right: 0;
 -webkit-box-shadow: -2px 1px 11px #d9d9d9;
         box-shadow: -2px 1px 11px #d9d9d9;
 float: right;
 padding-bottom: 45px;
 position: relative;
 height: auto;
}

.janela-profissional-projeto .header-janela {
 border-bottom: #E5E6E6 1px solid;
 float: left;
 width: 100%;
 padding-top: 23px 0;
 position: relative;
}

.janela-profissional-projeto .desc-briefing1 {
 padding: 35px 0 35px 70px;
 width: 100%;
 background: #FBFCFC;
 border-bottom: #ECECEC solid 1px;
 float: left;
}

.janela-profissional-projeto .desc-briefing2 {
 padding-left: 70px;
 padding-right: 60px;
 float: left;
 width: 100%;
 border-bottom: 1px solid #ECECEC;
 padding-bottom: 20px;
}

.janela-profissional-projeto .row,
.janela-profissional-briefing .row {
 margin: 0 !important
}

.janela-profissional-projeto .logo-empresa-briefing img,
.janela-profissional-briefing .logo-empresa-briefing img {
 max-height: 40px;
 max-width: 100%;
 width: auto;
 height: auto;
 position: static;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0;
}

.janela-profissional-projeto .logo-empresa-briefing,
.janela-profissional-briefing .logo-empresa-briefing {
 vertical-align: top;
 margin-left: 0;
 display: inline-block;
 float: right;
 height: auto;
 position: relative;
}

.janela-profissional-projeto .nome-do-projeto,
.janela-profissional-briefing .nome-do-projeto {
 color: #77909B;
 font-size: 13px;
 margin-top: 0;
 display: inline;
 width: 100%;
 margin-left: 5%;
 vertical-align: super;
}

.janela-profissional-projeto .logo-empresa-briefing,
.janela-profissional-briefing .logo-empresa-briefing {
    margin-top:20px;
    text-align:center;
    border-radius:5px
}
.logo-empresa-briefing img{
    border-radius:5px;

}
.logo-empresa-briefing span{
    position:absolute;
    right:120%;
    font-weight:800;
    height:100%;
    top:0px;
}

.nome-profissional, .cargo-profissional {
    float: unset;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.nome-profissional{
   color: #334750;
   font-weight:bold;
   font-size:16px;
   /*margin-left: 15px;*/
}
.titulo-tarefa-campo {
    width:80%;
    height:auto;
    float:left;
    position: relative;
}
.titulo-tarefa-campo div{
    background:transparent;
    border:none;
    width:100%;    
    float:left;
    height:auto;
    color:#334750;
    font-weight:800;
    font-size:18px;
    padding: 5px 10px;
    padding-right: 20px;
    border-radius: 5px;z-index: 2;
    position: relative;
}
.titulo-tarefa-campo div[contenteditable="true"]:focus {
   -webkit-box-shadow:none;
           box-shadow:none;
   outline:none;
   background:#f4f4f4;
}

.btn-edit-title-briefing,
.btn-edit-pv-briefing {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    color: #AFAFAF;
    border-bottom: 1px solid;
    z-index: 1;
}

.btn-edit-title-briefing {
    left: -15px;
}

.label-pagto-prazo {
    float:left;
    width:150px;
    margin:0 5px;
    text-align:center;
    font-weight: 800;
    position: relative;

}

.label-pagto-prazo input {
    border-radius:150px;
    border:none;
    margin-top:10px;
        height: 30px;
        padding-right: 12px;
    text-align: center;
}
.btn-edit-pv-briefing{
    top: inherit;
    bottom: 5px;
    right: 12px;
}
.bg-grey-pagto-prazo{
    background: #F7F8FA;
    margin-top:15px;
    width: 100%;
    padding-left: 70px;
    float: left;
    padding: 25px 0 25px 70px;
}
button.btn.btn-sm.btn-primary.bt-contratar.ng-scope {
    margin: 10px;
    position: relative;
    left: 58px;
    clear: right;
    display: inline-block;
    min-width: 260px;
    margin-bottom: 0;
}
label.label-input-in {
    background:#fff;
    display:inline-block;
    border:1px solid #ccc;
    padding:5px 10px;
    font-weight:bold;
    color:#999;
    border-radius:5px;
    min-width: 253px;
}
label.label-input-in input {
    border:none;
    color:#000;
    width:83px;
    background: transparent;
}
label.label-input-in-disable{
	background: #ededed;

}
label.separador-label {
    color: #999;
    font-weight: 800;
    padding: 0 14px;
}
@media (max-width:755px) {
	label.label-input-in {
		min-width: 220px;
	}
	label.label-input-in input {
		width: 56px;
	}
}
@media (max-width:755px) {
		label.label-input-in {
		min-width: 100%;
	}
	label.label-input-in input {
		width: 96px;
	}
}