﻿
@{
    Layout = null;
    var role = HttpContext.Current.Request.Cookies["role"];

    var photo = HttpContext.Current.Request.Cookies["img_user"];
}
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    
                    @if (role.Value.Equals("MASTER"))
                    {
                        <li class="site-menu-item" data-name="User">
                            <a href="@Url.Action("Index", "Customer")">
                                <i class="icon fa-user" aria-hidden="true"></i>&nbsp;
                                <span class="site-menu-title hideInMobile">Clientes</span>
                            </a>
                        </li>
                        <li class="site-menu-item" data-name="Profissionais">
                            <a href="@Url.Action("Index", "Profissional")">
                                <i class="icon fa-users" aria-hidden="true"></i>&nbsp;
                                <span class="site-menu-title hideInMobile">Profissionais</span>
                            </a>
                        </li>
                    }
                    else if (role.Value.Equals("GERENTE"))
                    {
                        <li class="site-menu-item" data-name="User">
                            <a href="@Url.Action("Index", "User")">
                                <i class="icon fa-user" aria-hidden="true"></i>&nbsp;
                                <span class="site-menu-title hideInMobile">Usuários</span>
                            </a>
                        </li>

                        <li class="site-menu-item" data-name="Profissionais">
                            <a href="@Url.Action("Index", "Profissional")">
                                <i class="icon fa-users" aria-hidden="true"></i>&nbsp;
                                <span class="site-menu-title hideInMobile">Profissionais</span>
                            </a>
                        </li>
                    }
                    else if (role.Value.Equals("ADMIN"))
                    {
                        <li class="site-menu-item" data-name="Profissionais">
                            <a href="@Url.Action("Index", "Profissional")">
                                <i class="icon fa-users" aria-hidden="true"></i>&nbsp;
                                <span class="site-menu-title hideInMobile">Profissionais</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="site-menu-item" data-name="Perfil">
                            <a href="javascript: $('#meuPerfil').click();void(0);" role="menuitem" class="open-slide">
                            <i class="icon fa-user" aria-hidden="true"></i>&nbsp;
                            <span class="hideInMobile">&nbsp;Meu Perfil</span></a>
                        </li>
                    }
                    <li class="site-menu-item" data-name="Briefings">
                        <a href="@Url.Action("Briefing","Project")">
                            <i class="icon fa-paper-plane" aria-hidden="true"></i>&nbsp;
                            <span class="site-menu-title hideInMobile">Briefings&nbsp;</span>
                            @if (ViewBag.CountBriefing > 0)
                            {
                                <span class="badge badge-primary">@ViewBag.CountBriefing</span>
                            }
                        </a> 
                    </li>
                </ul>
            </div>

            <div class="col-md-12 col-xs-12 sidebar-profile">
                <div class="col-md-6  col-xs-12  col-sm-12" data-url="@Url.Action("Edit","User")">
                    <a class="open-slide" href="#">
                        <span class="avatar avatar-online">
                            <img src="@(photo != null && !String.IsNullOrEmpty(photo.Value) ? Url.Content("~/"+photo.Value) : @Url.Content("~/Content/images/default-user-image.png"))" style="min-width: 30px;max-width: 30px;height: 30px;max-height: 30px;" />
                            <i></i>
                        </span>
                    </a>

                    <p data-url="@Url.Action("Edit","User")">
                        <a href="#" role="menuitem" class="open-slide" id="meuPerfil">Meu Perfil</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 sidebar-profile-logout">
                    <a href="@Url.Action("Logout", "Login")" title="Log out" style="text-decoration:underline;">Log out</a>
                </div>
            </div>

            
            

            
        </div>


       

        
    </div>
</div>
