#clientes-usuarios{}

#clientes-usuarios .form-add-new-user { padding: 0px 15px;}
#clientes-usuarios .form-add-new-user h2 { font-weight: 300;font-size: 18px;}
#clientes-usuarios .form-add-new-user div{ padding: 0px;}
#clientes-usuarios .form-add-new-user div input{background: #F7F7F7; border-radius:0px; border-right-width: 0px;}
#clientes-usuarios .form-add-new-user div input.radius-left{-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#clientes-usuarios .form-add-new-user div input.radius-right{-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#clientes-usuarios .form-add-new-user div input.border-right{border-right-width: 1px;}
#clientes-usuarios .form-add-new-user div.form-enviar{padding-left: 20px;}
#clientes-usuarios .form-add-new-user div.form-enviar button{ max-width: 35px; float: right;padding-left: 7px;    padding-right: 7px;}
#clientes-usuarios .form-add-new-user div.usuarios-cadastrados{color: #77909B;padding-top: 10px; text-align: right;}

#clientes-usuarios .lista-usuarios{color:#77909B; position: relative; padding: 20px 15px; float: left; width: 100%;}
#clientes-usuarios .lista-usuarios hr{border-top:1px solid #f5f5f5;height: 0px; float: left; width: 100%;margin: 0px;position: absolute;bottom: 0px;}

#clientes-usuarios .lista-usuarios > div{height: 32px;}
#clientes-usuarios .lista-usuarios > div span{padding-top: 6px;display: inline-block; font-size: 13px;}
#clientes-usuarios .lista-usuarios > div.status-usuario span{padding-top: 0px;}
#clientes-usuarios .lista-usuarios figure {margin: 0px;}
#clientes-usuarios .lista-usuarios figure img{position: absolute; width: 32px; left: 0; height: 32px;}
#clientes-usuarios .lista-usuarios figure legend{ padding-left: 30px; font-weight: 300; font-size: 14px; color: #55595A;padding-top: 5px;margin: 0px;}
#clientes-usuarios .status-usuario{text-align: right; padding-right: 0px;}
@media (max-width: 730px)  {
  #clientes-usuarios .lista-usuarios div{width: 50%;  }
  #clientes-usuarios .lista-usuarios .cargo-usuario{padding-left: 40px;}
  #clientes-usuarios .form-add-new-user div.form-enviar{padding-left: 0px;}
  #clientes-usuarios .form-add-new-user div.form-enviar button{float: left;}
  #clientes-usuarios .page-content{ padding: 30px 15px;}
}
@media (max-width: 480px)  {
  #clientes-usuarios .form-add-new-user div input.radius-left_m{-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
  #clientes-usuarios .form-add-new-user div input.radius-right_m{-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
  #clientes-usuarios .form-add-new-user div input.border-right_m{border-right-width: 1px;}
  #clientes-usuarios .form-add-new-user div.usuarios-cadastrados{padding-top: 0px;}
  #clientes-usuarios .form-add-new-user div.form-enviar{margin-bottom: 0px;}
  #clientes-usuarios .form-add-new-user div.usuarios-cadastrados p{margin-top: -35px;float: right;}
}
@media (max-width: 380px)  {
  #clientes-usuarios .lista-usuarios div{width: 100%;}
  #clientes-usuarios .lista-usuarios .email-usuario{padding-left: 40px;}
  #clientes-usuarios .lista-usuarios .cargo-usuario, #clientes-usuarios .lista-usuarios .status-usuario{width: 50%;}
    
  }


  /* Modal Block Add User */
  .modal-text-center{
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .btn-largue-round{
    background-color: #00D0A3;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 29px;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 31px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    font-family: "Open Sans";
    letter-spacing: 1px;
}
.btn-largue-round:hover{
    color: #fff;
    text-decoration: none !important;
    background-color: #05a582;
}
