/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.info-panel .btn-floating {
  -webkit-box-shadow: none;
          box-shadow: none; }

.info-panel .content-text {
  white-space: nowrap; }
  .info-panel .content-text > i {
    top: -10px; }

#ecommerceChartView .chart-menu button {
  border: 0; }

#ecommerceChartView .chart-action {
  float: right; }

#ecommerceChartView .ct-grid {
  stroke-dasharray: 10 5; }

#ecommerceChartView .ct-line {
  stroke-width: 4px; }

#ecommerceChartView .ct-point,
#ecommerceChartView .ct-point-content {
  opacity: 0;
  cursor: pointer;
  tansition: all .3s; }

#ecommerceChartView .ct-point-content {
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  pointer-events: none; }

#ecommerceChartView .ct-series:hover .ct-point {
  opacity: 0.8; }

#ecommerceChartView .ct-series:hover .ct-point-content {
  opacity: 1; }

#ecommerceChartView .ct-series-a .ct-area {
  fill: #fce4ec;
  fill-opacity: 0.2; }

#ecommerceChartView .ct-series-a .ct-line,
#ecommerceChartView .ct-series-a .ct-point {
  stroke: #e53b75; }

#ecommerceChartView .ct-series-a .ct-line {
  stroke-opacity: 0.5; }

#ecommerceChartView .ct-series-b .ct-line,
#ecommerceChartView .ct-series-b .ct-point {
  stroke: #6d45bc; }

#ecommerceChartView .ct-series-b .ct-line {
  stroke-opacity: 0.5; }

#ecommerceChartView .ct-series-b .ct-area {
  fill: #f6f2ff;
  fill-opacity: 0.2; }

#ecommerceRecentOrder .table-menu button {
  border: 0; }

#ecommerceRecentOrder .table-row .card-block {
  border: 0;
  padding: 0 20px; }
  #ecommerceRecentOrder .table-row .card-block .table {
    margin-bottom: 0; }
    #ecommerceRecentOrder .table-row .card-block .table th {
      white-space: nowrap; }
    #ecommerceRecentOrder .table-row .card-block .table td {
      vertical-align: middle;
      height: 100px;
      font-size: 14px;
      padding: 20px 8px; }
      #ecommerceRecentOrder .table-row .card-block .table td span {
        border-radius: 4px;
        padding: 5px 15px; }

#ecommerceRevenue .card-block {
  padding: 20px 10px 35px; }
  #ecommerceRevenue .card-block .ct-label.ct-horizontal.ct-end {
    font-size: 14px;
    font-weight: 400; }
  #ecommerceRevenue .card-block .ct-series-a line.ct-bar {
    stroke: #926dde; }
  #ecommerceRevenue .card-block .ct-series-b line.ct-bar {
    stroke: #57c7d4; }

#ecommerceRevenue .ct-series .ct-bar-fill {
  stroke: #f3f7f9;
  stroke-width: 20px; }

#ecommerceRevenue .pie-view {
  margin-top: 52px; }
  #ecommerceRevenue .pie-view::after {
    content: "";
    display: table;
    clear: both; }
  #ecommerceRevenue .pie-view .pie-left .pie-progress.pie-progress-sm,
  #ecommerceRevenue .pie-view .pie-right .pie-progress.pie-progress-sm {
    min-width: 120px;
    max-width: 120px; }
  #ecommerceRevenue .pie-view .pie-left h5,
  #ecommerceRevenue .pie-view .pie-right h5 {
    white-space: nowrap; }
    #ecommerceRevenue .pie-view .pie-left h5 + p,
    #ecommerceRevenue .pie-view .pie-right h5 + p {
      margin-bottom: 15px; }

@media (max-width: 991px) {
  .pie-view .pie-progress.pie-progress-sm {
    max-width: 200px !important;
    min-width: 50px !important; } }

@media (min-width: 992px) and (max-width: 1330px) {
  .pie-view .pie-progress.pie-progress-sm {
    min-width: 100px !important;
    max-width: 100px !important; }
  #ecommerceRevenue .pie-view {
    margin-top: 72px; } }

@media (min-width: 1489px) {
  #ecommerceRevenue .barChart .ct-series .ct-bar {
    stroke-width: 20px; } }

@media (min-width: 992px) and (max-width: 1489px) {
  #ecommerceRevenue .barChart .ct-series .ct-bar-fill {
    stroke-width: 15px; }
  #ecommerceRevenue .barChart .ct-series .ct-bar {
    stroke-width: 15px; }
  #ecommerceRevenue .ct-series-a {
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
         -o-transform: translateX(3px);
            transform: translateX(3px); }
  #ecommerceRevenue .ct-series-b {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
         -o-transform: translateX(-3px);
            transform: translateX(-3px); } }

@media (min-width: 429px) and (max-width: 992px) {
  #ecommerceRevenue .barChart .ct-series .ct-bar {
    stroke-width: 20px; } }

@media (max-width: 429px) {
  #ecommerceRevenue .barChart .ct-series .ct-bar-fill {
    stroke-width: 15px; }
  #ecommerceRevenue .barChart .ct-series .ct-bar {
    stroke-width: 15px; }
  #ecommerceRevenue .ct-series-a {
    -webkit-transform: translateX(3px);
        -ms-transform: translateX(3px);
         -o-transform: translateX(3px);
            transform: translateX(3px); }
  #ecommerceRevenue .ct-series-b {
    -webkit-transform: translateX(-3px);
        -ms-transform: translateX(-3px);
         -o-transform: translateX(-3px);
            transform: translateX(-3px); } }

@media (max-width: 570px) {
  #ecommerceChartView .chart-action {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    float: none;
    margin: 10px 0; }
  #ecommerceChartView .card-block {
    overflow-x: scroll; } }

@media screen and (max-width: 380px) {
  #ecommerceChartView .nav-pills .nav-link {
    padding: 2px 8px;
    margin-right: 3px;
    margin-left: 3px; } }
