/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.card-completed-options .pie-progress
{
    min-width: 120px;
    max-width: 120px;
    margin: 10px 0;
}

#teamCompletedWidget .counter-label
{
    font-size: 26px;

    color: #37474f;
}

#teamCompletedWidget .counter-number-group span:first-child
{
    font-size: 48px; 

    color: #f96868;
}

#teamCompletedWidget .counter-number-group span:last-child
{
    font-size: 30px;

    margin-left: 30px;

    color: #37474f;
}

#teamCompletedWidget .list-inline
{
    float: right;

    margin-top: 74px;
    margin-bottom: 20px;
}
#teamCompletedWidget .list-inline li
{
    padding: 0;
}
#teamCompletedWidget .list-inline li:first-child,
#teamCompletedWidget .list-inline li:last-child
{
    position: relative;
}
#teamCompletedWidget .list-inline li:first-child::before,
#teamCompletedWidget .list-inline li:last-child::before
{
    position: absolute;
    bottom: 5px;
    left: -22px;

    display: inline-block;

    width: 10px;
    height: 10px; 

    content: '';
}
#teamCompletedWidget .list-inline li:first-child
{
    margin-right: 60px;

    color: #a3afb7;
}
#teamCompletedWidget .list-inline li:first-child::before
{
    background-color: #57c7d4;
}
#teamCompletedWidget .list-inline li:last-child
{
    color: #526069;
}
#teamCompletedWidget .list-inline li:last-child::before
{
    background-color: #a58add;
}

#teamCompletedWidget .card-block
{
    min-width: 480px;
}

#teamCompletedWidget .ct-grids .ct-vertical
{
    stroke-dasharray: 6;
}

#teamCompletedWidget .ct-grids .ct-horizontal
{
    stroke: none;
}

#teamCompletedWidget .ct-grids .ct-point-label
{
    stroke: #fff;
    stroke-width: 60px;
}

#teamCompletedWidget .ct-labels .ct-horizontal
{
    font-size: 14px;

    display: block;

    margin-left: -28px;
    padding-top: 10px;

    color: #76838f;
}

#teamCompletedWidget .ct-labels .ct-vertical
{
    margin-top: 5px;
}

#teamCompletedWidget .ct-area
{
    fill-opacity: .8;
}

#teamCompletedWidget .ct-series .ct-point,
#teamCompletedWidget .ct-series .ct-point-content
{
    -webkit-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s; 

    opacity: 0;
}

#teamCompletedWidget .ct-series:hover .ct-point,
#teamCompletedWidget .ct-series:hover .ct-point-content
{
    opacity: 1;
}

#teamCompletedWidget .ct-series.ct-series-a .ct-area
{
    fill: #a58add;
}

#teamCompletedWidget .ct-series.ct-series-a .ct-line
{
    stroke: #a58add;
    stroke-width: 1px;
}

#teamCompletedWidget .ct-series.ct-series-a .ct-point
{
    cursor: pointer; 

    stroke: #926dde;
    stroke-width: 12px;
}

#teamCompletedWidget .ct-series.ct-series-a .ct-point-content
{
    pointer-events: none; 

    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
}

#teamCompletedWidget .ct-series.ct-series-b .ct-area
{
    fill: #77d6e1;
}

#teamCompletedWidget .ct-series.ct-series-b .ct-line
{
    stroke: #77d6e1;
    stroke-width: 1px;
}

#teamCompletedWidget .ct-series.ct-series-b .ct-point
{
    cursor: pointer; 

    stroke: #57c7d4;
    stroke-width: 12px;
}

#teamCompletedWidget .ct-series.ct-series-b .ct-point-content
{
    pointer-events: none; 

    stroke: #fff;
    stroke-width: 6px;
    stroke-linecap: round;
}

#personalCompletedWidget
{
    height: -webkit-calc(100% - 30px);
    height:         calc(100% - 30px);
}
#personalCompletedWidget .card-header
{
    position: relative;

    display: inline-block;

    width: 100%;
    height: 270px;

    text-align: center;
}
#personalCompletedWidget .card-header img
{
    height: 100%;
}
#personalCompletedWidget .card-header .avatar
{
    width: 120px;
}
#personalCompletedWidget .overlay-background
{
    background: rgba(109, 69, 188, .8);
}
#personalCompletedWidget .card-block
{
    padding: 48px 30px 0;
}
#personalCompletedWidget .counter-number
{
    font-size: 40px; 

    margin-top: 10px;
}
#personalCompletedWidget .table-responsive
{
    margin-bottom: 0; 

    border: none;
}
#personalCompletedWidget caption
{
    font-weight: 400; 

    padding-top: 0;
    padding-bottom: 10px;

    color: #37474f;
}
#personalCompletedWidget .table
{
    min-width: 350px;
    margin-bottom: 0;
}
#personalCompletedWidget .table td
{
    width: 40%; 
    padding: 20px 0 19px;
}
#personalCompletedWidget .table td:last-child
{
    width: 20%;

    text-align: right;
}
#personalCompletedWidget .progress
{
    display: inline-block;

    width: 100%;

    vertical-align: middle;
}

#toDoListWidget
{
    height: -webkit-calc(100% - 30px);
    height:         calc(100% - 30px);
}
#toDoListWidget img
{
    width: 30px;
}
#toDoListWidget .card-header
{
    line-height: 1; 

    padding: 30px;
}
#toDoListWidget .card-header::after
{
    display: table;
    clear: both; 

    content: '';
}
#toDoListWidget .card-header a
{
    line-height: 1; 

    margin-top: 12px;
    margin-right: 14px;
}
#toDoListWidget .card-title
{
    font-weight: 300;

    margin-top: 12px;
    margin-bottom: 21px;

    color: #37474f;
}
#toDoListWidget .wb-plus
{
    color: #76838f;
}
#toDoListWidget .list-group
{
    margin: 0 30px;
}
#toDoListWidget .list-group-item
{
    margin-bottom: 0;
    padding: 20px 0;

    cursor: pointer; 

    border: none;
    border-top: 1px solid #e5e5e5;
}
#toDoListWidget .list-group-item::after
{
    display: table;
    clear: both; 

    content: '';
}
#toDoListWidget .list-group-item .checkbox-custom
{
    margin: 0;
}
#toDoListWidget .list-group-item .checkbox-custom label
{
    padding-bottom: 2px; 
    padding-left: 20px;
}
#toDoListWidget .list-group-item .checkbox-custom input:checked + label
{
    text-decoration: line-through;
}
#toDoListWidget .item-due-date
{
    float: left;
}
#toDoListWidget .item-due-date span
{
    line-height: 34px;

    margin-left: 44px;
}
#toDoListWidget .item-members
{
    float: right;

    margin-top: 4px;
    padding: 0;

    list-style-type: none; 

    text-align: right;
    white-space: normal;
}
#toDoListWidget .item-members::after
{
    display: table;
    clear: both; 

    content: '';
}
#toDoListWidget .item-members li
{
    position: relative;

    float: left;

    margin-left: 10px;
}
#toDoListWidget .item-members li:not(:hover) .avatar + button
{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
#toDoListWidget .item-members li:hover .avatar
{
    display: none;
}
#toDoListWidget .item-members li:hover button
{
    opacity: 1;
}
#toDoListWidget .item-members li button
{
    width: 30px;
    height: 30px;
    padding: 7px;
}

#recentActivityWidget
{
    height: -webkit-calc(100% - 30px);
    height:         calc(100% - 30px);
}
#recentActivityWidget .card-header
{
    padding: 30px 30px 10px;
}
#recentActivityWidget .card-header::after
{
    display: table;
    clear: both; 

    content: '';
}
#recentActivityWidget .card-header .tag
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    padding: 3px 21px;

    cursor: pointer; 

    color: #76838f;
}
#recentActivityWidget .card-title
{
    font-weight: 300;
    line-height: 32px;

    display: inline;

    margin-bottom: 0;

    color: #37474f;
}
#recentActivityWidget .timeline
{
    margin-right: 30px;
    margin-bottom: 0; 
    margin-left: 50px;
}
#recentActivityWidget .timeline::before
{
    top: 20px;
    left: 0;

    width: 1px;
    height: 85%;
    margin-left: 0;

    background-color: #e5e5e5;
}
#recentActivityWidget .timeline > li
{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 49px;

    cursor: pointer;
}
#recentActivityWidget .timeline > li:last-child .timeline-content-wrap
{
    border-bottom: none;
}
#recentActivityWidget .timeline-content-wrap
{
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}
#recentActivityWidget .timeline-content-wrap::after
{
    display: table;
    clear: both; 

    content: '';
}
#recentActivityWidget .timeline-icon .timeline-reverse .timeline-dot
{
    top: 12px;
}
#recentActivityWidget .timeline-content .title
{
    color: #76838f;
}
#recentActivityWidget .timeline-content .title .authors,
#recentActivityWidget .timeline-content .title .room-number
{
    font-weight: 400;

    margin-right: 5px;

    color: #37474f;
}
#recentActivityWidget .timeline-content .metas
{
    padding: 3px 0;

    color: #a3afb7;
}
#recentActivityWidget .timeline-content .members
{
    margin-top: 7px;
    padding-left: 0;

    list-style-type: none;
}
#recentActivityWidget .timeline-content .members > li
{
    display: inline-block;

    margin-right: 10px;
}
#recentActivityWidget .timeline-content .members .avatar-sm
{
    width: 27px;
}
#recentActivityWidget .timeline-content .photos
{
    margin-top: 7px;
    padding-left: 0;

    list-style-type: none;
}
#recentActivityWidget .timeline-content .photos::after
{
    display: table;
    clear: both; 

    content: '';
}
#recentActivityWidget .timeline-content .photos > li
{
    float: left;

    width: 31%;
    margin-right: 3%;
}
#recentActivityWidget .timeline-content .photos > li:last-child
{
    margin-right: 0;
}
#recentActivityWidget .timeline-content .operates
{
    margin-top: 7px;
    padding-left: 0;

    list-style-type: none;
}
#recentActivityWidget .timeline-content .operates > li
{
    display: inline-block;

    margin-right: 30px;
}
#recentActivityWidget .timeline-content .operates .btn
{
    line-height: 16px;

    width: 103px;
    height: 30px;

    color: #76838f;
}
#recentActivityWidget .timeline-content .operates .btn:hover
{
    color: #fff;
}

@media screen and (min-width: 992px) and (max-width: 1599px)
{
    .card-completed-options .pie-progress
    {
        min-width: 100px;
    }
}

@media (max-width: 991px)
{
    #teamCompletedWidget .list-inline
    {
        float: left;

        margin-top: 20px;
        margin-left: 40px;
    }
}

@media (min-width: 480px) and (max-width: 991px)
{
    .card-completed-options
    {
        height: -webkit-calc(100% - 30px);
        height:         calc(100% - 30px);
    }
    .card-completed-options .pie-progress
    {
        min-width: 50px;
    }
    .card-completed-options .col-xs-6
    {
        width: 100%;
    }
    .card-completed-options .counter::after
    {
        display: table;
        clear: both; 

        content: '';
    }
    .card-completed-options .counter-label
    {
        display: inline-block;
    }
    .card-completed-options .counter-number
    {
        font-size: 14px !important;
        font-weight: 400; 

        float: left;

        margin-right: 20px;
    }
    .card-completed-options .pie-progress
    {
        margin: 20px auto 10px;
    }
}

@media (min-width: 480px) and (max-width: 767px)
{
    .col-xs-12
    {
        width: 33.3333%;
    }
}

@media (max-width: 479px)
{
    .card-completed-options .pie-progress
    {
        min-width: 100px;
    }
    #recentActivityWidget .timeline-content .operates > li
    {
        display: block;

        margin-top: 10px;
        margin-right: 0;
        padding-bottom: 1px;
    }
    #recentActivityWidget .timeline-content .operates .btn
    {
        line-height: 11px;

        width: 85px; 
        height: 25px;
    }
}

@media screen and (max-width: 400px)
{
    #personalCompletedWidget .total-completed
    {
        font-size: 10px;
        line-height: 22px;
    }
    #personalCompletedWidget .card-block
    {
        padding: 30px 15px 0;
    }
}
