/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.fixed-table-body {
  height: 100%;
  overflow: auto; }

#daily-feed .name {
  font-weight: 500;
  color: #526069;
  cursor: pointer;
  text-decoration: none; }

#daily-feed .content {
  margin-top: 10px;
  margin-bottom: 0; }

#tickets .hightlight {
  color: #526069;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none; }

#projects .table > tbody > tr > td, #projects .table > thead > tr > th {
  vertical-align: middle; }
